[2020-07-29 23:15] fujimotos commented on #2390
@barney-s You need to install bison and flex before compilation.
Download the latest release from:

https://github.com/lexxmark/winflexbison/releases

You need to ensure that `bison.exe` and `flex.exe` are on your PATH.

    PS> Expand-Archive /local/win_flex_bison.zip -Destination /WinFlexBison; `
    PS> Copy-Item -Path /WinFlexBison/win_bison.exe /WinFlexBison/bison.exe; `
    PS> Copy-Item -Pa

[2020-07-29 23:21] fujimotos commented on #2390
Also you'll need to update cmake to 3.13 or later.

https://cmake.org/cmake/help/git-stage/command/target_link_options.html

`target_link_options` is available after 3.1.3 and you seem to use 3.10.

[2020-07-29 23:25] barney-s commented on #2390
Thanks you for the response.
Do we need all of these ?
[code]

[2020-07-29 23:28] fujimotos commented on #2390
No. You'll only need to install FLEX/BISON and update cmake.

FLEX/BISON are used by Fluent Bit's core feature (stream processor
and record accessor), so they are somewhat special requirements.

[2020-07-30 00:22] edsiper commented on #2365
@JeffLuoo I am still not able to reproduce it (even using the script) :/ .

can you try to identify the root cause of this message:

[code]

the line should be this:

https://github.com/fluent/fluent-bit/blob/master/src/flb_scheduler.c#L48

can you trace-back the condition that generate that ?

[2020-07-30 03:05] andrew-lozoya commented on #2087
Any update on this issue @pragadeeshraju @fujimotos I am getting the same with v1.5.1

[2020-07-30 04:34] LionelCons commented on #2403
Yes, it is my own compiled version.

It happened once more this morning with the exact same trace.

[2020-07-30 04:44] fujimotos commented on #2087
@andrew-lozoya Can you post your log file here? I added some logging
in v1.5.0 regarding this issue 8750159.

I think I can investigate further if you can provide the information.

[2020-07-30 09:55] alexeykaplin opened #2404 "Segmentation fault in stackdriver_format"
## Bug Report

Segmentation fault in **flb_sds_len** and **stackdriver_format**.

**Describe the bug**

[code]

**Your Environment**
* Version used: 1.5.2
* Configuration: Stackdriver as an output.
* Operating System and version: OSX / Linux

[2020-07-30 14:34] edsiper commented on #2403
when configuring please use the flag in CMake command ```-DFLB_DEV=on```, that one will enable debug symbols.

[2020-07-30 14:36] edsiper commented on #2404
@alexeykaplin would you please paste your configuration ?

Looking at the stacktrace it seems that a project_id is not set for some reason.

cc: @JeffLuoo @scgao

[2020-07-30 14:49] JeffLuoo commented on #2365
That's weird... I just recorded a screen video for the steps I did: https://drive.google.com/file/d/1Q39_ir63Q8Oa9bSoHAXQArSyppgiGvVv/view

This time I already put some data in the `file.txt` so I don't need to run the script.. Steps in the video:
1. Put some data in the file.txt
1. Turn off Wifi and run Fluent Bit
2. Wait ~10s and turn on wifi
The logs generated by Fluent Bit in the video is:
[co

[2020-07-30 15:36] scgao commented on #2404
@alexeykaplin Could you paste the configuration file and the input log? Thanks

[2020-07-30 15:44] edsiper commented on #2365
thanks @JeffLuoo , I was able to reproduce the issue, I was using the wrong branch.

troubleshooting.

[2020-07-30 15:45] alexeykaplin commented on #2404
Yes, exactly, the **project_id** is the killer.

It is possible to reproduce on a pretty configuration.

[code]

+ I have _SERVICE_ACCOUNT_EMAIL_ & _SERVICE_ACCOUNT_SECRET_ set in an environment.

[2020-07-30 15:49] scgao commented on #2404
What about the log files? Could you paste them?@alexeykaplin

[2020-07-30 15:52] alexeykaplin commented on #2404
I am using just an empty ubuntu docker container (reproducible without any external logs).

Build options are the following:
[code]

[2020-07-30 15:56] scgao commented on #2404
I think the error is generated when packing `project_id`. @JeffLuoo  Jeff can you take a look?

[2020-07-30 16:13] JeffLuoo commented on #2404
Hi @alexeykaplin  I am troubleshooting it.

[2020-07-30 16:58] jkh911208 opened #2405 "ElasticSearch output, Logstash_Prefix_Key doesn't work with container_name"
## Bug Report

**Describe the bug**
ElasticSearch output module doesn't work when "Logstash_Prefix_Key container_name"
this is happening because container name start with "/" but ElasticSearch doesn't allow index name to start with "/"
in order to get this fixed, fluentbit need to remove leading "/" in index name

**To Reproduce**
1. setup a fluentbit with output as ElasticSearch. in the conf file

[2020-07-30 18:11] JeffLuoo commented on #2404
Hi @edsiper TBH I never tried using `service_account_secret` field and always used the JSON credential file. I keep getting
[code]
 by putting the `private_key` field from server_account json credential to the `service_account_secret` field in stackdriver configuration. Do you have any idea on what format of private key should I put into the `service_account_secret` field?

[2020-07-30 18:15] alexeykaplin commented on #2404
Oh. It is undocumented magic. :)

`
declare -x SERVICE_ACCOUNT_EMAIL="xxxxxx@xxxxxxx.iam.gserviceaccount.com"
declare -x SERVICE_ACCOUNT_SECRET="-----BEGIN PRIVATE KEY-----
MIIEv.....
.............
...V7BE=
-----END PRIVATE KEY-----"
`

Yes, "RSA format", yes multiline. :)
Magic!

[2020-07-30 18:17] jkh911208 commented on #2405
ElasticSearch  index nameing rule

    Lowercase only
    Cannot include \, /, *, ?, ", <, >, |, space (the character, not the word), ,, #
    Indices prior to 7.0 could contain a colon (:), but that's been deprecated and won't be supported in 7.0+
    Cannot start with -, _, +
    Cannot be . or ..
    Cannot be longer than 255 characters

if someone can add code to remove above characters from e

[2020-07-30 18:29] JeffLuoo commented on #2404
@alexeykaplin Thank you! I never tried that before and happy to learn more new stuff! I don't have too much insight on whether we need to forbid the variable-based configuration or not.

cc: @StevenYCChou Hi Yen-Cheng, do you have any comment on should we forbid the variable-based configuration to authenticate agent to get access to the stackdriver service?

[2020-07-30 18:33] JeffLuoo commented on #2365
@edsiper Thank you!

[2020-07-30 21:40] stgarf commented on #1902
Same problem as described here as well and in all the linked issues. IMO this is a pretty huge bug.

[2020-07-30 21:41] paul-greidanus-hs commented on #632
I just submitted an issue against the packaging repo: https://github.com/fluent/fluent-bit-packaging/issues/13

[2020-07-30 22:54] barney-s commented on #1822
Iam struggling with the same. Would you share your experience please ?

[2020-07-30 23:01] barney-s commented on #2390
Installed flex/bison and newer version of cmake.
But now it fails looking for PKG_CONFIG_EXECUTABLE
[code]

I did install pkgconfig.
[code]

cmake was 3.18.0
Not sure what else to do.

[2020-07-31 01:48] edsiper commented on #2365
@JeffLuoo

I pushed a couple of improvements on branch issue-2365, would you please do an extensive test ? (including timeout checks ?)

[2020-07-31 02:49] bohrasd commented on #2378
@okossuth It worked for me.
Is there any logs metion that the fluent-bit use the preset parser configuration when the fluent-bit start?
Try change the name of your parser and see if it works

[2020-07-31 07:47] PettitWesley commented on #2387
@edsiper Another report which is the same: https://github.com/aws/aws-for-fluent-bit/issues/63

[2020-07-31 09:50] nicon89 commented on #1942
Same here, debug log shows:
`[2020/07/31 09:49:04] [debug] [output:es:es.0] HTTP Status=200 URI=/_bulk                                                                                                                                  [2020/07/31 09:49:04] [debug] [upstream] KA connection #43 to hostname.es.amazonaws.com:443 is now available
[2020/07/31 09:49:04] [debug] [retry] re-using retry for ta

[2020-07-31 10:20] ThomasEscobar opened #2407 "The time format in the syslog-rfc5424 parser is incorrect"
## Bug Report

**Bug description**

The time format provided in the parser (found here https://github.com/fluent/fluent-bit/blob/master/conf/parsers.conf) doesn't match the format described in the [RFC5424](https://tools.ietf.org/html/rfc5424#section-6.2.3). This causes an error when parsing the logs.

**To Reproduce**

The parser used :

[code]

Example of the time format as described in the [RFC

[2020-07-31 14:28] okossuth commented on #2378
@bohrasd I was able to make it work after i deleted the elasticsearch index completely. Just a question, i assume using Types offers better performance than using the lua script conversion? I plan to use fluentbit in a cluster that has a very CPU intensive service logging constantly to disk so it would be important not to burden the CPU more...

[2020-07-31 16:19] andrew-lozoya commented on #2087
@fujimotos

Sorry for the late response... I actually work at New Relic and I am working on getting our customers to standardize on Fluent-Bit for Windows Kubernetes deployments. Any help would be much appreciated.

Here is the container I built I am using the out of the box parsers.conf from the https://fluentbit.io/releases/1.5/td-agent-bit-1.5.1-win64.zip release.

https://hub.docker.com/layers

[2020-07-31 16:43] JeffLuoo commented on #2365
@edsiper
Thanks for the update! I did some testing and it worked for me now. I did not see any timeout issue when internet connection is back.

However, I noticed a thing that when the environment go offline and the total size of buffer chunks is greater than the original file size.
The input chunks buffered:
[code]
And the real file size the tail plugin is listening on:
[code]

[2020-07-31 17:05] JeffLuoo opened #2408 "[Proposal]: Fluent Bit Extended Buffering Options for Output Plugins"
## Objective
This proposal will show some configuration parameters we propose to add to the Fluent Bit storage layer for enhancing the offline buffering for logs.

## Background
Buffer & Storage is essential for log processing as it handles the backpressure and ensures the data integrity. This becomes more important especially for edge use cases (unreliable networking environment etc.).

Fluent Bi

[2020-07-31 17:09] JeffLuoo commented on #2408
Hi @edsiper Could you please review this proposal and provide some feedback?

[2020-07-31 17:12] edsiper commented on #2365
@JeffLuoo thanks for confirming the fix. I will move the fixes to git master and 1.5.

for the other chunks size, please open a new github issue.

[2020-07-31 17:14] JeffLuoo commented on #2365
Thanks. Will do it now.

On Fri, Jul 31, 2020 at 1:12 PM Eduardo Silva <notifications@github.com>
wrote:

[2020-07-31 17:27] JeffLuoo opened #2409 "[Storage]: Input buffer chunks created in filesystem have size greater than the size of files"
## Bug Report

**Describe the bug**

The input chunks buffered in local disk have size greater than the real file size.

**To Reproduce**
- Turn wifi off to have an offline environment
- Run Fluent Bit to listen on a file
- Run a log-generator to generate some logs into the file listened by the Fluent Bit
- Check the size of buffer chunks created in the disk and compare it with the size of the fil

[2020-07-31 18:31] JeffLuoo commented on #2377
Proposal was created #2408

[2020-07-31 20:28] JimHagan commented on #1244
We have this use case.  I'm an engineer at New Relic and we would like to be able to offer this option to our users who use fluentbit as a forwarder.

[2020-07-31 21:08] edsiper commented on #2409
I reviewed the code and I was able to reproduce the behavior.

On runtime, if a chunk is going to be flushed it's get a ```busy``` state, so it cannot longer receive more data, so it's read-only. But the chunk has not synced (sync means fully secure data and truncate chunk/file size if there is extra space on it). What is missing is two things:

- if a chunk get's the ```busy``` state, lock the ch

[2020-07-31 21:08] edsiper commented on #2409
Note that if Fluent Bit is stopped, the chunks get synced and size properly adjusted.

[2020-07-31 21:35] JeffLuoo commented on #2409
Hi @edsiper Thanks for the information. I now understand why did the chunks get truncated when Fluent Bit is stopped. Actually the logs I posted above for the size of input chunks are already truncated and the original chunks size during the runtime is bigger than that.

[2020-07-31 21:37] edsiper commented on #2409
at runtime if the chunk is bigger that's fine, but if is "busy" there is no reason to keep a bigger file, but at a price of a sync(2) and truncate(2)

[2020-07-31 21:44] JeffLuoo commented on #2409
Are those two missing parts going to be added or this is a trade-off as sync(2) and truncate(2) are expensive?

[2020-07-31 22:13] edsiper commented on #2409
it depends, in Linux we use [fallocate(2)](https://man7.org/linux/man-pages/man2/fallocate.2.html) which pre-allocate space but it don't hit I/O.

but syncing can be expensive depending of the mechanism used (normal / full)

[2020-07-31 23:26] strantalis commented on #1316
We are looking for a solution to handle cri-o multiline logs as well. Is there any way to do this now or is it still a missing feature?

[2020-07-31 23:40] edsiper commented on #2409
please re-test using GIT master

[2020-08-02 09:11] LionelCons commented on #2403
One more crash, this time with a bit more information:

[code]

[2020-08-02 09:36] gmesserman opened #2410 "[Proposal] - Template engine for data mapping between source data and what output plugin generates"
Development of generic output plugins, such as HTTP POST plugin or plugins to specific target systems, such as Splunk, AWS CloudWatch, etc. requires mapping capabilities from the input data structure to the structure of the target system.

FluentBit Streams API allows a simple mapping and data aggregation, however, more complex and conditional mappings require more robust mapping capabilities.

In

[2020-08-02 21:59] bluebike commented on #1244
@JimHagan Few weeks ago I copied **in_syslog** to **in_udp** ... replaces syslog to udp...
and did some testing (didn't have to time do more...)
I could try to make PR in few days..

[2020-08-03 05:41] ealebed commented on #1316
@strantalis You can write logs from application(s) WITHOUT newlines - replacing '\n' for another symbol - collect logs with fluentbit, send messages to ES, and replace "another symbol" back to '\n' in elastic pipeline...

Sounds like a crutch, but it's working - we use this solution for handling multiline java stacktraces - [see more](https://ealebed.github.io/posts/2020/%D1%81%D0%B1%D0%BE%D1%80-%

[2020-08-03 06:00] fujimotos commented on #2390
@barney-s Hmm... I see that your environment mixes up MSVC, MinGW and cygwin.
I suppose this mix-up is the root cause of that error (AFAICT `pkg-config`
is never required for Windows build in the first place).

Regarding this issue, I've posted a documentation patch to explain the
minimum rocedure to build Fluent Bit from source code.

https://github.com/fluent/fluent-bit-docs/pull/352

I confirme

[2020-08-03 06:05] imarko commented on #1316
The Lua filter approach I described in https://github.com/fluent/fluent-bit/issues/1316#issuecomment-617445617 is another approach. Been using something very similar in production for the past few months, works great.

[2020-08-03 06:14] barney-s commented on #2390
Awesome. Thanks. Will check and confirm.

[2020-08-03 06:31] SuvratAgrawal opened #2411 "Fluent-bit is taking long time to uninstall in kubernetes"
**Describe the bug**
Kubernetes pod with fluentbit is running as sidecar container. fluent bit has tail plugin as input and elasticsearch as output plugin. When Elasticsearch is uninstalled (i.e. ES is unreachable) and pod is being uninstalled. Pod hang around in terminating state. Fluent-bit container is the one that is keeping it from terminating. The console logs for that container show this

[

[2020-08-03 06:33] SuvratAgrawal commented on #2411
@edsiper : Please let us know if you need any other information around the issue.

[2020-08-03 08:12] fujimotos commented on #2087
@andrew-lozoya (CC @pragadeeshraju) I noticed that the root issue here is
the choice of the log file to watch.

The log files in `C:\\ProgramData\\` are raw data produced by Docker,
and Fluent Bit almost always should not directly read from them.

Instead, you need to watch files in `C:\var\log`. This directory is maintained
by Kubernetes and contains additional metadata on top of the Docker logs.

[2020-08-03 09:29] cuviengchai opened #2412 "[Question] How to handle error data after retry limit reached ?"
I try to use Fluent-bit instead of my old log shipping process. However, I'm not sure how to handle when network problem occur. I understand if retry-attemps reachs the limit, the data chunk will disappear. Or there is something like "Secondary_file" in Fluentd that put error data to file. I don't want to set Retry_Limit to false because sometimes it doesn't help(Destination process died).

input

[2020-08-03 09:31] Minipada opened #2413 "Yocto build, parsers and "no debug info in ELF executable " (Warrior)"
## Bug Report

**Describe the bug**
I am building fluent bit 1.6.0 using the recipe available [here](https://github.com/fluent/fluent-bit/blob/master/fluent-bit_git.bb).

I had no problems until parsers got involved. This is now what I get only when using "Parser" in my exec instruction:

[code]
I am using Yocto Warrior and start fluent bit with systemd

**To Reproduce**
1. Build a yocto image wit

[2020-08-03 11:11] rarruda commented on #1956
We had the same issue ourselves. We solved it by increasing the number of readiness retries (`failureThreshold`) and `initialDelaySeconds`:

[code]

Seems like if the metrics buffer does not get populated, then these endpoints return `404` (both for `cb_metrics_prometheus()` / `/api/v1/metrics/prometheus` and  `cb_metrics()` / `/api/v1/metrics`):
https://github.com/fluent/fluent-bit/blob/1c4c200aa

[2020-08-03 12:04] rarruda commented on #1884
We had the same issue ourselves. We solved it by increasing the number of readiness retries (`failureThreshold`) and `initialDelaySeconds`:

[code]

We also had to adjust the `initialDelaySeconds` to `210` in the `liveness` probes.

Seems like if the metrics buffer does not get populated, then these endpoints return `404` (both for `cb_metrics_prometheus()` / `/api/v1/metrics/prometheus` and  `cb_

[2020-08-03 12:11] deepanverma19 commented on #1065
I am also facing the same, it ships logs for around 24 hrs and then stops. I have to manually restart the fluent bit pods on EKS. Do we have any update on this?

[2020-08-03 12:16] nvoskuilen commented on #1839
While pod metadata like container_name were working in v1.4.3, it is now broken since v1.4.4+

Another user makes notice of this in #2249

[2020-08-03 14:01] Minipada opened #2415 "Handle quotes in Modify filter"
**Is your feature request related to a problem? Please describe.**
I have a field I want to add with a modify filter and the string contains a space inside:

[code]

Right now, the field is ignore as I get this message:
`[filter:modify:modify.0] Unknown ruletype for rule with key mystring, ignoring`

**Describe the solution you'd like**
The string being accepted with quotes

**Describe alternative

[2020-08-03 18:05] edsiper commented on #2413
what is the parser configuration that you are using ?

[2020-08-03 18:43] edsiper commented on #2311
I cannot reproduce the issue, I tried the following test:

test.log

[code]

parsers.conf

[code]

## test with time_keep false

[code]

## test with time_keep true

[code]

[2020-08-03 18:55] Minipada commented on #2413
Sorry, I forgot to add it

[code]

[2020-08-03 18:57] Minipada commented on #2413
Sorry, forgot to add it
[code]

[2020-08-03 19:35] StevenYCChou commented on #2404
@alexeykaplin - what environment do you run your fluentbit? what is your usecase to use fluentbit? Do you have alternatives to authenticate the fluentbit without setting up email/secret?

Note that if you run fluentbit on GCE VMs, they can retrieve the metadata from the GCE VM so you don't need to setup the SERVICE_ACCOUNT_EMAIL & SERVICE_ACCOUNT_SECRET.

I would like to hear more about the userca

[2020-08-03 20:23] edsiper commented on #2404
@StevenYCChou @JeffLuoo is project_id mandatory ? (disclaimer: I don't use the service)

[2020-08-03 20:51] StevenYCChou commented on #2404
With the current setup for fluentbit, yes - as we always construct logName with `project_id`: https://github.com/fluent/fluent-bit/blob/master/plugins/out_stackdriver/stackdriver.c#L1427-L1428 .Otherwise I think the logs will be rejected.

[2020-08-03 23:29] barney-s commented on #2390
@fujimotos  - Would you share the raw build logs (gist?). We see a lot of warnings. Want to make sure they are ok.

[2020-08-03 23:49] edsiper commented on #2388
hmm, the main problem relies on the handling of tm_gmtoff field structure from struct tm by strptime(3), and it's a mess, for short:

"strptime(2) implementation works differently on glibc, bionic, freebsd...etc"

when a %s is specified, some implementations prefers to convert the parsed time internally with localtime_r(3) while others with gmtimr_r(3):

- glibc [strptime()](https://github.com/bmi

[2020-08-03 23:56] edsiper commented on #2388
note: the year detection as pointed out by @LionelCons is required, so when ```%s``` is detected in the field ```time_with_year``` must be set.

[2020-08-04 01:07] mshade commented on #2152
Can confirm this still does not work on v1.5.2. What I'm doing to work around, for now, is using the `nest` filter to `lift` records up and then process with `rename`. This isn't optimal, though, as I'd ideally only like to lift 1 or 2 keys rather than the whole nested structure.

[2020-08-04 03:55] huanggze opened #2416 "Fluent Bit v1.5.0 stops outputting logs to Elasticsearch"
## Bug Report

**Describe the bug**
Fluent Bit stops outputting logs to Elasticsearch. By the last log record, it seems to stop at 2020/08/03 10:31:01.

[code]

**Expected behavior**

**Screenshots**

**Your Environment**

* Version used: v1.5.0
* Configuration:
[code]
* Environment name and version (e.g. Kubernetes? What version?):
* Server type and version: Kubernetes v1.17.9
* Operating System

[2020-08-04 06:58] LionelCons commented on #2311
In my use case, the parsing is done in two stages: first one to extract the time (`regex`) and second one to break down the fields (`logfmt`).

Here is how to reproduce the problem as I saw it.

[code]

[code]

[code]

`parser1` works fine and at this stage the time is correct. If I only use it I get:
[code]

`parser2` breaks down the fields but does not preserve the time. When I use it after `par

[2020-08-04 09:16] bluebike commented on #1244
I made PR #2414  in_udp module...
@nvx @JimHagan  You could have test... or give comments if module would cover your needs.

 I have tested it only in my macOS (10.13) so far.

[2020-08-04 10:51] PDVJAM opened #2417 "[Question] stackdriver k8s_pod resource configuration?"
Hey!
We're trying to configure stackdriver monitoring with fluent-bit on k8s.
I see fresh patch that added ability to use new resource types: https://github.com/fluent/fluent-bit/pull/2281
But its unclear how to configure it?
Could someone help?

My config is:
[code]
And it even works, but in stackdriver log recods look like
[code]

But how can I got actual namespace name and pod names from k8s in

[2020-08-04 11:33] yeruvass opened #2418 "How to read multiline json format"
I'm trying to read below json format but reading line by line .

td-agent-bit version is 1.4.5

**Log format** :-

{
  "thread" : "1",
  "level" : "OFF",
  "loggerName" : "AuditLogger",
  "marker" : {
    "name" : "Audit",
    "parents" : [ {
      "name" : "EVENT"
    } ]
  },
  "message" : "Audit [useCredentials fileName=\"Credential id=apitoken name=paasjenkins/****** (apitoken-nonprod-jobs)\"

[2020-08-04 12:27] corymurphy commented on #2274
Hi, I'm experiencing the same issue. Please let me know if there is anything I can provide. Here is my configuration. The paths for `/tail-db` and `/tmp/flb-storage` are volumes mounted to the host os. My scenario would test when the fluentd collector is unreachable (via aws security group applied to restrict egress from the forwarder), and the fluent-bit forwarder is restarted. Any of the unflush

[2020-08-04 13:48] simonasr commented on #2418
This configuration works for us:

parser.conf
[code]

Input tail config:
[code]

Not sure if this is a best solution 😸
It would be great, if json parser could parse multiline json logs out of the box 🙏

[2020-08-04 13:51] igorpeshansky commented on #2417
The pod and container information is stored as part of the tag. When fluentd is used to send Kubernetes logs to Stackdriver (Google Cloud Logging), it extracts those components of the tag and assemblies a `local_resource_id` value that the output plugin then turns into a monitored resource. Sadly, it looks like fluent-bit lacks the functionality to parse the tag and capture its elements into recor

[2020-08-04 14:00] yeruvass commented on #2418
Working perfectly. Thanks alot.

[2020-08-04 16:43] edsiper commented on #2417
no plans "yet" to support record accessor mode in that filter.

A workaround would be to add the proper environment variables to your Pod, and then let Fluent Bit use them in the configuration for record_modifier, e.g:

[code]

if you get into the pod:

[code]

[2020-08-04 16:44] edsiper commented on #2417
ah, my mistake, you want the pod_name and namespace for the monitored pod, not the running Pod. that feature is not yet available.

[2020-08-04 18:27] edsiper commented on #2411
I think you should tweak the Pod grace period in your yaml.

you could also migrate to the latest v1.5.x and play around with the networking timeouts:

- https://docs.fluentbit.io/manual/administration/networking#configuration-options

[2020-08-04 18:46] JeffLuoo commented on #2409
I tested it on the following scenario:
On an offline environment, I terminated the Fluent Bit manually (ctrl + c) and the noticed that chunks in file system have size bigger than the real file size. Chunks information:
[code]
And the real file:
[code]
And also I did testing on normal environment with stable internet connection, the logs from Fluent Bit:
[code]
I kept seeing the line of log
[code]

[2020-08-04 18:59] JeffLuoo commented on #2365
Hi @edsiper it looks like the new patch for timeout issue freezes the Fluent Bit again when we go to the offline environment.. Sorry for missing that tests on the previous test.. It is simple to reproduce:
1. Run Fluent Bit with internet connection
2. Run a log-generator to generate logs
3, Turn wifi off to go to offline environment
4. Wait for ~15s and turn wifi on
5. Fluent Bit does not respond

[2020-08-04 19:17] edsiper commented on #2311
@LionelCons thanks for clarifying.

I've addressed the issue in GIT master and I will backport the changes to 1.5. Please test GIT master.

[code]

note: the remaining part is the strptime(3) required fix. but is not associated to this issue.

[2020-08-05 04:02] PDVJAM commented on #2417
Yes, the idea was to have info from monitored pods or containers. No workarounds at all? It seems that stackdriver support is really on the low side yet:(

[2020-08-05 07:14] LionelCons commented on #2311
I have tested master and I confirm that this bug is now fixed. Thanks!

[2020-08-05 08:52] LionelCons commented on #2352
FWIW, I have tested this on master and it works fine. Thanks!

[2020-08-05 10:50] debu99 opened #2422 "Is there anyway to detect the output error and send notification?"
**Is your feature request related to a problem? Please describe.**
I would like to have feature when there is output error,  we can notify somewhere/something

**Describe the solution you'd like**
Like email/slack/opsgenie/3rd party script etc...

**Describe alternatives you've considered**
Maybe only 3rd party script is enough?

**Additional context**

[2020-08-05 14:46] edsiper commented on #2352
thanks. Closing.

[2020-08-05 14:46] #2352 closed

[2020-08-05 14:46] edsiper commented on #2311
thanks, closing.

[2020-08-05 14:46] #2311 closed

[2020-08-05 14:55] PDVJAM opened #2423 "Fluent-Bit stackdriver plugin receives the resource labels from wrong log"
## Bug Report

**Describe the bug**
Fluent-Bit stackdriver plugin receives the resource labels from wrong log.

**To Reproduce**

**Expected behavior**
Correct labels must be set.

**Screenshots**
[Screenshot_1] (https://ibb.co/485MX8n)
[Screenshot_2] (https://ibb.co/YbJT38K)

As you can see, tag is correct but k8s_container labels are not.

**Your Environment**

* Version used: Fluent-Bit 1.5.2
*

[2020-08-05 14:58] JeffLuoo commented on #2423
toubleshooting

[2020-08-05 20:51] barney-s commented on #2390
It works. Thanks. @fujimotos

One more request.
Is there a build target that generates installer zip files ?
https://docs.fluentbit.io/manual/installation/windows#installation-packages

[2020-08-06 03:30] andrew-lozoya commented on #2087
@fujimotos thank you so much for the doc it has helped on some things, I am still having issue resolving to the Kubernetes end point even after 6, 30 sec retires.

Secondly can you elaborate more on how c:\var\logs is used I can't seem to find any documentation on that or how the symbolic links are working.

[2020-08-06 07:16] yang-padawan commented on #1127
Facing the same issue with `forward` plugin on localhost (getent hosts also returns IPv6 address). Any update on this?
[code]

[2020-08-06 09:58] tvm1 commented on #593
+1

[2020-08-06 12:32] debu99 commented on #1715
i have similiar issue when try to add the upstream connection for out_file plugin

[2020-08-06 14:27] rumanzo commented on #2416
The same with version 1.5.2
Build options:
[code]

Last log with log_level trace:
[code]

[2020-08-06 15:29] JeffLuoo commented on #2423
Hi @PDVJAM I have submitted a patch to fix the issue and could you please take a look to see if that fixed the issue? Thank you so much!

[2020-08-06 17:09] jsubirat opened #2426 "WinLog input plugin stopped reporting the EventId"
## Bug Report

**Describe the bug**
In [this pull request](https://github.com/fluent/fluent-bit/pull/2322), the parsing of the log records coming from the `winlog` INPUT plugin was fixed. However, it seems that the `EventId`, which [was being included before the fix](https://github.com/fluent/fluent-bit/pull/2322/files#diff-0890d3b5666d8c56708c223ac7bc54a3L239-L241), it [was not included in the ne

[2020-08-06 17:24] jsubirat opened #2427 "WinLog INPUT: include the StringInserts key-value pairs into the log record"
**Is your feature request related to a problem? Please describe.**
In [this pull request](https://github.com/fluent/fluent-bit/pull/2322),  the `StringInserts` [were removed from the resulting log record](https://github.com/fluent/fluent-bit/pull/2322/files#diff-0890d3b5666d8c56708c223ac7bc54a3L267-L269). A formatted `Message` containing the human-readable message [was included instead](https://gi

[2020-08-06 20:02] PDVJAM commented on #2423
Yes, the issue has been fixed. Thank you!

[2020-08-06 20:02] #2423 closed

[2020-08-06 21:23] andywinslow opened #2428 "tail input doesn't "tail" files on overlayfs kernel v4"
## Bug Report

**Describe the bug**
tail input doesn't "tail" files on overlay filesystems using linux kernel v4

**To Reproduce**
- On an ubuntu 16.04 system (which has kernel v4.4)...
- Install docker
- Create Dockerfile with these contents:
[code]
- docker build -t fluent-bit-overlayfs-bug .
- docker run -it fluent-bit-overlayfs-bug /bin/bash
- verify your current directory is using overlay fs:

[2020-08-06 22:14] edsiper commented on #2428
hi @andywinslow

we have some plans to enable polling mechanism together with inotify and make it optional for the user. The current workaround is to re-build Fluent Bit turning off the CMake option -DFLB_INOTIFY=off.

[2020-08-07 00:15] edsiper commented on #1715
Please confirm if you are able to reproduce the problem with version v1.5.x

[2020-08-07 07:06] LionelCons commented on #2403
Crashes continue with always the same stack trace :-(

I also noticed something weird in the program's output (last 3 lines):
[code]

This is maybe an unrelated bug in libbacktrace...

[2020-08-07 09:10] #2417 closed

[2020-08-07 09:12] PDVJAM commented on #2417
It's been fixed [here](https://github.com/fluent/fluent-bit/issues/2423).

[2020-08-07 09:25] PDVJAM opened #2429 "Extract error level from logs when is has absent in jsonPayload"
**Is your feature request related to a problem? Please describe.**
We use fluent-bit with stackdriver output plugin. And sometimes there is no error level in json payload, but it is inside log record.
For example, look at [this](https://ibb.co/XpNX0rp) screenshot.

**Describe the solution you'd like**
It would be nice to extract it somehow and work with it as with error level from json payload.

*

[2020-08-07 10:39] Nikita128 opened #2430 "Fluent-bit stops sending logs altogether if one of the outputs goes down."
I'm trying to make a multi-cluster system with one fluent-bit agent sending logs from TAIL input plugin to two Grafana Loki instances. I'm testing the scenario, when one of the Loki instances is down, but another one should continue receiving logs. So when I'm shutting down one of the Lokies, fluent-bit agent just stops sending logs altogether (it stops sending logs to a running Loki instance too)

[2020-08-07 11:56] SuvratAgrawal commented on #2411
I tried with latest v1.5.2 and playing around the grace period. I found that buffer is in not getting flushed when it is getting SIGTERM. Some buffer chunks are retrying to be flushed after 100 second. If I increase the grace period to 120s it is working fine. But fluentbit terminating in 2 mins is little longer duration.

Expected behaviour : It should stop flushing buffer and terminate immediate

[2020-08-07 12:03] teoincontatto commented on #2111
Seems that if the pod resource JSON returned by the kubernetes REST API is bigger than `Buffer_Size` the plugin fail silently. IMO is a bug since the `flb_http_do` should return an error when response is bigger than what was set with `flb_http_buffer_size` (see https://github.com/fluent/fluent-bit/blob/ff0874f9cdeb0a7e3dfcc663f5088f64b2eba33e/plugins/filter_kubernetes/kube_meta.c#L240).

To solve

[2020-08-07 13:29] andywinslow commented on #2428
Wouldn't it make sense to use the same approach as unix tail, which prefers inotify but falls back to polling when inotify isn't functioning? That way recompiling wouldn't be needed. In our case we're using fluent-bit because it comes packaged with the New Relic Infrastructure Agent and so we can't easily control the version of fluent-bit or how it's compiled.

[2020-08-07 14:12] edsiper commented on #2429
what's the context of use ? are you using the Stackdriver output plugin ? (note that each output plugin perform it own formatting)

[2020-08-07 15:16] fujimotos commented on #2388
I submit a patch to use our strptime(3) implementation to #2433.
With this, I can confirm that OP issue is resolved. In fact:

Before:

    $ echo '{"raw":"10000"}' | ./bin/fluent-bit -R test.parser -c test.conf
    ...
    [0] test: [42400.000000000, {"raw"=>"10000"}]

After:

    $ echo '{"raw":"10000"}' | ./bin/fluent-bit -R test.parser -c test.conf
    ...
    [0] test: [10000.000000000, {"raw

[2020-08-07 15:19] fujimotos commented on #2388
I submit a patch to use our strptime(3) implementation to #2433.
With this, I can confirm that OP issue is resolved.

Before:

    $ echo '{"raw":"10000"}' | ./bin/fluent-bit -R test.parser -c test.conf
    ...
    [0] test: [42400.000000000, {"raw"=>"10000"}]

After:

    $ echo '{"raw":"10000"}' | ./bin/fluent-bit -R test.parser -c test.conf
    ...
    [0] test: [10000.000000000, {"raw"=>"10000

[2020-08-07 15:27] JeffLuoo opened #2434 "Fluent bit memory leaks on cb_mq_metrics()"
## Bug Report
When I was running the Fluent Bit without inputting any data, I found that there was a memory leak detected by valgrind.
**Describe the bug**

[code]
**To Reproduce**
Run Fluent-Bit with valgrind --leak-check=full

**Expected behavior**

no memory leak? I am not sure what is the root cause of the leak.

**Screenshots**

**Your Environment**

* Version used: latest code on master bran

[2020-08-07 15:30] hev commented on #2030
Any update here @fujimotos? We are also running into this.

[2020-08-07 15:39] fujimotos commented on #2030
@hev I think I found the root caues of this issue.
I think I can work on this next week. Wait for me.

[2020-08-07 19:52] JeffLuoo commented on #2434
Update: Will only see this if I added the HTTP configuration to the [service] section:
[code]
After removing those three lines from the configuration file, I did not see the leak.

[2020-08-07 20:45] baconmania commented on #2136
@edsiper Any thoughts on this? I'm seeing the same issue, with `.flb` files never getting deleted even though the pipeline continues running without errors in the fluent-bit logs. I have a `rewrite_tag` filter block, with `Emitter_Storage.type filesystem`, and the corresponding `emitter_for_rewrite_tag.0` directory grows unboundedly. This isn't a backpressure issue, because my output plugin is jus

[2020-08-07 22:59] edsiper commented on #2404
I've pushed fix 7cf740cf87e89ba64e8429b4284b385bcad7c1a4. Basically project_id is mandatory, if not set by credentials file or server metadata, the plugin won't start.

[2020-08-07 23:00] #2404 closed

[2020-08-07 23:02] edsiper commented on #2430
I "think" the problem relies on Golang Loki plugin that get stuck. Can you confirm if you have another type of output like http you can reproduce the same issue

[2020-08-08 11:22] git001 opened #2437 "flb_strptime.c misses **%L** Millisecond of the second"
**Is your feature request related to a problem? Please describe.**

In commit https://github.com/fluent/fluent-bit/commit/f142d932077e9833db25eeb2825e91dae8115935 is the  `fluent-bit/src/flb_strptime.c` now the default time parsers in fluent-bit.
My timestamp look like this `06/Aug/2020:01:36:32.378` and I can use in fluentd this **time_format** `%d/%b/%Y:%H:%M:%S.%L`.

The **%L** is also describe

[2020-08-08 13:16] Minipada commented on #2354
I am running in the same issue, could you share how you solved it?

[2020-08-08 14:00] edsiper commented on #2437
Our parser wrapper on top of flb_strptime() supports %L

On Sat, Aug 8, 2020, 05:22 Aleks <notifications@github.com> wrote:

[2020-08-08 15:36] git001 commented on #2437
@edsiper ah you mean that?
https://github.com/fluent/fluent-bit/blob/master/src/flb_parser.c#L230

[2020-08-09 06:17] iyuvalk commented on #2394
Anyone???

[2020-08-09 14:57] bugok commented on #1142
One use case I'm currently having is that I would like to exclude the fluentbit daemonset itself.
I've seen this 'fixed' after a few hours of running, but I didn't see anything deterministic, yet.

If anyone knows how I can trigger the exclude, even manually, it'll be great.

[2020-08-09 15:33] vinodkmrm commented on #2152
Does not work in v1.5.2 too. I had to use the same workaround.

[2020-08-09 19:17] edsiper commented on #2437
Yes

On Sat, Aug 8, 2020, 09:36 Aleks <notifications@github.com> wrote:

[2020-08-09 21:24] andredrumond1995 opened #2439 "Is there any plugin or way to workaround when tail got some \n in files? it generates multiples records in kibana and graylog..."
i am trying to join the logs that are being separated when tail plugin is used...

[2020-08-10 02:01] xifanyan opened #2440 "add limit_recently_modified for tail"
it will be great to add something like "limit_recently_modified" (fluentd) , so less file handlers will be consumed unnecessarily.  it does not seem to be too hard to add the feature after reviewing the code, but I do not use C, can the team help to implement it ? my system can easily have few hundreds of log files at any moment.

[2020-08-10 03:52] corbanvilla commented on #1499
Fixed code to work for latest version in case anyone needs it...

(Also took out cache code since os.time wasn't working)

fluent-bit.conf:
[code]

docker-metadata.lua:
[code]

[2020-08-10 05:11] l2dy opened #2441 "Unused variable tmp_buf in cb_forward_flush()"
## Bug Report

**Describe the bug**
The variable `tmp_buf` is assigned NULL and freed in two error conditions, so it's effectively unused.

How is `fc->time_as_integer == FLB_TRUE` different? Is there a memory leak?

**Additional context**
https://github.com/fluent/fluent-bit/blob/4b9ac8c78fbb25d62c74e7d955bdb0a5f20158a0/plugins/out_forward/forward.c#L1071

https://github.com/fluent/fluent-bit/blo

[2020-08-10 06:12] ryjogo commented on #2359
I am also seeing this with the below configuration:

`[PARSER]
Name multi_line
Format regex
Regex (?<log>^{"log":"(\d{4}-\d{2}-\d{2}.*)|^{"log":"([\[].*|\w.*))

[INPUT]
Name tail
Path /var/log/containers/*.log
Parser docker
Tag kube.*
Refresh_Interval 5
Mem_Buf_Limit 5MB
Skip_Long_Lines On
Docker_Mode On
Docker_Mode_Parser multi_line

[FILTER]
Name kubernetes
Match kube.*
Kube_Tag_Prefix kube.var.

[2020-08-10 07:20] PDVJAM commented on #2429
Ah, yes, we use Stackdriver output plugin. And most of logs can be easily sorted by severity, but some - and we can't change their log representation, coz they are external libraries - can't be.

[2020-08-10 11:33] shurkus opened #2445 "Add PATH to influxdb output"
**Is your feature request related to a problem? Please describe.**
I want save data in [VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics/wiki/Cluster-VictoriaMetrics), for this need send requests to `10.0.0.6:8480/influx/api/v2/write` path

**Describe the solution you'd like**
Add `Path` variable to

[2020-08-10 12:24] sshishov commented on #872
Nice, fixed :) But where is documentation or at least link for the solution?

[2020-08-10 12:42] git001 commented on #2437
okay, thanks

[2020-08-10 12:42] #2437 closed

[2020-08-10 13:32] JeffLuoo commented on #2354
Hi @Minipada Could you set the `Retry_limit` to be false in output plugin and configure filesystem buffer in input plugins? https://docs.fluentbit.io/manual/administration/buffering-and-storage

[2020-08-10 14:24] selina-cui commented on #2030
I hit the same issue. I use Fluent Bit v1.4.0 in windows. I notice that the duplicated log records are more and more as times go on.

[2020-08-10 14:54] Minipada commented on #2354
I saw that yesterday evening, it buffered more than 10 hours of record, I didn't see it before and works well.

[2020-08-10 14:58] JeffLuoo commented on #2354
FYI I am working on the feature for offline buffering
https://github.com/fluent/fluent-bit/issues/2408 to make sure that buffered
data won't take disk space without limitation.

On Mon, Aug 10, 2020 at 10:55 AM David Bensoussan <notifications@github.com>
wrote:

[2020-08-10 15:13] #2434 closed

[2020-08-10 15:32] douzt opened #2446 "fluent-bit doesn't add-on the kubenetes metadata"
## Bug Report

**Describe the bug**
Hi guys,

I hit some issue when I try to draw logs under /var/lib/docker/containers with K8S metadata to ES.
It all works fine if I want to do the same thing with logs under /var/log/containers/*.log.    But if I change the K8S config files as attached full yaml file or like below, I hit either "_[ warn] [filter_kube] invalid pattern for given tag_  in log file,

[2020-08-10 17:26] shailegu commented on #1004
@PettitWesley Will 1.6 release also have support for uploading logs via Pre-Signed S3 URLs.

[2020-08-10 17:39] PettitWesley commented on #1004
@shailegu Explain the use case? I am not very familiar with pre-signed URLs... it sounds like it only allows you to upload a single object per URL. Which won't quite work with the plugin since it uploads a file every time it gets a set amount of data. The plugin needs to be able to upload multiple files.

[2020-08-10 18:02] shailegu commented on #1004
yes pre-signed URLs is a one time use only. We want to use different pre-signed URLs periodically for uploading the logs, probably updating OUTPUT Section in fluent-bit.conf dynamically (not sure if its possible without restarting fluent-bit, still exploring). And the receiver will extract the logs to get business value out of it.

[2020-08-10 20:35] mikebou opened #2448 "ELK 8.0 has removed the _type parameter from the _bulk input method"
## Bug Report

**Describe the bug**
es output fails to create index record in Elastic 7.8

**To Reproduce**
[code]
[code]
- Steps to reproduce the problem:
cause any output to be write to es

**Expected behavior**
index should be create in elastic

**Simplified method to reproduce error**
using the JSON generated in the fluent-bit log message. With the ELK Developer Tools to POST `_bulk` directly

[2020-08-10 20:47] mikebou commented on #1359
I don't believe this issue is actually solve. Elastic 7.8 will reject the POST to _bulk if the _type is part of the parameter set.

[2020-08-11 01:04] douzt commented on #2446
I found some earlier posts, but the 1st is solved in lua layer, and the second doesn't fix my problem.
https://github.com/fluent/fluent-bit/issues/1499
https://github.com/fluent/fluent-bit/issues/773

[2020-08-11 02:58] lalithvaka commented on #497
@lucaim , what should be the path in the Config map/ INPUT ?
[code]

[2020-08-11 03:56] lalithvaka opened #2449 "systemd input path set up for RHEL(Redhat) Host system"
## Bug Report

**Describe the bug**
Using the systemd plugin for capturing the systemd/journald logs with the following input under fluent-bit-configmap.yaml
[code]
Also trying to use under fluent-bit-ds.yaml
[code]
getting the following errors
[2020/08/11 02:49:37] [error] [plugins/in_systemd/systemd_config.c:70 errno=2] No such file or directory
[2020/08/11 02:49:37] [error] [in_systemd] given p

[2020-08-11 04:30] Nikita128 commented on #2430
OK, I'll try to confirm it this week and respond by then.

[2020-08-11 07:41] gaizeror commented on #2356
I am having the same issue (not docker compose, just docker volume)

[2020-08-11 10:35] fujimotos commented on #1004
@PettitWesley Hi. Are you interested if I provide an "Apache Arrow support"
patch for the S3 plugin?

Background: My company is planning to use Fluent Bit to transfer data to S3.
To keep parsing overhead minimal, we want to use [Apache Arrow](https://github.com/apache/arrow) as the output
format.

 * Apache Arrow is a columner data format developed by Apache Foundation.
   It has significant adopt

[2020-08-11 12:58] strantalis commented on #1316
Thanks @ealebed & @imarko. It's hard to get teams to log in a consistent format but the lua filter looks like it is working.

[2020-08-11 15:50] AlexMorreale commented on #2274
Seems like a relatively big issue if buffers are broken. Are there any updates on this? Is `fluentd` recommended if we need buffers?

[2020-08-11 16:16] Ufoton opened #2455 "fluent-bit agent stopped after vzdump backup lxc"
## Bug Report

fluent-bit agent stopped just after vzdump backup (suspend mode)

**To Reproduce**
Install td-agent in to container. Make backup with vzdump
[code]

[2020-08-11 17:52] lalithvaka commented on #2449
Missed to mount /run/log/journal under fluent-bit-ds.yaml file
[code]

Also referencing the path as "Path              /run/log/journal"  under [INPUT] of fluent-bit-config.yaml
[code]

[2020-08-11 17:52] #2449 closed

[2020-08-11 17:53] PettitWesley commented on #1004
@fujimotos I am very interested in that; that would be awesome.

Within one week I will have a preliminary version ready which should be stable enough for you to build on top of. Will ping here when that's ready.

[2020-08-11 19:13] jseiser commented on #1942
same issue here.

[code]

Errors continue until you kill the pod and have it restart.

[2020-08-11 19:14] b0nete commented on #1291
Me too, i'm using fluent-bit 1.3.7 installed with helm (repo stable/fluent-bit, docker image fluent/fluent-bit:1.3.7) but the error persist.
I hope can you help me.

[2020-08-11 19:18] blaggacao commented on #1291
@lbogdan

I'm sorry, I have abandoned this road.

I'm closing. I'd suggest affected parties to file a new issue, which they can maintain.

[2020-08-11 19:18] #1291 closed

[2020-08-12 01:12] lalithvaka opened #2459 "Time_Offset is not working as expected"
## Bug Report

**Describe the bug**
Unable to fix the date time stamp using Time_Offset parset
Current time of this test is 08/11 5:57pm PST but the log is coming out as 2020-08-12T00:57:06.854828691Z. even though the offset is specified as -0700.
Time_Offset does not even work for any value I give.

**To Reproduce**
[code]
"stream"=>"stdout", "time"=>"2020-08-12T00:57:06.854828691Z",
[code]

[2020-08-12 02:44] douzt commented on #2446
I'm closing it as I figure flb cannot figure out K8S info based on log file name under /var/log/docker/containers.

[2020-08-12 02:44] #2446 closed

[2020-08-12 04:52] l2dy opened #2460 "Undefined error in flb_scheduler.c on macOS"
## Bug Report

**Describe the bug**
`[error] [src/flb_scheduler.c:48 errno=0] Undefined error: 0`

**To Reproduce**
- Steps to reproduce the problem:
1. Build Fluent Bit on macOS.
2. Run `./bin/fluent-bit -i dummy -o stdout`.

**Expected behavior**
No error.

**Screenshots**
[code]

**Your Environment**

* Version used: commit d1bcfa8d1767020ff1a3bf68f004193eb49ceacd
* Configuration: N/A
* Environ

[2020-08-12 05:26] fujimotos commented on #2426
@jsubirat I submitted a patch to take the field back to the event message (#2108).
This issue will be resolved after the patch being merged.

[2020-08-12 05:51] fujimotos commented on #2427
Hmm. I can bring back StringInserts to the output messages
if there are demands for it, but:

I think it is hard to parse the field the way as you described.

The reason is that `StringInserts` is just an array of arbitrary strings,
which do not have a consistent format. In fact, most log messages do
not even contain such key/value pairs e.g.

[code]

Possibly you can apply `filter_parser` to pars

[2020-08-12 06:20] fujimotos commented on #2087
@andrew-lozoya Sadly it is not well documented in the Kubernetes project.
I don't know any user documentation that contains a detailed description.

But this is the patch that implements this logging directory structure:

https://github.com/kubernetes/kubernetes/commit/fad4672e725877830407e2e4694fed7ceae5fe0a

In short, Kubernetes creates a symlink when it starts a container, and
removes it when d

[2020-08-12 06:37] fujimotos commented on #2390
@barney-s Run `cpack -G ZIP` after you build the project.
For example:

     % cpack -G ZIP -C Debug

The following is how we build the release binary.

[code]

Note: we here use `NMake Makefiles` since it is faster than the default
`Visual Studio` target. The resulting binary is the same, but we see
[a good speed up with it](https://github.com/fluent/fluent-bit/commit/ad0d67aa61d758b9f3f3061a36af

[2020-08-12 07:07] bluebike commented on #2460
https://github.com/fluent/fluent-bit/blob/d1bcfa8d1767020ff1a3bf68f004193eb49ceacd/src/flb_scheduler.c#L45-L50

In macOS ( I have 10.13 High Sierra)   flb_pipe_r() seems to be returning value 0 which is consider error.
Just changing  ```if (ret <= 0) ``` to ```if (ret < 0)``` fixes problem.
But can does this fix make problems other in OS (Linux,Win,...) ???

[2020-08-12 07:56] majoyz opened #2462 "How to get float value using out_influxdb and parser_regex?"
After using regex parser, the metrics would be like this: `"value"=>"float value"`(like `"value"=>"0.34"`). Then the value would be string in out_influxdb.
[code]

What can I do if I need a float value in influxdb? I think it should be like `"value"=>0.34`

[2020-08-12 09:39] bluebike commented on #2460
Made patch #2463 to fix this.
@l2dy I don't have catalina (10.15) around... if you care to test patch there(?)

[2020-08-12 10:17] HackToHell commented on #2377
@edsiper I have one question regarding how Mem_Buf_Limit works, piggy backing on this question as I think it might be relevant, will, the engine not call the pause callback on the input plugin if the output plugin keeps on failing? How will the storage_limit interact with  backpressure.

[2020-08-12 12:24] bluebike commented on #2462
I think that by default  regex parser parses everything to string.
After that out_influxdb assumes value being string value and escapes it.
You should add something like  ```Types value:float``` (assuming that field is **value**) to you your parser conf.

I think that parser **Types**  parameter is not very well documented (or I cannot find documentation).

[2020-08-12 12:33] bluebike commented on #2462
Note:   plugin out_infuxdb  could output integers  with as **123i**  ('i'-ending).  In that case InfluxDB would think value as 64-integer, which is useful with something like very big counters.    By default all numbers are understood as double by influxDB.

[2020-08-12 12:47] majoyz commented on #2462
Thanks for your help, it works. Yes, it can't be find in parser's document.

[2020-08-12 14:21] erain commented on #2377
@HackToHell to my understanding the engine will keep re-trying following a [truncated exponential backoff algorithm](https://cloud.google.com/storage/docs/exponential-backoff).

Current the engine will keep the oldest chunk once `storage_limit` is reached. We have enhance that in our proposal by some new configuration parameters.

[2020-08-12 14:28] wenerme opened #2464 "Support alpine musl"
Try to add fluent-bit to alpine repo by this [pr](https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/11350)

**Is your feature request related to a problem? Please describe.**

Alpine build get this error

[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

I do found [Why there is no Fluent Bit Docker image based on Alpine

[2020-08-12 14:54] wenerme commented on #2464
The default `-s, --coro_stack_size Set coroutines stack size in bytes (default: 3072)` will cause the error, but manually set `-s 4096` can start

[2020-08-12 18:38] bluebike opened #2465 "flb-it-mp test fails because of missing datafile"
## Bug Report

**Describe the bug**

test  **flb-it-mp** test case **count** fails with exit(0) unless
file "/data/mp/apache_10k.mp" exists with 10,000 msgpack messages.

https://github.com/fluent/fluent-bit/blob/d1bcfa8d1767020ff1a3bf68f004193eb49ceacd/tests/internal/mp.c#L15-L37

**To Reproduce**

compile with internal tests included and run:

[code]

**Expected behavior**

Test should success i

[2020-08-12 19:25] mikebou commented on #2448
my apologies. The deprecated _type was not my issue. The _type is not required to be removed until version 8. It would be great if it was addressed soon as removing the parameter is supported in 7.x. Version 8 of Elastic is available and this change would be required

[2020-08-12 19:25] #2448 closed

[2020-08-12 21:29] vsinghal13 opened #2466 "Usage of Ignore_Older with Multiline"
## Bug Report

**Describe the bug**
According to the docs, the `Ignore_older` property is only available when a Parser is specified:

```Ignores records which are older than this time in seconds. Supports m,h,d (minutes, hours, days) syntax. The default behavior is to read all records from specified files. Only available when a Parser is specified and it can parse the time of a record.```

Does th

[2020-08-13 06:02] wenerme commented on #2464
Build pass, and works, but some internal test failed, need help, build log and detail test log [here](https://gitlab.alpinelinux.org/wener/aports/-/jobs/185189#L2167)

failed tests

[code]

the dmesg

[code]

[2020-08-13 11:27] raine commented on #604
I think this is implemented since v1.4.6.

See Path argument in https://docs.fluentbit.io/manual/pipeline/outputs/file

[2020-08-13 15:36] JeffLuoo commented on #2409
Update:
I set the `storage.sync` to be full but the chunk created still had size greater than the real file size.
[code]

[code]

[code]

[2020-08-14 07:55] tarunwadhwa13 opened #2469 "CPU constantly high"
## Bug Report

**Describe the bug**
We have few applications which produce heavy logging. By heavy logging I mean both size and frequency. Average size of a json log line will be around 100KB. We have noticed that fluenbit which normally uses <5% shoots to 100% CPU usage which remains constant. Evey time, this log line was observed in docker logs

`[2020/08/14 07:30:03] [ warn] [input:tail:tail.3]

[2020-08-14 11:23] tarunwadhwa13 commented on #2469
Have enabled debug logs to get better insights to the issue.

[2020-08-14 11:23] #2469 closed

[2020-08-14 11:56] fujimotos commented on #2030
FWIW, I have just submitted a fix for the issue to #2470.

[2020-08-14 12:38] raine commented on #1508
Fixed in v1.5.1.

https://fluentbit.io/announcements/v1.5.1/

[2020-08-14 12:41] alitoufighi commented on #1508
That's great!
I think we can happily close this issue now.

[2020-08-14 12:41] #1508 closed

[2020-08-14 13:19] logicflakes opened #2471 "tail with Docker_Mode On and Docker_Mode_Parser concatenates two or more json logs"
## Bug Report

**Describe the bug**

When using tail input with Docker_Mode On and Docker_Mode_Parser to identify the first line of the json log, it concatenates two or more logs when encountering multiline logs.
**To Reproduce**
- Rubular link if applicable: https://rubular.com/r/Xl7RwshJWtdRhp
- Example log message if applicable:
[code]

**Expected behavior**

So, when the logs are processed and

[2020-08-14 17:50] #2471 closed

[2020-08-14 18:02] DarkBlaez commented on #1897
I can confirm with the fluent-bit 1.5 that this bug exist. Adding the Gelf_Host_key still does not work. The host key is not being passed to Graylog with GELF. Has anyone tested this. Seem if there is a recommendation it should be fully vetted.

DB

[2020-08-14 18:40] #2426 closed

[2020-08-14 18:41] #2460 closed

[2020-08-16 12:50] dotanrs commented on #2387
The image `906394416424.dkr.ecr.eu-west-1.amazonaws.com/aws-for-fluent-bit:2.6.1`
Uses fluent-bit 1.5.2

I'll try this and see how it goes
(Unfortunately I can't change my deployment type to EC2)

[2020-08-17 05:04] PettitWesley commented on #2387
Even just for a one-off test?

[2020-08-17 07:20] phiremande opened #2472 "Log buffering: corrupted files are not removed after detection"
## Bug Report

**Describe the bug**
If log buffering is enabled and if there is an error in the chunk file, the file read fails, but the file isn't deleted from the system.

**To Reproduce**

- Example log message if applicable:
[code]
- Steps to reproduce the problem:
Not tried but a manual edit of the chunk file should reproduce. In our case, it got reproduced due the process restart.
**Expected

[2020-08-17 07:21] phiremande commented on #2472
@edsiper , If you think this is an issue and I haven't missed something, I can work on the fix. Please do let me know.

[2020-08-17 08:56] stanislaw55 opened #2473 "[BUG] Mutliline regex for Tail input plugin does not work"
## Bug Report

**Describe the bug**

Mutliline regex for Tail input plugin does not work.

I have log in which `message` filed can be one line but also multi lines. When  I used configuration below, it worked well with single line of `message` field:

[code]

in parsers file
[code]

However, it just appends all stuff to `thread` key when `message` is mutliple lines. I've tried using this parser

[

[2020-08-17 14:43] dotanrs commented on #2387
@PettitWesley I don't currently run anything on EC2, so it's a lot of hassle for me to set it up.
So far no crashes with the new image 🤞

[2020-08-17 14:51] tarunwadhwa13 commented on #574
Gentle Reminder !!
Can we add this to 1.6 milestone?

[2020-08-17 15:11] lacksfish opened #2474 "[Bug] "Too many open files" (errno=24) || [Feature proposal] - Only tail logs younger than x seconds/hours/days"
## Bug Report

**Describe the bug**

We have logs all piling up in one folder. Fluentbit tail eventually fails with the error "Too many open files" (errno=24)
We can not remove logs from this folder, but new ones will be constantly added. Once a new log exists, there will be no new logs lines written into the older log files.

**To Reproduce**

Possibly, create a bunch of log files (we have 8261),

[2020-08-17 15:35] edsiper commented on #574
good idea. Added.

[2020-08-17 16:35] edsiper commented on #2427
@fujimotos I think we should find a way to solve the data processing, I think this needs 3 steps:

__1__. revert back this code:

https://github.com/fluent/fluent-bit/pull/2322/files#diff-0890d3b5666d8c56708c223ac7bc54a3L267-L279

__2__ add new boolean option called ```stringinserts```, enabled by default. If set, include the values as part of the array (like it used to work), if disabled, just sk

[2020-08-17 17:38] edsiper commented on #1143
FYI: this was already addressed . closing.

[2020-08-17 17:38] #1143 closed

[2020-08-18 07:07] kmajic commented on #1004
@PettitWesley can we have an update? I'm curious whether to wait on this further or try to do a workaround. Thanks for everything you're doing!

[2020-08-18 07:33] PettitWesley commented on #1004
@kmajic Its still in progress... about 60% done right now... still planned for Fluent Bit 1.6 which is still planned for mid/end of September. Full code will be available in 2ish weeks for the first pre-release version for testing.

(As always though, no hard guarantees- that's just the plan.

[2020-08-18 10:57] pepov commented on #1746
@edsiper there are situations where the order is more important than throughput. Is there a flag to control this (disable concurrent chunk processing) for any given output?

[2020-08-18 11:49] luxmeter commented on #2135
Encountered this today also with 1.4.6.
Fluent-bit is running as a side-car container in a job but it doesn't want to shut down gracefully. It just delays the shutdown forever. Have to force kill it now 😢

[2020-08-18 12:16] phiremande opened #2475 "log buffer: Restarting fluent-bit results in CRC32 errors"
## Bug Report

**Describe the bug**
If log buffering is configured and there are pending chunks (due to n/w issues), in this case, killing fluent-bit results in CRC32 errors.

**To Reproduce**

[code]
- Steps to reproduce the problem:
Configure log buffering and ensure that logs are buffered to disk by bringing down the connectivity to the server. We are using kafka rest proxy as the output plugin

[2020-08-18 13:49] dotanrs commented on #2387
Problem persists with `906394416424.dkr.ecr.eu-west-1.amazonaws.com/aws-for-fluent-bit:2.6.1` :(

Again, fluent-bit container existed with status code 139

Logs:

  [2020/08/18 13:34:10] [error] [src/flb_http_client.c:1077 errno=32] Broken pipe
  [engine] caught signal (SIGSEGV)
  [2020/08/18 13:34:10] [error] [output:datadog:datadog.1] could not flush records to http-intake.logs.datadoghq.com:80

[2020-08-18 16:51] PettitWesley commented on #2387
@dotanrs Ok, luckily DataDog gave me a test account for this integration... I will try my best to see if I can reproduce and diagnose this issue.

[2020-08-18 17:18] edsiper commented on #1746
there is no such control at the moment, but there is a plan to implement that (Loki need it).

[2020-08-18 17:58] edsiper commented on #2475
are you able to replicate the problem using ```storage.sync full``` ?

[2020-08-19 05:30] phiremande commented on #2475
@edsiper , Yes, I am seeing it with storage.sync full too.

[2020-08-19 08:18] Ufoton commented on #2455
Any update for this issue? Some addition needed?

[2020-08-19 09:53] FarhadF opened #2476 "Fluentbit output to elasticsearch is missing milliseconds on @timestamp"
## Bug Report

**Describe the bug**

Fluentbit output to elasticsearch is missing milliseconds on @timestamp

config:
[code]
Version: Fluent Bit v1.4.2

Example record(please note the 000 in @timestamp (this is from the trace output of es plugin):

[code]

Actual log line from the application:
[code]

[2020-08-19 11:18] kenjapkowalczyk commented on #2416
Same issue on Fluent Bit v1.5.2

[2020-08-19 11:40] zebraincognito commented on #1525
I have the same issue with fluent-bit v.1.4.4. Debug/trace are pretty useless so there is no chance to find out what happened from logs:
[code]

[2020-08-19 11:43] zebraincognito commented on #2065
I have the same issue with fluent-bit v.1.4.4. Debug/trace are pretty useless so there is no chance to find out what happened from logs:
[code]

So it's unlikely was fixed or there are several reasons for that

[2020-08-19 11:57] FarhadF commented on #2476
Things I tried:
  - changing Flush to 0.5, still no milliseconds.
  - set Time_Key_Format
  - trying my config locally (just changed INPUT to tail to read from file) -> this works correctly
[code]

[2020-08-19 15:10] dexter-hwang opened #2477 "Timestamp_Key in kafka output"
in kafka output's config, `Timestamp_Key` must not be empty.

## disable Timestamp_Key

any solution of prevent from attach `Timestamp_Key`?
because, I don't want to change my original data.

like this
[code]

## nested key support

or, any solution of assign Timestamp_Key to nested field?

like this
[code]

[2020-08-19 18:23] pjaitken opened #2478 "remove librdkafka.dsc"
## Bug Report

After generating the source package, we use dpkg-scansources to find any source packages in the working tree. In the case of fluent-bit this returns not only the td-agent-bit .dsc and tarballs, but also libkrdkafka.dsc - which we don't think should be there. As the libkrdkafka.dsc file isn't at the top level of the working tree, copying that out fails.

The .dsc is meaningless witho

[2020-08-19 19:41] barney-s commented on #2390
Thanks @fujimotos
Few observations.
I followed the updated instructions. It builds but cpack fails.

When i try to cleanup build dir and restart with cmake -G "NMake", it fails at this stage itself. Missing "cl" compiler error.

[2020-08-19 19:52] PettitWesley commented on #445
Has anyone else ever run into this?

Max-file is set to 1 by default in docker: https://docs.docker.com/config/containers/logging/json-file/

You can update it with a custom docker daemon.json on your host.

[2020-08-20 14:07] amaheshwari21 commented on #1712
@edsiper Do you have latest on this issue? We are hitting the same problem. in our case log rotation is happening very quick within a min application is filling up the log >100Mb and fluent-bit is not able to process log lines on -json.log.1 (rotated file), even after we specify "rotate_wait = 30".

Can we prioritize providing fix for this?

[2020-08-20 16:20] FarhadF commented on #2476
One workaround would be to parse application timestamp key in parser and replace @timestamp

[2020-08-20 17:10] pikrzysztof opened #2479 "zstd compression for kafka doesn't work"
As per librdkafka documentation[1]:

* you need to install `libzstd-dev` to build rdkafka with zstd support

Apparently it's also recommended to statically link zstd to the producer:

[1]: https://github.com/edenhill/librdkafka/blob/master/README.md

[2020-08-20 17:25] danijanak commented on #1712
Hi, I am also running into issue due to high frequency file rotation and want to try this to see if it resolves my issue.
Can you please help?
I am using fluent-bit 1.5v and I am not exactly sure what location I have to put this piece of code. Also, do we have to update any other file then tail_fs_stat.c?

Help is much appreciated.

Thanks,

[2020-08-20 20:43] raffis opened #2480 "If a parser already exists additional parsers get ignored"
## Bug Report

**Describe the bug**
If a parser already exists the execution continues and ignores all other parsers configured in the same file after the duplicate.

Fluent-bit logs only initially if a parser was configured but not defined and it took me quite a while to see that log line because it doesn't get mentioned afterwards and the logs get forwarded without any problems however without t

[2020-08-21 07:19] PettitWesley commented on #2387
@dotanrs So far nothing... my DataDog FireLens task has been running for a day and its fine. I'll keep it going and check every few days though.

I'm not sure what to do to try triggering this- does your app log at a high rate? My fake testing app only emits one message per second.

[2020-08-21 08:12] fujimotos commented on #2390
Call `cpack -G "NMake Makefiles"`. The generator name needs to
be exactly "NMake Makefiles" rather than "NMake".

[2020-08-21 12:59] liweitianux opened #2482 "out_kafka: auto convert float to integer"
## Bug Report

**Describe the bug**
The `kafka` output plugin auto converts float numbers that don't have a fractional part (e.g., `2.0`) to integers (e.g., `2.0` get auto converted to `2` in the Kafka topic).  However, float numbers with a fractional part (e.g., `3.6`) are not affected.

**To Reproduce**
1. Use the following config `test.conf`
[code]
2. Run `td-agent-bit -c test.conf`, the `stdou

[2020-08-22 09:50] okamototk opened #2484 "Fail build with FLB_HTTP_SERVER"
## Bug Report

**Describe the bug**
Build fail with VS 2019 with FLB_HTTP_SERVER option.
Build is success without FLB_HTTP_SERVER option.

**To Reproduce**

* Environment

        3f8119c8 (HEAD, tag: v1.5.3-win32) core: libevent: import version detection fix from libevent

        cmake version 3.18.2

        Microsoft (R) C/C++ Optimizing Compiler Version 19.27.29111 for x64
        Copyright (

[2020-08-22 20:41] PettitWesley opened #2485 "Core Kinesis Firehose and Kinesis Streams plugins"
Currently we have go plugins:
- https://github.com/aws/amazon-kinesis-firehose-for-fluent-bit
- https://github.com/aws/amazon-kinesis-streams-for-fluent-bit

Ideally, these plugins should be re-written in C and contributed to the core of fluent bit. This would fix known throughput issues with the go plugins: https://github.com/fluent/fluent-bit/issues/2159

I will do this eventually, though I am n

[2020-08-22 21:43] jcantrill opened #2486 "CRIO Multiline support concatination"
**Is your feature request related to a problem? Please describe.**
This PR https://github.com/fluent/fluent-bit/pull/667 introduced support for CRIO Parsing but it is not accurate and can not be used to assemble split lines as it removes the `F` full line and `P` line indicator.  CRIO indicates it has split lines with a series of messages that match the regex in the PR with the exception they all

[2020-08-23 17:36] floriankoch opened #2488 "out_azure: respect REST API limits"
The azure datacollector api has some limitations
e.g may POST size 30MB
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#data-limits

I see that FLB_HTTP_DATA_SIZE_MAX is 4096 , mayb a good Idea to increase to 30MB for azure?

The same with http 429 Too many Requets
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#return-codes

this s

[2020-08-24 01:08] debu99 opened #2490 "Does all ouputs share the same buffer？"
We use fluentbit to send multiple application logs to es index and s3 bucket, and we found out if one index has some issue and got rejected by Elasticsearch(this will cause the sending retries infinitely if don't want lose log and set the Retry_Limit to false), after some time, all outputs will stop ingest new logs, may I know how to avoid this?I don't want one index issue blocks all others.

[2020-08-24 01:40] liweitianux commented on #2482
I was using Fluent Bit 1.3.11 (installed from the official RPM), which didn't have such an issue.

[2020-08-24 05:33] bluebike commented on #2465
That commit  8ca11d2  fixed it.   Thank.

[2020-08-24 05:33] #2465 closed

[2020-08-24 06:49] girgen opened #2491 "Build problem with clang: error: wrong type argument to unary minus when using "tm->tm_gmtoff = -(timezone);""
## Bug Report

**Describe the bug**
When building version 1.5.3 on FreeBSD, clang quits with an error:

[code]
**To Reproduce**
Using a FreeBSD-12.1 installation with a fresh ports tree, apply the patch below to the fluent-bit port directory and build the port.

**Expected behavior**
building without error :-)

**Screenshots**
[code]

**Your Environment**

* Version used: 1.5.4
* Configuration: [F

[2020-08-24 06:51] girgen commented on #2491
Same problem in 1.5.4

[2020-08-24 08:16] LionelCons opened #2492 "Do not use both warn and warning"
As discussed in https://github.com/fluent/fluent-bit-docs/pull/342, Fluent Bit uses both [warn](https://github.com/fluent/fluent-bit/blob/master/src/flb_log.c#L180) and [warning](https://github.com/fluent/fluent-bit/blob/master/src/flb_config.c#L383) to specify log levels.

This is _very_ confusing.

Please use only one of these, consistently.

[2020-08-24 08:46] eyalengel-pagaya commented on #1004
thanks for update, were waiting for it!

[2020-08-24 08:58] fujimotos commented on #2491
Hmm. It seems to be a quirk in FreeBSD. FreeBSD exposes a global symbol
`timezone` as a function (despite POSIX defines it as a long int).

 https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=24590

This is why the expression `-(timezone)` fails on FreeBSD.
I'll see if I can add some fix...

[2020-08-24 09:21] k3nny0ne commented on #2351
Any plans to enable Kafka Output support in 1.6.0 cycle?

[2020-08-24 11:34] girgen commented on #2491
Great! Please just ask if you need any help with testing etc.

[2020-08-24 17:08] amaheshwari21 commented on #1712
@edsiper  You can rotate the container log file every 30-40 sec

docker daemon.json setting "max-size=10m, max-file=2" and that will help you  reproduce this issue.

[2020-08-24 19:58] ts3ng opened #2494 "Fluent-bit dropping events after upgrading to Fluent-bit 1.5"
## Bug Report

We are seeing events being dropped when we upgrade to fluent-bit 1.5.3 from fluent-bit 1.4.6.  Here are the Load tests we are running using the fluent-bit dummy...

When running fluent-bit dummy at 2400 events/sec @2kb events.  We see large log drops Here are our load test results.
fluent-bit 1.4.6 tests
![Screen Shot 2020-08-21 at 9 11 59 AM](https://user-images.githubusercontent.c

[2020-08-24 20:44] tom-dudley commented on #2473
Hey @stanislaw55 - I believe I faced the same or a very related issue as you. I've raised #2495 which seems to fix the issues I was facing. I ran your multiline message through my branch (without any parsers set) and got the following output. Is this roughly what you were expecting?

[code]

[2020-08-24 23:58] edsiper commented on #2376
would you please try the latest 1.5.4-debug ? that one comes with a fix for the stacktrace

[2020-08-25 00:53] debu99 opened #2496 "How to set storage.path file name"
**Expected behavior**
In K8s, we want to use shared volume like NFS or PV to store the backlog when memory/buffer is gone, but since storage.path can only set the folder name, we would like to set the different file name for each fluentbit daemon set, so even fluentbit upgrade or node scale down, the backlog does not lose and if all daemon set to the same shared folder, it won't conflict.

**Descr

[2020-08-25 06:20] stanislaw55 commented on #2473
Hi @tom-dudley
Your PR seems promising to fix the issue. Right now I went for using Lua script and it works fine for me.

About the results: actually, the best I could get was similar to what you have presented but each `log` line after the first line was appended to `thread` field, with missing `message` field. Very similar, just whole rest squashed with `thread`.

What I was expecting was someth

[2020-08-25 07:23] phiremande opened #2497 "SIGSEGV: when destroying connection"
## Bug Report

**Describe the bug**
There is a double free when destroying connections, if the endpoint in unavailable.

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:

 349 ==29485== Invalid write of size 8
 350 ==29485==    at 0x17479C: __mk_list_del (in /usr/local/bin/fluent-bit)
 351 ==29485==    by 0x1747D3: mk_list_del (in /usr/local/bin/fluent-bit)
 352

[2020-08-25 07:30] phiremande commented on #2497
@edsiper , I see that there is double free happening.

 34 ^[[1m[^[[0m2020/08/25 11:19:12^[[1m]^[[0m [^[[93mdebug^[[0m] [upstream] KA connection #21 is in a failed state to: 192.168.99.99:80, cleaning up
 35 ^[[1m[^[[0m2020/08/25 11:19:50^[[1m]^[[0m [^[[91merror^[[0m] [http_client] broken connection to 192.168.99.99:80 ?
 36 ^[[1m[^[[0m2020/08/25 11:19:50^[[1m]^[[0m [^[[91merror^[[0m] [output:http

[2020-08-25 11:53] mihaialexandrescu commented on #2375
More to lbogdan's point :  the example given in the docs for v1.5 (https://docs.fluentbit.io/manual/administration/networking#example) doesn't work as advertised.

I've tested that exact config (from the networking doc page) on localhost on a RHEL 7.6 with version td-agent-bit v1.5.4 and the TCP connection is closed by the source (`nc -l` dies) after 1 message (with that config) unlike what is sho

[2020-08-25 13:12] angristan opened #2498 "Stream Processing converts strings to numbers"
## The issue

We're using fluent-bit to process some Haproxy logs. Using `[PARSER]`, we extract some fields using a regex. By looking at https://github.com/fluent/fluent-bit/pull/310, it seems these fields are typeable, and strings by defaults.

The output of [PARSER] looks like this:

[code]

As we can, see, these are all strings.

We use a simple stream task:

[code]

Looking at the output, ever

[2020-08-25 14:22] JeffLuoo opened #2499 "[out_stackdriver]: Fail to parse the local_resource_id when kubernetes filter is using."
## Bug Report
When kubernetes filter is using, the tag of the log record will be like
[code]

However, the current implementation of out_stackdriver plugin assumes that the tag was in format like
[code]
**Describe the bug**

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

**Expected behavior**

**Screenshots**

**Your En

[2020-08-25 14:49] yang-padawan opened #2500 "Add option for multiline exec plugin output"
**Is your feature request related to a problem? Please describe.**
The `exec` plugin creates separate record for each newline produced by the executed command. There seems to be no workaround for a situation where the executed command returns multiline string that needs to be processed as a single message. I understand this approach in case of `tail` plugin, but I fail to see the reason why `exec`

[2020-08-25 19:04] koleini commented on #2498
Hi @angristan, that was an intention in the initial design of Stream Processor. The main motivation was the assumption that clients may mistakenly use stringified numbers in records (for example in JSON objects), and such string-to-int conversion would be helpful in general and allows applying mathematical computations on such fields (similar to `return_code` in your record).

However, in your cas

[2020-08-25 19:24] angristan commented on #2498
I see! It makes total sense, unfortunately I hit an edge case 🙂

[2020-08-25 22:02] jaypipes commented on #1948
I would definitely advise against relying on a private, unpublished Kubelet API endpoint like `/pods`. AFAIK, there's no *immediate* plans to get rid of it, but the general rule of thumb is that everything should query for Kubernetes-specific information using kubeapi-server so that there is a single place to control access, to apply rate-limiting and congestion control, and to be able to scale fo

[2020-08-26 13:16] yang-padawan opened #2504 "exec input plugin always strips last character, even if it is not a newline"
## Bug Report

**Describe the bug**
`exec` input plugin always strips last character from command output, even if it is not a newline. This happens when `buf_size` is reached when reading the output.

**To Reproduce**
```fluent-bit  -i exec -p 'command=echo abcdefghijklmnopqrstuvwxyz' -p "buf_size=8" -o stdout```
[code]

**Expected behavior**
Only strip newlines.

**Your Environment**
Tried on Cen

[2020-08-26 15:45] jcantrill commented on #2486
closing in favor of #1316

[2020-08-26 15:45] #2486 closed

[2020-08-26 18:23] PettitWesley commented on #1948
@derekwaynecarr and @dashpole one thing to mention is that this would be an opt-in feature. The default would be to call the API server, using the Kubelet would be something the user would have to choose. So if there are some things we need to consider, as long as they aren't too complicated they could be called out in the documentation associated with the option.

[2020-08-26 18:28] DennisKehrig commented on #2494
+1. Based on what I've seen, fluent-bit 1.5.3 just processes messages more slowly, and eventually cannot keep up anymore, skipping the rest of the rotated 256 MB log files (max files: 2). At the same log rate, a much larger percentage is tagged as coming from the rotated file (ending in `.1`). As we've seen when 1.4.6 cannot keep up (at much higher rates), it seems like inotify events get skipped,

[2020-08-27 01:04] edsiper commented on #1444
Not a Fluent Bit issue, closing

[2020-08-27 01:04] #1444 closed

[2020-08-27 01:06] #1479 closed

[2020-08-27 01:06] edsiper commented on #1493
You can use the Unix_Perm option: https://docs.fluentbit.io/manual/pipeline/inputs/syslog#configuration-parameters

[2020-08-27 01:06] #1493 closed

[2020-08-27 01:08] edsiper commented on #761
FYI: Stackdriver output plugin has been improved heavily the latest team (thanks to Google team involvement in the project), I am closing this ticket. Pls create a new one if you still faces an issue.

[2020-08-27 01:08] #761 closed

[2020-08-27 03:38] PettitWesley commented on #2497
@phiremande Can you submit a PR with your fix? It'll be easier to review your proposal if it is a pull request.

[2020-08-27 05:47] inistor commented on #2056
Hello @edsiper,

Any news about this topic? Is it being considered as an enhancement?

Thanks,
Ion

[2020-08-27 07:50] phiremande commented on #2497
@PettitWesley , please review the PR.

[2020-08-27 08:30] PettitWesley commented on #2494
@ts3ng @DennisKehrig Thank you both for this detailed report. I am the AWS maintainer of Fluent Bit, and recently I have seen a complaint from a user of one of the AWS outputs that sounds a lot like what you folks are seeing.

Unfortunately, I checked and there haven't been a lot of changes in the tail plugin since 1.4.6. Which means that if your report is correct, then the following statement fro

[2020-08-27 09:47] osela opened #2508 "SIGSEGV while getting kubernetes metadata"
## Bug Report

**Describe the bug**

We're running fluent-bit as a daemonset on kubernetes 1.18.6. Using either fluent-bit 1.5.4 or 1.5.3 the pods on some of the nodes go into a crush loop. Interestingly, pods on other nodes function correctly.

Running 1.5.2 results in all pods running correctly without any restart.

While pods are restarting the following line appears in the api server logs:

[c

[2020-08-27 10:43] hemalsolgama commented on #649
I am facing the same issue with Fluent bit 1.5..

We have GKE cluster and while using fluent bit for large number of logs, some of the pods just stop working after few hours and everyday we have missing logs of many containers.

I even tried to add file system storage but still there is no luck.. Here is my fluent bit configuration file:

apiVersion: v1
data:
  filter-kubernetes.conf: |
    [FILTE

[2020-08-27 10:46] hemalsolgama opened #2509 "I am facing missing log issue with Fluent bit 1.5.."
I am facing missing container logs issue with Fluent bit 1.5..

We have GKE cluster and while using fluent bit for large number of logs, some of the pods just stop working after few hours and everyday we have missing logs of many containers.

I even tried to add file system storage but still there is no luck.. Here is my fluent bit configuration file:

apiVersion: v1
data:
  filter-kubernetes.conf

[2020-08-27 12:29] nsvijay04b1 commented on #2395
could you please post working configuration.
I want to rename my label from  **kubernertes.labels.app**  ->  **kubernertes.labels.application**  and
**kubernertes.labels.app.google.com/app -> kubernertes.labels.app.google.com/application**

[2020-08-28 03:34] gitfool commented on #1499
Here's a derivative of @konstantin-kornienko's idea using [lua-cjson](https://github.com/openresty/lua-cjson) for metadata and the [json parser](https://docs.fluentbit.io/manual/pipeline/parsers/json) for structured log messages:

`fluent-bit.conf`:
[code]
`parsers.conf`:
[code]
`filters.lua`:
[code]
Install the native lua module using [LuaRocks](https://luarocks.org/):
[code]
Or build your own do

[2020-08-28 08:59] thisisabhishek commented on #506
How to set the Parser for handling the time field for logs like this:

[code]

This is default log format for logs printed in JSON layout using log4j2 in Java. How to specify two different fields, whose combination gives us the correct time?

Should this work?

[code]

The **instant** key here is a JSON string map with **epoch** and **nanoOfSeconds** fields.

[2020-08-28 16:24] DennisKehrig commented on #2494
I've looked at when log messages arrive in Splunk (based on _indextime) and I'm seeing a less steady flow of messages this way. Basically both versions routinely manage to push the same typical number of messages per second into Splunk, but 1.5.3 somehow is slower than that more often, even had a 6s gap where no messages made it to Splunk at all.
I see 1.5.3 losing messages at much lower log rates

[2020-08-28 17:13] debu99 commented on #2509
enable debug log on elasticsearch

[2020-08-28 17:18] debu99 opened #2510 "Lost logs during forward"
We are using fluentbit to collect pod logs in k8s, fluentbit is configured to send logs to elasticsearch and also forward to Fluentd(both are no tls), but after we compare two output logs, we found sometime the log count is not match, output forward missed some logs, does anyone encounter the same issue?

[2020-08-29 23:36] Robert-turbo commented on #1938
The same problem is with sending gelf over http to Graylog.
When Flush in SERVICE is set to 5, than I can see only one message per 5 seconds in Graylog.
When I change Flush to 1, then, there is one message per second.

Is there anything I should put in configuration file to have all messages in Graylog? :)

[2020-08-31 04:21] davidnewhall opened #2513 "Please add TLS/SSL support to syslog input plugin."
**Is your feature request related to a problem? Please describe.**
I'm only able to send syslog messages to fluent-bit across a network using plain text UDP or TCP.

**Describe the solution you'd like**
Please add TLS support to the syslog input plugin.

**Describe alternatives you've considered**
I'm currently running a sidecar container with nginx to terminate SSL and write to a syslog socket fi

[2020-08-31 06:26] PettitWesley commented on #2494
@DennisKehrig I have no reason to believe that that 1.5.3 would be more taxing on the CPU. But I'm not aware of all the changes that were made in the code between these two versions, may be something has changed. Someone needs to do some profiling/testing.

[2020-08-31 10:24] hemalsolgama commented on #2509
It didn't help out.. Can anyone please suggest what could be the problem here?

[2020-08-31 13:02] nsvijay04b1 commented on #2395
please let me know if u can help?

[2020-08-31 14:05] imrtfm commented on #2395
In fact, I was confused because my output was showing dots "." instead of underscores "_". After debugging the whole thing, I understood that this transformation was made AFTER my fluentbit rename rules. I then replaced all the "_" with "." in these rename rules and it suddenly worked!

[2020-08-31 14:09] imrtfm commented on #2395
If the labels are nested, you probably need to lift them before (check my configuration further up). I did not managed to rename any nested elements, so it's probably not possible... If someone can confirm this behavior, would be nice to know :)

[2020-08-31 14:24] marklinders-planon opened #2514 "Dynamic creation of Elasticsearch indexes"
**Is your feature request related to a problem? Please describe.**
I am not able to dynamically create Elasticsearch indexes based on the Kubernetes namespace name. Because in our setup the namespace name is customer separated and from a platform perspective we are not aware of the customers that get created, we cannot pre-provision the indexes.

**Describe the solution you'd like**
To be able to

[2020-08-31 18:01] zebraincognito opened #2515 "Fluent Bit v1.5.4 SIGSEGV on startup when using kafka output"
## Bug Report

**Describe the bug**
Using Fluent-bit kafka output leads to SIGSEGV crashing on one of the pods right after start up while other pods work as expected. Logs are useless on any level i.e. no chance to read which event/log message leads to this error.

Logs (debug):
[code]

**Environment**

* Version used: 1.5.4
* Configuration:
[code]

* Environment name and version
Azure AKS
Kuberne

[2020-08-31 19:59] thisisabhishek commented on #2210
@fujimotos @edsiper Don't you guys think that time in millis should also be supported by default.

We get the following logs with Log4j2 JSON layout:

`{"timeMillis":1598609645725,"thread":"main","level":"WARN","loggerName":"com.abhishek.test.AppHelper","message":"Everything is working fine.","endOfBatch":false,"loggerFqcn":"org.apache.logging.slf4j.Log4jLogger","threadId":1,"threadPriority":5}`

[2020-09-01 01:04] rakelkar opened #2517 "Support bearer_token_file option on HTTP output plugin"
**Describe the solution you'd like**
Would be great if the HTTP plugin supported reading a file to retrieve the token to use for the HTTP auth header. This is similar to the `bearer_token_file` option on [Prometheus remote write config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/).

**Describe alternatives you've considered**
The plugin does support headers as part of

[2020-09-01 03:32] Mokon opened #2518 "Retrieving the source ip for input"
Right now I have a syslog line coming into fluentbit that doesn't have a hostname. This syslog line could come from any number of hosts. These parse fine but I need a hostname set so I have a filter which sets one:

[code]
The problem here is SOME_ENV_VAR here is not very descriptive.

Ideally what I would like is another key the syslog input sets which is the source ip of the the syslog message.

[2020-09-01 04:46] pranavmarla opened #2519 "Lua filter either truncates or corrupts Fluent Bit's nanosecond-resolution timestamp"
## Bug Report

**Describe the bug**
I am trying to inject Fluent Bit's nanosecond-resolution timestamp into the log itself. As per [the docs](https://docs.fluentbit.io/manual/pipeline/filters/lua), the recommended approach is to use a Lua filter -- unfortunately, in practice, Lua either loses some of the resolution (drops some of the decimal places) or appears to actually corrupt the timestamp (i.

[2020-09-01 05:49] PettitWesley commented on #2387
We think we have made some progress in debugging this issue. Please see the suggestion here: https://github.com/aws/aws-for-fluent-bit/issues/66#issuecomment-684371904

[2020-09-01 11:37] Nikita128 commented on #2430
Sorry for very late update. I've tried sending logs to Loki and PostgreSQL simultaneously, and that's like how @edsiper said. When I'd shut down postgresql server, fluent-bit kept sending logs to Loki, but when I'd shut down Loki, fluent-bit stopped sending logs to postgresql.
Also I noticed this error message popping up when Loki was unreachable:
`level=warn caller=client.go:245 id=0 component=cl

[2020-09-02 00:59] JeffLuoo opened #2521 "[out_stackdriver]: Invalid memory access when processing backoff logs"
## Bug Report
[code]

**Describe the bug**

Invalid access to memory that has been freed.

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
1. Have an offline environment to buffer some ~ 20MB logs in local file system.
2. Stop Fluent Bit.
3. Restart Fluent Bit in an environment with internet connection.

We can set the ip

[2020-09-03 01:14] jpaskhay commented on #2482
It appears that #1439 is the root cause of this issue. This effects all output plugins when specifying JSON format.

@liweitianux If you change the `Format` to `json` in your `stdout` output (it defaults to `msgpack`), you should also see the issue there.

[code]

[code]

You can even see the difference by just using `awk`:

[code]
[code]

[2020-09-03 01:48] liweitianux commented on #2482
@jpaskhay Cool. Good catch!

I've never know such a behavior of the `g` conversion.  So I just had a read about it; quoting from "C: A Reference Manual" (5ed):

So I think we may need to use `%#.16g` here. e.g.,

[code]

Regards

[2020-09-03 10:22] jonathanjuursema opened #2522 "Kubernetes metadata no longer present in logs when upgrading beyond 1.5.0."
## Bug Report
I'm not absolute positive this is a bug, it might very well be a configuration issue on our side. Any help in troubleshooting would be immensely helpful.

**Describe the issue**
We're using fluentbit as part of [aws-for-fluentbit](https://github.com/aws/aws-for-fluent-bit) in an EKS cluster on AWS. Upgrading from aws-for-fluentbit 2.3.1 (fluentbit 1.4.2) to 2.6.1 (fluentbit 1.5.2) le

[2020-09-03 11:09] yang-padawan opened #2523 "in_exec plugin crashes agent if linked regex parser pattern doesn't match record"
## Bug Report

**Describe the bug**
When using `exec` input plugin with `regex` parser, agent crashes in case the regex pattern cannot be applied.

**To Reproduce**

Use `cat` command to produce simple `exec` input data.

- Steps to reproduce the problem:

`test_file.txt`:
[code]

`parsers.conf`
[code]

`fluent-bit.conf`:
[code]

- Example log message if applicable:
[code]

Removing the last line

[2020-09-03 18:17] #2523 closed

[2020-09-03 18:35] jpaskhay commented on #2482
I took a look at one of the JSON libraries Fluentd uses (Oj) to see how they handle it, and I like the way they explicitly handle the use case: https://github.com/ohler55/oj/blob/v3.10.13/ext/oj/dump_strict.c#L100-L101. Feels a little cleaner and could cut down on the extra bytes for all the 0's getting serialized in the string (it's not a lot, but could potentially be at scale).

[2020-09-03 22:26] uninvited opened #2525 "systemd input not working (Ubuntu)"
## Bug Report
I'm trying to use systemd input on Ubuntu 18.04, but get an error

The configuration is similar to the one from the examples:
[code]

I've tried to re-build with `-DFLB_IN_SYSTEMD=On` (though it seems to be enabled by default anyway), without success.
These packages are installed:

I've also tried to install systemd plugin separately:

but it did not help either.

* Version used: 1.6

[2020-09-04 03:13] PettitWesley commented on #2525
Anything you can `gem install` is Ruby and thus is Fluentd.

I had the same problem on Amazon Linux a long time ago. You must install the right systemd packages, the ones for development. On some distros they will have "devel" in the name. Not sure what the right one is one Ubuntu.

The dockerfile here is based on debian, package names might be the same on ubuntu: https://github.com/fluent/fluent-

[2020-09-04 03:19] PettitWesley commented on #2522
@jonathanjuursema Not certain of the cause of this... it is suspicious that the exact same config works in a previous version.

I suggest testing the config by isolating portions of it (strip it down to just the input and the output, see what you get, and then keep adding plugins/configs back in). That might illuminate some insights.

I also want to suggest that you should try the new `cloudwatch_

[2020-09-04 07:43] uninvited commented on #2525
Wesley, thanks for the reply!

I have `libsystemd-dev` and `libsystemd0` packages installed. Could not find any other systemd-related packages for Ubuntu.
Also, just checked that I do have these files on my system (they are mentioned in your Dockerfile):

So maybe systemd input plugin is just not supported on Ubuntu? Has it been tested with this OS?

Actually my final goal is to use fluent-bit on

[2020-09-04 08:03] PettitWesley commented on #2525
Systemd input plugin definitely works on Ubuntu. I mainly use Amazon Linux as my testing/dev enviroment, but I also have an Ubuntu VM which I occasionally use. I have built Fluent Bit from source on it. I just checked, the systemd plugin seems to have been built fine. I can reference it in a config. I don't get the "Input plugin 'systemd' cannot be loaded" message on startup.

And the main Fluent

[2020-09-04 08:23] uninvited commented on #2525
I've just made it work! Not sure what exactly helped, I did two things:
1. installed couple of missing libraries mentioned in Dockerfile (`libpq-dev` and `liblz4-dev`)
2. rebuilt fluent-bit with `-DFLB_ALL=On`

Thanks for help!

[2020-09-04 11:12] viacheslave opened #2526 "Failing to find files in missing folders in tail input should be considered as errors"
**Is your feature request related to a problem? Please describe.**
The problem:
Fluent-bit reports errors and warnings when log files (are directories) are not there. The messages come up every `Refresh_Interval` which clutter up fluent-bit logs (we have a rich configuration with a lot of such path patterns).
Logs at `/logs/service/*/requests/*` may not be there a the moment, but may arrive there

[2020-09-04 11:16] viacheslave commented on #2526
This is somewhat resembles [#525](https://github.com/fluent/fluent-bit/issues/525)

[2020-09-04 12:36] jonathanjuursema commented on #2522
@PettitWesley thanks for getting back! I've tried to minimize the config as you requested. In the config of my original message, I've changed the config map as follows:

[code]

With the container version `2.3.1` this results in the following documents in ElasticSearch:
[code]

When upgrading to `latest`, these documents are submitted:
[code]

For good measure, I also removed the Kubernetes filter

[2020-09-04 17:03] PettitWesley commented on #2522
@jonathanjuursema the only thing I see which is interesting about your config is that the kubernetes filter lacks many of the options which I normally see: https://github.com/fluent/fluent-bit-kubernetes-logging/blob/master/output/elasticsearch/fluent-bit-configmap.yaml

The fact that this stopped working when you upgraded is odd and does make it seem like its a bug... on the other hand... 1.5.x h

[2020-09-04 17:20] jakila opened #2527 "[out_datadog] on windows sends wrong timestamps, causing datadog to discard the log entries"
## Bug Report

**Describe the bug**
On windows, the plugin out_datadog seems to send wrong timestamps to datadog servers. This causes datadog to discard the incoming log entries.
The exact same configuration and version of fluent-bit on Ubuntu 20.04 works fine, i.e. the log entries are visible on datadog.

**To Reproduce**
i am using the following configuration:
[code]
using this configuration fil

[2020-09-04 17:50] TechIsCool commented on #560
Just adding on another one. I would love to use stream processing to collect some metrics for prometheus.
Examples
  - I want to know which kubernetes namespace / pod is producing logs
  - I want to know how many logs are error vs warning etc.

[2020-09-04 17:52] phiremande opened #2528 "Reachability of kafka-rest proxy via custom path"
**Is your feature request related to a problem? Please describe.**
If there exists a load balancer in front of the kafk-rest proxy and strips paths the kafka-rest proxy cannot be reached due to fixed URL path.

**Describe the solution you'd like**
Provide a configuration parameter for appending URL path.

**Describe alternatives you've considered**
None.

**Additional context**
kafka-rest proxy si

[2020-09-04 20:42] #2525 closed

[2020-09-04 21:19] philomory opened #2530 "[Feature Request] Add data-type condition checks to Modify filter"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to condition behavior on the data type of a field, without using the `lua` filter.

**Describe the solution you'd like**
We already have the `Modify` filter which accepts a `Condition` parameter which can perform a variety of different checks on a field such as `Key_Exists`, `Key_Value_Equals` and `Key_Value_Mat

[2020-09-05 04:36] #1724 closed

[2020-09-05 06:12] tarunwadhwa13 commented on #303
Has anyone got this working with msgpack format? We push logs to Kafka from fluentbit to handle sudden Bursts. Our logstash service is picking logs from Kafka and stashing to ES.

Fluentbit Kafka msgpack format is neither getting parsed with logstash's msgpack codec nor with fluent codec.

Wanted to understand if there is any difference in fluentd msgpack and fluentbit's msgpack output.

[2020-09-06 07:39] obeyler commented on #2095
same pb, do you find a solution for this?

[2020-09-06 22:55] edsiper commented on #2497
Fixed in #2531

[2020-09-06 22:55] #2497 closed

[2020-09-06 22:56] edsiper commented on #2403
Fixed in #2531

[2020-09-06 22:57] #2403 closed

[2020-09-06 22:59] edsiper commented on #2272
Starting from Fluent Bit v1.5.x keepalive is enabled by default:

https://docs.fluentbit.io/manual/administration/networking#tcp-keepalive

[2020-09-06 22:59] #2272 closed

[2020-09-07 00:53] PettitWesley commented on #2497
@edsiper please ping here when the release with the fix is out. Thanks!

[2020-09-07 02:30] FallenWarrior2k commented on #2095
I added a custom parser that was essentially the same as the provided parser but with the modified regex included in my original post, i.e. like this:
[code]

[2020-09-07 06:58] obeyler commented on #2095
Thanks @FallenWarrior2k  could you post you full config map to avoid error ?

[2020-09-07 07:45] jonathanjuursema commented on #2522
@PettitWesley regarding the options you normally see: the Kube_* options anyway are, in the file you linked and in the documentation, explicitly set to the default value as far as I can make up from the documentation itself. This is not applicable to the Merge_* and K8S-Logging* options.

For our use-case, we will stay on fluentbit 1.4.2 for now and will take some time in the near future to spend

[2020-09-07 08:10] zihengCat opened #2535 "Add Trend Micro logo to Fluent Bit users"
Hi @edsiper and Fluent Bit core dev team,

Thanks for developing such a great tool.
[Trend Micro](https://www.trendmicro.com/en_us/business.html) use `fluent-bit` as our new logs collection solution. We marvel at its high performance and flexibility.
Hopes that CNCF makes Fluent Bit grow rapidly.

Please add Trend Micro's logo to the users collage. Thanks!

![Trend-Micro-Logo svg](https://user-ima

[2020-09-07 15:30] 123BLiN opened #2537 "A way to limit the maximum parsing depth for JSON"
**Is your feature request related to a problem? Please describe.**
Our applications (in k8s) produce huge nested json fields that we don't wan't to parse and want to store them in elasticsearch as is, in single field. We need a way to exclude these fields from docker parser.

**Describe the solution you'd like**
We would like to have max_depth configuration parameter for all json parsers like in f

[2020-09-08 02:33] zihengCat commented on #2537
@123BLiN
Cloud you provide some log samples and Fluent Bit configurations?

[2020-09-08 04:09] edsiper commented on #2497
@PettitWesley v1.5.5 is out: https://fluentbit.io/announcements/v1.5.5/

[2020-09-08 17:16] 123BLiN commented on #2537
Config:
[code]
Example log:
[code]
So for instance I don't want to parse request and response fields but in general I want to omit any nested JSON

[2020-09-08 17:57] inosvaruag commented on #2290
I've opened an identical request on FluentD's eventlog plugin - https://github.com/fluent/fluent-plugin-windows-eventlog/issues/65.

It would be great to see similar support in FluentBit.

[2020-09-08 21:19] FallenWarrior2k commented on #2095
I used the stable/fluent-bit Helm chart when I encountered this issue. Here's the relevant parts from my values.yml:
[code]

[2020-09-09 05:19] stevenarvar opened #2538 "fluent-bit v1.5.5 outputs resource temporarily unavailable errors"
## Bug Report

**Describe the bug**
I am consistently getting a lot of these error messages with fluent-bit v1.5.5:
[code]
Once I downgrade back to v1.5.4, I don't see these "Resource temporarily unavailable" errors but I still see "Inappropriate ioctl for device".

While on v1.5.5, I turned on debug mode and got some related logs:
[code]
**To Reproduce**
- Steps to reproduce the problem:
Configur

[2020-09-09 06:22] zihengCat commented on #2537
@123BLiN

Yes, change app logging configurations form producing JSON object to raw JSON string is a feasible solution.

I would like to provide another tricky solution based on *Lua* filter. The main ideal is: **convert parsed JSON object (`msgpack` innerly) back to raw JSON string using Lua script**. I explain you how to do that.

I construct a complex log based on your example log, it may corres

[2020-09-09 06:27] PettitWesley commented on #2538
@stevenarvar Can you try removing each of the outputs one by one and isolate whether this comes from the forward output or the stackdriver output, or both?

[2020-09-09 07:26] 123BLiN commented on #2537
@zihengCat awesome! Thanks a lot for such detailed answer, need to look closer on lua filters.
I'm closing this issue as I have now multiple ways to solve my problem.

[2020-09-09 07:26] #2537 closed

[2020-09-09 13:29] peetasan commented on #1897
@alekseydemidov when I set `Gelf_Host_Key` to `stream` I will get stdout or stderr as source. What can I do if I want something else like container name or similar?

[2020-09-09 18:46] scriptmaster commented on #2023
Confirmed closed. I had the same problem I tried `Sequence_Tag ""` but that created a key named `""` and after setting `Sequence_Tag off` I can confirm it doesn't create the _seq and saves indexing/series-cardinality.

Quoting source code plugins/out_influxdb/influxdb.c:
[code]

[2020-09-09 22:53] stevenarvar commented on #2538
@PettitWesley I disabled all OUTPUT plugins except one stackdriver output and here is what I get:

[code]
The above error just keep showing up ever 2 seconds or so.  Below is the OUTPUT plugin config:

[code]

[2020-09-09 22:58] edsiper commented on #2538
I think the error problem is because of this:

https://github.com/fluent/fluent-bit/blob/1.5/src/flb_upstream.c#L356

[2020-09-09 23:01] lalithvaka commented on #1903
Hi @Mosibi, am seeing warning messages in our environment like the following with FB version 1.15.3. Our Mem_Buf_Limit     5MB. Did it help increasing this buffer to fix you issues?
[code]

[2020-09-09 23:04] PettitWesley commented on #2538
@edsiper Should we remove that call to `flb_errno()`, or is there some way we can make the errno print go to a debug log?

[2020-09-09 23:07] edsiper commented on #2538
yes, I introduced that one in the latest version accidentally. So the exception is good (because the keepalive connection is in a bad state and cannot be reused), but the error message is noisy and gives the wrong perception

[2020-09-10 06:24] SuvratAgrawal commented on #2538
We are also getting same error in our setup. Would like to have the resolution.

[2020-09-10 08:12] Mosibi commented on #1903
Yes it did, eventually I had it set to 512MB, just to have a upper limit we would not reach very soon. At the moment I do not use fluent-bit, because of other reasons I had to move to fluentd in that specific environment

[2020-09-10 08:33] 123BLiN commented on #2219
What I don't understand is who is producing this field actually?
This is not docker parser theoretically as I have `TimeKeep Off` set up, so who is this?
I have only one suspect - it is kubernetes filter, but it does not have options to exclude some fields, and current helm chart is not able to add multiple filters one by one in config to remove this field in next filter manually - check and mate!

[2020-09-10 12:33] cflee commented on #2538
I'm using forward output only and am also seeing (slightly different) error messages with 1.5.5 which point to the same line, and they also go away once I rollback to 1.5.4. It is mostly various combinations of:

[code]

In debug mode it's similar, KA connection is available then becomes failed state.

I'm commenting here as it looks really similar and to let you know that I see it with forward ou

[2020-09-10 12:59] tarvip commented on #2509
Yesterday I was also investigating similar issue where fluent-bit got stuck, it got stuck even with null output plugin.
strace was following:
[code]
and gdb:
[code]

tried also http output plugin, result was same, it got stuck writing back to ch_manager.

As a workaround I found that adding SYS_RESOURCE capability helped.

[code]

I think there is some sort of resource issue.

[2020-09-10 20:24] vasudeva78 commented on #1942
Deleting Logstash_Format  On in [OUTPUT] section made fluent-bit flush messages to ES.

[2020-09-10 23:14] edsiper commented on #2538
This is fixed in 1a959e79f893455e4c43ae4adf8726b10d44bef7

I will release v1.5.6 tomorrow Friday with this fix on it.

[2020-09-11 13:07] yang-padawan opened #2542 "in_cpu: per-process stats are not normalized by number of cores"
## Bug Report

**Describe the bug**

CPU usage for a specific PID is not normalized by number of cores.
Since [the documentation](https://docs.fluentbit.io/manual/pipeline/inputs/cpu-metrics) explicitly states that "_The result takes in consideration the numbers of CPU cores in the system_", it could be expected that it is the case for both system CPU and per-process CPU (not only the former).

**

[2020-09-11 17:24] dashpole commented on #1948
The /pods endpoint isn't going away, but we generally only recommend using it for debugging.  IIRC, static pods status is still not updated correctly, and may not match the pod in the API Server (we call the pod on the API server the "mirror" pod, and it is different from the "static" pod reported on the /pods endpoint IIRC.

What pieces of information do you use from pods?  Just UUID, or other th

[2020-09-11 18:27] edsiper commented on #2538
https://fluentbit.io/announcements/v1.5.6/

[2020-09-11 18:27] #2538 closed

[2020-09-11 18:28] edsiper commented on #2508
would you please check if you can reproduce it with v1.5.6 ?

https://fluentbit.io/announcements/v1.5.6/

[2020-09-11 20:10] PettitWesley commented on #1948
@dashpole Thanks, I will read up on that. Is `podresources` something scalable that could have 2000+ Fluentd or Fluent Bit agents reading from simultaneously in a large cluster?

Adding this link, for the benefit of others: https://docs.google.com/document/d/1NYnqw-HDQ6Y3L_mk85Q3wkxDtGNWTxpsedsgw4NgWpg/edit

[2020-09-11 20:14] dashpole commented on #1948
It is a kubelet endpoint, so I would hope there is only a single fluentd/bit accessing it at once on each node.

[2020-09-11 20:17] dashpole commented on #1948
I completely forgot I had written that doc. :)

[2020-09-11 23:02] edsiper commented on #2248
@xuyang1996

Your ```log``` key does not exist (using your example, formatted for readability):

[code]

as you can see there is no ```log``` key there. You should use either, date, thread, level, ip, trace_id and others as your KEY for the configuration.

note: I noticed the root cause of the problem was the confusing documentation example, I've updated it now:

https://docs.fluentbit.io/manual/p

[2020-09-11 23:19] edsiper commented on #1295
[DISCLAIMER: my apologies for the very long delay!]

I cannot reproduce the problem locally, note that I've used Fluent BIt v1.5.x and a tail source file with your content example and works fine:

[code]

note: using jq for formatting. I suspect the problem was a bug in the TCP input plugin which was already addressed months ago

[2020-09-11 23:21] edsiper commented on #2416
I think the sigsegv reported is a known bug that was already fixed in the latest version, please upgrade to v1.5.6:

https://fluentbit.io/announcements/v1.5.6/

[2020-09-13 07:00] osela commented on #2508
@edsiper still failing with v1.5.6

[code]

[2020-09-13 22:49] stevenarvar commented on #2538
Ran v1.5.6, don't see the errors

[2020-09-14 03:02] majoyz commented on #2509
I have the same problem ... Fluent-bit stop working after several "Connection time out", influxdb didn't get any data and fluent-bit didn't show any logs. My fluent-bit works in kubernetes.

[2020-09-14 04:57] tarunwadhwa13 commented on #1004
@PettitWesley - do we have any update? Any pre-release version available for testing?

[2020-09-14 05:29] PettitWesley commented on #1004
@fujimotos Sorry, I forgot your comment.

The plugin is mostly done. Internally we are in the testing phase. Though I am still working on some small enhancements and fixes.

This branch will continue to be updated as I finalize things: https://github.com/PettitWesley/fluent-bit/tree/1_6-pen-test

If you want to start playing with it, its essentially feature complete.

CC @tarunwadhwa13

[2020-09-14 05:51] fujimotos commented on #1004
@PettitWesley Thank you for the update. I'll check the branch out.

[2020-09-14 08:53] fujimotos commented on #2527
This is apparently an overflow issue. My guess is that this issue
is occurring due to `tm.tv_sec` being 32 bit on Windows

I'll take a closer look tomorrow; WFM.

[2020-09-14 10:00] dotanrs commented on #2387
@PettitWesley this works for me 🙂
Thanks!

[2020-09-14 12:09] jacekmackiewicz opened #2547 "Windows executable missing gelf output"
## Bug Report

**Describe the bug**
Tried using gelf output on Windows but receiving 'gelf cannot be loaded'.

**To Reproduce**
Follow instructions in docs:
https://docs.fluentbit.io/manual/installation/windows
Add gelf output described in docs:
https://docs.fluentbit.io/manual/pipeline/outputs/gelf

**Expected behavior**
Agent starts sending logs to Graylog gelf input.

**Screenshots**
`Fluent Bi

[2020-09-14 12:13] jacekmackiewicz commented on #2547
.\fluent-bit.exe -h doesn't show gelf in Outputs :(

[2020-09-14 16:21] osela commented on #2522
@jonathanjuursema we also had an issue with missing k8s metadata some time ago and the solution was setting the filter's `Buffer_Size` field to a much higher value (1MB). It's possible your k8s resources are big and don't fit in the default 32kb.

[2020-09-14 16:31] osela commented on #2508
@edsiper Here is the stacktrace when built with debug symbols and trace enabled.

I'm not an expert in C and linux sys calls, but looking at the code the line `connection #1526 in process to kubernetes.default.svc:443` suggests that a `select` sys call is later made with fd id 1526, while [this page](https://man7.org/linux/man-pages/man2/select.2.html#BUGS)  claims the maximum fd id supported by t

[2020-09-14 17:56] andrea-82 commented on #1679
Hi,

I'm getting something similar:

[2020/09/14 17:51:42] [error] [out_es] could not pack/validate JSON response                                                                                                                                       {"took":146,"errors":true,"items":[{"index":{"_index":"k8s-qa-2020.09.14-00001","_type":"_doc","_id":"5t2-jXQBx8Yze5ALb7r5","_version":1,"result":"creat

[2020-09-14 18:04] edsiper commented on #2508
@osela would you please enable ```tls.debug``` debug in your Kubernetes filter ? I want to know if is there any exception happening before the crash:

[code]

[2020-09-14 18:26] osela commented on #2508
@edsiper the log is the same with `tls.debug` enabled

[2020-09-14 18:35] edsiper commented on #2508
there is no extra debug messages before the crash ?

[2020-09-14 19:17] osela commented on #2508
nope

[2020-09-14 19:27] edsiper commented on #2508
In this stacktrace, which specific Fluent Bit  version did you ran ?

https://github.com/fluent/fluent-bit/issues/2508#issuecomment-691623682

[2020-09-14 19:36] osela commented on #2508
1.5.6

[2020-09-14 23:33] bilaltahirx commented on #337
Any update on this thread ?

[2020-09-15 01:05] fujimotos commented on #2547
@jacekmackiewicz This is because we have not ported `out_gelf` to Windows yet.

I'm currently looking at the code, and it seems that we need to clean up a few things
to get it compilable on Windows...

[2020-09-15 04:09] CadenGuo commented on #1942
Same issue here, using fluent-bit v1.4.1 and elasticsearch 6.7.0 in kubernetes. No LB in between.
[code]

These warnings will show up about every 10-20 minutes. But several minutes later, these failed chunks will be flushed successfully.
[code]

[2020-09-15 04:55] markuman opened #2549 "compile with static crt file"
**Is your feature request related to a problem? Please describe.**
You can compile fluent-bit with static config file, so that you only need to distribute one single binary file.
It would be nice to do the same thing with a crt file for TLS output connections. Otherwise in a self-signed environment, you must distribute also the crt file.

**Describe the solution you'd like**
Same like `-DFLB_STATI

[2020-09-15 06:17] jacekmackiewicz commented on #2547
Ok, in the meantime I'm looking into http output and it seems to be working fine.
`[OUTPUT]
    Name                    http
    Match                   *
    Host
    Port                    12201
    URI                     /gelf
    Format                  gelf
    Gelf_host_key           stream
    Gelf_short_message_key  log`

[2020-09-15 08:38] majoyz opened #2550 "How to turn off net.keepalive in out_influxdb?"
## Bug Report

**Describe the bug**
I used debug mode and got logs like this:
[code]
The code shows it's from keepalive, so I try to turn off it. I added `net.keepalive    off` in OUTPUT influxdb, but the logs showed again. I don't know how to turn it off. I tried `false`, it showed either.

**Expected behavior**
Turn off net.keepalive in out_influxdb.

**Your Environment**

* Version used: v1.5 -

[2020-09-15 10:07] juls opened #2551 "Rewrite Tag filter not working with STDIN Input"
## Bug Report

**Describe the bug**
I want to test configurations by piping messages into Fluent Bit via STDIN. When I do that, the _Rewrite Tag_ filter behaves different than with other input sources: it's not re-emitting matching messages.

**To Reproduce**
The following configuration is working as expected (tested with `docker run --rm -i -v $(pwd)/fluent-bit.conf:/fluent-bit/etc/fluent-bit.con

[2020-09-15 11:07] majoyz commented on #2550
I found that these logs only appear with rewrite_tag filter, and the upstream speed would become slow.

[2020-09-15 12:58] JulieLily commented on #1352
Is there any progress on this issue? Is there any solution?

[2020-09-15 13:18] alin-t opened #2552 "Critical security issues with sqllite 3.31.0 on latest fluentbit release (v1.5.6)"
Sqlite3 version 3.31.0 has the following security vulnerabilities:

CVE-2020-11656
CVE-2020-11655
CVE-2020-13630
Upgrading to version 3.33.0 is fixing this issues if you rebuild the source code with sources from here: https://www.sqlite.org/download.html

Thanks.

[2020-09-15 13:39] jonathanjuursema commented on #2522
@osela thanks for the suggestion!

I've tried the following filter config:
[code]

Versus what we were using:
[code]

In both fluentbit `1.4.2` and `1.5.2` this made no difference in our configuration. In the old version the kubernetes information was present, in the newer version the metadata disappeared. :(

[2020-09-16 03:18] JulieLily commented on #1352
@likunbyl Have you found a solution?

[2020-09-16 04:11] majoyz opened #2554 "rewrite_tag filter led to some problems"
## Bug Report

**Describe the bug**
I use fluent-bit in kubernetes, I have two node on cloud, and a node local. The influxdb is on a cloud node, and fluent-bit on others. Without rewrite_tag, the cloud one and the local one run well like this:
[code]
the local one's speed can also up to 2 MBit/s.
After I add the rewrite_tag filter, the cloud one runs well like before, but the local one's speed bec

[2020-09-16 05:21] fujimotos commented on #2550
This seems to be a bug in out_influxdb. `net.keepalive` has been delegated to
"configmap" a while agobut out_influxdb does not support the interface yet.

This leaves KA being turned on always, ignoring the user configuration.

[2020-09-16 05:34] fujimotos commented on #2547
@jacekmackiewicz It is OK. the HTTP plugin also supports Graylog format.
`out_gelf` has some additional feature (like sending packets via UDP), but
the basic functionality is same.

By the way, I am currently working on the Windows port of `out_gelf`. I'll
post update here once I've finished the porting.

[2020-09-16 08:16] JulieLily commented on #572
How to use it in kubernetes? The accuracy of the output timestamp is microseconds.

[2020-09-16 08:27] jj891070 opened #2556 "Filter Regex not work"
### My target
 {"@type":"Log","name": "..."}

### My Regex
[FILTER]
        Name    grep
        Match   *
        Regex   @type Log

[2020-09-16 09:19] majoyz commented on #2554
I tried the es as output, the local one has the same problem, the data from the local fluent-bit like this:
[code]
It just have 2 data at some timestamps, the upstream speed is slow, but the filesystem buffer has been too much.
The cloud one runs well, and the filesystem is 0. All data has been up:
[code]

[2020-09-16 14:42] jonathanjuursema commented on #2522
We've spent some more time on this issue and we think we've identified the cause.

We've had a misconfiguration in the Kubernetes filter with regards to the Kubernetes filter `Kube_URL` parameter and the `automountServiceAccountToken` setting in the ServiceAccount, which resulted in fluentbit being unable to connect to the Kubernetes control plane for additional information about pods.

In `1.4.2`

[2020-09-16 15:44] alterEgo123 opened #2557 "Can't redirect output to file"
## Bug Report

**Describe the bug**
I'm trying to run Fluent Bit as a daemonset and redirect its output to a file. The daemonset is created successfully but the output file isn't created.

**To Reproduce**

- Example log message:

https://filebin.net/co3003qoopp8f9bc/Screenshot_from_2020-09-16_16-33-35.png?t=dhachyx9
https://filebin.net/kkvyinrw6baqjyzn/Screenshot_from_2020-09-16_16-33-21.png?t=bs

[2020-09-16 15:55] alterEgo123 commented on #2557
I figured it out. I needed to create a directory **/var/log/output**. In the documentation https://docs.fluentbit.io/manual/pipeline/outputs/file it defines path as absolute **directory** path to store files whereas in the example below is sets path as **output.txt** which is understood as a file and not a directory.

[2020-09-16 15:55] #2557 closed

[2020-09-16 17:21] #2118 closed

[2020-09-16 17:25] #932 closed

[2020-09-16 17:26] #662 closed

[2020-09-16 17:50] edsiper commented on #2519
thanks for raising this issue.

I have pushed an enhancement that will be available in Fluent Bit v1.6. Please check the notes in this commit: 1204440746c6e38671407466591711746c07465e

[2020-09-16 17:50] #2519 closed

[2020-09-16 17:51] edsiper commented on #2015
I've pushed a solution for this problem, please check the commit notes here: 1204440746c6e38671407466591711746c07465e

The solution will be part of Fluent Bit v1.6

[2020-09-16 17:52] edsiper commented on #1932
the root cause of the problem has been fixed in this commit: c8f55c8b7850ca07c51002cfa2040642111eee18

the solution will be part of the next release Fluent Bit v1.5.7

[2020-09-16 17:52] #1932 closed

[2020-09-16 17:54] edsiper commented on #1647
About the problem that numbers were converted to double, this is addressed in c8f55c8b7850ca07c51002cfa2040642111eee18 .

The solution will be part of Fluent Bit v1.5.7

[2020-09-16 17:54] #1647 closed

[2020-09-16 17:55] edsiper commented on #641
FYI: addressed on c8f55c8b7850ca07c51002cfa2040642111eee18

[2020-09-16 20:11] Hichem-BenJeddi commented on #1775
Thanks, it working fine when the index name = namespace. it is possible to add logstash_k8s_namespace_name ?
How can i concat Logstash With k8s_namespace_name ?

[2020-09-16 20:53] edsiper commented on #2527
fixed by #2548

[2020-09-16 20:53] #2527 closed

[2020-09-16 22:50] edsiper commented on #2014
Fixed by #2544 (to be released as part of Fluent Bit v1.6)

[2020-09-16 22:50] #2014 closed

[2020-09-16 23:50] edsiper commented on #2552
thanks for the notice. sqlite upgraded in commit 14e223abcd6f015780a2bbade866849a48491d7f (it will be part of the next 1.5 release)

[2020-09-16 23:51] #2552 closed

[2020-09-16 23:51] edsiper commented on #2535
thank you!, I will follow up by email, I will merge the PR this week.

[2020-09-17 00:03] edsiper commented on #2556
The current implementation doesn't allow us to have a ```@``` as part of the key name.

I will check how hard will be to add support for it

[2020-09-17 00:56] fujimotos commented on #2551
This seems to be a timing issue. Indeed, I can confirm the following works
as expected:

[code]

Essentially `in_stdin` is too fast to shutdown the instance; The engine halts even
before rewrite-tag filter handle that event, hence causes the issue.

[2020-09-17 01:23] jj891070 commented on #2556
@edsiper  okay~thank you so much for responding to my question

[2020-09-17 10:35] isaidashev commented on #570
I have the same question?

[2020-09-17 13:19] osela commented on #2508
@edsiper It seems like the kubernetes plugin crashes whenever there are more than 1024 containers (running or completed) on a node, so more than 1024 files in `/var/log/containers`. Is that possible?

[2020-09-17 14:36] #2459 closed

[2020-09-17 15:06] edsiper commented on #2508
hmmm I will have to test that out.

[2020-09-17 15:20] Cyn0sure opened #2560 "CVE-2020-24372, LuaJIT has an issue"
## Bug Report

**Describe the bug**
LuaJIT 2.1.0-beta3 has a security issue, CVE-2020-24372

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

**Expected behavior**
upgrade LuaJIT to new version, 2.1.0-2020-08-27 (rev="ff1e72a")

**Screenshots**

**Your Environment**

* Version used:
* Configuration:
* Environment name and

[2020-09-17 16:21] edsiper commented on #2560
thanks, I will perform the upgrade.

For the community, this is the comment by @MikePall about this, for short it should not be a CVE:

[code]

note: we will upgrade but this is not a real security issue.

[2020-09-17 19:12] sztanyoo opened #2561 "Static fluent-bit binary build"
Fluent-bit is an awesome tool for log streaming, it uses dynamically linked libraries (pthread and libc). In some environments - like shared hosting services - the correct libc version, or other dependencies are missing. There are also no build tools available to compile it in place. This way fluent-bit is unusable in such scenario currently.

There should be a way to compile a self-contained bina

[2020-09-17 21:22] #2542 closed

[2020-09-18 02:44] gowrisankar22 opened #2562 "unable to configure json log file"
Hello experts,

I am using a fluent bit as a sidecar in Kubernetes. I have a .json log file which i would like to send to ES. I have created a configuration like below but logs are not avaialble in ES. what I am missing here ?

[code]

[2020-09-18 03:46] ken5scal opened #2563 "Document missing `grace` key in Service section"
## Bug Report

**Describe the bug**
https://docs.fluentbit.io/ seems missing  `grace` key in  Service  section once existed in the document for ver1.3

**To Reproduce**
- visit https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/configuration-file
- [Service] section is missing a description abount `Grace key`
- [v1.3 document](https://docs.fluentbit.io/manual/v/1.3/service) has

[2020-09-18 09:21] bartweber commented on #2418
Thanks @simonasr this is where I was looking for, for a long time. Though it looks like a workaround to me, I'm glad the issue didn't end in a show stopper. To get a regular JSON log event (without wrapping all content in the field `data`) I added an extra filter to your solution:
[code]

[2020-09-18 09:40] zihengCat commented on #2563
Yes, the description of key `grace` missing in the document now.

Maybe we could add it to [fluent-bit-docs](https://github.com/fluent/fluent-bit-docs).

[2020-09-18 10:14] zihengCat commented on #2485
Fluent Bit AWS Kinesis output plugins rely on AWS Go SDK, it's not so easy to be re-written in C.
Maybe ports AWS Go SDK Kinesis to C ?
https://github.com/aws/amazon-kinesis-streams-for-fluent-bit/blob/dc9767ccd86f2b0484fa4bb614d5ac24d0908690/kinesis/kinesis.go#L432

[2020-09-18 10:19] zihengCat commented on #2476
@FarhadF Hi, check this PR https://github.com/fluent/fluent-bit/pull/2544 out.

[2020-09-18 13:26] ndemeshchenko opened #2564 "td-agent-bit extremely high IO% on DB.Sync Full|Normal"
## Bug Report

**Describe the bug**
td-agent-bit process utilizing up to 30% of IO on the virtual machine. writing 2-3Mb/sec.
If only set `DB.Sync Off` issue is gone. However, that can cause other issues if system crash.

Setup: td-agent-bit version 1.5.2 on Centos 7. Using tail input type and streaming to fluentd server

**To Reproduce**
- During high rate of new log lines fluentbit IOPS utilizat

[2020-09-18 16:04] edsiper commented on #2564
data integrity with persistence has a cost: frequent I/O.

If you want 100% data integrity in the database file that's the cost, but you can try a medium level of synchronization which is ```normal```, it should be less frequent than ```full``` and might help. Please test and let me know how it goes

[2020-09-18 16:57] erain opened #2565 "Supporting `HTTP_PROXY` / `http_proxy` environment variables globally"
**Is your feature request related to a problem? Please describe.**
It is a comment pattern for agents to support `HTTP_PROXY` or `http_proxy` environment variables for specifying a HTTP proxy, especially in containers ([reference](https://docs.docker.com/network/proxy/#use-environment-variables))

Particularly, fluentd's stackdriver output plugin support that ([document](https://cloud.google.com/l

[2020-09-18 17:22] PettitWesley commented on #2485
I already did that; wrote an AWS SDK in C for Fluent Bit earlier this year: https://github.com/fluent/fluent-bit/tree/master/src/aws

A Kinesis Firehose C plugin will be released in 1.6: https://github.com/fluent/fluent-bit/tree/kinesis-firehose-high-throughput

The firehose plugin and kinesis plugin code are very similar. Long term I want to rewrite that firehose code into a more generic library

[2020-09-18 17:23] liuyuan10 commented on #2565
http output plugin is taking a different route by specifying proxy in the config instead of the HTTP_PROXY env variable. A question to the fluentbit, what is the right way here. My feeling is HTTP_PROXY should be supported by the underlying http library that applies to all plugins. Before that, individual plugin should use proxy option in the config just like the http output plugin?

[2020-09-18 20:47] git001 commented on #1607
Any update for this issue?

[2020-09-19 00:46] simbou2000 opened #2566 "Fluent Bit is unable to recover from too many accumulated buffers with filesystem storage type"
## Bug Report

**Describe the bug**
Fluent Bit becomes unable to recover when too many buffers have been created with filesystem storage type due to loss of connectivity with an output server.
This works correctly when it's for a short duration (up to 1 or 2 minutes), but the issue starts to show up as more time passes and becomes apparent when it reaches 10+ minutes at 1500 records with a record

[2020-09-19 11:25] ken5scal commented on #2563
Oh, I didn't read the Readme carefully enough. Let me send the pr to fluent-bit-docs

[2020-09-19 11:29] ken5scal commented on #2563
I think this issue is irrelevant from the docs. So I will close it.

[2020-09-19 11:29] #2563 closed

[2020-09-21 08:37] ndemeshchenko commented on #2564
Sure, that make sense. However, changing db.sync option to normal made **almost** no difference for IO utilization, at the current load, I see 1-1.5% difference in IO

[2020-09-21 09:50] tomerleib opened #2569 "Fluent-bit daemonset is crashing with filesystem buffer"
## Bug Report

**Describe the bug**
I'm planning to upgrade an existing Kubernetes daemonset of Fluent-bit from 0.14 to 1.5.
Using version 1.5.6 and output of Fluentd service, after running for a few minutes, two of 3 pods got into crashloopbackoff with the following messages in the log:
[code]

Removal of the filesystem buffer solved the problem.
Downgrading to 1.4.6 with the filesystem buffer al

[2020-09-21 16:12] trondhindenes opened #2570 "rewrite_tag keep flag is not behaving as intended"
## Bug Report

**Describe the bug**
When `rewrite_tag:keep` is set to `false`, fluentbit's behavior doesn't match the documentation

**To Reproduce**
Given this config:
[code]

I can see that both the "rewritten" and the "original" events pass thru the lua script (line 1 and 2), and that the "rewritten" event gets processed by the output (line 3)
[code]
This indicates that my filter pipeline is wo

[2020-09-21 16:20] trondhindenes commented on #2570
Looking closer at this, if I replace the `Match` statement in the `rewrite_tag` it works.
[code]
I don't quite understand why tho. It would be good to get that explained - it feels like the documentation is missing out on some key info.

[2020-09-21 18:01] vishiy opened #2571 "Dockermode & dockermode parser wont work in containerd"
dockermode & dockermode parser relies on json log format, but in containerd this is not the case. There is a new 'P' (partial) or 'F' (full flag) that determines if logline is full or partial in containerd. Docker mode should account for this.

[2020-09-21 19:03] erain commented on #2565
Thanks @liuyuan10 and I think that is a good idea. And that can be done by adding the `HTTP_PROXY` support directly in [flb_http_client](https://github.com/fluent/fluent-bit/blob/1fb1e259da13f46d2d099f56a9f6cd2f4c49d6d3/include/fluent-bit/flb_http_client.h#L137)

I will update the desired/alternative solutions and the title.

[2020-09-21 19:06] erain commented on #2565
@edsiper do you have any concern on adding support for `HTTP_PROXY` globally in fluent-bit? If not I will start the implementation.

Thank you!

[2020-09-21 21:12] edsiper commented on #2565
no concern! happy to receive the contribution.

- we have partial proxy support in http_client, please use out_http for testing
- when using environment vars HTTP_PROXY, HTTPS_PROXY, the core must be preset the values

[2020-09-22 12:55] tomerleib commented on #2569
I've discovered that the node where the problematic fluent-bit pod has `/var/log/flb-storage/` folder.
The total amount of flb files in both tails is 170k files that are out-dated.
Is there any settings that should tell fluent-bit to discard those files ones they were processed?

[2020-09-23 01:55] yurivict opened #2573 "1.5.6: error: invalid argument type 'char *(*)(int, int)' to unary expression"
Log: http://beefy6.nyi.freebsd.org/data/121amd64-default/548931/logs/errors/fluent-bit-1.5.6.log

FreeBSD 12.1
clang-8

[2020-09-23 07:40] PettitWesley commented on #2490
All outputs share the same buffer yes; though there is work underway to support per-output buffering closer to what Fluentd has.

Read the backpressure section of the docs: https://docs.fluentbit.io/manual/administration/backpressure

[2020-09-23 07:48] PettitWesley commented on #1004
@fujimotos @amit-uc @tarunwadhwa13 @eyalengel-pagaya @kmajic A Pre-release version is now available!!!

The image is here: 094266400487.dkr.ecr.us-west-2.amazonaws.com/aws-fluent-bit-1_6-preview:latest

That repository has the [same permissions ](https://github.com/aws/aws-for-fluent-bit/blob/master/scripts/public_repo_policy.json)as the [ECR repos](https://github.com/aws/aws-for-fluent-bit#amazon

[2020-09-23 09:08] theggelund commented on #2351
Are there any thoughts or plans about porting filesystem storage and metrics http endpoint support?

[2020-09-23 10:59] fujimotos commented on #2351
@k3nny0ne There is no ETA. The problem is the dependency on OpenSSL.
It caused so many deployment troubles, so we cannot turn it on by deafult.

For now, you need to turn on the build flag manually to use `out_kafka` on Windows.

@theggelund HTTP endpoint support requires porting Monkey web server
to Windows. I don't think it comes soon.

Porting filesystem storage is a bit easier and probably can

[2020-09-23 11:41] youxq opened #2576 "1.4.6+ duplicate record found in sqlite"
## Bug Report

**Describe the bug**
1.4.6+ duplicate record found in sqlite

**To Reproduce**
- Rubular link if applicable:
- Steps to reproduce the problem:
[code]

**Expected behavior**

**Screenshots**

**Your Environment**

* Version used: 1.4.6 & 1.5.6 td-agent-bit
* Configuration:
* Environment name and version (e.g. Kubernetes? What version?):
* Server type and version:
* Operating System a

[2020-09-23 15:30] avdhoot opened #2577 "fleuntbit stops sending logs"
## Bug Report

Fluent-bit stop sending logs. No erro in logs. Loging is also get stoped at same time.

**To Reproduce**
Hard to reproduce might be environment specific. But need help to figure out how & why?

**Logs**
[code]

**Expected behavior**
Fluent-bit should continue to send logs.

**Screenshots**
Strace
![image](https://user-images.githubusercontent.com/1314627/94032703-d583b600-fddd-11ea-

[2020-09-23 17:17] pranavmarla commented on #2519
Thank you @edsiper . Do you happen to have any documentation/examples on how to make use of your new enhancement?

[2020-09-23 17:27] edsiper commented on #2519
@pranavmarla not yet, it will be available as 1.6 release in a week or so.

the timestamp field is now a lua table with two keys:

[code]

just use/adjust that table content if required.

[2020-09-23 17:27] edsiper commented on #2519
ah, and enable ```time_as_table``` option

[2020-09-23 17:37] erain opened #2578 "Huge fluent-bit buffer chunk file"
## Bug Report

**Describe the bug**

We use fluent-bit running as DaemonSet on K8s cluster nodes as log forwarder, and see *HUGE* buffer chunk file (see the 27G tail.0 file below):

[code]

**Expected behavior**

Buffer chunk file should within reasonable size.

**Your Environment**

* Version used: v1.4.2
* Configuration: relevant part
[code]
* Environment name and version (e.g. Kubernetes? What

[2020-09-23 17:43] erain commented on #2578
@edsiper is this a known issue in v1.4?

Also I this is another important reason to move forward with https://github.com/fluent/fluent-bit/pull/2520

[2020-09-23 17:49] edsiper commented on #2578
what's the average size of each file inside the directories mentioned above ?, e.g: tail.0, systemd.N ..

[2020-09-23 18:13] pranavmarla commented on #2519
Great, thanks!

[2020-09-23 20:26] erain commented on #2578
Quote from my colleague:

"
I see avg size of those flb files being 2MB through early August…

rising to 4MB in mid-August
"

[2020-09-23 20:28] edsiper commented on #2578
if the queue size is "huge" means that is not able to flush the data and is just buffering. I think this is something related to the ability to dispatch data faster than the incoming data.

Please attach config file and log file for that deployment

[2020-09-23 21:34] erain commented on #2578
Thanks for the help @edsiper !

We currently this the following setup:
- fluent-bit runs per node as log forwarder (daemonset)
- fluentd runs as log aggregator (statefulset)

And we have the following:
[code]

I just confirmed from the colleague that fluentd was not healthy, which in combination of `Retry_Limit False` resulted in the data on the disk became too big. So this is not a bug in fluent-

[2020-09-23 21:34] #2578 closed

[2020-09-24 00:42] jmdangelo opened #2579 "Example for rewrite-tag getting stuck locally"
## Bug Report

**Describe the bug**
I've downloaded fluent-bit through homebrew on a mac (i've also compiled the binaries and tried that) and tried replicating the results seen in this docs page [rewrite-tag filter](https://docs.fluentbit.io/manual/pipeline/filters/rewrite-tag) for how to use rewrite-tag.  When i run it with the config given at the bottom of the page, i don't get any output.
[code

[2020-09-24 01:07] edsiper commented on #2579
I tried your config and it works here:

[code]

[2020-09-24 02:06] fujimotos commented on #2573
@yurivict This error is due to the POSIX incompatibility of FreeBSD.

FreeBSD exports a function symbol named `timezone`, while other
UNIX-like OSs use that symbol to store a current timezone.

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=24590

I implemented a fix for this issue last month in #2493, so is should
be resolved once the patch gets merged into the main line.

[2020-09-24 08:42] slewiskelly opened #2580 "Segmentation fault with Stackdriver output plugin"
## Bug Report

**Describe the bug**

When deploying Fluent Bit into our Kubernetes cluster, a portion of Pods crash with the following errors:

[code]
[code]

**To Reproduce**

It's difficult to provide reproducible steps given the nature of the environment.

Given some advice on how to better troubleshoot, I will be able to provide more specific information than what I have provided in the "addit

[2020-09-24 10:13] AlexanderRasmussen opened #2581 "SSL - The requested feature is not available when logging to OpenDistro for Elasticsearch"
## Bug Report

**Describe the bug**
When deploying Fluent Bit into a Kubernetes Cluster, the pods can't log to our Opendistro for Elasticsearch Cluster. When I try to log to the cluster with "http_user", "http_passwd", "tls on" I get the following error: SSL - The requested feature is not available.

Output from logs:
[code]

**To Reproduce**
* Create a Opendistro for Elasticsearch Cluster. With s

[2020-09-24 11:25] smil2k commented on #1607
I'm also very much interested in the possibility to use tls as input-forward.

[2020-09-24 14:21] edsiper commented on #1607
This feature is coming this year. Note there are a lot of changes required at the core level to expose TLS and others for forward protocol implementation.

[2020-09-24 14:22] #2491 closed

[2020-09-24 14:22] #2573 closed

[2020-09-24 14:23] edsiper commented on #2573
PR merged, thanks

[2020-09-24 14:25] edsiper commented on #2581
pls share the complete Fluent Bit log that contains all tls debug messages

[2020-09-24 16:53] jmdangelo commented on #2579
Used the official aws-for-fluent-bit docker image to test this morning, seems like it only doesn't work on local installation

[2020-09-24 17:44] sbaier1 commented on #365
for the k8s sidecar use-case, especially when used with stateful applications that have a high cost for a rolling update, this is honestly not really an acceptable solution. IMO fluent-bit should be capable of detecting changes to the config file at run-time in some way, or at least provide an endpoint to update the config

[2020-09-24 17:57] edsiper commented on #2579
which Fluent Bit version uses  aws-for-fluent-bit docker  ?

[2020-09-24 18:29] lukasmrtvy commented on #365
Exactly, its nearly impossible to manager rollout restart in bigger scales, of course, You can always use https://github.com/stakater/Reloader, https://github.com/pusher/wave, or similar, but that should not be necessary.

[2020-09-24 22:13] Blaumer commented on #1004
@PettitWesley It looks like you can't place the `=` character and potentially other special characters in the `s3_key_format` field. When doing so, I receive ```CreateMultipartUpload API responded with error='SignatureDoesNotMatch', message='The request signature we calculated does not match the signature you provided. Check your key and signing method.```

[2020-09-25 00:39] devkappa opened #2582 "storage does not work with docker volume"
## Bug Report

**Describe the bug**
- file buffer with storage option does not work when I use docker volume path instead of local path

**To Reproduce**
- error log
[code]
- Steps to reproduce the problem:

1. use docker desktop community version 2.3.0.5
2. use the following files
2-1. docker-compose
[code]
  2-2. fluent-bit.conf
[code]
  2-3. Dockerfile for fluent-bit
[code]
  2-4. Dockerfile fo

[2020-09-25 00:45] edsiper commented on #2582
Please attach a zip or .tar.gz with the content of all files mentioned to reproduce the issue

[2020-09-25 01:15] fujimotos commented on #2547
OK. Now the Windows port patch has been land on the main line.

You will see the GELF plugin enabled on Windows builds since the
next major release.

As such, I close this issue as resolved.

[2020-09-25 01:15] #2547 closed

[2020-09-25 01:31] PettitWesley commented on #1004
@Blaumer That's probably from some URL encoding which Fluent Bit is doing differently than S3 expects. I will look into it. However, I will note that S3 recommends not using special characters in key names: https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html

[2020-09-25 02:45] slewiskelly commented on #2580
Another similar, but slightly different stack trace:

[code]

[2020-09-25 05:02] devkappa commented on #2582
here is the test zip file
[nginx-monitoring-test.zip](https://github.com/fluent/fluent-bit/files/5280684/nginx-monitoring-test.zip)

[2020-09-25 05:46] fujimotos commented on #2208
@AlekseyKalinin I have done adding 64-bit file support to `in_tail` plugin.

This issue should be resolved once #2584 landed onto the main line.
(I expect that the fix will be included in the next stable version: v1.6.0)

[2020-09-25 10:48] coders-kitchen opened #2585 "Tail Docker Support detects multilines too eagerly"
## Bug Report

**Describe the bug**
We do observe that the tail input plugin with enabled Docker Support, joins log lines to eagerly.
It doesn't respect the given regex for first line detection.

This leads from time to time to the situation that too many logs are collected and
- the output to graylog fails with too many chunks
- fluentbit consumes 100% CPU

**To Reproduce**
- Rubular link if appl

[2020-09-25 10:50] coders-kitchen commented on #2585
Some more context:

We removed the `Docker_Mode_Parser  docker_multiline` and apparently the logs are processed line by line (as expected).

[2020-09-25 11:27] hypePG opened #2586 "Docker Logs: lifting&parsing of "log" key"
## Bug Report

**Describe the bug**
I try to use the nest filter with lift operation on the log-Key of docker logs. since the value is a stirng and not an object the filter throws an error. I want to use the nest filter, because i than have the possibilty to use a key-prefix which is needed. i successfully parsed the log-Key with a json parser, but than the prefix is missing.

**Log Information**

[2020-09-25 12:12] imalandu opened #2587 "Support ES routing funtion"
**Is your feature request related to a problem? Please describe.**
There are no related issues for now. But this is a function that can improve the efficiency of ES query
Using the routing function of ES can decompose a huge index into different partitions according to the routing key, improving query efficiency

**Describe the solution you'd like**
Add routing configuration items for the out_es p

[2020-09-25 12:33] AlekseyKalinin commented on #2208
Great news! We're looking forward this version.

[2020-09-25 12:35] pratibhamoogi commented on #1528
I am getting the same issue post bison version upgrade to 3.7.2

%export PATH=/usr/local/Cellar/bison/3.7.2/bin:$PATH
% make
[  1%] Built target backtrace
[  2%] Built target jsmn
[  2%] Built target sqlite3
[  3%] Built target co
[  4%] Built target rbtree
[  5%] Built target xxd-c
[  7%] Built target onigmo
[  7%] [BISON][parser] Building parser with bison 2.3
ra.y:1.9-16: syntax error, unexpect

[2020-09-25 13:34] CandiedCode opened #2588 "Publish Dockerfile.windows to fluent-bit dockerhub"
**Is your feature request related to a problem? Please describe.**
I want to use fluent-bit on window k8s nodes.

**Describe the solution you'd like**
We currently use the Linux containers in https://hub.docker.com/r/fluent/fluent-bit/ but would like the windows container to be published as well.

**Describe alternatives you've considered**
Currently, we build https://github.com/fluent/fluent-bit/

[2020-09-25 13:54] linbingdouzhe commented on #2374
facing this problem again , and forget how to fix.....
so

if you are using helm chart, also need to collect rke log, you can add this conf
`  - name: varrke
    hostPath:
      path: /var/lib/rancher/rke/log`
to _pod.tpl

hope this will help someone

[2020-09-25 17:56] jmdangelo commented on #2579
it was fluent-bit 1.5.6, same as my homebrew installation

[2020-09-25 18:10] ts3ng opened #2589 "SIGSEGV in record modifier filter plugin w/ large JSON with many keys."
## Bug Report

**Describe the bug**
We see fluent-bit crashing when we feed in large JSON object with many top level keys.  We think the problem here https://github.com/fluent/fluent-bit/blob/master/plugins/filter_record_modifier/filter_modifier.c#L264.
CRASH:
[code]
The SIGSEGV happens when we run it on cluster in our kubernetes environment but we are having issues reproducing it locally when we

[2020-09-25 20:21] sibidass commented on #2585
we see the same behaviour. **docker_multline** is detecting the Parser_Firstline regex as first line properly. But when we switched to Docker_Mode_Parser, its merging all lines that do not conform to the Parser regex, even if there is no first line present. Implication of this is all application logs that do not confirm to the Parser regex pattern gets merged indefinitely till buffer flush, where

[2020-09-25 21:34] lukasmrtvy commented on #1925
+1
Logstash and Filebeat support:
- https://www.elastic.co/guide/en/logstash/current/plugins-inputs-azure_event_hubs.html
- https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-azure.html

[2020-09-25 21:39] edsiper commented on #1925
We just implemented Azure Blob support (will be part of 1.6 release in ~2 weeks), I am wondering if it solves the needs since the data can be streamed internally:

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-capture-overview

[2020-09-25 21:47] lukasmrtvy commented on #1925
Superb !

One thing, if I remember correctly, there is slightly delay in capturing from event hub to azure blob ( it takes up to 10 minutes, realtime alerts might be a real problem )

There is another option for getting Metrics and Logs from Azure via Azure Monitor REST.
For example:
- https://github.com/tomkerkhove/promitor
- https://grafana.com/grafana/plugins/grafana-azure-data-explorer-datasou

[2020-09-25 21:52] edsiper commented on #1925
FYI: here you can find the doc for the new plugin for 1.6 (GIT master):

https://docs.fluentbit.io/manual/v/master/pipeline/outputs/azure_blob

note: you can choose between blockblob and appendblob

[2020-09-25 21:53] PettitWesley commented on #1948
@dashpole Unfortunately, Fluent Bit currently lacks support for gRPC. Could we contribute changes to the Kubelet to support a basic HTTP version of the pod resources endpoint?

This is just getting information right? It could be covered with a simple GET request- or is there some bidirectional communication going on and that's why gRPC was chosen?

@edsiper Or, how hard would it be to add gRPC sup

[2020-09-25 22:58] #2208 closed

[2020-09-25 23:50] coders-kitchen commented on #2585
Here's a minimalistic example to see the issue with a local running fluent bit

**fluent.conf**

    [SERVICE]
     Parsers_File parsers.conf

    [INPUT]
     Name tail
     Parser docker
     Path /home/pdaum/fluent-bit/test*.log
     Docker_Mode       On
     Docker_Mode_Parser  docker_multiline
     Refresh_Interval  1

    [OUTPUT]
     Name stdout
     Match *

**parsers.conf**

    [PARSER]

[2020-09-25 23:51] coders-kitchen commented on #2585
The output will be similar to this

    [4] tail.0: [1601020033.096196769, {"log"=>"Line 3
    Line 2
    Line 9
    Line 2
    Line 2
    Line 3
    Line 3
    Line 9
    Line 3
    Line 2
    Line 3
    ", "stream"=>"stdout", "time"=>"2020-09-25T07:47:13.096196769Z"}]

[2020-09-26 05:57] mapdegree commented on #1670
Setting a write index and alias on an index should not be rocket science. One of the reasons we are switching back to filebeat is exactly the lack of support for ILM through index aliases.

[2020-09-26 10:28] lukasmrtvy commented on #1925
OP ( and me ) asked for input plugin, not output..

Anyway,
Azure Storage ( blob ) output plugin is also good thing for storing logs to something more scalable/cheaper for archiving purposes.

[2020-09-26 10:49] epcim opened #2590 "SIGSEV on out_forward (fluentd) unavailable/network connection interrupted"
## Bug Report

**Describe the bug**
fluentbit crashes with fluentd on out_forward unavailability. Note: poth PODs were restarted at the same time. Just one fluentbit from the K8s Daemonset of 8 nodes did failed as below.

Is that a bug or expected?

**To Reproduce**
[code]

**Expected behavior**
- retry
- increase error counter

**Your Environment**
- custom docker image (can provide source)

[2020-09-26 10:59] epcim opened #2591 "Liveness probe metrics"
**Is your feature request related to a problem? Please describe.**
K8s fluentbit POD shall have an liveness probe.

This is what I am using now, mostly due the fact that 1y ago I faced the issue that fluentbit out_forward did stuck if is upstream was restarted - so the liveness probe detected errors and caused fluentbit restart within cca 10min.
[code]

**Describe the solution you'd like**

Howeve

[2020-09-26 15:51] dashpole commented on #1948
We chose gRPC to follow other node plugins (cri, csi, device plugin).  It generally has good language support, with C being an apparent exception.  I'm not an active maintainer of the kubelet anymore, but I suspect they would prefer you using the /pods endpoint to adding a new endpoint.

[2020-09-26 20:32] sbvitok opened #2593 "log errors for http backed"
I write to clickhouse through http backed.
if an error occurred, CH return http status 4xx or 5xx and error message in body, and the problem is, that fluent-bit don't display this message in logs, and it's a pain to find out way error happened.
I try to set logltvel to debug , but it's not help

[2020-09-27 08:30] Elven-coder opened #2594 "Output logs to Qradar with syslog plugin failed"
## Bug Report

**Output logs to Qradar with syslog plugin failed**
When I output system logs to Qradar with Fluent-bit plugin syslog, I got weird contents in Qradar.

**Screenshots**
![image](https://user-images.githubusercontent.com/13388658/94358478-e41ae780-00d3-11eb-91a7-d650e3db875c.png)

 **/var/log/syslog**
[code]

**Environment**
* Version used:
Kubernetes: 1.17.7
Fluent-bit: 1.5.6
Qradar:

[2020-09-27 15:51] naviat commented on #337
Your case is the same with me! Any update will help me out?

[2020-09-27 18:02] sbvitok commented on #2576
fluent-bit version 1.5.7

[code]
sql

[code]
Same with tail /var/log/containers/*.log but more output for display.
And if I restart fluent-bit, the files what not in db will by resend again.

[2020-09-27 18:59] sbvitok commented on #2576
fresh install:
[code]

[2020-09-27 19:20] sbvitok commented on #2576
but I see problem only on 1.5.5, 1.5.6, 1.5.7 versions
1.5.4 - work for my.

[2020-09-28 01:07] fujimotos commented on #2588
I think this proposal is legitimate. It would be useful for developers if we
publish official Docker images.

In the meantime, if we ever decide to do that, I really want to automate the
publishing process. Without some smart way to automate it, I don't believe
docker images can be maintained over the long term.

https://www.appveyor.com/docs/server/

I've not studied the documentation closely yet

[2020-09-28 01:20] fujimotos commented on #2593
@sbvitok As far as I can tell, it should print the error log message.
The code path is here:

https://github.com/fluent/fluent-bit/blob/master/plugins/out_http/http.c#L186

Fluent Bit will display a message like "localhost:80 HTTP status=400"  if it
encounters status code other than 2xx.

[2020-09-28 03:34] slewiskelly commented on #2580
I had no reason to think an upgrade to 1.5.7 would improve things, but the following are stack traces captured from some Pods post-upgrade:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-09-28 07:35] zxk-ing opened #2606 "Add data to Kafka duplicate"
## Bug Report

my version  is 1.5.7

### this is td-agent-bit.conf

[code]

### now my /applogs/eventlogs/event.log  My document one has 10 pieces of data

[code]
### This is my log when I started

[code]

  When I add a piece of data, my Kafka topics has 21 pieces of data  。It should have only 11 pieces of data。 It does not append data by appending  。 please help me

[2020-09-28 09:55] slewiskelly commented on #2580
I updated my Fluent Bit config, the diff is as follows:

[code]

The configuration in its entirety is now:

[code]

I will continue to monitor, but I've noticed an immediate improvement in the health of the Pods.

[2020-09-28 11:17] hypePG opened #2607 "Merge_Log for Docker Logs or JSON Logs"
**Is your feature request related to a problem? Please describe.**
Hey, I am receiving logs form Docker via the in_forward plugin. At the moment I am able to parse the application logs, which are nested under the key "log". After parsing the data is saved as json key/value pairs.

The Kubernetes filter plugin has a similiar functionality with the additional feature to parse the content **AND** at

[2020-09-28 11:20] #2586 closed

[2020-09-28 12:08] helicase-bzh commented on #1942
Hi,
I had the same issue, i updated to 1.5.7, but no change.
After 30 min, no data are pull up on ES.
but if i remove kubernetes filter it's OK.
any ideas,
ty

[2020-09-28 15:26] frankreno commented on #2466
Hi folks, can we get any update on this? cc @edsiper

[2020-09-28 16:16] danjagnow commented on #2588
AppVeyor can be used to publish Docker images.  See [appveyor-docker-images.yml](https://github.com/appveyor/build-images/blob/master/appveyor-docker-images.yml) for some example steps.  It looks like this repo is already using Travis CI, which also supports [building a Docker image](https://docs.travis-ci.com/user/docker/#building-a-docker-image-from-a-dockerfile) and [pushing it to a registry](h

[2020-09-28 18:50] edsiper commented on #2560
FYI: latest LuaJIT has been merged.

[2020-09-28 18:50] #2560 closed

[2020-09-28 19:01] edsiper commented on #2535
Company logo merged!:

https://github.com/fluent/fluent-bit#fluent-bit-in-production

thanks again!

[2020-09-28 19:01] #2535 closed

[2020-09-28 20:44] sbvitok commented on #2593
resp.body need to display to, not only resp.status
error message from CH will be in resp.body

[2020-09-28 20:51] flaker opened #2609 "Fluent-bit forwarding to Fluentd behind a K8s service shows "no upstream connections available""
## Bug Report

**Describe the bug**
I have a very simple setup:
 - Fluentbit as deamonset (currently 7 pods)
 - Fluentd as a statefulset with a fixed set of instances. (currently 3 pods)
 - The stateful is behind a service (fluentd-aggregator from the logs below)

Fluentd logs show no errors, and it's pretty much sleeping. Bandwidth usage is also very slow. On the Fluent-bit site I find a lot lot

[2020-09-28 22:28] #2482 closed

[2020-09-28 22:52] flaker commented on #2609
Eventually before my pod crashes, I usually see:
[code]

I think the impossibility to ship properly to fluentd is causing that.

[2020-09-28 22:55] edsiper commented on #2609
Please share your full configuration

[2020-09-28 23:04] flaker commented on #2609
Server conf:
[code]
input-kubernetes.conf
[code]

filters.conf
[code]

output_forward.conf
[code]

parsers.conf
[code]

[2020-09-28 23:15] edsiper commented on #2609
- I see the remote Fluentd is not accepting Fluent Bit connections, would you please check also Fluentd logs ?

- For the records re-emitter under the rewrite filter, there is no backpressure setup. Despite you setup a storage filesystem endpoint globally, ideally you want to enable it on every input instance, e.g:

[code]

also, the same thing needs to be enabled using the special configs in the

[2020-09-28 23:26] flaker commented on #2609
On the fluentd side I do get records. Likely not all of it with the crashing pods.

With your modification I get:
[code]

[2020-09-28 23:47] edsiper commented on #2580
FYI: re-opening since @JeffLuoo will take a look at this

[2020-09-29 00:01] flaker commented on #2609
I changed one o my filters to look like
[code]

then tail log one of the fluentd instances and saw:

[code]
(shortened the line)

Checking the pods
[code]

Running netstat on the aggregator logs:

[code]
[code]

[code]
so, there are connections. I would expect to see more maybe?

[2020-09-29 00:08] edsiper commented on #2609
so let's separate the issues:

- crash because OOM ? was this happening because of the lack of ability to flush data so buffering exceeded the container limit ? (I want to confirm)

- if you don't modify the ```modify``` filter as explained [here](https://github.com/fluent/fluent-bit/issues/2609#issuecomment-700344693) what';s the behavior?

- you have 3 aggregators, how are you balancing the conn

[2020-09-29 00:52] minamijoyo opened #2610 "input forward: plugin doesn't close TCP port when it caught SIGTERM"
## Bug Report

**Describe the bug**

The input forward plugin doesn't close TCP port when it caught SIGTERM. This causes losing some logs on shutdown.

**To Reproduce**

1. Run a fluent-bit container with Docker:

[code]

2. Run a `nc` command (port scan) container with Docker fluent log driver and forward its log to the fluent-bit container:

[code]

3. Stop the fluent-bit container:

[code]

The

[2020-09-29 01:06] flaker commented on #2609
@edsiper

So far they have not crashed (1hr running). I would think "confirmed"

The same. That tests was just to ensure and prove that indeed fluent-bit processed records were reaching fluentd. I was just to make it clearer.

Using a Kubernetes service. I fixed that (duh!!! I mixed up the labels between the collectors and the aggregators, sorry).
But I am still not sure things are being sent smoo

[2020-09-29 04:10] ashlineldridge opened #2612 "[aws] Native CloudWatch logs plugin segfaults when timestamps differ too greatly"
## Bug Report

**Describe the bug**
The native C CloudWatch logs plugin segfaults when two consecutive log records have timestamps that differ too greatly. I can consistently reproduce this bug with the log file provided below.

**To Reproduce**

Log file named `test.log`:

[code]

Configuration file named `test.conf`:

[code]

Authenticate with AWS (to produce a credentials file under `~/.aws`) a

[2020-09-29 04:34] ashlineldridge commented on #2612
The bug seems to be related to Fluent Bit's handling of CloudWatch's [tooOldLogEventEndIndex](https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_RejectedLogEventsInfo.html) response.

The external CloudWatch Golang plugin doesn't suffer from the same issue (below command requires changing `Name cloudwatch_logs` to `Name cloudwatch` in `test.conf`).

[code]

[2020-09-29 05:16] sibidass commented on #2585
@sumo-drosiek ^^

[2020-09-29 09:05] sumo-drosiek commented on #2585
@sibidass @coders-kitchen So do you expect that multiline concatenation starts with first valid multiline log?

I don't really understand usecase for that, because:

 a.  if file consists of few logging formats (where some of them are multiline and some of them not) it won't work correctly as it will start to concatenate not-multilline logs anyway
 b. if file contains only multiline logs with well

[2020-09-29 09:25] vishalbharg opened #2615 "config file option (-c or --config) does not work with Fluentbit Ubuntu installation"
## Bug Report

**Describe the bug**
Install fluent-bit from Ubuntu Software Service. It always give error :
[Warning] [config] I cannot open my_conf.conf file
Error: Configuration file contains errors. Aborting
While my_conf.conf file presented in current directory and it does not have any error.

**To Reproduce**
- Open Ubuntu Software, search fluentbit and install it.
- Create a configure file,

[2020-09-29 10:12] sibidass commented on #2585
@sumo-drosiek So the reason why I had to pull back to previous Multiline configuration provided by fluentbit in our kubernetes environment is because of the following reason:
I had a pattern check for logs starting datetime format in Docker_Mode_Parser. This will catch logs with that format. In tail plugin, we use /var/log/containers/*.log which is meant to crawl through logs emitting out of all c

[2020-09-29 10:31] sibidass commented on #2585
btw, I am currently using lua script with fluentbit multiline flush to process multilines properly. it is working fine, but lua is really slow compared to native C and I saw a performance jump after switching to Docker_Mode_Parser, but unfortunately I had to roll back because of noise from users that their logs are getting merged.

[2020-09-29 11:25] sumo-drosiek commented on #2585
@sibidass so expected behavior for you is to start concatenating multlines from the first match of the `Docker_Mode_Parser` or only if the first line of the log matches the given regex?

[2020-09-29 11:48] sibidass commented on #2585
@sumo-drosiek I believe concatenating multilines from first match is good enough, which will make Docker_Mode_Parser fully compatible with the multiline mode on, as I could see that is the current behaviour of fluentbit multiline flush.

[2020-09-29 11:52] sumo-drosiek commented on #2585
@coders-kitchen Will such solution solve your issue as well?

[2020-09-29 13:07] krezovic commented on #1736
Hello, sorry to barge in here. I'm facing the same issue where I have to compile fluent-bit for SLES12 patchlevel 4. I'm unable to find any SLES docker image. I do not own any SLES license to be able to get it, but the machines on the customer's system run it.

[2020-09-29 13:59] igorpeshansky commented on #1736
If you run the binary out of a docker container, that container doesn't have to be based on SLES — it could just be a plain Debian container.

To answer the other question, we've had some luck with using an OpenSUSE container base for SLES builds of the collectd-based Stackdriver monitoring agent — see https://github.com/Stackdriver/agent-packaging/blob/master/build/x86_64_sles12/Dockerfile. You m

[2020-09-29 14:14] Blaumer commented on #1004
@PettitWesley Any update on this? Ideally I would not like to use special characters, but unfortunately for hive partitioning in s3, it requires using the `=` character in the bucket path.

[2020-09-29 14:22] edsiper commented on #2615
what's the output of ```ls -l``` in the directory where you are running fluent-bit ?

[2020-09-29 14:50] edsiper commented on #2593
Fixed in e605e675

[2020-09-29 14:50] #2593 closed

[2020-09-29 14:51] edsiper commented on #2590
@epcim that's a known old issue when keepalive is enabled. Please upgrade to the latest v1.5.7 which is fixed.

[2020-09-29 15:03] edsiper commented on #2589
I am troubleshooting this

[2020-09-29 16:26] vishalbharg commented on #2615
-rwxrwxrwx 1 user user  148 Sep 25 16:32 my_conf.conf
drwxr-xr-x 2 user user 4096 Sep 29 21:55 output

[2020-09-29 16:37] edsiper commented on #2615
please attach your config file, it says "Configuration file contains errors"

[2020-09-29 16:46] vishalbharg commented on #2615
Here is the file attached
[my_conf.zip](https://github.com/fluent/fluent-bit/files/5300583/my_conf.zip)

But same file, same command works well, when we build code ourselves using make command.  Only issue came when fluent-bit directly install on ubuntu.

[2020-09-29 16:54] edsiper commented on #2615
Looks like the file is missing an ending new line to finish the last configuration line, try this:

[code]

[2020-09-29 16:58] vishalbharg commented on #2615
Now getting
Error: Could not open configuration file. Aborting

But why it works well when we build the code on my machine?

[2020-09-29 17:06] edsiper commented on #2615
hmm get this 3 files in the same directory and give it a try (no copy paste)

- [conf.zip](https://github.com/fluent/fluent-bit/files/5300701/conf.zip)

[2020-09-29 17:49] vishalbharg commented on #2615
Same
Error: Could not open configuration file. Aborting

[2020-09-29 17:59] JeffLuoo commented on #2580
I am wondering is the configuration of 1.5.7 same as the one for the 1.5.6?

[2020-09-29 18:05] coders-kitchen commented on #2585
Yes, that would perfectly match our expectations as well

[2020-09-29 18:37] edsiper commented on #2615
hmm that's weird, the basic question: can you cat that file from there ?

[2020-09-29 18:39] edsiper commented on #2609
so all goods look, except, that some "record shipping" is failing so there is a couple of retries which is expected (you have to make sure to validate that Fluentd side can handle the load)

[2020-09-29 18:42] flaker commented on #2609
Then. Great! Thanks a lot @edsiper for so much patience. I definitely missed the storage config on rewrite filters. That was the main thing.

I will close this since it's user misconfiguration.

Thank you again.

[2020-09-29 18:42] #2609 closed

[2020-09-29 20:48] edsiper commented on #2610
Fixed in f303cdb5c5c9d5a7d98d824878551d916441a95a.

Binary now uses library mode so it can do graceful shutdown (in the grace period)

[2020-09-29 20:49] edsiper commented on #1496
Fixed in f303cdb5c5c9d5a7d98d824878551d916441a95a.

Binary now uses library mode so it can do graceful shutdown (in the grace period)

[2020-09-29 21:17] thiagolinhares commented on #1897
Same here.
Someone has any updated info about this issue?

[2020-09-29 21:59] edsiper commented on #2411
Fixed in de6c59d3af0cb40ce4585e7c5ec25ec50a49dedb

note: the commit fix the routine to count the "real" active tasks in pending state

[2020-09-29 21:59] #2411 closed

[2020-09-29 22:34] slewiskelly commented on #2580
@JeffLuoo, thanks for taking a look.

The configuration was the same between versions, until I updated the configuration described in https://github.com/fluent/fluent-bit/issues/2580#issuecomment-699906025.

I can't find any historical logs with that specific message.

For the most part, the only logs observed before crashes occurred were:

[code]

[2020-09-29 23:32] devkappa commented on #2582
I solved the bug. the reason is that the container doesnt have  [ privileged: true ] option.

[2020-09-30 02:31] devkappa commented on #2582
sorry I mistook
currently the problem is occurred.

[2020-09-30 04:41] vishalbharg commented on #2615
yes

[2020-09-30 06:45] stevenarvar opened #2617 "Fluent Bit v1.5.6 stops outputting logs to stackdriver"
## Bug Report

**Describe the bug**
Fluent Bit v1.5.6 stops outputting logs to stackdriver.  The `kubectl top pods` command shows CPU stuck at 1m.  The fluentbit_output_proc_records_total metric would show 0 log sent to stackdriver.  But the pod would show that it is running.  Once this happens, the fluent-bit pod seems to stuck that way for hours until I delete the pod.  It happens every day.

**

[2020-09-30 07:26] PettitWesley commented on #2612
@ashlineldridge Thank you for this detailed bug report!

With tag v1.5.7, I am able to repro. However, with the code in master I am not. I recently discovered some issues with the logic for payload creation which I fixed here: https://github.com/fluent/fluent-bit/commit/0740e09b6399a3ed8f85c1d497cd3f7d145601b1

I believe your bug report is a sub-case of the larger issue that I was fixing. I believ

[2020-09-30 07:49] slewiskelly commented on #1835
@edsiper Can you confirm that what you mentioned in https://github.com/fluent/fluent-bit/issues/1835#issuecomment-568002973 is that Fluentd prunes duplicate fields?

I'm currently testing Fluent Bit to replace Fluentd and have noticed many of my output requests failing because Stackdriver will not accept logs will duplicate fields. I don't (yet) see evidence of this occurring with Fluentd to Stack

[2020-09-30 09:35] hypePG commented on #2607
solved it with the help of LUA

[2020-09-30 09:35] #2607 closed

[2020-09-30 10:20] Elven-coder commented on #2594
Did anyone send logs to Qradar with fluent-bit ?

[2020-09-30 11:00] tomerleib opened #2620 "Expose buffer and storage metrics in Prometheus"
**Describe the solution you'd like**
I would like the option to view in Grafana the current metrics of the storage and buffers system.
When

**Describe alternatives you've considered**
In 1.5 Storage metrics were added but they're not exported to Prometheus.

**Additional context**

I wish to optimize the current setup, having those metrics exposed in Prometheus will help to understand how my syst

[2020-09-30 11:35] tomerleib opened #2621 "Fluent-bit Daemonset stopped processing logs"
## Bug Report

**Describe the bug**
I'm running Fluent-bit as a daemonset on 3 nodes cluster.
The cluster is running a stress-tests of our applications, as a result, it is constantly creating ~150 pods that are running ETL jobs, terminated and new pods are created over and over.

When the Fluent-bit pods start, everything is working as it should, after 2-3 hours I've noticed that 2 of 3 pods stopp

[2020-09-30 12:06] shyimo commented on #966
@zuehlke-dea @milunko
did you find anything about it ? we are having the same problem in our k8s clusters as well regarding long log lines

[2020-09-30 12:58] Fil0sOFF opened #2622 "CentOS 7 repo does not provide new td-agent-bit package versions"
## Bug Report

**Describe the bug**
I'm not sure if this is the right place to report it, but the latest version available from CentOS 7 repository (https://docs.fluentbit.io/manual/installation/linux/redhat-centos) is 1.3.11, while it should be 1.5.+

**To Reproduce**
- Install td-agent-bit on CentOS 7 by following the official docs
- Alternatively, analyze the content of "primary" package list w

[2020-09-30 14:13] milunko commented on #966
Last time we checked this was still an issue.

[2020-09-30 17:54] edsiper commented on #1177
FYI: I pushed fix 1d148860a8825d5f80aef40efd0d6d2812419740 to handle duplicated keys for plugins that converts data back to JSON

[2020-09-30 17:54] #1177 closed

[2020-09-30 17:56] edsiper commented on #1835
FYI:

I've pushed fix 1d148860a8825d5f80aef40efd0d6d2812419740 to handle duplicated keys in a map. The workaround is basically: when converting the data to JSON, if a duplicated key is found, only pack the last value found for that key.

This will be part of v1.6 release next week.

@GeorgFleig the double/integer issue in Lua scripts was already fixed in the latest version of Fluent BIt (v1.5.7)

[2020-09-30 17:57] #1835 closed

[2020-09-30 17:58] edsiper commented on #1051
FYI:

I've pushed fix 1d148860a8825d5f80aef40efd0d6d2812419740 to handle duplicated keys in a map. The workaround is basically: when converting the data to JSON, if a duplicated key is found, only pack the last value found for that key.

This will be part of v1.6 release next week.

[2020-09-30 17:58] #1051 closed

[2020-09-30 18:05] edsiper commented on #966
I am not able to reproduce the issue:

- Test file (formatted one which was provided above) [test.log](https://github.com/fluent/fluent-bit/files/5307432/test.log)

Run Fluent Bit:

[code]

Output file generated: [out.log](https://github.com/fluent/fluent-bit/files/5307438/out.log)

Now, if you are running in Kubernetes, Docker will take your log line and split it in multiple lines if required, to

[2020-09-30 18:05] #966 closed

[2020-09-30 18:13] edsiper commented on #2615
if you run ```strace``` before the fluent-bit command line program what's the output ?

[2020-09-30 18:16] edsiper commented on #2617
Looks like a stackdriver issue:

[code]

cc: @StevenYCChou

[2020-09-30 18:18] edsiper commented on #2622
I think your Yum repo is pointing out to the old address, this is the correct one:

https://docs.fluentbit.io/manual/installation/linux/redhat-centos#configure-yum

[2020-09-30 18:20] edsiper commented on #2621
Would you please re-test using the latest v1.5.7 version ?

[2020-09-30 18:24] edsiper commented on #2594
@Elven-coder sorry I have not used IBM QRadar, neither we have a partnership with them to sort this out.

If you manage to get an IBM counterpart to assist on this issue I am happy to talk to them if required.

[2020-09-30 18:26] vishalbharg commented on #2615
Attached
[strace_fb.txt](https://github.com/fluent/fluent-bit/files/5307541/strace_fb.txt)

[2020-09-30 18:29] #2585 closed

[2020-09-30 18:32] edsiper commented on #2615
ah! you are using Snap!  there is a kind of fs access restriction, checking that out...

[2020-09-30 18:35] vishalbharg commented on #2615
yes, that I can see. Installed fluentbit from ubuntu software center
![Screenshot from 2020-10-01 00-04-11](https://user-images.githubusercontent.com/59958058/94725667-c2db2500-0379-11eb-8833-0d218089436a.png)

[2020-09-30 19:53] ashlineldridge commented on #2612
Thanks, @PettitWesley 🙇 Great to hear it's already been fixed. Will upgrade to 1.6.0 when released.

[2020-09-30 20:39] Fil0sOFF commented on #2622
You are right . Thank you!

[2020-09-30 20:40] #2622 closed

[2020-09-30 20:41] JeffLuoo commented on #2580
@slewiskelly I see. Thanks for the update! I just checked the code and found that the log message:
[code]
will only show up if the log level of fluent bit is set to "debug". And what this message means is that in your json message there is no field with the key:
[code]
so it is going to use the tag value of the log to assign the value of local_resource_id. And local_resource_id is just the name of

[2020-10-01 00:18] edsiper commented on #483
FYI: Filter grep already supports nested records, it works for the main issue in question:

https://docs.fluentbit.io/manual/pipeline/filters/grep#nested-fields-example

[2020-10-01 00:18] #483 closed

[2020-10-01 00:19] edsiper commented on #726
Not sure the root cause of the issue in that version, but GELF output is already implemented:

https://docs.fluentbit.io/manual/pipeline/outputs/gelf

[2020-10-01 00:19] #726 closed

[2020-10-01 00:22] matthewhembree opened #2625 "The time format in the syslog-rfc5424 parser is incorrect (flb_strptime)"
## Bug Report

**Describe the bug**
The rfc5424 timezone designator `±00:00` is not supported as claimed by [flb_strptime](https://github.com/fluent/fluent-bit/blob/12826dbd1af07001d3bebc63bf9ad7e74bea67fd/src/flb_strptime.c#L494)

This is almost a duplicate of https://github.com/fluent/fluent-bit/issues/2407, but references `flb_strptime` (fluentbit v1.5.3+) rather than the system `strptime`. The

[2020-10-01 00:47] edsiper commented on #1667
fixed in https://github.com/fluent/fluent-bit/commit/70e33fa2618227882d48faf690848bb4117cdb3e

This will be part of release v1.6 next week.

[2020-10-01 00:47] #1667 closed

[2020-10-01 00:48] edsiper commented on #1761
fixed in https://github.com/fluent/fluent-bit/commit/70e33fa2618227882d48faf690848bb4117cdb3e

This will be part of release v1.6 next week.

[2020-10-01 00:48] #1761 closed

[2020-10-01 00:48] edsiper commented on #474
fixed in https://github.com/fluent/fluent-bit/commit/70e33fa2618227882d48faf690848bb4117cdb3e

This will be part of release v1.6 next week.

[2020-10-01 00:49] #474 closed

[2020-10-01 00:49] edsiper commented on #1645
fixed in https://github.com/fluent/fluent-bit/commit/70e33fa2618227882d48faf690848bb4117cdb3e

This will be part of release v1.6 next week.

[2020-10-01 00:49] #1645 closed

[2020-10-01 00:49] edsiper commented on #1330
fixed in https://github.com/fluent/fluent-bit/commit/70e33fa2618227882d48faf690848bb4117cdb3e

This will be part of release v1.6 next week.

[2020-10-01 00:49] #1330 closed

[2020-10-01 02:55] #2590 closed

[2020-10-01 04:42] avdhoot commented on #2621
We also facing same issue https://github.com/fluent/fluent-bit/issues/2577. Same behavior with v1.5.6. We will try v1.5.7 let you know.

[2020-10-01 04:47] avdhoot commented on #2591
@epcim nice raw solution. I faced same issue when we evaluating fluent-bit. But for us v1.5 fixed the issue where fluent-bit needs restart if upstream is restarted.

[2020-10-01 06:12] tomerleib commented on #2621
Testing with 1.5.7, I will provide an update within a few hours (that's usually when they stop working)

[2020-10-01 06:30] tarunwadhwa13 commented on #574
@edsiper  We are eagerly waiting for this :smile: Is there expected data for 1.6 release?

[2020-10-01 07:49] minamijoyo commented on #2610
@edsiper Thank you for the fix!
But I cannot confirm the fix was resolved the original issue. I assumed blocking the input during shutdown consistently would be the minimum solution, however I might misunderstand the behavior during blocking.

I tested with the latest master (13735a509906b3fd089cfb5df9e04f6322089e39) and I could see the input forward was paused consistently during shutdown. Howeve

[2020-10-01 07:49] hidiego opened #2626 "Document compilation process for Windows (x86-x64)"
**Is your feature request related to a problem? Please describe.**
There is no documentation on the compilation process for Windows x86 and cmake generates solution with only Release x64 | Debug x64 configurations.

**Describe the solution you'd like**
Document process for compilation of Release | Debug x86 libraries

[2020-10-01 07:57] tomerleib commented on #2621
1.5.7 didn't solve the issue. The pods on the same nodes processed logs for 1 hour and stopped.
The pod on the 3rd node is still processing and working (just like version 1.4.6).

[2020-10-01 11:15] devkappa commented on #2582
the problem is occurred on wsl2 container not Hyper-V
it is not occurred on docker for Linux and docker for Desktop with Hyper-V

[2020-10-01 11:40] krezovic commented on #1736
Thank you very much. I've tried to find a matching debian version that has less than but close enough libc and gcc. I could use jessie image, but it has too old cmake to be able to build fluent bit. Lets try with your approach.

[2020-10-01 13:00] tomerleib commented on #2621
I've replaced the image with 1.5.7-debug in order to execute `kill -CONT` and here are the dumps from the 2 pods that stopped processing:

[code]

[code]

[2020-10-01 14:50] alexanderccc opened #2628 "Missing logs when parsing nested json"
## Bug Report

**Describe the bug**
I'm using fluent-bit to parse the logs from Kubernetes micro services and send them to es. By default I have the tail input with the docker parser and the Kubernetes Filter. If I add an additional filter to parse the nested "message" field some messages randomly disappear (are not being sent to elastic)

**Your Environment**
* Version used: 1.5.7
* Environment n

[2020-10-01 15:52] edsiper commented on #2576
I think this is totally related to the following fix: 8a5309a2f29902f5a2031113ecaa68fbdb902adb .

I've found a similar issue and if it worked properly on 1.5.4 is because that missing bindings reset.

[2020-10-01 16:08] edsiper commented on #2628
Hi,

- your config looks good. But, didn't the Kubernetes log message comes in the ```log``` key and not in a ```message``` key ?
- if you disable the filter parser, do you get the whole data ?

the KA (keep alive message) is about a persistent connection to elasticsearch, it's normal that gets dropped or in an unused state so Fluent Bit just remove it and create a new one when needed. For short,

[2020-10-01 16:19] alexanderccc commented on #2628
Hi @edsiper

I understand about the KA, so that's not the issue then.

The kubernetes log messages do come in the log key, as I said I'm trying to additionally parse the message key as well since the micro services output in that key a structured json message.
I'm not sure what you mean in regards to whole data, The data itself isn't corrupted in any way or does it contain any less fields or missi

[2020-10-01 16:21] edsiper commented on #2610
troubleshooting...

[2020-10-01 18:58] dvp3010 commented on #2581
looks like related to https://github.com/ARMmbed/mbedtls/issues/1840.

I am also facing the same issue. when using splunk HEC output plugin.

[code]

[code]

[2020-10-01 20:34] edsiper commented on #2612
fixed in #2618

[2020-10-01 20:34] #2612 closed

[2020-10-02 00:56] slewiskelly commented on #2111
I'm seeing the same thing, I only see this error for Fluent Bit pods.

I set `Buffer_Size 0`, but this still does not seem to resolve it

[2020-10-02 05:05] krezovic commented on #1736
I managed to build it on debian jessie, as I couldn't use provided image. The resulting binary was able to run on SLES12.

Downside: I had to compile newer cmake than it was provided in debian jessie.

[code]

[2020-10-02 10:54] teoincontatto commented on #2111
@slewiskelly not sure if we have the same exact issue. I tested using `Buffer_Size 0` and it also fix the behavior.

[2020-10-02 17:54] edsiper commented on #2610
I've pushed a workaround for the issue: 4e0e6870

The only downside is that if the plugin is under high-backpressure, the server socket won't be terminated before the grade period on shutdown/SIGTERM.

Note that after 1.6 release we will refactor the server side API to address this things.

[2020-10-02 17:54] edsiper commented on #2610
for now can you provide some feedback on 4e0e6870 ?

[2020-10-02 20:42] davemt commented on #1497
This issue was closed, but it does not seem like compression was ever added to Forward output (please correct me if I'm wrong). Should it be re-opened?

[2020-10-02 21:29] edsiper commented on #1497
yes, A misunderstanding, no gzip yet implemented. reopening.

[2020-10-04 01:44] stevenarvar commented on #2617
The problem I have was I had 4 stackdriver OUTPUTs in a single Daemon Pod.  I change the tags and channeled all out stackdriver logs to one stackdriver OUTPUT.  That seems to stabilized the deployment.  Still, if I have more than one stackdriver OUTPUTs, that should not halt fluent-bit.

[2020-10-04 01:44] #2617 closed

[2020-10-05 00:30] minamijoyo commented on #2610
@edsiper thank you for the fix! I'll test it.

[2020-10-05 03:29] tomerleib commented on #2621
@edsiper it there anything else I can provide that can help troubleshoot it?

[2020-10-05 04:07] edsiper commented on #1537
timeout

[2020-10-05 04:07] #1537 closed

[2020-10-05 07:29] alexanderccc commented on #2628
Any other thoughts on this?

[2020-10-05 08:06] minamijoyo commented on #2610
@edsiper I tested the 4e0e687098836fd0cbe99944b13ac2ccb8058678, I could see the port was closed during shutdown, but some records were still dropped.

Build a docker image from 4e0e687098836fd0cbe99944b13ac2ccb8058678 :

[code]

Run a fluent-bit container:

[code]

Run a port scan container:

[code]

Stop the fluent-bit container:

[code]

Start a new fluent-bit container:

[code]

The engine caug

[2020-10-05 08:57] minamijoyo commented on #2610
I captured packets with `tcpdump` to figure out what's happened here.

[code]

In the below test case, `SIGTERM` was sent at 08:24:22:

[code]

tcpdump:

[code]

From the above, IP address mappings are probably as follows:
* `172.17.0.1.59006`: docker engine (fluentd log driver)
* `172.17.0.2.24224`: fluent-bit
* `172.17.0.3.*`: nc(port scanner)

As you can see, new connections from `172.17.0.3.*`

[2020-10-05 12:17] asvetliy opened #2639 "Nats output plugin does not work"
## Nats output plugin does not work

**Description**
Hello, I wanted to use a bunch of Nats + fluent-bit for my application, but it did not work.
The connection is terminated as soon as it has been established.

**To Reproduce**
1. I use simple `docker-compose.yml` for testing:
[code]
2. My `fluent-bit.conf`:
[code]
3. fluent-bit logs:
[code]
Then its write that debug message all the time:
[code]

[2020-10-05 13:06] Angry-Potato commented on #1804
is this feature coming soon to a release near me?

[2020-10-05 17:13] PettitWesley commented on #1804
@Angry-Potato This was released in Fluent Bit 1.5 a few months ago.. merged via a different PR. Looks like I forgot to close this one.

Docs are here: https://docs.fluentbit.io/manual/pipeline/outputs/elasticsearch##aws-es

[2020-10-05 17:13] #1804 closed

[2020-10-05 17:14] PettitWesley commented on #1887
See docs here: https://docs.fluentbit.io/manual/pipeline/outputs/elasticsearch##aws-es

Re-open if you need more help.

[2020-10-05 17:14] #1887 closed

[2020-10-05 23:39] edsiper commented on #2564
@ndemeshchenko

I've pushed some updates to GIT Master to improve the database I/O overhead. would you please take a look and give it a try ?

note: db.sync now defaults to ```normal```, it makes a big difference.

[2020-10-06 08:05] epcim opened #2643 "fluentbit -> fluentd causes "MessagePack::UnknownExtTypeError""
## Bug Report

Details here, see @repeatedly comment on it:
https://github.com/fluent/fluentd/issues/3136#issuecomment-701924565

## Versions

- fluentd-1.10.4 pid=6 ruby="2.5.8"
- Fluent Bit v1.4.4 and Fluent Bit v1.5.7

[2020-10-06 08:06] hafkaM opened #2644 "Fluent-bit 1.5.7 - Forward processor error - invalid 'compressed' option"
## Bug Report

**Describe the bug**
Fluent-bit is receive a errors from forward processor - [error] [input:forward:forward.0] invalid 'compressed' option

**To Reproduce**
From version 1.5. (docker fluent/fluent-bit:1.5.7)
The error occurs whenever:
Always if I send messages from fluentd to fluentbit using a forward plugin. I get this error.
- Example log message if applicable:
[code]
- Steps to r

[2020-10-06 08:40] fujimotos commented on #2626
Actually there's not much to do on Fluent Bit's side.

I documented the complete steps to compile Fluent Bit on Windows here:

https://github.com/fluent/fluent-bit-docs/pull/352/files

To build x86 binary, you just need to perform "Compilation" step with
"x86 Developer command prompt" from Visual Studio.

![Screenshot_2020-10-06_17-39-41](https://user-images.githubusercontent.com/8974561/95178968-

[2020-10-06 08:41] fujimotos commented on #2626
@hidiego Actually there's not much to do on Fluent Bit's side.

I documented the complete steps to compile Fluent Bit on Windows
in the following patch:

https://github.com/fluent/fluent-bit-docs/pull/352/files

To build x86 binary, you just need to perform "Compilation" step with
"x86 Developer command prompt" from Visual Studio.

![Screenshot_2020-10-06_17-39-41](https://user-images.githubuserco

[2020-10-06 08:46] epcim commented on #2591
1.5.7 seems fixes original issue, but that is not subject to remove the above liveness probe, and that one needs to be current trend not long term collected errors cause restart even all ok in past few hours ?

[2020-10-06 09:32] rumanzo commented on #2416
Not everything is fixed. We updated to the latest version (1.5.6), fluentbit stops sending logs suddenly and without any logs with log_level debug. Just stops the activity and that's it

[2020-10-06 09:32] neilwashere opened #2646 "Filter ordering is not preserved"
## Bug Report

**Describe the bug**
rewrite_tag filter appears to occur before kubernetes filter despite location in file

**To Reproduce**
I have the following configuration
[code]
However, when run the following errors are seen indicating that rewrite_tag occurs before kubernetes filter
[code]
- Steps to reproduce the problem:
run above config in k8s/minikube

**Expected behavior**
I expected th

[2020-10-06 12:30] hidiego commented on #2626
Alright! I managed to compile fluenbit libraries for Windows32bit architecture.

I followed the guide given by @fujimotos here -> https://github.com/fluent/fluent-bit-docs/pull/352/files also used 'x86 Native Tools Command Prompt for VS 2019'.
I got the following error when executing `cmake .. -G "NMake Makefiles" `  :
[CMakeError.log](https://github.com/fluent/fluent-bit/files/5333670/CMakeError.

[2020-10-06 12:30] #2626 closed

[2020-10-06 12:30] hidiego commented on #2626
Alright! I managed to compile fluenbit libraries for Windows32bit architecture.

I followed the guide given by @fujimotos here -> https://github.com/fluent/fluent-bit-docs/pull/352/files also used 'x86 Native Tools Command Prompt for VS 2019'.
I got the following error when executing `cmake .. -G "NMake Makefiles" `  :
[CMakeError.log](https://github.com/fluent/fluent-bit/files/5333670/CMakeError.

[2020-10-06 17:27] 0x1a0b commented on #2178
Cool feature, do we know when the PR will be merged?

[2020-10-06 18:22] konstantin-kornienko opened #2647 "Cannot grep fields with dots"
## Bug Report

**Describe the bug**
Grep filter is not working with fields containing dots.

**To Reproduce**
test file is:
`{"log": "test", "syslog.program": "forwarder"}`

trying to parse it using:
`td-agent-bit -i tail -p 'path=/tmp/lines.txt' -p parser=json -F grep -p "regex=syslog.program forwarder" -m '*' -o stdout -R /etc/td-agent-bit/parsers.conf`

also not working:
`td-agent-bit -i tail -

[2020-10-06 23:22] slewiskelly opened #2648 "Some JSON formatted logs are not being parsed correctly"
## Bug Report

**Describe the bug**

Some JSON formatted logs are not being parsed correctly.

I've checked multiple other issues related to incorrect parsing of JSON logs. I'm not entirely certain, but I feel this might be specifically related to https://github.com/fluent/fluent-bit/issues/337.

It's very difficult to get a raw log, because this happens very rarely relative to the number of logs

[2020-10-06 23:40] fclerg opened #2649 "Docker image vulnerability"
## Bug Report

**Describe the bug**
The latest image from dockerhub contains the CVE-2020-1967 vulnerability but not a locally built image.

**To Reproduce**
Example on mac :
[code]
[code]

- Then try to build the image locally, and run Trivy against it, the vulnerability is gone.

**Additional context**
This libssl vulnerability is fixed in the Debian Buster package version _1.1.1d-0+deb10u3_, wh

[2020-10-07 00:12] edsiper commented on #2644
Thanks for reporting this. I've pushed the fix bb0c95b4 .

A workaround for the moment before the next release (Thursday) will be to force the gzip compression mode.

[2020-10-07 00:12] #2644 closed

[2020-10-07 00:15] edsiper commented on #2646
Your kubernetes filter is catching the re-emitted records since the matching rule is ``` kube.*```, you have to restrict it only for the data coming from the Tail section (e.g: ```kube.var.*```)

[2020-10-07 00:17] edsiper commented on #2643
@epcim can you please share config for Fluent Bit and Fluentd that reproduces the issue ?

[2020-10-07 06:22] PettitWesley commented on #1004
@Blaumer Support for using the `=` character in the S3 key will be included when this plugin launches in 1.6 (possibly in a few days).

I think actually that almost any special character should work, in the sense that it at least won't throw the error you saw. The issue was the way URI encoding was done in the Sigv4 code. It was simple to fix, once I made sure it wouldn't break any of the other AW

[2020-10-07 08:47] epcim opened #2652 "v1.5.7 - SIGSEGV & stack smashing detected"
## Bug Report

**Fluentbit freq. crash short after start**

- on cluster with 10 nodes, 3 nodes affected, other started and without restart runs > 20h.
- the three nodes affected, failed 17x, 57x, 142x, then started and holds functional

- any recent changes on fluentbit made on k8s integration?
- I see `flb_upstream` but `[UPSTREAM]` is not configured in config at all..

[code]

another case

[co

[2020-10-07 09:10] epcim commented on #2643
Simplified configs, I have kept some filters but removed most of the GREP/PARSERS...

Fluentbit:

[code]

On fluentd side, corresponding sources.:

[code]

Let me know if you will need enable more debugging, but some details already are in linked fluend issue.

[2020-10-07 13:33] edsiper commented on #2652
do you face the same issue when running our own Docker images ?

I see you are using a custom build and could potentially show a problem with the stack size and how the DNS responses are processed.

Fluent Bit by default uses a stack size of 24KB for co-routines (when flushing data, connecting to a remote service), now inside a coroutine the stack size is fixed, and the DNS system resolver impleme

[2020-10-07 18:57] PettitWesley commented on #1004
The preview image has been updated with the latest version of the code in master.

[2020-10-07 23:39] sophieyfang opened #2657 "SUSE has '/usr/lib/systemd/system' but not '/lib/systemd/system'"
https://github.com/fluent/fluent-bit/blob/42f97274a0a896f1e5e20a9ced18bebc90294788/src/CMakeLists.txt#L383

This will not install fluent-bit.service. As in SUSE it doesn't have '/lib/systemd/system'

[2020-10-08 00:05] edsiper commented on #2657
@sophieyfang thanks for this.

should I assume that systemd services files are under ```/usr/lib/systemd/system/*``` ?

[2020-10-08 00:08] sophieyfang commented on #2657
Yes :)

sophieyfang@sles12-u:~> ls /usr/lib/systemd/system
after-local.service                     getty@.service                     machines.target                    rsyncd.service                          systemd-journald.socket
alsa-restore.service                    getty.target                       mdadm-grow-continue@.service       rsyslog.service                         systemd-journal-f

[2020-10-08 00:20] edsiper commented on #2657
If I push a test branch can you give it a try ?

[2020-10-08 00:30] edsiper commented on #2657
I've pushed branch ```suse```, please give it a try and let me know if everything is ok. ASAP is better since I am closing things for v1.6 release tomorrow.

[2020-10-08 00:57] sophieyfang commented on #2657
I just test it and it doesn't work..

[2020-10-08 01:02] edsiper commented on #2657
what's the error ?

[2020-10-08 01:06] sophieyfang commented on #2657
It doesn't have any error. It just doesn't have fluent-bit.service when make install

[code]
Versus after running `ln -fs /usr/lib/systemd /lib/systemd`
[code]

[2020-10-08 12:20] trilitheus opened #2660 "Using a parser removes the Path_Key"
## Bug Report

**Describe the bug**
When using a Path_Key in an input, using a regex parser removes this field

**To Reproduce**
[code]

**Observed behavior**
file_path key is lost:
[code]

**Expected behavior**
file_path key is populated and present similar to:
[code]

**Screenshots**

**Your Environment**
* Version used: fluent/fluent-bit:1.0.3 docker image
* Kubernetes 1.15

**Additional contex

[2020-10-08 22:49] trexx commented on #1430
This could still be useful in order to take advantage of ES 7.9 Data Streams which only support the create write_operation.

[2020-10-09 02:24] grep4error opened #2661 "Fluent-bit stops processing logs under high load, locks writing in ch_manager pipe"
## Bug Report

My fluent-bit 1.5.7 is running in a container in k8s (AKS) environment. It’s configured to collect docker logs (33 tail inputs configured) and send them to elasticsearch (33 outputs) and a few filters.
Recently, as the amount of logs per node increased, fluent-bit started sporadically freezing up. The process would continue running consuming 0% cpu and not processing any new logs or

[2020-10-09 04:16] edsiper commented on #2649
thanks for reporting this issue. I have updated the distroless docker image, for a previous image bug, we were using an old one.

[2020-10-09 06:24] avdhoot commented on #2661
Awesome Thanks @grep4error for all help. @edsiper  This affecting more people https://github.com/fluent/fluent-bit/issues/2621 & https://github.com/fluent/fluent-bit/issues/2577. Please do the needful. We can help to validate fix. cc @tomerleib

[2020-10-09 09:17] epcim commented on #2652
@edsiper didnt solve the problem fully, but seems it crash less then before. Update: actually some of the restarts below were caused by liveness probe.

[code]

If it failed, then I only saw this in log (nothing else..)

[code]

Any other suggestion, better value? If no further freq. crashes I will close on Monday.
(Thanks)

[2020-10-09 11:00] rjshrjndrn opened #2663 "Fluent bit mapper_parsing_exception"
## Bug Report

**Describe the bug**
Parsing throws error that `illegal_argument_exception`

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

Deploy 1.4.6 in kubernetes
Connect to es

**Expected behavior**
Should not throw any error

**Your Environment**

* Version used: 1.4.6
* Configuration:
[code]
* Environment name and