[2021-02-18 15:09] #1065 closed

[2021-02-18 15:10] edsiper commented on #2577
We have not been able to reproduce this one locally, if it happens again please feel free to update this ticket so we can troubleshoot (fyi: v1.7.0 is out)

[2021-02-18 15:10] #2577 closed

[2021-02-18 15:12] #1496 closed

[2021-02-18 15:13] apollo13 commented on #3089
Configuration:
[code]

[2021-02-18 15:19] BertelBB commented on #2395
Ok nvm. I failed to notice this comment...

[2021-02-18 16:04] danielpcox commented on #574
I'm game

[2021-02-18 16:50] merkys7 opened #3090 "Module request: Input GELF (in_gelf)"
**Is your feature request related to a problem? Please describe.**

Not possible to send GELF logs to fluent bit using standart monolog GELF handler
[code]

Currently, if using TCP IN with JSON format, the first message is recognized correctly, while response is treated as INVALID JSON due to multiple root JSON objects. Example(_the first message is sent to graylog but the second one is skipped_):

[2021-02-18 17:54] mikhno-s commented on #1065
I have the same issue.
v1.7.0

[code]

[2021-02-18 20:13] gaddaak opened #3091 "Syslog output plugin fails connecting to TLS Port 526"
## Bug Report

**Describe the bug**
Iam using Helm chart to install fluentbit

helm repo add fluent https://fluent.github.io/helm-charts

image: fluent/fluent-bit

Syslog output plugin fails to send logs to TLS port 526 and configuration is written below along with the output
But, it works with TCP port 515

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]

[2021-02-18 20:15] mikhno-s commented on #2577
Hey, got the same problem.

version v1.7|v1.8

So, have such config
[code]
Have a lot of files in `/var/lib/td-agent-bit/storage/nginx_logs_input/` and amount of which continuously increases.

In few minutes after start it stops to send any event to output.
Logs looks like this
[code]

no events in output but memory consumed by fluentbit grows
[code]

[code]

After adding `storage.total_limit_size

[2021-02-18 21:53] edsiper commented on #3089
## Resolution

I've found that the provided chunk was not corrupted. The thing is that the chunk on runtime always contains more space to store future data, if Fluent Bit was killed or forcedly stopped this remaining space contains extra zeros, so then in a further start of Fluent Bit this becomes invalid data.

I've pushed the following fixes:

- 854762a1  in_storage_backlog: remove failed chunks

[2021-02-18 21:54] edsiper commented on #3089
I will release these changes as part of v1.7.1.

thanks again for your help

[2021-02-18 21:54] #3089 closed

[2021-02-18 22:03] edsiper commented on #2017
v1.7 fixes the behavior of ignore_older. It applies to startup and also for monitored files being no longer modified.

[2021-02-18 22:03] #2017 closed

[2021-02-18 23:19] ts3ng commented on #2494
Performance is seems to be fine after testing 1.6.10
![Screen Shot 2021-02-18 at 3 08 07 PM](https://user-images.githubusercontent.com/18268735/108434508-9d519980-71fc-11eb-83ba-30de04c8e396.png)

[2021-02-18 23:19] #2494 closed

[2021-02-19 00:10] agup006 commented on #3052
Hey @jwitrick , we had an issue where the Docker container image (distroless) changed some TLS certificates on us - where 1.7.X containers were breaking with TLS while running a local install generally was ok. We've fixed the TLS packages and republished, I'm wondering if this was the cause of the issue - would you be open to retrying?

[2021-02-19 00:14] agup006 commented on #3091
From the output side you will need to configure the TLS options of `tls on` and `tls.verify` at the very least. Additional TLS options can be found here: https://docs.fluentbit.io/manual/administration/security

[2021-02-19 00:20] agup006 commented on #2790
@dengalebr with 1.7.0 available and multi-workers out in open source, I'm going to close this for now. Please re-open if additional help is needed.

[2021-02-19 00:20] #2790 closed

[2021-02-19 00:38] agup006 commented on #18
it's here! We get to close this one out

in_http is available in 1.7.0, note: the doc site had some issues and we expect the in_http documentation to be available by end of the week.

[2021-02-19 00:38] #18 closed

[2021-02-19 00:47] agup006 commented on #675
New GeoIP Filter available with 1.7.0 https://docs.fluentbit.io/manual/pipeline/filters/geoip2-filter Thanks all!

[2021-02-19 00:47] #675 closed

[2021-02-19 00:49] agup006 commented on #558
Doing some cleanup - I think this issue is a bit old, and there have been significant performance improvements in last few releases.

Are you able to see if there are still problems with the latest 1.7.0? I will close for now and we can reopen if there is anything further we can do

[2021-02-19 00:49] #558 closed

[2021-02-19 00:52] agup006 commented on #564
Hey all, we have some work scheduled for multiline in this release 1.7.x - I'd like to close this issue for cleanup purposes. If there are updates to the discussion or need for follow-up please re-open

[2021-02-19 00:52] #564 closed

[2021-02-19 00:57] agup006 commented on #735
Hey all, I'm doing some cleanup for issues and see this is still open. @SkyV0x if you still need some help, I'm happy to give some assistance though I know it has been quite some time. We are working on more documentation, resources, trainings that will help folks get up and running for the project and will be happy to share with you.

I'm going to close this issue for now, please feel to re-open

[2021-02-19 00:57] #735 closed

[2021-02-19 00:59] agup006 commented on #710
Hey all, this seems to be related to performance of an older version (0.13.4) - we have made significant improvements to performance and I would advise retrying with the latest release (1.7.0). I'm going to close this issue for now, feel free to re-open if there is anything we can help with

[2021-02-19 00:59] #710 closed

[2021-02-19 01:02] agup006 commented on #1067
This should be fixed, closing

[2021-02-19 01:02] #1067 closed

[2021-02-19 01:04] agup006 commented on #1253
Hey all, this issue is a bit stale and the version used here is a bit old. We have increased performance with our latest release 1.7.0 and would be great if we could try with that version to see if there is a reduction in CPU usage. I am going to close this issue for now, please re-open if we want to resume the discussion. Thank you!

[2021-02-19 01:04] #1253 closed

[2021-02-19 01:06] agup006 commented on #1453
@nigels-com we have added openssl backends with 1.7.0 which, similar to what your analysis shows, gives a number of performance benefits. This new backend also lays the foundation for a future FIPS compatible version.

I know this issue is quite old, but I am happy to restart the conversation if interested. closing for now

[2021-02-19 01:06] #1453 closed

[2021-02-19 01:07] agup006 commented on #1387
Hey all, I'm doing some cleanup and see this issue is a bit old and might be related to some custom regex. I'll close for now, feel free to re-open if there are still some issues we can help with. Thank you

[2021-02-19 01:07] #1387 closed

[2021-02-19 01:10] agup006 commented on #1355
Hey folks, I see this issue has not been updated in a while. I'm wondering if this is the difference between `rename` and `hard_rename`. Would the latter parameter be more appropriate here? https://docs.fluentbit.io/manual/pipeline/filters/modify

[2021-02-19 01:12] #1652 closed

[2021-02-19 01:24] agup006 commented on #3048
Hi @beth2016, I'm wondering if we could use the HTTP event collector's feature to specify a field: `index` and then have Splunk index based of that field. Prior to the output of sending the data we could add a modify filter that adds the new index name

[code]

From this documentation: https://docs.splunk.com/Documentation/Splunk/8.1.2/Data/FormateventsforHTTPEventCollector
![image](https://user-i

[2021-02-19 01:57] nigels-com commented on #1453
Thanks for the update @agup006 , cheers!

[2021-02-19 05:11] agup006 commented on #3000
Throwing a wild guess, that perhaps the copy function was failing because of nested fields, and the proper accessor not being used?

https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/record-accessor

[2021-02-19 05:14] agup006 commented on #423
Looks like this functionality has been merged. Closing

[2021-02-19 05:14] #423 closed

[2021-02-19 05:18] agup006 commented on #631
Hi I'm performing some cleanup and this looks like an old issue. Additionally, looks like a very old version of Fluent Bit, would be great to check 1.7.0 to see if this still persists. I'm going to close for now, feel free to re-open if needed

[2021-02-19 05:18] #631 closed

[2021-02-19 05:23] agup006 commented on #664
Replying on an old thread, If I understand correctly, the Upstream featureset should allow the definition of multiple Elasticsearch nodes and the ability to rotate amongst them when sending data.

https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/upstream-servers

Closing for now, feel free to re-open if needed

[2021-02-19 05:26] agup006 commented on #953
Doing a bit of cleanup, and it looks like this may from an older version - would we be able to try out the latest 1.7.0 version to see if it persists? Some notable performance fixes that we made were enabling connection persistence, optimizing I/O usage, TLS optimizations. I'm wondering if we may have been running into some connection re-use issues here.

I'm going to close for now, feel free to r

[2021-02-19 05:26] #953 closed

[2021-02-19 06:33] gaddaak commented on #3091
I see pods  keep on restarting now with the below configuration.

    Iam i doing anything wrong iam not sure

    [OUTPUT]
        name                 syslog
        match                *
        host                 example.com
        port                 526
        mode                 tls
        syslog_format        rfc3164
        syslog_maxsize       2048
        syslog_message_key   fl

[2021-02-19 06:35] agup006 commented on #3091
Are there any errors / outputs in the log that you can share?

[2021-02-19 06:41] agup006 commented on #1320
Hey all, cleaning up some older issues - this one looks resolved with a later version of Fluent Bit. We have also made better TLS improvements with OpenSSL in v1.7.0 that hopefully reduces the CPU usage. Closing for now, please re-open if needed

[2021-02-19 06:44] agup006 commented on #1413
closing out some old issues, we do have the ability to add hostname via `record_modifier`
[code]

Feel free to re-open if more help is needed

[2021-02-19 06:45] gaddaak commented on #3091
Here is the pod events description

Failed to pull image "fluent/fluent-bit:1.6.10": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/fluent/fluent-bit/manifests/1.6.10: read tcp 10.10.10.10:33333->50.60.70.80:443: read: connection reset by peer

[2021-02-19 06:47] agup006 commented on #3091
Hmm this feels a bit more related to being able to access the docker registry vs. the configuration. Are you able to pull other images from docker registries?

[2021-02-19 06:51] agup006 commented on #2649
This looks resolved, I'm going to close - please re-open if needed

[2021-02-19 06:51] #2649 closed

[2021-02-19 06:55] gaddaak commented on #3091
i can pull images from dockerhub

Same daemonset was running with fluent/fluent-bit image previoulsy with TCP port and sending logs as well

[2021-02-19 06:57] agup006 commented on #2983
@zhonghui12 @PettitWesley can we close this issue?

[2021-02-19 07:02] agup006 commented on #2872
I'm +1 to @mnevilleoneill suggestion of outputting the 16-bit value (option 1) -- This is what most users will immediately search for and expect insights from Microsoft's MSDN.

[2021-02-19 07:06] agup006 commented on #3091
If you switch the configuration does that error go away? - my expectation is it would not

I believe that it was working, the hard part is that error message looks solely related to an environmental issue vs. one we could solve together through Fluent Bit configuration.

[2021-02-19 07:10] gaddaak commented on #3091
what configuration you are referring to?

is it the right output configuration that i have done or do i need to add any other parameters for TLS connection

[2021-02-19 07:14] agup006 commented on #3091
Sorry I was referring to the following error message that seems environment related:
[code]

Do you have new logs for the following configuration?

[code]

[2021-02-19 07:16] PettitWesley commented on #2983
@agup006 Yes

[2021-02-19 07:17] #2983 closed

[2021-02-19 07:17] agup006 commented on #2801
Hmm, rate is working on my side with 1.7.0 for 100 / 1000 - I've used to perform a few benchmarks. Potentially related to Mac.

Is this still occurring on your side?

[2021-02-19 07:20] agup006 commented on #2564
hey folks, it looks like this has been fixed and now is available in 1.7.0 - I'm going to close for now. Please re-open if we feel this is not resolved

[2021-02-19 07:20] #2564 closed

[2021-02-19 07:25] #2147 closed

[2021-02-19 07:25] gaddaak commented on #3091
here are the latest logs

[2021/02/19 06:30:27] [ info] [engine] started (pid=1)
[2021/02/19 06:30:27] [ info] [storage] version=1.0.6, initializing...
[2021/02/19 06:30:27] [ info] [storage] in-memory
[2021/02/19 06:30:27] [ info] [storage] normal synchronization mode, checksum disabled, max_chunks_up=128
[2021/02/19 06:30:27] [ info] [filter:kubernetes:kubernetes.0] https=1 host=kubernetes.defau

[2021-02-19 07:28] agup006 commented on #1655
Looks like this now exists on docs. Closing

[2021-02-19 07:28] #1655 closed

[2021-02-19 09:09] ntavares commented on #1413
@agup006 this issue was about the 'connecting device' (IP) rather than hostname, as we've explained in the comments. Mind reopening please?

[2021-02-19 09:49] sondinhnwv commented on #3077
Thanks it works for me now. Sorry for the wrong assumption in the bug report.

[2021-02-19 10:36] sondinhnwv commented on #3077
Sorry, disregard my previous message.

We're still getting the same error and I don't think adding TLS certs would fix it as Kubernetes has its own CA cert that should be used at `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`.

Is there anything I can do to help debug?

[2021-02-19 14:06] beth2016 commented on #3048
Hi @agup006 Thanks for responding.   Already tried that, it doesnt work.   It's not taking variable.   Any variable I put there, its taking it as constant.  So, in your example, it will try to use CUSTOM_INDEX literally.

[2021-02-19 14:10] beth2016 commented on #3000
@agup006 I had tried both nested fields and non-nested fields.  same issue for me

[2021-02-19 14:59] edsiper commented on #2848
v1.6.10 or 1.7.0 might address the issue.

[2021-02-19 14:59] #2848 closed

[2021-02-19 15:37] agup006 commented on #1413
@ntavares apologies I read to fast and completely missed the ask.

[2021-02-19 16:16] gaddaak commented on #3091
now the pods are running

i have similar kind of logs but i don't see this error  [error] [io_tls] could not create TLS session for example.com:526

[2021/02/19 15:58:55] [error] [parser] parser named 'nginx' already exists, skip.
[2021/02/19 15:58:55] [ info] [engine] started (pid=1)
[2021/02/19 15:58:55] [ info] [storage] version=1.1.0, initializing...
[2021/02/19 15:58:55] [ info] [storage] in-

[2021-02-19 16:30] edsiper commented on #3091
Please make sure you are running a non-cached version of v1.7.x image. Pull it again and retry

[2021-02-19 16:33] gaddaak commented on #3091
iam pulling latest image

[2021-02-19 16:35] edsiper commented on #3091
pls check the digests: https://hub.docker.com/r/fluent/fluent-bit/tags?page=1&ordering=last_updated

we saw a similar issue in the first container image that we publish, we had to update it recently, verify the digests

[2021-02-19 16:43] gaddaak commented on #3091
same error with  fluent/fluent-bit:1.7-debug

[2021-02-19 16:52] perezjasonr commented on #1316
is this what's causing it?

[code]

im wondering if we can set this to -1 for now and it wont split any more? may as well suggest it just in case.
this is for containerd though not sure if cri-o has a similar setting

[2021-02-19 16:55] Sly555 commented on #2915
Hi can I have some feedback on this bug please ?

[2021-02-19 16:58] agup006 commented on #2896
This has been merged as an experimental feature for the next release (1.7.1)

[2021-02-19 16:58] agup006 commented on #2896
Commit: 2af2bc44

[2021-02-19 16:58] #2896 closed

[2021-02-19 17:08] donbowman commented on #3085
https://github.com/microsoft/fluentbit-containerd-cri-o-json-log
is also needed i think

[2021-02-19 17:09] agup006 commented on #3006
@bithoarder do you also have the `Merge_Log_Key` defined in the configuration?

[2021-02-19 17:19] agup006 commented on #3073
Thanks for the repro, some initial thoughts are it might be related to tag_regex. Any possibility of running tail without it @loburm , appreciate your help?

[2021-02-19 17:55] PettitWesley commented on #2753
@mikhno-s try updating your 1.7 image, there was a bug that broke AWS plugins ability to make connections (certs weren't included properly in the image) and the upstream maintainers re-uploaded the images.

AFAIK this bug was fixed in upstream. @marklinders-planon and I worked on it for a while and resolved this and other related issues.

[2021-02-19 17:56] donbowman commented on #2864
any word on this?
given we don't seem to use the tests or the CI anymore, i'm reluctant to dig in and fix.

[2021-02-19 17:56] PettitWesley commented on #2753
@mikhno-s Please post a fuller set of logs which shows the EINVAL error/crash.

[2021-02-19 18:06] agup006 commented on #2864
I'm sad to see we accept merges to master w/ broken CI.

Hey @donbowman, I'm with you around CI and have the same concerns.

re: CI there are some issues with TravisCI.org system being deprecated and we are migrating to GitHub actions, a recommendation from the CNCF. Currently, the Fluentd project is being migrated to GitHub actions. The migration process for Fluent Bit been slower than we like an

[2021-02-19 19:38] gaddaak commented on #3091
Its working with no errors its not due to the image problem it works with the latest image from dockerhub

its working if i  try to run as nonrootsuer
example:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000

But now i don't see any logs written

Here are the latest logs from one of the fluentbit pod

[2021/02/19 18:50:51] [error] [parser] parser named

[2021-02-19 19:47] donbowman commented on #2864
i think long before this we had a strategy of merging to master even w/ tests failing.
Its not clear that github actions vs gitlab vs travis vs circle would affect.

this particular issue here is not a bug in teh test... the test did its job, the commit broke the code base, the test failed. but it was merged.

[2021-02-19 21:41] edsiper commented on #2864
now we are putting best practices around the dev cycle of the project. I think this should not be an issue again from now on.

note: the problematic code has been fixed.

[2021-02-19 23:37] JeffLuoo opened #3094 "[input chunk] fs_chunk_size is updated by 0 bytes and will cause "no available chunk" error"
## Bug Report
Saw lots of logs generated by fluent bit that the fs_chunk_size is only updated by 0 byte
[code]

And this will cause the "no available chunk" issue even if there are still enough space (I guess it is caused by fs_chunk_size is not updated correctly)
[code]

**Describe the bug**

Error `no available chunk` even if there are enough spaces left.

**To Reproduce**
- Steps to reproduce t

[2021-02-19 23:40] JeffLuoo commented on #3094
Some Notes:
During testing, I found that the fs_chunks_size for `forward.0` is updated correctly and the error only happens on `forward.1`.

Chatted with @panaji and he confirmed that this error happens in v1.7 as he tested it on v1.6.10 and didn't see this error.

[2021-02-20 03:22] atalukdar commented on #632
Still running into issue for v1.7.0 for Redhat / CentOS

failed to create producer: No provider for SASL mechanism GSSAPI: recompile librdkafka with libsasl2 or openssl support. Current build options: PLAIN

[2021-02-20 04:33] sibradzic commented on #3085
Thanks for the hint, seems that Microsoft was facing similar issues. The Microsoft issue is more about aligning the output format to the docker parser output. Yet this issue is solely about missing `time` in the fluent-bit cri parser output.

[2021-02-20 16:18] niedbalski opened #3095 "Add workflow(s) for build && release"
**Feature**
Automate the build and release process of fluent-bit

1) Build the distro packages on both architectures amd64 && arm64
2) Build the docker images for both latest release and debug images on amd64 && arm64 multiarch
3) Publish the distro packages on packages.fluentbit.io for all the currently supported distros
4) Publish the docker images on dockerhub

**Describe the solution you'd lik

[2021-02-21 00:50] hsmatulisgoogle commented on #3058
I confirmed this is still happening with fluent-bit 1.7.1:
[code]

[2021-02-21 17:36] JeffLuoo commented on #3094
can be reproduced locally:
[code]

[2021-02-21 17:53] JeffLuoo commented on #3094
Beside from the above issue, I also found a bug that `fs_chunk_size` is not updated correctly...
This bug can be reproduced locally by:
[code]

And from the log I saw
[code]

[2021-02-21 18:12] JeffLuoo commented on #3094
I printed out the content size vs real size when fluent bit deletes the chunk and found that
[code]

So my guess is that when data comes in, `fs_chunk_size` is firstly updated by how many bytes of data ingested and the size is calculate the 'real' new bytes being added after the filtering phase. When chunk is destroyed, the chunk contains some meta data which will increase the chunk size which cau

[2021-02-22 03:55] cobb-tx commented on #2671
I have the problem of consent ，Memory increases slowly and OOM

[2021-02-22 06:23] harry-xiaomi opened #3097 "Build error with FLB_RECORD_ACCESSOR=off"
## Bug Report

**Describe the bug**
Fluent Bit v1.7.1 does not build with `-DFLB_RECORD_ACCESSOR=Off`.

**To Reproduce**
- Example log message if applicable:
[code]

**Expected behavior**
All CMake options can be switched off.

**Screenshots**

**Your Environment**

* Version used: 1.7.1
* Configuration:
* Environment name and version (e.g. Kubernetes? What version?):
* Server type and version:
*

[2021-02-22 07:31] lin-xiaomi opened #3099 "Typo in CMakeLists.txt"
## Bug Report

**Describe the bug**
Description of `option(FLB_RELEASE)` is incorrect.

https://github.com/fluent/fluent-bit/blob/02bf933175680461688c8250ffcce4b8b28ebb94/CMakeLists.txt#L64-L65

[2021-02-22 16:00] kabakaev opened #3103 "TCP SYN flood circuit breaker"
We send logs from hundreds of servers into a central location via `out_forward`. Everything works as expected, thanks to `net.keepalive`.

But if the receiving side is down, then the log shippers start sending thousands of TCP SYN packets, which creates considerable load on stateful firewalls and TLS proxy. Our network team is unhappy about it.

Frequency of SYN packets varies depending on Retry_L

[2021-02-22 17:34] #3099 closed

[2021-02-22 23:00] edsiper commented on #3058
Doing a stress test found that storage.max_chunks_up is not being respected. Got > 500 chunks up while the max allowed is 128.

troubleshooting

[2021-02-22 23:51] hsmatulisgoogle commented on #3058
Saw the same issue where storage.max_chunks_up is not respected. Although it seems to be unique to v1.7.1. Couldn't reproduce with 1.7.0 or any other version

[2021-02-23 00:45] richardmcsong opened #3106 "Stackdriver: configure output project_id"
**Is your feature request related to a problem? Please describe.**
In my multitenant cluster, I would like the ability to forward logs to different stackdriver instances that live in the tenant's own GCP projects. They would specifically like the ability to create log based metrics on their logs, a functionality that isn't possible with Log Forwarding from within Stackdriver, since metrics are cal

[2021-02-23 03:47] hsmatulisgoogle commented on #3058
Thinking about it, this could be the result of the other crashes in v1.7.0. The test I was looking at did not fail, so it could be this is not unique to v1.7.1. I would need to do more investigation

[2021-02-23 03:50] hsmatulisgoogle commented on #3057
Hmm thats really weird. Looks like it might be an issue with the syslog input plugin. Do you have this issue with any other input plugin? Is there any pattern to the logs being dropped (eg. first 300 are dropped, last 300, its random etc)

[2021-02-23 06:43] elruwen commented on #3014
Same problem happens with 1.7.0. Tracing down the issue became harder due to https://github.com/fluent/fluent-bit/issues/3001

So that little python script I posted doesn't detect anymore if a chunk has been properly retried.

[2021-02-23 06:44] elruwen commented on #2661
Problem persists with 1.7.0 :(

[2021-02-23 10:25] pavankumar-go commented on #3052
Hey @agup006 - On updgrading from `1.6.10` to `1.7.0` we are getting the same error as soon as the pods starts up
[code]

[2021-02-23 12:05] proffalken opened #3109 "Issue filtering with new GeoIP2 module"
## Bug Report

**Describe the bug**
When the GeoIP2 filter is enabled, I cannot get fluent-bit to augment my logs in the way I would expect.

**To Reproduce**
- Rubular link if applicable: N/A
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

Configure Fluent-bit as follows:

[code]

**Expected behavior**

All log data should be augmented with `fb_<field name>` with th

[2021-02-23 14:04] jsubirat commented on #2872
Option 1 also sounds the most reasonable to me :-)

[2021-02-23 16:18] jazzdan opened #3110 "segfault in flb_tls_session_create"
## Bug Report

**Describe the bug**
Overnight several of our fluent-bit Kubernetes pods crashed, the logs look identical at the end for each.

**To Reproduce**
Not sure, but here are the logs that occurred right before the segfault. It's always the same: the `upload_timeout` gets hit for a file, it goes to upload it, and then it segfaults.

[code]

**Expected behavior**

I would expect fluent-bit

[2021-02-23 16:19] jazzdan commented on #3110
https://github.com/fluent/fluent-bit/issues/3110

[2021-02-23 16:45] pschulten commented on #3077
I have the same issue as @sondinhnwv  and getting the error when switching from 1.6 to 1.7. @edsiper, do you need more context?

[2021-02-23 16:51] edsiper commented on #3077
If the issue is reproducible with v1.7.1 in your environment let's join a call to troubleshoot. Let me know...

[2021-02-23 17:23] pschulten commented on #3077
Gladly. Today? 20:30 GMT+1?

[2021-02-23 17:45] ArtemTrofimushkin commented on #2839
Hello to everyone
We also run into this issue.

**To Reproduce**
Install fluent-bit using helm chart 0.12.2

Config from values.yaml
`
config:
  customParsers: |
    [PARSER]
        Name        docker_time_keep
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L
        Time_Keep   On

    [PARSER]
        Name        logfmt
        Format      logfmt
  filt

[2021-02-23 17:54] ArtemTrofimushkin commented on #2839
Hello to everyone
We also run into this issue.

**To Reproduce**
Install fluent-bit using helm chart 0.12.2

Config from values.yaml

    config:
        customParsers: |
          [PARSER]
            Name        docker_time_keep
            Format      json
            Time_Key    time
            Time_Format %Y-%m-%dT%H:%M:%S.%L
            Time_Keep   On

          [PARSER]
            Name

[2021-02-23 18:31] jsubirat opened #3111 "File tailing doesn't work on NFS-mounted files"
## Bug Report

**Describe the bug**
When using the `tail` plugin to tail files mounted via NFS, their full content is read once, but then additional lines are not detected.

**To Reproduce**
- Created an Ubuntu 18.04 EC2 instance.
- Installed required NFS packages:
[code]
- Created folder to be shared via NFS:
[code]
- Configured the NFS server in `/etc/exports`:
[code]
- Restarted NFS server proc

[2021-02-23 19:09] cboothe opened #3112 "Kubernetes Metadata is missing 1.7.1 on output"
## Bug Report

**Describe the bug**
I was trying to deploy multiple versions of the image to get the Kubernetes plugin to work. It looks like several versions have connectivity issues. However when I use 1.7.1 it does say it can connect.

Fluent Bit v1.7.1
* Copyright (C) 2019-2021 The Fluent Bit Authors
* Copyright (C) 2015-2018 Treasure Data
* Fluent Bit is a CNCF sub-project under the umbrella

[2021-02-23 22:13] JeffLuoo opened #3114 "Memory Leak on latest fluent bit build on master"
## Bug Report
While I was doing some tests with valgrind, I detected some memory leak.
[code]

**To Reproduce**
Run fluent bit with config:
[code]

**Expected behavior**
0 bytes lost
**Screenshots**

**Your Environment**

* Version used: master branch
* Configuration:
* Environment name and version (e.g. Kubernetes? What version?):
* Server type and version:
* Operating System and version:
* Filte

[2021-02-23 23:06] JeffLuoo commented on #3114
nvm, wrong config. close it.

[2021-02-23 23:06] #3114 closed

[2021-02-23 23:06] jsjeannotte opened #3117 "Agent stop processing all inputs and CPU usage of td-agent-bit is at 100% after a copy-truncated log file started to be processed"
## Bug Report

**Describe the bug**
When using the tail input plugin with a file getting rotated using the copy-truncate approach, after the first rotation, the new file has a big chunk of binary data prefixed on the first line. So then fluentbit agent process that line, it starts to use 100% CPU and stop processing any other records. Only solution is to restart the agent.

Here's the last debug l

[2021-02-23 23:09] anishk25 commented on #3057
There was an issue with the rsyslog service. All the logs were not being forwarded to fluent bit and logs were getting dropped. Now its able to send all the logs.

[2021-02-23 23:09] #3057 closed

[2021-02-23 23:20] #3095 closed

[2021-02-23 23:52] sarandia opened #3119 "Support multi-arch aarch64 and x86_64 images in Dockerfile"
**Is your feature request related to a problem? Please describe.**
The Dockerfile currently hard-codes x86_64 system libraries, even though both the builder image it uses (debian:buster) and the base image (distroless/cc-debian10) are multi-arch. This means that we would need to maintain a separate Dockerfile for our CI to build arm64 images, even though the travis CI for fluentbit is already buil

[2021-02-24 00:49] edsiper commented on #3058
@hsmatulisgoogle

I've pushed a test branch with a few fixes, can you give it a try ?

- [branch issue-3058](https://github.com/fluent/fluent-bit/tree/issue-3058)

note: this is the relevant commit: 1ff3b105b0a22e99544c1cbb20148b98c9e0531b

[2021-02-24 07:39] PoYuHsu opened #3120 "[Loki] out_loki caught SIGSEGV when using works"
## Bug Report

**Describe the bug**
Fluentbit always caught signal SIGSEGV when I used `workers` in loki output plugin in version 1.7.1.

**To Reproduce**
Log:
[code]

config:
[code]

**Your Environment**

* Version used: td-agent-bit - 1.7.1
* Operating System and version: Ubuntu 16.04
* Filters and plugins: loki

[2021-02-24 10:20] fujimotos commented on #2872
@mnevilleoneill @agup006 @jsubirat Based on your feedback,
I posted #3121 that changes the plugin to emit EventID as `uint16`.

Once that merged, I believe this ticket can be closed.

[2021-02-24 10:23] servo1x commented on #3112
Most likely the kubernetes metadata size is too big: https://github.com/fluent/fluent-bit/issues/2033

Recommend setting the `Buffer_Size` to `0` for the `kubernetes` filter.

Doc: https://docs.fluentbit.io/manual/pipeline/filters/kubernetes

[2021-02-24 10:26] jsubirat commented on #2872
Thanks a lot for taking care of this issue, @fujimotos , really appreciated!

[2021-02-24 11:17] cboothe commented on #3112
Thanks @servo1x that didn't make a difference though. Is there a way to debug the filter?

[2021-02-24 14:26] #2872 closed

[2021-02-24 17:11] hsmatulisgoogle commented on #3058
Looks like that change fixed not respecting max_chunks_up:
![image](https://user-images.githubusercontent.com/69014250/109037864-30754e00-7699-11eb-9dcb-2969e33e070b.png)
However things are still flaky:
![image](https://user-images.githubusercontent.com/69014250/109038037-5569c100-7699-11eb-8409-2f1f9a41b9f5.png)
I didn't investigate if the crashes were due to running out of file descriptors yet,

[2021-02-24 17:16] edsiper commented on #3058
For the second graph, what setup/architecture are you using to gather the info ?

[2021-02-24 17:17] edsiper commented on #3058
One thing to test, what about if you change the flush interval to 0.5 ? (and then compare both graphs with flush 1 vs flush 0.5)

[2021-02-24 17:44] jsjeannotte commented on #3117
Hi again. I was able to reproduce locally and it looks like it get stuck in a loop inside `mpack_reader_init_data()`. See screenshot.

<img width="1240" alt="Screen Shot 2021-02-24 at 9 43 04 AM" src="https://user-images.githubusercontent.com/3856468/109042233-cbaff880-7684-11eb-9723-8f5575733b30.png">

Will look into a fix and send a pull-request.

[2021-02-24 19:32] rubans opened #3123 "HTTP status code 413 - Payload Too Large"
I'm getting Http Status 413 - Request payload messages in fluentbit pod logs which presumably is related to ElasticSearch HTTPS connection.
The ES output connection is over HTTPS and seems to be working in principle but wanted to fix this warning.
I have modified HTTP content size on ES to 500mb but still getting the warnings on fluentbit.
The warning refers to chunking of a *.flb file which I can

[2021-02-24 20:05] vladimirfx commented on #3082
Currently observed behavior (1.7.1):
1. Out of order chunk goes to retry queue
2. New chunks are waiting while retry is success (witch was never happens)
3. Retry timeout grows exponentially so few incorrect chunks effectively blocks all output to Loki AND because of #3088 eventually all output at all.

I think HTTP code 400 from Loki should be treated as Error status as stated in Fluentbit retry

[2021-02-24 20:11] vladimirfx commented on #3082
Bad workaround 1:
[code]

But if you have at least of hundreds of "bad" chunks it is not not save you because of uncontrollable retry pause and not disablable retry logic.

Bad workaround 2 - disable timestamp parsing on your inputs.

[2021-02-24 21:01] gaddaak commented on #3091
error is fixed

[2021-02-25 05:25] ewirch opened #3127 "http: panic serving 127.0.0.1:60276: interface conversion: interface {} is uint8, not map[interface {}]interface {}"
## Bug Report

**Describe the bug**
We found the above message in our logs. Here's the stack trace:
[code]

**Your Environment**

* Version used: `gke.gcr.io/fluent-bit:v1.3.11-gke.0`
* Environment name and version (e.g. Kubernetes? What version?): Google Cloud Kubernetes 1.18.15-gke.800

[2021-02-25 05:37] agup006 opened #3128 "fluent-bit log level warn not respected"
## Bug Report

**Describe the bug**

Setting `Log_Level warn` does not work, but using `warning` does.

**To Reproduce**
Set `Log_Level warn` in SERVICE block

**Expected behavior**

`Log_Level warn` should only print out warning and error

**Screenshots**

**Your Environment**

* Version used:
* Configuration:
* Environment name and version (e.g. Kubernetes? What version?):
* Server type and vers

[2021-02-25 05:37] agup006 commented on #3128
https://github.com/fluent/fluent-bit-docs/issues/451

[2021-02-25 07:21] simonvanbernem opened #3129 "[Windows] Elastic Output Plugin stalling for several minutes for 2GB dataset"
First of all: Sorry for not going through the slack-channel first, as recommended, but I simply could not get it to work. It says channel not found, and if I try to create an account, it wants me to have an email from the @linuxfoundation domain, which I don't have...? So a github issue will have to do.

I am testing fluent-bit for use at my company at the moment. Our usage scenario are large sets

[2021-02-25 07:30] simonvanbernem commented on #3129
I just realized there is a bug template, that I somehow couldn't chose when creating the issue. Sorry for that, I hope its not a problem, I basically did all the debugging myself already :D

[2021-02-25 09:06] vladimirfx opened #3130 "SIGSEGV on 1.7.1"
## Bug Report

**Describe the bug**

Periodical crash with SIGSEGV.

**To Reproduce**
No steps to reproduce.
[code]

**Expected behavior**

No crash.

**Your Environment**

* Version used: 1.7.1
* Configuration: tail input + loki output (configuration from Helm chart)
* Environment name and version (e.g. Kubernetes? What version?): Kubernetes k3s v1.20.2+k3s1
* Server type and version: Loki 2.0
*

[2021-02-25 09:45] ArtemTrofimushkin commented on #2839
Hello!

We tested several releases : from 1.7.1, 1.7.0, 1.6.8 to 1.6.3.
Issue mentioned earlier presents on following releases: 1.6.8 - 1.6.4 inclusively, but is missing in 1.6.3.
After that, we started to build custom docker images between following commits:
https://github.com/fluent/fluent-bit/compare/v1.6.3...v1.6.4

Finally, we found that at this commit:
https://github.com/fluent/fluent-bit/co

[2021-02-25 09:50] vladimirfx opened #3131 "[Loki] Whitelisting automatic Kubernetes stream labels"
**Is your feature request related to a problem? Please describe.**

Loki strongly recommends using stable label values for stream labels. But automatic Kubernetes labels nearly always include some runtime hashes such as controller_revision_hash, pod_template_hash etc. That makes using of k8s auto labels fatal for Loki instance in long run because of infinitely growing label values.

**Describe the

[2021-02-25 14:15] edsiper commented on #2839
@ArtemTrofimushkin

I am curious if is about the IO changes on 68ca124. Do you have a full log file so I can see the network behavior ?

[2021-02-25 14:21] edsiper commented on #3131
@vladimirfx what about the option ```remove_keys``` ?, it should do the job.

[2021-02-25 14:34] vladimirfx commented on #3131
Do you mean record_modifier filter? We are trying to implement this but this issue not about lossy modification of record but about filtering of Loki stream labels. Loki is very sensitive to stream labels especially in context of chunks ordering.

[2021-02-25 15:05] edsiper commented on #3131
Loki output plugin has a configuration property called ```remove_keys```, e.g:

[code]

[2021-02-25 15:12] vladimirfx commented on #3131
I see this in code but not in docs. Thanks I've try it!
This removes key from record or from stream labels?

[2021-02-25 15:35] frenchviking commented on #3109
Hello,

I'm having the same issue.

fluent bit v1.7 deployed as a daemonset on kubernetes.

maxmind database is hosted on a persistent volume and mounted to the pods. The DB is managed and updated by Maxmind's geoipupdate tool, also deployed on the cluster (image maxmindinc/geoipupdate). Mounting the volume on a pod with a terminal I can confirm that the DB files are availables.

Here is the confi

[2021-02-25 16:27] edsiper commented on #3129
@simonvanbernem no worries, so the ticket can be closed ?

I got interested in how to optimize for the realloc() scenario. Every flush callback payload is about 2MB, so maybe we can make a better job to reduce memory reallocations

[2021-02-25 16:35] simonvanbernem commented on #3129
@edsiper I mean - if there is no fix in the repo yet the bug is not fixed right? Or did someone already commit one? I don't know if you handle it differently with this project, but usually an issue is only closed when the bugfix was successfully merged into master. So if there is no bugfix yet then I wouldn't close the ticket.

Also: how do we go from here? Is there some maintainer for the elastic

[2021-02-25 16:40] edsiper commented on #3129
In the ticket I see 2 things mentioned:

- Bottleneck: on heavy load, realloc(2) is slowing down things, so a better memory allocation strategy will solve it.

- Crash: how the crash can be reproduced locally ? did you get any stacktrace when this happened ? (did the crash happens only on Windows or Linux too?)

[2021-02-25 16:46] simonvanbernem commented on #3129
I should have been clearer there: I only saw crashes when running the program in a local debugger, so I suspect some weird interactions going on there that probably wont reproduce. So forget the crash, it didn't happen with the unmodified binary distribution, it shouldn't be a problem.

The two things that actually need fixing are:
- A better allocation strategy for the elastic plugin to avaoid re

[2021-02-25 16:53] palmerabollo commented on #1701
I can confirm this is failing and messages can be lost. Is there any plan to fix this?

[2021-02-25 17:33] vladimirfx commented on #3131
Unfortunately remove_keys not remove nested keys. Neither works:
[code]

Record:
[code]

[2021-02-25 17:39] vladimirfx commented on #3082
@edsiper Sorry for mention... My observation is correct? Can Loki output threat 400 code as fatal error and skip that chunk?

[2021-02-25 18:16] RiccardoManfrin commented on #1379
Is this still the case?

[2021-02-25 20:11] stevehipwell commented on #3082
@vladimirfx are you taking about a whole chunk or a single record?

[2021-02-25 20:45] ericonr commented on #2464
The coroutine stack size happens due to https://github.com/fluent/fluent-bit/blob/5ffc991b71cd06cfa2f2f7a764e634af053776bd/src/fluent-bit.c#L1111 and https://github.com/fluent/fluent-bit/blob/5ffc991b71cd06cfa2f2f7a764e634af053776bd/include/fluent-bit/flb_coro.h#L68

musl defines `PTHREAD_STACK_MIN` to 2048, which means that the result of `PTHREAD_STACK_MIN * 3 / 2` is 3072, which is definitely sm

[2021-02-25 20:45] edsiper commented on #3130
Would you please share your configuration ?

[2021-02-25 20:49] edsiper commented on #3131
please share your full configuration.

[2021-02-25 21:36] bpg130 commented on #3127
We are seeing the same errors coming from containers running the following image
`gke.gcr.io/fluent-bit-gke-exporter:v0.14.2-gke.0`
on the following kubernetes version
`1.19.7-gke.1302`.

It appears to be causing certain log messages to not show up in GCP log explorer.

[2021-02-25 22:22] JeffLuoo commented on #3094
closed as fixed by #3118

[2021-02-25 22:22] #3094 closed

[2021-02-25 22:23] JeffLuoo commented on #3060
closed as I tested it and it is handled.

[2021-02-25 22:23] #3060 closed

[2021-02-26 03:50] edsiper commented on #3055
issue has been fixed. Now the first initialization of ```co_swap``` is protected

[2021-02-26 03:50] edsiper commented on #3055
refs:

- b058febaa764bcb6238b560a388803b61f10cbf9
- b48e6583b41c7276096f2506af300882bd4a2476

[2021-02-26 03:50] #3055 closed

[2021-02-26 04:20] edsiper commented on #3058
@hsmatulisgoogle

We did a couple of performance tests using GIT master, using a storage with 2GB of backlog data and processing 10M of incoming records, we were not able to generate that behavior, I am wondering what else can be.

Note that in our environment we had to change ```storage.backlog.mem_limit``` to 100M so it could process the backlog data at a good throughput. (side note: we just cha

[2021-02-26 04:58] agup006 commented on #3109
I was able to repro this quite easily, I'm wondering if this might be a small query issue

[2021-02-26 06:46] vladimirfx commented on #3131
[flbconf.zip](https://github.com/fluent/fluent-bit/files/6047843/flbconf.zip)

[2021-02-26 06:48] vladimirfx commented on #3130
FluentBit DaemonSet:
[code]

[flbconf.zip](https://github.com/fluent/fluent-bit/files/6047847/flbconf.zip)

[2021-02-26 07:07] vladimirfx commented on #3082
Stuck whole chunk. I don't know how many records in chunk but in log I see:

[code]

1 out of 1 - does not this mean 1 record per chunk?

It would be nice to skip only invalid record but it way more complex task.

Unfortunately log quality (its ordering) is uncontrollable thing and we have at least 4 cases (pods that emits out of order records regularly) in relatively small cluster. Ability to ign

[2021-02-26 07:22] proffalken commented on #3109
@agup006 The only issue the logs is a `warn` as follows:

[code]

Sending the data to STDOUT suggests that this is due to the `source` field not being present, so that makes sense.

I'm wondering if it's to do with *where* I'm calling the parser - I notice that you're calling the "apache" parser in the input and then matching against that, I'm matching against the SYSLOG parser, and then filtering

[2021-02-26 07:43] wenerme commented on #2464
build with static conf can resolve this, https://gitlab.alpinelinux.org/alpine/aports/-/blob/master/testing/fluent-bit/APKBUILD#L42 ,but some test will crash

[2021-02-26 09:54] ArtemTrofimushkin commented on #2839
@edsiper

We tested 1.6.3 for a full day and found that it also crashes.
But crashes happens less frequently:

* 1.6.3 crashes approx 1 time per hour
* 1.6.3 (at commit 68ca124) crashes approx 1 time per 3-5 mins

When we checked fluent-bit full logs for 1.6.3 (full logs attached), we found SIGSEGV error with stack trace, pointed to src/flb_io.c:349:

https://github.com/fluent/fluent-bit/blob/v1.6

[2021-02-26 10:48] frenchviking commented on #3109
@agup006 I tried the lookup_key with or without the "traefik" prefix with no success. Also I changed the processing order of my filters as follow:

    @INCLUDE input-kubernetes.conf
    @INCLUDE input-traefikee.conf
    @INCLUDE filter-kubernetes.conf
    @INCLUDE filter-traefikee.conf
    @INCLUDE filter-geoip.conf
    @INCLUDE output-elasticsearch.conf

If the filters are parsed and events proc

[2021-02-26 11:00] giovanni-ferrari commented on #3088
Same issue here.
I prepared a small docker-compose to replicate the issue. In case the connection to ES is lost (in my test, stopping the EG container) then fluent-bit stops forwarding logs to loki.

What's the relation between these two plugins?
Why stdout output plugin keeps showing logs?

Fluent-bit-config.yaml
`[SERVICE]
    # Flush
    # =====
    # Set an interval of seconds before to flush

[2021-02-26 11:20] frenchviking commented on #3109
Digging with log_level debug. Weird event while reading the log containing my traefik events :
`[input:tail:tail.1] cannot read info from: /var/log/containers/kube-prod-proxy*.log`
 Not sure what to do since the traefik logs are processed.

While I can see that my filters 1 & 2 are loaded I don't see any record regarding the third filter, the geoip one.

[code]
Since the records are added the filt

[2021-02-26 11:33] giovanni-ferrari commented on #3082
Hello, may I ask if you know what is the relation between plugins like ES and Loki so that if ES output fails to forward logs then also other pluging like Loki are inpacted ?

[2021-02-26 11:38] Epictek opened #3133 "Cannot build version past v1.5.6 using yocto"
## Bug Report

**Describe the bug**
Cannot build any version of fluent-bit past v1.5.6 (tried v1.5.7, v1.6.10, v1.7.0 v1.7.1), I am targeting the raspberrypi4.

**To Reproduce**
- Steps to reproduce the problem:
git clone https://github.com/Epictek/fluent-test
./build.sh

make logs:
https://gist.github.com/Epictek/dc55afd856c07ecd9b7e3f4c1d5c30c4

[2021-02-26 12:47] sunoce commented on #3078
Thank you for your fast response - I will try it as soon as I have time and comment again here!

[2021-02-26 12:48] vladimir259 commented on #2152
The issue still exist in 1.7 :-(

[2021-02-26 16:59] sandeepsingh0321 commented on #1935
I am using the  fluentbit:v1.5  and I still the see same issue

[2021-02-26 17:56] agup006 commented on #3109
Another thought @frenchviking is that its a nested JSON and that the lookup key might need to reflect a nested structure

[2021-02-26 18:01] agup006 commented on #3109
This assumption is correct - quick visual (link.calyptia.com/1j8)
![image](https://user-images.githubusercontent.com/3642874/109337173-4447be00-7819-11eb-82cf-e2d8378ed8fe.png)

Could we try commenting out the GeoIP filter to see what the data looks like in stdout?

[2021-02-26 20:46] hsmatulisgoogle commented on #3058
I am running some tests on ff2507be7c680b225f89285bff26fa8ef17fde88 and will let you know. Were you running 10 million records total? How large was each record and for how long did you run the test for?

[2021-02-26 21:02] hsmatulisgoogle commented on #3058
I've been using the following config to run things:
[code]

[2021-02-26 21:09] edsiper commented on #3058
I have a similar config. Happy to join a call to troubleshoot...

[2021-02-26 21:21] hsmatulisgoogle commented on #3058
Hmm I am getting some interesting errors:

One attempt failed with the following
[code]

Another did not report any errors but is not sending any logs. I'd be happy to join a call

[2021-02-26 21:24] edsiper commented on #3058
I am sending an invite to your email..

[2021-02-26 21:28] goilanit opened #3134 "Dockerfile.windows file specifies an older version of Fluent-Bit"
## Bug Report

**Describe the bug**
https://github.com/fluent/fluent-bit/blob/1.6/Dockerfile.windows defines the FLUENTBIT_VERSION variable and set it to 1.3.8 which is an older version.

**Expected behavior**
The  FLUENTBIT_VERSION variable should hold the correct version (similar to the Dockerfile value)

**Additional context**
We have a flow to auto generate fluent-bit windows images and curren

[2021-02-26 22:06] edsiper commented on #3058
## findings during the conference call

- file descriptors issue is gone
- no crashes found

We found another issue on a very high scale scenario: with some backpressure and intensive data load, Fluent Bit is spending a high number of CPU cycles on the function [flb_input_chunk_total_size()](https://github.com/fluent/fluent-bit/blob/master/src/flb_input_chunk.c#L638)

In the test case, there are 4

[2021-02-26 23:42] edsiper commented on #3058
@hsmatulisgoogle

I've pushed a test branch with a performance enhancement: [issue-3058v2](https://github.com/fluent/fluent-bit/tree/issue-3058v2)

The enhancement is that chunkio now keeps a context of chunks up/down, so it will only iterate the active chunks and not all of them. I am curious if you see the throughput as a normal state after this changes.

[2021-02-27 01:38] nokute78 commented on #3127
It is a golang backtrace and fluent-bit is written in C.
It may be a GKE specific issue.

Similar situation is #2956 .
Could you ask Google Team like that issue ?

[2021-02-27 07:05] vladimirfx commented on #3082
@giovanni-ferrari I  don’t know a reason of correlation between output plugins.

[2021-02-27 12:53] vladimirfx commented on #3131
Anyway if `Remove_keys` will work this particular issue is about not destructive change of record.

What do you think about `Whitelist_label` for effective stream labels list? If you ok I've try to implement it.
[code]

[2021-02-28 03:00] panaji commented on #2688
Thanks @JeffLuoo, I no longer see the issue on 1.7

[2021-03-01 05:18] Hichem-BenJeddi commented on #2688
Hello @panaji  did you change your configuration file or only update to the version 1.7 ?
Because i have the same issue even with the version 1.7

[2021/03/01 05:12:28] [debug] [storage] tail.0:1-1614575548.265031041.flb mapped OK
[2021/03/01 05:12:28] [debug] [input chunk] chunk 1-1614575548.265031041.flb required 370 bytes and 5000000537 bytes left in plugin kafka.0
[2021/03/01 05:12:28] [error]

[2021-03-01 05:57] nipuna-perera commented on #2522
I am having this same issue! I am on EKS 1.17 and I am using the non amazon fluentbit version 1.7.1 to push logs to Splunk HEC. @jonathanjuursema I am assuming the default Kube_URL does not work for EKS? How do I figure out the correct Kube_URL for my cluster?

[2021-03-01 06:05] vladimirfx commented on #3131
Related Loki/Promtail ticket - https://github.com/grafana/loki/pull/3390

[2021-03-01 08:25] jonathanjuursema commented on #2522
Hey @nipuna-perera! The value for Kube_URL you're looking for can be found in the [AWS EKS web console](https://eu-west-1.console.aws.amazon.com/eks/home). You want the `API server endpoint` of your cluster, under "Configuration" > "Details".

[2021-03-01 08:29] proffalken commented on #3109
Thanks for this @agup006 , always nice to know that your assumptions are valid! :rofl:

The output without the geoip module is as follows:

[code]

I can see the `source` field there, so what am I missing in the geoip config?

[2021-03-01 08:33] nokute78 commented on #2869
Note:

The elasticsearch documentation
https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html

Same Issue of fluentd
https://github.com/uken/fluent-plugin-elasticsearch/issues/785
https://github.com/uken/fluent-plugin-elasticsearch/issues/766

The patch of fluentd
https://github.com/uken/fluent-plugin-elasticsearch/pull/774

[2021-03-01 08:35] frenchviking commented on #3109
So I have commented out all the kubernetes input and filter, and the elasticsearch output, replaced by a stdout config. This is what comes out (reformatted for reading):

[code]
Everything looking good isn't it ?

Here is the version with the geoip filter :

[code]

[2021-03-01 08:58] nokute78 commented on #2869
Thank you for reporting issue.
I sent a patch #3140. Could you check it ?

[2021-03-01 09:06] Theoooooo commented on #2869
Thanks for the update on this issue,

As i said above in my last comment, i can't upgrade because of the issue #2886. Without this getting fixed, i can't test any changes made.
(This issue is quiet lengthy, if you need informations about it, i'm free to gave you what you need)

[2021-03-01 10:55] ewirch commented on #3127
Thanks for the hint. I reported the issue here: https://issuetracker.google.com/issues/181493710

[2021-03-01 10:55] #3127 closed

[2021-03-01 11:27] trK54Ylmz opened #3141 "Cannot build from source on Mac M1"
## Bug Report

**Describe the bug**

MacOS Big Sur cannot find `malloc.h` while trying to install Fluent Bit 1.7.1,

[code]

I am not sure fi it is related to my XCode environment. I could not install with `brew` also,

Tried with brew (first try)

[code]
and tried with brew source build (second try)

[code]

build from source steps (third try),

[code]

NOTE: My first intention was to installing

[2021-03-01 12:09] scuzhanglei opened #3142 "Can't json decode Chinese character on arm platform"
## Bug Report

**Describe the bug**

on arm platform,  regex parser with `Decode_Field_As` can't work correctly.
this is fluent-bit error log:
[code]
**To Reproduce**
- Rubular link if applicable: https://rubular.com/r/p3ryl22EbVRU00

- Steps to reproduce the problem:
with above parser and the example log with Chinese character or other special character like '《》' will reproduce it.

**Expected be

[2021-03-01 17:10] panaji commented on #2688
I'm using the latest master, which probably will be 1.7.2

[2021-03-01 18:08] agup006 commented on #3109
@frenchviking, thanks for providing that info -the main reason I think this is failing is that `traefik.ClientHost` won't access the nested field.

I'm unsure if the GeoIP2 filter supports record accessor which would use the following for the lookup key: `traefik[ClientHost]` https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/record-accessor. Are you able to try that out? Alter

[2021-03-01 18:40] hsmatulisgoogle commented on #3058
Hmm I am getting a lot of crashes with the following errors now:
[code]
I am not seeing the previous issue, but that might be because these crashes are more common now

[2021-03-01 18:41] edsiper commented on #3058
@hsmatulisgoogle

what's the stacktrace of the crash ?

[2021-03-01 18:45] hsmatulisgoogle commented on #3058
I couldn't find a stack-trace, where would I look for one?

[2021-03-01 18:49] edsiper commented on #3058
in stdout, on a SIGSEGV it prints to stdout a small stracktrace

[2021-03-01 18:55] hsmatulisgoogle commented on #3058
I don't see any stack trace and the agent isn't running so I am not sure how to proceed. The following seems to be the whats raising the error
https://github.com/fluent/fluent-bit/blob/6d94c5130aafc727548ddd893c8a4ecd13e176d1/lib/chunkio/src/cio_file.c#L776-L783

[2021-03-01 18:57] edsiper commented on #3058
taking a look at that.

[2021-03-01 19:07] edsiper commented on #3058
I was able to reproduce that... working on it.

[2021-03-01 19:51] sophieyfang commented on #2976
Solved

[2021-03-01 19:51] #2976 closed

[2021-03-01 21:05] proffalken commented on #3109
ok, shotgun-debugging has led me to the following:

The "fault" is raised at https://github.com/fluent/fluent-bit/blob/master/plugins/filter_geoip2/geoip2.c#L259, however I think it's actually failing at https://github.com/fluent/fluent-bit/blob/master/plugins/filter_geoip2/geoip2.c#L233 because the `entry` appears to be blank when trying to print it to the log.

My C is very rusty, but I'm wonder

[2021-03-02 06:41] simonvanbernem commented on #3129
Why is there still the waiting-for-user label on this issue? I think I provided all the information necessary for a fix.

[2021-03-02 07:58] MPeli commented on #2770
Hi,

     Thank you for adding the new option. This is exactly what I need. I am trying to use it. I had to build fluent-bit because there is no official release with the new feature implemented. I am able to get offset as long as `Multiline` is set to `Off`. Once I turned it `On`, the offset is missing in all records. I am not sure whether I built it correctly. Does it work for you?

Thank you, M

[2021-03-02 08:21] proffalken commented on #3109
OK, I've got back to the beginning.

FluentD 1.7.1 with the configuration from the docs works, I've no idea why it didn't:

[code]
**Output**:
[code]

As soon as I update it to the desired config with the IP Tables filter, it stops for everything apart from my own public IP Address:

[code]
** output ** (grepping for the external interface):
[code]

If I run the mmdblookup tool against the other s

[2021-03-02 08:50] timricese commented on #1316
This is a setting only in containerd, right? It doesnt exist in CRI-O at least.

[2021-03-02 09:04] MPeli commented on #3129
Hi, I have a very similar problem. I have got hundreds of files in a folder and I am trying to push them to ElasticSearch. Fluent bit crashes very soon after it starts. I am able to reproduce the issue.

[sos-report-and-log.log](https://github.com/fluent/fluent-bit/files/6067399/sos-report-and-log.log)
[fluent-bit-winDbg.dml.txt](https://github.com/fluent/fluent-bit/files/6067400/fluent-bit-winDbg

[2021-03-02 11:18] rubans opened #3143 "Fluentbit unable to get K8 meta data => Could not get meta fir POD XXXXXXX"
## Bug Report

**Describe the bug**
With fluent-bit v1.5, getting errors in the pod logs related to getting meta :
"could not get meta fir POD XXXXXXX"

Config:
 filter-kubernetes.conf: |
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/ser

[2021-03-02 12:48] jwitrick commented on #3052
Sorry for the delay. I am testing now and will let you know.

[2021-03-02 13:46] jevgenimarenkov opened #3144 "Add support for Date partitioned table for BigQuery output plugin"
**Is your feature request related to a problem? Please describe.**
BigQuery supports ingestion-time partitioned table by specifying partitioning options when you load data into a new Partition decorators enable to to load data into a specific partition. The table name should be provided in the next format to use partition decorator $%Y%m%d

**Describe the solution you'd like**
I would like BQ plug

[2021-03-02 13:52] frenchviking commented on #3109
So I tried the following for my geoip2 filter. One with "log" value in case it was not replaced by the merge log key, and the one with it.
[code]
and
[code]

Still no luck. And I'm not able to have the Newt filter lift keys up with the following :
[code]

I tested it with only the tail INPUT and then the nest FILTER. Could it be because my original json has backslashes ?

[2021-03-02 14:21] Hichem-BenJeddi commented on #2688
Hello Thanks I will test it

[2021-03-02 14:25] Hichem-BenJeddi commented on #2688
@panaji  thanks i will test it

[2021-03-02 14:32] vladimir259 commented on #3052
@jwitrick  - i have a very similar issue.

The correlation i found was - if i DROP the index in ES and let a new bunch of events to flow in,
then the "failed to flush" messages do not show up anymore.

Had the problem both on fluentbit 1.6.10 (two weeks ago) and 1.7 (now).

However, i could not find a way to reproduce the errors to find a more tighter coherence.
Will stay on that problem too since

[2021-03-02 14:46] vladimir259 commented on #3052
Almost forgot, a another correlation does exist.

My config is:

[code]

If i DISABLE the **Merge_Log** (line 56) in the **kubernetes** filter, then these problems also disappear. However, the fields are not parsed, of course, and in my case its a deal-breaker.

That is the second correlation.

[2021-03-02 16:29] MVJosh opened #3145 "Memory leak in cloudwatch_logs output when mem or cpu inputs are enabled"
## Bug Report

**Describe the bug**
A memory leak occurs when the `cloudwatch_logs` output plugin processes input from the `cpu` or `mem` input plugins. `td-agent-bit` memory usage increases over time until the process is killed or restarted.

**To Reproduce**
- Example configuration (obviously change `region`, `log_group_name` & `log_stream_prefix` as required):
[code]
- Ensure this is running so

[2021-03-02 16:36] #2869 closed

[2021-03-02 16:40] #3106 closed

[2021-03-02 16:55] edsiper commented on #3058
@hsmatulisgoogle

A couple of fixes has been pushed to GIT Master (including the ones fixed earlier), as a summary:

- Empty Chunks like zero size files or empty 'content data' area are now removed from the queue
- Check if a chunk is up before asking the storage layer to put it up again (to avoid failures)
- storage.max_chunks_up limit now is honored.
- increase default backlog memory limit from

[2021-03-02 18:45] johnpekcan commented on #1284
I would still argue this is a nice ask. I also found:
https://github.com/fluent/fluent-bit/pull/1480
https://github.com/fluent/fluent-bit/issues/1478 which solved this issue  -- but for out_file instead.
It would be awesome to get this for stdout!  I've resorted to using fluentd in the meantime to achieve this behavior.

[code]

[2021-03-02 18:49] johnpekcan commented on #1284
@fujimotos , any interest in adding this same ability to stdout? Cheers!

[2021-03-02 20:35] maglenno commented on #2906
@theblop I too can confirm this is broken.

Fluentbit 1.7.1
K8S 1.18 with Oracle FSS

[2021/03/02 20:07:13] [error] [storage] cannot adjust chunk size '/tmp/forward_external/1-1614715633.531236389.flb' to 4096 bytes
[2021/03/02 20:07:13] [error] [input chunk] could not create chunk file: forward_external:1-1614715633.531236389.flb
[2021/03/02 20:07:13] [error] [input chunk] no available chunk
[lib

[2021-03-02 22:02] edsiper commented on #2906
Most than "broken" I'd say "NFS is not supported yet". Even if the file allocation is done through a different syscall we will hit the problem with mmap. Fluent Bit uses mmap to manage the content of files, I am not confident mmap(2) + NFS is safe enough.

This will need that we extend the support of the storage layer to support normal read/write operations.

[2021-03-02 23:24] hsmatulisgoogle commented on #3058
I saw a large improvement, and the issue seems to be happening at higher throughput. Although there are still 2 issues

# SEGV
One machine got a SEGV:
[code]

# No output
Several machines still see all outputs crashing, with inputs still being ingested:
## Entries processed by input plugin (tail)
![image](https://user-images.githubusercontent.com/69014250/109728360-04b80380-7b84-11eb-9e66-d718a718

[2021-03-02 23:29] edsiper commented on #3058
@hsmatulisgoogle thanks for the update.

That one is new, are you able to constantly reproduce the crash with only the backlog data ? (looks like a corrupted chunk)

[2021-03-02 23:30] hsmatulisgoogle commented on #3058
I think the output plugins crashed somehow for the second case. top output shows fluent-bit is not exhausting CPU
[code]
Yet `perf` doesn't report anything in the output plugin to be running

[2021-03-02 23:35] edsiper commented on #3058
do you have the names of the latest "chunk" that might be processed before the crash in Stackdriver plugin ?

[2021-03-02 23:35] hsmatulisgoogle commented on #3058
I have not attempted to reproduce it yet, but will let you know. Another suspicious thing with the second case (128 is exactly the number of up chunks)
[code]

[2021-03-02 23:48] agup006 commented on #3143
@rubans I beileve we fixed this in Slack with proper permissions for the DaemonSet. I'm going to close this - feel free to reopen if you feel the issue is not resolved.

[2021-03-02 23:48] #3143 closed

[2021-03-02 23:51] nipuna-perera commented on #2522
@jonathanjuursema thank you for the response but that did not work for me. When I put that url from the AWS console, I got 'cannot connect to API' on fluentbit logs. For me, it's a curious situation where the kube metadata is actually available *only* for fluentbit container logs. No other container has any kube metadata in them. I removed everything and stripped my config to just the kube filter

[2021-03-02 23:59] hsmatulisgoogle commented on #3058
I think I found the second issue! All threads are deadlocked here
https://github.com/fluent/fluent-bit/blob/b38ddae8974b8553789c45ba14f9c3fd36a210f6/src/flb_io.c#L87
Which might have to do with a race condition in the linux kernel fixed a while ago: [link](https://bugzilla.kernel.org/show_bug.cgi?id=99671#c4) as I am on ubuntu 16.04. The stacks look like
[code]
Would you mind adding a lock there t

[2021-03-03 00:04] PettitWesley commented on #2522
@nipuna-perera Have you given your fluent bit pod proper permissions to call the API server and get metadata?

[2021-03-03 02:01] edsiper commented on #3058
I will try to add that lock tomorrow for testing. As a workaround (it might work), you can try setting only 1 worker

[2021-03-03 06:30] agup006 commented on #3109
@proffalken The only difference for the 1.7.1 and previous config looks like the path between the DB. If we take one of the JSON outputs from the IP Tables parser and set that as the new `dummy` input does that work as well?

[2021-03-03 06:33] agup006 commented on #3109
@frenchviking potentially, we could use another filter to convert escaped JSON into JSON before sending off to the GeoIP filter.

https://docs.fluentbit.io/manual/pipeline/parsers/decoders#getting-started

[2021-03-03 07:26] simonvanbernem opened #3146 "flb_errno printing wrong error codes on windows"
On windows, the flp_errno routine does not print the error codes of the errors that actually happen.

For example: in dlb_io.c:255, net_io_write_async can return, because FLB_WOULDBLOCK detected the socket would block by looking at WSAGetLastError. The caller (flb_http_client.c:1161) notices the error and tries to do error reporting with flb_errno. However, flb_errno only checks errno, not WSAGetL

[2021-03-03 07:43] proffalken commented on #3109
@agup006 you may have stumbled on something here - I don't seem to get the output from the iptables parser as JSON, I get it as what looks like a hash?

[code]
This is with the following config:
[code]
I'm now wondering if I'm configuring the filter correctly given that the key/value pairs are separated by `=>` rather than `:`?

[2021-03-03 07:45] marckamerbeek opened #3147 "Fluent-bit own logs in json format"
**Is your feature request related to a problem? Please describe.**
No its not

**Describe the solution you'd like**
A configuratble option to output fluent-bit own logging in json format

**Describe alternatives you've considered**
Yes...using a regex parser. But I'm no fan of this. Feels like putting the cart before the horse.

**Additional context**
The logs cannot be indexed on fields in elasti

[2021-03-03 08:21] a-thaler commented on #3128
Relates to https://github.com/fluent/fluent-bit/issues/2492
The described behaviour I found on version 1.5.7

[2021-03-03 09:35] loburm commented on #3073
Hi Anurag,
I don't think that it's related to tag regex. Here are two runs first without it and second with, memory footprint looks exactly the same.

![image](https://user-images.githubusercontent.com/7943996/109785202-31aff900-7c0c-11eb-94b3-2e11231880c8.png)

[2021-03-03 09:42] eugenesotnikov opened #3148 "Huge log by input tail and mem buf overlimit"
## Bug Report

I have fluentbit(1.7.1.) in k8s(1.18.12) on every node by daemonset. It tail log and forward it to logstash in elk stack. It works. But sometimes i have situation than some logs is growing up very fast About 0.5-1Gb per minutes. And fluentbit stoped with message
input tail.0 paused (mem buf overlimit)
I tried increasing Mem_Buf_Limit. And got stable logging only on Mem_Buf_Limit abo

[2021-03-03 10:30] nokute78 commented on #3128
An example such log is
[code]
Signal handler outputs it when Ctrl+C is pressed.

The log level configuration is saved on thread local storage (flb_worker_ctx), but it may not be initialized on signal handler.
If it is not initialized, the log level is default level (=info). So the log is not suppressed.

[2021-03-03 13:19] shake76 opened #3149 "Getting [error] [flb_msgpack_to_gelf] level is 'WARN', but should be in 0..7 or a syslog keyword"
## Bug Report

After put `Labels On` in kubernetes filter configuration, I'm seeing the following errors logs coming from fluen-bit pods,  `
[code]
I'm currently using GELF output sending logs to Graylog and I noticed that I'm missing logs for some streams

**To Reproduce**
Below I can provide the log stream that I'm missing
- Example log message if applicable:
[code]
**Expected behavior**
I need

[2021-03-03 13:41] SashaMkrt commented on #2688
It can work for some time, but then the same issue happens with dev-version from 2021.02.22:

[2021/03/03 16:37:23] [debug] [input:winlog:winlog.0] read 244 bytes from 'Security'
[2021/03/03 16:37:23] [debug] [input:winlog:winlog.0] save channel<Security record=78874 time=1614778642>
[2021/03/03 16:37:23] [debug] [input chunk] chunk 2904-1614778643.868091400.flb required 686 bytes and 1000120369 b

[2021-03-03 13:41] simonvanbernem opened #3150 "fluent-bit deadlocking when running into Mem_Buf_Limit"
I'm running into an issue, where fluent-bit will deadlock and stop processing logs, when reading 2GB of log-files via tails and sending them to elastic. The memory footprint will steadily grow towards the limit of `Mem_Buf_Limit` (which is set to 1GB). It will then hover around the limit for maybe a minute while serving logs, while tails is constantly paused and resumed due to hitting `Mem_Buf_Lim

[2021-03-03 14:20] frenchviking commented on #3109
I finally got it working with a specific FILTER parser and specifying the "log" Key_Name.

[code]
Thank you for your help on this !

[2021-03-03 14:34] vladimir259 commented on #3052
Ha!
Could pin the problem.

I've enabled
[code]

for es-OUTPUT and got (in my case) following:

[code]

thus:
![image](https://user-images.githubusercontent.com/79702343/109819774-b0209100-7c34-11eb-8a5d-f8483856700e.png)

That explains it why index-recreation helped - currently not all my applications are using one and the same log-format.
Some of them already put messages in "context"-field as a

[2021-03-03 14:36] vladimir259 commented on #3052
Very unexpected although, that ES-output plugin does not show such non-http-200 responses as (at least) a WARN.
That would help a LOT.

[2021-03-03 14:45] vladimir259 commented on #3052
Will keep

in my setup for now.

[2021-03-03 14:46] JeffLuoo commented on #2688
@SashaMkrt Could you please try the latest build on master branch? Since there is a patch merged after 2021.02.22 https://github.com/fluent/fluent-bit/commit/5ed55cd0afebcd3077defa2d915669fbb0024ad0. Thank you!

[2021-03-03 15:30] rajibmitra commented on #2906
when can we expect to have this support @edsiper

[2021-03-03 16:57] nipuna-perera commented on #2522
@PettitWesley , thanks for the question and this got me thinking. We have restrictions at an enterprise level so we can't create cluster roles and cluster role bindings. So what was happening was my role and rolebinding did not give the fluentbit SA access to read pods in other namespaces. Do you see a way around having to create clusterroles? Fluentbit should at a minimum parse the tag to get cer

[2021-03-03 17:29] SashaMkrt commented on #2688
@JeffLuoo New version doesn't solve the issue. Deleted previous chunks before test.

[2021/03/03 20:26:56] [debug] [input:winlog:winlog.0] read 26068 bytes from 'Security'
[2021/03/03 20:26:56] [debug] [input:winlog:winlog.0] save channel<Security record=81159 time=1614792415>
[2021/03/03 20:26:56] [debug] [input chunk] chunk 3836-1614792416.875756700.flb required 64526 bytes and 1000037048 bytes

[2021-03-03 17:46] JeffLuoo commented on #2688
@SashaMkrt Could you please provide the config file that I can use to reproduce the issue?

[2021-03-03 18:05] SashaMkrt commented on #2688
But there is another issue with some filters, like grep, it works only with strings, but in_winlog plugin provides EventID like an integer. That's why I patched "plugins\in_winlog\pack.c"
from:
    /* EventId */
    msgpack_pack_str(mp_pck, 7);
    msgpack_pack_str_body(mp_pck, "EventID", 7);
    msgpack_pack_uint16(mp_pck, evt->EventID & 0xffff);

to:
    /* EventId */
    char tempstr[5];
    it

[2021-03-03 18:27] JeffLuoo commented on #2688
@SashaMkrt Oh I see you are using `winlog` plugin.. I don't have a windows machine so I tested it locally with the following config:
[code]
 I don't see any error and I am able to view logs on loki.

@agup006 Could you please help me take a look into it on windows environment? Thanks!

[2021-03-03 18:49] mignaulo commented on #3110
I can confirm we see the same bug on EC2 instances, using Fluent Bit 1.7.1

[2021-03-03 18:51] PettitWesley commented on #2522
@nipuna-perera Yeah the filter should be able to do that, I am not sure if it does though: https://docs.fluentbit.io/manual/pipeline/filters/kubernetes

The logic may have been built to assume it can always call the API server and fail if it doesn't.

Unfortunately I am not very knowledgable with k8s, so I do not know a workaround here. We recently added a new option (which will be released soon)

[2021-03-03 19:12] SashaMkrt commented on #2688
@JeffLuoo It looks like, when we have 0 chunks **mk_list_foreach(head, &ic->in->chunks)**  loop was never executed and int enough_space is always FLB_FALSE.

int flb_intput_chunk_count_dropped_chunks(struct flb_input_chunk *ic,
                                          struct flb_output_instance *o_ins,
                                          size_t chunk_size)
{
    int count = 0;
    int enoug

[2021-03-03 19:16] jazzdan commented on #3110
@PettitWesley could this be related to the AWS credential changes you had to make a couple weeks ago?

[2021-03-03 19:31] PettitWesley commented on #3110
@jazzdan it's possible... but my guess is that its actually the new 1.7 TLS changes...

something seems wrong here- making a request to IMDS should not require TLS, its an http local endpoint not https IIRC.

[2021-03-03 19:46] JeffLuoo commented on #2688
@SashaMkrt Thanks for your time to looking into the source code. However I think the function you pointed out won't be called as https://github.com/fluent/fluent-bit/blob/master/src/flb_input_chunk.c#L313. So the function  `flb_input_chunk_find_space_new_data (2)` won't be called if no limit is over.

[2021-03-03 19:57] SashaMkrt commented on #2688
@JeffLuoo This function is definitely called in my case and loop is not. Just added some output to this function and run fluent-bit.
Here is the log:
[2021/03/03 22:00:19] [ info] [!!!] 4436 chunk_size in begin
[2021/03/03 22:00:19] [ info] [!!!] 1000097040 bytes_remained in begin
[2021/03/03 22:00:19] [error] [input chunk] no enough space in filesystem to buffer chunk 396-1614798019.733155300.flb

[2021-03-03 20:07] JeffLuoo commented on #2688
@SashaMkrt From logs you provided I saw
[code]
which might be the root cause to the issue. This is because you set the limit by `storage.total_limit_size 1G` so `bytes_remained` shouldn't go over 1G.

Could you please help me do the following steps?
1. Clean up local chunks in disk (path `storage.path c:\temp`) before running fluent bit.
2. Run fluent bit on laster master build
3. Set the log_leve

[2021-03-03 20:23] SashaMkrt commented on #2688
1. Cleaned local chunks
2. Stopped Loki to simulate network failure
3. Started fluent-bit the last master build
4. Generated several log entries
5. Started Loki
6. All buffered chunks flushed over the networks
7. Now we see the error.

As you mentioned, storage.total_limit_size is getting higher after flushing all buffered chunks.

Fluent Bit v1.8.0
* Copyright (C) 2019-2021 The Fluent Bit Authors

[2021-03-03 20:25] SashaMkrt commented on #2688
One more thing: could it be because I convert EventID from int to string? Grep filter doesn't work with integers.

from:
/* EventId */
msgpack_pack_str(mp_pck, 7);
msgpack_pack_str_body(mp_pck, "EventID", 7);
msgpack_pack_uint16(mp_pck, evt->EventID & 0xffff);

to:
/* EventId */
char tempstr[5];
itoa(evt->EventID & 0xffff, tempstr, 5);
len = strlen(tempstr);

[2021-03-03 20:35] JeffLuoo commented on #2688
@SashaMkrt If you run it without grep parser (for testing purpose), would you still see the error?

[2021-03-03 21:18] jazzdan commented on #3110
Ah good call on the TLS changes. Any advice for how to narrow the problem down further?

[2021-03-03 22:12] PettitWesley commented on #3110
@jazzdan looking at the stack trace, looks like this block executes: https://github.com/fluent/fluent-bit/blob/master/src/flb_io.c#L108

Which shouldn't be happening. TLS flag should not be enabled on the EC2 provider upstream. I am not sure why this is happening...

[2021-03-03 22:14] PettitWesley commented on #3110
The upstream is not created with tls enabled: https://github.com/fluent/fluent-bit/blob/master/src/aws/flb_aws_credentials_ec2.c#L235

[2021-03-03 22:58] PettitWesley commented on #3110
Actually I am wondering if this is caused by my cred change. To support multi workers I had to call `flb_output_upstream_set` on the cred provider upstreams. But I think that might modify their settings- that might be where TLS is incorrectly being enabled.

@edsiper

[2021-03-03 23:01] edsiper commented on #3110
Maybe....

https://github.com/fluent/fluent-bit/blob/36c25979cd387e6c0a222790ec12774ee5e91201/src/flb_output.c#L984

On Wed, Mar 3, 2021, 16:58 Wesley Pettit <notifications@github.com> wrote:

[2021-03-03 23:54] PettitWesley commented on #3110
@edsiper I think that's it.. except I can't repro this locally, which is weird.

[2021-03-04 00:09] edsiper commented on #3110
@PettitWesley what about setting ins->use_tls to FLB_FALSE before the output upstream set ?

[2021-03-04 00:14] PettitWesley commented on #3110
@edsiper I will try that. That won't have any bad side effects?? I guess I set it back to true right after I set the upstream.

Also I can repro this. Ignore my earlier comment.

[2021-03-04 00:15] edsiper commented on #3110
are you reusing the upstream or switching mods no-tls, tls, no-tls ?

[2021-03-04 00:17] PettitWesley commented on #3110
@edsiper my plugins use multiple upstreams. This did not use to be an issue. But for multi workers I had to call upstream set on all upstreams. The "main" upstream for sending to S3 requires TLS, but the credential upstreams do not all need TLS.

I tried it and it works.

[2021-03-04 00:26] edsiper commented on #3110
As a workaround is acceptable

On Wed, Mar 3, 2021, 18:18 Wesley Pettit <notifications@github.com> wrote:

[2021-03-04 00:29] zhonghui12 opened #3154 "AWS Plugins can not connect to AWS services using docker build"
## Bug Report

**Describe the bug**

I tried to use `docker build` to build latest code and it succeeds. However, it failed when I tried to upload S3 project. I got below error information:
[code]
And we also tried the cloudwatch one, it also had the same issue. I saw several closed issues about it: #2927, #3084. It seems like the public docker image is fixed as it works when we ran `fluent/fluent

[2021-03-04 04:30] SashaMkrt commented on #2688
@JeffLuoo It works without errors, when not using EventID Int2Str conversion in pack.c. (for my case its is required).
Will search for solution:
1. Grep should work with numbers
or
2. Change winlog log field size for EventID to correct chunk size calculation.
but this is not this case.

Thanks!

[2021-03-04 05:10] bikkinamahesh369 commented on #2589
facing a similar issue. any update on this?

[2021-03-04 07:06] proffalken commented on #3109
@agup006 after our chat last night I've tried adding in an extra filter, and now it's working - I'd love to know why!

[code]

This results in the following:

[code]

I'll run this as a test config for the next few days and see what happens - thanks again for all your help!

[2021-03-04 10:09] fujimotos commented on #3134
@goilanit You can just override `FLUENTBIT_VERSION` via:

[code]

The version in that file is basically a placeholder (an example to
illustrate how to specify it). It's there to be overridden at runtime
based on each user's requirement.

[2021-03-04 11:00] Kagamia-MS opened #3160 "Dockerfile.windows missing dependency for 1.7.0"
## Bug Report

**Describe the bug**
docker image built with https://github.com/fluent/fluent-bit/blob/1.7/Dockerfile.windows can't start.

Analyses the main executor with [dependencies](https://github.com/lucasg/Dependencies), it links `libssl-1_1-x64.dll` and `libcrypto-1_1-x64.dll` but the dockerfile does not package openssl for windows.

**To Reproduce**
[code]

**Expected behavior**

**Additio

[2021-03-04 11:58] mike-somethingnooneelsehasusedyet opened #3162 "Configuration test declares success even when errors are present"
## Bug Report

**Describe the bug**
Using --dry-run to test configuration does not behave in a manner which allows easy automated detection of errors in configuration.

**To Reproduce**

[code]

**Expected behavior**
"configuration test is successful" is displayed only when no errors in configuration have been detected.
exit status is `0` only when no errors in configuration have been detected.

*

[2021-03-04 13:43] perezjasonr commented on #1316
nevermind, i just revisited this section in containerd docs and

[code]

basically this appears to be under the key pair streaming section in the toml config so im convinced its specific to that, i might try this out still but doesn't appear to be base level config.

[2021-03-04 14:06] mike-somethingnooneelsehasusedyet opened #3164 "Configuration test errors are sent to stdout, non-errors are sent to stderr"
## Bug Report

**Describe the bug**
Error messages about configuration are sent to stdout

**To Reproduce**
[code]

**Expected behavior**
Error messages are sent to `stderr`.
If configuration errors are found whilst running a configuration test with `stdout` directed to `/dev/null`, there will be a way of knowing if the configuration test found errors.

**Your Environment**
[code]

**Additional co

[2021-03-04 18:03] JeffLuoo commented on #3014
@elruwen Could you please try the latest master code to see if that still happens?

[2021-03-04 19:24] SashaMkrt commented on #2688
@JeffLuoo I think something wrong with grep_filter. Checked on not modified last master branch version.
Config:

[SERVICE]
    flush        5
    daemon       Off
    log_level    debug
    parsers_file parsers.conf
    plugins_file plugins.conf

    http_server  Off
    http_listen  0.0.0.0
    http_port    2020

    storage.metrics off
    storage.path c:\temp
    storage.sync full
    storage.c

[2021-03-04 19:27] loburm commented on #3073
Result from the latest test:

![image](https://user-images.githubusercontent.com/7943996/110018450-957b1480-7d27-11eb-91ed-335c74177d26.png)

As it's visible from the graph, regression was introduced just before 1.6.0. I have used the simplest possible configuration to exclude problems with output plugin:

[code]

[2021-03-04 19:27] JeffLuoo commented on #2688
@SashaMkrt Will take a look. Thanks.

[2021-03-04 21:39] edsiper opened #3165 "Ability to send Fluent Bit logs as part of the pipeline"
Fluent Bit must allow to send it own events/logs to custom outputs

[2021-03-04 22:51] pakita opened #3167 "Current loki plugin option provides two attributes: host and port. I can not establish fluentbit stream to loki K8s pod by using proxy LB. FluentD loki plugin provides only one attribute URL that easily allow to establish stream from remote fluentbit to loki on k8s"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-04 22:57] pakita commented on #3167
example below is belong to fluentd and it works because uses url entry only ( end point is aws k8s  loki LB)
<match fluentbitwin.**>
  @type copy
  <store>
    @type file
    @id fluentbitwin_output_file
    path /var/log/td-agent/fluentbitwin
    compress gzip
  </store>
  <store>
  @type loki
  url "https://internal-XXX-observabilit-XXX-XXX.us-east-1.XXX.amazonaws.com"
  insecure_tls true
  extr

[2021-03-04 22:59] pakita commented on #3167
Example below for fluent bit does not work:
[OUTPUT]
       Name   loki
       Match  *
       host  "https://internal-XXX-observabilit-XXX-XXX.us-east-1.XXX.amazonaws.com"
       port 3100
       labels job=fluentbit
       line_format json

[2021-03-04 23:14] edsiper commented on #3167
when you mention a proxy load balancer, are you referring to a DNS balancer ?

note: please use a shorter subject for the issue and then details as body in the ticket, that makes easier to process it

[2021-03-05 02:11] xcompass commented on #2998
@chadcatlett Do you mean bullseye-backports? As buster-backports still has v241-7.
[code]

[2021-03-05 02:15] chadcatlett commented on #2998
@xcompass whoops, i forgot one detail. I made all calls to apt-get have `-t buster-backports` so that it would use the backports repo. It is also possbile to change apt's settings to make it so you don't have to pass in the target release information.

[2021-03-05 02:17] xcompass commented on #2998
Got it. Thanks!

[2021-03-05 02:20] kago-dk commented on #2951
Still open

[2021-03-05 02:34] binarytrails commented on #2959
bump

[2021-03-05 08:37] fujimotos commented on #2959
@binarytrails This issue is already resolved as of v1.6.2.

Here is an example record Fluent Bit procudes. As you can see, Fluent Bit
does emit `StringInserts` as part of the record:

[code]

[2021-03-05 10:23] gillg commented on #2696
Still not present in 1.7, it would be very great to have it.

[2021-03-05 15:03] binarytrails commented on #2959
@fujimotos

Yes, it does extract it but it dumps your username as you can see as well as other data in in ```StringInserts``` and not in a key - value pair as it should be. Here is an sdiff on that part:
[code]

Let's keep in mind the end goal is to be able to pick it up with accuracy and not just iterate over a list. It would not work with most solutions parsing these kind of Windows logs.

Also,

[2021-03-05 16:36] ogarcia opened #3176 "Apply parser filter to log_processed"
I have the following config:
[code]

The first parser works well and extract the fields to `log_processed` without problems. Is possible have a second filter that parses `message` field extracted by first filter?

[2021-03-05 17:33] awarner-greshamtech commented on #2582
I am seeing this same issue on Linux

[2021-03-05 17:58] yongtang commented on #3162
@mike-somethingnooneelsehasusedyet With the latest master the return code is `1`:
[code]

Can you try with the master build and see if the issue still persists?

[2021-03-05 22:42] nokute78 commented on #3162
Hmm, I can reproduce using this configuration file with latest master https://github.com/fluent/fluent-bit/tree/f58b7ca0f03672417374bf5a67bda67261f642e6

[code]

output:
[code]

[2021-03-06 00:19] #2615 closed

[2021-03-06 00:43] nokute78 commented on #2701
https://docs.fluentbit.io/manual/pipeline/filters/record-modifier#remove-fields-with-whitelist_key
Currently `filter_record_modifier` supports 2nd option `Allowlist_Key` via #3179 and the word whitelist is removed from source code of the plugin.
It also supports `Whitelist_key` for backwards compatibility.

[2021-03-06 00:44] dharmab commented on #2701
Thank you! This will be appreciated within my organization.

On Fri, Mar 5, 2021 at 17:43 Takahiro Yamashita <notifications@github.com>
wrote:

--
--
Dharma Bellamkonda

[2021-03-06 02:14] zerkms commented on #2907
Not stale.

[2021-03-06 02:43] wtchangdm commented on #2899
I'd like to know is it possible to put into consideration?

[2021-03-06 02:46] wtchangdm commented on #2898
While this pattern is not very common, I think it's still worth a check?

[2021-03-06 02:48] wtchangdm commented on #2719
I think this is still worth a check?

[2021-03-06 03:52] shinebayar-g commented on #2844
bump

[2021-03-06 03:53] nomadlogic commented on #2747
Thanks everyone for the help and attention to this issue.  Closing!

[2021-03-06 05:20] pranavmarla commented on #2805
bump

[2021-03-06 05:21] pranavmarla commented on #2805
bump

[2021-03-06 05:22] pranavmarla commented on #2823
bump

[2021-03-06 11:15] julianklose commented on #2941
Will there be a fix? It is more or less unusable on Windows. I found a workaround using a lua filter but that is not a very good solution.

[2021-03-06 12:55] loburm commented on #3073
I have tried to use binary search approach and managed to find a change, after which we see an issue: https://github.com/fluent/fluent-bit/commit/a79bc25fb5fbf3abf331b503057a4e59b677db70

Additional investigation has shown that reverting line:

[code]

to:

[code]

resolves an issue for all Fluent Bit versions. I have cherrypicked, built and run tests for 1.6.0, 1.7.0 and 1.7.2

[2021-03-06 13:20] jangraefen commented on #2724
We would also like to have this feature. Right now, this forces us on Fluentd, eventhoug we would much rather use Fluentbit.

[2021-03-06 14:03] stephan2012 commented on #2863
Would still be nice to have.

[2021-03-06 14:07] snoopdouglas commented on #2727
This never got fixed as far as I know, don't close.

[2021-03-06 17:20] jtackaberry commented on #1746
I also ran into this immediately while testing out Loki with FB.  AFAICT, all data in the chunk containing out-of-order events are lost when using Loki.

[2021-03-06 17:56] atreyd opened #3181 "Unable to add nested json fields in log events"
We are using the fluentbit as log driver for containerised microservices running on ECS. We have also adopted a standard logging JSON schema which is used by all the microservices to generate log in a standard format.
Standard format includes Service.Name and Event.Date fields which are mandatory for adding logs to Elasticsearch.
However there are certain log events which are generated before the

[2021-03-07 00:29] nokute78 commented on #2727
Workaround is like this.
`listen` property is for ip address / hostname, `port` property is for port.
TCP also works with such properties.

[code]

[2021-03-07 13:33] vizcay commented on #2772
Still relevant.

[2021-03-07 19:20] Stono commented on #560
We'd love this too.  We currently use fluentbit to get everything into ES, but the we run another process which queries ES to find level > error and alert on it.

It'd be a far simpler pipeline if we also had metrics with dimensions of the kubernetes pod, and log level

[2021-03-07 19:46] JeffLuoo commented on #2933
@edsiper Running into this issue again...
[code]

[2021-03-08 00:01] bluebike commented on #2993
Try this before make (worked for me ... some time ago..)
[code]

[2021-03-08 03:01] ginobiliwang opened #3182 "Feature request for callback mechanism in upstream layer in case tcp has been dropped by remote."
**Is your feature request related to a problem? Please describe.**

This feature request came to my mind when i was debugging a problem in out_websocket plugin. Not sure if we have ready to use api in fluent-bit.

What i did is, i have shut down the websocket server and restarted it immediately. In such way, tcp connection would be dropped and then resumed quickly since i used keepalive mechanism,

[2021-03-08 05:39] pawsey-kbuckley commented on #3009
Apologies for not replying to clarfiy that

my issue was not with the version on our current resource, so trying bison 3.x
isn't something we'll be doing.

The issue here was of version info in the docs.

Feel free to close this issue as you see fit.

[2021-03-08 06:31] LionelCons commented on #2921
This issue is still relevant.

[2021-03-08 06:31] LionelCons commented on #2920
This issue is still relevant.

[2021-03-08 06:36] LionelCons commented on #2370
Checking again today, the documentation has been updated so this issue can be closed.

[2021-03-08 06:36] #2370 closed

[2021-03-08 08:43] harrish81286 commented on #2962
Hello @PettitWesley ,

Any update on this request ? By the way, we also spoke to AWS TAM who said they will contact you get priority for this particular use case.

Thanks

[2021-03-08 08:44] andrunah opened #3183 "CentOS old td-agent-bit old packages not available"
I'm unable to install 1.3.11 which was available last week.

Downloading packages:
td-agent-bit-1.3.11-1.x86_64.r FAILED
https://packages.fluentbit.io/centos/7/./td-agent-bit-1.3.11-1.x86_64.rpm: [Errno 14] HTTPS Error 404 - Not Found

Direct link does not work either.

Is something broken, or any way to get this package back?

[2021-03-08 09:56] bhavyalatha26 commented on #3112
Running into the same issue. Tried with versions **1.6, 1.7.1 & 1.7.2** as well.

Config:
[code]

The document on ES looks like this :

[code]

[2021-03-08 11:32] vDMG opened #3185 "Grep filter does not work on json complex structure"
## Bug Report

**Issue with Grep Filter on complex JSON structure**

I'm trying to filter logs from a file using the grep filter, I want fluent-bit to output only logs which contains the `impersonatedUser` key

**To Reproduce**

config-file:
[code]

log examples:
[code]

**Expected behavior**

Fluent-bit should output logs containing the field `impersonatedUser`
[code]
**Your Environment**

* Vers

[2021-03-08 11:56] yasn77 commented on #2998
FYI I've opened a PR about this #3177

[2021-03-08 12:56] famousit opened #3186 "Fluent bit .EXE is complaining about missing libcrypto-1_1-x64.dll in 1.7.1 and 1.7.2 installer and zip packages"
## Bug Report

**Describe the bug**
After downloading either package

and following the instructions under
https://github.com/fluent/fluent-bit-docs/blob/master/installation/windows.md

on a windows server 2019 an error is shown complaining the  library libcrypto-1_1-x64.dll was not found

![image](https://user-images.githubusercontent.com/4939733/110323892-893bd380-8015-11eb-8f81-62a78185e7df.png

[2021-03-08 14:54] JeffLuoo commented on #2933
@PettitWesley Have you tried running Fluent Bit without turning on the `storage.total_limit_size` (means unlimited)? Are you still able to see the bad file descriptor error? I tried without the limit and still had bad file descriptor error.

[2021-03-08 15:52] awarner-greshamtech commented on #2582
Here are some reproduction steps:

[fluent-bit-buffer-error.tar.gz](https://github.com/fluent/fluent-bit/files/6102505/fluent-bit-buffer-error.tar.gz)

Configuration:
[code]
Reproduction steps which are enough to see the actual problem:

[code]

[2021-03-08 15:54] awarner-greshamtech commented on #2582
@edsiper Could you advise please on whether filesystem buffering via a docker volume when fluent bit is run inside a docker container should work and what the problem could be. If it's not supported is it planned to be supported in a future release?

[2021-03-08 16:25] PettitWesley commented on #2766
This is fixed

[2021-03-08 16:27] PettitWesley commented on #2905
@zhonghui12

[2021-03-08 16:36] yongtang commented on #3162
@nokute78 Added a PR #3187 for the fix.

[2021-03-08 16:56] hsmatulisgoogle commented on #3019
Bump

[2021-03-08 17:04] edsiper commented on #3031
@yongtang

there is a new ```native``` metrics interface coming up in Fluent Bit, that interface will deprecate the current implementation and support float64.

[2021-03-08 17:57] mkerins opened #3188 "[Minio Support] Add more configuration options to S3 output"
**Is your feature request related to a problem? Please describe.**
We use MinIO for on-prem object storage testing which is AWS compatible. I tried setting the `endpoint` configuration value for the S3 output to `https://minio.local:9000` but it fails to resolve because the port is part of the URL. I removed the port and it's defaulting to 443. I also tried adding a `port 9000` line to the S3 outp

[2021-03-08 19:58] JeffLuoo opened #3189 "[Stackdriver]: Ability to make local_resource_id compatible with pod_name that contains dot `.`"
**Is your feature request related to a problem? Please describe.**

Stackdriver output plugins will use the `local_resource_id` to fill in some metadata fields like namespace_name, pod_name and container_name and pack them into final logs. There is a case that pod_name might contain dot and this will fail the parsing of `local_resource_id` as:
https://github.com/fluent/fluent-bit/blob/master/plugi

[2021-03-08 20:08] loburm commented on #1108
@akashmantry, our team also experienced similar issue in GKE. After a very spiky load (10 MB/s) for a few seconds file is rotated but it seems that Fluent Bit is not tracking a new file (after one more rotation it detects a new file). Do you know if upgrade to 1.6.8 by itself could resolve this issue or we should combine all methods?

[2021-03-08 20:10] loburm commented on #3058
@edsiper is there any progress? And do I understand correctly that issue occurs only when we are using multiple workers in output plugin?

[2021-03-08 20:27] akashmantry commented on #1108
@loburm you might have to try a combination of these to figure out what works for your use case. switching to the latest version is always recommended. for us, moving to Kafka and increasing the log file size eliminated the log loss problems.

[2021-03-08 20:51] PettitWesley opened #3190 "Add Option to Disable retries (or allow 0 for retries)"
**Is your feature request related to a problem? Please describe.**

In some cases, logs are coming in at such high throughput that even trying to retry is not ideal. May be buffering options are limited.

I have a customer who would prefer to be able to set retries to be 0, which is not possible today: https://docs.fluentbit.io/manual/administration/scheduling-and-retries

It should be super simpl

[2021-03-09 01:01] zhonghui12 commented on #2905
Hi @VF-mbrauer, recently we have merged a [PR](https://github.com/fluent/fluent-bit/pull/3178) for S3 key format enhancements. With this feature, UUID and key extension are able to be specified so you can make the s3 key name more customized. More explanations can be found in this [PR](https://github.com/fluent/fluent-bit-docs/pull/483) and we will merge this one soon.

Thanks

[2021-03-09 01:52] agup006 commented on #3186
@fujimotos @edsiper OpenSSL is probably not common on Windows, would it be worth defaulting to mbed TLS for Windows and optional OpenSSL builds available?

[2021-03-09 01:56] agup006 commented on #3176
I'm not sure I fully understand the request - do you want another parser to run after message? This would be adding another parser filter in the pipeline.

If you want a copy of the field you will first need to run the modify filter and then you can run multiple parser filters.

[2021-03-09 02:25] elruwen commented on #3001
This is still an issue with 1.7.

[2021-03-09 02:30] agup006 commented on #3185
Hmm, I could repro this by using $impersonatedUser and the same regex. I'm wondering if this is failing because there are no fields for $impersonatedUser only a nest JSON. @nokute78 anything come to mind?

When I used the following grep filter it works as intended:
[code]

[2021-03-09 02:33] agup006 commented on #3181
You could use the modify filter: https://docs.fluentbit.io/manual/pipeline/filters/modify and it's conditional logic to check for those fields

Additionally, if you need a nested JSON after using the modify filter you can use the `Nest` filter: https://docs.fluentbit.io/manual/pipeline/filters/nest#example-1-nest-and-lift-undo

Since this is more of a question I'm going to close this github issue

[2021-03-09 02:33] #3181 closed

[2021-03-09 02:46] SamuelDudley commented on #2840
Still an issue, nothing to do with the hop limit. The code to handle IMDSv2 simply is not used for obtaining credentials.

[2021-03-09 05:07] agup006 commented on #560
@Stono @TechIsCool  we have some work starting on this, would you be open to a call to give us comments on design / prototypes?

[2021-03-09 07:34] Stono commented on #560
Absolutely :-)

[2021-03-09 07:43] ogarcia commented on #3176
I explain, in my sample I have two filters. The first one (kubernetes) extracts well the fields with parser `merge_parser_app` to key `log_processed`. At this moment in `log_processed` I have:
[code]

Now, I want parse the `message` field of `log_processed` with `log_processed_app` parser. I added the second filter (parser) to do this but it doesn't do anything.

I have two questions about this. T

[2021-03-09 08:03] PettitWesley commented on #2933
@JeffLuoo I have not tried to repro this again... I was really hoping that the valgrind output I gave would be enough to for Eduardo to solve it...

[2021-03-09 09:52] ginobiliwang opened #3192 "Flood of connection timed out message and accordingly side effect"
## Bug Report

**Describe the bug**
Similar things reported in the following issue entry. In my test, the failure of recycling these connections would have side effect on reconnecting to remote side.

https://github.com/fluent/fluent-bit/issues/2950
https://github.com/fluent/fluent-bit/issues/2800

Behavior is like, we could spot large amount of log information as below.

[code]

**To Reproduce**

[2021-03-09 10:55] fujimotos commented on #3186
@agup006 I posted a patch #3193 that enables static linking of OpenSSL
on Windows build.

With this merged, users should now be able to run Fluent Bit without
preinstalling OpenSSL on Windows servers.

[2021-03-09 11:05] vanokg opened #3194 "How I can parse urlencode?"
Hi every one, I have an trouble with parsing nginx logs witch contain urlencoded json in log.

encoded:
`%7B%22first%22%3A%22yes%22%2C%22child%22%3A%22no%22%2C%22locale%22%3A%22ru%22%2C%22os%22%3A%22ios%22%2C%22userType%22%3A%22DEFAULT%22%7D`

after docoding in https://www.urldecoder.org
`{"first":"yes","child":"no","locale":"ru","os":"ios","userType":"DEFAULT"}`

How I can do this in fluent-bit v

[2021-03-09 11:40] erichorwath commented on #2752
push

[2021-03-09 15:55] cboothe commented on #3112
Is there a way to troubleshoot/debug this? @edsiper

[2021-03-09 15:59] dtaniwaki commented on #3188
I'm working on a PR.

[2021-03-09 16:30] shakirksh opened #3196 "syslog UDP mode for streaming data"
Hi Everyone,
I'm very new to fluent-bit and am trying to check if fluentbit can help replace a very costly tool in place (not allowed to mention the tool due to NDA).
The requriement is to collect log messages on a particular port using UDP protocol. The source fires messages at the rate of around 100,000 events/messages per second and each message is around 800 bytes. So I'm on a journey of POC(s

[2021-03-09 16:33] #3160 closed

[2021-03-09 16:57] JeffLuoo opened #3197 "Filter plugin memory leak with latest master build"
**Is your feature request related to a problem? Please describe.**

A memory leak is detected when tested with valgrind.

[code]

[code]
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-09 17:06] TechIsCool commented on #560
Yes, I have time for a meeting to discuss this.

[2021-03-09 19:26] erain commented on #2805
I am going to work on this feature.

[2021-03-09 21:33] gregmankes commented on #2964
bump on this

[2021-03-10 02:11] #2980 closed

[2021-03-10 02:11] #2966 closed

[2021-03-10 02:11] #2942 closed

[2021-03-10 02:45] asdavidov commented on #2747
This issue is still present in the code.
The /lib/monkey/deps/flb_libco/settings.h file is still not patched and contains code that could lead to SIGSEGV if it is built with clang compiler.
The flb_libco fixes should be also merged in monkey server code to fully mitigate this issue.
So I guess that this issue should be reopened.

[2021-03-10 03:11] hardwaysun opened #3201 "TCP input not taken custom port"
## Bug Report

**Describe the bug**

Can't use the custom tcp port in td-agent-bit
[root@xisun-centos-168 td-agent-bit]# /opt/td-agent-bit/bin/td-agent-bit -i tcp:\\0.0.0.0:5170 -o stdout -v
Error: Invalid input type. Aborting

with attached config which define INPUT as tcp , the service won't start.

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
[root@

[2021-03-10 03:55] nomadlogic commented on #2747
Apologies @asdavidov - I was confused about the open task of updating the code under `lib/monkey/deps/flb_libco/settings.h`. I am guessing the update applied here: https://github.com/fluent/fluent-bit/commit/dafd450c would also need to be applied?

[2021-03-10 08:29] nokute78 commented on #3185
@vDMG Could you test @agup006 's configuration ?
I confirmed that fluent-bit outputted what you expected.

It is
[code]

@agup006 Hmm, I have no idea...
The difference is come from the return value of `subkey_to_object`  which is changed with record accessor or not.
https://github.com/fluent/fluent-bit/blob/86f215a98250088189118547147ed1f2597a9b93/src/flb_ra_key.c#L344-L347

[2021-03-10 09:12] nokute78 commented on #3197
I also reproduce it.

Note: `Match_Regex` property may affect.
`Record test test` is not released with `Match_Regex` property.

In contrast, this configuration is not leaked.
s/Match_Regex/Match/
[code]

[2021-03-10 14:36] gilzellner-wix opened #3204 "Possible Memory leak when using S3 output"
## Bug Report

**Describe the bug**
When using 2 configurations, with all else being equal except for one outputting to null and the other to s3,
fluentbit memory usage balloons up to 5gb and then dies.

**To Reproduce**
here is the output config:
[code]

- Steps to reproduce the problem:
get lots of logs
use this output

**Expected behavior**
For it to use at most 2gb memory

**Screenshots**
not

[2021-03-10 14:42] JeffLuoo commented on #3197
@nokute78 Thank you for the reply!

[2021-03-10 15:07] edsiper commented on #2747
Fixes merged in 8fe5a131c6

[2021-03-10 15:07] #2747 closed

[2021-03-10 15:08] qingling128 commented on #3058
Hi @edsiper, any chance you have gotten a chance to take another look at this one?

[2021-03-10 15:08] spaulg commented on #3183
Ditto - running in to the same problem.

Started happening for me on the 6th March. On the 5th everything was fine.

Effecting all my RH based systems using the YUM repository method of install. :(

[2021-03-10 15:11] edsiper commented on #3183
Hi,

make sure you are pointing to the right path in your Yum repo file:

https://docs.fluentbit.io/manual/installation/linux/redhat-centos#configure-yum

[2021-03-10 17:10] edsiper commented on #3019
Fixed in https://github.com/monkey/monkey/pull/324 .

Changes will be merged back into Fluent Bit once dependency is updated.

[2021-03-10 17:10] #3019 closed

[2021-03-10 22:29] PettitWesley commented on #2933
Interesting, this bug report looks very similar: https://github.com/aws/aws-for-fluent-bit/issues/161

[2021-03-10 23:37] chadthompsonallscripts commented on #2876
I'm also having a similar issue with the kinesis_firehose plugin.

`[2021/03/10 23:23:40] [ info] [output:kinesis_firehose:kinesis_firehose.1] Processed 2 records, sent 2 to ve-dorn-sn-ue1-firehose-kong
[2021/03/10 23:23:45] [ info] [output:kinesis_firehose:kinesis_firehose.1] Processed 3 records, sent 3 to ve-dorn-sn-ue1-firehose-kong
[2021/03/10 23:23:58] [ info] [output:kinesis_firehose:kinesis

[2021-03-10 23:41] agup006 commented on #2876
@PettitWesley have you seen this issue before? I'm wondering if it is something with was credentials, does debug potentially have more messages after saying Failed

[2021-03-10 23:43] agup006 commented on #3194
If there is a library that does this you could potentially do this via a filter and a lua script. If it is an online resource it is still achievable, but throughput would be a problem

[2021-03-10 23:49] chadthompsonallscripts commented on #2876
Its not creds on my end, it does look at bit like its getting to the end of the log file and erroring out, then restarting when new logs come in.  But I cant be sure its not dropping records.
It notify add's all the files, then processes a bunch of records, then fails, processes half a dozen records, then fails, then half dozen and fail..etc etc.

[2021-03-11 00:39] PettitWesley commented on #1948
@DrewZhang13 @loburm This can been released in 1.7.2- we can close this issue?

[2021-03-11 00:47] PettitWesley commented on #2876
@chadthompsonallscripts You can set the env var `FLB_LOG_LEVEL=debug`

[2021-03-11 00:48] PettitWesley commented on #2876
@ivanich Please upgrade to 1.7.2- there was a bug/issue in the credential refresh behavior which affected kiam users. It's been fixed now.

[2021-03-11 02:11] #2936 closed

[2021-03-11 02:11] #2922 closed

[2021-03-11 02:12] #2913 closed

[2021-03-11 02:12] #2900 closed

[2021-03-11 02:12] #2893 closed

[2021-03-11 02:12] #2891 closed

[2021-03-11 02:12] #2889 closed

[2021-03-11 02:12] #2887 closed

[2021-03-11 02:12] #2886 closed

[2021-03-11 02:12] #2877 closed

[2021-03-11 02:12] #2874 closed

[2021-03-11 02:12] #2868 closed

[2021-03-11 02:12] #2862 closed

[2021-03-11 02:12] #2860 closed

[2021-03-11 02:12] #2859 closed

[2021-03-11 02:12] #2858 closed

[2021-03-11 02:12] #2857 closed

[2021-03-11 02:12] #2849 closed

[2021-03-11 02:12] #2838 closed

[2021-03-11 02:12] #2832 closed

[2021-03-11 02:12] #2830 closed

[2021-03-11 02:12] #2828 closed

[2021-03-11 02:12] #2825 closed

[2021-03-11 02:12] #2824 closed

[2021-03-11 02:12] #2809 closed

[2021-03-11 02:12] #2800 closed

[2021-03-11 02:12] #2799 closed

[2021-03-11 02:12] #2796 closed

[2021-03-11 02:12] #2835 closed

[2021-03-11 02:12] #2794 closed

[2021-03-11 02:12] #2792 closed

[2021-03-11 02:12] #2787 closed

[2021-03-11 02:12] #2786 closed

[2021-03-11 02:12] #2785 closed

[2021-03-11 02:12] #2784 closed

[2021-03-11 02:12] #2765 closed

[2021-03-11 02:12] #2756 closed

[2021-03-11 02:19] edsiper commented on #3036
we are implementing a new metrics mechanism so the current implementation will be deprecated, closing this ticket for now.

[2021-03-11 02:20] edsiper commented on #3035
assigned to @PettitWesley

[2021-03-11 02:20] edsiper commented on #3022
enhancement.

[2021-03-11 02:21] edsiper commented on #2939
assigned to @nokute78

[2021-03-11 02:22] edsiper commented on #2935
assigned to @nokute78

[2021-03-11 02:22] edsiper commented on #2932
assigned to @nokute78

[2021-03-11 02:23] edsiper commented on #2916
assigned to me

[2021-03-11 02:24] #2914 closed

[2021-03-11 02:26] elruwen commented on #3014
Sorry for the delayed answer. Yes it still happens. I tried commit 555b22a026c83ad26677cd98d8d78c8b6b82d5e0. See attached logs.
[555b22a026c83ad26677cd98d8d78c8b6b82d5e0.log](https://github.com/fluent/fluent-bit/files/6120028/555b22a026c83ad26677cd98d8d78c8b6b82d5e0.log)

[2021-03-11 02:27] edsiper commented on #2887
reopened.

[2021-03-11 02:29] edsiper commented on #2877
FYI: this is not necessary, decoders should not be user if you are using docker parser, it works without problems.

[2021-03-11 02:31] hampsterx commented on #2815
This is a good feature, bad bot..

(yeah I know the Issue count is sky high but still.. GRR)

[2021-03-11 02:39] agup006 commented on #2815
I thought we added UPSTREAM for Elasticsearch which should cover this , @edsiper are you familiar with that?

[2021-03-11 03:57] agup006 commented on #2936
I'm going to leave this one closed as we are tracking in another issue

[2021-03-11 08:29] wmz7year commented on #2899
Looks great, I also need this feature.

like this:
[code]

[2021-03-11 09:52] wopincm opened #3212 "After the logs collected by the systemd module are sent to es, kibana cannot recognize them"
The fluent-bit version I use is: 1.7.1

This is my deployment method:
[code]

This is my configuration:
[code]

This is the log printed in json in es：

[code]
But in the kibana discover page, these keys beginning with an underscore cannot be recognized, and kibana prompts Field names beginning with_are a not supported

And these keys starting with an underscore cannot be found in the Add a filter

[2021-03-11 09:57] #3212 closed

[2021-03-11 10:01] javipolo opened #3213 "Add identifier field to each section to be used in metrics"
I'm monitoring fluent-bit with prometheus/grafana and I cannot identify which stream is which in the metrics
For example, I have multiple (+50) tail sections reading different files, but for the sake of identification all I can see is the name of the plugin, being it "tail.1" "tail.2" and so on:

[code]

It would be cool if a new field could be added to each of the configuration sections that will

[2021-03-11 10:18] loburm commented on #1108
@edsiper I think we had a similar case in GKE recently. First there was a heavy load (multiple MBs per second), during which log rotation happens. Fluent Bit hasn't managed to detect a new file and continues reading logs only after the next rotation.

[2021-03-11 10:34] loburm commented on #1948
Yes I think so.

[2021-03-11 11:21] nokute78 commented on #2939
## Ruby/Rubular

https://rubular.com/r/2wPRWYJ6GTx2l1

a.rb:
[code]

output is
[code]

The point is `Payload:""`

## Fluent-bit master

`Payload` field is missing.

p.conf:
[code]

a.conf:
[code]

output:
[code]

There are no `Payload`.

[2021-03-11 15:08] gillg opened #3214 "[Winlog] - Fluent bit crash unexpectedly when it reads some channels"
## Bug Report

**Describe the bug**
Fluent bit crash unexpectedly without any message

**To Reproduce**
No exact way to reproduce... I parse multiple winlog channels and it was working for some time.
If I disable winlog input everything is ok.

**Expected behavior**
Fluentbit shows an error or continue to work

**Screenshots**

**Your Environment**
* Version used: td-fluent-bit 1.7.1
* Configurati

[2021-03-11 15:10] edsiper commented on #3214
@gillg are you able to reproduce it with v1.7.2 ?

[2021-03-11 15:14] gillg commented on #3214
I just tried it, exactly the same thing.

[2021-03-11 15:15] edsiper commented on #3214
assigned to @fujimotos

[2021-03-11 15:16] gillg commented on #3214
My feeling is, probably something in the eventlog content cause this crash, but I really have any idea of what.

[2021-03-11 15:21] gillg commented on #3214
For information, it crashes also if I disable all filters, so it's really during the reading process.
It crash always at the same time, but it can "work" again, then crash later if I delete `winlog1.sqlite` for example.

[2021-03-11 16:07] jwitrick commented on #3052
After deploying 1.7.1 the issue is still there however it seems to be less impacting. Closing this issue.

[2021-03-11 16:07] #3052 closed

[2021-03-11 16:11] gillg commented on #3214
Looking deeper, I took the RecordId in the sqlite database and run :
`Get-WinEvent -FilterHashtable @{LogName='Application'} | Where-Object -Property Record
Id -eq 192696 | Format-List`  where 192696 is the record id in sqlite.
I see nothing strange, but I don't know how get the full detailed event. Moreover I don't know if this event is the issue or if any next events are the problem.

[2021-03-11 16:19] gillg commented on #3214
Hum... If it can help, I have a event not so far after with a very big "EventData" message, and lot of possible sensitive chars.

[code]

[2021-03-11 16:53] dtaniwaki commented on #3188
@mkerins I implemented the MinIO support feature.
https://github.com/fluent/fluent-bit/pull/3215

Please take a look and give me your feedback about the config.

[2021-03-11 18:29] qingling128 commented on #2805
+1 for this feature.

[2021-03-11 19:49] mkerins commented on #3188
Thank you very much @dtaniwaki ! Had one comment on the docs PR

[2021-03-11 21:22] agup006 commented on #3111
Related to https://github.com/fluent/fluent-bit/issues/2906

We don't have NFS support today with Fluent Bit. will look to add that later this year (Q3 / Q4)

[2021-03-11 21:24] yasn77 commented on #2998
@edsiper Any chance #3177 can be looked at and merged?

[2021-03-11 22:11] agup006 commented on #3213
@javipolo @gcasanova could you use Alias? https://docs.fluentbit.io/manual/administration/monitoring#configuring-aliases

[2021-03-11 22:16] agup006 commented on #3201
I modified your comment to reformat the config, for the listen parameter looks like you have an extra `.` at the end of `0.0.0.0`. Additionally to run on command line you will want to use the following: `fluent-bit -i tcp://192.168.3.2:9090 -o stdout`

[2021-03-11 22:18] agup006 commented on #3186
Awesome thanks @fujimotos , @edsiper should we rebuild 1.7.2 with the libraries link or wait until 1.7.3?

[2021-03-11 22:26] javipolo commented on #3213
Sure!!
I didnt know about this field, it is exactly what I needed

Tested and works like a charm!
Thank you :)

[2021-03-11 22:26] #3213 closed

[2021-03-12 02:13] #2745 closed

[2021-03-12 02:13] #2744 closed

[2021-03-12 02:13] #2741 closed

[2021-03-12 02:13] #2737 closed

[2021-03-12 02:13] #2736 closed

[2021-03-12 02:13] #2732 closed

[2021-03-12 02:13] #2723 closed

[2021-03-12 02:13] #2717 closed

[2021-03-12 04:36] agup006 commented on #3204
Hi @gilzellner-wix would you be able to confirm which version of Fluent Bit you are using?

[2021-03-12 05:06] cristiamu commented on #3190
I'd like to add, when a output starts throttling, backoff mechanisms should be triggered to allow it to recover. This just basically drop some records while the output is recovering.
Records dropped due to output throttling or backoff should count towards the drop count metrics.

[2021-03-12 05:25] cristiamu opened #3217 "Expose storage metrics and dropped chunks in prometheus endpoint"
**Is your feature request related to a problem?**
We've been trying to configure fluent-bit in system with high throughput and cardinality of records. In our scenario, data consistency is not relevant. We do prefer sampling records and fail fast, in favor of having a healthy pipeline with constant throughput.

We've tried several [buffer configurations](https://docs.fluentbit.io/manual/administrat

[2021-03-12 06:03] elruwen commented on #3014
If you want to reproduce it yourself, the following java code might help (see attachment).

- Start fluentbit with the following config, again, adjust the IP (127.0.0.1 might be fine, depending on if you run fluent-bit in a docker container or not)
[code]

-
[fluentbitbugjava.zip](https://github.com/fluent/fluent-bit/files/6127913/fluentbitbugjava.zip)
Unpack the zip file. The dir structure should

[2021-03-12 07:41] #2715 closed

[2021-03-12 07:43] #2667 closed

[2021-03-12 08:23] nilsga commented on #2814
Although this has been inactive, I think it is sill valid.

[2021-03-12 09:15] RiccardoManfrin opened #3218 "Buffering & storage issue"
## Bug Report

**Describe the bug**
Ciao,

[This](https://docs.fluentbit.io/manual/administration/buffering-and-storage#output-section-configuration) section of the doc says

I'm tring to forward logs between two fluentbit instances sitting in the same network, but I'm not seeing any buffered logs being forwarded to the receiver when it is restarted after a period of inactivity.

**To Reproduce**

[2021-03-12 09:39] loburm commented on #3073
@edsiper how do you think, can we revert that line to fix an issue?

[2021-03-12 13:55] dshackith commented on #2690
This is still an ongoing concern for us

[2021-03-12 16:26] vDMG commented on #3185
Thanks @agup006  and  @nokute78
I'll go with
[code]
It works :smile:

[2021-03-12 16:26] #3185 closed

[2021-03-12 16:50] #2691 closed

[2021-03-12 17:02] JeffLuoo commented on #3218
@RiccardoManfrin
hi, buffered chunks will be retried to send with a limit (default is 1). Which means that if Fluent Bit fails to send the chunk to destination, then it will schedule a retry for the task. If the retry task failed as well, then this chunk will be dropped (we lost the data). You might need to configure `retry_limit` to any number you need in order to keep the data chunk https://docs

[2021-03-12 17:03] JeffLuoo commented on #3189
#3200 is pushed for review.

[2021-03-12 20:41] hsmatulisgoogle commented on #3058
A similar problem seems to happen under ubuntu 20.04. It looks like `getaddrinfo` is being fed a bad file descriptor. Perhaps in the older ubuntu 16.04 this results in deadlock while in the newer version it results in a crash

[2021-03-12 20:47] hsmatulisgoogle commented on #3058
The crash we get from Ubuntu 20.04 is not printed to stderr. But by watching it with gdb we get the following stack trace
[code]

[2021-03-12 20:47] AndrewGrachov commented on #2522
Can confirm lack of metadata. Downgraded to 2.3.1 image and everything works

[2021-03-12 22:55] pushkargr commented on #2687
+1 For the request above. There is already support for custom key path for S3 (https://docs.fluentbit.io/manual/pipeline/outputs/s3#s3-key-format-and-tag-delimiters) , can the same be ported to Azure Blob Storage?

[2021-03-12 22:59] nokute78 commented on #2939
`cb_result` skipped because `vlen==0`.
If the if block is removed, `Payload:""` is contained.

https://github.com/fluent/fluent-bit/blob/0b84150719a0b563f7f19f9d644a40af87a97bc1/src/flb_parser_regex.c#L45-L61

[2021-03-12 23:01] JeffLuoo commented on #2933
Yes.. From the issue you mentioned, I think the `Bad File Descriptor` shuts down the Fluent Bit.  I also met that error with same `135` error code.

[2021-03-12 23:07] nokute78 commented on #2939
Similar issue is https://github.com/fluent/fluent-bit/issues/1486 .
PR is already opened https://github.com/fluent/fluent-bit/pull/1913 .

[2021-03-12 23:17] edsiper commented on #3058
hmm the thing is that getaddrinfo() does not take a file descriptor, it does it own networking behind the scenes. Actually, that call has to succeed so we can connect to the proper IP address.

Doing some research for similar reports I found this:

- https://sourceware.org/bugzilla/show_bug.cgi?id=12926

I have pending the test lock, will check if I can deliver it shortly.

[2021-03-12 23:24] edsiper commented on #3058
before that, I got another hypothesis.

Please add the following parameter in your ```[SERVICE]``` section:

[code]

let me know if that makes any difference

[2021-03-13 00:11] hsmatulisgoogle commented on #3058
Yes that bug is the same one I found in https://github.com/fluent/fluent-bit/issues/3058#issuecomment-789311832, which should be fixed in 16.04 according to my kernel version. Very weird, I misread it and thought it took in a file descriptor. I confirmed it crashes with 20.04 and `coro_stack_size   1024000`

[2021-03-13 00:31] edsiper commented on #3058
@hsmatulisgoogle the DNS endpoint you are trying to reach, how many addresses does it resolve?

- Please add one zero to the coro_stack_size value

found another similar issue reported in Curl: https://github.com/curl/curl/issues/3386

troubleshooing...

[2021-03-13 00:39] hsmatulisgoogle commented on #3058
Hmm I got a different crash under ubuntu 20.04 with `coro_stack_size 1024000` (no added 0 yet).
[code]
The call is
[code]

[2021-03-13 00:47] hsmatulisgoogle commented on #3058
Something to note is that both `atoi` and `getaddrinfo` have a thread safety of `MT-Safe locale`. Are we changing locale data anywhere? My understanding is that `atoi("n\000r")` should not segfault

[2021-03-13 00:53] edsiper commented on #3058
hmm I think this is a kind of corruption somewhere, but not confident now why glibc is segfaulting. Try adding the zero, we need to discard stack smash

[2021-03-13 01:22] hsmatulisgoogle commented on #3058
I was trying to run it again but ran into some really weird issues. No fluent-bit process is running, but somehow it is still holding on to the input file which ballooned up in size:
`memcheck- 47199 47222 flb-out-s            root   23r      REG                8,1 3503864661105  309141506 /tail/tail_log.1 (deleted)`

[2021-03-13 01:24] hsmatulisgoogle commented on #3058
I also think there are some kind of corruption issues somewhere. It is weird valgrind/gdb don't seem to be detecting anything however. Its a bit late here, and I will have some more updates monday

[2021-03-13 02:12] #3027 closed

[2021-03-13 02:12] #3024 closed

[2021-03-13 08:51] epcim commented on #2652
@edsiper yes, closing. Honestly on later versions issue does not repeat great!

[2021-03-13 08:51] #2652 closed

[2021-03-13 08:51] epcim commented on #2669
closing

[2021-03-13 08:51] #2669 closed

[2021-03-14 00:37] nokute78 commented on #2935
@marpio  @edsiper  How about add new option like `tenant_id_key` ?
If the key name is set, fluent-bit set the value of the key as a `X-Scope-OrgID`.

## Example
Incoming data is
[code]

Option is
[code]

Then `X-Scope-OrgID` will be `DynamicOrgID_12345`.

I'm not familiar with kubernetes, is it meaningful for this issue ?
 I think we can get namespace by `filter_kubernetes`. The new option and fil

[2021-03-14 00:38] nokute78 commented on #3190
I sent a patch https://github.com/fluent/fluent-bit/pull/3219

[2021-03-14 12:03] AkshayDubey29 commented on #3073
My pods are getting in crashLoopBackOff after some time and when I removed Db.sync and all DB-related config it worked fine, I am suspecting this might due to the same issue.

`a0d00qf@m-c02dj3hfmd6n fluent-bit % kubectl logs -f fluent-bit-lv7h4 -n logging
Fluent Bit v1.6.10
* Copyright (C) 2019-2020 The Fluent Bit Authors
* Copyright (C) 2015-2018 Treasure Data
* Fluent Bit is a CNCF sub-project

[2021-03-14 13:19] minamijoyo commented on #2610
Any update on this?

[2021-03-14 14:22] gilzellner-wix commented on #3204
I am testing now with
Fluent Bit v1.7.2
still happens.
we tried with other versions as well.

our current suspect: the s3 plugin.
I would go deeper, but my C is very rusty

[2021-03-14 20:43] PettitWesley commented on #3190
@nokute78 Much appreciated!

[2021-03-15 02:13] #3029 closed

[2021-03-15 02:13] #3021 closed

[2021-03-15 05:54] pavel-khritonenko commented on #2579
Confirm that it still doesn't work in OSX (fluent-bit version 1.7.2)

[2021-03-15 08:32] kapilsingh421 opened #3220 "[ warn] [engine] failed to flush chunk"
## Bug Report

**Describe the bug**
Failed to flush chunk. Please check my  YAML for input and output plugin of the fluent bit

**To Reproduce**
- Use Aws elastic search and try to send logs using fluent bit
- LInk:-https://aws.amazon.com/blogs/opensource/centralized-container-logging-fluent-bit/```

**Your Environment**

* Version used: Latest
* Configuration:32GB RAM and 4Vcpu
* Environment name

[2021-03-15 09:10] erikmaas commented on #3037
Problem is solved.

[2021-03-15 09:10] #3037 closed

[2021-03-15 11:01] xiviu123 opened #3221 "Fluent-bit crashed at startup when use custom plugin"
## Bug Report

**Describe the bug**

I  build a test plugin from this source https://github.com/fluent/fluent-bit-plugin
Fluent-bit crashed  at startup when i added this plugin.

**To Reproduce**
- Log startup:
[code]
- Steps to reproduce the problem:

**Expected behavior**

**Screenshots**

**Your Environment**

* Version used: 1.7.2
* Configuration:
[code]
* Environment name and version :
MacOS

[2021-03-15 12:07] MartinForReal opened #3223 "agent failed to resolve pod metadata if Kube_meta_preload_cache_dir and use_kubelet are enabled in kubernetes filter."
## Bug Report

**Describe the bug**
agent failed to resolve pod metadata if Kube_meta_preload_cache_dir and use_kubelet are enabled  in kubernetes filter.

**To Reproduce**
enable tls config in kubelet
set Kube_meta_preload_cache_dir
enable use_kubelet

[code]
**Expected behavior**

agent should resolve pod metadata successfully

**Screenshots**

**Your Environment**
* Version used: v1.7.2

**Addi

[2021-03-15 12:08] MartinForReal commented on #3223
I think it is good idea if we add another parameter to disable tls

[2021-03-15 13:56] atheriel opened #3224 "Segfault in TLS I/O"
## Bug Report

**Describe the bug**

I have observed segfaults with the following (incomplete) backtrace on 1.7.2. These are quite rare so I don't have a good way to reproduce. I'm guessing that we're passing bad data to OpenSSL.

[code]

It's very possible that the Splunk instance is behaving badly here, but I don't think that should cause crashes in Fluent Bit itself.

**Your Environment**

* Ve

[2021-03-15 14:52] edsiper commented on #3224
would you please share your full configuration and specify which channel did you get Fluent Bit from ?, like td-agent-bit package, official docker hub image, etc...

[2021-03-15 15:29] edsiper commented on #3197
Thanks.

It was a leak when the plugin failed to initialize due to a wrong matching rule, just fixed in e312ef1d

[2021-03-15 15:29] #3197 closed

[2021-03-15 15:31] edsiper commented on #3073
I am testing that specific issue..,.

[2021-03-15 16:57] JeffLuoo commented on #3197
Thanks for the fix.

[2021-03-15 17:01] brunosimsenhor commented on #3035
Do we have any updates? :D

[2021-03-15 17:08] PettitWesley commented on #3035
No update as of now beyond that we will track this on our backlog.

CC @zhonghui12

[2021-03-15 18:07] erain commented on #3224
We have the same/similar issue when talking to Cloud Logging in `stackdriver` output plugin.

/cc @qingling128 @JeffLuoo @courageJ

[2021-03-15 19:28] agup006 commented on #3220
Fixing config formatting in comment. When you say latest are you using aws-for-fluent-bit, the helm-charts, or the docker container?

Additionally, if you are using K8s 1.18 you most likely need to change the parser to CRI as I believe that is the new standard format. To do that change the following:

[code]

[2021-03-15 20:10] edsiper commented on #3073
NOTE: this is __not a memory leak__. It's the extra memory map used by WAL feature. I will take two actions:

- Document WAL mode
- Make WAL mode optional

[2021-03-15 20:33] kapilsingh421 commented on #3220
Great  Thanks ..
This documentation is working

Thanks again

[2021-03-15 20:33] #3220 closed

[2021-03-15 22:21] loburm commented on #3073
Wow, but that's a lot (4MB per input plugin). Thanks for the investigation.

[2021-03-15 22:22] edsiper commented on #3073
everything has a price: 4MB for less I/O to disk :)

[2021-03-15 22:45] edsiper commented on #3073
- New option ```db.wal```: f0c2c9cd5ff
- Documentation: https://docs.fluentbit.io/manual/pipeline/inputs/tail#sqlite-and-write-ahead-logging

[2021-03-15 22:46] #3073 closed

[2021-03-15 22:51] edsiper commented on #3221
Can you try it on Linux ?

[2021-03-15 23:25] hsmatulisgoogle commented on #3058
I confirmed errors still happen with `coro_stack_size   1024000`, `coro_stack_size   10240000` and `coro_stack_size   102400000`. I managed to get some valgrind output. It seems to be spotty (sometimes I cant get any valgrind output), but I couldn't get anything with the smaller stack size before

[fluent_bit_log.txt](https://github.com/fluent/fluent-bit/files/6145030/fluent.txt)

[2021-03-16 02:07] xiviu123 commented on #3221
Image **docker.io/fluent/fluent-bit:1.7-debug** use Debian os!
You mean must host docker on Linux OS?

[2021-03-16 02:12] #2850 closed

[2021-03-16 03:07] xiviu123 commented on #3221
@edsiper
I did a test on ubuntu.
[code]

Same error appeared.
May be the ploblem in plugin file?
Please help.

[2021-03-16 03:32] xiviu123 commented on #3221
humm, seem to be i saw the ploblem.
the plugin is built on ubuntu env and i ran fluent on debian.
i will close this issue.

[2021-03-16 05:04] pssa commented on #3192
Rolling back to v1.7.0 resolves issue for us in all clusters.

[2021-03-16 07:17] xiviu123 commented on #3221
Fluent Bit caught error when mount plugin as docker volume.
How can i  use plugin without rebuild docker image?

[2021-03-16 15:43] asaushkin commented on #1022
I run into the same problem. Flunt-bit and Fluend are running on the EC2 instances. Fluent-bit couldn't be recovered after fleuntd became temporarily unavailable.

[2021-03-16 16:01] vbichov opened #3229 "chunk validation failed causes process crush"
## Bug Report

**Describe the bug**
fluent bit  continuously trying to load partially failed chunks and eventually fails
the faulty chunks are a result of fluent bit restart

**To Reproduce**

[code]
- Steps to reproduce the problem:
create log source with sufficient thruput to be persistent to disk
restart fluent bit

**Expected behavior**
faulty chunks from previous executions should be consumed

[2021-03-16 16:54] qingling128 opened #3230 "Make user agent customizable and come with Fluent Bit version by default."
**Is your feature request related to a problem? Please describe.**

In order to track usage of our products and distinguish it from other products that use Fluent Bit, we'd like to be able to customize the user agent by appending some bits. Also the current user agent does not include Fluent Bit version info.

**Describe the solution you'd like**

Instead of hard coding `Fluent-Bit`, make it custo

[2021-03-16 20:31] viclevy commented on #1567
@agup006 why is this issue still open if support for multi-threading was introduced with 1.7.0 release?

[2021-03-16 22:11] fabricev commented on #593
Hello there, got hit by this as well, and the workaround provided by @agileknight didn't seem to match exactly my case. I'm using fluentbit 1.7.1, and local logs are using syslog format (without a TZ printed), my logs are in Europe/Zurich timezone and when pushed to ES they are incorrectly indexed in the future. That's how i ended here, understanding that fluentbit couldn't do a local timezone to

[2021-03-17 02:41] #3039 closed

[2021-03-17 02:41] #3030 closed

[2021-03-17 02:41] #3023 closed

[2021-03-17 02:41] #2999 closed

[2021-03-17 02:41] #2712 closed

[2021-03-17 02:41] #2710 closed

[2021-03-17 02:41] #2705 closed

[2021-03-17 02:41] #2703 closed

[2021-03-17 02:41] #2689 closed

[2021-03-17 02:42] #2682 closed

[2021-03-17 02:42] #2681 closed

[2021-03-17 02:42] #2670 closed

[2021-03-17 02:42] #2666 closed

[2021-03-17 02:42] #2657 closed

[2021-03-17 02:42] #2648 closed

[2021-03-17 02:42] #2647 closed

[2021-03-17 02:42] #2646 closed

[2021-03-17 02:42] #2639 closed

[2021-03-17 06:03] agup006 commented on #1567
@viclevy you are right, happy to close this issue and say that multi-threading is available in 1.7.X release

[2021-03-17 06:03] #1567 closed

[2021-03-17 06:58] markuman opened #3240 "output cloudwatch metrics support for metric_dimensions ${HOSTNAME}"
**Is your feature request related to a problem? Please describe.**
We want to use `${HOSTNAME}` as a dimension in cloudwatch metrics

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Rollout config with ansible

[code]

[2021-03-17 07:22] eugenesotnikov commented on #2591
How can you use livenessProbe with /bin/bash if bash is absent in fluent-bit image?
I tryed to use this liveness and got mistakes that bash is absent.

[2021-03-17 07:38] epcim commented on #2591
Good point, well we do build own.

[2021-03-17 07:46] eugenesotnikov commented on #2591
hmm. ok..
i have trouble with 1.7.2. It's stoped forward log. But k8s mean that it's live by httpget livenessprobe. And i wanted to change liveness probe to exec...
Maybe exist another default variant livenessprobe for k8s for freeze pod?

[2021-03-17 08:17] a8j8i8t8 opened #3241 "AWS ES TLS is unreachable"
## Bug Report

**Describe the bug**
I am getting below error with version `1.7.2`.
[code]

Is [this PR](https://github.com/fluent/fluent-bit/pull/3043) related to above?
Appreciate your help.

**Additional context**
With version `1.6.10` it's not an issue BTW.

~Ajit

[2021-03-17 12:06] martenbiehl opened #3242 "AWS: Cloudwatch example leading to tooOldLogEventEndIndex"
## Bug Report

**Describe the bug**
I am trying to upload data from a raspberry pi to aws cloudwatch. The log group and log stream are created but the upload of the logs fails with tooOldLogEventEndIndex

**To Reproduce**
- install td-agent-bit according to docs
- used example config from [Docs](https://docs.fluentbit.io/manual/pipeline/outputs/cloudwatch) - Config (removed ec2 parts):
[code]

**E

[2021-03-17 13:04] gilzellner-wix commented on #3204
Hi,
any news on this ?

[2021-03-17 19:54] famousit commented on #3186
it would be great if I the 1.7.2 version would be rebuild with this fix.

[2021-03-17 20:32] buskamuza opened #3243 "JSON is broken with tail in Docker_Mode due to \n characters"
## Bug Report

**Describe the bug**

`Docker_Mode` combines multiple log lines into single record. But the `\n` character added to each log message by Docker driver is not removed. It is kind of ok ... though the `\n` character can be in the middle of a word and so may break future logs analysis, but at least logs are processed. But if the `\n` is in the middle of escaping sequence, the JSON gets

[2021-03-17 21:27] srajeshinfotech commented on #2932
I'm also facing this issue with latest v1.7.2 release.

My config:-
[SERVICE]
    flush        2
    daemon       Off
    log_level    debug
[INPUT]
    Name tail
    Path /var/log/syslog
[OUTPUT]
    name                 syslog
    match                *
    host                 10.10.10.5
    port                 514
    mode                 udp
    syslog_format        rfc5424
    syslog_maxsiz

[2021-03-17 21:39] gitfool commented on #3241
Also seeing this.

[2021-03-18 02:14] #3012 closed

[2021-03-18 02:14] #2967 closed

[2021-03-18 02:14] #2878 closed

[2021-03-18 02:14] #2861 closed

[2021-03-18 02:14] #2628 closed

[2021-03-18 02:14] #2625 closed

[2021-03-18 02:14] #2621 closed

[2021-03-18 02:14] #2620 closed

[2021-03-18 02:14] #2606 closed

[2021-03-18 02:14] #2594 closed

[2021-03-18 02:14] #2588 closed

[2021-03-18 02:14] #2587 closed

[2021-03-18 06:15] srajeshinfotech commented on #2932
Added the below patch. working fine..

Please someone review my patch..

PATCH file : -
[output_syslog.txt](https://github.com/fluent/fluent-bit/files/6161690/output_syslog.txt)

Best Regards,
Rajesh~
+91-9600635770
iRxTx.com

[2021-03-18 06:41] knutwannheden commented on #2950
AFAICT there were no comments by committers here. what does it mean for the state of a project when the maintainers don't take the time to respond to a very detailed bug report like this one?

[2021-03-18 08:19] nokute78 commented on #2932
@srajeshinfotech  Thank you for information.
Can you open a pull request for reviewing ?

[2021-03-18 10:49] dahu33 opened #3246 "out_cloudwatch_logs: add support for record accessor"
**Is your feature request related to a problem? Please describe.**

I would like to dynamically add the Kubernetes namespace in the Cloudwatch Logs group name. This is useful to:
- restrict user log access to certain namespaces.
- log ingestion monitoring (Cloudwatch Logs metrics are per log group name).

**Describe the solution you'd like**
I believe the solution would be to implement [record acc

[2021-03-18 10:59] dahu33 commented on #3246
@PettitWesley @edsiper would you mind having look at this?

[2021-03-18 12:04] AntonDobshikov opened #3247 "Please add an example how to send logs to S3 if not from EC2 if possible"
Here https://aws.amazon.com/ru/about-aws/whats-new/2020/10/fluent-bit-supports-amazon-s3-destination-route-container-logs/
it's mentioned that self-managed Kubernetes  are supported
Here https://docs.fluentbit.io/manual/pipeline/outputs/s3 it's not mentioned that Fluent bit should be running at EC2 and not clear how to use the plugin from anywhere else
with:
[code]
 it tries to connect to 169.254.

[2021-03-18 12:59] matejc opened #3248 "Docker's nested log field does not get decoded"
## Bug Report

**Describe the bug**
Log field sent from Docker container is not being decoded into nested fields
and is still type of string when it is being sent to ElasticSearch.
I was following the documentation for [Decoders](https://docs.fluentbit.io/manual/pipeline/parsers/decoders)

**To Reproduce**
Log that container generates:
[code]
Log that default Docker log driver is saving into `*-js

[2021-03-18 13:09] AntonDobshikov commented on #3247
found that it works this way
[code]

[2021-03-18 14:02] #3247 closed

[2021-03-18 14:14] moleksyuk commented on #2664
Why is it closed? Is it fixed?

[2021-03-18 15:07] mcanaves commented on #3241
+1

[2021-03-18 15:12] agup006 commented on #2664
Auto closes, re-opened

[2021-03-18 15:51] JeffLuoo commented on #3229
Could you please provide more details of the failure logs of fluent bit when processing broken chunks?

[2021-03-18 15:58] JeffLuoo commented on #3014
@elruwen Could you please try adding `storage.type  filesystem` to your input plugin configuration? If this is not set then Fluent bit is going to use memory to buffer chunks and if filesystem is not enabled.

[2021-03-18 15:58] JeffLuoo commented on #3001
see https://github.com/fluent/fluent-bit/issues/3014#issuecomment-802044327 if config file is the same.

[2021-03-18 16:15] PettitWesley commented on #3246
@dahu33 I believe you are correct

We built a templating feature in the `cloudwatch` go plugin: https://github.com/aws/amazon-cloudwatch-logs-for-fluent-bit#templating-log-group-and-stream-names

It would be cool to implement it in the `cloudwatch_logs` plugin too, but I am not prioritizing it right now since we already have the go plugin templating implementation.

[2021-03-18 17:34] p1kumarn opened #3250 "Fluent bit is dropping the HTTP body for the HTTP Output plugin"
## Bug Report

**Describe the bug**

The below is my input plugin
[INPUT]
    Name tail
    Tag  shopAlert
    # Interval Sec
    # ====
    # Read interval (sec) Default: 1
    path /opt/hal/logs/central/shopAlert.log
    Interval_Sec 1

The below is my http output plugin config
[OUTPUT]
    name http
    match shopAlert
    host host
    port 443
    uri /api/terminal/alerting
    tls        On

[2021-03-18 18:33] zystem commented on #1134
How do users who use s3 or Kafka as transport? Can anybody add Replace_Dots as a filter?

[2021-03-18 20:25] edsiper commented on #3250
would you please point us to the HTTP consumer project or source code to validate on that end too ?.

[2021-03-19 02:05] #935 closed

[2021-03-19 02:14] #3063 closed

[2021-03-19 02:14] #3062 closed

[2021-03-19 02:14] #3056 closed

[2021-03-19 05:21] elruwen commented on #3014
That doesn't make a difference :(

[2021-03-19 07:13] Binyang2014 commented on #1746
Seems this fix: https://github.com/fluent/fluent-bit/pull/2777 already solve out of order issue. @edsiper  Can you confirm?

[2021-03-19 12:38] tlefevre opened #3255 "Can't turn off WAL"
## Bug Report

The documentation is not clear on how to turn off DB.wal. I have tried Off, off and false. Nothing really works it seems?

Error posted on start up in stdout -> [2021/03/19 12:33:24] [error] [lib] backend failed.

There's nothing in the log file.

[2021-03-19 14:01] mariusz-rubin opened #3256 "Reading logs from UTF-8 file with BOM - BOM is included in the first record"
## Bug Report

**Describe the bug**
I'm reading logs with fluent-bit with tail input plugin from a file saved in UTF-8 with BOM.
The BOM markup (`\ufeff`) is included on begin of the first record. I think it shouldn't be there.

**To Reproduce**
- Example content of the log file saved as UTF-8 with BOM:
[code]
- Steps to reproduce the problem:
Run fluent-bit configured with tail input plugin and s

[2021-03-19 14:58] ginobiliwang commented on #3192
@pssa  To rolling back to v1.7.0 is just a temporary walk-around.

@edsiper  has pushed [this commit](https://github.com/fluent/fluent-bit/commit/ba00756ca541ed701004e304f020662ee23ca8c3) for "lib: monkey: sync event epoll changes on closing timeout fd".

With the above commit, connection fd would be recycled right after the retry of tasks ends.  As a result, libevent library would trigger connect

[2021-03-19 15:23] edsiper commented on #1746
Fluent Bit does not send records in order, we optimize for performance than serialized messages.

[2021-03-19 16:45] l2dy commented on #3005
The issue is still relevant and has a PR.

[2021-03-19 16:50] marpio commented on #2935
@nokute78 yes, that would be perfect. I'm already using the kubernetes filter and yes, it's possible to extract the name of a namespace. Thanks!

[2021-03-19 17:59] atreyd opened #3258 "Unable to use the event tag as a variable in fluentbit config"
We are currently running fluentbit as a DAEMON in ecs cluster where multiple services are pushing logs to fluentbit daemon.
Each service is sending the log events with log-opts as `tag=service_name`. So log events will contain the service name as tag for each record pushed to fluentbit i.e. Service1, Service2 etc.
We want to use this tag in Output filter as $TAG or ${TAG} so that every service can

[2021-03-19 22:48] cokegen opened #3259 "Multiple Regex entries for grep filter not working"
## Bug Report

**Describe the bug**
More than one `Regex` entry being specified for the grep filter do not work. Multiple `Exclude` entries on the contrary DO work just fine if you give it a try.

**To Reproduce**
[code]
[code]
- Steps to reproduce the problem:
Launch fluent-bit with the provided config and see result

**Expected behavior**
The entry should not make it to stdout, since the second

[2021-03-20 00:57] nokute78 commented on #2935
Up voting and @marpio @dbluxo Thank you!

I sent a patch #3260.
It supports `tenant_id_key`.

It is a simple implementation, so it may not handle such events.

Disclaimer:
If different values are sent to a loki plugin at once, X-Scope-OrdID will be set the value of last record.

e.g.
These events are sent to same loki plugin instance, `X-Scope-OrdID` will `MyTenant2` using option `tenant_id_key na

[2021-03-20 02:19] nokute78 commented on #2932
@srajeshinfotech Thank you for creating #3249
I'll check it later.

[2021-03-20 02:38] Binyang2014 commented on #1746
Thanks @edsiper, I understand. But in some use case, we need serialized message and can tolerant some performance loss. I create a PR to add this option for output plugin #3254. I think we can document this option and let users decide if it is suitable for them.

[2021-03-20 06:21] dbluxo commented on #2935
@nokute78 Thanks for your quick implementation!

Isn't that a bit dangerous if a user wants to map a multi-tenancy via this option? It certainly happens very often that a request to Loki contains logs from different Kubernetes namespaces, because Pods from different namespaces run on one node.

[2021-03-20 08:14] nokute78 commented on #2935
@dbluxo Thank you for the comment especially kubernetes.

Hmm, current loki plugin creates 1 http request from N events, this design causes that Disclaimer.
So, we have to change the basic design drastically.
(In this case, fluent-bit should create 1~N http request(s) from N events.)

Hmm...

[2021-03-20 17:52] interfan7 commented on #2579
Same here, it doesn't work on fluent-bit 1.7.2  over newest OSX (some big-sur).

[2021-03-20 20:46] atefhaloui opened #3262 "systlog: cannot switch to RFC 3164"
## Bug Report

**Describe the bug**
The rfc 3164 is not selected even if I specify it in the output section.

**To Reproduce**
- Set the `syslog_format` to `rfc3164`
[code]
- Activate debug mode is rsyslog, in all cases you will see that the message is send in rfc 5424 format:
[code]

**Expected behavior**
It's expected that the message is sent with rfc 3164 format

**Your Environment**
* Version

[2021-03-20 21:09] atefhaloui opened #3263 "syslog output: send json to a rsyslog remote server"
**Is your feature request related to a problem? Please describe.**
I've tried to send a json log entry through the syslog output without any luck. The structure of the json entry is:
[code]
My parser is:
[code]
my config file:
[code]
When I append a new entry to my log file, the message sent is empty :(
[code]
My fluent-bit output:
[code]
and in my rsyslog I have:
[code]

**Describe the solution y

[2021-03-20 21:50] marpio commented on #2935
@nokute78 I have the same concern as dbluxo. Basically fluent-bit, in my environment,  is running as a DaemonSet (one instance on each node). Since every node can host multiple pods from many namespaces, it potentially also reads logs from multiple tenants (in my case tenant maps to a namespace). With this implementation, tenant A would be able to see logs from tenant B which would defeat the purp

[2021-03-21 00:42] nokute78 commented on #2935
@marpio Thank you for comment.

What I think is here. Is it meaningful?
1. Loki plugin receives multiple events. Each record may have different namespace.
2. The plugin looks into multiple events and groups into several units by `tenant_id_key`
3. (Buffering until limit?)
4. The plugin creates requests for each units (and it means for each X-Scope-OrgID) and send them.

e.g.
`tenant_id_key` is `na

[2021-03-21 06:52] grawlinson opened #3264 "CMake installs systemd files to /lib instead of /usr/lib"
According to [systemd.unit](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#System%20Unit%20Search%20Path) documentation, systemd searches for units in `/usr/lib` and not `/lib`.

Current `fluent-bit` code uses a hardcoded path:

https://github.com/fluent/fluent-bit/blob/e34f061396f95955af828049feaa0baedfb60a47/src/CMakeLists.txt#L412-L419

Seems to be somewhat related to #2657.

[2021-03-21 07:28] marpio commented on #2935
@nokute78 yes, this is exactly how it should work

[2021-03-21 09:13] nokute78 commented on #2932
@yukselao @srajeshinfotech
`syslog_*_key` property is to get the value from incoming record.

For example
[code]
In this case, syslog output plugin expects incoming record has "message" key and the plugin treats the value of the key as a message.

If the configuration file is like this, `syslog_message_key` is  `log_body` and dummy plugin sends `{"log_body":"hoge"}`.
Then syslog plugin uses the va

[2021-03-21 10:06] nokute78 commented on #3255
WAL off feature will be supported from v1.7.3 , however it is not released yet. (latest version is v1.7.2)
https://docs.fluentbit.io/manual/pipeline/inputs/tail#wal-and-memory-usage

[2021-03-21 10:53] dbluxo commented on #2935
@nokute78 Your suggestion is great! I think with the `buffer_limit` it is also important to consider that if in a certain time the `buffer_limit` is not reached, the messages are still sent to Loki after a specified time, so that even messages from tenants who log less, do not wait _forever_.

[2021-03-21 11:57] vbichov commented on #3229
@JeffLuoo is there any way to transfer the log that is not publically available?

[2021-03-21 12:08] vbichov commented on #3229
if this helps - this is how the end of a corrupted chunk looks like:
<img width="555" alt="Screen Shot 2021-03-21 at 14 01 45" src="https://user-images.githubusercontent.com/4352719/111904288-ce68f800-8a4e-11eb-8d20-25c18cafdb9b.png">

[2021-03-21 12:21] tlefevre commented on #3255
Ah ok, thanks! I didn't catch that.

"Note that WAL is not compatible with shared network file systems" - I need to turn it off, since we're using Fluent-bit in Kubernetes and storing the files on a GlusterFS mounted volume.

Reading the docs, it seems that it is not a good idea to use WAL.

[2021-03-21 12:53] nokute78 commented on #3255
Thank you for comment. So, please be waiting next release.
Note: We supported this feature to  fix #3073 memory resource issue.

I'm not familiar with WAL.
It is good information for me. Thank you.

https://sqlite.org/wal.html#concurrency
[code]

[2021-03-21 12:56] acastong commented on #2566
Commenting to prevent issue from becoming stale.  This is issue is still applicable: if we need to process a large number of messages with filesystem storage type, a build from the pull request #2804 MUST be used.

[2021-03-21 16:02] atefhaloui commented on #3262
A better patch:
[code]

[2021-03-21 21:28] tlefevre commented on #3255
Do you know of anyone familiar with "why" it's a problem on shared network file systems?

We're so far just planning to run a single fluent-bit instance, so it might not be a problem at all even though it's on a Gluster filesystem.

[2021-03-22 02:06] elruwen commented on #3014
Yes. Just to clarify. It is not only one chunk. At the moment I got 25 chunks stuck and 25 chunks on disk.

[2021-03-22 02:06] elruwen commented on #3001
No difference.

[2021-03-22 02:16] JeffLuoo commented on #3014
`storage.total_limit_size` is not stable @1.6.10. Could you please try without that option?

[2021-03-22 02:19] JeffLuoo commented on #3001
I guess the reason you didn't see log like
[code]

is because that fluent bit failed to flush chunk to the destination. Could you please check the fluent bit log to see if there is any connection issue to the destination?

[2021-03-22 02:20] #3072 closed

[2021-03-22 02:39] JeffLuoo commented on #3229
The handling of corrupted chunk is here: https://github.com/fluent/fluent-bit/blob/c461d7136fb026cc8d1156c25651ccae73a48b9f/plugins/in_storage_backlog/sb.c#L114. Corrupted chunks should not be registered again into the queue.. @edsiper PTAL why does the chunk keep getting registered?

[2021-03-22 08:03] vbichov commented on #3229
@JeffLuoo  but according to the error message, it should be possible to extract all non-damaged/corrupted messages contained in the chunk - this will cause those messages to be lost

[2021-03-22 12:56] nokute78 commented on #3255
I don't know.

I think the hint is `shared-memory`. It is usually used for inter-process, not for inter-machine.
Refer to the sqlite document, wal-index is implemented using shared memory.
https://sqlite.org/wal.html#implementation_of_shared_memory_for_the_wal_index

[2021-03-22 12:57] makrelas commented on #3263
Seems similar to #2717 which was closed (stale)

[2021-03-22 13:12] nokute78 commented on #3111
Is it related WAL of sqlite?
`DB` property is for sqlite and WAL mode is enabled by default. (Current release is not supported to make disable)
https://docs.fluentbit.io/manual/pipeline/inputs/tail#wal-and-memory-usage

On the other hand, WAL disadvantage 2 is like this.
https://sqlite.org/wal.html#overview
[code]

ref: #3255

[2021-03-22 14:12] ThommyH opened #3267 "Stackdriver stops working after one hour: Oauth2"
## Bug Report

**Describe the bug**
We use gke@1.16.15-gke.7800 and fluentbit v1.7.2. The configured google service account has the following roles:
- Service Account Token Creator
- Logs Bucket Writer
- Logs Configuration Writer
- Logs Writer
- Monitoring Metric Writer

The configuration works fine and logs are forwarded to stackdriver. But after exactly one hour of log forwarding, the stackdrive

[2021-03-22 14:34] patrick-stephens opened #3268 "Expect not providing exit code of 255"
## Bug Report

**Describe the bug**
When running with the `expect` plugin to check output of each stage, it is correctly triggering error output in the log but exiting with 0.

**To Reproduce**
Running with container version:
[code]

**Expected behavior**
Exit code is 255.

**Your Environment**
* Version used: 1.7.2
* Configuration: Container with docker
* Environment name and version (e.g. Kubern

[2021-03-22 17:35] tlefevre commented on #3111
You should try to recompile Fluent-bit without inotify support:
https://docs.fluentbit.io/manual/installation/sources/build-and-install#general-options

Look for the option FLB_INOTIFY.

An easy way to do that is use the dockerfiles present here: https://github.com/fluent/fluent-bit/tree/master/dockerfiles

That'll make Fluent-bit revert to using stats to monitor files, which would most likely be

[2021-03-22 17:35] #3255 closed

[2021-03-22 17:35] tlefevre commented on #3255
Thanks for the help :)

[2021-03-22 18:33] Dgadavin commented on #3241
Me too. And after some time fluent bit stop sending logs to AWS ES

[2021-03-22 19:56] czerasz commented on #1001
was also mentioned here https://github.com/fluent/fluent-bit-go/issues/16

[2021-03-22 23:31] cokegen commented on #1942
`Trace_Error On` + `Log_Level debug` helped me in diagnosing my issue, which was related to ES reaching a limit for `cluster.max_shards_per_node`.

Thanks @DavidWittman

[2021-03-22 23:44] elruwen commented on #3001
It is the same situation as in #3014

1. Log destination is down.
2. I produce a lot of logs.
3. I start the log destination.
4. Fluentbit starts to retry and manages to send the majority of logs. In 1.6 I got a message letting me know when a retry succeeded, in 1.7 not anymore.

[2021-03-23 02:16] #3079 closed

[2021-03-23 02:16] #2930 closed

[2021-03-23 02:16] #2581 closed

[2021-03-23 02:16] #2580 closed

[2021-03-23 02:16] #2576 closed

[2021-03-23 02:16] #2571 closed

[2021-03-23 02:16] #2570 closed

[2021-03-23 02:16] #2569 closed

[2021-03-23 02:16] #2562 closed

[2021-03-23 02:16] #2561 closed

[2021-03-23 02:16] #2556 closed

[2021-03-23 02:16] #2554 closed

[2021-03-23 02:16] #2551 closed

[2021-03-23 02:16] #2550 closed

[2021-03-23 02:16] #2549 closed

[2021-03-23 03:07] elruwen commented on #3014
My last try was still on commit id 555b22a026c83ad26677cd98d8d78c8b6b82d5e0.

I used now 1.7.2. The problem still persists (both, the chunks stuck and the missing log messages). But I got now a new error message:
[code]

This gets spammed quite a lot. The weird thing about it is that this message gets logged imho too often. Look at connection #100. The first log message says it timed out after 30

[2021-03-23 06:31] toshipp opened #3269 "out_loki: Allow specifiling possibly empty record accessor for labels"
**Is your feature request related to a problem? Please describe.**

I use fluentbit with loki output plugin, and configure labels with `$app` like as:
[code]
But some applications use neither `app.kubernetes.io/name` nor `app` label, so the record accessor `$app` may be empty.
In this case, fluentbit dumps logs like `[ warn] [output:loki:loki.0] empty record accessor key translation for pattern: $

[2021-03-23 06:49] Ubereil commented on #2692
No, the issue hasn't gone away just because it has been ignored for a month...

[2021-03-23 07:31] atitan commented on #2905
Hi @zhonghui12, we updated our aws-for-fluent-bit to 2.12.0, which includes this extension enhancement.

And with config looks this:
[code]

But still getting random extension names:
![image](https://user-images.githubusercontent.com/3275467/112109419-84b61400-8bec-11eb-98f6-eed6e27bb5da.png)

Any ideas?

[2021-03-23 12:40] donbowman commented on #2864
does this mean we are going to start not merge unless the checks pass? Its def not what i see on the last 10 MR

![2021-03-23_08-37](https://user-images.githubusercontent.com/5131923/112147695-62ec6b00-8bb3-11eb-9807-16e2ad372df0.png)

[2021-03-23 13:26] JeffLuoo commented on #3014
From logs you provided, it looks like the chunk issue is caused by the bad upstream connection:
[code]

If the chunk can't be shipped to its destination, then it will stuck on your disk as you configured `retry_Limit False`. There is a ticket reporting the timeout issue #3192 that didn't happen before in the older version (v.1.6.x). I suspect your case is related to that ticket, do you mind waitin

[2021-03-23 14:08] JeffLuoo commented on #3229
Is it possible to extract the 105 valid records?
-  AFAIK this is not supported yet.

Could you please attach a corrupted chunk (with data that is not confidential so you are ok to share) from `/var/lib/td-agent-bit/storage` that I can use for testing? I am not able to generate a chunk like that to reproduce the issue.. Thanks.

[2021-03-23 16:20] patrick-stephens commented on #3269
Why not use a condition to check if it is empty on the `modify` filter and only fill it then? https://docs.fluentbit.io/manual/pipeline/filters/modify#example-2-conditionally-add-and-remove

[2021-03-23 16:49] zhonghui12 commented on #2905
Hi @atitan, the extension enhancement code hasn't released by fluent bit yet: https://fluentbit.io/announcements/v1.7.2/. It should be included in next release. So this feature is not supported for now.

[2021-03-23 17:54] agup006 commented on #3268
@nokute78 I think we fixed an issue around --dry-run not working that this one feels similar to. Are you able to take a look?

[2021-03-23 19:07] maximchukm commented on #2152
I've found out a more effective workaround for this issue than using nest filter, you can use instead the Lua filter https://docs.fluentbit.io/manual/pipeline/filters/lua with a script like this:
[code]

[2021-03-23 21:54] tlamr commented on #3142
Hello!

  we are facing same issue. This blocks our migration to arm64. It works ok with latest version and amd64 version thought.

Cheers,
Tomas

[2021-03-23 23:53] sharkymcdongles commented on #3267
I did some more digging on this and found if I curl the endpoint for token generation directly via a pod using the same serviceaccount as fluent-bit this is the result:

[code]

My guess is the method to refresh the token either omits the scopes which gives same 400 error or something else, but it's not functioning properly as of now sadly, unless I am missing something.

[2021-03-24 00:50] toshipp commented on #3269
It is not needed because `Copy` function checks if COPIED_KEY exists implicitly.
My intent is that if `app.kubernetes.io/name` field exists, use it to output `app` label, If not and `app` field exists, use it, and if both do not exist, DONT output `app` label.

BTW, the snippet is my entire workflow, but not minimal for the request.
An important point is that I want to use `app` field to loki labe

[2021-03-24 01:30] agup006 commented on #3267
@hsmatulisgoogle @qingling128 I'm wondering if this is something you might be familiar with

[2021-03-24 02:16] #3083 closed

[2021-03-24 02:16] #3080 closed

[2021-03-24 02:16] #3074 closed

[2021-03-24 03:09] qingling128 commented on #3267
Hi, this looks like an `oauth` issue. We are not very familiar with that, but there are a few `oauth` issues similar to this:

[code]

BTW, does your environment have VPC SC set up?

[2021-03-24 03:12] qingling128 commented on #3267
We also have an internal report for this issue. Quoting notes from Igor:

[code]

https://github.com/fluent/fluent-bit/blob/b38ddae8974b8553789c45ba14f9c3fd36a210f6/plugins/out_stackdriver/stackdriver.h#L37

[2021-03-24 03:42] panaji commented on #3192
@ginobiliwang ... i'm facing the same problem ... any chance this will make it to 1.7.3?

[2021-03-24 03:51] macropin commented on #2905
@zhonghui12 are you sure? The documentation https://docs.fluentbit.io/manual/pipeline/outputs/s3 says that `$UUID` is supported.

[2021-03-24 04:01] elruwen commented on #3014
Sure.
Just to clarify: I am using netcat as a destination. I expect a lot of issues with my upstream connection. But I would expect that at some point they are resolved.
If you want, I can also test the PR linked in #3192.

[2021-03-24 06:07] sharkymcdongles commented on #3267
@qingling128
No we don't use VPC SC. I have workload identity enabled but stackdriver output doesn't support it so we are using the service account via a secret per the documentation. Having workload identity enabled hasn't affected any of our other service account mounter workloads either like external-dns or cert-manager via Google DNS.

Is the URL you linked used for the initial auth or only th

[2021-03-24 08:04] saif-romdhane opened #3273 "Support merging back logs after being split"
In the context of using AWS ECS backed by fargate with fluent-bit to ship the JSON formatted logs produced by the application container to Datadog (more details about the integration can be found in Datadog's documentation - [link](https://docs.datadoghq.com/integrations/ecs_fargate/?tab=fluentbitandfirelens)). Docker truncates logs at 16KB which leads to having invalid JSON logs sent to Datadog.

[2021-03-24 09:57] vbichov commented on #3229
emailed it to you

[2021-03-24 10:04] patrick-stephens commented on #2253
I'd like to use a key in the record ideally with some additional regex on it. The rewrite tag plugin does not really seem to let this work the way I want (it seems to require a prefix first).

[2021-03-24 10:52] patrick-stephens opened #3274 "Tail exit_on_eof allow pipeline to complete first"
**Is your feature request related to a problem? Please describe.**

I'm currently using a CI pipeline where I process some logs and check their output.
As part of this I was using rewrite tag to generate a filename for the output and then reading from a known input file with `exit_on_eof on`.
Unfortunately it looks like tail just stops the rest of the pipeline as soon as it hits EOF so I don't get

[2021-03-24 12:35] marklinders-planon commented on #2514
Still on my wishlist so we can finally remove fluentd out of our deployment.

[2021-03-24 14:09] jsdevalx opened #3275 "Fluent Bit splits 60KB-80KB document into multiple elastic documents."
Fluentbit splits 60KB-80KB document into multiple elastic documents. Is it expected behaviour or some misconfiguration?

Fluentbit v 1.3.4
Kubernetes v1.18.14

cat file4.sh
#About 60KB string (it is one line begins AAAAA ends with XXXXX - one the image You can see in the 1st doc AAA.... and in the last XXXX...):
echo "{\"Message\": \"Hello from POD SLASH AAAAA ...
./file4.sh

And effect is at imag

[2021-03-24 14:14] JeffLuoo commented on #3229
Confirmed that I am able to reproduce the issue, steps:
1. Place a corrupted chunk in the disk
2. Run fluent bit with the following config:
[code]
3. See fluent bit logs:
[code]
4. Check the disk and find that the chunk is still in disk.

[2021-03-24 14:34] JeffLuoo commented on #3229
#3276 I just pushed a commit for fix it.

[2021-03-24 17:33] PettitWesley commented on #3142
@edsiper Is this a known limitation of the arm64 build?

[2021-03-24 17:37] alexanderccc commented on #2664
Do we have an eta on when this might become available?

[2021-03-24 17:45] zhonghui12 commented on #2905
Hi @atitan @macropin, I am sorry for the mistake. The doc was updated before the feature is released. I have submitted a PR to revert the docs update: https://github.com/fluent/fluent-bit-docs/pull/497. Also, we will update the docs as soon as `$UUID` is available and I will let you know.

Thanks again for your understanding.

[2021-03-24 20:07] JeffLuoo commented on #3192
@panaji Have you tried with the #3202 ?

[2021-03-24 20:08] JeffLuoo commented on #3014
#3202 Looks like has been merged. Could you please give it a try?

[2021-03-24 22:06] nokute78 commented on #3268
@agup006  #3187 doesn't affect this issue.
The pull request is already opened #3086 .

[2021-03-24 23:12] zhonghui12 commented on #3154
Hello Eduardo, any update on this issue? @edsiper

[2021-03-24 23:45] edsiper commented on #2864
@donbowman actually those are CI fixes :)

all good now, original issue and CI has been fixed.

[2021-03-24 23:45] #2864 closed

[2021-03-25 02:13] nokute78 opened #3278 "[Feature Request] Partial retry of output"
**Is your feature request related to a problem? Please describe.**

https://github.com/fluent/fluent-bit/issues/2935#issuecomment-803491848
To fix the issue, we need to send multiple http requests at flush callback.
In this situation, if some requests are failed to send, we should retry for these failed requests.

e.g.
- http request 1 : 200
- http request 2 : 503
- http request 3 : 200

We should

[2021-03-25 05:23] elruwen commented on #3014
[fluentbit-1938ec84.log.gz](https://github.com/fluent/fluent-bit/files/6202211/fluentbit-1938ec84.log.gz)

The message is gone, the problem persists. After pressing ctrl+c once to initiate shutdown, I restarted netcat. But that still didn't help.

[2021-03-25 06:20] toshipp opened #3279 "Loki: Labels with specifying only key causes invalid memory access"
## Bug Report

**Describe the bug**
Using loki output plugin with key only label causes invalid memory access.
Sometimes, fluentbit is crashed with sigsegv.

**To Reproduce**
Use following configuration and run fluentbit with valgrind.

[code]

Valgrind reports invalid memory reads and writes.

[code]

And Sometimes, fluentbit is died by sigsegv.

**Expected behavior**

No invalid memory access, N

[2021-03-25 07:13] PettitWesley opened #3280 "Fluent Bit mishandles japanese characters"
## Bug Report

Here's my config:

[code]

And my log file:
(*Content Warning: I can't read Japanese so I don't know what this means... I got it from a user who reported this issue*)
[code]

When the format is json, these characters aren't handled properly:

[code]

But when I change the format to `msgpack` we get:

[code]

[2021-03-25 07:14] PettitWesley commented on #3280
I'm pretty sure this function is where the problem is: https://github.com/fluent/fluent-bit/blob/master/src/flb_utils.c#L605

[2021-03-25 10:14] patrick-stephens commented on #3268
Thanks for the quick response!

[2021-03-25 10:15] shirolimit commented on #2661
I can confirm that the problem still persists in 1.7.2.

`flb-pipeline` thread is hanged with stack trace similar to:

[code]

[2021-03-25 10:21] sharkymcdongles commented on #3267
@qingling128 I built a test version using the new URL, but now it never gets a token.

I just changed this as you suggested and built a fresh version:

[code]

Now it never gets a token at all. :(

[code]

I will try to test and see if I can figure out the issue, but so far no luck sadly. :(

[2021-03-25 11:01] pierluigilenoci commented on #3014
@JeffLuoo #3202 is not merged. It has a conflict on the file `src/flb_upstream.c`

[2021-03-25 15:05] sharkymcdongles commented on #3267
[code]

[2021-03-25 16:05] sharkymcdongles commented on #3267
Did even more digging. When you generate the credentials json the URLs are set thusly:

  "client_email": "fluent-bit@mls-sre-playground.iam.gserviceaccount.com",
  "client_id": "116459872538781414060",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",

I su

[2021-03-25 17:40] edsiper commented on #3058
@hsmatulisgoogle

I've pushed a new branch with some enhancements associated to this issue, would you please re-validate them on your side ?

- [fd-fixes](https://github.com/fluent/fluent-bit/tree/fd-fixes)

[2021-03-25 18:55] hsmatulisgoogle commented on #3058
Looks like there is another deadlock (ubuntu-2004)
[code]

[2021-03-25 19:06] edsiper commented on #3058
- did the service stopped sending data?

- which tool are you using to detect races?

- how much time passed after facing this issue?

[2021-03-25 20:06] Oinari opened #3282 "in_syslog: SO_REUSEPORT"
Hello.
Is it possible to use the socket option SO_REUSEPORT to optimize work?

[2021-03-25 20:27] hampsterx commented on #2671
*cough* curse you stale bot, this is a valid/serious issue!
Worst kind of bug, the random one that appears after a long period of time :(

Any thoughts? Can someone supply graph of increasing memory usage at least, make it real, lol

[2021-03-25 20:39] owenthereal commented on #3192
Just run into the issue by streaming logs to LogDNA. There are tons of such errors in the log:

Hope https://github.com/fluent/fluent-bit/pull/3202 can make it to 1.7.3 so that I don't need to drop to 1.7.0.

[2021-03-25 20:55] hsmatulisgoogle commented on #3058
1.Yes, completely
2. I am using eu-stack from elfutils
3. After about 10 minutes it stopped sending data

[2021-03-25 20:55] hsmatulisgoogle commented on #3058
Input plugin is still getting data, however

[2021-03-25 21:03] hsmatulisgoogle commented on #3058
This other machine seems to be stuck somewhere else:

[code]

[2021-03-25 21:17] edsiper commented on #3058
- what's the output of  ```kill -SIGCONT `pidof fluent-bit` ``` for the stucked service ?

- on the stucked service, is there disk space available ?

- any new steps to replicate this problem ?, I have my instances testing for hours processing around 200k records per second

[2021-03-25 21:56] hsmatulisgoogle commented on #3058
1. ```kill -SIGCONT `pidof fluent-bit` ``` no output
2. There is about 2TB used out of 4TB
3. No new steps to replicate it, again happening with the stackdriver output plugin

[2021-03-25 21:59] hsmatulisgoogle commented on #3058
Ah I forgot about checking fluent-bit logs with SIGCONT. It indeed outputs the following:
[code]

[2021-03-25 23:02] fabricev commented on #3192
Hit by this one as well, rolling back to 1.7.0 as per the comments.

[2021-03-25 23:10] elruwen commented on #3014
Something got merged that made the time-out spam go away, see my attached logs.

[2021-03-25 23:12] JeffLuoo commented on #3014
@pierluigilenoci Sorry mb. The code has been merged into master by maintainer https://github.com/fluent/fluent-bit/commit/1938ec845255dd27a1b0ad39e1654b3b351277be

[2021-03-25 23:17] JeffLuoo commented on #3014
I noticed a lot of logs like
[code]

Looks like the connection issue is still not resolved by the merged code..?

[2021-03-25 23:18] lakestonelabs commented on #2861
I too ran into the same issue. I tracked the code back it library for 'strftime' which is here github.com/lestrrat-go/strftime and the firehose plugin looks to be invoking that library and it's support for millisecond/microsecond correctly.

[2021-03-26 00:16] nokute78 commented on #3280
The point is this else case.
https://github.com/fluent/fluent-bit/blob/master/src/flb_utils.c#L710
In this else case, fluent-bit encode UTF8 bytestring to Unicode string.

https://unicode.scarfboy.com/?s=U%2B3042
UTF8 byte string of `あ` is `0xe38182`. Unicode string is `\u3042` in ascii.
Fluent-bit converts `0xe38182` -> `0x5c7533303432` (= `\u3042` in ascii).

We should  print `0xe38182`.

[2021-03-26 00:24] elruwen commented on #3014
I run as a target service netcat for testing. This isn't able to handle all the connections which fluent-bit wants to do. Which is fine.
You see those messages:
[code]
And some point, I get one of those messages, but it is NOT retrying in 803 seconds. While I see those messages I am fine. But the retries are not happening.

To help me, I use this little script to determine after which date all chu

[2021-03-26 00:26] nokute78 commented on #3280
@PettitWesley Could you check if #3284 addresses  your customer issue?
I only tested using out_stdout and didn't test out_s3.

[2021-03-26 00:52] elruwen commented on #3014
Let me try to explain more:
I am currently preparing to move some systems into docker and I want to use fluent-bit as a log shipper.
So I started to do some tests. My performance tests went all well. Then I started to test how things are going when my logging cluster has issues. So I started to play around, initially just via a box in AWS. Since I found issues, I tried to isolate the issue and als

[2021-03-26 01:20] Hichem-BenJeddi commented on #2688
Hello @JeffLuoo do you have any news about this issue
thanks

[2021-03-26 01:22] fujimotos opened #3286 "Migrate Windows CI to GItHub Actions"
Thanks to @niedbalski, our CI has been mostly from Travis to GItHub Actions.

* Except for Windows, which we still use AppVeyor to run tests and build releases.
* To make it easy to manage, we would be better to migrate it to GitHub Actions too.
* This should be possible as [GitHub Actions supports Windows Server 2019 as runner](https://docs.github.com/en/actions/using-github-hosted-runners/about-

[2021-03-26 01:32] JeffLuoo commented on #2688
@Hichem-BenJeddi Did you run into any issue with the latest code on master?

[2021-03-26 02:07] #2676 closed

[2021-03-26 02:07] #2530 closed

[2021-03-26 02:53] edsiper commented on #3103
wip

[2021-03-26 04:12] sharkymcdongles commented on #3267
Did more digging and it seems the error is here:

[code]

The grant_type needs to be refresh_token I believe to work.

[2021-03-26 07:10] sharkymcdongles commented on #3267
Okay further testing it seems issue is the content-type header isn't sent on the token refresh, so the grant_type from the client isn't read by the server.

[2021-03-26 08:24] sharkymcdongles commented on #3267
Okay added some logging now to `src/flb_oauth2.c`

I see the initial request is correct and gets the token:
[code]

However the refresh request has an empty payload from the look of it:
[code]

Seems an easy fix if I can figure out why the refresh request has an empty payload.

[2021-03-26 09:41] gecube commented on #1678
I'm investigating the https://github.com/banzaicloud/logging-operator and it looks like that it does not correctly handle reissuing of fluent-bit certificate.
I wonder whether fluent-bit supports dynamical reload of certificates. Or probably it is good idea to make a special signal handler which will allow hot-reload of configuration and/or fluent-bit.

[2021-03-26 09:46] sharkymcdongles commented on #3267
So I am fairly certain this commit is the culprit and why this is no longer working properly:

https://github.com/fluent/fluent-bit/pull/2977/files

I noticed the method to clear the payload was introduced from this commit, so I downgraded to the version before this commit, and it works properly now.

@hsmatulisgoogle can you pretty please review this and see if you can suss out why this is breaki

[2021-03-26 12:31] slobodangacesa opened #3290 "SIGSEGV on Loki output when using $TAG for labels"
## Bug Report

**Describe the bug**
If I use $TAG in labels for loki output, I get SIGSEGV
I have tried docker and 'native' app, 1.7.2 and 1.7.0. In any case result is the same.
If I replace $TAG with static string or ${env_var} everything works as expected.

**To Reproduce**
- sample config:
[code]
- Steps to reproduce the problem:
fluent-bit -c sample.conf

- Sample output:
[code]

**Expected be

[2021-03-26 13:49] hsmatulisgoogle commented on #3267
Thanks for the investigation! I think the issue is the following:
https://github.com/fluent/fluent-bit/blob/491889b5601f7b353df31a46e0b867ee5464b376/src/flb_oauth2.c#L245
Since payload is an sds_t string it has a header which didn't get updated containing the string length, meaning after the clearing the first byte strings are appended to the end of the buffer rather than the start. It looks like

[2021-03-26 13:54] sharkymcdongles commented on #3267
I have a build env from my testing. I will build and report back shortly. Thanks for the quick fix @hsmatulisgoogle

[2021-03-26 14:10] sharkymcdongles commented on #3267
@hsmatulisgoogle
So I edited the refresh to run in 30 seconds to speed up the testing, and great news! This 1 line fixed the issue completely! I think this issue can be marked solved and hopefully added to a quick 1.7.3 release.  One enhancement I'd suggest is to add the entire payload request sent to the API server to either trace or debug output for easier debugging of such issues in the future.

[2021-03-26 15:54] edsiper commented on #3267
FYI: PR looks good, @hsmatulisgoogle as soon the PR is set as non-draft we are good to go.

[2021-03-26 16:13] patrick-stephens commented on #3097
I've run into this too, it builds fine for 1.6.10 but not 1.7.2

[2021-03-26 16:15] patrick-stephens commented on #3097
Although some plugins still need it, e.g. Loki seems to require it in 1.6.10

[2021-03-26 17:32] edsiper commented on #2933
@JeffLuoo any update on ```fd-fixes``` branch ?, it might address the original issue

[2021-03-26 17:46] IJustWorkHere opened #3292 "Missing OpenSSL DLL On Windows 10"
## Bug Report

**Describe the bug**
After installing fluent-bit via the downloadable installer or executing it via the exe in the zip the application will fail to start with the error message
[code]
To get things working I install OpenSSL from the link on wiki.openssl.org.  It would be great if this was included in the built artifact or if the docs listed this as a dependency somewhere.

**To Repr

[2021-03-26 20:01] zackwine opened #3293 "out_kinesis_streams: Add KPL aggregation support to the kinesis_streams output."
**Is your feature request related to a problem? Please describe.**

Sending smaller records/logs via kinesis PUT records is less efficient than using the KPL (Kinesis Producer Library) format.  The KPL format aggregates up to 1MB of records into a protobuf format only counting as single record to Kinesis thus increasing the throughput per Kinesis shard for smaller records.

**Describe the solution

[2021-03-26 20:19] yongtang commented on #3262
@atefhaloui are you willing to create a PR?

[2021-03-26 20:24] hsmatulisgoogle commented on #3267
I set it as non-draft, should be good to go then!

[2021-03-26 20:52] edsiper commented on #3267
merged, thanks!

FYI: the fix will be part of v1.7.3

[2021-03-26 20:52] #3267 closed

[2021-03-26 21:03] edsiper commented on #3290
The following fixes has been pushed to test branch:

- 77abe9c6 ra: validate parts and fix parser byte range (#3290)
- 634e61c5 tests: internal: ra: new 'translate_tag' test (#3290)

[2021-03-27 00:45] sharkymcdongles commented on #3267
We may need to reopen this or make a new ticket @edsiper @hsmatulisgoogle. In the image I built including only the fix that was created in the PR, it works fine for about an hour then the token starts refreshing, but it just keeps refreshing every second in an endless loop.

[code]

I rebuilt it from scratch and changed only the line above that is in the PR when I tested to ensure none of my testi

[2021-03-27 02:25] #3090 closed

[2021-03-27 02:25] #3076 closed

[2021-03-27 02:56] JeffLuoo commented on #2933
Unfortunately no : ( .. I am still seeing
[code]

[2021-03-27 05:20] nokute78 commented on #2935
`rewrite_tag` filter plugin can serialize by namespace.

I tested this example log. It contains multiple namespace_names.
[code]

rewrite_tag plugin serializes and rewrites tags like `rewrite.` + the value of `namespace_name`.
e.g.
[code]
and
[code]
and
[code]

Then #3260 will set `X-Scope-OrgID` and creates http request.

## Configuration example

[code]

## Pipeline

1. in_tail -> filter_rewrite

[2021-03-27 09:33] sharkymcdongles commented on #3267
I think problem is this method:

[code]

I think when the token is cleared this returns FLB_TRUE. Maybe if we remove this it will solve the issue:

[code]

[2021-03-27 10:27] dbluxo commented on #2935
@nokute78 Do I understand this correctly, by serializing (using `rewrite_tag`) by namespace for each namespace a separate http request is sent?

What would the configuration have to look like if you wanted to use the [kubernetes filter](https://docs.fluentbit.io/manual/pipeline/filters/kubernetes) to set the `tenant_id_key` via the namespace name?

[2021-03-27 12:35] nokute78 commented on #2935
Yes. In this case, 3 http requests are sent.
First request has a header `X-Scope-OrgID:AAA` and it has only records which namespace_name is AAA.
The second is about BBB, the third is about CCC.

(You can check that behavior using current release version. )

The point is

1. Write filter_kubernetes configuration before rewrite_tag to rewrite after appending `namespace_name` field.
2. Rewritten tag

[2021-03-27 16:03] jsjeannotte commented on #3117
Un-stale

[2021-03-28 00:38] alecrajeev commented on #517
Just in case anybody sees this error again I got it for a different reason. I turned on verbose logging (adding --verbose to the start command with `c:\fluent-bit\bin\fluent-bit.exe --verbose`)
Then it showed me this:

[code]

The error was that my clusterrolebinding had the wrong namespace. It has to match the namespace of the pod. Once I set the namespace here to logging it fixed my issue.

[cod

[2021-03-28 02:24] #3048 closed

[2021-03-28 02:24] #3006 closed

[2021-03-28 02:24] #3004 closed

[2021-03-28 02:24] #3000 closed

[2021-03-28 02:24] #2915 closed

[2021-03-28 02:24] #2753 closed

[2021-03-28 05:05] nigels-com commented on #3280
@PettitWesley I am not fluent in Japanese.  But I know enough to recognise these as the five "base vowels" in Japanese - a, e, i, e, o.  Seems entirely appropriate for testing UTF handing of Japanese hiragana (phonetic glyphs) in particular.

[2021-03-28 06:47] nokute78 opened #3295 "When configuration is invalid, fluent-bit exits silently"
## Bug Report

**Describe the bug**

If one of configurations is invalid, Fluent-bit reports only `[error] [lib] backend failed`.
It is difficult to know what the configuration is invalid.

**To Reproduce**
- Rubular link if applicable:None
- Example log message if applicable:None
- Steps to reproduce the problem:
`fluent-bit -i dummy -p "hoge=3" -o stdout`

**Expected behavior**
Fluent-bit report

[2021-03-28 20:08] yukselao commented on #2932
I think this item still needs development, I see application logs without metadata; it means that we cannot see details like pod name, node name or application name. We just see application's log stream. Unfortunately from security operation perspective these logs are useless. If you fix it, I will be happy to test. @edsiper

[2021-03-28 23:40] adam-olema opened #3296 "Add ability to set object suffixes in S3 stored data"
**Is your feature request related to a problem? Please describe.**

Some tools rely on certain suffixes added to object stored in S3.  For example, AWS Athena requires that gzip compressed json files in S3 end with `.json.gz` suffix and will refuse to parse them correctly otherwise.  Currently, the S3 output, especially when using put_object has no suffixes of any kind added.   There does not appe

[2021-03-28 23:58] PettitWesley commented on #3280
@nigels-com Thanks and cool!

[2021-03-29 00:06] PettitWesley commented on #3280
@nokute78 It works, thanks!

[2021-03-29 02:28] #2528 closed

[2021-03-29 02:28] #2518 closed

[2021-03-29 02:28] #2517 closed

[2021-03-29 02:28] #2515 closed

[2021-03-29 12:35] rifftual commented on #3292
Duplicate of #3186

[2021-03-29 12:35] rifftual commented on #3186
What's the status of this?

[2021-03-29 12:49] DrackThor commented on #18
Can you give an update on the docs @agup006 ? Is the input ready to be used (in 1.7.x)?
Thanks in advance :)

[2021-03-29 13:43] agup006 commented on #18
Docs were published here  https://docs.fluentbit.io/manual/pipeline/inputs/http @DrackThor

[2021-03-29 14:00] t0nik0 commented on #1316
Is there any news? Lua script is not worked for me.
I use fluent/fluent-bit:1.7.
Fluent-bit sends logs to logstash/gelf for some fields modifications.
My ConfigMap fluent-bit:
[code]

[2021-03-29 14:11] staniondaniel opened #3299 "Kubernetes logs not sent/possible memory leak"
## Bug Report

**Describe the bug**
We have fluentbit daemon set deployed in our EKS environment. On some nodes with PODs that generate a lot of logs in a short interval we noticed that Fluentbit stops sending logs to ES cluster or forward them to our fluentd pod(which in turn send those logs to S3),  while it starts using more and more memory( in orders of GB or tens of GB) until the process is k

[2021-03-29 15:36] DrackThor commented on #18
sorry, my bad - thanks for the hint!

[2021-03-29 15:37] agup006 commented on #18
No apologies needed @DrackThor :) glad I could help - let us know your feedback

[2021-03-29 16:30] patrick-stephens opened #3300 "Add Couchbase logo for in-production usage"
![CB logo H_R_B_B_W](https://user-images.githubusercontent.com/6388272/112868778-589b0700-90b4-11eb-8bbb-a0da48d33664.png)

Please can you add the attached logo to the in-production usage of Couchbase.
Feel free to link to the repo we're using to keep the customisation in: https://github.com/couchbase/couchbase-operator-logging.

@agup006 I know you asked for SVG but I got given a PNG plus Github

[2021-03-29 16:53] david-yu commented on #2814
Agreed this is still valid and looks like it is required if you are building managed applications that also need to have logging enabled without manually updating credentials when they are expired.

[2021-03-29 17:15] NeckBeardPrince commented on #3296
Agreed. Currently, all the logs get uploaded to S3 with a `-objectRandonID` which means files are named without a valid file extension. Confusing decision to force a random suffix that would break some automated jobs that would scrap that data based on file type.

[2021-03-29 20:57] payam54 commented on #385
Hi, any update for this?
Having this feature would be useful in many cases. For example, we have a Jetty server that runs multiple WARs from other parties. Some support ISO8601 e.g:
[code]

And some others including Jetty itself have a slightly differnt timestamp (notice that there is a dot `.` instead of comma `,` for milliseconds:
[code]

[2021-03-29 21:12] staniondaniel commented on #3299
A small update here. After enabling DEBUG logs i noticed these logs:

[code]

Can this be caused by Fluentbit not being able to fit all the reply in some buffer or not being able to parse the whole response ?

[2021-03-29 22:02] konradasb opened #3301 "Output ES fails to flush chunk with status 0"
## Bug Report

**Describe the bug**
Constantly (but not always) fails to flush chunks with `HTTP status=0` from ES in Kubernetes. Debug/Trace logs don't show anything specific, even with `Trace_Error On`

[code]

**Your Environment**
* Version used: 1.7.0 and 1.7.1
* Configuration:
Tried to remove everything and leave only `in_tail` and `out_es`. Results are the same.
[code]

[2021-03-29 23:02] #3280 closed

[2021-03-30 00:59] nokute78 commented on #3301
Would you testing `Log_Level     trace` to enable debug/trace log?

[2021-03-30 02:29] davidnewhall commented on #2513
rip.

[2021-03-30 06:37] fujimotos commented on #3186
@rifftual  Fixed in master HEAD. Should be resolved in v1.7.3.
The exact date for the release is not yet determined.

[2021-03-30 07:02] konradasb commented on #3301
This is all I see with `trace` mode and `Trace_Error On`
[code]

[2021-03-30 07:10] konradasb commented on #3301
I think it should show some more verbose output here
[code]
It's hard to understand what's happening behind the scenes as some of the logs are being sent and delivered with 200 status,
but some of them fail like this. This happens at least 40 times in 5 minutes, with around 200-400 log entries being sent to ES successfully

[2021-03-30 09:06] nokute78 commented on #2898
Could you check #2914 ?
The patch #2882 is released from v1.7.0.

[2021-03-30 09:33] stevehipwell commented on #3082
I'm still interested in a full definition of this behaviour.

[2021-03-30 09:43] sanicheev commented on #2830
Can we reopen this one? I feel like we are having the same one.
Having lots of errors like these:
[code]
78 is not a socket FD but a logfile FD.
Happy to provide more details if required.

[2021-03-30 09:54] wtchangdm commented on #2898
@nokute78 I've tried with 1.7.2, it works. Thanks for the head's up.

[2021-03-30 09:54] #2898 closed

[2021-03-30 10:02] cboothe commented on #3112
Still an issue with log_level debug on version 1.7.2

[2021-03-30 10:43] fujimotos commented on #3292
Thank you for the report. This is fixed in #3193. Please wait for
the next release...

[2021-03-30 10:43] #3292 closed

[2021-03-30 11:04] staniondaniel commented on #3299
After I went through a tons of  debug logs i managed to find this error :
[code]

It seems that there is a hard limit on ES in AWS. The issue seems similar to  one in Fluentd  [here](https://github.com/uken/fluent-plugin-elasticsearch/issues/588)
Is there a way to configure a limit to the bulk message size?  I checked the documentation and i can't see anything related to this ( https://docs.fluent

[2021-03-30 11:07] staniondaniel commented on #3301
This seems similar to the problem that i am having here: https://github.com/fluent/fluent-bit/issues/3299

I seem to hit the max  request size configured in AWS for ES installation.  Can you enable this option in ElasticSearch output plugin and see if you see the same error?
[code]

[2021-03-30 11:12] konradasb commented on #3301
Enabling `Buffer_Size False` solved the issues (monitored with `kubetail` for at least 30-40 minutes - not sure if long term), but memory usage jumped from 1G~ to 70-80G.

[2021-03-30 13:50] svk-28 opened #3302 "Memory leak"
## Bug Report

**Describe the bug**
Memory leaks are observed when using tail input and regexp parser

**To Reproduce**
td-agent-bit.conf
[code]
oomkiller
[code]

and a lots messages like this:

[code]
**Your Environment**

* Version used: 1.7.2
* Configuration: see above
* Environment name and version (e.g. Kubernetes? What version?): system daemon
* Server type and version: hyper-v virtual machi

[2021-03-30 14:30] giovanni-ferrari commented on #3088
Hello everyone,
same problem here.
I have prepared the configuration file you can see here below.
When the connection to elasticsearch is lost then the STDOUT plugin keeps working and showing logs, but the loki one stops forwarding logs to loki.

`[SERVICE]
    # Flush
    # =====
    # Set an interval of seconds before to flush records to a destination
    Flush 5

    Daemon Off

    Log_Level i

[2021-03-30 15:18] adinaclaudia commented on #2839
hi, any updates on this? it is still a relevant issue from my point of view

[2021-03-30 15:54] cocheok opened #3303 "id_key ElasticSearch Support"
**Is your feature request related to a problem? Please describe.**
I need to set up my keys as the _id keys on ElasticSearch and I can't do it with this agent. FluentD supports it https://github.com/uken/fluent-plugin-elasticsearch#id_key

**Describe the solution you'd like**
I would like to add the same solution as fluentD offers at https://github.com/uken/fluent-plugin-elasticsearch#id_key

**De

[2021-03-30 20:48] andreabolandrina opened #3305 "no output when installed on Windows core"
## Bug Report

**Describe the bug**
I'm not sure whether this is a bug or either the docs or myself are missing something.

I installed fluent-bit on a Windows core K8s worker node and I get no output from the following command: "C:\fluent-bit\bin\fluent-bit.exe -i dummy -o stdout"

Furthermore after creating a service (with svc.exe) and try to run it I get:
% sc.exe start fluent-bit
[SC] StartSer

[2021-03-31 02:24] #3119 closed

[2021-03-31 02:24] #2931 closed

[2021-03-31 06:18] rifftual opened #3307 "Windows: Proxy doesn't work"
## Bug Report

**Describe the bug**
Using a proxy on Windows does not work.

We're using ElasticSearch output but the error can be produced with HTTP output as well.

**To Reproduce**
Run FluentBit:
[code]

**Expected behavior**
FluentBit would work with proxies. Running the command without setting up **HTTP_PROXY**:
[code]

The error is expected since there' no service to received the messages.

[2021-03-31 08:09] fpytloun opened #3308 "Fluentbit 1.7.2 doesn't recover after forward upstream downtime"
## Bug Report

**Describe the bug**
Using Fluentbit forwarding into Fluentd upstream is working fine but when I restart upstream Fluentd, I will start getting following errors that are fine:
[code]
and then when upstream goes up it will start spamming console forever with connection timed out errors:
[code]

It basically spams log with 12 messages every second from every affected Fluentbit (there

[2021-03-31 08:11] patrick-stephens commented on #3300
![CB logo Red with Black](https://user-images.githubusercontent.com/6388272/113112363-01ef1380-9201-11eb-8746-757c74cf5440.png)
![CB logo Red with White Stacked](https://user-images.githubusercontent.com/6388272/113112366-0287aa00-9201-11eb-9298-f1b6d3332be8.png)
![CB logo Red with White](https://user-images.githubusercontent.com/6388272/113112372-03204080-9201-11eb-9381-224af0995e32.png)

Some ad

[2021-03-31 10:25] fujimotos commented on #2738
Fluent Bit v1.7 was released last month.

https://fluentbit.io/announcements/v1.7.0/

The major Windows-related topics were:

1. New filesystem chunk support (presitent log buffer in disk)
2. Port `out_s3` to Windows
3. Port `filter_geoip2` to Windows

Overall, "filesystem chunk support" was landed as planned, and
I observe some users already make use of the feature.

Some additional notes:

* The

[2021-03-31 10:35] fujimotos commented on #3305
There is  an outstanding bug of requiring OpenSSL DLLs in v1.7.x series.
This is fixed in HEAD by #3193, but the fix is not yet included in the official release.

v1.6 series is not affected, so please use v1.6 for now.

[2021-03-31 13:54] data-dude commented on #2699
Is there a configuration value to set the flag: FLB_OUTPUT_NO_MULTIPLEX?

[2021-03-31 13:57] stevehipwell commented on #3290
@edsiper any idea when this will be released?

[2021-03-31 16:04] michaltrmac commented on #593
A small modification of the @fabricev solution for correct daylight saving time processing

[code]

[2021-03-31 20:35] zhonghui12 commented on #3296
Hi @adam-olema @NeckBeardPrince, we have merged the code to support key suffix and the feature will be available in next release. After it is released, we will update the official doc for more guidance.

Thanks for the suggestion.

[2021-03-31 20:55] adam-olema commented on #3296
Thank you for addressing so quickly!

[2021-03-31 21:05] adam-olema commented on #3296
Could you point to the merged code?  I may want to build early and use it, depending on when you think the next release will be.

[2021-03-31 22:18] jim-minter opened #3311 "in_tail or event loop batching"
**Is your feature request related to a problem? Please describe.**
We're using fluent-bit to read log lines from multiple files using in_tail, as well as from the systemd journal.  `DB` is configured.  `storage.path` is not.

Previously we were using fluent-bit 1.3, which had non-ideal defaults for DB locking + syncing, and this was causing us a lot of write IOPS / fsyncs; moving to 1.6 has improv

[2021-03-31 22:59] nokute78 commented on #3308
This is similar to #3192, the patch will be released from v1.7.3(not released yet)

[2021-03-31 23:01] nokute78 commented on #2950
The patch https://github.com/fluent/fluent-bit/commit/1938ec845255dd27a1b0ad39e1654b3b351277be will be merged from v1.7.3 (not released yet.)

[2021-03-31 23:06] nokute78 commented on #3302
The patch https://github.com/fluent/fluent-bit/commit/1938ec845255dd27a1b0ad39e1654b3b351277be will be merged from v1.7.3 (not released yet.)

Similar to #3192

[2021-03-31 23:29] ronaldmiranda opened #3312 "kubernetes fields such as container_image and container_hash when digest are used as tags"
## Bug Report

**Describe the bug**

all the collected logs are going to kafka with wrong fields as the screenshot below

**Expected behavior**
container_image should contain the registry/repository format instead digest
container_hash  as suggested by the name, it shoud come with container_hash information, but we are getting the entire container image + digest instead.

here is the fluentbit std

[2021-04-01 01:02] Steffan-Ennis commented on #2356
I'm having the same issues, I have fluent containerised and have told it to watch a file in a volume I've mounted to the container.

When I update the file in my container it reports
When my host updates the file it does not report

OSX Docker Desktop 3.2.2.