[2021-07-28 01:32] ai-denlim commented on #3431
I require the same requirement with the S3 output plugin. Any plans on supporting what fluentd supports with [time](https://docs.fluentd.org/configuration/buffer-section#time) and timekey parameters?

@gfrankliu btw, did you get to solve this problem? If yes, then how did you do it?

[2021-07-28 02:53] Dhirajdgandhi opened #3871 "Handling Exceptions in LUA Plugin"
Do we have a way to handle exceptions in Lua plugin when using with Fluent bit. In general, Lua scripts can handle exceptions with `pcall` and `xpcall` functions. However, since in fluent bit, we use a `.conf` file to specify functions that we want to call, I'm not sure how to handle exception in Lua script using the `pcall` and `xpcall` functions. I tried using the `protected` mode in Lua script,

[2021-07-28 03:07] jngbng opened #3872 "New docker multiline parser does not parse correctly"
## Bug Report

**Describe the bug**

New docker multiline.parser parses docker output correctly only when all lines are of JSON format.
Otherwise, docker output is not parsed: `time`, `stream` property is unset and `log` property remains a raw docker output line.

**To Reproduce**

`fluent-bit.conf`:
[code]

`/test/json-out.log`:
[code]

`/test/line-out.log`:
[code]

`/test/mixed-out.log`:
[code]

[2021-07-28 03:17] DandyDeveloper opened #3873 "[Tail] Ignore_Older not working on 1.7.X and 1.8.X"
## Bug Report

**Describe the bug**
`Ignore_Older` as a parameter is not working at all in verions 1.7.X or 1.8.X.

I have a very simple fluentbit config that I'm mounting a log into, echoing a newline into that file with a `time` of older then the configured time results in that content being processed as normal. But it should not.

Do the exact same steps / logic through 1.6.10, it works perfect

[2021-07-28 05:22] edsiper commented on #3872
would you please try out the following test image ?

[code]

[2021-07-28 05:23] edsiper commented on #3870
would you please try out the following new test image ?

[code]

[2021-07-28 05:45] jngbng commented on #3872
@edsiper with the test image, `time` is taken correctly, but `log` still remains unparsed.

[code]

[code]

`kube.test.line-out.log` and `kube.test.mixed-out.log`'s log are still raw docker output.

[2021-07-28 07:10] EasonHe commented on #3864
when i use  this config
multiline.parser cri
cant not send log to graylog  gelf
only use  multiline.parser  docker   or other [MULTILINE_PARSER] can receive log  ，but my kubernetes use containerd

[2021-07-28 08:42] mierzej91 opened #3875 "Loki output plugin - remove labels from Loki fields still doesn't work"
Hi, is this feature released in version 1.7? I tried 1.7.7, it seems the `remove_keys` doesn't work.

fluent-bit version:

[code]

My fluent-bit loki plugin config:

[code]

Other configurations:

[code]

What I get:

`kubernetes` key and value are still in the log body.

![image](https://user-images.githubusercontent.com/1284531/120354076-c1ad2e00-c334-11eb-986c-d5a3c3a7cf63.png)

What I expect:

[2021-07-28 08:45] Kilz78 commented on #1305
@true64gurus  Thanks for that.

But it will be very cool if natively we can enable one filter to replace_dots as it's done with ES plugin.
I do not know how fluent-bit works, but if the work is done on ES plugin, maybe we can take this code to adapt it for kafka plugin ?

@edsiper  any advice on it ?

[2021-07-28 10:55] justknife opened #3876 "HTTP status=400 Not retrying. has timestamp too new: 2021-07-28 16:35:00.551992233 +0300 MSK"
Good afternoon.
An error of the following nature has occurred
My surrounding:
containerd
fluent bit
loki.
Log fluent bit:
[2021/07/28 13:36:00] [error] [output: loki: loki.0] loki-distributed-gateway: 80, HTTP status = 400 Not retrying. │
│ entry for stream '{app_kubernetes_io_instance = "fluent-bit", app_kubernetes_io_name = "fluent-bit", controller_revision_hash = "568885cb56", pod_template_gene

[2021-07-28 11:13] ramilmsh opened #3877 "SIGSEGV in_tail"
## Bug Report

**Describe the bug**
I get a SIGSEGV (and sometimes ```free(): invalid pointer```), when using tail input plugin with a db file (works fine without it) and appending numbers to the input file

Specifically, I get this error:
[code]

**To Reproduce**
Launch Fluent Bit and spam
[code]

(Crashes after 2 lines, pretty consistently)

**Expected behavior**
Fluent Bit sends data normally

[2021-07-28 11:40] ramilmsh opened #3878 "out_http not re-flushing data after restart"
## Bug Report

**Describe the bug**
I am using http output plugin and tail input. I am trying to simulate various crash conditions and there is one, which fluent bit cannot recover from properly. If the server is unreachable after tail has ingested the data and then fluent bit crashes, the data that failed to flush to server is lost.

**To Reproduce**

1. Launch fluent bit
2. Add data to the input

[2021-07-28 14:14] ericmillin opened #3879 "fips compliance"
@agup006 inidcates that FIPS compliance may be in the works (https://github.com/fluent/fluent-bit/issues/1453#issuecomment-781742395). Are you planning on supporting FIPS and if so, what is the relative priority of the work?

[2021-07-28 14:23] ramilmsh commented on #3878
Just realized that storage.type filesystem, should do the trick

[2021-07-28 14:23] #3878 closed

[2021-07-28 17:23] gchamon commented on #3389
@asherf did you manage to solve this?

[2021-07-28 18:29] asherf commented on #3389
no.. but I closed the issue since I failed to get any feedback.

[2021-07-28 18:53] ingshtrom commented on #1475
I know this is old, but @PettitWesley do you have any information on how exactly you achieve that throughput? I'm trying to send a measly 2000 records per second at 1MiB/s and hitting a lot of `mem buf overlimit` warnings, even with 8 workers. You were able to achieve this pre-worker support, right?

[2021-07-28 18:59] PettitWesley commented on #1475
@ingshtrom if you are getting mem buf overlimit errors, increase the value for that setting. Its one of the main config options which can impact throughput.

The tests that I ran are similar to what is discussed at the end of this blog: https://aws.amazon.com/blogs/containers/under-the-hood-firelens-for-amazon-ecs-tasks/

I've forgotten a lot of the details of how I ran those tests unfortunately.

[2021-07-28 19:15] ingshtrom commented on #1475
@PettitWesley Ok, I'm trying that now. I hadn't really tried this in the past because I though the memory buffer was just a temporary place to hold processed records. So the way I understood it, say I have an input, some filters, and then some outputs... The records come in, get processed by all filters it matches, and then is put in a memory buffer for each output. Then each output will process t

[2021-07-28 21:20] tjjkj opened #3882 "Fluentbit Docker Input plugin not working"
FluentBit -> Input plugin for docker metrics not working, not sure what I'm missing here. Also referred the documentation but did not succeed. https://docs.fluentbit.io/manual/pipeline/inputs/docker-metrics

**To Reproduce**
- Below config file created with name "docker-config.conf"

[code]

- Run the fluentbit as docker image using the command:
docker run --rm -v /var/run/docker.sock:/var/run/doc

[2021-07-28 21:51] rsumukha commented on #3870
Tried out the new image, seeing the same result as before.

**Config used:**
[code]

**Log Content:**
[code]

**Output:**
[code]

[2021-07-28 22:01] rittneje commented on #3846
cc @niedbalski

[2021-07-28 22:02] rittneje commented on #3845
cc @niedbalski

[2021-07-28 23:55] StephenLeeY opened #3883 "[Tail] File rotation causing data shuffle"
## Bug Report

**Describe the bug**

Very rarely, when rotating an input file, the tail input plugin scatters the last bit of data of the rotated file (a couple hundred lines) with the beginning of the next file.

For example, if we have file 1 with 1000 lines and file 2 with 1000 lines, the data might look like this:
[code]

**To Reproduce**
- Steps to reproduce the problem: When encountering thi

[2021-07-29 00:03] gfrankliu commented on #3431
Unfortunately there is no comment here, and it seems fluent-bit community is not very active. I also tried fluent-bit mailing list, and got zero replies.
At this point, I am looking at alternatives such as [vector](https://github.com/timberio/vector/).

[2021-07-29 00:52] PettitWesley commented on #3883
@StephenLeeY An example using the file output might be interesting. The upstream maintainers can easily repro with that. And the file output should be the simplest test case. You read a file, and output the results to another file, and then check if the ordering is broken in the output file.

Just a suggestion if this makes sense.

[2021-07-29 01:48] #3675 closed

[2021-07-29 03:16] Binyang2014 opened #3884 "Does fluent-bit service support --log-rotate-size BYTES like fluentd"
Now we run fluent-bit as a windows service to collects other services log.
We want to make sure the fluent-bit service works as expect. Due to we can not collect stdout/stderr for windows service, we log the fluent-bit output into file.
The config is:
[code]
But we found fluent-bit seems not support log rotation. We want fluent-bit has the feature `--log-rotate-size` just as fluentd https://docs.f

[2021-07-29 03:24] agup006 commented on #3879
hey @ericmillin we have changed to OpenSSL however do not have supporting FIPS on the roadmap for near term / mid term (6 month). Priority is quite low as we haven't had many users ask for it to be honest

If you are interested in contributing and submitting a PR we would gladly welcome it

[2021-07-29 05:40] Ubereil commented on #2692
Time for the monthly bump.

[2021-07-29 08:07] tuannh99 opened #3885 "[out_loki][net] TCP connection failed: hostname:80 (Connection refused)"
## Bug Report

**Describe the bug**
Failed to push to Loki when Host is set as a hostname, while succeeded to push if Host is set as IP address, resolved by that very hostname.

**To Reproduce**

Start server
[code]

Config file
[code]

Successful Log when configured Loki plugin _with Host as IP address_
[code]

Failed Log when configured Loki plugin _with Host as Hostname_ (changed name due to pr

[2021-07-29 08:59] nixon89 commented on #3857
I found problem.
In fluentbit log I see:
[ warn] [http_client] cannot increase buffer: current=32000 requested=64768 max=32000

I increase Buffer_Size to 1MB in kubernetes filter (default is 32KB), and metadata from kubernetes began to be added to the logs as expected

https://docs.fluentbit.io/manual/pipeline/filters/kubernetes#configuration-parameters

[2021-07-29 08:59] #3857 closed

[2021-07-29 09:58] stevehipwell opened #3886 "Docker multiline parser errors"
## Bug Report

**Describe the bug**
When using the docker multiline parser we get a lot of errors in the following format.

[code]

**To Reproduce**
Our fluent-bit config which is running via the official Helm chart on an EKS cluster.

[code]

**Expected behavior**

**Screenshots**

**Your Environment**

* Version used: v1.8.2
* Configuration: See above
* Environment name and version (e.g. Kuberne

[2021-07-29 11:59] qudongfang opened #3887 "[Feature] Support Splunk HEC Indexer Acknowledgment"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when the logs are lost when something unusual happens.

It would be great if the [Splunk output ](https://docs.fluentbit.io/manual/pipeline/outputs/splunk)could support indexer acks as defined [here](https://docs.splunk.com/Documentation/Splunk/latest/Data/AboutHECIDXAck). We like to enable it by default in o

[2021-07-29 14:33] ericmillin commented on #3879
@agup006 Thanks for the update. I'll talk to my team and check on the feasibility of a PR. I'll let you know once we reach a decision.

[2021-07-29 14:43] yuranos opened #3889 "rewrite_tag doesn't do anything"
## Bug Report

I'm trying to modify the tag before pushing the logs to S3.
I'm using ~~`amazon/aws-for-fluent-bit:2.17.0`~~ `fluent/fluent-bit:1.8.2`
My config is as follows:
[code]
I also need a `kubernetes` filter, but I noticed it didn't work with it, when I have 2 filters, so decided to create a basic example with `rewrite_tag` only.

As a result of the config above, I would expect for s3 outp

[2021-07-29 14:56] ramilmsh commented on #1746
@edsiper I was wondering, in order to avoid breaking changes or compromises in performance, maybe it would be a good idea to add sequence numbers to chunks of data in certain plugins, where it makes sense. For instance, tail plugin reads data sequentially, so why not attach a sequence number to each line (i think? maybe chunk, but probably line), so that the order can be restored on the receiving

[2021-07-29 16:22] DonAndrey commented on #2676
Just in case if somebody is dealing with this on AWS. Instead of "/var/lib/docker/containers" it's pointing to "/data/var/lib/docker/containers" so configuration looks like:

daemonSetVolumes:
  - name: varlog
    hostPath:
      path: /var/log
      type: ""
  - name: varlibdockercontainers
    hostPath:
      path: /data/var/lib/docker/containers
      type: ""
  - name: etcmachineid
    hostPat

[2021-07-29 18:09] treythomas123 opened #3890 "DNS queries force TCP instead of trying UDP first"
## Bug Report

**Describe the bug**
Fluent Bit forces DNS queries to use TCP, rather than the typical behavior of trying UDP first and only falling back to TCP when a truncated response is received. We have an environment where UDP traffic is allowed on port 53, but TCP on this port is blocked by a firewall. Lots of other DNS-reliant services run successfully in this environment, because the DNS q

[2021-07-30 00:14] lizhuqi commented on #2027
Hi, I am still seeing the error mentioned in [#issuecomment-603576125](https://github.com/fluent/fluent-bit/issues/2027#issuecomment-603576125) for fluentbit 1.7.7

Will the fix in [fluentd#3340](Fluentd keeps Windows k8s pods from shutting down fluent/fluentd#3340) also apply to fluent-bit next release?

[2021-07-30 00:22] fujimotos commented on #2027
@lizhuqi Fluent Bit  already had that issue fixed in v1.5.

If you can reproduce the same issue in Flunet Bit v1.7.7, then it must be another bug.
Post a new bug report with your configuration and log files.

[2021-07-30 00:24] djsly commented on #2027
Corrrct we are still seeing also with a recent fluent bit version.

It’s less often but there must be a new edge case that triggers it.

A restart of fluentbit fixes the pods stuck in terminating.

[2021-07-30 00:56] fujimotos commented on #2664
This issue should be fixed by now, considering v1.8 has been released.

Reopen this issue if you can reproduce the same issue in newer releases.

[2021-07-30 00:56] #2664 closed

[2021-07-30 01:59] gchamon commented on #3389
@asherf take a look at this issue comment: https://github.com/fluent/fluent-bit/issues/1942#issuecomment-727109055

[2021-07-30 02:00] yasn77 commented on #2998
remove stale

[2021-07-30 02:22] panaji opened #3891 "Fluentbit doesn't delete stale "up" chunks"
## Bug Report

**Describe the bug**
This happens during a fresh install when fluentbit and its forward destination are deployed in parallel, and when fluentbit is running before its destination. I noticed the "up" chunks remains high after the destination is up. If it doesn't hit the max_chunks_up, the incoming logs are still processed/uploaded to remaining space of the "up" chunks. However, if it

[2021-07-30 04:40] ujjwalgarg1995 commented on #2688
@JeffLuoo  is this issue fixed in latest version of fluent bit?

[2021-07-30 04:56] asherf commented on #3389
@gchamon the issue for me was not the AWS IAM permissions issue... I figured that out.
the problem for me that fluentbit metrics scraped by prometheus didn't show any errors, so I am not able to alert on this condition (or similar condition) when it happens from the fluentbit side.
which is unfortunate.

[2021-07-30 05:35] lizhuqi opened #3892 "RemoveContainer failure caused by container log file access is denied"
## Bug Report

**Describe the bug**
See the error message:
RemoveContainer "[ID]" from runtime service failed: rpc error: code = Unknown desc = failed to remove container "[ID]": Error response from daemon: unable to remove filesystem for [ID]: CreateFile C:\ProgramData\docker\containers[ID][ID]-json.log.4: Access is denied.

**To Reproduce**
- Rubular link if applicable:
- Example log message if

[2021-07-30 05:36] lizhuqi commented on #2027
I opened #3892  to track the edge case which triggers the error mentioned in #issuecomment-603576125

[2021-07-30 05:42] agup006 commented on #3866
Hi @debu99 - could you try with latest?

[2021-07-30 05:45] agup006 commented on #3699
Thanks for the write up @pranavmarla , we need more time to review this

[2021-07-30 07:48] wenerme commented on #2464
Close now, nothing can do here

[2021-07-30 07:48] #2464 closed

[2021-07-30 07:49] #1940 closed

[2021-07-30 09:40] jianglei-els opened #3893 "Windows edition AWS instance profile/IAM role support"
**Is your feature request related to a problem? Please describe.**
Current Windows version fluent bit can't pick aws credential from attached IAM role.

**Describe the solution you'd like**
Please add this, as current it only fetch aws credential from HOME path .aws folder

[2021-07-30 13:24] hafkaM commented on #574
Hi. Some news? I can easily test some beta versions.

[2021-07-30 13:50] djsly commented on #3892
we are seeing this also from time to time, currently we are running version: fluentbit_image_tag = "1.6.10"

[2021-07-30 13:53] JeffLuoo commented on #2688
@ujjwalgarg1995 It is fixed but it still doesn't work well with the `rewrite_tag` plugin. Please see https://github.com/fluent/fluent-bit/issues/3468. If you pipeline doesn't use the `rewrite_tag` plugin then it is fine.

[2021-07-30 15:19] ingshtrom opened #3894 "SIGSEGV in mk_event v1.8.2"
## Bug Report

**Describe the bug**
I started a local test of Fluent Bit and went away for 10 minutes. I came back and it had crashed. I can reproduce this consistently with all of the data from https://github.com/ingshtrom/fluent-bit-kinesis-test. Follow the directions and run for ~5 minutes to see the crash. You will need an AWS Kinesis firehose set up, but the schema and such doesn't matter. Yo

[2021-07-30 15:30] ericmillin commented on #3879
@agup006 We will submit a PR in the next couple months. Thanks.

[2021-07-30 15:30] #3879 closed

[2021-07-30 17:20] gchamon commented on #3389
Same here

[2021-08-01 00:24] nokute78 commented on #3889
Hmm, I think your configuration is correct.

I also tested your simple configuration and it worked on v1.8.2.
I used a tag which comes from your below log.

`[2021/07/29 14:31:46] [ info] [output:s3:s3.0] Successfully uploaded object /kube.var.log.containers.model-catalog-67474f868-26vjc_nsps_model-catalog-0f824e9fe25523f66d17883a7b96f58173a2d1392219107f13d315a2b2cb6da6.log/2021-07-29-14-31-15-oDn

[2021-08-01 01:51] #3693 closed

[2021-08-01 01:51] #3692 closed

[2021-08-01 01:51] #3691 closed

[2021-08-01 01:51] #3661 closed

[2021-08-01 01:51] #3658 closed

[2021-08-01 03:45] nokute78 commented on #3875
I sent a patch #3896.

Note: simple configuration.

[code]

[2021-08-01 04:02] nokute78 opened #3897 "leak of `struct flb_dns_lookup_contex`"
## Bug Report

Current master causes memory leak.
Old commit https://github.com/fluent/fluent-bit/commit/ef5fb2c677b0321cd9e243cd7a2786cd4688c249 doesn't cause leak.

**Describe the bug**

[code]

**To Reproduce**
- Rubular link if applicable: None
- Example log message if applicable: None

- Steps to reproduce the problem:
`valgrind --leak-check=full fluent-bit -i cpu -o loki`

**Expected behavio

[2021-08-01 20:42] nnsense commented on #3246
Hi there, I would ask a bit of priority for this if possible, the default fluent-bit image has only the `cloudwatch_logs` plugin and, in my case, redeploy the `aws-for-fluent-bit` just to get the old plugin would be a pain. Templating is the only way I've found to dynamically set cloudwatch logs names. Or.. are there alteratives to get the logs names set dynamically?

[2021-08-02 01:14] nokute78 commented on #3727
Thank you for pointing it.
I sent a patch #3898

[2021-08-02 08:43] katsok9 commented on #2692
Anything new on this issue?
I'm still having this in 1.8 on AKS

[code]

[2021-08-02 14:07] pierluigilenoci commented on #3554
@edsiper could you please take a look?

[2021-08-02 16:42] panaji commented on #3891
i can't seem to reproduce this ... when i killed the destination temporarily, the "down" chunks grew pretty rapidly, but the "up" chunks stay low ... is this expected?
and when the destination is healthy again, fluentbit recovered ... the "down" chunks drop, albeit very slowly, probably because they are all "retry" chunks.
I will update this thread again if I can repro (edited)

[2021-08-02 17:04] ingshtrom opened #3900 ""cannot increase buffer" Kinesis Firehose output"
## Bug Report

**Describe the bug**
I get a lot of log messages stating that the http client cannot increase the buffer size. I've only started seeing this in version `1.8.2` (and I presume all `1.8.x`) since I believe #3339 was introduced in one of the releases `1.8.(0|1|2)`. I'm concerned that this is causing issues, although as far as I can tell logs are being sent correctly. In my tests we are

[2021-08-02 17:27] tonychoe commented on #3872
I've tested using fluent/fluent-bit:1.8.3. It fixed the same issue I had with 1.8.2.

[2021-08-02 17:35] ingshtrom commented on #3900
To get to a working solution quicker, I opted to hard-code a value of `36864` for the `http_client` buffer size...I need more I guess 🙄
[code]

I guess I'll just make the change to support configuring this so I can iterate quicker.

[2021-08-02 17:37] PettitWesley commented on #3900
@edsiper

[2021-08-02 17:41] tonychoe commented on #3870
I've tested using fluent/fluent-bit:1.8.3. It fixed the same issue I had with 1.8.2.

[2021-08-02 18:03] jkschulz commented on #3646
Confirmed that https://github.com/fluent/fluent-bit/pull/3836 fixed this issue.

[2021-08-02 19:46] rsumukha commented on #3870
Seems like the issue has been fixed in 1.8.3. Thank you, will wait for the official release.

[code]

[2021-08-02 22:39] #3727 closed

[2021-08-02 23:10] agup006 commented on #3891
Thanks for trying to reproduce with latest @panaji , I'm going to close for now since this is on an old version. Can you re-open if you can repro with 1.8.2+?

[2021-08-02 23:10] #3891 closed

[2021-08-02 23:13] agup006 commented on #3887
This is a nice feature @qudongfang , is this something you are looking to contribute? Happy to look at a PR

[2021-08-02 23:14] agup006 commented on #3870
Great to hear! I'll close this issue out

[2021-08-02 23:14] #3870 closed

[2021-08-02 23:16] agup006 commented on #3886
Hey @stevehipwell thanks for reporting, there were quite a few issues with 1.8.2 and we did fix a few in 1.8.3. Would you be able to retry with that version?

[2021-08-03 04:55] nokute78 commented on #3900
#3339 is to enrich log. It means the issue becomes obvious by the patch.  I think it is not a root cause.

By the way,  I wonder about below codes.
https://github.com/fluent/fluent-bit/blob/2754cd86d137530009b49894ff6359fa6b05cb4e/src/flb_http_client.c#L824-L833

In this case, the values are below.
I think we need to increase `resp.data_size_max` first and it should be grater than `new_size`. Hmm.

[2021-08-03 05:32] PettitWesley commented on #3900
@nokute78 Yeah I agree this code logic looks incorrect.

[2021-08-03 07:50] SammyA commented on #3818
To me this looks very similar to #3743

[2021-08-03 07:52] stevehipwell commented on #3886
@agup006 I'll test this once https://github.com/fluent/helm-charts/pull/145 is merged.

[2021-08-03 09:18] jankosecki commented on #3886
I've pinned image version to 1.8.3 manually and can unfortunately say the error is still happening. Reboot seems to help temporarily. I managed to spot a moment when this error starts for the first time before the buffer gets flooded with error lines:
[code]
Seeing the error starts happening just after log rotation is detected by the `tail` input, I think they must be related?

[2021-08-03 10:19] danielwegener commented on #3624
Same here. Since ES ism_template index_patterns do not allow excludes for system namespaces (like .kibana or .opendistro-job-scheduler-lock), it would be great to be able to have all fluent-bit logs under the same prefix.

[2021-08-03 10:22] yuranos commented on #3889
Figured it out.
It's the "date" field that was a problem.
As it turns out, "date" field is added by [S3 output](https://docs.fluentbit.io/manual/pipeline/outputs/s3#configuration-parameters). To be honest, I don't think it should be enabled by default.
But anyway, I just changed the filter rule to:
`Rule              $log .+ mynewtag.$TAG[4] false`

[2021-08-03 10:22] #3889 closed

[2021-08-03 11:49] liyuntao opened #3901 "multiline logs being cutoff randomly"
## Bug Report

**Describe the bug**
Same input (Java stack trace) may cutoff or not randomly after `multiline parser`.

The demo below shows a piece of Java stack trace, which I want to match the first line(start with iso8601 date-fmt e.g. \d{4}-\d{2}) and collect every "cont" line not start with a date, into a whole single record.

**To Reproduce**

### input text

Expected to be cut into two rec

[2021-08-03 12:40] ingshtrom commented on #3900
@nokute78 right, I totally agree. Sorry I wasn't explicit, there. My concern was that _something_ was off, since that log message indicates such, but it was above my head as to what exactly was wrong.

FWIW, I did create [a patch](https://github.com/fluent/fluent-bit/compare/master...ingshtrom:fix-http-buffer-size-aws) to allow modifying the http_client buffer size based on my initial thoughts pri

[2021-08-03 12:40] lhelman commented on #3886
Also, worth mentioning that, I don't see these errors getting surfaced on the metrics.

So fluent-bit might not be collecting a single log line, and metrics say it is healthy.

[2021-08-03 12:56] liyuntao commented on #3901
Noticed a significant amount of `IN_MODIFY ` events between two logs.
What could be the reason?

[2021-08-03 15:51] wenchajun commented on #3056
I have exactly the same issue.

[2021-08-03 15:59] ahaid commented on #3890
+1 for this bug

[2021-08-03 16:05] liyuntao commented on #3901
Setting DB.sync=full can significantly reduce count of `IN_MODIFY ` event.
Ideally, it should appear only twice.

[2021-08-03 16:56] rsumukha commented on #3886
Tested with 1.8.3 seeing the same with cri parser. Logs fail to ship once it goes thru log rotation. Fluent-bit errors out with `could not append content to multiline context`.

[2021-08-03 19:36] ingshtrom opened #3904 "`out_kinesis_firehose` dropping records"
## Bug Report

**Describe the bug**
It looks like the `kinesis_firehose` output plugin drops records sometimes instead of retrying.

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

**Expected behavior**
Don't drop records; retry sending them.

**Screenshots**
n/a

**Your Environment**

* Version used: 1.8.2
* Configurati

[2021-08-03 21:55] 97turbotalon opened #3905 "Fluent-bit container crashes with exit code 136 on k8s logging to AWS ES"
## Bug Report

I'm new to fluent-bit and using the the provided example yaml files with k8s 1.19.12 and AWS ES 7.9.  No customization to the provided yaml files except configured ES endpoint.
Containers will start properly with logs flowing to ES.
After approximately 60-120s, all fluent-bit containers will go into a crashloop with an error stating exit code 136.
Configured fluent-bit system to deb

[2021-08-03 23:39] cristiamu commented on #3217
Yes, we were aware of this endpoint but is not practical to collect metrics. That is why the request is explicit about expose them on Prometheus endpoint.

[2021-08-03 23:56] edsiper commented on #3217
FYI:

we are working on a v2 api endpoint for metrics that will have all metrics together

[2021-08-04 06:11] takirala opened #3907 "NO_PROXY matches only exact domain names"
## Bug Report

**Describe the bug**

Support for `HTTP_PROXY` and `NO_PROXY` was added in https://github.com/fluent/fluent-bit/pull/3272 (and #3482). This is documented in https://github.com/fluent/fluent-bit-docs/pull/532

I am trying to use the following value for the above values:

[code]

which seems to be working fine but I want to be able to use :

[code]

This is the standard curl style sup

[2021-08-04 08:53] abhisheksharma2805 opened #3909 "v1.8.2 not pushing logs to elasticsearch, giving action_request_validation_exception"
[code]

[2021-08-04 08:58] abhisheksharma2805 commented on #3909
Everything was working fine till v1.6.10. I wanted to use the new multiline filters and parsers so I shifted to v1.8.2.
I think the issue might be in this line
[code]

[2021-08-04 10:13] sunshangpp commented on #3411
The issue can no longer reproduced in 1.8.3. Closing it now.

[2021-08-04 10:13] #3411 closed

[2021-08-04 10:34] joenzx opened #3910 "chunk '1-1628064536.33654680.flb' cannot be retried: task_id=0, input=tail.0 > output=es.0"
## Bug Report

**Describe the bug**
The collected data cannot be output in ES.
The following warning appears for container logs
[ warn] [engine] chunk '1-1628064536.33654680.flb' cannot be retried: task_id=0, input=tail.0 > output=es.0

**To Reproduce**
jerr.log
[code]
- Steps to reproduce the problem:
fluent-bit.conf
[SERVICE]
flush 1
log_level debug
parsers_file /fluent-bit/etc/parsers_multiline

[2021-08-04 12:04] stephanlindauer commented on #3905
We are seeing the exact same issue. Additional observations we have made:
- It seems to only manifest on certain nodes. Other nodes don't seem to have an issue. (-> race condition?)
- We are seeing that the kubelet logs the following line when this happens:
```Aug  3 21:37:09 ip-XXX-XXX-XXX-XXX kubelet[10587]: I0803 21:37:09.886901   10587 kuberuntime_manager.go:425] No sandbox for pod "fluent-bit

[2021-08-04 14:42] bharatnc opened #3911 "flb disk buffering not working as expected with stackdriver"
## Bug Report

**Describe the bug**

Fluentbit is not buffering the data when stackdriver is available. Instead it's actually dropping it.

**To Reproduce**

- Use the following `fluentbit` config file:

[code]

- Simulated temporary unavailability of stackdriver by restricting the permissions to the service account requires to write to stackdriver while Fluentbit was running.

**Expected behavior

[2021-08-04 15:33] lucastt commented on #3823
Sorry, @atheriel, for my delayed response, I've had some problems lately and couldn't come back to this issue. I tested with version 1.8.2 and 1.8.3 and had different problems, so I'd like to avoid updating to 1.8.x. I'll try 1.7.9 and see what happens. Thanks!!

[2021-08-04 15:57] tporeba commented on #3766
@edsiper Can you take a look, please? I'm now more concerned with that bug (kafka output getting stuck after filling the rdkafka queue) than achieving 100% persistency. This bug dramatically increases the chances that one needs to kill fluent-bit process when rdkafka queue is full, which is a guaranteed data loss.

[2021-08-04 19:47] lucastt commented on #3823
Sadly it looks like the problem keep happening:

[code]

It do not happen a lot, every now and then one of the pods restart due to this problem, it's a little bit annoying.

[2021-08-04 19:48] lucastt commented on #3823
This last sample was happened after updating to 1.7.9

[2021-08-04 21:09] lucastt commented on #3823
I managed to test with 1.8.3 and it happen again, it's a bit different though:

[code]

Sometimes this error log `connection #-1` repeats many times before the segmentation fault. I noticed it happens faster with 1.8.3 too. I think the error happening on 1.7.9 is different because of the `Bad descriptor...` message.

I also checked this other issue https://github.com/fluent/fluent-bit/pull/2507 an

[2021-08-04 21:50] JeffLuoo commented on #3911
Prob you are missing the `storage.type filesystem` in your configuration?

[code]

[2021-08-04 23:15] sagarkal commented on #1942
In my case, the issue was that I had specified **tls** as **on** in the tail input config. But the Elasticsearch was not supporting TLS. Once I specified **tls** as **off** in the tail input config, my logs started getting dispatched to Elasticsearch.

[2021-08-04 23:58] takirala commented on #3907
Attempted a fix at #3913

[2021-08-05 01:47] #3097 closed

[2021-08-05 02:37] bharatnc commented on #3911
@JeffLuoo thank you. I added `storage.total_limit_size`. I can see a file get's written intermittently but doesn't seem to be
persistent and disappears and a new file is written and again disappears and so on. The file written looks like the following:

[code]

Wouldn't this file grow in size after in memory limit is reached until the retry is successful or is my assumption wrong ?

[2021-08-05 06:38] #3640 closed

[2021-08-05 06:50] SenCoder opened #3914 "aws_key_id，aws_sec_key support for s3 plugin"
**Is your feature request related to a problem? Please describe.**

For fluentd forward log to S3, the configure is:
[code]

I see no config like **aws_key_id**, **aws_sec_key** in doc for fluent-bit, is there any way to solve this problem ?

[2021-08-05 08:02] #3914 closed

[2021-08-05 09:35] #3910 closed

[2021-08-05 09:36] joenzx commented on #3910
The problem of es

[2021-08-05 10:55] apollo13 opened #3915 "1.8.3 chunk validation failures"
## Bug Report

**Describe the bug**
I am seeing chunk validation errors on 1.8.3. I can mail the chunk in question. The log file contains:
[code]

I decoded the chunk as far as I could, this is what I get:
[code]
What is weird is that the data in the chunk is mostly fine, but it seems the beginning got overwritten with zeroes?

- Steps to reproduce the problem: No idea :)

[2021-08-05 12:53] ramilmsh commented on #3915
@apollo13 are you using filesystem storage?

[2021-08-05 12:59] apollo13 commented on #3915
@ramilmsh Yes, this is the storage configuration:
[code]

I am currently locally trying to recreate such a broken chunk, but not much luck. It also is weird that fluentbit would write empty (?) fix maps with size 4.

[2021-08-05 13:06] apollo13 commented on #3915
I actually just noted that every chunkfile has this header:
[code]
so this might be okay?! So the issue might be the empty map of size 4?

[2021-08-05 13:39] gca3020 commented on #3890
Another +1 Here. I see a config file option has been added to master, but it looks like that isn't in the 1.8 branch. Any ETA on when we might see that in a stable release?

[2021-08-05 13:56] chrischdi commented on #3521
We are also able to reproduce the issue and are also on linux kernel 5.10.

But it is possible to workaround it by getting the fluentbit pods to the [guaranteed qos class](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) by setting resources requests for cpu  and memory equal to limits

[2021-08-05 14:40] gabegorelick commented on #3246
You can use AWS's images: https://github.com/aws/aws-for-fluent-bit

[2021-08-05 17:00] jlintz commented on #3909
I believe this may be related to https://github.com/fluent/fluent-bit/commit/7f0db9ef07a6dcb6fd9c1af58c68301356747529#diff-6b9d334dc0b7304ad9aa29adc05402c652e1776b99f651ebf181e5547e3ab4e6 and changing of the bulk index format

[2021-08-05 17:29] PettitWesley commented on #3246
@nnsense what do you mean by "have back". The old cloudwatch plugin was never taken away 😬

[2021-08-05 17:52] pranavmarla opened #3917 "kinesis_firehose: Crashing, log loss/duplication"
## Bug Report

**Describe the bug**
We are currently doing performance testing, sending a burst of 25,000 logs from Fluent Bit to Kinesis Firehose (via the [core `kinesis_firehose` plugin](https://docs.fluentbit.io/manual/pipeline/outputs/firehose)), and Fluent Bit seems to be consistently experiencing issues sending this many logs to Firehose, ranging from dropping logs to outright crashing -- wo

[2021-08-05 17:52] pranavmarla commented on #3917
FYI @PettitWesley

[2021-08-05 20:30] nnsense commented on #3246
@PettitWesley
I mean that I cannot find it once deployed with https://github.com/fluent/helm-charts/ which is using this repo, and I suppose that should be somewhere here https://github.com/fluent/fluent-bit/tree/master/plugins, and I cannot find it, if I use `cloudwatch` as `OUTPUT` fluent-bit fails. Maybe I'm looking into the wrong place?

[2021-08-05 21:06] pboennig commented on #2110
I am also running into a similar issue in which log files that are appended to are not captured by `tail` and sent to ElasticSearch. Decreasing the `refresh_interval` if anything makes things worse, as `td-agent-bit` sees the file before anything is added to it and then promptly ignores any future updates.

As anyone in this thread found a workaround?

[2021-08-05 23:42] PettitWesley commented on #3246
@nnsense that is because the `cloudwatch` plugin has never been in the core of fluent bit. Its always been an external go plugin in this repo only: https://github.com/aws/amazon-cloudwatch-logs-for-fluent-bit

You can only use it if you are using AWS for Fluent Bit release, the upstream (this repo) release and helm charts will not include it: https://github.com/aws/aws-for-fluent-bit

I think we h

[2021-08-05 23:46] PettitWesley commented on #3917
@pranavmarla This is very surprising. The new `kinesis_firehose` should perform better and support higher throughput than the old `kinesis` plugin.

Can you try enabling `workers` with the `kinesis_firehose` plugin?

Can you also please open an issue referencing this issue at the AWS repo, that is more or less a requirement to get AWS engineers to look into an issue: https://github.com/aws/aws-for

[2021-08-05 23:54] nnsense commented on #3246
Got it, thanks. I just need to wait, basically, the whole story ir rather interesting: aws for fluent-bit chart is currently using 1.7, so no multiline core. Latest image available for thst chart is still 1.8.2 there, which has some bugs into its multiline core implementation. That works with 1.8.3, but I can't use that image with aws-for-fluent-bit without rebuilding the image and.. its plugins a

[2021-08-05 23:57] PettitWesley commented on #3246
@nnsense

We support 1.8.3 now:
https://github.com/aws/aws-for-fluent-bit/releases/tag/v2.19.0

What do you mean? Everything in AWS for FLuent Bit is public and open source. Nothing is closed source or hidden.

[2021-08-06 00:01] nnsense commented on #3246
Wow, that's great! When I've tried running docker build with the aws for fluent but Dockerfile I've got an authentication error at some point, I remember it was related some plugins but tomorrow I can try again and post the error, but it's not really important now that I have aws-for-fluent-bit working with 1.8.3  :)

[2021-08-06 00:05] nnsense commented on #3246
Ignore me, I've just checked and I've missed to use the makefile to build the plugins.. it has been a long day, that one :)

[2021-08-06 04:18] nokute78 commented on #3917
Note:
Similar backtrace(v1.7.9): #3866 #3687

On v1.7.9, network back end was updated.
https://fluentbit.io/announcements/v1.7.9/
`network: make async dns query use TCP socket instead of UDP`

DNS back end was changed from v1.7.6
https://fluentbit.io/announcements/v1.7.6/
`network: new asynchronous DNS support`

[2021-08-06 08:27] abhisheksharma2805 commented on #3909
@jlintz Thanks for pointing this out.
Turning **Generate_ID** option to **On** works now. This will generate unique doc id everytime. I believe this should be On by default.
[code]

[2021-08-06 08:41] fujimotos commented on #3893
@jianglei-els I first heard this. Can you point me to a relevant spec/documentation?

[2021-08-06 08:43] upstream-dmahlberg opened #3918 "[http_client] cannot increase buffer on k8s"
## Bug Report

**Describe the bug**
We occasionally get warnings like this thrown by fluent-bit 1.8.2:
[code]

Note that we do not use kinesis firehose.

**To Reproduce**
- Indeterminable. It does not seem to depend on the number of pods or the general load of the cluster, and no source of this could be determined.

**Expected behavior**
- No warnings are thrown.

**Your Environment**

* Version u

[2021-08-06 09:04] apollo13 opened #3919 "v1.8.3 memory corruption"
## Bug Report

**Describe the bug**
Looking at the logfiles I noticed that fluent-bit can't forward a few things (I am currently saving the chunks from the FS for later investigation). The logfile shows:
[code]

Octal dump of the first line:
[code]
I will fetch the chunks and see if I can figure out what the problem is with them.

**To Reproduce**
No idea, sorry :/

**Expected behavior**
No memory

[2021-08-06 09:51] apollo13 commented on #3915
I have written a python parser for the chunks files, by making some assumptions on the structure to be able to pinpoint errors. So far my parser found the following:
 * All chunk files have the proper structure of "chunk_header, metadata, 1 or more msgpack arrays"
 * Every array in there consists of two elements, the first being an extension with code 0 (timestamp) and a map containing the message

[2021-08-06 10:01] euskadi31 opened #3920 "Bad config parsing for Elastic Cloud"
## Bug Report

Parsing cloud_id is incorrect

The Cloud ID string has the format "<deployment_name>:<base64_info>".

Once decoded, the "base64_info" string has the format `<deployment_region>$<elasticsearch_hostname>$<kibana_hostname>` and the function `extract_cloud_host` returns `<elasticsearch_hostname>.<deployment_region>` string.

The `<deployment_region>` already contains port number, but th

[2021-08-06 10:38] bartlomiejdanek opened #3921 "Fluent Bit does not process old chunks created on XFS"
## Bug Report

**Describe the bug**

Fluent Bit does not flush chunks after restart on XFS and `ftype=0` flag. Any of those chunks do not occur in logs.

**To Reproduce**
- [installation steps](https://docs.fluentbit.io/manual/installation/linux/redhat-centos#install-on-redhat-centos)
- create XFS with `ftype=0`
[code]

[code]
- Fluent Bit configuration

[code]

- when the output is accessible eve

[2021-08-06 12:27] jianglei-els commented on #3893
I don't find it's not support in spec and document, and I don't find document that it's supported on Windows.

I tested on Windows and Linux, where Linux works, but Windows doesn't.

[2021-08-06 12:42] ivangrynkoring commented on #3014
The same with 1.8.3, we stuck with 1.6.10 last working version

[2021-08-06 13:28] yz271544 commented on #3918
I have the same problem, how can I solve it?

[2021-08-06 14:08] Blesmol opened #3922 "fluent/fluent-bit:1.8.3 contains outdated libraries"
## Bug Report

**Describe the bug**

While inspecting the latest version of the fluent/fluent-bit docker image (1.8.3) I saw that some libs are quite outdated. The container libc version (2.28) was released in mid of 2018, and if I'm not mistaken, openssl 1.1.1d is also included. Both have security vulnerabilities. I cannot say whether this could be exploited in any way.

Therefore, I'd kindly lik

[2021-08-06 15:19] ramilmsh commented on #3915
@apollo13 Based on you config i can recommend trying `storage.sync full`.

I was using
[code]

and I got CRC32 errors (checksums were failing, e.g. chunks) all the time, until i switched to `storage.sync full`, which fixed the issue

[2021-08-06 15:38] jkschulz commented on #3816
looks like they released the [fix](https://github.com/ARMmbed/mbedtls/commit/2065a8d8af27c6cb1e40c9462b5933336dca7434) in v2.27.0 (v3.0.0 is also out)

![image](https://user-images.githubusercontent.com/35477443/128535464-840fe677-547d-411f-b491-906dc0698d0a.png)

[2021-08-06 15:39] apollo13 commented on #3915
Are there any docs on the difference between the two storage sync methods? All in all (given the otherwise valid data of the chunk file) it seems weird that this would simply be a sync error 🤔

On Fri, Aug 6, 2021, at 17:19, Ramil Shaymardanov wrote:

[2021-08-06 15:54] ramilmsh commented on #3915
@apollo13 it does indeed. I asked the question in slack, but got no response on this particular issue (they do a good job answer, mostly. maybe you can ask there).

I could be wrong, but I did consistently get errors with `storage.sync normal` and get none with `storage.sync full`. Though I do realize it's a bit weird.

If I were you, I would add `storage.checksum on` and change log level to eithe

[2021-08-06 16:49] vrivellino opened #3924 "ElasticSearch output: dead letter index"
**Is your feature request related to a problem? Please describe.**

Unfortunately, our log data is pretty heterogeneous and we occasionally run into field mapping conflicts in Elasticsearch. Eg: The index has a field typed as an integer, but some log messages have the same field name as string. This causes ES to return a 400 - with I believe a mapper parser exception - and log messages are lost.

[2021-08-06 17:12] pranavmarla commented on #3917
Thanks for checking in @PettitWesley ! I re-ran the test with the core Fluent Bit Docker image (v`1.8.3-debug`) and the core `kinesis_firehose` plugin. As I increased the number of workers, Fluent Bit's stability got _slightly_ better. Specifically:

- No workers specified (original test case): Fluent Bit crashed after 16s (of tailing logs), lost logs
[code]
- 1 worker: Fluent Bit crashed after 21

[2021-08-06 20:16] JeffLuoo commented on #3911
If filesystem buffer is enabled, the disappear of the chunk means that the logs stored in the chunk are already flushed out to the destination. Please read https://docs.fluentbit.io/manual/administration/buffering-and-storage for more information.

[2021-08-06 20:17] pboennig commented on #2110
For my specific issue, I found it was actually a case of #3111, as my logs were stored in AWS EFS. Moving the logs outside of EFS solved the issue.

[2021-08-06 23:21] #1423 closed

[2021-08-07 01:46] #3709 closed

[2021-08-07 04:22] agup006 commented on #3918
You may be able to try http_buffer_size parameter within the elasticsearch output

[2021-08-07 13:13] richardburakowski opened #3926 "in.tail - Multiline + Mem_Buf_Limit loses logs"
## Bug Report

**Describe the bug**
Multiline + Mem_Buf_Limit loses logs when in.tail pauses.  Without Multiline pausing works as expected.

**To Reproduce**
Need to trigger `[input] tail.0 paused (mem buf overlimit)`.  On my system the minimum example:
[code]
[code]
Test data:
[code]
[code]
[code]
[code]

**Your Environment**
I'm seeing this with td-agent 1.8.3 on Ubuntu 20.04 and dockers 1.8.3,

[2021-08-07 23:08] #3867 closed

[2021-08-08 01:47] #3681 closed

[2021-08-08 01:48] #3636 closed

[2021-08-08 08:41] OndroNR opened #3927 "SSL validation fails on arm64 docker image"
## Bug Report

**Describe the bug**

HTTP output plugin fails to validate SSL certificate. Curl also fails. Using folder of CA certificates does not work, only explicitly using CA bundle file.

**To Reproduce**

- Steps to reproduce the problem:

Failing `fluentbit` configuration and log output:

[code]

[code]

Working fluenbit:

[code]

[code]

Failing `curl` command

[code]

Working `curl` comm

[2021-08-08 09:18] erancx opened #3928 "Fluency buffer error with Fluent Bit 1.8.3 upgrade"
## Bug Report

**Describe the bug**
After upgrading to 1.8.3 we encounter errors like:
`[Log4j2-TF-16-AsyncLoggerConfig-13 []] ERROR org.komamitsu.fluency.Fluency - emit() failed due to buffer full. Flushing buffer. Please try again...`.
We're working with GCS storage.

**To Reproduce**
service.conf
[code]

[code]
- Steps to reproduce the problem:
Install td-bit version 1.8.3 and use the config ab

[2021-08-08 11:18] andsens commented on #3687
/remove-lifecycle stale

[2021-08-08 14:42] elcreator opened #3929 "fluent-bit-1.8.3/lib/cmetrics/src/cmt_atomic_gcc.c:30: undefined reference to `__atomic_compare_exchange_8'"
## Bug Report

**Describe the bug**
make command fails on 86% on the Rapberry pi 4 Raspbian buster

**To Reproduce**
- Steps to reproduce the problem:
[code]

**Expected behavior**
successful make

**Your Environment**

* Version used:
* Configuration:
* Environment name and version (e.g. Kubernetes? What version?):
* Server type and version:
* Raspberry pi 4 ARM x32
* Operating System and version

[2021-08-08 14:43] elcreator commented on #3929
maybe related with https://github.com/abseil/abseil-cpp/issues/836

[2021-08-08 15:09] richardburakowski commented on #3926
Turning down buffers and limits and setting debug out
[code]
[code]
From stepping the code: input is paused but `process_content()` continues with the current "batch", calling `flb_input_chunk_append_raw()`.  I can confirm these logs are missing from the output.

[2021-08-08 15:52] elcreator commented on #3929
Workaround:
LDFLAGS="-latomic" cmake ..

[2021-08-08 23:33] nokute78 commented on #3928
`[Log4j2-TF-16-AsyncLoggerConfig-13 []] ERROR org.komamitsu.fluency.Fluency - emit() failed due to buffer full. Flushing buffer. Please try again...`

The log is not about Fluent-bit.
It is a log of Fluency.
https://github.com/komamitsu/fluency/blob/0aae92a7d03dbe1c2f2a27374f59a5dfea7b528b/fluency-core/src/main/java/org/komamitsu/fluency/Fluency.java#L200

- How do you use Fluent-bit and Fluency ?

[2021-08-09 04:31] nokute78 commented on #3905
Sorry.
My patch #3788 may cause this crash...
I sent a patch #3931 to fix this issue.

#3788 can divide by 0, it causes SIGFPE and fluent-bit exits code 136.

[2021-08-09 07:49] nokute78 commented on #3929
#3916 is merged to master for armv7l.

[2021-08-09 08:31] nokute78 commented on #3882
In my understanding, the plugin is used on host.

If you want to use on container, `-v /sys/fs/cgroup:/sys/fs/cgroup` is needed.
The plugin reads `/sys/fs/cgroup/memory/docker` and `/sys/fs/cgroup/cpu/docker` to collect metrics of container.

## Use on host
1. Run a container you want to gather metrics.
2. `sudo fluent-bit -i docker -o stdout`
[code]

## Use on docker container
1. Run container yo

[2021-08-09 09:50] erancx commented on #3928
sorry, updated the thread with the right service config including OUTPUT.

the way we use it is application log -> fluent-bit -> java app with fluency -> fluentd forwarders -> Google Cloud Logging (Stackdriver)/BigQuery

[2021-08-09 12:03] elcreator commented on #3929
Now it works, thank you!

[2021-08-09 12:03] #3929 closed

[2021-08-09 12:35] nokute78 commented on #3928
Thank you for updating.

https://github.com/fluent/fluent-bit/compare/v1.8.2...v1.8.3
Hmm. No commits seems to relate to the issue...

https://github.com/fluent/fluent-bit/commit/8f613f1399caab4af2ee0ea51865450738f9842d
It is an only commit for output plugin.
However it may not cause this issue.

[2021-08-09 12:46] elcreator opened #3933 "1.8.3 is not installable via apt on Raspbian buster on ARM x32"
## Bug Report

**Describe the bug**

**To Reproduce**
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
curl https://packages.fluentbit.io/fluentbit.key | sudo apt-key add -
echo deb https://packages.fluentbit.io/raspbian/buster buster main | sudo tee /etc/apt/sources.list
sudo apt-get update
sudo apt-get install td-agent-bit

**Expected behavior**

Installation success

[2021-08-09 13:01] FeynmanZhou commented on #1379
Hope [Fluentbit-operator](https://github.com/fluent/fluentbit-operator) is helpful for you to address it.

[2021-08-09 14:34] pierluigilenoci commented on #3014
@elruwen have you tried v1.8.*?

[2021-08-09 15:21] pierluigilenoci commented on #3521
@edsiper could you please take a look?

[2021-08-09 16:04] erancx commented on #3928
any suggestion on how to debug this? what additional information should I gather up?

[2021-08-09 17:32] PettitWesley commented on #3917
@edsiper These crashes look like they might be core networking issues... do any of these reports look like other issues you've seen in other plugins?

[2021-08-09 18:21] agup006 commented on #3014
There were a few fixes in 1.8.3 that include chunk handling after failure. I'm wondering if the retry forever paired with some bad messages cause chunks to never be flushed or dropped.

@ivangrynkoring  did you see a lot of 400 errors in the logs? Also curious what outputs you were using

[2021-08-09 18:53] pka23 commented on #3581
Try setting Trace_Error On in Output section.
In my case it was exactly mapping issue like #3052 on 1.7.*

[2021-08-09 20:11] mut3 commented on #3909
Specifically this change https://github.com/fluent/fluent-bit/commit/7f0db9ef07a6dcb6fd9c1af58c68301356747529#diff-3fc4adb0ddceaceddc7686c08d19a9ea90c5cf3a79fb0e1c14a3d14bc64a6257L28-R31 probably caused it

I am sending to an elasticsearch 6.8 cluster and using Fluent Bit v1.7.9 worked, I had the same error on v1.8.x

[2021-08-09 21:22] brian-maloney commented on #3699
I just ran into this today, trying to convert from using a splunk universal forwarder to forward logs from systemd journald to splunk to using fluentbit for the same purpose.  My intention is to lift all of the journald fields except for MESSAGE into the event fields and rename MESSAGE to event, therefore I definitely still need the ability to pass a JSON message "crafted" using filters to the eve

[2021-08-10 00:35] juicycool92 opened #3934 "kubernetes fluent bit crashed with error when try to find container"
## Bug Report

**Describe the bug**
after boot fluent-bit, i realise that daemonset is keed died without speacial warning.
therefor i checked log with  `kubectl logs daemonset/fluent-bit --namespace kube-system`
below is full lof for daemonset's log.

[code]

**To Reproduce**
- Running on AKS, 1.18 version
- ordinary app for producing log in stdout and stderr.
- fluentbit.yaml
[code]
- elasticSear

[2021-08-10 00:41] juicycool92 commented on #3934
for more detail,
i re-produce with same yaml
[code]
[code]
[code]
[code]
[code]

[code]
hope it helped

[2021-08-10 00:49] hardiksd commented on #3097
I'm running into this issue when trying to compile Fluent Bit on Openwrt. The record assessor feature had to be turned off on openwrt as there is no corresponding flex library for openwrt target on aarch64. It probably will have to be ported.

What is the temporary workaround to this problem?

[2021-08-10 01:02] elruwen commented on #3014
I just tried 1.8.3.

- 16 chunks missing (that is a record low)
- all 16 chunks are on disk
- I see error messages that a chunk can't be flushed "[ warn] [engine] failed to flush chunk '1-1628553346.148642522.flb', retry in 321 seconds: task_id=25, input=forward.0 > output=tcp.0 (out_id=0)" (which is good!)
- I see generic error messages pointing to the underlying issue "[error] [plugins/out_tcp/t

[2021-08-10 01:02] elruwen commented on #3001
Still an issue with v1.8.3.

[2021-08-10 01:23] JungleGenius commented on #3617
@justchris1 I just had this same issue today on a new install of RHEL 8.  The fix per Red Hat was:

`echo '%_pkgverify_level signature' > /etc/rpm/macros.verify`
then
`yum install td-agent-bit`

Hopefully that fixes your issues.

My next problem is that in doesn't look like TD keeps the previous releases in their yum repo and I need to install `td-agent-bit-1.7.9-1.x86_64.rpm` because there was a

[2021-08-10 01:28] JungleGenius opened #3935 "TD only keeps the current release in their yum repo."
I need to install td-agent-bit-1.7.9-1.x86_64.rpm because there was a breaking change for us going to the 1.8 release.

However it doesn't look like TD keeps the previous releases in their yum repo.

If you could keep the prior versions accessible like majority of enterprise solutions so that would help.

[2021-08-10 01:51] harry-xiaomi commented on #3097
Ship an older version or contribute a patch, there is no workaround.

[2021-08-10 03:23] gowrisankar22 commented on #3922
More details:
https://artifacthub.io/packages/helm/fluent/fluent-bit?modal=security-report

[2021-08-10 04:45] fujimotos commented on #3893
@jianglei-els Can you provide full steps to reproduce your issue?

I suppose that you're trying to use one of the following credential providers,
which happens to be not working on your case. I'm not sure which one is the
problematic one, so it will help if you can provide full reprdocution steps.

[code]

[2021-08-10 04:53] jianglei-els commented on #3893
Hi, @fujimotos

Thanks for replying. I'm using '4. EC2 IMDS', no existing AWS profile or Environment variables setup on EC2(Windows 2019 Server ), output is 'Kinesis Data Stream'.  Example fluent-bit.conf
[INPUT]
    name winlog
    channels System,Security
    Interval_Sec 1
    DB           winlog.sqlite

[OUTPUT]
    Name  kinesis_streams
    Match *
    region cn-northest-1
    endpoint kinesi

[2021-08-10 07:15] Fullplate opened #3938 "(v1.8.3) Built-in multiline parser (cri) failing to concatenate large logs"
**Behaviour:**

Containerd uses the CRI log format. Logs on disk are limited to a max size of 16k per line, and therefore must be concatenated to produce the original log line.

Log lines up to around 200k in size are parsed and concatenated correctly.

Log lines around 300k+ in size are split into multiple logs (usually 2-4 depending on original log size).

My theory is that the parser's [default

[2021-08-10 08:31] upstream-dmahlberg commented on #3918
I cannot reproduce this error anymore since I had to revert to 1.7.9 due to another issue in 1.8.2 regarding filesystem buffered chunks. I will reinvestigate when I update to 1.8 again.

[2021-08-10 10:34] chrischdi commented on #3521
Looks for me like it is not related to the kernel, but to kubernetes and the runc dependency instead.

* I'm **not** able to reproduce it on upstream `v1.21.3`
* I'm able to reproduce it on upstream `v1.22.0`
* I'm able to reproduce it when cherry-picking https://github.com/kubernetes/kubernetes/pull/103746

So I assume this issue got introduced by for the master kubernetes branch in https://githu

[2021-08-10 11:44] SunilDSK commented on #3820
I added the `Read_from_Head true` option. Now the fluent-bit is able read the old log entries in an old file and it is not able to tail new log entries. Also, it can still recognize that there is a new log file, but it does not tail the content of that new log file. it still prints -
`[2021/07/21 08:20:09] [ info] [input:tail:tail.0] inotify_fs_add(): inode=97 watch_fd=1 name=/var/log/log-logging-

[2021-08-10 13:48] justchris1 commented on #3617
@JungleGenius Thanks for the note.  That workaround did work and I appreciate you noting it.  However, there is no way I will be able to get that through cybersecurity as a deviation.  TD needs to properly package and sign their code.  Security and integrity of their distributions is really important!  Also - thanks for the note on the lack of keeping even recent old versions around in their repos

[2021-08-10 18:24] hardiksd commented on #3097
Thanks. I was able to build by turning off regex altogether which is good for now for my purpose. I will go ahead and contribute a patch when time permits.

[2021-08-10 18:50] simonvanbernem commented on #3743
Commenting here just to prevent the bot from closing. @leonardo-albertovich fixed this issue, the fix is just waiting to be merged if I understood correctly.

[2021-08-10 19:02] tjjkj commented on #3882
Yes, that works. The crucial information was the volume binding and this needs to be updated in the documentation as well for benefit of everyone :)
- v /var/lib/docker/containers/:/var/lib/docker/containers/
-v /sys/fs/cgroup:/sys/fs/cgroup

[2021-08-10 19:02] #3882 closed

[2021-08-10 19:46] rosmo commented on #2580
Just did an install on CentOS 8 and I'm encountering this issue, and seeing a similar segfault in `stackdriver_format`. Turned on debug log level and the only reasonably relevant line I can see is:

`[2021/08/10 21:41:35] [debug] [output:stackdriver:stackdriver.1] [logging.googleapis.com/monitored_resource] not found in the payload`

Stack trace (relevants parts, eg. no threads in epoll_wait):

[c

[2021-08-10 19:55] rosmo commented on #2580
My bad, this was the result of using `resource gce_instance`, where I should have been using `resource generic_node`.

[2021-08-11 06:55] pierluigilenoci commented on #3001
@edsiper @fujimotos @koleini why doesn't anyone give even half a feedback about it?

It's amazing that no one even deigns to look at all these reports of fluent-bit problems. 😢

[2021-08-11 06:56] pierluigilenoci commented on #3014
@edsiper @fujimotos @koleini why doesn't anyone give even half a feedback about it?

It's amazing that no one even deigns to look at all these reports of fluent-bit problems. 😢

[2021-08-11 06:59] pierluigilenoci commented on #3581
@edsiper @fujimotos @koleini why doesn't anyone give even half a feedback about it?

It's amazing that no one even deigns to look at all these reports of fluent-bit problems. 😢

[2021-08-11 07:44] edward-bear commented on #3650
@pakita

this issue is a little hard to decipher, but I believe this is what you are after, as I hit this same difference when switching from fluentd --> loki .. to fluent-bit --> loki

if you are pushing logs to a local loki, for example on the same cluster, this was easy, but the config needed to change when sending from external, through a reverse proxy.

the reverse proxy is expecting traffic

[2021-08-11 09:37] stevehipwell commented on #3886
@edsiper is there any progress on this?

[2021-08-11 13:14] brian-maloney commented on #3699
Just an additional followup for folks struggling with this.  I have my Splunk HEC behind a traefik proxy, which returns 404 if all HEC instances are down, which in turn causes Fluent Bit to drop messages (since this is a deviation of the return code behavior from the HEC itself, where a 4XX is an unrecoverable error).  I decided to try using the Fluent Bit HTTP output instead of Splunk (using the

[2021-08-11 13:57] michaelgeorgeattard commented on #3886
We are encountering the same issue on `1.8.3`, I can gladly attach more details if needed.

[2021-08-11 19:14] panaji opened #3940 "Unrecoverable error "caught signal (SIGSEGV)" in the forward output"
## Bug Report

**Describe the bug**
I'm seeing this issue with forward output plugin and restarting fluentbit won't fix it. I have to temporarily change the output to null then revert it back to mitigate. I was using v1.7.9 and updated the image to v1.8.3 on the fly (and still saw this issue).

**To Reproduce**
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
Not sure

[2021-08-11 19:59] qingling128 commented on #2968
Per sync offline, we are still adding labels to these metrics.

[2021-08-12 01:47] #3719 closed

[2021-08-12 01:47] #3587 closed

[2021-08-12 01:47] #3540 closed

[2021-08-12 01:47] #3538 closed

[2021-08-12 02:15] agup006 commented on #3699
Thanks for the update @brian-maloney , I appreciate everyones input in this and if folks are interested perhaps we could setup some time to quickly run through options and move forward with a decision. @pranavmarla @Niksko

One option I feel makes more sense after seeing @brian-maloney using HTTP output plugin makes me feel we should route users who want to use Splunk_Send_Raw to use the HTTP outp

[2021-08-12 02:30] agup006 commented on #3014
@elruwen thanks for running that test - when the chunk couldn't be flushed are you seeing any error codes from the end output (Syslog server / Splunk or Elasticsearch) such as a 400 bad message error? Also do you have some information regarding the I/O on the machine as the chunks get stuck - looking for some patterns

@pierluigilenoci I am looking at this :) - a few folks are working on DNS TCP /

[2021-08-12 02:36] agup006 commented on #3938
Thanks for filing @Fullplate. Are you able to build a version with that hard coded version modified and see if that fixes the issue? If yes then I think the solution should be to add that as a configurable option for large log use cases

[2021-08-12 02:38] agup006 commented on #3933
Hey @elcreator thanks for filing, this looks like a sub package is not installing - are you able to install the libpq package and try again? perhaps an update prior to installing?

[2021-08-12 02:46] agup006 commented on #3928
@erancx We really need a solid repro in a local environment with fluent bit isolated - there are quite a few services interacting in your use case and it is hard to know which one is failing or causing issue: Fluency / Google / Fluentd?

I noted that 1.8.2 downgrade worked so perhaps you can start there with looking what a message looks like with 1.8.2 std output and if there are any differences i

[2021-08-12 03:01] agup006 commented on #3597
If I understand this the solution is really to make max retry time configurable - @nokute78 Is this something we could add to Service configuration?

[2021-08-12 03:11] pascal71 commented on #976
Same problem here

Context:

K8S baremetal: v1.21.3
Graylog
FluentBit
CRI container engine

[2021-08-12 06:01] DeyunLuo opened #3942 "can't use multiline.parser merge multiple log in docker json (fluent-bit:1.8.3-debug)"
**fluent-bit version: fluent/fluent-bit:1.8.3-debug (docker container)**

**original log:**
[code]

**fluent-bit.conf**
[code]

**custom_parsers.conf**
[code]

**api receive**
[code]
### I already read the doc
the doc is so simple or crude
[Multiline Parser documentation](https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/multiline-parsing)
[tail input](https://docs.fluentbit.i

[2021-08-12 08:47] jiscfoo commented on #3877
I am seeing (probably) the same stack trace running within the official Docker 1.8.3 container:

[code]

I am using the (old?) multiline mode:

[code]

I am trying to narrow down what data input leads to this segfault

[2021-08-12 09:32] chrischdi commented on #3521
May not be related to fluentbit itself, related issue may be https://github.com/kubernetes/kubernetes/issues/104280 .

**Without** https://github.com/kubernetes/kubernetes/pull/103746 we are currently **not** able to reproduce it anymore :-)

[2021-08-12 10:14] 08mohit08 commented on #3709
I am facing this issue. Can you please help me out here.

[2021-08-12 10:18] elcreator commented on #3933
I'm not able to install it.

pi@raspberrypi:~ $ sudo apt-get update
Get:1 http://archive.raspberrypi.org/debian buster InRelease [32.6 kB]
Hit:2 https://packages.sury.org/php buster InRelease
Get:3 https://packages.fluentbit.io/raspbian/buster buster InRelease [9,025 B]
Get:4 http://archive.raspberrypi.org/debian buster/main armhf Packages [378 kB]
Fetched 419 kB in 3s (131 kB/s)
Reading package l

[2021-08-12 11:07] jiscfoo opened #3943 "SIGSEGV in msgpack_sbuffer_write()"
## Bug Report

### Describe the bug
fluent-bit (1.8.3) crashes in `msgpack_sbuffer_write()` during a multi-line tail

### To Reproduce

Parser:
[code]
Config:
[code]

Invoke as:

[code]

### Expected behavior
Correct ingestion of log events and output to stdout

### Screenshots
[code]

### Your Environment
* Version used: 1.8.3 (official Docker image and a locally built image using official Docker

[2021-08-12 11:08] jiscfoo commented on #3943
Possibly related to #3877

[2021-08-12 11:10] jiscfoo commented on #3943
`gdb` provides a more detailed stack trace:

[code]

Of note in there is the `len=18446744073709551615` which ends up being passed into `sbuffer.h:88`:

[code]

[2021-08-12 11:15] justchris1 commented on #3618
This issue is unaddressed and is still an issue.

[2021-08-12 11:24] jiscfoo commented on #3943
Looking at frame 5 in the stack (`process_content (file=0x7fa52b62e300, bytes=0x7fa52c3f4778) at /tmp/fluent-bit/plugins/in_tail/tail_file.c:427`)

`line_len` is passed into `flb_tail_mult_process_content()` which is calculated at

[code]

Within gdb, at point of crash, `len` is 0 (zero) and `crlf` is 1, so `0 - 1` is a very big number which isn't being handled correctly.

If I enable `skip_empty_

[2021-08-12 11:48] jiscfoo commented on #3943
Possibly more subtle than this… the multiline input it chokes on contains `^M` characters. I've isolated down to (cat -v output, so ^Ms are inline):

[code]

Raw file and base64 encoded file attached.
* [shibd.log](https://github.com/fluent/fluent-bit/files/6975189/shibd.log)
* [shibd-b64.txt](https://github.com/fluent/fluent-bit/files/6975196/shibd-b64.txt)

[2021-08-12 11:48] donbowman commented on #3597
Also, we need to fix the backoff. It has a math error of some type. I don't
see what, but the results are wrong.

On Wed., Aug. 11, 2021, 23:01 Anurag Gupta, ***@***.***>
wrote:

[2021-08-12 12:26] ThomasHenckel opened #3944 "DNS query cancelled error on v1.8.3 when sending to http-intake.logs.datadoghq.eu (works in v1.8.2)"
## Bug Report

**Describe the bug**
After upgrading to v1.8.3 td-agent-bit does not work when sending logs to http-intake.logs.datadoghq.eu

**To Reproduce**
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
RUN apt-get -y install td-agent-bit
/opt/td-agent-bit/bin/td-agent-bit -c /etc/td-agent-bit/td-agent-bit.conf --log_file=/tmp/fluentbit.log

**Expected behavior**
T

[2021-08-12 12:51] edward-bear commented on #3861
Our setup --

apps log with ANSI codes.. this is fine for kubectl logs, and also Rancher UI will display these colours for you.

Even Grafana UI it seems can decode most of these.. maybe not all of them.. I'm testing this with my logs now and trying to get this work...

Otherwise .. if they are written to disk via docker full of ANSI codes.. it's not really a problem as long as they look good in t

[2021-08-12 13:38] #1535 closed

[2021-08-12 13:38] y0zg commented on #1535
-

[2021-08-12 13:38] xLitil commented on #3917
Hello,

A similar error occured with `forward` :
[code]

**Configuration :**

[code]

[code]

[2021-08-12 16:31] pranavmarla commented on #3619
bump

[2021-08-12 16:34] pranavmarla commented on #3620
bump

[2021-08-12 17:37] #3928 closed

[2021-08-12 23:25] panaji commented on #3940
Here's the complete debug log:
[fluentbit-SIGSEGV-debug.log](https://github.com/fluent/fluent-bit/files/6979056/fluentbit-SIGSEGV-debug.log)

[2021-08-12 23:37] Fullplate commented on #3938
@agup006 Thanks for the reply. I'll have a go at doing that and report back.

[2021-08-13 00:27] panaji commented on #3940
Mitigation that I found was:
- Delete the filestorage: `rm -rf /var/log/flb-storage`
- Restart fluentbit

Not great, but simpler than changing the forward output to null and reverting it back.

[2021-08-13 05:25] elruwen commented on #3014
@agup006 the receiving end is ncat. No HTTP. I don't see any errors. ncat just dumps the stuff to /dev/null. It all runs on my local laptop.

I don't know much about the tooling landscape in C, but if it would be in Java, I would do the following:

1. Reproduce it locally on your machine (See https://github.com/fluent/fluent-bit/issues/3014#issuecomment-797257579), reproduce it 3 times so you know

[2021-08-13 07:16] vkudrik commented on #3872
Issue still exists in v1.8.3:
[code]

[2021-08-13 07:38] senior88oqz commented on #3940
hey @panaji, we're expericing the same issue here with fluent-bit 1.8.3, have you tried other 1.8.x version?

[2021-08-13 10:12] arpantw opened #3947 "Fluentbit stuck with high data load"
## Bug Report

**Describe the bug**

When providing a high data load( 2000 files, each file having 10000 1.5kb of multiline records) to tail plugin, fluent-bit slows down and there is a huge spike in memory, resulting in latency increase. The increase in memory is linear to the increase in down chunks in filesystem storage.

Once the tail plugin completes ingesting all the records, fluent-bit star

[2021-08-13 14:37] edsiper commented on #3872
Hi,

for everybody reporting and facing the similar issue,  please attach  your original docker log files so we can reproduce it locally

[2021-08-13 16:05] panaji commented on #3940
I tried with 1.7.9 and 1.8.3 (current latest) and both have the same issue ... so, i think anything in between would be the same

[2021-08-13 22:40] #3905 closed

[2021-08-13 23:05] nokute78 commented on #3816
Note: https://github.com/fluent/fluent-bit/pull/3949

[2021-08-14 01:31] nokute78 commented on #3943
@jiscfoo Thank you for information!

The log ^M+blank line causes SIGSEGV.
[code]

I sent a patch #3951.

[2021-08-14 01:46] #3746 closed

[2021-08-14 03:30] nokute78 commented on #3816
@joancafom mbedtls v2.27 has been merged to current master.
At least, I believe it will be released as v1.9.0.
https://github.com/fluent/fluent-bit/commit/3db3f27bc8b74a4e6f12f8593e244298f1562ffa

I confirmed I can build if `FLB_DEBUG=off` on master.

[2021-08-14 23:33] nokute78 opened #3952 "Connection timeout of some output plugins is zero"
## Bug Report

**Describe the bug**

https://github.com/fluent/fluent-bit/pull/3222#issuecomment-894148340

The function `flb_output_config_map_set` will update the network config map of the plugin.

However, some output plugins don't call `flb_output_config_map_set`.
It causes the configmap of the network settings are not overridden.
e.g. `net.connect_timeout` is 0 if the value is not overridden.

[2021-08-15 01:55] #3754 closed

[2021-08-15 03:50] ericonr commented on #3716
I would ask of the repo maintainers to remove the auto stale bot. I have nothing to do with upstream not answering this issue yet. If the bot pings the issue again I will just close it and give up on the bug report.

[2021-08-15 17:10] psyhomb opened #3955 "fluent-bit 1.8.3 occasional crashes (caught signal SIGSEGV)"
## Bug Report

**Describe the bug**

Fluent Bit running as systemd unit occasional crashes without being able to automatically recover, the only way to recover it is by removing DB and WAL files and then manually restarting the service unit.

[code]

**Steps to reproduce the problem**

There is no easy way to reproduce it, because it is not quite clear to me what is causing the issue.

**Expected

[2021-08-15 23:56] vizcay commented on #2772
Still relevant.

[2021-08-16 01:47] #3736 closed

[2021-08-16 01:50] agup006 commented on #3944
Hey @ThomasHenckel thanks for filing

What would you suggest would be the best way to rule that out? Is it possible to use a static IP to see DNS difference between 1.8.3 / 1.8.2 could be causing issue?

[2021-08-16 01:52] agup006 commented on #3933
Perhaps you could compile from source? Since libpq is not being found in the CMAKE you should be able to disable the postgres output plugin to remove that dependency

[2021-08-16 02:42] PettitWesley commented on #2610
@edsiper Ping- we are still seeing reports that Fluent Bit stops accepting records on the forward input when it receives a SIGTERM, which causes log loss. Customers prefer fluent bit to continue accepting records until SIGKILL. If that behavior is not your preferred default, then we request that this alternate behavior be an opt-in thing.

[2021-08-16 06:22] todor commented on #3718
@edsiper This is a serious issue, please mark it somehow to not become stale every 30 days.

[2021-08-16 06:52] ThomasHenckel commented on #3944
Hi @agup006

I just tried using the ip address as the host name, and it looks like logs are getting through

I have talked with other devs in my company and looks like they don't have the problem, i'm the only using ubuntu for my docker images.

i install using:
RUN wget -qO - https://packages.fluentbit.io/fluentbit.key | apt-key add -
RUN echo "deb https://packages.fluentbit.io/ubuntu/bionic bion

[2021-08-16 10:47] alexku7 commented on #3751
me too :(. something wrong with multi line support

[2021-08-16 10:59] elchead commented on #1294
This issue still persists.

Relative paths using `..` also don't work, but relative paths in a subdirectory of the main config work.

[2021-08-16 12:39] itskannanraj commented on #632
This does not seem fixed in the packages for Ubuntu 18.04.5 in version 1.8.3 as I still get this error?

    Name                           kafka
    Brokers                        hostname:9093
    Topics                         logs
    rdkafka.security.protocol      SASL_SSL
    rdkafka.sasl.mechanism         PLAIN
    rdkafka.sasl.username          username
    rdkafka.sasl.password          p

[2021-08-16 13:50] tjjkj opened #3958 "Forward input plugin does not work"
I'm running Fluentbit as a docker container with input plugin as "Forward" but when I send any data to the TCP port, I dont see them collected. Not sure what I'm missing here.

To test the Forward input plugin, I have a .net code from the link [TcpClient demo](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient?view=net-5.0) to post to the port 24224 but nothing is collected b

[2021-08-16 14:29] ninthnails opened #3959 "Windows service can't be stopped when using forward input"
## Bug Report

**Describe the bug**

Stopping td-agent-bit as a Windows service doesn't work when the forward input plugin is used. Command will be stuck in waiting for the service to stop. fluent-bit process still executes and nothing happen.

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
1. Install latest version of t

[2021-08-16 19:20] PettitWesley commented on #3886
@edsiper We have seen this issue in my team at AWS as well.

[2021-08-16 19:23] rsumukha commented on #3886
We are seeing the same issue on `1.8.3` for cri logs.

[2021-08-16 19:39] edsiper commented on #3886
thanks for reporting the issue, would you please provide example log files that helps to reproduce the issue ?

[2021-08-16 20:08] rsumukha commented on #3886
Fluent-bit config
[code]
Tail plugin works fine until the log-rotation. Once log rotates then we see `could not append content to multiline context`

[code]

[2021-08-16 20:31] kadooster commented on #3861
Indeed @edward-bear , being able to strip out these from a specific output is the best scenario, because we'll be able to choose where this colorization is useful and where it is not. I'll find some way to hide it from Kibana interface, that might work for my scenario at least. I'll update here if any idea comes to mind.

[2021-08-17 00:53] kenhys commented on #3618
FYI:

Expected td-agent-bit.repo

[code]

What should be done:

[code]

It will generates centos/7/x86_64/repodata/repomd.xml.asc.

[2021-08-17 01:55] #3756 closed

[2021-08-17 01:55] #3579 closed

[2021-08-17 05:55] gai6948 commented on #632
Getting the same issue on Ubuntu 20.04.2 using package V1.8.3

[code]

[2021-08-17 06:24] SteRoh opened #3962 "conan package recipe"
**Is your feature request related to a problem? Please describe.**
Hi together,
I'm wondering why there is no conan package available for fluent bit?
Nowadays we are working heavily with conan as a package manager for our C++ projects, and it would be awesome to use fluent bit in a easy and common way in our CI/CD. :)

**Describe the solution you'd like**
Provide a suitable package recipe and uplo

[2021-08-17 06:31] itskannanraj commented on #632
Fixed the issue using custom build

[2021-08-17 07:23] sharkymcdongles commented on #3579
Reopen

[2021-08-17 08:45] macktab commented on #3730
Same error on latest version:
`[root@laptop tmp]# journalctl --version
systemd 248 (v248.7-1.fc34)
+PAM +AUDIT +SELINUX -APPARMOR +IMA +SMACK +SECCOMP +GCRYPT +GNUTLS +OPENSSL +ACL +BLKID +CURL +ELFUTILS +FIDO2 +IDN2 -IDN +IPTC +KMOD +LIBCRYPTSETUP +LIBFDISK +PCRE2 +PWQUALITY +P11KIT +QRENCODE +BZIP2 +LZ4 +XZ +ZLIB +ZSTD +XKBCOMMON +UTMP +SYSVINIT default-hierarchy=unified
(failed reverse-i-search

[2021-08-17 10:58] thodquach commented on #3873
I met the same problem with fluenbit 1.7.x

[2021-08-17 12:31] tporeba opened #3963 "Tail plugin sometimes reads first line incorrectly after file rotation"
Sometimes after log rotation the first line in file is not read correctly - looks like it is read starting from some non zero offset.

Unfortunately the effect seems to be random, I do not have a way to reproduce it for now.
It happened on 9 messages out of 3 million processed so far.

Example log message in input file (obfuscated, sorry). This was the first line in that file.
[code]
The same mess

[2021-08-17 13:07] carsten-langer commented on #3944
We also have the same problem which started the minute we upgraded from 1.8.2 to 1.8.3, i.e. we have the very close time correlation (few minutes) between the version change and the beginning of this issue.
We use Ubuntu 18.04 LTS.

[2021-08-17 15:03] bharatnc opened #3964 "does storage buffering apply to all INPUTS"
I'm trying to understand if the storage buffering explained in the docs: https://docs.fluentbit.io/manual/administration/buffering-and-storage is applicable to all types of inputs & will the bufferning mechanism be the same?

For example, I'm using a tcp INPUT:

[code]

Will the buffering work the same way with all inputs and all settings available under https://docs.fluentbit.io/manual/administra

[2021-08-17 16:39] nvtkaszpir opened #3965 "in_serial not processed under 1.8.3"
## Bug Report
can not get in_serial messages into a pipeline, they are read by plugin but after that nothing happens.

**Describe the bug**

**To Reproduce**
td-agent-bit.conf
[code]
example log lines `root@kronox:/etc/td-agent-bit# cat /dev/ttyACM0`:
[code]

**Expected behavior**
stdout  showing messages with 'myserial' tag
stdout showing messages with 'myrandom' tag

**Actual behavior**
stdout s

[2021-08-17 18:21] maiconbaumx commented on #3944
Same problem here. =]

[2021-08-17 19:07] KLForsythe opened #3966 "cloudwatch_logs connection initialization error in versions 1.7 and 1.8 (1.6.10 works fine)"
## Bug Report

**Describe the bug**

I have configured my output to send to cloudwatch_logs, however, I am getting the following errors:
[aws_client] connection initialization error
[output:cloudwatch_logs:cloudwatch_logs.0] Failed to create log group

I'd appreciate any help in figuring out what the problem is.

**To Reproduce**
- Steps to reproduce the problem:
Use docker-compose and configurati

[2021-08-18 00:30] #3943 closed

[2021-08-18 05:45] d2e opened #3967 "fluentbit on windows crashing while sending log to td-agent"
## Bug Report

**Describe the bug**

I am using latest version of fluentbit on windows and td-agent on Linux.

As soon as fluentbit try to send any log event to td-agent, Its crashing.
I couldn't find any thing pointing to crash in log.
When i use the same setup of fluentbit on linux, its working absolutely fine.
Windows is enterprise server 2016

**Screenshots**

---------------------------
fluen

[2021-08-18 06:19] ai-denlim commented on #3328
still an issue in 1.8.2

[2021-08-18 07:38] shalevutnik commented on #2840
This issue is preventing using the S3 output plugin. The current workaround to use IMDSv1 is a security breach. Do you have an ETA to have it resolved?

[2021-08-18 12:11] ujjwalgarg1995 opened #3968 "Fluent Bit restarts if a json message has large number of keys"
## Bug Report

**Describe the bug**
Fluent Bit restarts if a json message has large number of keys.

Message: {"message":"DDP connection failed.","timestamp":"2021-08-03T13:33:23.413Z","level":"error","context":{"0":"N","1":"e","2":"t","3":"w","4":"o","5":"r","6":"k","7":" ","8":"e","9":"r","10":"r","11":"o","12":"r","13":":","14":" ","15":"w","16":"s","17":"s","18":":","19":"/","20":"/","21":"d",

[2021-08-18 12:50] KLForsythe commented on #3966
Update: Based on this issue https://github.com/fluent/fluent-bit/issues/2895 I tried version 1.6.3 and version 1.6.10, and found that, with those 2 versions,fluent-bit was able to connect to AWS.

Sending logs to cloudwatch still caused errors, but:
` logger  [2021/08/17 20:38:47] [error] [output:cloudwatch_logs:cloudwatch_logs.0] Could not find sequence token in response: {"rejectedLogEventsInfo"

[2021-08-18 17:20] PettitWesley commented on #2840
@shalevutnik Yes, I understand this is very important, but I am stretched very thin lately. Unfortunately I can't give a promise any exact ETA yet but I have gotten someone from my team assigned to start work on this soon.

[2021-08-18 17:21] KLForsythe commented on #3966
Update:

On further investigation, the {"rejectedLogEventsInfo":{"tooOldLogEventEndIndex":1}} error response from AWS Cloudwatch
is related to #3640 - and a fix exists, but only on later versions.

So, using an older version of fluent-bit will not address the issue, in order to send logs successfully to Cloudwatch, a fix for the connection initialization error.

However, it is interesting that @nb

[2021-08-18 18:18] nickbroon commented on #1379
This is probably a duplicate of #365

[2021-08-18 18:44] kstinster opened #3969 "Fluent-bit stuck after receiving 500 error from Loki"
## Bug Report

**Describe the bug**
After receiving  500 error  from Loki, fluent-bit stops sending log towards Loki.
There are no attempts from fluent-bit to send logs to Loki, checked it with tcpdump
After restarting td-agent-bit service, fluent-bit  starts sending logs as normal.

**To Reproduce**
We  can reproduce the problem by pushing high load to loki node, forcing to send 500 error.

** Lo

[2021-08-18 20:28] varuzam opened #3971 "out_elasticsearch: support for compression"
**Is your feature request related to a problem? Please describe.**
In case of huge amount of logs the network bandwith may be a bottleneck. In clouds the network traffic may not be free.

**Describe the solution you'd like**
It is nice to support for compression in elasticsearch output plugin.

**Describe alternatives you've considered**
Developing a service between fluentbit and elastic which com

[2021-08-18 20:47] rhavenn opened #3972 "Azure output blocks because fluentbit keeps trying to send logs that should be dropped"
## Bug Report
So, not quite sure if this is a bug, a feature request or I'm just doing something wrong. So, my apologies. The long and short is that for our data set v1.7.2 is the last one that works without either crashing or hanging the td-agent-bit process or causing Azure to block all of our input for a time for all logs after 10 - 20 minutes.

The system is a VM in Azure that's our central sy

[2021-08-19 00:54] bjtucker commented on #3944
Same problem here. centos 7, connecting to graylog.

[2021-08-19 01:07] bjtucker commented on #3944
In our case, dns resolution from the command line to the hostname that was failing dns lookups was working just fine. As a diagnostic and stopgap fix, we tried putting an entry in the /etc/hosts file directing the hostname that fails lookup to its proper ip, and that worked.

With the host file entry in place, td-agent-bit starts up fine and does its job.

So... what is going wrong with getaddrinf

[2021-08-19 01:16] Fullplate commented on #3938
@agup006 I confirmed that the "auto flush" function isn't an issue -- I disabled it completely and was still able to reproduce.

Here is a minimal reproduction of the issue:
- create 2 containers, which results in 2 log files being tailed
- in container #1, log a 10MB line which will be split into many partial lines and take seconds to process
- while partial lines are being processed, log somethi

[2021-08-19 01:20] bjtucker commented on #3944
I'm not too familiar with this codebase, so forgive me if this is the wrong direction, but I did a quick search for getaddrinfo
https://github.com/fluent/fluent-bit/search?q=getaddrinfo

and found this file, which appears to have been touched recently.
https://github.com/fluent/fluent-bit/blob/master/src/flb_network.c

I do see several recent changes in the file that look like they're related to n

[2021-08-19 01:46] #3613 closed

[2021-08-19 01:55] panaji commented on #3468
unstale

[2021-08-19 05:00] ujjwalgarg1995 commented on #3968
@edsiper can you please help me with this?

[2021-08-19 06:59] tlamr commented on #3778
The latest crio multiline parser wors for us, thanks!

[2021-08-19 06:59] #3778 closed

[2021-08-19 07:16] eagle4567 opened #3975 "zero new files found on path for container logs"
## Bug Report

##[input:tail:tail.0] 0 new files found on path '/var/log/containers/*.log'

I set up logging of kubernetes with output to splunk. I see this in debug:

[2020/07/22 17:02:21] [debug] [input:tail:tail.0] scanning path /var/log/containers/*.log
[2020/07/22 17:02:21] [debug] [input:tail:tail.0] skip (invalid) entry=/var/log/containers/calico-node-tsft7_kube-system_calico-node-324fafed5

[2021-08-19 07:32] theboyisno-1 commented on #1707
@huanggze can you explain how did you solve this?

[2021-08-19 11:36] FraPazGal commented on #3816
Hello @nokute78,

Indeed, the compilation is working using `FLB_DEBUG=off` as of `v1.8.4`. Thanks for the fix!

Regards,
Francisco de Paz

[2021-08-19 12:01] Lumiond opened #3976 "Logs in UTF-8 with BOM: BOM is included in the first record"
## Bug Report

**Describe the bug**
Our logs in UTF-8 with BOM.
The BOM markup (\ufeff) is included on begin of the first record and I think it's bug (it breaks parsing in fluentd and we lose every first line in logs).

**To Reproduce**
Example content of the log file saved as UTF-8 with BOM:
[code]
Steps to reproduce the problem:
Run fluent-bit configured with tail input plugin and save the resul

[2021-08-19 12:56] Zandrael commented on #3355
This issue still persist with 1.7.9 (tested with 1M storage. total_limit_size)

[2021-08-19 14:05] rhavenn commented on #3972
For reference. The logs were coming in via syslog-ng and I found that syslog-ng has a `sanitize-utf8` flag. Adding this cleaned up the data and fluent-bit seems to be happy now. I think it would still be beneficial to add some sort of "drop"/"skip" data if it's not "clean".

[2021-08-19 14:16] trainingUI opened #3977 "FluentBit stops tailing logs for AWS EFS storage class"
## Bug Report

**Describe the bug**
Application Pod is writing logs to a log file (input.log) which are persisted in EFS storage class.
FluentBit tails messages from log file (input.log) and writes them to another log file (fluent-output.log).
FluentBit is tailing logs from `input.log` and writing them to `fluent-output.log` for first few seconds and stops after that with out giving any error.

**

[2021-08-19 14:57] sharkymcdongles commented on #3579
/reopen

[2021-08-19 14:58] sharkymcdongles commented on #3579
/remove-label stale

[2021-08-19 16:19] pranavmarla commented on #1769
FYI, looks like #1771 was successfully merged, so this issue is presumably solved and can be closed.

[2021-08-19 19:23] JeffLuoo commented on #3355
@Zandrael Please share your configuration to reproduce.

[2021-08-19 21:31] PettitWesley commented on #3947
@arpantw

What is special about the code in your fork which is relevant to this issue? Its much easier for issues to work with the upstream code directly.

[2021-08-19 23:29] blc2 commented on #3944
Also seeing this on centos 7, we're using the official yum repo which only seems to have the latest package so unable to rollback to 1.8.2 easily.

[2021-08-20 01:22] #1769 closed

[2021-08-20 01:47] #3443 closed

[2021-08-20 03:23] mnp commented on #3082
This should not be closed; it's still a concern.

[2021-08-20 04:02] vlad-Berg408 commented on #2692
By chance do You know about the fix that has been done for fluentd

[2021-08-20 04:43] arpantw commented on #3947
Nothing special in the forked repo code, just that it has the issue reproducibility and its monitoring set up. Here is the commit link for that https://github.com/arpantw/fluent-bit/commit/2de9b9286ac1e01444f98fcb9cafcb2de1b811f9

[2021-08-20 07:26] savanipoojan78 opened #3978 "Connect to AzureEventhub Not Working"
## Bug Report

**Describe the bug**
we are sending kubernetes logs to azure eventhub through kafka Plugin currently we are moving from fluentd to fluenbit and for fluentd its working fine we are able to connect to azure eventhub(using kafka_buffered plugin) and send the logs to the eventhub but for fluenbit is giving this error

[code]
**Environment**
* Image: fluent/fluent-bit:1.5-debug
* Configu

[2021-08-20 08:15] yuranos opened #3979 "Ambiguous message when S3 output can't parse TAG"
## Bug Report
My config is as follows:
[code]
By rules in rewrite_tag are not suitable for some tags and as a result the tag is rewritten to:
`..kube-proxy-pqwgz_kube-system_kube-proxy-d67f25f48573cde41c2528f7ddb873705953fe633b7c7b7419704d6e57139a74`
Notice 2 dots in the beginning. It means that the TAG indices I was trying to use were not available.

As a result S3 output outputs a warning:
`[202

[2021-08-20 08:36] LuPan2015 opened #3980 "kafka rest proxy plugin not support HTTP Basic Authentication"
## Bug Report

**Describe the bug**
fluent bit 1.8.3
why kafka rest proxy plugin not support HTTP Basic Authentication?  only support SSL

I tried to configure as follows
[code]

As a result, I got the following error
[code]

[2021-08-20 08:58] Zandrael commented on #3355
Relevant Config Parts:

[code]
Test Scenario:

- Debug Mode on
- non reachable elasticsearch instance to force buffering
- storage.total_limit_size set to 64K
  -  input plugin tail creates a lot of empty chunks
[code]
   - real filesystem usage for affected input tail (tail.2) at this moment is about 196k, about 2 times greater than configured (64K)
   -  fluenbit currently has the value 37584 by

[2021-08-20 11:53] yurymuski commented on #3886
same issue for me
any workarounds besides restarting fluent-bit pods?

[2021-08-20 12:41] savanipoojan78 commented on #3978
It is resolved closing this don't mention double quotes in rdkafka.sasl.password

[2021-08-20 12:41] #3978 closed

[2021-08-20 13:37] JeffLuoo commented on #3355
@Zandrael Could you please set a 1G limit and clean up all the buffers before testing?

[2021-08-20 23:31] nokute78 commented on #3968
I can reproduce.

1. `fluent-bit -c a.conf`
2. `curl -d @json.log -XPOST -H "content-type: application/json" http://localhost:9880/json.log`

[json.log](https://github.com/fluent/fluent-bit/files/7024456/json.log)

a.conf:
[code]

[2021-08-21 01:28] nokute78 commented on #3968
I sent a patch https://github.com/fluent/fluent-bit/pull/3982.

[2021-08-21 01:38] justchris1 commented on #3676
I still see this behavior.  Please do not close.

[2021-08-21 01:47] #3774 closed

[2021-08-21 01:47] #3713 closed

[2021-08-21 01:47] #2950 closed

[2021-08-21 02:30] nijave opened #3983 "Sporadic SIGSEGV crashloop with k8s helm chart"
## Bug Report

**Describe the bug**

Sporadic SIGSEGV on pods using daemonset helm chart
[code]

**To Reproduce**
Deploy the helm chart `fluent/fluent-bit` (fluent-bit-0.16.2) with the following values
[code]

**Expected behavior**

All pods start successfully

**Screenshots**

![image](https://user-images.githubusercontent.com/384474/130307842-5c08fb2b-3e36-48cc-9bfa-233f65219b7c.png)
(so 1 pod h

[2021-08-21 05:09] AkaiNoCat commented on #1903
https://docs.fluentbit.io/manual/administration/backpressure

[2021-08-21 09:10] ogarcia commented on #3817
Bump!

[2021-08-21 12:40] nokute78 commented on #3816
https://fluentbit.io/announcements/v1.8.4/

v1.8.4 has been released and its mbedtls is v2.27.
This issue is fixed by v1.8.4.

[2021-08-21 12:40] #3816 closed

[2021-08-21 23:17] nokute78 commented on #3958
What is the data you sent ?
We need to sent a data which meets below spec.
https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1

We also support tcp input plugin.
`The tcp input plugin allows to retrieve structured JSON or raw messages over a TCP network interface (TCP port).`
https://docs.fluentbit.io/manual/pipeline/inputs/tcp

[2021-08-22 01:36] hossain-rayhan commented on #3917
This problem is getting interesting. I tested with the exact same setup as described in this issue. I also got the similar warning message `[ warn] [http_client] cannot increase buffer: current=4096 requested=36864 max=4096`.

However, fluent-bit was able to send logs successfully and did not crash. I kept it running for around 20 minutes with different payloads. I tested with the same image `flue

[2021-08-22 01:47] #3773 closed

[2021-08-22 01:58] kishaningithub commented on #3827
notstale

[2021-08-22 02:23] rittneje commented on #3671
Not stale.
@edsiper @koleini @nokute78 Please review the linked PR.

[2021-08-22 08:51] Jell commented on #3433
Still an issue... Would it be possible to return the keys are strings instead of integers if it contains an nil index? For our use case it would be OK if the JSON got mingled, as long as it's still valid JSON

[2021-08-23 00:40] nbertram commented on #3966
You're probably using a 64 bit build from docker hub, while I'm using a custom 32 bit build because I'm targeting the raspberrypi3 (non-64) target. That may well have something to do with it. Though of course 64 bit should've been working prior to my patch, and my patch probably didn't change the behaviour on 64, only made 32 behave the same.

Have you tried tracing the traffic to Cloudwatch to se

[2021-08-23 01:46] #3776 closed

[2021-08-23 01:46] #3495 closed

[2021-08-23 01:46] #3268 closed

[2021-08-23 02:01] rittneje commented on #3763
Not stale.
@edsiper @koleini Please review the linked PR.

[2021-08-23 06:26] ogarcia commented on #3176
Bump

[2021-08-23 06:47] patrick-stephens commented on #3268
Looks to be in a release, need to confirm

[2021-08-23 06:54] Zandrael commented on #3355
Hi,

the test with 64K was only to be able to reproduce it with mostly empty chunks (4K size) in a appropriate amount of time.

In daily business, the config option is often set to 1G and sadly, the same behavior could be noticed. With 4 configured tail-Plugins and 4 different output-plugins (different es-indices for different tails), and with a total size (sum of all storage.total_limit_size) of

[2021-08-23 07:53] elruwen commented on #3014
@agup006 could you reproduce it locally?

[2021-08-23 08:00] surajthakur opened #3986 "Es plugin as output for Humio stopped working after updating fluent bit version 1.8.4"
Hi Team,

We updated fluent-bit version from 1.7.4 to 1.8.4( latest coming from apt repo).  After the update the agent start giving error
[code]
We are running OS - Debian 9

The fluentbit config: output plugin config is  as below
[code]

Any ideas what could be wrong ?
We have rolled back to 1.7.4 and now it's working fine.
It was hard to find old version of fluentbit in apt repo neither the docu

[2021-08-23 10:37] BertelBB commented on #2692
It is located in a separate project that was maintained by Microsoft.
See here: <https://github.com/microsoft/fluent-plugin-azure-storage-append-blob/blob/master/lib/fluent/plugin/out_azure-storage-append-blob.rb#L212>

[2021-08-23 11:17] elcreator commented on #3933
yes as I mentioned

[2021-08-23 11:18] elcreator commented on #3933
but it was compiled successfully without disabling this plugin

[2021-08-23 11:34] JonZeolla opened #3987 "Not all versioned tags are "Releases" on GitHub"
## Bug Report

**Describe the bug**
Not all release versioned tags are "Releases" on GitHub.

**To Reproduce**
[Releases](https://github.com/fluent/fluent-bit/releases) are sometimes only tags, not releases.  This causes issues with projects that use the GitHub API to get the latest stable release of a project.

Perhaps adding something like [this](https://github.com/SeisoLLC/easy_infra/blob/main/

[2021-08-23 12:43] utkmishr opened #3988 "Memory footprint of fluent-bit keeps on increasing even after Mem_Buf_Limit is reached"
## Bug Report

**Describe the bug**
I am running fluent-bit (1.8) in a pod to collect log records from other applications. I have set Mem_Buf_Limit on the input plugin as 5MB.  I am pushing data from http output plugin to the remote server. I am observing that memory footprint of fluent-bit keeps on increasing when upstream connectivity is lost. Looks like fluent-bit is not respecting the Mem_Buf_

[2021-08-23 12:44] KLForsythe commented on #3966
@nbertram I am also targeting raspberrpi (3B+), which is a 32-bit build.   The docker builds provided by fluent/fluent-bit include a build specifically for arm32v7, which is among those I've tested and still encountered the "connection initialization error".

Before building your own custom 32 bit build, did you try the fluent-bit docker builds for arm32v7?  It sounds like a custom build for the r

[2021-08-23 16:13] mike-england opened #3990 "Monitoring HTTP Server Stops"
I've got logging working fine under a kubernetes cluster, but I'm trying to enable prometheus metrics working and it seems the http server keeps dying. It starts fine, but dies and I can't seem to get any log information to diagnose any further.

In this case, I'm running kubernetes 1.22 (bare metal, on premise), I've tried fluent bit 1.8.4 (and 1.8.4-debug), and also 1.3.9 as I have that working

[2021-08-23 18:38] meidlinga opened #3991 "Add unix domain socket input plugin"
**Is your feature request related to a problem? Please describe.**

Unix domain sockets have less overhead, compared to loopback localhost connections. This would be especially useful in situations where no static connection is possible. While fluentd seems to support this, fluentbit only provides tcp.

**Describe the solution you'd like**

I would find it useful to have an input plugin aeqivalent

[2021-08-23 18:53] tonychoe commented on #3886
We're having the same issue with FluentBit v1.8.3.

[code]

[code]

Kubernetes versions
- v1.19.7
- v1.20.8

The error come up gradually and no logs are collected by FluentBit eventually. We had to restart the FluentBit Pods.

[2021-08-23 22:11] nbertram commented on #3966
@KLForsythe we're using the "essentials" deployment type, so I couldn't run a sidecar fluent-bit container. The off-the-shelf binary builds for Raspbian didn't run for me on the Balena Debian image (just bombed with a bus error, probably minorly different shared libs), so I was forced to do a build (which I did off master) and copy the binary in.

I'll have a look at the upstream docker build thou

[2021-08-24 01:35] LuPan2015 commented on #3980
@edsiper can you please help me with this?

[2021-08-24 01:46] #3794 closed

[2021-08-24 01:46] #3792 closed

[2021-08-24 01:47] rittneje commented on #3851
Not stale.

[2021-08-24 02:39] kishaningithub commented on #3848
Notstale

[2021-08-24 04:29] agup006 commented on #3014
@elruwen I have a local repo of an issue that has very similar behavior (High EPS and events get stuck) to this and trying to debug that one first prior to jumping into this one. I do appreciate the easy repro steps though that should hopefully make it easy to see if it is fixed for this use case

[2021-08-24 06:31] wvalianty commented on #3901
I encountered the same problem 1.8.3

`
 [FILTER]
        Name            multiline
        Match           *
        multiline.key_content  message
        multiline.parser java-error-multiline-parser

 [MULTILINE_PARSER]
        name          java-error-multiline-parser
        type          regex
        multiline.key_content message
        flush_timeout 50000
        rule "start_state" "/^[0-

[2021-08-24 07:43] triptesh1212 opened #3993 "td-agent-bit Tail Input Plugin"
## Bug Report

**Describe the bug**

- Failed to send logs from one VM (using td-agent-bit / fluentbit) to another VM (using td-agent / fluentd)

- sending VM (using td-agent-bit / fluent-bit)

  [INPUT]
       name tail
       path  /var/log/input/*.log

  [OUTPUT]
       name tcp
       match *
       host  10.0.1.193
       port   8888

- receiving VM (using td-agent / fluentd)

    source

[2021-08-24 08:18] joenzx opened #3994 "When the amount of logs is large, multi-line parsing may fail."
## Bug Report

**Describe the bug**
I tested a 30M log file, most of which had multiple lines per log, and using multiline.parser, a multi-line log was sometimes parsed into two or three lines

![截图](https://user-images.githubusercontent.com/42016493/130579587-4d3bf0e3-ecc4-458a-b669-7adf271350ab.png)
If it is correct, it should be shown as one log in the figure, but it is actually parsed into two

[2021-08-24 08:33] joenzx commented on #3994
![image](https://user-images.githubusercontent.com/42016493/130584553-73d27363-112e-4434-acd5-471353d30173.png)

[2021-08-24 08:39] eugenebnd commented on #3730
Isn't it the same issue as in [#2998](https://github.com/fluent/fluent-bit/issues/2998) ?

[2021-08-24 08:43] joenzx commented on #3994
[java.zip](https://github.com/fluent/fluent-bit/files/7037804/java.zip)

[2021-08-24 08:44] joenzx commented on #3994
[log.zip](https://github.com/fluent/fluent-bit/files/7037808/log.zip)

[2021-08-24 08:47] joenzx commented on #3986
I have encountered this error, it is a problem with es, check whether your es cluster is normal @surajthakur

[2021-08-24 11:55] surajthakur commented on #3986
@joenzx , but how is it working fine by downgrading the version ?

[2021-08-24 13:34] jkxplg opened #3995 "Fluent Bit HTTP output data integrity"
## Bug Report

We have a instance sending data using HTTP output plugin. If the receiver is temporary down, data is lost and fluent bit is getting stuck.

Steps to reproduce the problem:
- Collect live log data using tail input plugin. The log should have a rotation mechanism.
- Send data to file output plugin.
- Send data using http output plugin to some receiver.
- Stop the receiver for 1 minute

[2021-08-24 13:46] JeffLuoo commented on #3947
With the same configuration, I got this result on my machine:

<img width="1887" alt="Screen Shot 2021-08-24 at 9 45 43 AM" src="https://user-images.githubusercontent.com/40296741/130628016-41188dce-d818-4de4-ab33-fd31d4dce853.png">
<img width="1886" alt="Screen Shot 2021-08-24 at 9 44 58 AM" src="https://user-images.githubusercontent.com/40296741/130628020-d4a8b58a-0327-4d49-b198-d6d3b21200fb.png

[2021-08-24 13:53] JeffLuoo commented on #3355
Please share the logs (with debug log_level) of fluent-bit with 1G configuration and ran into the issue. The logs will provide me some useful information on tracking the counter issue.

[2021-08-24 14:03] itshikanov commented on #3901
Some problem. fluent/fluent-bit:1.8.4
[code]

Randomly break the multiline
Result:
[code]

[2021-08-24 14:08] ManirajDeivendran commented on #3443
Hi @edsiper,
Please provide your review for this PR #3591 to resolve this issue on ppc64le.
Thanks in advance.

[2021-08-24 14:21] gautampunhani commented on #3947
@JeffLuoo So, the output started processing once the inputs finished at 19:40

[2021-08-24 14:28] JeffLuoo commented on #3947
@gautampunhani Yes. From the graph, the output started processing logs when the input started ingesting data but in a very low rate. I am guessing this is because the fluent-bit allocates most of the resource for the input plugin. But another issue is the gap in ingesting data, I am not seeing any gap in my graph.

[2021-08-24 14:56] JeffLuoo commented on #2950
/unstale

[2021-08-24 16:40] pranavmarla commented on #2823
bump

[2021-08-24 17:05] kishaningithub commented on #3848
I feel this utility function can be used to implement this

https://github.com/fluent/fluent-bit/blob/85a69a11e522f95291f6d521f44ce64069fe5cd1/src/flb_utils.c#L1024

[2021-08-24 18:29] jessejlt opened #3996 "kubernetes filter running on a host, not in a Pod"
## Bug Report

**Describe the bug**
I'm trying to use the Kubernetes filter from a fluent-bit process installed on the host, not in the context of a Pod, and upon startup fluent-bit emits the error message

After looking through the source, I see that this occurs if `/var/run/secrets/kubernetes.io/serviceaccount/namespace` is not found, which should be there in a Pod but not for a host. I then tri

[2021-08-24 18:40] KLForsythe commented on #3966
@nbertram Thanks for taking a look.  I'm working with balena's microservices deployment, so separate containers are definitely the preferred solution.

I have not tried building from master and copying the binary in as you did.  I may try that.   At the moment, I'm using the old version of fluent-bit (1.6.10) which can connect to AWS and uploading to S3 instead of cloudwatch (since it doesn't have

[2021-08-24 18:57] heitorPB commented on #3837
Is this issue fixed and released?

[2021-08-24 19:45] itshikanov commented on #3840
I'm check multiline-2 and master branch, build from source. The Problem exist.
I'm get some result like here:
https://github.com/fluent/fluent-bit/issues/3901#issuecomment-904671242

[2021-08-25 00:29] hossain-rayhan commented on #3917
Hi @edsiper, I tested this with multiple workload size. it can easily  handle a lot of 2MB to 5 MB/second. However it starts crashing randomly when the the load is increased to ~10MB/second. I used the exact same config and data generator from this issue. My environment was Amazon Linux 2.

I believe something is wrong with our core networking module.

[code]

[2021-08-25 01:23] #3994 closed

[2021-08-25 01:23] joenzx commented on #3994
.

[2021-08-25 01:47] #3625 closed

[2021-08-25 03:29] rittneje commented on #3854
Not stale.

[2021-08-25 05:04] utkmishr commented on #3988
[logs_fluentbit_mem.txt](https://github.com/fluent/fluent-bit/files/7043793/logs_fluentbit_mem.txt)
^^ attached fluent-bit logs. Might be helpful in debugging.

[2021-08-25 05:26] Crevil commented on #3986
We see the same. Upgrading from 1.7.9 to 1.8.0 breaks ingestion in Humio. (Same with versions up until 1.8.4)

The only change I can see that _might_ be related is https://github.com/fluent/fluent-bit/pull/3788 which touches the `es` output.

[2021-08-25 06:04] asthomasdk commented on #3625
Has no-one else had problems with this?
Surprised it is just being closed for inactivity.

[2021-08-25 10:55] wlawton commented on #3056
Me too.

[2021-08-25 15:30] Linutux42 opened #4004 "Grep filter does not support doing regex on integers fields"
## Bug Report

**Describe the bug**
Hello,

I have been trying to exclude logs with the Grep filter on an integer field but apparently it doesn't work with integers.
I tried the exact same Grep regex but with a type string and it worked instantly.

**To Reproduce**
[code]

**Expected behavior**
Only those logs should be printed:
[code]

**Environment**
* Version used: 1.8.4

[2021-08-25 16:32] gautampunhani commented on #3947
@JeffLuoo The gap in ingestion in graph is from a previous run, the prometheus data was not cleaned. It was not part of the same run

[2021-08-25 22:44] hossain-rayhan opened #4005 "Remove noisy debug log in nest filter"
### Debug Issue

**Describe the Issue**
While setting FLB_LOG_LEVEL to debug, it prints thousands of noisy debug logs from the nest filter. It gets really tough to find the actual debug message which customer is looking for.

** Possible Fix**
Remove this 3 lines: https://github.com/fluent/fluent-bit/blob/master/plugins/filter_nest/nest.c#L499-L501

**To Reproduce**
Run any fluent-bit image settin

[2021-08-26 06:25] hfczgo opened #4006 "fluent-bit-1.8.4 SIGSEGV in flb_sds_destroy"
## Bug Report

**Describe the bug**
fluent-bit failed to collect logs after starting for a period of time  when using tail input plugin.

**To Reproduce**
There is no easy way to reproduce it, it appears occasionally

**Expected behavior**
Fluent Bit sends data normally

**Screenshots**

**Your Environment**
* CentOS Linux release 7.2.1511
* Version used: v1.8.4
* Configuration:
[code]
**Additiona

[2021-08-26 13:01] tejunior opened #4007 "Linux packages not working for redhat/centos (aarch64 / arm64v8)"
## Bug Report

**Describe the bug**

(re-opening the issue https://github.com/fluent/fluent-bit/issues/3584)
I'm getting an error installing FB in Centos 7/8 and RedHat. I have 2 issues:

1. Package manager is not working properly;
2. Trying the manual installation (dowloaded from fluent-bit repo), the binary didn't work.

**To Reproduce**
Package error:
- Start a Centos 7/8 or RedHat linux instan

[2021-08-26 15:39] raonelakurti opened #4009 "Fluent-bit(td-agent-bit) is not able to read two inputs and forward to fluentd(td-agent)."
## Bug Report

**Flunet-bit(td-agent-bit) is not able to read multiple inputs and send it to fluentd(is running in different VM). When I have single input and single output I'm able to forward it to fluentd(td-agent)**

**To Reproduce**
[code]
- **Fluent-bit logs:**
[code]
- **Fluentd logs:**
[code]

**Expected behavior**

**Your Environment**

* Version used:
   td-agent-bit latest version
   td-

[2021-08-26 20:04] srbhklkrn opened #4010 "rewrite_tag filter does not match regex on logs emitted by winlog plugin"
## Bug Report

**Describe the bug**
I'm using `winlog `input plugin and want to filter only specific `Event ID`s, to filter these IDs I'm using `rewrite_tag` filter plugin but it looks like `rewrite_tag` is not able to detect the `Event ID` field from the win logs and hence failed to retag.

**To Reproduce**
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
 * Use `winl

[2021-08-27 01:10] i11 opened #4011 "HTTP input plugin doesn't handle json stream payloads"
## Bug Report

**Describe the bug**
HTTP input plugin doesn't handle json stream (json lines) payload properly. Changes introduced in version 1.7.5 essentially broke it.
This is how it used to work until 1.7.5: https://asciinema.org/a/375571. Starting from 1.7.5. only the first json line from the payload is parsed.

**To Reproduce**
[code]

[code]

**Expected behavior**
All json lines should be pa

[2021-08-27 09:17] andreas-schroeder opened #4013 "Segfault in cb_modifier_filter"
## Bug Report

Fluentbit segfaults on some JSON inputs. I'm opening this bug report as followup to this issue: https://github.com/aws/aws-for-fluent-bit/issues/224

**To Reproduce**

I'm not entirely sure about what is causing the problem, and I don't have a local setup available to try to reproduce it. However, the segfaults stopped once we changed the field names in the logs from a dotted notati

[2021-08-27 13:22] mitesh-devops opened #4014 "Fluent-bit logs skip issue : scan_blog add(): dismissed"
I would request some help for following fluent-bit logs which is causing logs skip for our many apps.It works correctly for few hours of the restart of fluent-bit.

**logs 1:**

[code]
**frequency:** around 15-20 entries every 5 minutes when container starts and after few hours, it's the only logs which fluentbit prints and all logs get stopped.

**logs 2:**
[code]

**frequency:** very few times

[2021-08-27 14:45] gmintoco opened #4021 "Ship Fluentbit Internal Logs"
**Is your feature request related to a problem? Please describe.**

We would like to be able to see/ship fluentbit's logs when running as a windows service. As far as I can see there is no way to do this currently.

**Describe the solution you'd like**

Something like an option for fluentbit to write its own logs to windows eventlog could be useful.

Then it could just pick its own logs up with an

[2021-08-28 01:46] #3829 closed

[2021-08-28 01:46] #3819 closed

[2021-08-28 01:46] #3769 closed

[2021-08-28 01:46] #3744 closed

[2021-08-28 01:46] #3259 closed

[2021-08-28 01:59] rittneje commented on #3846
Not stale.

[2021-08-28 01:59] rittneje commented on #3845
Not stale.

[2021-08-28 05:05] gfrankliu commented on #3431
refresh the ticket to remove stale label.

[2021-08-28 07:05] Crevil commented on #3986
That indeed looks to be the reason.

The reasoning for making that change makes great sense I think, so I guess we should direct this issue to Humio and their compatible elasticsearch API instead. I'll open an issue with them to get their input.

[2021-08-28 23:01] nokute78 commented on #4013
How many number of elements do you send ?
If the elements of map is greater than 128, filter_record_modifier will read invalid memory.

Note : Similar issue #3968. I sent a patch #3982 (is not merged yet)

[2021-08-29 01:47] #3673 closed

[2021-08-29 07:35] andreas-schroeder commented on #4013
This might indeed explain why I did hit this issue and why it disappeared. The log statement definitely surpassed the 128 top level fields on occasion. With the change they always stay below 128 fields.

Good to know that this limit currently exists, I have workloads that run at risk to hit that limit in the future.

[2021-08-29 12:36] nokute78 commented on #4010
In this case, the data type of `"EventID"=>4688` is int.
`rewrite_tag` is for string value.

I sent a patch #4025 to add new plugin to convert data type for this case.
e.g. filter_grep also expects incoming value is string.

[2021-08-30 09:23] noly commented on #3383
Avoid stale. Hopping for any update from fluent bit team :)

[2021-08-30 10:56] tlamr commented on #3886
We hit this with cri-o and k8s 1.19.8 on EKS.

[2021-08-30 13:14] djsly commented on #3892
still present

[2021-08-30 13:43] danilnich commented on #3817
I have exactly the same problem!

[2021-08-30 14:41] ohdearaugustin commented on #3328
/remove stale This is still an issue in 1.8.4

[2021-08-30 14:43] ohdearaugustin commented on #3969
This problem sounds similar to #3328.

[2021-08-30 16:12] edsiper opened #4026 "Windows Exporter Metrics"
This enhancement request is filed to track the progress of the implementation of the _Windows Exporter Metrics_ input plugin. This plugin will replicate the functionality from [Prometheus Windows Exporter](https://github.com/prometheus-community/windows_exporter) .

Assigned to @leonardo-albertovich (Calyptia)

[2021-08-31 01:47] #3700 closed

[2021-08-31 01:58] sedlund commented on #2998
Remove kale

[2021-08-31 05:46] furstenbergs commented on #1935
Seeing the same issue on v1.8.3.

[2021-08-31 06:20] edsiper commented on #1935
assigned to @nokute78

[2021-08-31 07:00] ujjwalgarg1995 opened #4031 "Grep filter unable to filter out records"
## Bug Report

**Describe the bug**
We are using to filter out records (json) which has more than 120 keys. To accomplish that we have a regular expression ([^:]:){120}([^:]), it count number of colons in the message.

[code]
This plugin doesn't filter out any message .

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
Sta

[2021-08-31 09:02] fyxemmmm opened #4032 "how to map out the cri log?"
[PARSER]
        Name cri
        Format regex
        Regex ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<message>.*)$
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
        Decode_Field_As    json        message

when I use regex,
I want to map out the message field, but it does not work, how can I do for that?

[2021-08-31 14:02] ciastooo commented on #653
For the record, I was able to do it with [record accessor](https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/record-accessor):
[code]
So it's possible now and this issue could be probably closed

[2021-08-31 14:04] ciastooo commented on #4032
@fyxemmmm do you use this `cri` parser in your `[INPUT]`? An example of this could be:
[code]

[2021-08-31 17:19] zhonghui12 commented on #3886
Hi @edsiper, is there any update on this issue?

[2021-08-31 17:51] zhonghui12 commented on #2610
@edsiper could we have any update on this one? We have other customers also face this issue and hope to get a fix on this one.

[2021-08-31 19:28] pranavmarla opened #4033 "Multiline Parser: Custom parser cannot replicate built-in CRI parser?"
## Bug Report

**Describe the bug**
As per [this multiline parsing doc](https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/multiline-parsing), Fluent Bit now comes with some built-in multiline parsers and also gives us the ability to create our own custom multiline parsers.

Unfortunately, it looks like the custom parser functionality is not as powerful as the built-in parsers,

[2021-08-31 20:14] pranavmarla commented on #1316
FYI, although this issue is closed, it only appears to be partially solved by the current multiline parser capability -- specifically, although the built-in CRI parser can correctly parse CRI multiline logs, any custom multiline parser that you create will not be able to do the same thing. So, if you cannot use the built-in parser for whatever reason, you are out of luck.

In other words, as of no

[2021-08-31 20:14] pranavmarla opened #4034 "Multiline Parser: Built-in CRI parser does not work in multiline filter"
## Bug Report

**Describe the bug**
The [built-in CRI multiline parser](https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/multiline-parsing) only works when it is part of the _tail_ input plugin. If we add it later, as part of a [multiline filter](https://docs.fluentbit.io/manual/pipeline/filters/multiline-stacktrace), it doesn't work even though I believe it _should_ in theor

[2021-08-31 21:02] lubingfeng commented on #3947
The latest fluentbit version is 1.8.5.

[2021-08-31 21:20] tlefevre commented on #3687
We're experiencing this issue as well.

[2021-09-01 01:49] #3666 closed

[2021-09-01 07:53] stevehipwell commented on #3886
@edsiper is `v1.8.5` (or `v1.8.4`) expected to resolve this?

[2021-09-01 09:25] doge95 commented on #3773
@liuchintao were you able to resolve this? I encountered the same issue ...

[2021-09-01 09:38] liuchintao commented on #3773
I work around it by appending my fluentd host and ip to /etc/hosts.

I know it's not the best way to resolve it : (

[2021-09-01 10:03] furstenbergs opened #4035 "fluent bit randomly exit with code 136"
## Bug Report

**Describe the bug**

I've deployed fluent-bit via the official helm cart to a K8s cluster running on EKS. At completely random times I see that one of more fluent-bit pods will go into an error state or CrashLoopBackOff. Looking at the pod logs I do not see anything that provides more information around why this happens. When I describe the pod, I see the pod exited with error 136.

[2021-09-01 10:16] doge95 commented on #3773
@liuchintao thanks a lot for the quick reply! fluent/fluent-bit:1.7.9-debug image doesn't even work for me ...

[2021-09-01 12:53] mierzej91 commented on #3875
Thanks @nokute78, do you know when your patch will be release with official version?

[2021-09-01 14:08] pranavmarla commented on #4033
FYI @edsiper: When you have time, would you mind providing an ETA for when the custom multiline parser functionality will be on par with the built-in parsers?

[2021-09-01 14:09] pranavmarla commented on #4034
FYI @edsiper

[2021-09-01 16:15] paulden commented on #4035
I had exactly the same issue with version 1.8.3 where one or two pods per cluster were randomly restarting with exit code 136. Other pods (about 10 per cluster) would be fine though.

I found no useful log in the failing fluent-bit containers, I tried bumping the version to 1.8.5 and so far I have not seen the issue coming back but I'm monitoring them closely.

[2021-09-01 16:25] chakratn commented on #1294
Can some one please let me know in which version this fix will be available? on 1.8.4, wildcard* issue is still seen.

[2021-09-01 16:29] triptesh1212 opened #4037 "Logs getting repeated when huge load (20000 logs) sent at a time at td-agent"
Hi, I am trying a send logs from td-agent-bit to td-agent and then using 'exec' output plugin, trying to see logs on Kibana Dashboard. When I sent 5000 logs at a time, it works fine but when I send 20000 logs at a time, the repeated logs are being displayed on Kibana Dashboard.

**Output Plugin for td-agent-bit :**

[code]

**td-agent configuration :**

[code]

I traced the .log file at td-agent a

[2021-09-01 20:00] psoaresgit opened #4038 "out_s3 memory usage since adding data ordering preservation feature"
## Bug Report

The commit (8cd50f8) via #3842 seems to occasion a runaway increase in memory usage.

Using `preserve_data_ordering false` does not prevent the memory usage increase.

I've reverted 8cd50f8 manually, and, with HEAD at 2696f7c via #3805, I don't see the increase in memory usage.

**Screenshots**
![ECS Memory Utilization metrics screenshot](https://user-images.githubusercontent.com/92

[2021-09-01 20:03] kamaleshtangudu commented on #4035
Happening to me on AWS Fargate containers running `amazon/aws-for-fluent-bit:2.19.0`. They are  going down with `exitCode=136`, the image is internally using `fluent/fluent-bit:1.8.3` . It goes down without any error in the logs. Need to know what the exit code 136 means? Need logs when this error occurs.

[2021-09-01 20:30] PettitWesley commented on #4038
@psoaresgit Since this issue might be very AWS specific, can you please open an issue at our distro and reference this one? That will be used for our tracking purposes.

https://github.com/aws/aws-for-fluent-bit

[2021-09-01 20:52] Crevil commented on #3986
I have spoken to Humio support and they have provided the following answer. Slightly redacted.

[code]

I'm unsure about their proposal to downgrade the elasticsearch plugin. Does any one know if that is doable at all?

[2021-09-01 21:42] girgen commented on #1613
Hi, this is indeed a problem still. I'm maintaining the FreeBSD port, and I now get
[code]

[2021-09-01 22:52] hossain-rayhan opened #4040 "FluentBit v1.7.9 to v1.8.0 jump introduces hangs and crashes for high throughput logs"
## Bug Report

**Describe the bug**
We are doing a performance test to send logs to Amazon Kinesis Firehose using the core `kinesis_firehose` plugin. We are sending logs at a rate of 3Mb/sec for 300 seconds where each record is ~1Kb. FluentBit versions v1.8.0 and higher seem to get stuck/crash. However older versions work fine and can send all the logs to Kinesis Firehose without any issue. We sta

[2021-09-02 02:54] krispraws commented on #4040
Attaching the fluent-bit log, fluent-bit binary (gzipped) and valgrind-generated core file (gzipped):
[vgcore.17332.gz](https://github.com/fluent/fluent-bit/files/7095630/vgcore.17332.gz)
[fluentbit_1.8.5.20210901.vgcore.17332.log](https://github.com/fluent/fluent-bit/files/7095632/fluentbit_1.8.5.20210901.vgcore.17332.log)
[fluent-bit.gz](https://github.com/fluent/fluent-bit/files/7095646/fluent-

[2021-09-02 03:41] krispraws commented on #4040
Relevant section of the log showing the stacktrace is pasted below. For this stack trace, the root cause is the same connection getting destroyed twice. My hypothesis is
1. flb_upstream (`create_conn()`) creates a new connection and adds it to the busy queue. No file descriptor is allocated to it at this point but the connection start time is set to the current time.
2. flb_upstream calls `flb_io_

[2021-09-02 03:57] wtchangdm opened #4041 "Launch 1.8.6 image but shows 1.8.5 on start"
## Bug Report

**Describe the bug**

This doesn't break anything, just fluent-bit provided the wrong version info

**To Reproduce**
- Rubular link if applicable: N/A
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

[code]

**Expected behavior**

Shows a correct version

**Screenshots**

N/A

**Your Environment**

* Version used: 1.8.6
* Configuration: `-i dummy -o std

[2021-09-02 04:01] krispraws commented on #4040
I don't have any experience with this codebase so I could be wrong about it all.
Some possible solutions:
- `flb_upstream.c::prepare_destroy_conn_safe()` - Check if a connection is valid and/or in the correct queue before trying to move it from one to the other. I need to think through exactly how.
- `flb_upstream.c::create_conn()` - Invalidate connection timeout before calling `prepare_destroy_co

[2021-09-02 05:02] krispraws commented on #4040
Another possible cause: https://github.com/fluent/fluent-bit/blob/02adc353d51b5b62e90e8a90358acb2ffeda3cc9/src/flb_upstream.c#L845  --> shouldn't this be `unlock`?

[2021-09-02 05:33] furstenbergs commented on #4035
I also upgraded to version 1.8.5 as mentioned by @paulden and for the past 18 hours, all pods have been running fine.

I Will keep a close eye on them but seems to be fixed in version 1.8.5

[2021-09-02 05:48] surajthakur commented on #3986
@Crevil, From some github issue i was able to get https://packages.fluentbit.io/debian/stretch/pool/main/t/td-agent-bit/td-agent-bit_1.7.4_amd64.deb
Is there any docs for correct direct download link and general format of the url  ?

Thanks

[2021-09-02 06:11] hossain-rayhan commented on #4040
I tested this. I believe this should be `pthread_mutex_unlock` and it did reduce some `Invalid memory read`. However, I am still getting the Segfault and the exact same number of `[error]` logs with and without this change. There are multiple errors I guess. As I don't have the stack trace, I cannot say if it fixes the real problem.

I used valgrind. With this change, I see as low as 11 `Invalid m

[2021-09-02 06:14] Crevil commented on #3986
Just got another update from Humio

[code]

We are running the same version of Humio currently.

I cannot help with the download URLs as we are using the Docker images of fluent-bit.

[2021-09-02 06:21] krispraws commented on #4040
I should have been clearer - the `lock` instead of `unlock` is not the primary cause. It is an additional issue that could potentially cause a deadlock. I did test with this change and a few other changes locally - I have not been able to eliminate all the segfaults yet.

[2021-09-02 06:28] surajthakur commented on #3986
Thanks for the update @Crevil , appreciate that.
We were also running using the docker images, but we also wanted to use fluenbit to collect the host based logs. So we had to install this on host as td-agent.

[2021-09-02 07:08] krispraws commented on #4040
I will also test with a net.connect_timeout value of 30 seconds instead of the default 10. 10 may be a little aggressive for the single worker mode since in that time, fluentbit must finish the dns lookup, tcp connection establishment, as well as the ssl handshake.

[2021-09-02 07:16] leoplo commented on #3393
Should this issue be opened again because of 9ead869 ?

Note for those interested by hardcoded path fixed, it has been committed in 1.8.0 and reverted in 1.8.1 so 1.8.0 can be suitable for some use cases.

[2021-09-02 07:47] rmarchei opened #4042 "Timeouts after upgrading to 1.8.5"
## Bug Report

After upgrading to `1.8.5` fluentbit time outs while connecting to fluentd:
[code]

Output is configured as:
[code]

`fluentd.service.consul` can be resolved without issues and it's even in `/etc/hosts`

Same behavior with `1.8.6`. Downgrading to `1.8.4` solves the issue

Everything is running on Ubuntu 20.04.3.
Fluentbit version: td-agent-bit 1.8.5
Fluentd version: td-agent 4.2.0-1

[2021-09-02 08:23] stevehipwell commented on #3886
@cdobbyn have you tried `v1.8.6`?

[2021-09-02 09:21] leshik opened #4043 "Docker multiline based on metadata support for the `forward` type input"
**Is your feature request related to a problem? Please describe.**

Some level of multiline parsing for Docker logs is included in `tail` input. The more natural way, however, would be to use `fluentd` Docker logging driver, rather than parsing log files from the filesystem.

**Describe the solution you'd like**

I would love to see the same level of support for multiline logs for the `forward` in

[2021-09-02 10:11] pavankumar-go commented on #3886
@stevehipwell I confirm  `v1.8.6` has this problem

[2021-09-02 10:26] stevehipwell commented on #3886
Thanks @pavankumar-go & @cdobbyn.

@edsiper do you need anything else to help fix this?

[2021-09-02 13:16] somdoron opened #4044 "4096 bytes are not enough to process cloudwatch response"
## Bug Report

**Describe the bug**

When using cloudwatch output the plugin sometimes fails to process the response from cloudwatch due to the max data size set to 4096.

**To Reproduce**

[code]

**Expected behavior**
fluentbit should be able to process the cloudwatch response.

**Your Environment**

* Version used: 1.8.2
* Configuration:

[code]

* Environment name and version (e.g. Kubernetes?

[2021-09-02 15:17] hossain-rayhan commented on #4040
I believe I tried  changing the value`net.connect_timeout` earlier and it didn't help me.

[2021-09-02 16:22] ssplatt commented on #3979
I just hit this error as well. with `$TAG[2]`. Some logs still seem to go through without issue.

[2021-09-02 17:00] ssplatt commented on #3979
I just removed `workers 1` and the tag processing is working again.

[2021-09-02 17:45] PettitWesley commented on #3944
1.8.5 added a new DNS network setting: https://github.com/fluent/fluent-bit/blob/master/src/flb_upstream.c#L38

So in your output you can set:
[code]

The other valid value is `TCP`. Does trying that affect this issue?

[2021-09-02 19:14] scila1996 commented on #2152
I have the same issue !

Input

[code]

[code]

Remove the nested key `user.group` not work

[2021-09-02 22:32] girgen commented on #3716
It seems stupid that the binary just fails to run unless you set the coro_stack_size?

I maintain the FreeBSD port, and I'm patching the source to double the stack size, in wait for a better fix.

[2021-09-02 23:00] PettitWesley commented on #4044
We noticed this issue this week as well. We want to set the http buffer for AWS to be unlimited I think.

@hossain-rayhan Did we contribute this change already?

[2021-09-02 23:03] hossain-rayhan commented on #4044
Hey @PettitWesley , Not yet. We were looking for more stable version for our firehose issue. I think we can send the PR against master and v1.8 branch.

[2021-09-03 06:29] hossain-rayhan commented on #4040
I did more testing today with versions from 1.7.* series. None of them actually crashed but were throwing a bunch of error logs. I kept fluent-bit running for around 30 minutes for all cases. Following are the summaries for three cases. I believe these error logs are triggering random failures time to time. @edsiper  Hope this will give you some insights to figure out the root cause. Waiting for y

[2021-09-03 06:43] pierluigilenoci commented on #3554
@edsiper @leonardo-albertovich @nokute78 could you please take a look?

[2021-09-03 07:28] utkmishr opened #4049 "Rewrite_Tag is causing significant memory spike when upstream connectivity is lost"
## Bug Report

**Describe the bug**
When using Rewrite_Tag in my configuration I am seeing significant memory spike . Observed this when remote upstream connectivity is lost and Retry_Limit is set as False. I have set Mem_Buf_Limit as 5mb

**To Reproduce**
- Example log -
[git_rewrite_tag_issue_log.txt](https://github.com/fluent/fluent-bit/files/7103939/git_rewrite_tag_issue_log.txt)

- Steps to r

[2021-09-03 10:12] remisauvat opened #4050 "DNS resolution timeout/failure in >= 1.8.5"
## Bug Report

**Describe the bug**
Hi, I am facing a DNS resolution timeout/failure since upgrading to >= 1.8.5 with the forward module to a fluentd instance. It is working fine with 1.8.4. I am running on ubuntu 20.04 and the local resolver accept UDP and TCP requests. I tried to set `net.dns.mode UDP` but it changes nothing. I am guessing there might be an issue with 1.8.5 and the changes to DN

[2021-09-03 11:39] qmonitoring commented on #421
Please see _Make Logstash_Prefix_Key more dynamic_ #3624

I hope that this functionality will be implemented in the near future.

[2021-09-03 12:09] rmarchei commented on #4050
I guess it's the [same issue](https://github.com/fluent/fluent-bit/issues/4042) I hit after upgrading to 1.8.5

[2021-09-03 13:23] magichair commented on #4050
I am also seeing this and previously reported against https://github.com/aws/aws-for-fluent-bit/issues/233 when they bumped their version from fluent-bit 1.8.3 -> 1.8.6.

[2021-09-03 13:55] ciastooo commented on #2752
Bump, this would be really useful for my case

[2021-09-03 15:34] pranavmarla commented on #3900
bump

[2021-09-03 16:39] zhonghui12 commented on #4050
@edsiper, many of our customers are facing this issue and they need to downgrade to 1.8.3 for now. Could you please take a look at this issue? Thanks.

[2021-09-03 16:50] rpuserh commented on #3014
Hi,
I have similar problem where http output delivery fails and chunks stuck.
All other outputs stop delivering logs.

[2021-09-03 17:39] lubingfeng commented on #3886
Another user encountered this issue. Do we have a timeline for the fix?

[2021-09-03 18:22] PettitWesley commented on #3900
I think this will fix it: https://github.com/fluent/fluent-bit/pull/4047

[2021-09-03 19:13] pranavmarla commented on #3886
Just encountered the same issue as well when running a performance test (app container generating a lot of logs; Fluent Bit tailing that container log file).

Specifically, here is what we observed:
- The error is triggered by a log rotation of the input container log file
- Fluent Bit generates hundreds of error messages like this:
`[2021/09/03 18:47:40] [error] [multiline] invalid stream_id 4395

[2021-09-03 20:26] taspac commented on #3176
I'm facing similar issue while trying to filter encapsulated into syslog apache's log: parser on [INPUT] (syslog-rfc5424, out of syslog-ng via dgram socket) works fine - can grab all apache's stuff in "message", then on the 2nd stage [FILTER] parser does nothing on _Key_Name. message_

[2021-09-03 21:54] nokute78 commented on #4035
Are you using elasticsearch plugin ?
If so, #3905 may be the same issue.

I sent a patch #3931 and it was merged to v1.8.4.
https://fluentbit.io/announcements/v1.8.4/

[2021-09-03 21:59] nokute78 commented on #3554
How many number of elements do you send ?
If the elements of map is greater than 128, filter_record_modifier will read invalid memory.

Note : Similar issue #3968, #4013. I sent a patch #3982 (is not merged yet)

[2021-09-03 22:33] nokute78 commented on #4031
filter_grep plugin is to grep for a single string message not for a map.
Currently, we have no filter plugins for your use case except filter_lua...

Could you try to use filter_lua ?
https://docs.fluentbit.io/manual/pipeline/filters/lua

[2021-09-03 22:48] nokute78 commented on #1935
`fluentbit_output_errors_total` will be added when output plugin flush callback returns `FLB_ERROR`.

In this case, the error message ` [error] [out_es] could not pack/validate JSON response` is raised from `elasticsearch_error_check` function.
https://github.com/fluent/fluent-bit/blob/c0a9d555c70e35c26926e480f15162b029f5d492/plugins/out_es/es.c#L634

However, if the function returns an error(it m

[2021-09-03 22:52] nokute78 commented on #1935
Should we retry for this error case `[error] [out_es] could not pack/validate JSON response` ?
If not, I will modify out_es to return `FLB_ERROR` in that error case.

[2021-09-03 22:57] krispraws commented on #3904
You con configure the retries in the output plugin section. The default is no retry.
[code]

[2021-09-04 01:47] #3894 closed

[2021-09-04 01:47] #3885 closed

[2021-09-04 01:47] #3866 closed

[2021-09-04 08:47] nokute78 commented on #3991
in_forward plugin supports `unix_path` property. Could you check it?
[code]

[2021-09-04 09:29] nokute78 commented on #3983
Thank you for reporting. I can reproduce this issue.

1. run `curl.sh`
2. run `fluent-bit`

curl.sh:
[code]

fluent-bit.conf:
[code]

[2021-09-04 09:50] meidlinga commented on #3991
Hello,

The difference is, in_tcp, as well as fluentd's in_unix also support json encoded payload.
If I read the code and the documentation correct, in_forward only supports the fluentbit internal msgpack-based protocol.

[2021-09-04 10:38] nokute78 commented on #3983
I sent a patch #4056

[2021-09-04 10:53] q2dg opened #4057 "[DOC] Standard output plugin doc page appears listed in doc's Filters section, too."
See https://docs.fluentbit.io/manual/pipeline/filters/standard-output and https://docs.fluentbit.io/manual/pipeline/outputs/standard-output  It seems the former should be deleted. Thanks

[2021-09-04 22:50] nokute78 commented on #4057
Thank you for reporting.

The issue is already reported on doc repo https://github.com/fluent/fluent-bit-docs/issues/358 .
A patch is already sent https://github.com/fluent/fluent-bit-docs/pull/528 .

So, I close this issue.
Thank you.

[2021-09-04 22:50] #4057 closed

[2021-09-05 01:47] #3876 closed

[2021-09-05 01:47] #3871 closed

[2021-09-05 06:11] ThePazuzu opened #4059 "Unable to build fluentbit on windows 10 with VS 2019"
## Bug Report

**Describe the bug**
Unable to build fluentbit on windows with VS 2019.
The `cmake ..\` command runs successfully. But the `msbuild fluent-bit.sln` fails with the following errors (I have tried changing the CMakeLists.txt to turn different options on/off, but I continue to get same errors):

**To Reproduce**
- Example log message if applicable:
[code]
**Expected behavior**
Fluentbit

[2021-09-05 07:30] nokute78 commented on #3433
I sent a patch #4060

[2021-09-05 07:40] triThirty opened #4061 "Multiline Parse Regex doesn't Support 'OR' Operation"
## Bug Report

**Describe the bug**
I use multiline parse to process my log, after I defined a rule which contain OR operation, but it doesn't work. It can not parse the log. And regex is verified [here](https://rubular.com/r/rhFbxkWDLADaob)

**To Reproduce**
- Rubular link if applicable:
- Example log message:
[code]
- Steps to reproduce the problem:
1. `docker pull fluent/fluent-bit:1.8.6-debug`

[2021-09-06 01:49] #3897 closed

[2021-09-06 04:11] bartlomiejdanek commented on #3921
Any news?

[2021-09-06 05:02] apollo13 commented on #3919
/unstale

On Mon, Sep 6, 2021, at 03:49, github-actions[bot] wrote:

[2021-09-06 05:02] apollo13 commented on #3915
/unstale

On Mon, Sep 6, 2021, at 03:49, github-actions[bot] wrote:

[2021-09-06 06:58] furstenbergs commented on #4035
Yes, using elasticsearch plugin.

Since upgrading to v1.8.5 I have not seen this issue again. Closing this for now.

[2021-09-06 06:58] #4035 closed

[2021-09-06 07:28] fyxemmmm commented on #4032
yes, but  I want to map the regular parsed message data again, the docker parser can do it, but he regular exp can not do it.

[2021-09-06 07:43] ciastooo commented on #1938
@Robert-turbo were you able to solve this problem somehow?

[2021-09-06 12:09] TeddyAndrieux opened #4063 "Fluent-bit get stuck after few minutes on Kubernetes 1.22"
## Bug Report

**Describe the bug**

With the new Kubernetes 1.22 when we try to run fluent-bit as a Pod it gets stuck after few minutes and does not work anymore.

If we restart the Pod manually it works again for again few minutes.

**To Reproduce**
I reproduced it with a really simple fluent-bit pod and config

Just deployed a classic Kubernetes 1.22.1 using kubeadm with docker (and added calic

[2021-09-06 12:46] TeddyAndrieux commented on #4063
After a bit more investigation it seems linked to `HTTP_Server` when I disabled this one the Pod does not get stuck

[2021-09-06 14:03] carsten-langer commented on #3944
I tried with version 1.8.6 and

`net.dns.mode UDP`

but got the same errors than before

[2021-09-06 19:38] vkudrik commented on #3886
We're experiencing the same issue with same conditions. Just after error firstly occurs, **logs are dropped** from output.
None of our config changes made it work as expected.

[2021-09-07 01:35] hossain-rayhan commented on #4040
After installing `openssl` on my EC2 instance, all the SSL errors are gone. Now I see a fixed set of connection errors. I tested with v1.7.5.
[code]

[2021-09-07 02:18] realthered commented on #2515
Same problem still reproduced in 1.7.3.
[code]

[2021-09-07 08:05] Kilz78 commented on #1305
@edsiper up

[2021-09-07 08:55] capricornusx commented on #4042
### Same case (connect to elasticsearch)
**Ubuntu 20.04.3 LTS**
**Fluent Bit 1.8.6**
**Elasticsearch 7.14.0**

Downgrading to **1.8.4** solves the issue

[code]

[2021-09-07 11:10] Robert-turbo commented on #1938
@ciastooo  I started to use tcp output

[code]

And used Traefik with TCP route (with SSL) in front of graylog
https://doc.traefik.io/traefik/routing/providers/docker/#tcp-routers

[2021-09-07 11:37] tporeba commented on #3766
This issue is still reproducible on version 1.8.6, see https://github.com/tporeba/fluentbit-3766-reproductor

[2021-09-07 11:55] utkmishr commented on #3988
Ran the same configuration with valgrind for v1.7.0 and v1.8.6 .
command : /usr/bin/valgrind --leak-check=full --log-file=val_70.txt fluent-bit/bin/fluent-bit  -c  /fluent-bit/etc/fluent-bit.conf
v1.7.0 logs :
[val_70.txt](https://github.com/fluent/fluent-bit/files/7121201/val_70.txt)

1. from above Logs -
#####
==22== Memcheck, a memory error detector
==22== Copyright (C) 2002-2017, and GNU GPL'd

[2021-09-07 15:25] JeffLuoo commented on #4063
Could you please provide the networking condition and strace of fluent-bit when it got stuck?

[2021-09-07 15:58] #3983 closed

[2021-09-07 15:59] #4005 closed

[2021-09-07 16:46] TeddyAndrieux commented on #4063
Not sure what do you mean by "networking condition" ?

For `strace` sure
[code]

[2021-09-07 16:58] branttaylor commented on #4050
we are seeing this in our environment as well. as others have mentioned, downgrading to 1.8.4 fixes the problem.

[2021-09-07 20:16] gabegorelick commented on #3829
I just ran into this. My node was running fine and then all of a sudden experienced this issue. It would be nice to fix the underlying issue (why does fluent-bit get into this state where the regex fails), separate from the issue that is the huge volume of logs that can be generated

[2021-09-07 20:18] gabegorelick commented on #2756
Could be the same underlying issue as https://github.com/fluent/fluent-bit/issues/3829.

[2021-09-07 22:44] gpodila-disc opened #4069 "fluent-bit aws es plugin is not working with AWS_ROLE_ARN in GKE running on AWS"
## Bug Report
fluent-bit aws es plugin is not working as expected, Im trying to read logs from k8s application with fluent daemonset and using AWS_ROLE_ARN to assume when writing logs to aws elastic search but fluent-bit is failed to connect to aws es. Instead of using role_arn, I always see error in logs which says looking for /root/.aws/config.

**To Reproduce**
Please use below DS and config ya

[2021-09-08 01:47] #3887 closed

[2021-09-08 01:47] #3624 closed

[2021-09-08 02:15] PettitWesley commented on #3944
@edsiper there are multiple reports from AWS and non-AWS users that DNS resolution is still broken in some cases. IMO, this is a critical issue that deserves to be a top priority.

[2021-09-08 02:56] qgervacio opened #4070 "Output Plugin prometheus_exporter Port Option is Not Overridable"
## Bug Report

**Describe the bug**
`-p port=[port-number]` has no effect.

**To Reproduce**

Run

[code]

Output. value for `listen` took effect but not for `port`

[code]

- Steps to reproduce the problem:

Pls see **To Reproduce**

**Expected behavior**
value provided to option `port` should be used.

**Screenshots**
N/A

**Your Environment**
* Version used:
   `fluent/fluent-bit:1.8.0`
* Confi

[2021-09-08 03:17] qgervacio opened #4071 "Unable to Expose Prometheus Metrics at Port 2020 and Node Exporter at Port 2021 At The Same Time"
## Bug Report

**Describe the bug**

Running both metrics on port 2020 (https://docs.fluentbit.io/manual/administration/monitoring) and port 2021 (https://docs.fluentbit.io/manual/pipeline/outputs/prometheus-exporter) causes the service on port 2020 to stop working.

**To Reproduce**

Create the ff config file:

[code]

Run the ff command.

[code]

Output

[code]

On test..

[code]

However for po

[2021-09-08 04:36] bharatnc commented on #3947
@JeffLuoo sure I can try with the latest version i.e `1.8.5`. So far I did try with `1.7.9` and `1.8.3` and see errors. With 1.8.3 just stuck with connection errors to stackdriver (below) and with 1.7.9 the systemd service continuously restarts itself.

Yea, those shouldn't be the errors, please look at these logs instead with Fluentbit on high data volume (numbers mentioned in my previous comment

[2021-09-08 04:50] bharatnc commented on #3964
@JeffLuoo thank you. Yes I can confirm that buffering works for all inputs.

I would like the same issue to clarify another question that I had. Does the stackdriver output plugin support the `workers` argument just the like some of the other plugins support ? Example: https://docs.fluentbit.io/manual/pipeline/outputs/kinesis#worker-support. In other words, does fluentbit output to stackdriver wor

[2021-09-08 04:54] bharatnc commented on #4040
For what's it worth, I am seeing some of the exact errors but with stackdriver. Please see my comments:
- https://github.com/fluent/fluent-bit/issues/3947#issuecomment-907409441
- https://github.com/fluent/fluent-bit/issues/3947#issuecomment-914905592

I have so far tested with v1.7.9 and v1.8.3.

[2021-09-08 08:36] pnl0dg7k commented on #4050
how do you install a specfic version
is it possible to do it as mentioned bleow ?
apt-get -y install td-agent-bit-1.8.4 ?

[2021-09-08 09:24] NathanNZ commented on #4050
Close, `apt-get -y install td-agent-bit=1.8.4 ` will do the trick!

[2021-09-08 10:16] KeemoLV opened #4072 "Fluent-bit crashes with SIGSEGV when adding Loki output"
## Bug Report

**Describe the bug**
Fluent-bit is configured to send logs to fluent-bit aggregator -> vector aggregator -> ES sink. This works fine until I add Loki sink to vector aggregator. It starts crashing. I tried outputting to Loki directly from fluent-bit, but SIGSEGV crashes happen.

- Example log message if applicable:
[code]
- Crashes with the following message:
`2021/09/08 10:13:44] [e

[2021-09-08 12:44] lazystone commented on #3014
My observation that on 1.8.6 it became much worse. On 1.8.5 it mostly worked, but on 1.8.6 it constantly stuck, basically unusable.

[2021-09-08 13:49] agup006 commented on #3014
Unfortunately the dns fixes in 1.8.6 did not work as intended, need to see what we can do to fix

[2021-09-08 15:21] JeffLuoo commented on #3964
Yes it does. You can start from setting the worker to 1 and slowly increase it to the workers you need.

[2021-09-08 15:24] JeffLuoo commented on #3947
@bharatnc I see backlogs are ingested from your logs:
[code]

Could you try to increase the `storage.backlog.mem_limit` and also disable the fluent-bit resource limit if you are running them in a cluster environment?

[2021-09-08 15:30] BertelBB commented on #3909
I suspect there is a bug in the code from reading that description. I have been noticing a lot of 409 status codes from elastic after upgrading to 1.8.x and they are logged as errors in fluent-bit.

operation. However, this has the side effect of producing status 409
errors whenever a previously successful operation is retried and the
Generate_ID option is turned on. Therefore, we change the
"elas

[2021-09-08 16:43] bharatnc commented on #3947
@JeffLuoo I tried increasing the `storage.backlog.mem_limit` - also removed MemBuf_Limit. Fluentbit runs as a systemd daemon on bare metal, and we have plenty of resources, so no resource limit, still crashes:

[code]

[2021-09-08 17:11] yasn77 commented on #2998
I've updated PR #3177.

As pointed out by @t-lo, in its current state using docker images provided by fluentbit is problematic on systems with newer versions of systemd. This issue and PR have been open for some time. It would be really appreciated in getting some feedback.

Even if my PR isn't accepted, I'd just be happy knowing that something is in the pipeline to fix this issue.

[2021-09-08 17:12] JeffLuoo commented on #4063
Is the strace attached the trace of fluent-bit when it already got stuck?

For networking condition I mean the tcpdump of fluent-bit.

[2021-09-08 17:13] JeffLuoo commented on #4063
cc @edsiper

We saw similar issue and disabling the `HTTP_Server` is the fix to us as well. We still didn't find the root cause yet.

[2021-09-08 18:52] matthewfala commented on #2840
Hi :wave: I am currently working on adding IMDSv2 support to AWS Fluent Bit plugins. Thank you for your patience. I will update you on the progress of this feature.

[2021-09-08 20:28] NachoRaik commented on #2020
Hi @edsiper , was there any news around this issue?

[2021-09-09 01:48] #3818 closed

[2021-09-09 01:48] #3295 closed

[2021-09-09 07:04] TeddyAndrieux commented on #4063
Yes, it's the strace when fluent-bit already stuck,
And personally, I only tested to reproduce this bug with Kubernetes 1.21 and 1.22 (and it works well with 1.21) but I think it works well with the older version as well since I did not face any issue like this before.

For tcp dump inside the Pod, nothing is happening, I even tried to restart the Pod (so that it's not stuck), and even for the few

[2021-09-09 08:20] #4061 closed

[2021-09-09 09:19] andywow commented on #3766
Got the same issue

[2021-09-09 09:22] remisauvat commented on #4050
Same for me host resolution is working correctly.
[code]

[2021-09-09 10:39] KeemoLV commented on #4072
I tried grafana/fluent-bit-plugin-loki, and everything works fine with it. So, must be something wrong with the output plugin in fluent-bit.

[2021-09-09 15:28] #3968 closed

[2021-09-09 15:30] jmcshane commented on #2115
Just a note for future readers of this issue, the rdkafka property is:

[code]

[2021-09-09 16:34] vunaml commented on #3766
Same issue with 1.7.8, but can be reproduced with 1.8.4 too. This issue should get some traction, I can reproduce with just removing the affected NetworkPolicy (thus rendering the connection to kafka unusable), with the outcome descripted in the original description.

[2021-09-09 17:17] PettitWesley commented on #3947
@bharatnc I think what you are seeing is a separate problem than the main point in this issue- which is poor performance. The crashes and errors you are seeing deserve a separate issue to focus on them.

[2021-09-09 17:39] wtchangdm commented on #4041
looks like fixed now

[2021-09-09 17:39] #4041 closed

[2021-09-10 00:57] elruwen commented on #3014
@agup006 I offered it earlier: If I would write some end2end regression tests in Java. Would you guys use them? Or not since it is another language?

[2021-09-10 00:59] agup006 commented on #3014
We are open if they are simple to run, for example our current e2e for Splunk / elasticsearch use a combination of go / terraform and the C API. Adding @niedbalski who wrote those

[2021-09-10 01:48] #3890 closed

[2021-09-10 03:04] edsiper commented on #3890
In latest version now is UDP first

[2021-09-10 03:34] elruwen commented on #3014
Cool, can you please point me to that code? So I can add mine to the same place. Thanks!

[2021-09-10 03:37] agup006 commented on #3014
Sorry clicked close on mobile https://github.com/calyptia/fluent-bit-ci

[2021-09-10 07:04] PettitWesley commented on #3947
I reproduced this, Fluent Bit only very slowly outputs data for a very long time after (~1 hour) after the input stops reading, then suddenly the output starts processing data very quickly. Or may be not? The input counter goes up very quickly, and then it looks like no new records are ingested. But look at the read metrics- they suggest it was still slowly reading data the entire time. If this is

[2021-09-10 07:06] PettitWesley commented on #3947
So then I tried adding 5 workers to the stdout output... which didn't help at all surprisingly. Results are nearly the same.

<img width="1792" alt="Screen Shot 2021-09-09 at 10 04 52 PM" src="https://user-images.githubusercontent.com/29443996/132813919-6ade2d42-3766-46e9-b7bd-6597c6d3e273.png">
<img width="1789" alt="Screen Shot 2021-09-09 at 10 05 02 PM" src="https://user-images.githubuserconten

[2021-09-10 07:08] PettitWesley commented on #3947
Then I tried increasing the `buffer_chunk_size` and `buffer_max_size` and `mem_buf_limit` values... for which I am still yet to get a successful test run as fluent bit keeps crashing and I can't get any error message or segfault or anything to indicate why...

[2021-09-10 07:09] PettitWesley commented on #3947
@edsiper @nokute78 We have multiple repros of the same behavior- any suggestions/thoughts to help me/the community further investigate? Any guesses what this is caused by?

Do we just need some sort of multi-workers feature for inputs so that they can't slow down the core engine?

*Or is this an actual bug?*

[2021-09-10 10:13] frosiere commented on #2020
This issue would definitly help handling conditional outputs.
Can we expect it in the next release of Fluent-bit?
Any workaround?
Thanks for your help.

[2021-09-10 10:22] frosiere commented on #224
https://github.com/fluent/fluent-bit/issues/2020

[2021-09-10 15:00] raonelakurti commented on #4009
@nokute78 It's resolved after adding the right port number. Thanks for your help.

[2021-09-10 15:26] raonelakurti commented on #4009
@nokute78 My approach/architecture might sound strange to you.
Fluent-bit(td-agent-bit) is running on VM's -> Fluentd is running on Kubernetes-> Kafka streams.
**1. Approach1(Working):**  When I have td-agent-bit and td-agent is running on VM I'm able to send logs to kafka steam.
2. **Approach2(ISSUE):** When I have td-agent-bit is running on VM, fluentd is running on OKE I'm not able to send logs

[2021-09-10 15:55] hossain-rayhan commented on #4040
Hi @edsiper, I did some additional testing with `v1.7.5` and it seems to work well. But, I still can see similar set of errors for `v1.8.*`. To handle my expected throuhput, I had to tune the config a little bit. See the results of my testing for v1.7.5. Do you have any suggestion/progress on this?

<img width="1074" alt="Screen Shot 2021-09-09 at 1 18 32 PM" src="https://user-images.githubusercon

[2021-09-10 16:24] lubingfeng commented on #3331
@edsiper  any plan to get this addressed? Another end user also reported this issue.

[2021-09-10 22:40] nokute78 commented on #4063
Note: We have an crash issue when `Health_Check`  is enabled. https://github.com/fluent/fluent-bit/issues/3983
That issue also happened on k8s v1.22.

[code]

[2021-09-10 22:48] nokute78 commented on #4013
The patch #3982 is merged.
The limit of elements will be 65535.

[2021-09-10 23:58] nokute78 commented on #4070
Thank you for reporting issue.
I sent a patch https://github.com/fluent/fluent-bit/pull/4081.

[2021-09-11 01:47] #3823 closed

[2021-09-11 01:49] agup006 commented on #3581
@konstantin-kornienko could you retry with latest to see if that helps with the corrupted chunk clean up? Thanks we can reopen then if needed

[2021-09-11 02:45] nokute78 commented on #4009
[code]
This means that keepalive might be disconnected by the remote service(fluentd/kubernetes).
Could you check fluentd side or port forwarding ?

[2021-09-11 14:35] justchris1 commented on #3617
This issue remain unaddressed. I am unsure why it would be automatically closed?

[2021-09-11 14:46] tanaka-takayoshi opened #4082 "Support New Event Log API for in_winlog"
**Is your feature request related to a problem? Please describe.**

in_winlog plugin recognizes Critical Event log as a "Success" event type.

[code]

![image](https://user-images.githubusercontent.com/846156/132951535-fb8a4cb9-66e4-49a8-b6d8-4be52afb0922.png)

[code]

**Describe the solution you'd like**

[An old event log API](https://docs.microsoft.com/en-us/windows/win32/api/winnt/ns-winnt-eve

[2021-09-12 01:49] #3924 closed

[2021-09-12 01:49] #3911 closed

[2021-09-12 03:29] PettitWesley commented on #3947
I got a successful test run with different buffer settings. Including removing the the file system storage. In this case, it's interesting, the output and input tickets rise up in sync, there is no "getting stuck" behavior but it still takes the same amount of time to output all of the records. This makes me hypothesize that:
1. May be the "getting stuck" behavior is caused by the file system stor

[2021-09-12 05:21] bharatnc commented on #3947
Hi @PettitWesley thank you for your findings. I can open another issue to investigate, but for what's it worth, the issue that I'm seeing might be related after all, please see my comments inline.

I too tried disabling the storage option (no memory or disk buffer) for my high volume inputs for a brief period of time (was previously buffering to disk) and noticed that the crashing and restarting a

[2021-09-12 13:16] szalaci opened #4083 "Fluent Bit Docker Input plugin - mem_limit wrong value"
Fluent Bit -> Input plugin for docker metrics - mem_limt values
docker-compose.yml mem_limit -- FluentBit mem_limit
512M                                              -- 536,870,912              -- OK
2G                                                  -- 2,147,483,648           -- OK
7G                                                   -- 3,221,225,472           -- wrong
unlimited

[2021-09-13 01:47] #3927 closed

[2021-09-13 01:47] #3926 closed

[2021-09-13 04:53] elruwen commented on #3001
Still an issue

[2021-09-13 06:44] DrackThor commented on #2589
any updates on this? Looks like we are still getting this error in 1.8.3

[2021-09-13 13:35] #4070 closed

[2021-09-13 16:38] panaji commented on #3940
unstale

[2021-09-13 19:46] joeyberkovitz opened #4085 "Fluent-Bit 1.8.6 - Ubuntu TLS Issue"
## Bug Report

**Describe the bug**
Ubuntu build of Fluent-Bit v1.8.6 throws an error while parsing a CA certificate that is accepted on CentOS 7 using the same version of Fluent-Bit.

**To Reproduce**
- Error message
[code]

**Your Environment**

* Version used: 1.8.6
* Configuration:
[code]

* Environment name and version (e.g. Kubernetes? What version?): Ubuntu 20.04.3

[2021-09-13 20:28] edsiper commented on #4085
Looks like you are building it from scratch, you should use OpenSSL instead of mbedtls which is being deprecated (install your openssl dev dependencies before running cmake)

[2021-09-13 20:59] joeyberkovitz commented on #4085
I was using the official Fluent-Bit package for Ubuntu 20.04 from: https://docs.fluentbit.io/manual/installation/linux/ubuntu
Is it possible to get that build switched over to OpenSSL?

[2021-09-13 23:19] PettitWesley commented on #4050
We have multiple different reports of this bug in the AWS distro repo: https://github.com/aws/aws-for-fluent-bit/issues/233

We're working on repro'ing and some preliminary investigation.

[2021-09-14 00:02] agup006 commented on #4085
@joeyberkovitz the packaged versions should already be using OpenSSL, perhaps something strange triggering mbed

[2021-09-14 00:07] joeyberkovitz commented on #4085
Is there any way to verify that the binary has OpenSSL support enabled?
Other than that, is there anything that I can do to help debug this? As I mentioned earlier, using the same CA cert and same version, official package on CentOS 7 has no issues

[2021-09-14 00:33] agup006 commented on #4085
Giving this a shot on Ubuntu 20.04 LTS on my side, I'll try to update within the next few hours

[2021-09-14 01:31] PettitWesley commented on #4050
Hey folks, here is the results of my repro attempts. I was able to confirm this issue report, at least for the datadog output.

#### Base Config

I tested 4 different outputs:
* cloudwatch_logs
* es (sending to Amazon OpenSearch, and I also sourced credentials from the STS API, so two AWS service endpoints are called)
* http (sending to google.com, because I'm just trying to test DNS resolution)
*

[2021-09-14 01:53] PettitWesley commented on #4050
there are 3 commits which together add a new feature that each output supports a net.dns.mode option where the value can either be TCP or UDP which controls how fluent bit contacts DNS servers:
* https://github.com/fluent/fluent-bit/commit/c3e7aca8793541a543488f9c536b3422f7fd0aa9
* https://github.com/fluent/fluent-bit/commit/7bf6b89f31e1b499edae2c6a791e8144074c0749
* https://github.com/fluent/flue

[2021-09-14 01:59] branttaylor commented on #4050
Thanks @PettitWesley, since you've mentioned some differences in outputs I'll add that we're using the `gelf` output and seeing the failures in v1.8.5+ like you're seeing with the `datadog` output.

[2021-09-14 02:05] #3935 closed

[2021-09-14 02:05] #3934 closed

[2021-09-14 02:05] #3884 closed

[2021-09-14 03:19] agup006 commented on #4085
Installed on Ubuntu 20.04, believe I have OpenSSL, will confirm with folks on this output tomorrow

[code]

[2021-09-14 04:44] bharatnc commented on #3947
So, I had a chance to run for longer periods of time without disk buffering enabled. While it didn't crash and restart as agressively, there were restarts and it did get stuck eventually dropping data. Here is the memory graph of how it grows and then flattens:

<img width="726" alt="image" src="https://user-images.githubusercontent.com/9305394/133196126-9ca02ba5-3fc4-4050-bd52-27272c3d57d6.png">

[2021-09-14 07:23] vkudrik commented on #3886
Found solution by rolling back to legacy multiline parser:
[code]

[2021-09-14 07:23] vkudrik commented on #3886
Found solution by rolling back to legacy multiline parser:
[code]

[2021-09-14 07:55] elruwen commented on #3014
Hmm I had a look. Those tests spin up real clusters etc. Mine are a number smaller. Maybe the term integration test is better?

One Java process which starts/stops the fluent-bit binary and does everything. Ideally those would run on every commit of this repo.

To get you an idea, I commited my tests: https://github.com/elruwen/fluent-bit/commit/11f6b8106ca20c573dcceb0191ee7a14e93230c5

It would f

[2021-09-14 08:35] richardburakowski commented on #3926
Hi @shyimo
See PR  #3930 - personally I've been using a locally built fluent-bit using the patch when bulk loading Loki.

[2021-09-14 11:00] utkmishr commented on #4049
@edsiper  we are really stuck on that ... any help is appreciated ... please let me know if you need more details on it.

[2021-09-14 13:32] ManirajDeivendran commented on #3443
Hi @edsiper,
Please provide your review for this PR #3591 to resolve this issue on ppc64le.
Thanks in advance.

[2021-09-14 13:50] TeddyAndrieux commented on #4063
@nokute78 I think, it actually crashes because the `Health_Check` uses the `HTTP_Server` that does not work at the end.
So yes both issues are linked I think.

[2021-09-14 14:35] agup006 commented on #3443
Hey @ManirajDeivendran , thanks for opening the PR - there are a few questions we would need to answer in order to merge something like this into upstream

1. Who will the maintainer be? How will they ensure no regressions in future versions of the code?
2. What is the burden on other maintainers on ensuring compatibility with the architecture
3. Is all code contributed self written, or is it pull

[2021-09-14 15:30] leonardo-albertovich commented on #4042
Hello folks, I'm working on this issue and I have a few questions for some of you which would probably make it easier to figure out if there is something that needs to be fixed and what if that's the case.

* Are the timeouts sporadic or constant?
* Do the timeouts show as soon as you start fluent-bit?
* If they do not show as soon as you start fluent-bit, does fluent-bit ever go back to working f

[2021-09-14 18:00] PettitWesley commented on #4050
@edsiper We now also have seen one instance of this error with `kinesis_firehose`:

[code]

It still remains most easily reproducible in datadog for me.

[2021-09-14 18:34] JeffLuoo commented on #3990
Might be related: #4063

[2021-09-14 20:20] leonardo-albertovich commented on #4050
@PettitWesley In the end I traced the issue to plugins that did not implement the config_map interface which caused their net_setup not to be initialized. This issue was not exposed because create_conn handled the case where timeout was set to zero by marking the connection so the timeout handler ignored it but the async DNS client did not apply such logic which is why it started showing up.

Ther

[2021-09-14 20:31] awcheney commented on #3077
Hey folks - I'm seeing this with image: kubesphere/fluent-bit:v1.8.3. Fluentbit pod logs contain lots of:
`[2021/09/14 17:33:09] [error] [filter:kubernetes:kubernetes.2] kubelet upstream connection error`

[2021-09-14 20:41] lubingfeng commented on #4050
Thanks Leonardo. A few questions:
1. When was config_map interface introduced?
2. As Fluent Bit 1.8.4 works with DataDog but not Fluent Bit 1.8.5, I am wondering what changes in Fluent Bit 1.8.5 triggered this issue (if any)?
3. To address this issue, does this require DataDog to implement the config_map interface or something else? What about other plugins?

[2021-09-15 01:49] donbowman commented on #3597
i know i'm not the only one facing this. I made a simple patch to my local tree, but i suspect others are quickly getting into 1hour pauses.

[2021-09-15 02:45] elruwen commented on #3014
Oh and with my tests I can also reproduce chunks getting stuck with just high load. Do you want to open a new case for that?

[2021-09-15 03:15] agup006 commented on #3217
Work in progress, we have moved the metrics to use the new c-metrics / prometheus base

[2021-09-15 03:19] agup006 commented on #4040
hi @hossain-rayhan we have a few fixes around config map and 0 net timeouts this may be related to on 1.8.5+ . I recall seeing @PettitWesley doing some investigation on Firehose recently as well

[2021-09-15 04:48] agup006 commented on #3014
@elruwen would you be open to a Zoom sync? Anurag at Calyptia dot com

[2021-09-15 07:05] rifqifatih commented on #3918
Same issue installed with helm chart `0.16.2` -> fluent bit `1.8.3`

[2021-09-15 09:21] utkmishr commented on #4049
Also  have captured some details by running Massif with Valgrind
The Mem_Buf_Limit is 15 MB in my configuration

[code]
So looking at the output the heap mem keeps on growing which is unexpected behaviour as I have set Mem_Buf_Limit 15MB.
so looks like this limit is not being respected -

my input configuration
[code]

have parsers
[code]

[2021-09-15 10:04] chitralverma commented on #2700
@PettitWesley Here's a feature request for S3 output - Ability to configure the content formatting of uploaded S3 objects.

The uploaded objects are always newline separated json files, it will be great to allow a new key called record format which can be configured with values like CSV, TSV, and defaults to JSON.

[2021-09-15 11:26] aporuchy opened #4089 "Vulnerability: libidn2 CVE-2019-12290"
## Bug Report

Current release version of fluent-bit (1.8.6) contains libidn2.0.5 that has following vulnerability: https://nvd.nist.gov/vuln/detail/CVE-2019-12290.

In fluent-bit (1.7.3) its inclusion reasoning was to support PostgreSQL output plugin, based on comments in Dockerfile.
In current version, the reasoning is to support systemd functionality.

Vulnerable library itself is copied from b

[2021-09-15 15:28] edsiper commented on #4050
Fixed in #4088

[2021-09-15 15:28] #4050 closed

[2021-09-15 16:07] PettitWesley commented on #3947
So one thing we thought of was that may be the disk is saturated and IO contention is a problem. So I tried disabling logging for fluent bit since that ultimately goes to disk via the json-file log driver. But this didn't help. Results are exactly the same.

[2021-09-15 17:30] z0rc commented on #3990
Most likely it's https://github.com/fluent/fluent-bit/issues/3521.

[2021-09-15 17:30] z0rc commented on #4063
Most likely it's https://github.com/fluent/fluent-bit/issues/3521.

[2021-09-15 17:31] z0rc commented on #3521
Not stale, reproducible with Kubernetes 1.22.

[2021-09-16 01:50] #3922 closed

[2021-09-16 01:51] #3893 closed

[2021-09-16 01:51] #3820 closed

[2021-09-16 01:51] #3743 closed

[2021-09-16 05:31] mhmd-deniafendi commented on #1442
me too, have resolved ?

[2021-09-16 06:09] akshatki opened #4093 "Fluentbit logs not flushed to S3 upon node termination"
## Bug Report

**Describe the bug**
According to [1], If Fluent Bit is stopped suddenly it will try to send all data and complete all uploads before it shuts down.

While testing Fluent Bit S3 image, I tried to simulate a scenario where after properly setting up FluentBit daemonsets in my EKS cluster, I terminated the underlying EC2 instance in my EKS managed nodegroup.

As I was watching logs fro

[2021-09-16 08:30] rmarchei commented on #4042
I think this issue has been fixed in https://github.com/fluent/fluent-bit/issues/4050

[2021-09-16 10:05] lackhoa commented on #1903
I don't think this was the case at all in my case, since the tail input plugin was stuck for a day.
The OP's suggestion is good: let us monitor the size of the buffer, so we can debug the issue.

[2021-09-16 10:17] justchris1 commented on #3618
This issue is unaddressed and is still an issue.

[2021-09-16 14:05] ace03uec commented on #2310
Hey! Has this been addressed in any way ? I see https://github.com/fluent/fluent-bit/issues/1508 was created for including multiple files as csv, but that could still pose issue if the names are created dynamically.

[2021-09-16 19:27] lubingfeng commented on #3886
Do we have a plan to get this issue addressed in next release?

[2021-09-16 20:35] edsiper commented on #3886
FYI: we are taking a look at this

[2021-09-17 01:13] agup006 commented on #3383
There is a newer windows API and I believe we are still using the old one. We might be able to add a better custom path with the old api - @cosmo0920 could you take a look next week?

[2021-09-17 01:51] #3942 closed

[2021-09-17 01:51] #3907 closed

[2021-09-17 02:47] #2738 closed

[2021-09-17 03:38] seth-priya commented on #3443
Hi @agup006 thanks for your response! I would think that one way to address both 1. and 2. with minimum overhead would be to setup and enable some sort of a CI environment for ppc64le. GitHub Actions currently does not have support for native Power builds but we could probably look at travis as an option, thoughts?

[2021-09-17 05:14] ManirajDeivendran commented on #3443
Hi @agup006 thanks for your response! All code self written and based on ppc.c file(https://github.com/fluent/fluent-bit/blob/master/lib/monkey/deps/flb_libco/ppc.c) from the same repo.

[2021-09-17 14:08] NikNikM opened #4097 "Avro format is not supported"
## Bug Report

**Describe the bug**
The Kafka output plugin is not supporting **avro** in the _format_ attribute:
[code]

**To Reproduce**
- Configure the Kafka output to send the messages using the config above
- Messages are sent using the default json format

**Expected behavior**
In the release notes of the version 1.7: https://fluentbit.io/announcements/v1.7.0/
I've seen the avro support: **a

[2021-09-17 15:27] yvespp commented on #3901
Same problem on Kubernetes, Java stack traces are split randomly into multiple events. I use the built in parser:
[code]

[2021-09-17 19:52] JeffLuoo commented on #2950
unstale

[2021-09-17 19:55] JeffLuoo commented on #2950
May I get the steps on reproducing this issue?

[2021-09-17 21:14] krispraws opened #4098 "FluentBit's tls wrapper function for SSL_read returns SSL errors as positive numbers indicating bytes read."
## Bug Report

**Describe the bug**
The openssl implementation of the flb_tls api has a bug in SSL_read. When `tls_net_read` gets a non-retryable error code like `SSL_ERROR_SSL`, it returns the value as-is instead of changing to -1. The SSL_ERROR_* enums have positive values. In my workflow, it made the caller think that it read 1 byte and it made the `flb_http_client` go into an endless loop thin

[2021-09-17 21:38] nokute78 commented on #3952
The issue is fixed by https://github.com/fluent/fluent-bit/pull/4088

[2021-09-17 22:12] nokute78 commented on #3597
I sent a patch https://github.com/fluent/fluent-bit/pull/4099 for now.

It is to make configurable a cap and base.

[2021-09-17 22:22] edsiper commented on #3597
thanks for the patch @nokute78, as soon CI finish we will merge it.

[2021-09-17 22:27] krispraws commented on #4098
Sorry for the confusion about `openssl implementation of the flb_tls api`. I am referring to tls/openssl.c in the fluent-bit src folder.
This line is the bug: https://github.com/fluent/fluent-bit/blob/master/src/tls/openssl.c#L362
it treats only negative values as errors but the SSL_get_error return values are positive for errors.
This is the fix for it: https://github.com/fluent/fluent-bit/commit

[2021-09-17 23:13] edsiper commented on #3597
FYI: just merged #4099

[2021-09-18 00:23] farvour commented on #3944
I'm not sure why this stuff is played with to be honest. Not even unique to fluent-bit, everyone seems to like to toy with a working DNS solution and then it completely wrecks the product. I've been having these issues with docker images all the way from 1.8.3 -> 1.8.6. I was previously using v1.7.6 without any problems. I'm running in a fresh EKS cluster and coredns is fine. It's fluent-bit and t

[2021-09-18 00:30] edsiper commented on #3944
FYI: it's not a DNS issue, DNS was affected due to premature closure of the TCP connection by the upstream handler and it looked like a DNS issue, but is not. A fix is being shipped on today's release.

[2021-09-18 00:31] farvour commented on #3944
@edsiper thanks for the input. Any idea how long this particular issue has been around? It must have been introduced in a version >1.7.6...

[2021-09-18 03:11] PettitWesley commented on #3944
@farvour my testing suggested it works in 1.8.4 or lower: https://github.com/fluent/fluent-bit/issues/4050#issuecomment-918719115

[2021-09-18 03:26] #3433 closed

[2021-09-18 07:04] justinsorubio commented on #2589
@DrackThor it looks like they addressed the boop_map in the latest release

https://fluentbit.io/announcements/v1.8.7/

[2021-09-18 09:50] wchaws commented on #3917
I have the same issue.

[2021-09-19 12:58] lackhoa commented on #3328
Still issue on `1.8.7`.

[2021-09-19 14:03] dev-samples opened #4103 "[error] [plugins/out_file/file.c:399 errno=2] No such file or directory"
I am running fluentbit 1.8.6 in kubernetes 1.21. I am currently trying to debug some configuration and have defined the following:

[code]

Where output is based on:
https://docs.fluentbit.io/manual/pipeline/outputs/file#configuration-file

But when I start up fluentbit I get the following error:

[code]

When running fluentbit in kubernetes as a daemonset I assume there is some additional configu

[2021-09-19 22:42] nokute78 commented on #4103
The document is wrong. `path` should be a directory.

Could you see this PR?
https://github.com/fluent/fluent-bit-docs/pull/535

Note: doc issue is https://github.com/fluent/fluent-bit-docs/issues/534

[2021-09-19 23:02] nokute78 commented on #4097
https://github.com/fluent/fluent-bit/blob/v1.8.6/CMakeLists.txt#L100
Hmm, a build configuration `FLB_AVRO_ENCODER` is disabled.

[2021-09-19 23:46] Fullplate commented on #3938
It would be great to get a response on this issue, even if it's just that the current implementation doesn't support this use case. Currently it's blocking our adoption of fluent-bit.

[2021-09-20 00:32] nokute78 commented on #4071
It seems to be fixed on v1.8.7.
Could you check it?

[2021-09-20 00:57] PettitWesley commented on #3944
@farvour/everyone this has been fixed in 1.8.7: https://fluentbit.io/announcements/v1.8.7/

I will close this issue. Please re-open if needed.

[2021-09-20 00:57] #3944 closed

[2021-09-20 01:48] #3877 closed

[2021-09-20 03:51] #4103 closed

[2021-09-20 03:55] dev-samples opened #4104 "Fluentbit does not read logs from bash script in container (kubernetes)"
In kubernetes 1.21 I am running a container that runs this script:

[code]

E.g.:

[code]
    ...

In a logging namespace I have fluentbit running with this configuration:

[code]

But it does NOT pick up any of the messages from `sample-app-mlhdj`  even though the container log file is created:

[code]

I see messages comming in from the podinfo container for comparison.

So why is the simple bas

[2021-09-20 13:05] Irrational-NX commented on #1413
We're missing this feature as well.
We're trying to send all our syslog logs to the port 514 of fluentbit, but because some equipements doesn't include their hostname/IP in the message, we're stuck

[2021-09-20 13:53] NikNikM commented on #4097
Thank you for your message. Is this going to be available in the next version (1.8.8)?

[2021-09-20 16:06] urwah1996 commented on #3645
Are we going to do anything about this?
we are facing this issue

[2021-09-20 16:26] edsiper commented on #3645
cc: @leonardo-albertovich

[2021-09-20 19:35] rmarchei commented on #4042
actually it seems to be still broken in `1.8.7`

Constant:
[code]

yep

Here you the conf:
[code]

yes, I just have to install a version `>1.8.4`, restart fluentbit and the issue appears

[2021-09-21 01:56] #3959 closed

[2021-09-21 04:57] cosmo0920 commented on #3383
Short description: Yeah, winlog plugin uses old API to retrieve Windows EventLog. New EventLog channels is not compatible for new APIs which are provided from [`<winevt.h>`](https://docs.microsoft.com/en-us/windows/win32/api/winevt/).
I'll take a look on this week.

[2021-09-21 07:16] qgervacio commented on #4071
Tested ok in 1.8.7

Using

[code]

Output

[code]

[2021-09-21 08:33] kkujawa-sumo commented on #2591
@epcim What is `m_oprtf0` which you proposed to use in livenessProbe in https://github.com/fluent/fluent-bit/issues/2591#issuecomment-707082441?

[2021-09-21 14:29] Dentrax commented on #3909
kind ping @fujimotos @thotypous 😇

any updates here? Is this known bug or done intentionally?

As a workaround, we set the `Generate_ID     On` in the `values.yml` _(helm)_ as @abhisheksharma2805 said. 🙏

[2021-09-21 14:59] #4071 closed

[2021-09-21 15:18] rmarchei commented on #4042
sure, no problem. Which username (or channel) should I message?

[2021-09-21 15:28] leonardo-albertovich commented on #4042
Leonardo Almiñana

[2021-09-21 17:13] leonardo-albertovich commented on #4042
After carefully verifying the issue we (@rmarchei and I) found that when a hostname used as endpoint by an output plugin is present in the `/etc/hosts` file the DNS client changes the socket type and protocol returned from TCP to UDP which in the end is what caused the connection timeouts for him.

We are still investigating this issue to find the root cause. In the meantime, any users affected by

[2021-09-21 17:17] matthewfala commented on #2840
Just an update on the progress of IMDSv2 support. The unit tests and code have been written, and the tests are passing. We're going through a couple code reviews. Feel free to take a look at the PR https://github.com/fluent/fluent-bit/pull/4086. Releasing the code may take ~2 weeks. Thank you for your patience and input on the importance of this feature.

[2021-09-21 20:21] thotypous commented on #3909
It used to work with `Generate_ID Off` back when I initially submitted the patch, but that was a really long time ago. Maybe generating the ID is now required. Is there an use case for *not* generating the ID? Maybe it could be enforced as @abhisheksharma2805 suggested.

[2021-09-21 20:56] lubingfeng commented on #3886
Do we have an ETA for this one?

[2021-09-21 21:55] NikNikM commented on #4097
Ok, I tried to use it and there are some problems :(
1) Type long is automatically parsed as int: https://github.com/fluent/fluent-bit/blob/v1.8.6/src/flb_avro.c#L89
Avro schema: `"fields":[{"name":"timestamp","type":{"type":"long"} ...`
2) Type double is not parsed; in my case, I have `"value": 5` that I would like to write as a double. It is parsed as int and it fails as the schema is different:

[2021-09-21 22:45] #4038 closed

[2021-09-21 23:46] fhitchen opened #4109 "HTTP_PROXY environment variable not working for es egress"
## Bug Report

The documentation states "Fluent Bit supports setting up a HTTP proxy for all egress HTTP/HTTPS traffic by setting HTTP_PROXY environment variable:"

I set all possible combinations of http_proxy https_proxy upper and lowercase and tried to stream logs to es. It did not work, the log clearly showed that fluent-bit was not honoring the proxy environment variable and was trying to con

[2021-09-22 01:51] frankreno commented on #2661
Seeing this issue as well.  Any updates on this? Any information we can capture and provide to attempt to help get this issue moving towards a fix? Looks like it has been around for several releases and makes fluent-bit unreliable.  We are seeing this in multiple Kubernetes environments and there is no viable work around to detect that won't have the possibility of missing logs.

[2021-09-22 02:06] krispraws opened #4110 "mbedtls upgrade from 2.24.0 to 2.26.0 causes significant performance regression in mbedtls_base64_encode"
## Bug Report

**Describe the bug**
This was discovered while trying to root-cause why my workflow that reads log files using `tail` input and `kinesis.firehose` had consistent connection timeouts, slow DNS lookups, segmentation faults and general performance issues when trying to process even 500 KB/s. The performance issues only showed up for Fluent Bit versions 1.8.1 or higher. I tested the sam

[2021-09-22 07:29] bitwalker commented on #3886
I'll chime in and confirm that I'm seeing this on GKE, 1.20.9-gke.701, COS-based nodes, with `multiline.parser cri` (and `multiline.parser cri, docker`). Errors start appearing eventually and it seems like the longer you wait, fewer logs get collected. Same basic thing as the other reports. Definitely seems to be related to log rotation as others have observed.

It wouldn't be super pressing if th

[2021-09-22 08:34] ArmitageW opened #4111 "fluent-bit-1.6.10 Log loss： failed to flush chunk"
## Bug Report

**Describe the bug**

Log loss，Fluent bit error:
[engine] failed to flush chunk '1-1632298195.160815160.flb', retry in 11 seconds: task_id=19, input=tail.0 > put=es.0

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
[2021/09/22 08:09:55] [debug] [output:es:es.0] HTTP Status=200 URI=/_bulk
[2021/09/22 08:09:55] [debug] [upstream] KA connecti

[2021-09-22 10:06] triptesh1212 opened #4112 "td-agent-bit installing issue in Red Hat 7.2.1-2"
Hi, I am trying to install td-agent-bit at Amazon Linux (Red Hat 7.2.1-2) using the following link.
<https://docs.fluentbit.io/manual/installation/linux/redhat-centos>

when running `sudo yum install td-agent-bit `  it gives the following error .
[code]
I followed the same steps at Amazon Linux (Red Hat 7.3.1-13) and it worked fine there, but for (Red Hat 7.2.1-2) got this error.

[2021-09-22 10:12] cosmo0920 commented on #3383
Hmm..., it's weird. In my Windows laptop, Microsoft-Windows-Time-Service/Operational can be consumed with `winlog` plugin.
But, string inserts does not handled properly to inject Windows EventLog string template.

![image](https://user-images.githubusercontent.com/700876/134325506-2613df1e-7d5c-48a5-b41e-cce5b0784866.png)

[2021-09-22 11:56] bubbleatgit commented on #1331
@markuman

the key "log" can not remove ,because `one key must exists`.

so, we can use the filter named "nest" in our data, just like this:

## origin data output

[code]

## Nest Filter config
[code]

## result

![image](https://user-images.githubusercontent.com/7858776/134338959-890c2494-1725-4529-b1cf-4ea2e65e8208.png)

[2021-09-22 14:48] rslowe commented on #3383
@cosmo0920, It does appear to look like that, but if you manually look at the Time Service Operational logs in Event Viewer, they do not match at all. (Based on your screenshot, it appears that "Software Protection Platform Service" is in the Time Service Log, which does not make any sense.)

Just to be certain that this still does cause an issue, I've tried this on FluentBit v1.8.7 (the current v

[2021-09-22 15:18] cosmo0920 commented on #3383
Right. fluent-bit's winlog plugin does not implement win32-eventlog equivalent getting event description functionality:
https://github.com/chef/win32-eventlog/blob/4ee4c33665e0774963539e36e890108e45466f9e/lib/win32/eventlog.rb#L854

So, string inserts values are only obtained.
They are used for injecting string template.

String template is used by reducing windows eventlog's event size like as:

[2021-09-22 17:35] krispraws commented on #4110
I see `mbedtls_base64_encode` being used in multiple output plugins: https://github.com/fluent/fluent-bit/search?q=mbedtls_base64_encode

[2021-09-22 19:38] edsiper commented on #4110
thanks for pointing this out.

We should definitely get rid of mbedtls, actually is only used for hashing kind functions. Since we use OpenSSL, I think is fair enough to write our own wrappers

[2021-09-22 21:23] krispraws commented on #4110
We (firehose) were using it for base64 encoding only. Do you have suggestions on a better library that all plugins can use for non-ssl related base64 encoding? Or should we add an implementation and check it in as source?

[2021-09-22 22:44] KellyBennett opened #4115 "Cannot start service in Docker container"
## Bug Report

**Describe the bug**
I'm unable to run fluent-bit from within an ubuntu Docker container

**To Reproduce**
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

To reproduce the issue yourself, start a container with this Dockerfile definition to reproduce the error:
[code]
This Dockerfile just automates the steps from https://docs.fluentbit.io/manual/instal

[2021-09-22 23:03] nokute78 commented on #4097
Thank you for pointing.

1. Should we use `avro_value_set_long` anytime? Currently we use msgpack-c which treats `MSGPACK_OBJECT_POSITIVE_INTEGER` as 64bit integer. It doesn't support 8/16/32 bit integer types.
2. What is input plugin ? or If you use parser , you can use `types` property to convert data type. https://docs.fluentbit.io/manual/v/1.3/parser#configuration-parameters

[2021-09-23 01:51] #3971 closed

[2021-09-23 01:51] #3965 closed

[2021-09-23 01:51] #3963 closed

[2021-09-23 01:51] #3962 closed

[2021-09-23 02:07] JonZeolla commented on #3987
More recent releases seem to be correct, not sure why 1.8.0 was different

[2021-09-23 03:32] nokute78 commented on #4115
I think there is no symlink at /etc/init.d .
`ln -s /opt/td-agent-bit/bin/td-agent-bit /etc/init.d/td-agent-bit` is needed.

[code]

[2021-09-23 03:48] ogunko12345 opened #4117 "On windows with TLS verify On Fluent-bit refuses connection"
## Bug Report

(Windows)

**Issue**
when tls.verify is On  fluent-bit refuses connection.

log shows:

[2021/09/22 22:06:21] [debug] [tls] connection #712 SSL_connect: before SSL initialization
[2021/09/22 22:06:21] [debug] [tls] connection #712 SSL_connect: SSLv3/TLS write client hello
[2021/09/22 22:06:21] [debug] [tls] connection #712 WANT_READ
[2021/09/22 22:06:21] [debug] [tls] connection #71

[2021-09-23 07:40] KKulishov opened #4118 "I can not transform JSON parser"
## I can not transform JSON parser

Colleagues, can you tell me.
Trying to parse docker log via Fluent Bit  (v1.8.7)

Here is an example of log output  docker json.log
`{"log":"{ orderID: 12345, shopperName: Test test, TestEmail: test@example.com }\r\n","stream":"stdout","time":"2021-09-23T06:35:09.774585192Z"}`

Here is my example config
[code]

start Fluent Bit
`/opt/td-agent-bit/bin/td-agent-bi

[2021-09-23 09:47] nokute78 commented on #3521
https://github.com/bottlerocket-os/bottlerocket/issues/1628#issuecomment-870681004

This comment reports  EINTR from epoll_wait and mishandling.

[2021-09-23 12:07] novegit commented on #4118
have a look to "Merge_Log" option in the kubernetes filter. This will add the fields from json formatted logmessages into new field "log_json":
[FILTER]
    Name                kubernetes
    Match               generic-kubernetes.*
    Kube_URL            https://kubernetes.default.svc.cluster.local:443
    Merge_Log           On
    Merge_Log_Key       log_json
    Keep_Log            Off
    K8

[2021-09-23 13:30] KKulishov commented on #4118
@novegit thanks, but this example doesn't work. You can check it yourself

[code]
[code]
docker stdout
[code]
fluentbit stdout
[code]

log docket json
`{"log":"{key1: 12345, key2: abc, time: 2006-07-28T13:22:04Z}\r\n","stream":"stdout","time":"2021-09-23T13:28:06.13830673Z"}
`

[2021-09-23 14:09] KKulishov commented on #4118
@novegit sorry
the problem is on my side, during debugging

docker stdout
`echo {\"orderID\": 12345, \"key1\": \"test\"} >> /proc/1/fd/1`

then fluentbit stdout
`[0] test.var.lib.docker.containers.0018421b1122c9380811af6cf215137e000d3f7b1d00028f4f4990d21a8fc548.0018421b1122c9380811af6cf215137e000d3f7b1d00028f4f4990d21a8fc548-json.log: [1632406081.992868910, {"log"=>{"orderID"=>12345, "key1"=>"test

[2021-09-23 15:13] #4118 closed

[2021-09-23 15:14] KKulishov commented on #4118
@novegit thanks for the help

[2021-09-23 15:44] aqubo commented on #2840
Thank you for your help, will the new IMDSv2 support be new Fluent Bit image release, or we can upgrade from IMDSv1 to IMDSv2

[2021-09-23 16:08] matthewfala commented on #2840
Aqubo,you're welcome, and thanks for checking back. We are expecting to include IMDSv2 support in the next Fluent Bit release, 1.8.8. Will keep you updated.

[2021-09-23 18:22] pranavmarla commented on #3620
bump

[2021-09-23 21:00] oded-dd commented on #3521
We have the same issue on Kubernetes with v1.20.11

[2021-09-23 21:01] hafkaM commented on #574
Hi. Some news?:)

[2021-09-23 21:04] agup006 commented on #574
Heya, some updates from our community meeting July 29th (https://docs.google.com/document/d/1vJvsn8E0SanLO1R0X3RC1qTw0XQK_7q75sZ8IbWAu-g/edit#heading=h.nowdn7qwlldd) was a member taking a look on adding it along with better rdkafka support. I'm not sure where this stands though happy to discuss at our next community meeting next Thursday if folks are interested

[2021-09-24 02:11] smlx commented on #2513
Can we please get this issue re-opened? It is a legitimate feature request.

[2021-09-24 04:48] edsiper commented on #2513
+1 high priority

[2021-09-24 06:04] cork opened #4119 "Root cert for packages fluentbit io is expired"
I've checked the CentOS, ​Ubuntu, ​Debian, Raspbian and Yocto repos and they are all reporting 403 forbidden. Taken from fluent/fluent-bit-packaging#17 it looks to have been like this since mars.

Is linux packaging still supported and if so why haven't anything happened around this?

[2021-09-24 08:00] robinwolny commented on #2840
@matthewfala when do you expect a release day for 1.8.8? Or do you have any beta/test/pre-release version of 1.8.8 available? I would like to test it on our env as we are also struggling with IMDSv2 EC2 + fluentbit s3 output and due to security requirements we cannot switch to IMDSv1. Thank you.

[2021-09-24 10:33] com30n opened #4120 "Stackdriver "[http_client] cannot increase buffer: current=32000 requested=64768 max=32000""
## Bug Report

**Describe the bug**
Hey I'm getting an error while using stackdriver output:
`[ warn] [http_client] cannot increase buffer: current=32000 requested=64768 max=32000`

Found the same issue at elasticsearch output https://github.com/fluent/fluent-bit/issues/3918
and the solution was `"You may be able to try http_buffer_size parameter within the elasticsearch output"`

But following do

[2021-09-24 14:47] Parcley commented on #3962
I am wondering if providing a conan package of fluentbit was really considered.
Conan is the de-facto package manager for C++ (https://docs.conan.io/en/latest/) and fluentbit could benefit from offering a conan package:
Developers could easily retrieve the fluentbit conan package and integrate fluentbit's features into their own projects within minutes.

I vote for providing a conan package. If @S

[2021-09-24 15:03] Parcley opened #4121 "Conan Package"
I am picking up on an already closed issue (https://github.com/fluent/fluent-bit/issues/3962)

Conan is the de-facto package manager for C++ (https://docs.conan.io/en/latest/) and fluentbit could benefit from offering a conan package:
Developers could easily retrieve the fluentbit conan package and integrate fluentbit as a library into their own projects within minutes.

Is this something you are

[2021-09-25 01:47] #3977 closed

[2021-09-25 01:47] #3975 closed

[2021-09-25 01:47] #3972 closed

[2021-09-25 01:47] #3967 closed

[2021-09-25 03:29] ogunko12345 commented on #4117
Have resolved the issue. Original problem has been related to ca certificate bundle file. after trying different one it worked.

[2021-09-25 03:29] #4117 closed

[2021-09-25 03:32] ogunko12345 commented on #4117
Would be nice to provide more detailed information about ca_path and ca_file. have been reading comments that need those only  when providing client certificate, etc.

[2021-09-25 04:01] #4042 closed

[2021-09-25 13:57] fhitchen commented on #4109
Looked at the wrong version of the documentation. HTTP_PROXY did not get added until 1.7.

[2021-09-25 13:57] #4109 closed

[2021-09-25 17:09] Lumiond commented on #3976
Still need assistance.

[2021-09-25 23:26] nokute78 commented on #4049
Currently in_emitter has 2 threads.

1. rewrite_tag -> in_emitter_add_record -> msgpack_sbuffer_write
2. (timer thread. every 0.5 sec) cb_queue_chunks -> flb_input_chunk_append_raw

I think `mem_buf_limit` is for flb_input_chunk API, so the thread 1 doesn't have limits.

[2021-09-26 06:15] jkxplg commented on #3995
Any updated on this?

[2021-09-26 08:26] nokute78 commented on #3521
Can anyone test below branch ?
v1.8.7 + retry epoll_wait when EINTR occurred.
https://github.com/nokute78/fluent-bit/tree/epoll_debug

[code]

[2021-09-26 10:49] nokute78 commented on #3875
@mierzej91 Sorry, I don't know.

@edsiper Could you review #3896 to fix this issue ?

[2021-09-26 11:42] oded-dd commented on #3521
The problem seems to be with readiness and liveness. After removing it from the chart it works as expected

[2021-09-27 01:48] #3958 closed

[2021-09-27 05:05] cosmo0920 commented on #3383
I'm continuing further investigation for this issue.
Currently, I'd found that classical channels are retrievable for ReadEventLog and Registry related APIs.
But, for the new event channels that are managed under applications and services branch, current winlog plugin is not able to handle them.
We're planning to provide a new plugin which uses `winevt.h` provided APIs.

[2021-09-27 05:07] cosmo0920 commented on #3383
FYI: Event Viewer seems to be built with C# and System.Diagnostics.EventLog class. This class' backend also uses `winevt.h` API.
So, Event Viewer works nicely.

[2021-09-27 08:34] aporuchy commented on #4089
Any updates on this?

[2021-09-27 08:36] psyhomb commented on #3955
Had all kind of different issues since day one with fluent-bit and I have it enough, I've simply switched to  Filebeat OSS and everything is running perfectly smooth.

[2021-09-27 09:08] vakaobr commented on #3123
@rubans are you able to fix it ? having the same issue

[2021-09-27 15:45] KellyBennett commented on #4115
@nokute78 Thanks for the response. I'm a bit confused by the need for a symlink to something on my computer. I'm going to be having this Docker container running in a cloud service, how can I be required to have a sim link to `/opt/td-agent/bin/td-agent-bit` ?

[2021-09-27 16:30] agup006 commented on #3014
Hey folks, updating @elruwen gave us a really nice repro and we will be freeing up after fixing some of the odd DNS timeout issues in 1.8.7. Realistically, will have some more details after FluentCon NA (Oct 12). I'll also bring up this issue in the community meeting Thursday Sept 30 @ 9:00 AM PST

[2021-09-27 17:52] #4115 closed

[2021-09-27 18:23] epcim commented on #2591
Just an env.variable populated by parsed metric.On 21 Sep 2021 10:33, Katarzyna Kujawa ***@***.***> wrote:
@epcim What is m_oprtf0 which you proposed to use in livenessProbe in #2591 (comment)?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-09-28 09:37] toabi commented on #3085
This is still an open bug!

[2021-09-28 11:19] jiscfoo opened #4132 "Broken parser regex causes segfault in flb_parser_get()"
## Bug Report

**Describe the bug**
A broken regular expression is logged as invalid but causes a segfault (sigsegv) later on

**To Reproduce**
Broken custom parser:
[code]

When called from a `tail`:
[code]

[code]

**Expected behavior**
The `error` is expected (as the regular expression is broken).

**Your Environment**

* Version used: 1.8.7 via docker (`fluent/fluent-bit`)
* Configuration: Rel