[2017-08-08 16:59] edsiper commented on #347
Functionality has been implemented.

Fixed.

[2017-08-08 16:59] #347 closed

[2017-08-08 17:07] #348 closed

[2017-08-09 01:43] keyolk opened #349 "Plan for docker log input plugin ?"
How about supporting docker logs input ?
Currently Docker supports fluentd log-driver but when I use it
I cant use "docker logs" CLI.
the CLI only supports for "json-file", "journald" log-driver.

In my case I use non-systemd based System.
To aggregate containers logs, \
  polling target containers logs using docker, \
  get diff, \
  append it to file, \
  read it using fluent-bit, \
  then send

[2017-08-09 08:01] okkez opened #350 "Can fluent-bit talk with Fluentd v0.14 in_forward using TLS?"
I'm trying to use fluent-bit with Fluentd v0.14.20 in_forward using TLS with private CA.
fluent-bit: 70d0594de5 (build myself)

fluent-bit.conf:
[code]

fluent.conf:
[code]

I got errors from fluent-bit:

[code]

I got errors from Fluentd in_forward:

[code]

Configuration for in_forward works with Fluentd's out_forward using following configuration:

[code]

I've created CA files following comman

[2017-08-09 12:06] prune998 commented on #233
where is it located in the todo-list ?

[2017-08-09 13:36] edsiper commented on #233
@prune998 this issue, it's labeled as enhancement.

[2017-08-10 04:04] edsiper commented on #350
@okkez

we were doing some troubleshooting today. We found that Fluentd v0.14 uses the Basic Constraints extension when configuring SSL/TLS that makes the problem visible, in Fluentd v0.12 this is not enabled and the communication works well.

No solution is yet available as we are figuring out where the fix or improvement should be done. More updates within the week.

[2017-08-10 04:09] edsiper commented on #349
Actually Fluent Bit can consume Docker logs from json files. Do you need also to collect specific metadata as container name, container id, etc ?

[2017-08-10 05:38] okkez commented on #350
Thank you for your information. I will check updates.

[2017-08-10 11:44] keyolk commented on #349
@edsiper
Yes I can use json file.
But you know, it is hard to check its location before it launch.
My situation is ... get some logs from the container named "A" or labeled "B", and put them to fluent-bit.

[2017-08-10 15:41] edsiper commented on #350
@okkez

I managed to make it work, it was a setup issue. I've generated a self-signed cert as this:

[code]

then in Fluentd 0.14.20 I started it with the following config:

[code]
then started Fluent Bit as follows:

[code]

let me know how it goes

[2017-08-10 15:57] edsiper commented on #349
where are your docker logs located now ? how the path looks like ?

[2017-08-10 17:16] keyolk commented on #349
@edsiper

like below
[code]

yeah, I may can make the container to dump its log to specific path, and bind it to host.
but in this case I have to change its Dockerfile or its own confinguration file.

for example, consul.
it doesn't have configuration for log file. it just put its log to stdout/stderr.
if I want to see its log using "docker logs" and also from file,
I need to rewrite or extend its

[2017-08-11 09:00] 2solt opened #352 "HTTP output plugin thinks that could not flush records"
Im trying to send logs to logstash (http input), the data arrives correctly but fluent-bit (v0.11.16) thinks it didn't.

fluent-bit.conf:
[code]
/tmp/test.log:
[code]

fluent-bit log:
[code]

curl test:
[code]

logtash log:
[code]

[2017-08-14 01:29] okkez commented on #350
I could not confirm working with TLS.
I got following errors:

[code]

My openssl command version is `1.1.0f-4`.

I removed `tls.key_file` and `tls.key_passwd` option and got following errors:

[code]

[2017-08-14 01:49] okkez commented on #350
My key.pem start with `-----BEGIN ENCRYPTED PRIVATE KEY-----` and end with `-----END ENCRYPTED PRIVATE KEY-----`.

[2017-08-14 17:31] edsiper commented on #352
@2solt

__disclaimer__: this plugin was not designed to work with logstash

but let's see what the problem is...

[code]

looks like the TCP connection was broken, I will do some tests and get back to you during the week.

[2017-08-14 18:47] edsiper commented on #350
what command did you use to generate the certificates ?

[2017-08-14 23:36] okkez commented on #350
I've tried following 4 commands:

`enerian.local` is my hostname.

[code]

[2017-08-14 23:59] kushwiz opened #353 "Bug: incorrect kube metadata"
Fluent-bit version used: `0.11.16`
Configuration used:
[code]

Logs from pods of `namespace` get appended with Kube metadata of pods from `othernamespace`.   Some logs do not have metadata information as well.

Let me know if you cannot replicate this.

[2017-08-15 05:01] edsiper commented on #353
@kushwiz

I've tried to replicate without success...

note: logs without metadata usually happens when the API server do not have the meta for the key pair of namespace and pod_name .

[2017-08-15 07:44] 2solt commented on #352
I amused that not design for it.
I was just reading fluent-bit's http output spec and logstash's http input spec, and I tough I give it a try.
Thanks for having a look tough.

[2017-08-15 16:30] edsiper commented on #353
are you able to replicate with minikube ?

[2017-08-15 17:53] kushwiz commented on #353
I have a k8s cluster running with two namespaces. No not minikube.

[2017-08-15 17:55] edsiper commented on #353
is it enough to have two "echo something" PODS on each namespace to replicate the problem ?

[2017-08-15 18:03] kushwiz commented on #353
I had enough number of logs - approx 1000 lines from from both namespaces.  I believe its some race condition? I am not sure.

[2017-08-15 19:21] prune998 opened #354 "log requires a larger buffer size"
Kubernetes 1.7 + RBAC
Fluent-bit 0.11.16

Fluent-bit keeps generating long lines in its own log file, breaking himself with this error :
[code]

content of the log file :

[code]

[2017-08-15 20:54] edsiper commented on #353
I've tried to replicate again in a real cluster (digital ocean) but without success, I did this:

#### Create namespaces

[code]

#### Create service account and roles

[code]

#### Deploy sample PODS

Each pod runs in a different namespace and generate 1k lines:

[code]
#### Deploy Fluent Bit DaemonSet

[code]
The daemonset will do nothing with looks since this is a test config, so we need to get

[2017-08-15 21:09] edsiper commented on #354
@prune998

your log lines are > 32kb, please adjust the value to the desired one according to the _Buffer\_Chunk\_Size_ property:

http://fluentbit.io/documentation/0.11/input/tail.html

[2017-08-15 21:55] kushwiz commented on #353
Can you try with two in_tail blocks ?

tail for /var/log/containers/*ns1*.log . Tag ns1.*
tail for /var/log/containers/*ns2*.log . Tag ns2.*

Something like below.

[SERVICE]
    Daemon off
    Parsers_file parser

[INPUT]
    Name tail
    Path /var/log/containers/*ns1*.log
    Parser docker
    Tag ns1.*

[INPUT]
    Name tail
    Path /var/log/containers/*ns2*.log
    Parser docker
    Tag ns2.

[2017-08-15 22:05] edsiper commented on #353
Just tested with:

[code]

[2017-08-15 23:28] kushwiz commented on #353
Let me debug this at my end. You are using namespace:pod_name as the cache key. I think in my case, there might have been some collision.

[2017-08-15 23:40] kushwiz commented on #353
Yes, i see that the flb_hash_get returns wrong metadata.  We can chat about this on slack. I am in the fluentd slack group.

[2017-08-16 00:09] kushwiz commented on #353
At: https://github.com/fluent/fluent-bit/blob/master/src/flb_hash.c#L239

If you have just one entry in the MonkeyList, you should again compare the string and set to NULL if it doesn't match.  Does this make sense? Let me submit a PR.

[2017-08-16 00:19] kushwiz commented on #353
https://github.com/fluent/fluent-bit/pull/355

This fix worked for me. It does make sense to string compare the keys even if there is just one entry in the list?

[2017-08-16 03:04] edsiper commented on #353
Fixed by #355

thanks for troubleshooting and fix this. I am releasing a new version with this change now.

[2017-08-16 03:10] edsiper commented on #353
http://fluentbit.io/announcements/v0.11.17/

[2017-08-16 03:10] #353 closed

[2017-08-16 10:59] prune998 commented on #354
@edsiper, I truncated the log line... let me copy it fully :

[code]

I'm OK to grow the buffer_chunk_size (Mem_Buf_Limit = 35M for now), but as this is the fluent-bit log, there may be a bug somewhere....

[2017-08-16 14:38] stanimirovv opened #356 "Possible to set a specific parser from the command line ?"
Hey,

Apologies for writing here if this isn't the correct place to ask questions.

Summary:
I am getting different output than expected when parsing apache logs from the documentation.
I think I haven't set up fluent bit to use the apache parser. Is that so?
Command:
`fluent-bit -i tail -p path=apache.log -t apache --parser=parser.conf -o stdout
`

Detailed version:
I was reading the official doc

[2017-08-16 15:46] prune998 opened #357 "[BUG] in_tail plugin bad logging when file not found"
When restarting fluent-bit inside K8s cluster, it tries to open previous files declared in the database.
Some files does not exist anymore and fluent-bit keeps logging a useless error for some time :

[code]

- the "file or directory" name should be appended to the error
- the error log line should appear only once

I'm going to have a look at the code and try to do a PR, but I'm no expert in this

[2017-08-16 17:32] kushwiz opened #358 "kube meta: no meta attached to log although flb_http_client is able to fetch meta from kube API"
I am not sure if this is possible to replicate. But for one pod I am having this weird `111b` preppended in the response received from `/api/v1/namespaces/<ns>/pods/<pod>`

I printed the response `c->resp.payload` and it starts like this:
[code]

c->resp.data looks like this
[code]

Whereas, it should start like this:
`{"kind":"Pod","apiVersion":"v1","metadata`

Although, `curl` from the API serve

[2017-08-16 18:03] edsiper commented on #358
that's the chunked transfer header (hex number plus \r\n specifying the number of bytes on that chunk)

[2017-08-16 18:07] kushwiz commented on #358
So, because of that `flb_pack_json` is not able to parse the JSON.

[2017-08-16 18:26] edsiper commented on #358
so there is a problem since the header should be dropped

[2017-08-16 18:29] kushwiz commented on #358
Ok. I see that there is some code present that does drop the header. Let me try to debug this using gdb, I am not a C guy :)

[2017-08-16 20:04] katrielt commented on #203
Would like to see this implemented as well, so I can replace fluentd with fluent-bit in clients. We use multiple outputs to the same load balancer (different ports) to better utilize our collector nodes. This setus allows running 4 or 5 fluentd instances per collector node.

[2017-08-16 23:01] kushwiz commented on #358
Figured it out:
https://github.com/fluent/fluent-bit/blob/23844d0bdd078646ff885e3c86a83ff63ba9e299/include/fluent-bit/flb_http_client.h#L28

I increased the `FLB_HTTP_DATA_SIZE_MAX` to 8196 as my Pod information was well over 4096 and the errors stopped.

We could make it 6k bytes instead of 8k for lesser memory? Suggest please.

111b -> 4379 (well over 4096)
128c -> 4748 (well over 4096)

[2017-08-16 23:14] edsiper commented on #358
@kushwiz thanks for catching that!

I've pushed a change where now the HTTP client have by default a maximum buffer of 32KB (grows up to 32KB), this can be changed too using the new _buffer\_size_ configuration option.

Please send me some feedback.

[2017-08-16 23:38] kushwiz commented on #358
I will test this out later today. Thanks !

[2017-08-17 03:50] VinkDong opened #359 "How do in_tail deal with Scroll log"
I am sorry to trouble you again ··
I have a little test with in_tail a scrolling log and find a problem:

- first I touch a log file by `echo aaa > a.log` and run flb
[code]

- then append content by echo

[code]
since now out put is correct
[code]
- then I clean flie and append other  content
[code]
Now can't get new record, like docker log if limit the log's max-size and max-file it will do a si

[2017-08-17 17:33] kushwiz commented on #358
@edsiper  Thanks. it works now!
I cherry picked your commit 7ca5cb4 on top of 0.11 branch and built and tested.

[2017-08-17 17:34] #358 closed

[2017-08-17 17:38] kushwiz opened #360 "out_rsyslog: New out plugin"
This is a feature request for a new out plugin to write to rsyslog server.

[2017-08-17 17:39] kushwiz commented on #360
Similar to this: https://github.com/docebo/fluent-plugin-remote-syslog

[2017-08-18 02:00] edsiper commented on #359
@VinkDong

in_tail always follow the file changes like _tail -F_ command does. Meaning it keep tracks of the last position read, if you truncate the file (clear file content) Fluent Bit will not read new changes as there is no way to track backward changes.

When Docker engine rotates a file, what it does is that it rename the file, then Fluent Bit catch that change and assumes the file was rotate

[2017-08-18 02:04] edsiper commented on #356
@stanimirovv Actually this is a good place to ask questions :)

When using Fluent Bit from the command line, to specify a "parsers" file you have to use the __-R__ argument (-R conf/parsers.conf). Then if you look carefully at the file you pointed you will see there are many parsers registered, so in_tail just need to know which parser registered it must use, e.g:

[code]

let me know if that work

[2017-08-18 02:06] edsiper commented on #354
Please do:

- Re-test using the new [Fluent Bit 0.12](http://fluentbit.io/announcements/v0.12.0/)
- Share a log file sample that can be used to reproduce the issue

If you are deploying for Kubernetes, please use the following Docker image:

[code]

[2017-08-18 02:08] VinkDong commented on #359
I got it, Thanks

[2017-08-18 02:08] #359 closed

[2017-08-18 11:16] prune998 commented on #354
config is :

[code]

going to upgrade to 0.12. Isn't 0.12 alpha/beta ?

I think I may have found a solution, which concist of adding a `DB` parameter in the `tail` plugin configuratrion :

[code]
This seems to solve the issue of not finding some log files as well as decreasing the memory usage, maybe because large log files are not parsed from the begining at each restart.

I'll come back here aft

[2017-08-18 13:20] stanimirovv commented on #356
Thanks a lot for the assistance. That worked as expected.

[2017-08-18 13:20] #356 closed

[2017-08-22 01:21] joshughes opened #361 "aarch64 Debian Package Build Error"
Building with regular methods on aarch64 works but when executing ./debian.sh and specifically the `fakeroot debian/rules binary` I get the following error.

[code]

To reproduce the error you can use the following dockerfile.

[code]

[2017-08-22 01:22] joshughes commented on #361
this may or may not be relevant.

https://answers.launchpad.net/ubuntu/+question/271372

[2017-08-22 04:37] edsiper commented on #361
@joshughes

do you need official deb packages for aarch64 ?, if so, would you please elaborate your use case meaning how Fluent Bit will be used  ? (this info is important to assign priority)

[2017-08-22 15:34] joshughes commented on #361
We have a robot that runs on [TX2](http://www.nvidia.com/object/embedded-systems-dev-kits-modules.html). We would like to use fluent-bit to ship logs since Fluentd is a much larger package and also does not have ARM support.

I can build my own package from the output of `make` in the meantime... but would like an official package or at least be able to build a single binary in the future.

Our go

[2017-08-22 18:49] joshughes commented on #361
and to clarify I am happy to build from a branch or implement a fix on a fork or something if the team can provide me with a little guidance. I don't need something official right away... I just want to get this working ASAP.

[2017-08-22 19:31] romanvbabenko opened #362 "[ warn] [in_syslog] error parsing log message"
Ubuntu 16.04
Architecture: amd64
Version: 0.12.0
[code]

/etc/td-agent-bit/td-agent-bit.conf
[code]

/var/log/syslog
[code]

[2017-08-23 03:54] edsiper commented on #362
what Syslog format rsyslog is using ? rfc5424 or rfc3164?

[2017-08-23 04:58] keyolk opened #363 "Parser Filter not works well"
from this, https://github.com/fluent/fluent-bit/issues/348
I tried it with 0.12 of fluent-bit

first I tested
[code]
it's parser works well

[code]
but it doesn't work at all.
Changing Key_Name to "dockerd", "level", "msg", "time" also doenst affect to
Is there a way to debug filter parser ?

below is my parser
[code]

I strongly need parser filter with forward input : (

[2017-08-23 05:12] romanvbabenko commented on #362
I tried both provided by Parser parameter. The result was the same.
The format is default for

Vagrant box: v0rtex/xenial64

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial

[2017-08-23 09:15] nokute78 commented on #363
Could you try to test `Key_Name log` ?

in_tail sends record like `"log":"a line of log"` by default .
That configuration is to parse the field of "log".

[2017-08-23 09:50] keyolk commented on #363
@nokute78 You saved me : D

[2017-08-23 09:50] #363 closed

[2017-08-23 20:52] joechromo opened #364 "Basic Security for ES output"
We do not have Elastic X-Pack access set up in our ES cluster, however we do have HTTP basic security set up for our ES endpoint.

First question, do we need to have X-Pack set up for basic security config to work?

(Documentation suggests X-Pack is needed for basic security -
 http://fluentbit.io/documentation/0.11/output/elasticsearch.html )

Secondly, if X-Pack is not required, what would be ca

[2017-08-23 21:06] edsiper commented on #364
which version of Fluent Bit are you using ?

[2017-08-24 03:27] jolestar opened #365 "Support dynamic configuration"
Please support reload configuration files and do not need restart server.
I think there are two approach:

1.  Catch SIGHUP signal
2. Offer a http api

[2017-08-24 13:02] joechromo commented on #364
Version     : 0.11.15

[2017-08-24 13:20] joshughes commented on #361
@edsiper are you able to provide any advice or update on this?

[2017-08-24 14:10] edsiper commented on #364
for some reason your load balancer or proxy where Fluent Bit is connecting to is closing the connection:

[code]

do you have access to that service logs ?

note: not related but I strongly suggest you upgrade to v0.12.0 or v0.11.17 version

[2017-08-24 14:11] edsiper commented on #361
I am doing some tests, I will provide an update before the end of the week.

[2017-08-24 15:33] joechromo commented on #364
@edsiper

So we figure out the issue with the connection.  It was being rejected by our proxy:

[2017-08-24 15:35] joechromo commented on #364
Now I am seeing a buffer size issue for the tail input -

td-agent-bit[21810]: [2017/08/24 15:33:39] [error] [in_tail] file=/var/log/messages requires a larger buffer size, lines are too long. Skipping file.

So I have upgraded to v0.12.0 and will try to use the new system d input config as an alternative to regex match on giant catch-all log (/var/logs/messages)

[2017-08-24 16:09] joechromo commented on #364
@edsiper

so now we are getting this:

td-agent-bit[32331]: Input plugin 'systemd' cannot be loaded
td-agent-bit[32331]: Error: Configuration file contain errors. Aborting
td-agent-bit[32331]: Fluent-Bit v0.12.0

My new config is as follows-
[INPUT]
    Name            systemd
    tag             logs_gateway
    Systemd_Filter  _SYSTEMD_UNIT=enablement-gateway.service

Any suggestions on what mig

[2017-08-24 16:24] edsiper commented on #364
regarding the in_tail part, that error means that someline (or multiple ones) are bigger than 32kb (a very long line), please adjust the value Buffer_Chunk_Size option as described in [Tail documentation](http://fluentbit.io/documentation/0.12/input/tail.html)

abouto systemd , please set Log_Level trace in your main SERVICE section, e.g:

[SERVICE]
    Log_Level  trace
    ...

[2017-08-24 17:46] joechromo commented on #364
I get nothing extra in the logs... same message.  Do you know if anyone has successfully used systemd plugin with td-agent-bit?

[2017-08-24 17:49] edsiper commented on #364
Yes, it's being used in Kubernetes without problems.

What about if in your OUTPUT/systemd section you append:

[code]
or any alternative path where your Journal log files are located ?

[2017-08-24 18:00] joechromo commented on #364
I am not 100% sure what you mean be that.. I am using an ES output config.  Are you saying to switch that too a file output and forward logs to a file in /var/journal?

[2017-08-24 18:04] edsiper commented on #364
When using the systemd plugin, this one is failing. As a workaround I would like to see what's the behavior if you specify a manual path for systemd journal files, e.g:

[code]

[2017-08-24 18:14] joechromo commented on #364
Still get the exact same result in the logs.. Not sure if it makes a difference, but we are using fluentbit on remote servers deployed in the field running Fedora 25.  The way we are installing the RPM is by building using fluent-bit packaging:

./build.sh 0.12.0 fedora/25

[2017-08-24 18:16] edsiper commented on #364
hmm note that build rules for Fedora is not including systemd devel libraries which are required

[2017-08-24 18:29] joechromo commented on #364
I installed systemd-devel with dnf:

[code]

still getting the same issue

[2017-08-24 21:04] kushwiz commented on #360
I feel like doing this over the long weekend! :)

[2017-08-31 04:53] edsiper commented on #354
@prune998 are you still facing the same issue ?

[2017-08-31 11:48] prune998 commented on #354
sounds better with latest version and the usage of a DB file...

I'm still seeing some `No such file or directory` but not enough to be considered an issue...

[code]

I think this issue can be closed, and maybe the documentation could be changed to insist of using a DB file ?

[2017-09-01 08:07] DonMartin76 opened #367 "Update to Kubernetes 1.7.2 and fluent-bit 0.12.0 - Certificate validation error"
Hi,

We updated our Kubernetes cluster to 1.7.2 recently (running via Rancher 1.6.6), and needed to do some adaptions for fluent-bit to discover the logs, and during that we also updated fluent-bit to version 0.12.0. This caused the following error in the fluent-bit logs:

[code]

This seems to be related to your updating `mbedtls` from 2.4.2 to 2.5.1 for release 0.12.0, but I can unfortunately no

[2017-09-01 15:08] edsiper commented on #367
It's related to filter_kubernetes where it requires valid certificates when connecting to the API server.

We just got a PR which an enhancement where it makes this validation optional, it's coming as part of 0.12.1 release.

[2017-09-01 16:19] edsiper commented on #364
would you please retry packaging version 0.12 ?, I've updated fluent-bit-packaging repo, I suspect the __build container__ miss the systemd dev package (which is a must)

[2017-09-01 18:08] edsiper commented on #361
I've pushed a test repo with the required package, would you please give it a try ?

[code]

then:

[code]

[2017-09-01 18:24] edsiper commented on #367
FYI: 0.12.1 is already available:

fluentbit.io/announcements/v0.12.1/

to get rid of the TLS cert problem you can specify _tls.verify off_ in your Kubernetes filter.

[2017-09-01 18:57] DonMartin76 commented on #367
Awesome. Will check Monday!

[2017-09-02 22:18] Globegitter opened #368 "modify record based on existing field"
In fluentd I can do something like:

[code]

Even though fluentd now has a record_transformer it does not seem to allow to access existing fields in the record.

[2017-09-05 06:50] adinaclaudia opened #369 "0.12.0 docker image has 0.12.1 executable"
Hi,

We are using fluent-bit docker images and pinning them to a last known good version. We also have a process that reprovisions regularly, which means the docker images are pulled from docker hub every time fresh. And we noticed that fluent-bit docker image 0.12.0 actually contains executable version 0.12.1, which is not what we wanted. If we wanted to get the latest patch version, we would pin

[2017-09-05 09:45] bhavishyagopesh commented on #194
@edsiper I did this yr's GSoC with PSF and have been a k8s user but would now like to contribute too(may be build up for next yrs GSoC)... So I understand the issue at the surface but would like to know the present state and interest? And also will OSX be required necessarily for development? thanks

[2017-09-05 22:19] rksatyam opened #370 "tail plugin should just skip long lines rather than full file"
A long line bigger than Buffer_Max_Size is causing the full file to skipped. This is really bad and kills us. The log line could be skipped but not the complete file.

[2017-09-06 02:43] kushwiz commented on #367
@DonMartin76  did `0.12.1` work for you?

[2017-09-06 08:04] DonMartin76 commented on #367
Haven't gotten around to testing it yet :-( Will come back with info soon.

[2017-09-06 19:21] edsiper commented on #370
Enhancement request: add option to let tail find a breakline and skip that content

[2017-09-06 19:23] edsiper commented on #369
hi @adinaclaudia

thanks for raising this issue. Effectively the source image does not have proper tagging, I will make sure to fix that in the following days

[2017-09-06 19:24] edsiper commented on #361
@joshughes did u manage to test the package ?

[2017-09-06 22:57] jbhilton11 opened #371 "JSON encoding issue when sending via out_http"
When tailing /var/log/audit/audit.log using enriched (resolves user ids and other fields), auditd appends a codepoint ([U+001D](https://codepoints.net/U+001D), specifically) before appending the resolved fields. For instance, this could be what an auditd log looks like:

    type=PATH msg=audit(1364481363.243:24287): item=0 name="/etc/ssh/sshd_config" inode=409248 dev=fd:00 mode=0100600 ouid=0 ogi

[2017-09-07 06:22] adinaclaudia commented on #369
@edsiper thank you, that would be very helpful for us

[2017-09-07 06:28] edsiper commented on #369
@adinaclaudia what's your company name ?

[2017-09-07 07:03] adinaclaudia commented on #369
@edsiper I am working for Haufe :)

[2017-09-07 21:51] marcbachmann commented on #349
It would be nice to support `docker logs` somehow.
Docker has now a nice plugin api for that: https://docs.docker.com/engine/extend/plugins_logging/
E.g. I want to forward to elasticsearch and also support `docker logs` output.
Currently I have to use journald to support that.

[2017-09-11 02:54] edsiper commented on #371
@jbhilton11 would you please upload that file somewhere so I can reproduce locally ?

[2017-09-11 04:13] jolestar opened #373 "epoll_ctl errno 17 when combine tail and systemd"
version: fluent-bit 0.12

fluent-bit.conf
[code]
parsers.conf
[code]

put the above two config  to  /fluentbit/etc/

[code]

error message:

[code]

[2017-09-11 04:37] edsiper commented on #373
I tried to reproduce without success.

When you see the error, does it affects tail or systemd plugin ?

[2017-09-11 06:11] jolestar commented on #373
I can reproduce the error every time.

[code]

[code]

It seems no affects tails or systemd, but I want know why. Monkey seams to be used only for http server, but my config not enable http server.

[2017-09-11 11:32] jbhilton11 commented on #371
@edsiper which file do you need? the audit.log file? or the configuration with parsers files? or all of those?

[2017-09-11 21:01] guineveresaenger opened #374 "Systemd plugin documentation contains errors"
I notice that the top line in config file documentation [here](http://fluentbit.io/documentation/0.12/input/systemd.html) reads [SERVER] where the heading should be [SERVICE] as far as I can tell.

[2017-09-12 01:23] edsiper commented on #374
@guineveresaenger thanks for reporting this issue.

I've just updated the docs with the required fixes, thanks again.

[2017-09-12 01:23] #374 closed

[2017-09-12 01:27] edsiper commented on #373
Looking at the output I see the following:

- There is a epoll_ctl before the service starts, so it's related to a problem when in_tail or in_systemd are initializing.
- in_tail cannot read /var/log/containers, could be related to permissions ?

Fluent Bit uses the Monkey core-runtime engine for memory, networking and other operations, the HTTP interface is not built-in.

please check the permissi

[2017-09-12 01:27] edsiper commented on #371
the file with the unicode byte

[2017-09-12 01:46] jolestar commented on #373
The reason for permissions error is that the /var/log/containers dir is not exist in fluent docker image. Even if I use -v to mapping host /var/log dir to container and fix  permissions error, epoll_ctl error still exist.

[2017-09-12 07:30] duythinht opened #375 "[BUG] in_tail plugin isn't continue watch log file after logrotate was ran on k8s logs file."
I have run fluent-bit for k8s, but after run logrotate, in_tail is not watch log file, which has been rotated.
My fluentbit config:
[code]
My logrotate config
[code]
I thinks something was wrong after logs file has changed outside container, how I reproduce: I run a fluent-bit containers in docker, mount volume `[current_folder]:/log`
* Append log inside containers:
[code]
* append log outside of

[2017-09-12 14:35] jbhilton11 commented on #371
I'm actually not sure how I'd display that on here. I was able to reproduce the character that's added in by taking this specific log into vim and (when in insert mode) doing Ctrl+V and then typing x1d (the hex for the character) between "obj=system_u:object_r:etc_t:s0" and "UID=joe". That's what is added on when auditd configuration is set to "enriched". This causes the issue where it's not taken

[2017-09-13 09:08] jenningsloy318 opened #376 "Error when storing logs into influxdb"
I have configured fluentbit to send  journald logs  `/var/log/journal`into influxdb,  for `show series`, I can see many series stored in influxdb.
[code]
but `select * from docker.service` show nothing.

when I swith the output plugin to `stdout`, one entry of the output is listed as below:

[code]
Seems there is somthing wrong when fluent-bit storing the logs into influxdb?

total conf of fluent-

[2017-09-13 10:47] jolestar commented on #373
I found it seam affect tails input, tail is easily interrupted。

[2017-09-13 13:58] Constantin07 commented on #373
We are getting the same error while running fluent-bit in container.

fluent-bit.out.log:
[code]

[2017-09-13 20:45] edsiper commented on #373
@Constantin07

thanks for the feedback. I am digging into the epoll_ctl problem now, for now can you share your configuration ? I want to find similarities between your use case and @jolestar to find the root cause.

About the "error writing content body" means the other end-point (TCP service) closed the connection. Sometimes it can be related to Fluent-bit 0.12 flushing records to a Fluentd 0.12

[2017-09-13 22:11] edsiper commented on #373
@jolestar @Constantin07

In order to find the root the cause of the problem I need your help trying to reproduce the issue with a new Fluent Bit that I have put in place for download:

- Sources: https://github.com/fluent/fluent-bit/archive/issue-373.zip
- Docker Image: fluent/fluent-bit:0.12-issue-373

please try to reproduce, if you need a specific package (deb, rpm) let me know so I can build i

[2017-09-13 22:22] edsiper commented on #376
would you please try the following from the command line and write back the output:

[code]

[2017-09-13 22:24] baldeynz commented on #373
Hi. We have the same epoll_ctl errno 17  issue in our setup, we are trying to use tail and systemd inputs with fluentbit whilst running in a container as a daemonset in kubernetes. Might not be related but is it possible to run the fluentbit systemd plugin in a container and if so is it dependant on the docker journald logging driver being enabled in docker?

[2017-09-13 23:12] baldeynz commented on #373
I have tried the docker image above and it runs for a little while (showing journald logs for kubelet.service) before failing with the following errors:

[2017/09/13 23:04:51] [  Error] epoll_ctl: File exists, errno=17 at /tmp/fluent-bit-issue-373/lib/monkey/mk_core/mk_event_epoll.c:133
[2017/09/13 23:04:51] [error] [input collector] COLLECT_EVENT registration failed

our config is:
fluent-bit.con

[2017-09-13 23:22] edsiper commented on #373
I was able to reproduce the problem (systemd plugin), I am troubleshooting, I will provide an update shortly

[2017-09-14 05:04] jenningsloy318 commented on #376
Hi @edsiper
Here is the output:
[code]

[2017-09-14 14:07] Constantin07 commented on #373
@edsiper here is the config:

[code]

[2017-09-14 18:48] edsiper commented on #373
I've found the root cause of the problem and pushed a fix into 0.12 branch (fix will be part of 0.12.2 release)

If you can do some tests with the new Docker image (av in the next 15 min), will help to speed up the release of this version:

https://hub.docker.com/r/fluent/fluent-bit/builds/bdmup4vukrspvgwn7quyau9/

## Docker hub image

[code]

### Fixes

- Input Engine: do not start a running coll

[2017-09-14 20:22] baldeynz commented on #373
Hi

Using the same config as before we seem to be getting the same error as we had before:

[2017/09/14 20:07:53] [ info] [engine] started
[2017/09/14 20:07:53] [ info] [filter_kube] https=1 host=kubernetes.default.svc port=443
[2017/09/14 20:07:53] [ info] [filter_kube] local POD info OK
[2017/09/14 20:07:53] [ info] [filter_kube] testing connectivity with API server...
[2017/09/14 20:07:53] [ in

[2017-09-15 01:22] edsiper commented on #373
new sha256 is __414437c9563367744cbc77d1a94c643b42f33686e7d3bac7ede4552196554ba8__

[2017-09-15 02:05] edsiper commented on #371
@jbhilton11 I did a test using the following auditd file:

https://bugzilla.redhat.com/attachment.cgi?id=1257213

the JSON generated is valid (and special characters is encoded properly), this is the JSON output I see the plugin is sending:

[code]

are you using the latest Fluent Bit v0.12.1 ?

[2017-09-15 02:51] edsiper commented on #364
Closing this issue assuming systemd devel was missing when building Fluent Bit (similar problems reported by other users).

If the issue persists, we can re-open it.

[2017-09-15 02:51] #364 closed

[2017-09-15 02:51] edsiper commented on #361
@joshughes ping

[2017-09-15 03:05] jolestar commented on #373
We've confirmed that this bug has been fixed

[2017-09-15 05:56] edsiper commented on #373
thanks for the feedback.

Image fluent/fluent-bit:0.12.2 is already available.

[2017-09-15 05:56] #373 closed

[2017-09-15 05:57] edsiper commented on #369
@adinaclaudia

new images are properly tagged and aligned:

- fluent/fluent-bit:0.12.1   -> Fluent Bit 0.12.1
- fluent/fluent-bit:0.12.2   -> Fluent Bit 0.12.2 (released today)

[2017-09-15 05:57] #369 closed

[2017-09-15 14:54] joshughes commented on #361
@edsiper yes it worked... thank you!

[2017-09-15 21:08] edsiper commented on #361
thanks.

I will push the new packages over the weekend (and update the docs)

[2017-09-16 15:29] edsiper commented on #369
images documented here:

http://fluentbit.io/documentation/0.12/installation/docker.html

[2017-09-17 23:44] taoeffect opened #377 "[Alpine Linux] fluent-bit spamming "[msgpack2json] unknown msgpack type 1970433894" to log"
I have no idea what's going on.

In the span of a few seconds fluent-bit generated a 16M log file consisting of:

[code]

Am using Docker version `17.06.2-ce, build cec0b72`, with fluent-bit version `v0.12.2`.

My dedicated container for logs contains this:

[code]

The config file contains this:

[code]

The `/home/unpriv/logs/fluent-bit.log` is the file containing the 16M worth of spammed msgpac

[2017-09-18 00:51] taoeffect commented on #377
Now it's doing:

[code]

It seems to be caused by the output of the `mariadb` service, which has a Dockerfile of:

[code]

Where `docker-entrypoint.sh` is:

[code]

And `configs` contains `configs/my.cnf`:

[code]

And `configs/conf.d/docker.cnf`:

[code]

I find it so strange that it wasn't doing this yesterday but now it's doing it every time and I can't get it to stop.

[2017-09-18 01:59] taoeffect commented on #377
Should have mentioned, this is how the logs starts:

[code]

Am using alpine linux, and all Docker containers should have these environment variables set:

[code]

[2017-09-18 02:21] taoeffect commented on #377
OK, I figured it out! 🎉

It turns out that just having that `ENV` line ***in the parent `customalpine` Dockerfile*** was the problem!

Removing this from the custom alpine Dockerfile fixed the problem:

[code]

Weirdly, having that in the Dockerfiles for the child `log` and `mariadb` services (or not having it!) didn't cause the problem to reappear.

So, I have no idea why this is. It's some very

[2017-09-18 02:23] taoeffect commented on #377
However, it still makes me nervous that this is at all possible. The problem could one day re-appear and result in a flooded log file. That problem shouldn't happen regardless.

The way `syslog` and others handle this is they output a single line to the file along the lines of:

[code]

[2017-09-18 05:15] taoeffect commented on #377
Looks like I celebrated too soon.

Sometimes it works. Sometimes it doesn't. I've no idea what's going on or why.

[code]

Here's the very end of the output from the mariadb log:

[code]

The only anomaly that I see is that the second-to-last message contains an empty "log" value. Perhaps that's what's causing it..?

[2017-09-18 07:35] adinaclaudia commented on #369
@edsiper Thank you, it works as expected now!

[2017-09-18 08:15] adinaclaudia commented on #367
@edsiper Thanks for the fix, I tested it and it works, the error is no longer reproducible with 0.12.1 and `tls.verify Off`

[2017-09-18 13:38] edsiper commented on #367
2/3 confirmations so closing this issue as fixed. If you face any problem again please comment it out so we can reopen it.

[2017-09-18 13:38] #367 closed

[2017-09-18 13:40] edsiper commented on #377
@taoeffect please provide the output of:

[code]

[2017-09-18 15:05] jbhilton11 commented on #371
It appears this issue was fixed with the latest v0.12.1. Originally I was working with v0.11 and had to strip that value out before trying to parse as JSON, but I commented that portion out and upgraded to v0.12.1 and don't seem to have an issue with that any more. Thanks for your help!

[2017-09-18 15:31] edsiper commented on #371
awesome, please make sure to use 0.12.2 (released last week).

[2017-09-18 15:31] #371 closed

[2017-09-18 18:22] marcbachmann commented on #377
I'm having the same problem.
I can reproduce it using that config:
[code]

Somehow there's an issue in the file output. Everything works if I just use `stdout`.
So if I replace the output with this one, it works:
[code]

[2017-09-18 18:56] jbhilton11 opened #378 "Lack of logging when configuration is invalid"
I'm trying to add in TLS for the HTTP output plugin and have the following:

[code]
However, when I start up the fluent-bit service in the foreground, it looks as though it starts to run and then it just stops. I can only assume that this is an issue with the configuration I have, however, I'm not sure because there is no additional logging other than what appears to be the service starting up, bu

[2017-09-18 19:11] taoeffect commented on #377
@edsiper Under what circumstances do I run that command? Remember, the error is intermittent and doesn't always happen.

[2017-09-18 19:39] marcbachmann commented on #377
That's the config of the failing output

<details>
  <summary>dmesg output before execution</summary>

[code]

</details>

<details>
  <summary>--sosreport output before execution</summary>

[code]
</details>

<details>
  <summary>Execute command & cancel using ctrl+c</summary>

[code]

</details>

<details>
  <summary>dmesg output after cancelling</summary>

[code]

</details>

If it helps, here'

[2017-09-18 19:42] edsiper commented on #377
thanks for the information.

Just a disclaimer: Alpine Linux is __not__ supported, use our [official Debian images](http://fluentbit.io/documentation/0.12/installation/docker.html) instead

[2017-09-18 19:56] taoeffect commented on #377
Is that a "WONTFIX"?

Would be a shame, since it excludes a large portion of potential users. Docker makes little sense with Debian, and a lot of sense with Alpine. :-\

[2017-09-18 20:08] marcbachmann commented on #377
Regarding the issue, I don't think it's alpine specific.
With the csv file format output I sometimes get a segfault right away but not that huge amount of errors like with the default formatter. ltsv is a bit more stable, there are just less errors.

[2017-09-18 20:34] edsiper commented on #377
About Alpine + Fluent Bit: we had many issues, specifically with:

- Alpine don't play well with Jemalloc, custom memory allocator, musl have compatibility issues with it. This is highly suggested to reduce memory fragmentation.
- Shared library loader: musl don't follow 100% the spec for loading shared libraries, bootstrap phase miss some variables initialization, this is affecting Golang plugins

[2017-09-18 21:46] edsiper commented on #378
@jbhilton11 in order to troubleshoot and try to reproduce the issue, please provide the output of the following command:

[code]

[2017-09-18 22:05] edsiper commented on #377
@taoeffect @marcbachmann

I am trying to reproduce the problem.. would you please provide specific Dockerfiles or full compose file to test ?

[2017-09-18 22:06] edsiper commented on #376
@jenningsloy318 in version 0.12.1 there is a problem when defining multiple filters on systemd plugin, would you please test 0.12.2 since that one comes with the fix ?

[2017-09-18 22:51] edsiper commented on #361
@joshughes please re-try

[2017-09-19 12:38] jbhilton11 commented on #378
[code]

[2017-09-19 12:48] jbhilton11 commented on #378
I just noticed that this might be an SELinux issue preventing this from connecting. If you have any ideas what this tries to do that might be causing SELinux to have an issue, that would be helpful to know.

[2017-09-19 13:39] jbhilton11 commented on #378
Well, it seems like providing some more TLS values (ie. ca_file, crt_file, etc.) actually don't cause this SELinux issue anymore. It might be worthwhile to require a couple more properties before actually making it to where TLS can be utilized. All examples show just "tls" and "tls.verify".

[2017-09-19 15:24] nicolerenee opened #379 "Add Google Cloud PubSub output"
For fluentd there is https://github.com/mia-0032/fluent-plugin-gcloud-pubsub-custom available. Enabling log output into pubsub would open a large selection of tools that could be used within Google cloud, such as dataflow, bigquery and Google cloud storage just to name a few.

[2017-09-19 16:14] sagikazarmark opened #380 "Wrong container_name attached to log"
Using 0.12.2 I still experience the issue described in #353

It only occurs when there are more than one containers in a pod (tested with two). All containers receive the alphabetically first name.

The error is consistent after a few deployments of both fluent-bit and the target pods themselves.

[2017-09-19 19:23] edsiper commented on #380
@sagikazarmark

would you please provide a yaml file that could help to reproduce the problem ?, I checked the code on 0.12 and the fix is in place for the problem reported in #353.

[2017-09-19 19:53] marcbachmann commented on #377
Dockerfile
[code]

log.conf
[code]

[code]

[2017-09-19 21:56] edsiper commented on #377
thanks for the test case.

After digging on it for an hour I could not find the root of the cause, it's not just the message on the screen, there some weird behaviors of the default memory allocator (or maybe valgrind on Alpine?):

[code]

since Alpine is not supported I suggest you use our Fluent Bit image (debian based). I understand the current image side is big (140MB) but next version will be

[2017-09-19 21:57] sagikazarmark commented on #380
Sure thing. Here is one:

[code]

[2017-09-20 01:33] edsiper commented on #378
Since I don't have Selinux here, how can I reproduce the problem ? I would like to learn what's the anomaly from a code perspective to detect cases like this. I did a check on TLS routines and there are verification for every piece (need to find if I am missing something)

[2017-09-20 01:34] edsiper commented on #380
thanks

[2017-09-20 12:30] tarokkk commented on #350
Why is this issue mark as fixed? This is not working for me either. I tried the method described here: https://github.com/fluent/fluent-bit/issues/350#issuecomment-321590269 and got the exact same errors as @okkez above...

[2017-09-20 15:36] edsiper commented on #350
I've removed the fixed label.

would you please re-run Fluent Bit but adding the option '-p tls.debug=3' on forward and paste here the output ?

[2017-09-20 17:43] jbhilton11 commented on #378
So, from what I can tell, I had a truststore that didn't trust the CA that signed the certificate that I was using for the fluent-bit forwarder. This appeared to cause issues enough to shut down the fluent-bit forwarder process right after starting. My guess is that the initial connection with the server to check if the certificate is trusted is being interpreted in some way that causes the forwar

[2017-09-20 19:33] edsiper commented on #361
packages are updated.

[2017-09-20 19:33] #361 closed

[2017-09-20 23:33] edsiper commented on #380
### root cause

when caching the data into the hash table (for a namespace and podname key), the container name and docker id are being considered part of the value, this is wrong since a namespace:podname can have many containers with different names and ids.

work in progress.

[2017-09-21 04:24] edsiper commented on #380
@sagikazarmark

I've pushed a test image with relevant changes to address the issue, would you please deploy it in your cluster and give it a try ?:

[code]

[2017-09-21 05:49] jenningsloy318 commented on #376
@edsiper  after upgrading to 0.12.2, still no output when executing `select * from docker.service`.

and also more measrements are found, but the conf  is not changed.

[code]

[2017-09-21 07:20] sagikazarmark commented on #380
Yep, the issue is gone.

[2017-09-21 17:25] jbhilton11 commented on #378
So it turns out the true problem was all certs/key/key password-related. However, it was really hard to debug this issue without the help of any logging. Part of my issue was the portion mentioned in the above comment about the server CA not trusting the client certificate CA (remedy was adding the client CA to the server truststore). The other issue I found out is that I needed to specify the key

[2017-09-21 17:37] edsiper commented on #376
@jenningsloy318

I've found the problem is that our plugin (out_influxdb) is not quoting text properly leading to a broken protocol format.

I will try to sort this out for 0.12.4 release (0.12.3 is out this week)

[2017-09-21 21:04] edsiper commented on #370
I've pushed the changes for a new option called _skip_long_lines_:

[code]

This will be part of 0.12.3 release.

[2017-09-21 21:38] edsiper commented on #357
@prune998 would you please provide me the version of Fluent Bit you are running ?

[2017-09-22 01:38] jenningsloy318 commented on #376
@edsiper  Thank you so much for your effort.  waiting for the 0.12.4 release.

[2017-09-22 08:42] tarokkk commented on #350
My exact setup was this:

<source>
  type         secure_forward
  self_hostname myserver.local
  shared_key    Fooz7Hae
  secure yes
  ca_cert_path        /etc/fluent/certs/ca.crt
  ca_private_key_path /etc/fluent/certs/ca.key
  ca_private_key_passphrase
  allow_self_signed_certificate true
  port    24231
</source>

[2017-09-22 11:06] prune998 commented on #357
I think this is solved by the latest release. I moved to GKE now and can't see this error.

[2017-09-22 11:06] #357 closed

[2017-09-22 15:48] edsiper commented on #370
0.12.3 has been released:

- http://fluentbit.io/announcements/v0.12.3/
- http://fluentbit.io/documentation/0.12/input/tail.html

[2017-09-22 15:48] #370 closed

[2017-09-22 15:48] edsiper commented on #380
thanks again. v0.12.3 has been released:

- http://fluentbit.io/announcements/v0.12.3/

Docker image updated: fluent/fluent-bit:0.12.3

[2017-09-22 15:48] #380 closed

[2017-09-22 15:50] edsiper commented on #377
Fluent Bit 0.12.3 has been released:

- http://fluentbit.io/announcements/v0.12.3/

The new Docker image is about 79MB (used to be > 100MB). Since Alpine is not supported I am closing this ticket.

[2017-09-22 15:50] #377 closed

[2017-09-22 15:53] edsiper commented on #354
Fluent Bit v0.12.3 is out and there are a few changes, would you please try the newer version ?:

- http://fluentbit.io/documentation/0.12/installation/docker.html

(likely there is still some room for improvement, just need updated error msgs :) )

[2017-09-22 21:55] sagikazarmark commented on #380
Great, thanks

[2017-09-25 14:03] epcim opened #381 "Include not parsed properly if on"
This config

[code]

will throw:
[code]

No idea why  in line 33: Invalid indentation level is wrong. Seems INCLUDE is expected only on top of the file (but documentation don't require that).

[2017-09-25 14:09] epcim opened #382 "Parser not found even defined."
Parser definiton (I have tried also multiple Parsers_file entries in [SERVICE], the behavior is the same).

[code]

I will get                  `[error] [in_tail] parser 'haproxy' is not registered`

[2017-09-25 14:10] epcim commented on #382
v0.12.3

[2017-09-25 14:24] edsiper commented on #381
Hi,

all INCLUDE at the moment needs to be on top of the file.

[2017-09-25 15:05] edsiper commented on #381
I've just pushed a fix into 0.12 branch which address the problem, so now @INCLUDE and any command can set at any level from top to down.

This will be available on 0.12.4 (released on this Friday). In the meanwhile you can try it compiling from sources:

https://github.com/fluent/fluent-bit/archive/0.12.zip

[2017-09-25 15:11] edsiper commented on #382
The parsers configuration only allow ONE Time_Format definition, having more than one is generating the unexpected behavior.
.
The right fix from Fluent Bit side is to give details about the proper error. Working on a fix to improve that

[2017-09-25 16:20] edsiper commented on #382
The real cause of the problem was that Time_Keep only accepted on/off values (not True).

I pushed a fix to extend support for on/off/true/false, this will be part of 0.12.4 release.

note: if an error exists in a parsers file, the while file is skipped. Now you should be able to get more detailed errors in the output.

[2017-09-25 16:39] edsiper commented on #378
so if your key file required a password, you did not see any error ?

[2017-09-25 17:58] jbhilton11 commented on #378
That's correct. I did not see any additional logging until I figured out I had to provide the password to my key file. Once I did that, the logging kicked in (trace from fluent-bit and TLS from the tls.debug variable).

[2017-09-25 18:50] edsiper commented on #362
@romanvbabenko

my apologizes for the delay.

I've found the problem is a setup on rsyslog side, I have updated our documentation pointing out some hints for rsyslog setup:

- [Rsyslog to Fluent Bit: Network mode over TCP](http://fluentbit.io/documentation/0.12/input/syslog.html#rsyslog_to_fluentbit_network)

Please let me know if that works.

[2017-09-26 13:08] tarokkk commented on #350
Just a bit more information:
- Unsecure fluent-bit source and Unsecure fluentd destination working
- Secure fluentd source and fluentd destination working
- The mixed secure still **not** working

[2017-09-26 14:41] edsiper commented on #350
@tarokkk

I was dealing with the same thing yesterday, my scenario is as follows (using Fluentd to isolate the issue):

- Fluentd 0.14
- Generated root CA cert, server cert, server key, client cert and client key according to [these steps](https://dst.lbl.gov/~boverhof/openssl_certs.html)
- Start one Fluentd 0.14 with out_secure forward using Client side certificates
- Start another Fluentd 0.14 u

[2017-09-26 16:41] edsiper commented on #362
Closing this issue as solved, if is there any remaining question just posted here again.

[2017-09-26 16:41] #362 closed

[2017-09-26 22:43] edsiper commented on #382
Fixed by https://github.com/fluent/fluent-bit/commit/e859b635b1781cc881fb5f8e107faff1d2c7bcd8

[2017-09-26 22:43] #382 closed

[2017-09-26 22:43] edsiper commented on #381
Fixed by sync libmonkey changes https://github.com/fluent/fluent-bit/commit/f2a7237f143f8ee8b8159744434d6356715cc5eb

[2017-09-26 22:43] #381 closed

[2017-09-26 22:49] edsiper commented on #378
In 0.12 branch, there some changes where TLS errors adds more messages (the ones coming from libmbedtls).

All this comes out on 0.12.4 release (this Friday)

[2017-09-27 16:54] epcim opened #385 "Allow multiple time_format keys"
It would be worth support multiple. The reasoning is that on a complex system it might be quite complex to force all components on all systems to use one standardized format. Sure - it's the goal. But even if you assume configuration management - you will have to deal with multiple time format's - on metadata side in minimum.

[code]

Additionally, in practice it would be handy to be able to strip

[2017-10-01 13:24] barrachri opened #388 "Using fluentbit with Docker Swarm"
I am trying to use fluent-bit with Docker Swarm, is it possible to use a unix socket when you use fluentd as a input?

# Fluent-bit conf
[code]
# Docker conf
[code]

What I am trying to do is to create a fluent-bit service deployed in a global mode.

In this way, I will have a fluent-bit container for each node of the Docker swarm and I can simply bind the socket to the localhost.

[2017-10-02 06:45] solsson commented on #94
What's the status on out_kafka (native)? Alternatively, what's the status on fluent-bit-go wrt 0.12?

[2017-10-02 14:38] epcim opened #389 "Document what way to test/check regex format. Features available."
Worth to mention what online tool to use to test/parse regex on parsers.
Also, I bit miss a way to configure pcre flags (aka /gml).

For example, I have a problem with this one:
https://regex101.com/r/zGYU05/2

```(?<message>(?s)^(.*?)(?:(?:[\r*\n]+)))$``` This is the issue, but I failed to find an online tool to test or a better way to properly encode it.

Log from fluentbit:
[code]

[2017-10-02 15:51] jalberto commented on #278
I have a similar problem in k8s 1.7.2 using json-file and this config (installed with helm):

[code]

I cannot see kube-metadata and final `log` key in es is like this:

[code]

[2017-10-02 18:10] jalberto commented on #278
aside from internal field (like timestamp) there is not other fields, just
"log".
using fluentd instead of flunt-bit works as expected

On Mon, 2 Oct 2017 at 17:59 Eduardo Silva <notifications@github.com> wrote:

[2017-10-02 18:14] edsiper commented on #278
@jalberto are you querying on Kibana or directly on Elasticsearch with curl ?

[2017-10-03 01:02] edsiper commented on #298
@adieu please check the current progress on Fluent Bit 0.12 support for the golang package:

https://github.com/fluent/fluent-bit-go/issues/6

[2017-10-03 08:29] jalberto commented on #278
on kibana, but displaying the whole document

On Mon, 2 Oct 2017 at 20:14 Eduardo Silva <notifications@github.com> wrote:

[2017-10-03 11:50] lpic10 commented on #233
I'm waiting for this feature to migrate from Fluentd

[2017-10-03 12:03] prune998 commented on #233
waiting is the new dying :)

[2017-10-03 15:05] edsiper commented on #233
Work in process, current status

- [x] create internal generic metrics interface
- [x] input plugins use metrics interface
- [x] metrics exporter
- [ ] http server interface (work in process, this week)
- [ ] metrics exporter, register HTTP endpoints and share metrics

[2017-10-03 15:46] edsiper commented on #378
Closing this issue since more errors has been included.

[2017-10-03 15:46] #378 closed

[2017-10-04 04:11] edsiper commented on #233
Some progress, HTTP Server functional

![fluentbit_rest](https://user-images.githubusercontent.com/369718/31159650-2854f746-a890-11e7-8558-e50d8c5762a0.jpg)

[2017-10-04 08:29] wkruse commented on #303
It probably can be wired together by using [Fluent Bit HTTP Output Plugin](http://fluentbit.io/documentation/0.12/output/http.html) and [Logstash HTTP Input Plugin](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-http.html). There is even support for [MessagePack](https://www.elastic.co/guide/en/logstash/current/plugins-codecs-msgpack.html) in Logstash.

[2017-10-04 08:32] wkruse commented on #303
Related to #352.

[2017-10-04 11:05] prune998 commented on #233
That's great news ! thanks for the effort !

[2017-10-04 17:26] edsiper commented on #303
@kfox1111 @wkruse would you please point me to the logstash HTTP input spec ?, meaning "how the HTTP payload" needs to be formatted ? (I could not find the info)

[2017-10-04 17:47] kfox1111 commented on #303
I haven't used the HTTP input plugin, but based on other plugins, and whats in the docs, I think the http input plugin is just a transport .I can be paired up with a codec plugin, (defaults to their json one), which I think is documented here:
https://www.elastic.co/guide/en/logstash/current/plugins-codecs-json.html
Though for continuous streams, the multiline one might be better.

Based on this p

[2017-10-05 15:41] epcim commented on #385
BTW, what would be a correct regex for this "2017-07-03 13:06:27.606" date?

[2017-10-05 16:07] edsiper commented on #385
@epcim

[code]

[2017-10-06 04:18] solsson commented on #94
I saw https://github.com/fluent/fluent-bit-go/issues/6#issuecomment-333707670 [now](https://twitter.com/fluentbit/status/915021566311878657).

[2017-10-06 11:17] mpeltonen commented on #350
We also faced this issue. Server side is Fluentd 0.14.21 with TLS in_forward, essentially the exact same `<source>` setup as in the original question. When trying to connect with Fluent Bit we get:

[code]

[2017-10-06 16:51] edsiper commented on #389
it's documented here:

http://fluentbit.io/documentation/0.12/parser/regular_expression.html

at bottom it mentions Rubular site, but it's not easy to catch it

[2017-10-07 07:54] jenningsloy318 commented on #376
@edsiper ,

Can you estimate when this bug will be fixed?

[2017-10-09 05:46] mpeltonen commented on #350
@edsiper: I dug deeper and it seems that there's two problems in fluentd certificate creation that cause this:

1) Certificate created by fluentd has version 1 (i.e. not explicitly set in [cert_option_generate_pair]( https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin_helper/cert_option.rb#L103-L109)), which causes the `CRT/CRL/CSR format is invalid` error in mbedtls parsing.

2) Exten

[2017-10-09 13:34] edsiper commented on #350
@mpeltonen thanks so much for helping to troubleshoot/fix this.

for now waiting for some feedback on https://github.com/fluent/fluentd/issues/1711

[2017-10-09 15:52] epcim commented on #389
[**@edsiper**](https://github.com/edsiper) commented on [Oct 6, 2017, 6:51 PM GMT+2](https://github.com/fluent/fluent-bit/issues/389#issuecomment-334810377 "2017-10-06T16:51:31Z - Replied by Github Reply Comments"):

Well I would say fluent-bit is pure C. The problem I have is here:
http://rubular.com/r/eX8UjwGLEI

(the example works in online-editor, but in reallity, the multiline message will ne

[2017-10-09 16:04] edsiper commented on #389
@epcim

I've updated the documentation to avoid future confusions:

http://fluentbit.io/documentation/0.12/parser/regular_expression.html

Now as stated in the doc-update, if you are using Tail input plugin, you should use instead the Multiline feature instead of a multiline regex.

[2017-10-09 16:19] epcim commented on #389
Oh, Well I had known the multiline option but as I failed it to use first time and understood documentation wrong I give up as I understood it's for another use-case.

I would suggest highlight the rubular or regex101.com on the parse page (move it top).

Also, can you explain whether there is a relation to the ruby if any? regarding the implementation, performance etc?

well, "multiline" `/m` is

[2017-10-09 16:39] edsiper commented on #389
done: http://fluentbit.io/documentation/0.12/parser/

Since Fluentd uses Ruby regular expressions, we want our users can use the same regex setup on Fluent Bit without pain.

we support all of them listed here: https://ruby-doc.org/core-2.2.0/Regexp.html

[2017-10-09 17:57] edsiper commented on #376
@jenningsloy318

It's just fixed on [0.12 branch](https://github.com/fluent/fluent-bit/tree/0.12).

I am planning to release Fluent Bit 0.12.6 at the end of the week, for now if you can try the 0.12 branch would be helpful. Let me know how it goes.

[2017-10-09 17:59] edsiper commented on #354
Closing this issue as solved, if any question remains, feel free to comment here.

[2017-10-09 17:59] #354 closed

[2017-10-09 18:31] epcim opened #391 "Minor, Parser not found if multi-line is used"
setup:
When tail input plugin with Multiline On, so an entry `Parser_Firstline xyz` is in the conf

issue:
if the parser conf file also contain `Parser myparser123` option (not expected to be used, ignored) in case the `myparser123` is not found it throws an error.

(I am 80% sure I saw the issue, but count I may be also wrong)

[2017-10-09 18:37] epcim opened #392 "kmsg: Logging issue or crash ?"
case:
When on load, seems to crash as sending kernel msgs. (btw lack of support for position file in kmsg input plugin)

Note, it may be also the case kmsg fails to send events || error from another plugin/workflow step (but we don't know which one), etc..

update: the kmsg was working fine, until I enabled all the input plugins

[code]

[2017-10-09 18:41] epcim commented on #392
another occurrence:

[code]

[2017-10-09 18:53] epcim commented on #392
Sorry for chunking this, seems to be related (without multiline tail plugin):

![image](https://user-images.githubusercontent.com/1211552/31353720-ed376b00-ad33-11e7-84e0-a6c4fdf598e1.png)

[2017-10-09 19:12] edsiper commented on #392
@epcim

would you please provide a dump of your /dev/kmsg ?

[code]

then upload the generated file somewhere.

[2017-10-09 19:20] epcim commented on #389
Ok, thank you. Ticket can be closed.

For others, I am adding few complex examples below for multiline. Consider adding them to doc.
Others can be found here: https://github.com/salt-formulas/salt-formula-fluentbit/tree/master/metadata/service/config

[code]

and

[code]

[2017-10-09 19:21] edsiper commented on #389
thanks, I will make sure to extend multiline docs.

[2017-10-09 19:22] #389 closed

[2017-10-09 22:25] nahi commented on #350
I agree with @mpeltonen that this Certificate generation code is the cause.
* cert.version should be 0x2 (X509v3) for Certificate extensions
* basicConstraints must have 2 values: CA and pathlen. And you can use ExtensionFactory to avoid similar inconsistent data generation problem in the future.

In addition to it, my suggestions;
* serial must be unique. Use random?
* It also should have keyUsag

[2017-10-09 22:40] edsiper commented on #350
@nahi hey! thanks for comments.

at this point we need to move the conversation to https://github.com/fluent/fluentd/issues/1711

[2017-10-09 22:50] nahi commented on #350
@edsiper Indeed. As @repeatedly asked me I posted here but it should be an issue of fluentd.

[2017-10-10 12:51] mpeltonen commented on #293
Fluentd `rewrite_tag_filter` functionality would be important for us too, to be able to completely replace fluentd as a forwarder. One usecase is multiple docker containers sending to single `forward` input with fluentd logging driver and containers can have different needs for parsing formats and may also have different stdout and stderr formats.

For example nginx container needs to separate std

[2017-10-11 15:09] edsiper commented on #392
@epcim ping

[2017-10-11 15:33] epcim commented on #392
out of keyboard for 1week for this topic. will ping you once back or coallegues update if stilm an issue. On 11 Oct 2017 17:09, Eduardo Silva <notifications@github.com> wrote:@epcim ping

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-12 03:30] jenningsloy318 commented on #376
hi @edsiper

I sitll got no luck. I use 0.12.5 image from dockerhub.  I can see the logs with http error:
[code]

and  `select * from docker.service` show nothing.

Did you have tested this already?  not sure if I have something  wrong in the configuration.

[2017-10-12 03:35] hasseio commented on #319
+1

[2017-10-12 03:57] edsiper commented on #376
@jenningsloy318

the changes are on GIT Master (source code), I will try to provide you a test image shortly.

[2017-10-12 03:59] edsiper commented on #319
there is a "monitoring plugin for Docker" under development. I hope to publish some news in a few weeks.

[2017-10-12 22:03] edsiper commented on #233
We are getting closer:

- [x] create internal generic metrics interface
- [x] input plugins use metrics interface
- [x] metrics exporter
- [x] http server interface (work in process, this week)
- [ ] metrics exporter, register HTTP endpoints and share metrics

the last part is to add Prometheus format, we have plain JSON for now:

![flb_input_metrics](https://user-images.githubusercontent.com/3697

[2017-10-13 08:12] joshiggins opened #393 "filter_modifier segmentation fault v0.12.5"
**Background**

I have two machines with an installation of CentOS 7.

node1 has Xeon E5-2650 v4, 128 Gb RAM
node 2 has Xeon E5-2630 v4, 396 Gb RAM

The only difference between these machines are the processor and memory spec. Otherwise, they are identical in all other respects!

My fluent-bit config is in this [gist](https://gist.githubusercontent.com/joshiggins/3c64dcc1d52adb643c0068aefa5022df/r

[2017-10-13 16:21] edsiper commented on #393
thanks for the info. I am digging into it now.

[2017-10-13 17:03] edsiper commented on #393
I've found the following:

1. Your Log_Level is set to error, meaning is discarding "warnings" and others. It's suggested to keep it in __info__ level, for troubleshooting you can use __debug__.

2. Since it Log level was error, a warning about missing "HOSTNAME" variable was not triggered. I've found the following in my system about $HOSTNAME:

[code]

that's good, but now:

[code]

after a resea

[2017-10-13 17:32] edsiper commented on #391
A parser not found will always throws an error, it's an invalid setup (despite is multiline mode or not), on that way we encourage right setup.

As an additional check, I have added a warn message if Multiline mode is On and a Parser exists (just to clarify and avoid confusion from an user perspective).

Closing this as not an issue.

[2017-10-13 17:32] #391 closed

[2017-10-13 19:11] edsiper commented on #350
Issue have been fixed on Fluentd side.

[2017-10-13 19:11] #350 closed

[2017-10-13 19:12] edsiper commented on #375
@duythinht is there any pending question/issue on your side ?

[2017-10-13 21:25] edsiper commented on #388
Thanks for reaching out. It's not implemented now but not too hard to do. I will make sure to have something functional within < ~2 weeks.

[2017-10-13 22:46] edsiper commented on #376
I've just released [Fluent Bit v0.12.6](http://fluentbit.io/announcements/v0.12.6/) which contains the changes for this issue.

You can try the newest docker image fluent/fluent-bit:0.12.6

[2017-10-13 22:47] edsiper commented on #393
I've just released Fluent Bit v0.12.6, would you please check if you can reproduce the problem with the newest packages ?

[2017-10-14 07:15] jenningsloy318 commented on #376
@edsiper

I am  testing v0.12.6, but still got no luck. still nothing appears when executing `select * from docker.service`. not sure if I need to adjust my conf
[code]

from the error message:
[code]

[2017-10-14 07:28] edsiper commented on #376
If you get HTTP status 204 means it was OK, no errors.

On Oct 14, 2017 01:15, "jenningsloy318" <notifications@github.com> wrote:

@edsiper <https://github.com/edsiper>

I am testing v0.12.6, but still got no luck. still nothing appears when
executing select * from docker.service. not sure if I need to adjust my conf

    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level

[2017-10-14 07:46] jenningsloy318 commented on #376
@edsiper  I see what I am missing, now I can see the content.

[code]

Thanks

[2017-10-14 08:18] jenningsloy318 commented on #376
@edsiper

from the logs, I don't see the pod/k8s related labels, is there anything wrong ?

[2017-10-14 10:15] duythinht commented on #375
I'm still troubleshoot this issue. Sometime tail keep working, sometime it's not working (after logrotate running)

[2017-10-14 15:32] edsiper commented on #376
I am not sure if Influxdb supports nested records/maps, I will do some research to figure out how to fix it.

[2017-10-14 17:24] barrachri commented on #388
Thanks @edsiper, I'll be happy to test this new feature.

[2017-10-16 02:23] takahasi opened #394 "Is FLB_TESTS_RUNTIME unnecessary?"
FLB_TESTS_RUNTIME is disabled since July.
Now cannot compile it.
I think the runtime tests are useful for the regression tests of plugins.
So I will make that PR if necessary.

How you do you feel about it?

[2017-10-16 02:56] edsiper commented on #394
@takahasi

Yes, they are useful, I think the required change is:

- port runtime tests from *.cpp to *.c and use [acutest](https://github.com/mity/acutest) unit test lib

[2017-10-16 03:11] edsiper commented on #394
I did a few changes to make easier to port runtime tests:

- acutest now is exposed in tests/lib/acutest
- check the following header helper that tests use: https://github.com/fluent/fluent-bit/blob/master/tests/internal/flb_tests_internal.h.in
- helper is generated here: https://github.com/fluent/fluent-bit/blob/master/tests/internal/CMakeLists.txt#L30

[2017-10-16 04:12] takahasi commented on #394
Thanks! I will try.

[2017-10-16 04:27] takahasi commented on #394
I have one more question.
How about the data directory of internal and rutime?
Separate or same?

[2017-10-16 04:51] edsiper commented on #394
I think runtime should have it own data directory ordered in paths according to the plugin being tested., e.g:

[code]

[2017-10-16 04:55] takahasi commented on #394
I agree. Thanks.

[2017-10-16 13:33] nikitka opened #396 "in_tail: slow DB option with SQLite"
Hi!

I'm using fluent-bit to parse nginx log files and forward log messages to fluentd instance. Sometimes I would like to restart the fluent-bit instance, but there is not a way to start reading from the tail except of using the DB option to keep last file position state. Unfortunately I can't use the DB option because writing to sqlite db affecting my disk io performance, but start reading from

[2017-10-16 14:15] edsiper commented on #396
@nikitka

would you please elaborate more about the performance problem with SQLite ?, also provide the following information:

1. output of: fluent-bit -c yourconffile.conf --sosreport
2. how many files are you tailing at the same time (in average) ?
3. how many new log lines are generated per second in your nginx logs ?

[2017-10-16 14:20] edsiper commented on #394
closing due to #395

[2017-10-16 14:20] #394 closed

[2017-10-16 15:25] nikitka commented on #396
I'm using bare-metal server with 2 SATA drives in RAID 1. I don't have too much load, normally ~1% disk utilization.

Typical `iostat -xk 30` is
[code]

When I enable DB option I get ~ 30% disk usage.

[code]

I'm trying to analyze system calls via strace, I ran `timeout 10 strace -ttf -e trace=file,desc -p 11242 -o ~/tmp/fluetbit.strace `

Output (I masked ip addresses): https://gist.github.com/n

[2017-10-16 17:03] edsiper commented on #396
I did a _quick_ research and found that using default settings (as we are doing) can hit a high I/O to disk.

In the meanwhile I learn more about scaling up sqlite performance I'd suggest you try the following workaround to decrease system calls usage:

Set the option Buffer_Chunk_Size  to 256k, e.g:

[code]

that option will make Fluent Bit use a higher buffer size which will lead to fewer sqlite

[2017-10-16 17:42] joshiggins commented on #393
Problem persists with 0.12.6, I will do the valgrind soon...

[2017-10-16 17:54] joshiggins commented on #393
Okay, I ran it under valgrind. Here is the output

[code]

[2017-10-16 18:02] edsiper commented on #393
Valgrind reports the problem is here:

[code]

Looking at the source code:

[code]

I cannot find the root cause of the problem, it basically states that _ctx_ is invalid, but it's properly set in the plugin initialization. Could be related to some corruption maybe ?

cc: @nokute78

[2017-10-16 20:40] joshiggins commented on #393
I am beginning to be suspicious of the hardware since I cannot reproduce the problem on any other machine that we have...

[2017-10-16 20:50] edsiper commented on #393
@joshiggins do you see any anomaly in your Kernel logs ?

[2017-10-17 03:20] nokute78 commented on #393
@joshiggins

Does SIGSEGV happen with filter_stdout or filter_grep ?
If so, is there any valgrind or catchsegv logs?

[2017-10-17 09:34] joshiggins commented on #393
@edsiper nothing in the logs indicate anything strange going on with the system.

@nokute78 filter_stdout and filter_grep are working properly.

I can also reproduce consistent seg faults with some completely different nodejs code that works fine elsewhere, so I suspect this is probably not a bug in fluent-bit but a bug in this hardware.

Very strange. I'll try and confirm that this is the case...

[2017-10-17 13:31] edsiper commented on #393
So it's hardware.

[2017-10-17 13:55] nikitka commented on #396
Unfortunately, increasing `Buffer_Chunk_Size` and `Buffer_Max_Size` options does not improve performance.

[2017-10-19 01:13] edsiper commented on #392
ping

[2017-10-20 14:27] azhi commented on #278
Can confirm that the issue still exists on fluent-bit 0.12.6 inside k8s, details in [gist](https://gist.github.com/azhi/fd364c7044bd4a627e7cc44c6f819ee0) (including config and example of a record inside elasticsearch fetched with curl).

[2017-10-22 04:16] taoeffect commented on #377
Thanks @edsiper! Am looking forward to trying this out, and will let you know if I run into the same problem again. Appreciate the small image size.

[2017-10-22 10:13] katrielt commented on #203
Any plans to implement this in the near future?

[2017-10-23 08:11] takahasi opened #400 "Can I remove exit() in flb_utils_error_c()?"
Hi,

flb_utils.c:flb_utils_error_c() has exit().
I think this spec is inconvenient in the case of using the library.
Also, the runtime test programs may finish at the unnecessary timing.

For example, the error case of in_disk.c:296 could not do the finalize routine.

[code]

[2017-10-24 07:56] edsiper commented on #393
closing. If the issue persist in a safe environment, we can reopen it.

[2017-10-24 07:56] #393 closed

[2017-10-25 10:32] hdiass commented on #375
I'm still with same issue.
When my app rotates the file fluent-bit container provides this error `plugins/in_tail/tail_file.c:688 errno=2`
and the log stop being monitored and fluent-bit container gets frozen.
Trying today to change  the refresh-interval as @edsiper  mentioned and then i will provide feedback.

[2017-10-25 16:04] edsiper commented on #400
yes, it's inconvenient, you can remove it. it should be dropped and instead use flb_error() which is safe.

[2017-10-26 02:12] IBUMBLEBEE opened #402 "Certificate verification failed"

[2017-10-26 08:55] hdiass commented on #375
Changed the refresh-interval didn't helped.. when file  rotated fluent-bit didn't monitored it anymore, needed to restart the fluent container.

[2017-10-26 09:25] #402 closed

[2017-10-26 10:02] edsiper commented on #392
last ping...

[2017-10-26 11:50] mrueg opened #403 "Unbundle libraries"
Is it possible to get the libraries that are put in lib/ unbundled or to provide a cmake option that allows using a system-wide installed library?

[2017-10-26 19:07] edsiper commented on #403
hi @mrueg ,

I did not understand, would you please provide an example about the ideal behavior and use case ?

[2017-10-26 19:33] edsiper commented on #242
@kfox1111 just doing follow up, is your goal to have a Fluentd aggregator per namespace so the above implementation proposal makes routing easier ?

[2017-10-26 19:49] mrueg commented on #403
@edsiper e.g., fluent-bit currently bundles mbedtls. As a user I want to be able to update mbedtls independently from fluent-bit, so I can take care of potential security vulnerabilities quicker without requiring a new fluent-bit release.

[2017-10-26 20:00] edsiper commented on #403
Now I understand. Since library linking in the project is static (fixed in cmake build files) this will need some kind of extension. I think it would be easier to implement if it were optional just for "known" libraries (e.g: mbedtls, onigmo, monkey,  etc). Also would be good to experiment with new ones without touch cmake. I am considering this part as an enhancement request.

As a second comment

[2017-10-27 00:31] takahasi commented on #400
Thanks!

[2017-10-27 00:31] #400 closed

[2017-10-27 04:24] edsiper commented on #233
looks like we are done
![prom](https://user-images.githubusercontent.com/369718/32087878-6c659920-badf-11e7-9e11-3ea9582b5938.jpg)

[2017-10-27 08:03] IBUMBLEBEE opened #405 "I have not been able to get Kubernetes metadata, but show API SERVER authorization success."
[2017/10/27 07:47:32] [ info] [engine] started
[2017/10/27 07:47:32] [ info] [in_fw] binding 0.0.0.0:24224
[2017/10/27 07:47:32] [ info] [filter_kube] https=1 host=X.X.X.X port=X
[2017/10/27 07:47:32] [ info] [filter_kube] local POD info OK
[2017/10/27 07:47:32] [ info] [filter_kube] testing connectivity with API server...
[2017/10/27 07:47:32] [ info] [filter_kube] API server connectivity OK

[2017-10-27 11:19] prune998 commented on #233
that's great ! thanks

[2017-10-27 13:48] jsravn opened #406 "Segfault on startup (0.12.6)"
Trying fluent-bit for the first time, inside the docker image.

[code]

My config is
[code]

Not sure why the context is null, I'll try to dig into it some more.

[2017-10-27 14:00] edsiper commented on #405
would you please provide your full configuration ?, the easiest way is to running this command:

[code]

[2017-10-27 14:02] edsiper commented on #406
which Docker image are you using ?

[2017-10-27 14:10] jsravn commented on #406
fluent/fluent-bit:0.12 @edsiper

[2017-10-27 14:21] jsravn commented on #406
backtrace

[code]

[2017-10-27 14:21] jsravn commented on #406
Doesn't like something about my output plugin config, then shuts down but doesn't check if the filter was initialised yet or not and segfaults. Not getting any error or log output though.

[2017-10-27 14:22] edsiper commented on #406
that's very weird, would you please provide the output of:

[code]

[2017-10-27 14:28] jsravn commented on #406
[code]

That helps! How come `sosreport` is needed to get the logs to flush? I suppose the assumption is it doesn't segfault first.

[2017-10-27 14:53] jsravn commented on #406
I got a bit farther by fixing the kubernetes URL. My log shippers are using host networking for "reasons". It's still segfaulting though. This time, it can't find the pod because it looks like it assumes the hostname is the podname (which it isn't with host networking). I think we got around this in the fluentd plugin by setting an environment variable `POD_NAME` which it would pick up if set. It

[2017-10-27 14:57] jsravn commented on #406
updated sosreport

[code]

[2017-10-27 15:18] jsravn commented on #406
Sorry, getting off topic. I'll work on sorting out the other errors. The original bug here is the segfault. Should it be checking the filter context is null before deleting it? It looks like all the filters have this issue - if the output filter fails to init, it tries to destroy the filters before they get init'd.

[2017-10-27 16:23] jsravn commented on #406
@edsiper I made a PR to fix the tsl output plugin error that was causing the segfault. https://github.com/fluent/fluent-bit-docker-image/pull/7

[2017-10-27 16:59] jsravn commented on #406
I took a stab at fixing the segfault in https://github.com/fluent/fluent-bit/pull/407.

[2017-10-27 17:17] jsravn opened #408 "Daemon logs are not flushed on exit (0.12.6)"
Logs from the fluent-bit process itself don't seem to be flushed on exit. This makes it difficult to debug configuration problems. For example, if I run fluent-bit against a broken config, I will only get a partial log output every time:

[code]
another try
[code]

Every time I run fluent-bit I get more or less of the logs. In this case, I have a misconfigured output plugin (due to https://github.

[2017-10-27 21:42] edsiper commented on #406
thanks for the contribution, closing this issue as fixed.

note: I will make a maintenance v0.12.7  release with these changes in the next week.

[2017-10-27 21:42] #406 closed

[2017-10-30 07:01] wst-casd opened #409 "in_tail: [error] [plugins/in_tail/tail_fs.c:183 errno=25] Inappropriate ioctl for device(Branch:0.11)"
I use fluent bit to collect logs of containers in kubenetes. The related configuration of fluent-bit.conf is as follows:
 ...
[INPUT]
    Name     tail
    Path     /var/log/containers/*
    Tag      kube.*
    Parser   k8s-pod
    DB       /data/pos/pod.sqlite
    Buffer_Max_Size 100MB
...

In fact, in kubenetes the log files in /var/log/containers/ are linked to a correspond file in /data/docker

[2017-10-30 13:54] epcim commented on #392
sorry for the delay, try this: http://apealive.net/media/kmsg.tar.bz2

[2017-10-31 08:57] s-mansouri commented on #197
Hi @edsiper
I faced this problem and I use fluentd v0.14.16, I have about 100M log per days, my server has 252G of RAM with 12 processors,  I use one elasticseach node without replica and my td-agent config is:
     buffer_type memory
     buffer_chunk_limit 1g
     buffer_queue_limit 128
     flush_interval 10s
I get two warning in td-agent
[code]
and

[code]
how can I fix this problem?

[2017-10-31 20:53] edsiper commented on #197
@s-mansouri this is related to Fluentd output plugin and it setup, not Fluent Bit.

For more details about how to workaround the problem check the following documentation:

https://docs.fluentd.org/v0.12/articles/output-plugin-overview

[2017-10-31 20:59] edsiper commented on #409
@wst-casd

I _suspect_ this could be related to a problem reported in the mailing list and addressed on the commit https://github.com/fluent/fluent-bit/commit/a1c7b3941beb5ffdaae4cb7d45b46bada4c913c1 .

I plan to release 0.12.7 with the fix today/tomorrow,  so for now I would ask you to wait for that release and do the proper upgrade, then check if you can reproduce the problem.

[2017-10-31 21:00] edsiper commented on #405
ping

[2017-11-01 05:20] wst-casd commented on #409
OK, thanks very much.

[2017-11-01 16:39] jsravn opened #412 "flb http client crashes when using tls and buffer size is exceeded"
I noticed this when trying to make some changes to `kube_meta.c`. If I change `flb_kube_meta_init` to pass in `""` for the pod name (so it lists all pods), fluent-bit crashes in the ssl library.

[code]

After I increase the buffer size, it works fine.

[2017-11-01 16:58] edsiper commented on #396
@nikitka

I did some local tests, but only on a SSD disk:

when the database option is used, Fluent Bit in_tail plugin requires to save the current offset of that file, sqlite3 does an explicit I/O sync, which is safer.

If Fluent Bit have too much data to process one option is to try to reduce the number of offset writes to the database, the workaround is to play with buffers, in my experiment I

[2017-11-01 22:33] edsiper commented on #412
thanks for reporting the problem .I was able to reproduce the issue, a fix is already in place for GIT master and 0.12 branch: https://github.com/fluent/fluent-bit/commit/ba308784fc23c7e64a8acb567774bf53bd507b51

would you please double-check in your side if is ok now ?

[2017-11-01 22:36] edsiper commented on #392
I've pushed a fix into git master and 0.12 branch (available on 0.12.7 this week):

https://github.com/fluent/fluent-bit/commit/e93ba300287553c795384f420a85a13466b1b172

[2017-11-02 11:09] jsravn commented on #412
I rebased on ba30878 but am still getting the same segfault. I looked into it and made https://github.com/fluent/fluent-bit/pull/413 to fix an issue in buffer resizing. After this change it fixes the segfault for me.

[2017-11-02 19:50] edsiper commented on #392
@epcim [0.12.7](http://fluentbit.io/announcements/v0.12.7/) has been released.

Closing this issue, if for some reason the problem persist we can reopen it.

[2017-11-02 19:50] #392 closed

[2017-11-02 19:51] edsiper commented on #409
@wst-casd [0.12.7](http://fluentbit.io/announcements/v0.12.7/) has been released, please upgrade to that version.

Closing this issue, if for some reason the problem persist we can reopen it.

[2017-11-02 19:51] #409 closed

[2017-11-02 19:52] edsiper commented on #405
Closing this issue due to lack of information.

[2017-11-02 19:52] #405 closed

[2017-11-02 19:53] edsiper commented on #375
@hdiass  [0.12.7](http://fluentbit.io/announcements/v0.12.7/) has been released, please upgrade to that version and let us know if the issue persists.

[2017-11-03 10:13] epcim opened #414 "Escape hell - record key is missing first letter"
Linking https://github.com/fluent/fluentd/issues/1736

(@edsiper please feel free to close if inappropriate. I see this on 0.12.4. Today I will update to .0.12.7 and will provide feedback.)

[2017-11-03 10:35] epcim opened #415 "incomming chunk is broken (on in_forward of fluend)"
on 0.12.4 fluentbit
configuration: td-agent-bit -> td-agent

In the lab environment, I run I see high load with "incoming chunk is broken" **on TD-AGENT (fluentd) backend.**

(can you pls describe what are individual msg records, whether it's expected to receive such small chunks? Would it be possible to better log where/what is affected)

Also, what happens's to this log record. Is it totally ski

[2017-11-03 14:49] epcim commented on #415
I see the same with fluentbit 0.12.7

[2017-11-03 17:12] edsiper commented on #415
let's dig into it, is there a way to reproduce the problem ?

[2017-11-03 20:15] edsiper commented on #278
@azhi

I looked at your gist and Fluent Bit says:

[code]

that error happens when the nested JSON message is not a valid JSON. In order to continue troubleshooting would you please supply the original Docker log file that is generating the problem ?

[2017-11-03 20:31] edsiper commented on #278
log provided by @chhetripradeep:

https://gist.githubusercontent.com/chhetripradeep/b89d5d0ee055dde5be15203aa582e705/raw/8c356042f19d65ca5ecda6c5e3772143dca84443/logline

[2017-11-03 21:08] nsaud01 commented on #321
What was the solution here?

[2017-11-03 21:11] edsiper commented on #321
@nsaud01 it required two fixes:

- Fluent Bit side: https://github.com/fluent/fluent-bit/commit/9d940d07ac3b9272648b96e57ecbdb0aa2364275
- Invalid Regular Expression provided, so use: rubular.com to validate your regex

[2017-11-06 10:03] epcim commented on #415
I may provide the log and the configuration (regexp).
In a longer term I may try to extend our fluentbit/fluentd formulas (https://github.com/salt-formulas/salt-formula-fluentbit, https://github.com/salt-formulas/salt-formula-fluentd (2nd major upgrade comming)) to process some mock files during CI.

[2017-11-06 12:56] dshmatov opened #416 "Fluent-bit stops reading from systemd input when combining with tail input"
I'm using v0.12.7

So, the problem is appears when I start to combine two input plugins in the same configuration file (`tail` and `systemd`):
[code]
`tail` input plugin works normaly, I get an reaction on adding new lines to `/tmp/sni_dev.log`. But in the same time I got no reaction on adding new events to `journald` service. When I remove `tail` input plugin from configuration - `systemd` starts

[2017-11-06 14:40] jbhilton11 opened #417 "A way to determine start time of fluent-bit service startup?"
I'm able to tell in the output logs the time at which the service starts up. However, is there a way through configuration to figure out that same time?

[2017-11-06 16:10] edsiper commented on #417
besides log file or through querying systemd there is no way at the moment.

what's your specific use-case where uptime is required ?

[2017-11-06 17:49] edsiper commented on #415
@epcim you can record outgoing records with [out file](http://fluentbit.io/documentation/0.12/output/file.html) which defaults to JSON

[2017-11-06 17:50] edsiper commented on #416
@dshmatov thanks for reporting this problem, I am troubleshooting now.

[2017-11-06 17:56] edsiper commented on #416
Issue confirmed.

[2017-11-06 22:06] edsiper commented on #416
@dshmatov

I've pushed a fix into GIT master and backported to 0.12 branch, the fix will be available this week on v0.12.8 release.

[2017-11-06 22:11] dshmatov commented on #416
@edsiper Great! waiting for 0.12.8. Thanks!

[2017-11-07 04:26] edsiper commented on #396
@nikitka did you try the setup suggested above ?

[2017-11-07 09:59] hdiass commented on #375
Hello @edsiper, i upgraded fluent-bit but even though same issue, when file rotates its read anymore by fluent-bit and stays in loop trying to read the file. i've turned on the debug log level to post here the behaviour, if it helps.

[2017/11/06 22:03:07] [debug] [task] destroy task=0x7fca0023c0e0 (task_id=0)
[2017/11/06 22:03:07] [debug] [dyntag tail.0] 0x7fca0028b120 destroy (tag=tail.0)
[2017/

[2017-11-07 13:27] edsiper commented on #375
@hdiass what kind of rotation mode are you using, copytruncate ?

[code]
why the rotated file have the same name ?

[code]
that means that a file was promoted for inotify but then it failed, mostly because it was deleted.

Looks like your file are being rotated faster than the [refresh_interval](http://fluentbit.io/documentation/0.12/input/tail.html#config), please set a refresh_interval of 5 seco

[2017-11-07 14:33] hdiass commented on #375
@edsiper, the application that i want to monitor handles the log file itself, not using logrotate from the system. What the app does for what i can see is create a "backup" file with the old log file and recreates a new  log file with the same name.  Ok i'll set the refresh interval for that value and test again,

Thanks a lot,

[2017-11-07 14:36] hdiass commented on #375
@edsiper I was checking and i already had refresh interval option set on 5, so that will not help

[2017-11-07 14:40] lynxaegon commented on #278
Just to be clear, is there any default support for merge_json in parser or filters without the kubernetes filter? I am currently running docker without kube, with log driver and my nginx output is a json. I thought it would merge it, but it just escaped the json and made it a string

Example:
https://gist.githubusercontent.com/lynxaegon/ad7f503ca7316b5ac0db5a22114e00bd/raw/17567b5fc5ea48da870c8f0b

[2017-11-07 15:31] epcim opened #419 "[http] requested buffer size 4096 cannot exceedmaximum size"
What can this error mean, what buffer on what component is by default 4k?

```td-agent-bit[22946]: [2017/11/07 15:27:05] [error] [http] requested buffer size 4096 cannot exceedmaximum size 4096```

input plugins I am using:
[code]

output is `forward`

[2017-11-07 16:17] epcim opened #420 "Fluentbit process get's SIGSEGV killed, signal 11"
The only enabled is tail input (cinder logs) and forward output. Hope that give you any idea.

Search for `+++ killed by SIGSEGV +++`.

Log
[code]

[2017-11-07 16:25] andrewmyhre opened #421 "Ability to specify an index"
In a kubernetes cluster it would be useful if fluent-bit were to specify an index with log requests. In a fluentd configuration we would have the following:

[code]
I'm not sure but the the appropriate configuration setting might actually be `target_index` rather than `logstash_prefix`.
The desired end result is that logs are shipped with `_index` including the name of the kubernetes namespace.
It

[2017-11-07 16:58] edsiper commented on #420
@epcim

please provide the following:

1. a sample of a _/var/log/cinder/cinder-volume.log_ file that helps to reproduce the problem
2. output of: fluent-bit -c yourconf.conf --sosreport

[2017-11-07 16:59] edsiper commented on #419
@epcim that belongs to a HTTP based output plugin like elasticsearch, influxdb, td, kafka-rest, etc. Please provide a sosreport (fluent-bit -c yourconf.conf --sosreport)

[2017-11-07 17:29] edsiper commented on #278
@lynxaegon

I will add an option to filter_parser to "unescape_string", on that way the parser will work properly.

[2017-11-07 19:02] edsiper commented on #278
@lynxaegon and all

I have merged a new feature called __unescape_key__ that will be available on version 0.12.8 to deal with nested JSON-strings maps, more details in the following commit:

https://github.com/fluent/fluent-bit/commit/ec8c031f404c15461e0c74dca73b3f4dbe47f2f0

[2017-11-07 21:36] barrachri commented on #388
Hi @edsiper, do you have some updates about this feature?

[2017-11-07 22:13] StevenACoffman commented on #94
For what it is worth, we would really like to produce directly to kafka instances without the REST proxy.

[2017-11-07 22:45] edsiper commented on #278
All,

I've released 0.12.8 which address this problem from two angles:

1. filter_kubernetes: when using Merge_JSON_Log option, now the filter will avoid to keep the escaped characters.
2. The filter_parser now have a new option called __unescape_key__, so it can be used for scenario for Docker logs with nested string-JSON

http://fluentbit.io/announcements/v0.12.8/

[2017-11-08 05:44] edsiper commented on #416
0.12.8 is out: http://fluentbit.io/announcements/v0.12.8/

closing this issue as fixed. thanks again.

[2017-11-08 05:44] #416 closed

[2017-11-08 05:46] edsiper commented on #414
per your comments on fluent/fluentd#1736:

[code]

are you OK with closing this issue on Fluent Bit side ?

[2017-11-08 09:44] solsson commented on #94
Yeah, me too, feels like the extra layer is both a performance and a reliability risk. In the meantime I've been experimenting with filebeat's kafka support, it's on the broker level, though memory footprint looks like 10x that of fluent-bit: https://github.com/Yolean/kubernetes-kafka/pull/88

As a fun experiment I've also experimented with tail -f + [kafkacat](https://github.com/edenhill/kafkacat

[2017-11-08 10:08] nikitka commented on #396
Sorry for late answer, I tried today. Unfortunately, this is not solve my problem. I think my problem is that I have small RPS and the `flb_tail_file_chunk` function read a few hundred bytes and save sqlite database.  Typical my verbose log is like that:

[code]

I'm not good at sqlite, but I think the in_tail plugin should always keep the database file open and let sqlite3 save and sync the datab

[2017-11-08 11:38] StevenACoffman commented on #94
The reliability is our main concern. If we have an init container that can bootstrap the kafka cluster ip addresses, so the normal kafka producer will adjust as kafka nodes come and go. Looks like the fluent-bit-go is being maintained, and the uncertainty of this ticket is depressing maintenance of [fluent-bit-kafka-output-plugin)](https://github.com/samsung-cnct/fluent-bit-kafka-output-plugin). T

[2017-11-08 11:55] StevenACoffman commented on #94
@solsson Did you notice this [fluentd kafka pull request](https://github.com/fluent/fluentd-kubernetes-daemonset/pull/34)? I was thinking of building fluentd 0.14 now that they're stable and comparing it's memory and cpu usage to filebeat and fluent-bit.

[2017-11-08 12:17] mikn opened #422 "Ability to remove fields/groups of fields for the Kubernetes filter"
Using fluent-bit 0.12.8, when a pod is launched with an init container, the pod gets annotated with the init containers and their respective statuses even if using the spec.initContainers field, and these annotations may become rather lengthy. An example from the mongodb-replicaset:
[code]
Relevant excerpt from the manual:

I would like the ability to skip adding in the annotations in the kubernet

[2017-11-08 12:33] solsson commented on #94
@StevenACoffman Actually I didn't try fluentd, as I was so impressed with the scope and footprint of fluent-bit, and there was a kafka output scheduled for "between Q2/Q3" ... and then ofc I also needed to work on how to process those logs once they're in Kafka :)

[2017-11-08 12:48] epcim commented on #414
sure, close

[2017-11-08 12:48] #414 closed

[2017-11-08 12:49] epcim commented on #415
Ok, Will post it here - as of now, as some plugins I use got new versions I will try first upgrade all components and retest

[2017-11-08 13:00] epcim commented on #419
well yes, elasticsearch, influxdb are in place.
But I didn't get the point where I may control the buffer size it's logged above.

[code]

[2017-11-08 13:10] gibban69 commented on #352
We see the same problem in a preproduction environment. Isn't it HTTP only...? Why would this be related to fluentd-bit <-> logstash compatibility?
Is there some configuration, like increasing the socket timeout, in the fluentdbit (td-agent-bit) output plugin that solves the problem?
If this plugin is not designed to work with logstash, which plugin would you recommend to use?

[2017-11-08 14:28] edsiper commented on #94
Hello everyone,

Thanks for sharing your comments and interest. I wanted to let you know that the plugin is already in the development phase, so I will keep you posted  about it :)

[2017-11-08 14:42] jbhilton11 commented on #417
Yes, it would be where uptime is required. Just need to make sure the log forwarder is alive.

[2017-11-08 17:26] jsravn opened #423 "Generate _id inside of ES output plugin to prevent log dupes"
If a post to ES times out, and the ES plugin retries the message, it's possible to get duplicate log lines. An example where this is somewhat common is AWS ES which has a 60s limit on queries. In these cases, when under load, the query may time out but still proceed to be executed on the underlying ES cluster. If the client retries, the retried document will get a new `_id` generated and duplicate

[2017-11-08 18:53] rhysmccaig commented on #94
Great news! I would *love* to see this feature.

[2017-11-09 00:37] StevenACoffman commented on #94
@solsson I forked the official fluentd repo over at StevenACoffman/fluentd-kubernetes-daemonset#1 to update it to fluentd 14.22 and added the kafka plugin. All those images got pushed to my public [docker hub](https://hub.docker.com/r/stevenacoffman/fluentd-kubernetes/) but I haven't benchmarked it yet. I really appreciated your work in the Yolean/kubernetes-kafka repo!

@edsiper I've said it befo

[2017-11-09 08:45] epcim commented on #420
Setup is mostly the same as in: https://github.com/fluent/fluent-bit/issues/419#issuecomment-342810602

[2017-11-09 12:30] soylent opened #425 "flb_buffer_chunk.c:870 No such file or directory"
Fluentbit v0.12.7 reports the following error periodically:
[error] [src/flb_buffer_chunk.c:870 errno=2] No such file or directory

[code]

Here is an excerpt from strace:

[code]

Configuration

[code]

[2017-11-09 15:51] epcim commented on #415
[**@edsiper**](https://github.com/edsiper) commented on [Nov 6, 2017, 6:49 PM GMT+1](https://github.com/fluent/fluent-bit/issues/415#issuecomment-342229315 "2017-11-06T17:49:34Z - Replied by Github Reply Comments"):

I recorded couple of outfiles during another sessing, but I don't see anything broken. Would you think this may be an network issue? Or an fluend issue?

I deployed another environmen

[2017-11-09 17:56] edsiper commented on #422
@mikn I've got it. One side question, do you care about annotations from other Pods where labels are enough ?

[2017-11-10 10:15] akrus opened #426 "Add XML parser"
Hi,

I know it's theoretically possible using regular expressions, although having just a generic XML parser would be nice.

E.g. openj9 GC logs:
[code]

[2017-11-10 18:39] jbhilton11 opened #428 "Add ability to use Go libraries to enhance fields of a record"
I want to be able to utilize Go libraries to add values to fields (library that generates UUIDs, determines FQDN of a hostname, etc.). I see that fluent-bit-go provides the ability to create Output plugins, but I'm not sure that's the right solution for this.

[2017-11-10 23:40] edsiper commented on #94
hello!

I wanted to share with you a preview of the new out_kafka plugin, it still need some work but it's in a functional stage. For now I've pushed a Docker image that includes Fluent Bit 0.12.8 + out_kafka, you can get it from here:

[code]

That image is totally experimental and is not considered to run in production.  From a configuration perspective, the plugin requires an output section lik

[2017-11-11 04:13] mikn commented on #422
@edsiper For now, if I can just fully disable annotations for all pods, that would be more than good enough. :)
Generally, annotations are used for internal kubernetes services, labels are the ones that tell cluster roles and such, at least in my setup.
If provided with some guidance about how to implement this, I could probably provide you with a PR to go with this suggestion.

[2017-11-11 15:27] solsson commented on #94
I gave it a quick spin, resulting in https://github.com/fluent/fluent-bit-kubernetes-logging/pull/11  - @edsiper  btw thanks for the refactoring there into configmap instead of custom docker build. Used a fresh minikube (meaning I have no meaningful indications of performance or resource use yet).

I do get a healthy amount of sane looking messages in kafka. I also see some errors like `[error] [o

[2017-11-11 15:49] edsiper commented on #94
@solsson thanks for testing. Comments below:

[code]

by default all errors are enable, but definitely is a TCP disconnect from the server side (or network problem).

[code]

when Merge_JSON_Log option is enabled on filter_kubernetes, the filter try to interpret the log content as a JSON map (stripping slashes first). If that resulting JSON map is invalid, the filter will raise the "could not pack

[2017-11-12 13:23] StevenACoffman commented on #94
In our home grown log collector/aggregator/forwarder we have in our structured log message a `dest` key that maps to an array of kafka topics (destinations). That way the application can pick it's own topics at different points. If no destination key specified (or if it is an unstructured log message), then it will be routed to a default app specific key. Usually this is full of stack traces and o

[2017-11-12 16:32] edsiper commented on #94
thanks @StevenACoffman , so basically the plugin needs:

- add support for multiple topics (multiple producers)
- built-in routing capability where when taking a record/field, route to a specific topic based on a pattern

[2017-11-13 10:41] jsravn commented on #233
Any plans to incorporate fields into this? E.g. in Kubernetes it'd be nice to see the various values per pod or namespace.

[2017-11-13 11:36] solsson commented on #94
We've seen this need for multiple topics too, but I was guessing it could be accomplished using regular [routing](http://fluentbit.io/documentation/0.12/getting_started/routing.html) or the `Match` field in `[OUTPUT]`. Can't `Match` use anything other than `Tag`s? Alternatively, can parsers or filters add `Tag`s, for example per regex match?

Another question: I've noticed that a significant perce

[2017-11-13 11:48] solsson commented on #94
To clarify, I'd be happy to put this in production with the current feature set. Wouldn't want to wish for things that delay a release. If you ask me to prioritize after that, I'd currently go:

1. Key based on container name (prefixed by namespace would be a bonus)
2. Some way to omit `kubernetes.io/created-by` or the entire `annotations`.

There's always the option to produce to a topic with sho

[2017-11-13 12:47] edsiper commented on #94
[UPDATE]

I've pushed a new version of the image with the following changes:

- Support multiple topics based on record key
- Small cleanups

__Image__ fluent/fluent-bit-kafka-dev:0.2

New configuration schema is as follows:

[code]

If you look carefully the configuration now have a __Topics__ configuration parameter instead of __Topic__, you can set all topics separated by comma. The default top

[2017-11-13 12:57] jsravn opened #429 "fluent-bit prints garbage on shutdown"
Whenever I send a SIGTERM to fluent-bit, I get this output:
[code]

Seems harmless otherwise, but looks like some sort of buffer overrun or something.

[2017-11-13 15:35] seanmcguiganjcd commented on #352
Also seeing this behaviour connecting to elasticsearch.
`[2017/11/13 15:20:20] [error] [http_client] broken connection to logging.develop.farm ?
[2017/11/13 15:20:20] [ warn] [out_es] http_do=-1`

[2017-11-13 16:18] edsiper commented on #429
hmm looks like related to Elasticsearch. output plugin.

[2017-11-13 16:30] edsiper commented on #420
Please provide a sample of a /var/log/cinder/cinder-volume.log file that helps to reproduce the problem

[2017-11-13 18:57] edsiper commented on #352
when you face a "broken connection to logging.develop.farm" means the remote HTTP server closes the TCP connection, so the output plugin in Fluent Bit side trap the networking problem and issue a retry.

[2017-11-13 19:18] gibban69 commented on #352
I want to add that we see the problem on a localhost connection. That is on transfers from td-agent-bit to logstash http input on localhost. The setup is like this:
td-agent-bit, systemd input plugin, collects journald logs and forwards them, with forward plugin, from several hosts to this central td-agent-bit that fowards them to a local logstash http input.
Data rate is quite high, and errors lo

[2017-11-14 15:25] jsravn opened #430 "kubernetes filter memory leak in metadata cache"
As far as I can tell the metadata cache grows indefinitely. This is problematic:
1. cache key is `namespace:podname`.
2. As pods are continually being deployed this cache will grow larger and larger.
3. Memory use will grow unbounded with the number of pods seen by fluent-bit over time.
4. Metadata lookup will become slower and slower as the table fills up.

Ideally it should be setting a hard lim

[2017-11-14 16:58] jsravn commented on #430
Took a stab at this in https://github.com/fluent/fluent-bit/pull/431 - let me know your thoughts. Lots of ways to tackle it.

[2017-11-14 18:16] bismarck opened #432 "Missing Kubernetes metadata"
I am noticing Kubernetes metadata missing after running fluent-bit on my clusters for a couple days.  When I originally installed fluent-bit, Kubernetes metadata was being included.

Here's the configuration I am running:
[code]

Not sure if this issue is triggered by Elasticsearch rejecting some of my requests.   Here is an example from one of the nodes that are not including metadata:

[code]

[2017-11-14 19:01] StevenACoffman commented on #94
@edsiper So this appears to work very well and opens a host of options to us. As always, you are amazing!

Question: I assume that this plugin supports a Retry_Limit (we like to set it to false) like the others, so what if we Route to both out_kafka plugin as well as an out_es and one succeeds and the other fails? Would fluent-bit retry both? The documentation diagram shows buffer before route and

[2017-11-15 05:02] edsiper commented on #94
@StevenACoffman thanks!

the retry_logic is what is missing at the moment on this new plugin, to be implemented shortly.

[2017-11-15 05:09] edsiper commented on #94
[UPDATE]

I've pushed a new version 0.3:

[code]

__Changes__

- New configuration parameter __format__, by default output record format is _json_, optionally it can be set to _msgpack_ (for high performance environment needs)

[2017-11-15 16:34] edsiper commented on #432
Looks like Elasticsearch is rejecting the records. I'd suggest to verify first the elasticsearch service log files

[2017-11-15 17:11] bismarck commented on #432
Yes, Elasticsearch is rejecting records because bulk load thread pool is full.  However, I'm not sure if  after this error I start losing my Kubernetes metadata?

[2017-11-16 08:43] wst-casd opened #434 "How to use in_systemd_plugin"
I want to collect log messages from the Journald daemon on Linux environments, and I find that the Systemd/Journald input plugin has been developed. Yesterday, I got the latest source code from Github. But when I try to use that input plugin, the fluent-bit.conf is as flowing:
/---------------------------------------------------------------------------------/
[INPUT]
    Name systemd
    Path /hom

[2017-11-17 14:18] joriws opened #435 "InfluxDB tagging"
I parse CSV file like:

[time],[tag1],[tag2],[data1],[data2],..

I've fluent-bit parse to decode everything correctly to regex groups.

I need to output to influx with tag* keys as tags and data* as fields.
Like:
[measurement from Tag-directive],[tag1]=[tag1.value],[tag2]=[tag2.value] [data1]=[data1.value],.. [time]

Is this true it it cannot be done? Need to do with Logstash?

[2017-11-19 13:27] nokute78 commented on #434
Do you install a header of systemd ? (e.g. systemd-devel in CentOS)
libsystemd-dev may help to build.

[2017-11-19 17:03] StevenACoffman commented on #94
@edsiper We've run this in parallel to other solutions for a week to compare it to alternatives, and had good success. There are only a few missed messages due to transient network glitches, so we're just waiting for the retry_logic for us to call it good. Thanks!

[2017-11-20 01:06] wst-casd commented on #434
Thanks very much，I will make sure whether or not a header of systemd have been installed and have a try of libsystemd-dev.

[2017-11-20 16:54] lktslionel opened #437 "How to parse data as a collection of key/value pairs"
Hi Guys,
I'm a little new to fluent-bit and I want to use the filter "parser" to parse a key on a log line.

### Given :
A log line
[code]

### And
A `parser` filter with the key_name I want to parse "log"
[code]
### And
A Parser file with content
[code]

### When
I run fluent-bit with the configuration given above

### Then
I should get the following output
[code]

Do you have any idea of which r

[2017-11-20 16:58] lktslionel opened #438 "Enable retries when using as a docker log driver"
Hi,
Please, Is there any plan, to support the following docker log driver options as fluentd does ?
[code]

These enable any containers forwarding logs to fluentd, to retry if fluentd  is down.

Thanks

[2017-11-20 17:29] edsiper commented on #438
hi @lktslionel

If I am not wrong you are referring to the "Fluentd Log Driver" that's part of Docker. That plugin aims to talk to Fluentd or Fluent Bit since both speak the "forward" protocol.

Would you please clarify where you would like to see those options ?

[2017-11-20 23:25] lktslionel commented on #438
HI,
You're right ! I mislead you with my question. This question is related to the docker fluentd plugin instead.
Thanks for your answer.

[2017-11-20 23:26] #438 closed

[2017-11-21 02:00] wst-casd commented on #434
@nokute78   @edsiper   Thanks, I install the libsystemd-dev on my os and alter  pkg_check_modules(PC_JOURNALD QUIET systemd) to pkg_check_modules(PC_JOURNALD QUIET libsystemd),  then solve the problem.

[2017-11-21 02:01] #434 closed

[2017-11-21 09:26] lktslionel commented on #437
I could contribute by creating a parser function in Go that aims to parser key/val pairs with a given separator; but I don't know how to create one not in C but in Go instead.
Thanks

[2017-11-21 11:33] jsravn opened #441 "ES plugin can stop sending updates"
We observed one of our fluent-bit pods (0.12.8) stop sending all logs. In the logs, we saw several:

[code]

Since the 14th all logs stopped being sent. I ran lsof on the pod and saw several connections stuck in CLOSE_WAIT (indicating fluent-bit may not be properly closing the socket). Maybe this explains why it seems to be blocked.

[code]

We're using AWS ES which will close connections more agg

[2017-11-21 11:36] jsravn commented on #441
Restarting the fluent-bit caused it to resume sending logs.

[2017-11-21 23:05] nokute78 commented on #437
fluentbit supports named capture.
It can define the key name.

e.g `(?<key_name>[^ ]*)`

could you check  this document?
http://fluentbit.io/documentation/current/parser/regular_expression.html

http://rubular.com/
is helpful to test regexp.

[2017-11-22 04:27] StevenACoffman opened #442 "Kubernetes Java Multiline Sidecar Example: No output?"
In Kubernetes we often have log files written to transient containers that we need to consume and push to the log driver before they are discarded. I was trying to create a kubernetes sidecar example using fluent-bit, but despite it appearing to input the tailed files, no output is produced.

I see plenty of debug out like:
[code]

**Note:** The repository that reproduces this issue [is located he

[2017-11-22 06:18] mikn opened #443 "in_systemd does not output fractions of a second"
As shown in this out_file output:
[code]
The fractions of a second varies between 000000 and 000001. This is because of a simple math mistake here:
[code]
Whilst looking at this, I also noticed that the in_kmsg has a similar problem:
[code]
With a missed usec to nsec conversion. I'll open a PR shortly addressing both. :)

[2017-11-22 11:31] jsravn opened #445 "docker log rotation isn't working with in_tail (truncate mode)"
After the log is rotated, in_tail stops reading in new logs.

It looks to me the detection is not working. I'm not sure exactly how docker rotates logs, but I'm guessing it does a truncate.

Here is the log that has stopped being shipped, notice it is only 1Gi:
[code]

In the sqlite3 db:
[code]

The inode and created timestamp are correct, but offset is wrong. We limit docker logs to 2Gi in size -

[2017-11-22 14:19] StevenACoffman commented on #442
Ah! I misunderstood and you cannot use the Parser config for multiline but instead:
[code]
I updated my example repository for others.

[2017-11-22 14:19] #442 closed

[2017-11-22 14:32] edsiper commented on #445
once a file is rotated, Fluent Bit needs to re-scan the path to find new ones and this is handled by the Refresh_Interval option in in_tail. What refresh_interval do you have ?

[2017-11-22 15:15] jsravn commented on #445
@edsiper It is set to 10 seconds. But I don't think that's the issue. docker does copy truncate on rotation. In my case I set `max-file` to 1, so there's never any new files. Docker simply truncates the existing log file, after which fluent bit will stop shipping from it. I think fluent-bit would need to check the size of the file to detect truncation.

[2017-11-22 15:26] jsravn commented on #445
This must be a docker quirk. When I sent `max-file` > 1, then indeed a new file gets created on rotation. When set to 1 it looks like it just truncates... (or it's deleting then recreating, and linux is recycling the prior inode - but I imagine inotify would pick that up).

[2017-11-22 15:30] edsiper commented on #445
ah ! because Truncate mode is not supported (and not intended to be :)

[2017-11-22 15:32] jsravn commented on #445
@edsiper Does fluent-bit handle reused inodes correctly?  e.g. it rotates and creates a new file, which gets the same inode # as old rotated-off file.

[2017-11-22 15:38] edsiper commented on #441
I've not seen CLOSE_WAIT issues in years, I will dig into that.

[2017-11-22 15:42] jsravn commented on #445
Cool I made https://github.com/fluent/fluent-bit-docs/pull/44 to document the rotation behavior.

[2017-11-22 15:48] edsiper commented on #441
for how long every CLOSE_WAIT hangs there ?, how many in total ?

[2017-11-22 15:53] jsravn commented on #441
@edsiper It's what I showed above, 4 CLOSE_WAITs. When I dug into it the closed waits look like they had been created Nov 22nd. But all logs had stopped being shipped since Nov 14 on that node.

[2017-11-22 15:55] jsravn commented on #441
Those CLOSED_WAITs were around for a long time, hours.

[2017-11-22 20:58] edsiper commented on #441
Looks like I found a possible root cause, but it need some testing.

can you give it a try to the new [tls_CLOSE_WAIT](https://github.com/fluent/fluent-bit/tree/tls_CLOSE_WAIT)  branch ?

[2017-11-23 01:59] edsiper commented on #443
Merged #444

[2017-11-23 01:59] #443 closed

[2017-11-23 09:53] jsravn commented on #441
@edsiper Thanks for the quick turnaround. I'll try it out.

[2017-11-23 11:35] jsravn commented on #441
FYI I got the backtraces when it's blocked
[code]

[2017-11-23 11:56] jsravn commented on #441
@edsiper Based on stack trace I don't think it's an issue with TLS. It looks like the tail plugin can get stuck writing to the notification pipe in some scenario.

[2017-11-23 14:01] jsravn commented on #441
I've checked around 5 nodes where this happened and all are doing it during `in_tail_collect_pending` which happens when the engine pauses ingestion.

It looks to me like it's just piling on events to the pipe in this case, and it fills up and blocks. A fix could be to set the pipe to non blocking mode. Or check the size of it before hand.

[2017-11-23 15:54] jsravn commented on #441
@edsiper I think https://github.com/fluent/fluent-bit/pull/446 will fix it. I'll test it out.

[2017-11-23 16:26] epcim commented on #415
It did appear on lab env, but not in the production.

Set buffer might helped. As of now I don't have verbose/debug output => I don't see these issues anymore on latest versions of fluentbit/fluentd / plugins.

[2017-11-23 16:26] #415 closed

[2017-11-25 04:42] edsiper commented on #430
Fixed by #431.

[2017-11-25 04:42] #430 closed

[2017-11-25 04:42] edsiper commented on #445
docs merged, thanks.

[2017-11-25 04:42] #445 closed

[2017-11-26 21:50] lktslionel commented on #437
I agree but I need to capture key_name/key_value without having to specify the key_name by its position in the log line.
The behavior I need is something similar to [logstash kv plugin](https://www.elastic.co/guide/en/logstash/current/plugins-filters-kv.html)

Thanks

[2017-11-27 13:58] jsravn opened #449 "reserve_data on doesn't seem to work in filter_parser"
http://fluentbit.io/documentation/0.12/filter/parser.html

I've copied the example config and parser, and set `Reserve_Data True`. However, the original field is not preserved.

[2017-11-27 14:33] jsravn opened #450 "malformed field causes segfault in filter_parser"
Setup a parser like in http://fluentbit.io/documentation/0.12/parser/regular_expression.html.

[code]

Pass in dummy data with a malformed date and some extra fields
[code]

Run fluent-bit against this. It will segfault. If you remove the "log" field then it prints an error about malformed date, and seems to eat the whole log line.

What I expect to happen:
* If field is unparseable, it should sim

[2017-11-27 15:48] jsravn commented on #450
I'm also noticing I can get a segfault if I set `Reserve_Data` to on and add an additional field to the dummy record. I'm slightly confused on the behavior. filter_parser should not be deleting all other fields in the record right? It should parse the specified field then merge it with the rest of the record fields?

[2017-11-27 15:49] jsravn commented on #449
Also, if I add an additional field it segfaults.

[2017-11-27 15:49] jsravn commented on #449
May be related to https://github.com/fluent/fluent-bit/issues/450

[2017-11-27 16:42] jsravn commented on #450
I made https://github.com/fluent/fluent-bit/pull/451 with several tests showing some problems. Seems like there are quite a few issues with this filter that need sorting.

[2017-11-27 16:44] jsravn commented on #449
It appears _all_ fields are deleted by default without this on. Is that intended? `filter_parser` only parses a single field - why would it delete all other record fields? I don't think that behavior is correct. `Reserve_Data` should be just about preserving the field that gets parsed, I think. Also it should be renamed `Preserve_Data`, `Reserve` is the wrong word I think.

[2017-11-27 16:44] jsravn commented on #449
I've opened #451 with tests showing the problems.

[2017-11-27 19:59] edsiper commented on #450
@jsravn do you see this problem on 0.12 series ?, I made a set of incomplete changes on GIT master, just want to check if that could be the root cause

[2017-11-27 20:00] edsiper commented on #432
Please set an output to stdout and validate the records, if the metadata is not there please send us some feedback.

[2017-11-27 20:13] bismarck commented on #432
Unfortunately restarting the fluent-bit pods fixes the issue.  Currently I'm seeing the issue on 1 of my 3 kubernetes clusters.  Sometimes it takes days for the issue to manifest itself and when it does I'm missing metadata for some pods and not others.

[2017-11-27 21:45] bismarck commented on #432
I exec'd into a fluent-bit pod on a node which is having the issue and ran:

[code]
Metadata is there (probably because it's a new process).  I'm not sure what else to do to isolate the issue.

[2017-11-27 23:25] nokute78 commented on #449
Thank you for reporting issue.

@edsiper The patch to “support multiple parsers” seems to break the reserve_data feature.
Could you check it?

@jsravn This feature is imitated the plugin of “fluentd”.
The name and behavior comes from it.

[2017-11-28 03:10] wst-casd opened #452 "Can fluent bit support to collect information of docker not in kubenetes"
I know fluent bit can collect log data for Kubernetes and work stable. And if we want to collect data for docker on machine which are not managed by Kubernetes, whether or not fluent bit support it so far.

Thanks for enthusiastic man tell me.

[2017-11-28 07:46] zersh01 commented on #429
Hi.
I have this "error" too:
`>uname -a
Linux ott-1 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu 16.04.1 LTS

Fluent-Bit v0.12.8
Copyright (C) Treasure Data

[2017/11/28 10:07:57] [ info] Configuration
[2017/11/28 10:07:57] [ info]  flush time     : 3 seconds
[2017/11/28 10:07:57] [ info]  input plugins  :
[2017/11/28 10:07:57] [ info] tail
[2

[2017-11-28 10:49] jsravn commented on #441
@edsiper I think you misunderstood me. The TLS Branch doesn't fix the problem for me. My PR at #446 is the fix :).

[2017-11-28 10:51] jsravn commented on #450
@edsiper Ah okay, it is against master that I see the problem. So it might be fine on 0.12.

[2017-11-28 10:54] jsravn commented on #449
@nokute78 Okay thank you. I think you are right, this is just an issue on master. I'll see if I can fix it in #451 which will also add some test coverage.

[2017-11-28 11:30] stanisavs commented on #278
Guys, hi all, please help, I can't fine any docs how to use unescape_key.
I have nginx access_log that looks like:
`{\"id\":\"adsteroid-5a1d3f49d44ee271231631\",\"cur\":[\"USD\"],\"at\":2,\"imp\":[{\"id\":1,\"banner\":{\"w\":0,\"h\":0},\"bidfloor\":0.9}]}`
I want to start parse it with fluentd config:
[code]

What am I not doing wrong?
Please help!

[2017-11-28 11:33] jsravn commented on #449
Okay, I've fixed this in #451.

[2017-11-28 11:34] jsravn commented on #450
Fixed this in master on https://github.com/fluent/fluent-bit/pull/451. @edsiper

[2017-11-28 11:51] jsravn opened #453 "filter_parser: unescape_key commit is missing in master"
https://github.com/fluent/fluent-bit/commit/ec8c031f404c15461e0c74dca73b3f4dbe47f2f0

Needs to be merged into master.

[2017-11-28 11:52] jsravn commented on #452
@wst-casd It can collect logs using `tail` from any log file. That is how it works with kubernetes - it tails the docker json log files on disk.

[2017-11-28 12:52] dshmatov opened #454 "Add ability to handle index name template in ES output"
So, as I understand correctly Fluentbit has an ability (if I use `Logstash_Format  True`) to get timestamp from incoming data (e.g. `@timestamp` field). But it would be great to set index template   time format (`index-name-%Y%m%d`) from local host not from incoming data. I don't want to use Logstash format, but I want to handle index name via time or env template from local host.

[2017-11-28 12:57] onorua commented on #454
Will that help, if `Index` will support templating similar to  `Logstash_DateFormat`?
Basically if we would treat Index field as `strftime` template instead of just string. That should solve your problem, and unify the approach with fluentd:
[code]

[2017-11-28 12:59] dshmatov commented on #454
@onorua yep, It would be great!

[2017-11-28 19:04] DavidWittman opened #455 "Suppress "parse error" log messages"
Is there a configuration value to suppress "parse error" log messages like is available [in fluentd](https://docs.fluentd.org/v0.12/articles/filter_parser#suppress_parse_error_log)?

I have some streams from Docker containers which contain multiple log types (i.e. Apache logs and application logs) and I want to set up multiple parsers for them without having these messages spewed in the logs. If t

[2017-11-29 08:03] wst-casd commented on #452
@jsravn  Thanks. I also want to know whether it support to collect metrics, for example CPU, Disk, Memory of dockers not in kubenetes.

[2017-11-29 13:49] panta opened #458 "Segmentation faults (SIGSEGV) after prolonged retries"
This is somewhat similar to what happened with #123. If the output plugin can't communicate with the remote end, after a number of retries fluent-bit crashes with SIGSEGV (signal 11). I've tried with both `out_http` and `out_forward`.

The following has been verified on OS X (El Capitan 10.11.6), cmake 3.8.2.
The problem happens both with the official stable `fluent-bit` 0.12.9 and with `master`.

[2017-11-29 15:41] jsravn commented on #441
I missed another spot where pipe can fill up in the inotify code

[code]

Will address in #446.

[2017-11-29 15:41] jsravn commented on #441
@edsiper Can you reopen this until we get my fix merged?

[2017-11-29 20:53] edsiper commented on #441
done

[2017-11-30 02:26] #452 closed

[2017-12-01 10:58] apmcodes commented on #368
Missing this feature, need this feature to use fluent-bit

[2017-12-01 12:26] apmcodes opened #459 "Help! Need regex to parse CSV"
Can someone provide a sample regex to parse CSV, to be added in parser.conf

[2017-12-01 16:32] jbhilton11 opened #460 "$HOSTNAME not resolving as environment variable as referenced in record_modifier"
I'm trying to add the hostname of the server the forwarder is running on. In the record_modifier example, it shows adding hostname as ${HOSTNAME} which should resolve (as an already-established) environment variable to the hostname of the server. This, however, doesn't resolve to anything and therefore the field is left out of the record.

[2017-12-01 17:27] epcim opened #461 "in_tail: when corrupted log file - situation not reported, not recovered"
Parsing stuck on this corrupted file.
The expected behaviour would be to report an error about a stuck in_tail process. On the picture is the log in vim editor. The chars is kind of replacement for "long line". After this kind of random data as other log lines without anny issues.

We should detect, that the log increase in the size but we got stuck in some position.

![image](https://user-images.

[2017-12-01 17:58] epcim opened #462 "enhancement: ability to check consistency on the other side"
Do something like adding unique, incremental id to every record, so we may finally recognize the other side gaps in data received.

Assuming these seq id's are added to the output and they are used on input in (in_forward) etc. Evaluated for consistency in ES etc..

If filters were applied on the record, then we obviously can't send such sequences, however, I quite believe there will be some kind

[2017-12-01 18:17] epcim commented on #461
2017-10-26 17:20:27 is the last read record, then is the corruption in file (that grep don't have problem to pass

[code]

[2017-12-01 18:20] epcim commented on #461
This way you may easily decode:
[code]

[2017-12-01 20:32] edsiper commented on #462
hi @epcim

Next version of Fluent Bit v0.12.10 is coming with that feature through the following contribution:

https://github.com/fluent/fluent-bit/pull/447

FYI: For Next series of Fluent Bit (0.14) I am designing a new way so each record will always have a UUID for internal identification and optionally used for checking purposes.

[2017-12-01 20:35] edsiper commented on #460
would you please share your configuration file ?

[2017-12-04 05:39] ducky-hong commented on #461
https://github.com/fluent/fluent-bit/pull/427 might be a related issue.

[2017-12-04 19:35] uttamanand commented on #222
Not able to find rpm for fluent bit. Can anyone of you please send the correct link to download the same?

[2017-12-04 19:38] edsiper commented on #222
this should work:

apt.fluentbit.io/centos/7/td-agent-bit-0.12.9-1.x86_64.rpm

[2017-12-04 20:19] uttamanand commented on #222
Thanks @edsiper . Is it the lastest one?

[2017-12-04 21:48] uttamanand commented on #222
Hi Eduardo,

I have made a tar file of fluent bit and i have contents like below -:

/etc/td-agent-bit
/etc/td-agent-bit/parsers.conf
/etc/td-agent-bit/td-agent-bit.conf
/lib/libfluent-bit.so
/lib/systemd/system/td-agent-bit.service
/usr/local
/usr/local/bin
/usr/local/bin/td-agent-bit

Now I want to start the td-agent-bit ( Substitute for command -: service td-agent-bit start).
I tried to start i

[2017-12-04 22:16] uttamanand commented on #222
I got the solution -:

/td-agent-fluent-bit/usr/local/bin/td-agent-bit -c /td-agent-fluent-bit/etc/td-agent-bit/td-agent-bit.conf

[2017-12-05 09:36] marckamerbeek opened #463 "Support multiple technologies/logformats on one K8s node"
Hi,
We run Kubernetes 1.8.1 on premise and start using fluent-bit as log forwarder to elastic search.  There are running 600+ docker containers with all kinds of technologies. Java, Spring boot, Python, NodeJS etc...

How should my config look like? Do I need all kind of different tail inputs? Or just *.log tail input and go through all the filters with all kind of different parsers with regexes

[2017-12-05 12:38] jbhilton11 commented on #460
Here is most of my config below. I do not use a SET variable for HOSTNAME because in the example for the [record_modifier](http://fluentbit.io/documentation/current/filter/record_modifier.html#append-fields), it does not have HOSTNAME defined as a SET varaible. I figured it'd be available since it's always defined as an environment variable. I have verified that the HOSTNAME environment variable e

[2017-12-05 14:06] darek-dymek-i commented on #429
Hi, I have the same problem.
3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
[code]

Config:
[code]

[2017-12-07 08:36] wst-casd opened #464 "How to solve Large log file leading to some input plugin abnormal"
Nowadays，I run fluent-bit as a docker on my machine to collect CPU、disk、log and so on. My fluent-bit.conf

[SERVICE]
    # Flush
    # =====
    # Set an interval of seconds before to flush records to a destination
    Flush        5

    # Daemon
    # ======
    # Instruct Fluent Bit to run in foreground or background mode.
    Daemon       Off

    # Log_Level
    # =========
    # Set the verb

[2017-12-08 01:12] wst-casd commented on #464
I hava add a feild to the structure of cpu_snapshot in in_cpu.h, and evey time the collector collect the cpu usage, it will get a timestamp. And the calculaion of usage will depend on the timastamp interval between snap_pre and snap_now.

[2017-12-08 10:10] jsravn commented on #441
PR was merged.

[2017-12-08 10:10] #441 closed

[2017-12-08 10:12] jsravn opened #465 "in_tail starves new/rotated files during high log volume"
When `in_tail` pauses, it stops rotating and scanning for new log files. This means when under high log volume that causes ingestion to pause, it will never add new log files or rotate existing ones. As a result, a single high volume log file can starve out new / rotated low volume log files.

I believe the pause behavior is incorrect. `in_tail` should continue scanning and rotating even when paus

[2017-12-11 02:20] hackeracc opened #467 "tail with multiline does not behave as expected"
Hi,
I am using the multiline feature in tail input plugin in fluent bit. I am running on Centos 7.
My relevant config snippets are as follows:

[INPUT]
    Name tail
    Tag custom
    Path /var/log/custom.log.*
    Exclude_Path *.gz
    Multiline On
    Parser_Firstline custom_start
    Parser_1 custom1

in parsers.conf, I have added the definitions for custom_start and custom1

[PARSER]
    Name

[2017-12-12 09:48] hdiass opened #468 "Bad escaping after fluent-bit processing"
Hello,

After writing on slack, will post here the issue i'm facing.
I've been using fluent-bit in several times, but this time i found out that the logs created by an application with some \n  are being changed by fluent-bit adding one more "\" this is leading to a lot of bad escaping on kibana, and debugging stacktraces with it is very difficult. I've attached the 2 differents logs (application

[2017-12-13 10:38] hdiass commented on #429
Hello
I'm also facing this issue using ES output.

[2017-12-13 21:34] StevenACoffman commented on #94
@edsiper just checking in. For our planning, does it still seem likely to add the retry_logic in the near time?

[2017-12-13 21:35] edsiper commented on #94
@StevenACoffman actually I am working on that at the moment.

[2017-12-13 22:51] edsiper commented on #464
The image you are using is for testing purposes of new Kafka plugin, not for production. That version adds a lot of latency since that plugin is not using async mode.

Please confirm if you are able to reproduce the problem with latest 0.12 series without Kafka.

[2017-12-13 23:10] edsiper commented on #94
New version has been pushed:

[code]

Please test and send me some feedback (retry logic in place)

[2017-12-14 02:00] wst-casd commented on #464
Thanks very much.
In fact, the out_kafka I used is what our team develop according to the fluent-bit framework, because when we begin to use fluent-bit(version 0.11) the out_kafka-test plugin has not been developed.
Now we give up the out_kafka we develop when we use fluent-bit 0.12.  And we develop another output plugin out_token which just send the collect data to a service through grpc.
 The pr

[2017-12-15 09:47] wst-casd commented on #464
Today I have a test and find the cause.

Follows is my configuration file:
/------------------------------------------------------------------------------------/
[SERVICE]
    Flush        5
    Daemon       Off
    Log_Level    info
    Parsers_File /opt/conf/parsers.conf

[INPUT]
    Name    cpu
    Tag     cpu

[INPUT]
    Name     tail
    Tag      system-log
    Path     /home/xh/fb-var/syste

[2017-12-15 22:46] edsiper commented on #458
I've confirmed this issue on OSX, troubleshooting events order here:

[code]

[2017-12-18 01:57] nakato opened #469 "Parser time of unstructured input unexpected"
I was attempting to get fluent-bit to add a time to unstructured standard input content, and found that I could either get the time set to `0.000000000` or a very unexpected value about a year ago, `1483142400.000000000` (2016-12-31).

Fluent-bit version: 0.12.10
Installation: Docker `fluent/fluent-bit:0.12.10`

Starting with a basic config to parse `blobs of text` to `{"message": "text"}`, I get

[2017-12-19 05:00] satharasidinesh opened #470 "Crash lib mode if use more than 1 context"
In library mode fluent bit crashing if we send more than 3 time same request

below code will reproduce issue

[code]

regards ,
Dinesh S.

[2017-12-19 10:54] wkruse commented on #352
I am also getting a bunch of those running`fluent/fluent-bit:0.12.10` in Kubernetes cluster (setup like in http://fluentbit.io/documentation/0.12/installation/kubernetes.html, just replaced Elasticsearch Output with HTTP Output) and shipping logs with HTTP output to Logstash. I do see the logs arriving in Logstash though.

[code]

[2017-12-19 17:39] brifordwylie commented on #208
Can we document this, since many examples use tail they should have a disclaimer that tail is Linux only at this point. I installed several versions on my Mac laptop trying to get tail input plugin to build/work and only came across this issue after burning a couple of hours :)

[2017-12-19 17:53] wkruse commented on #352
It seems there is a new connection for every HTTP POST and there seems to be always TCP Retransmissions. Could it be, that those TCP Retransmissions are causing the errors above?

[code]

[2017-12-20 20:12] wkruse commented on #352
After digging a bit deeper with `Log_Level debug` and `tcpdump`,  it looks like`fluent-bit` doesn't accept the response from Logstash HTTP input.

Tailing the logs and getting metadata from the Kubernetes API server works.

[code]

Sending the logs to Logstash works for **every** attempt, but `fluent-bit` thinks it **doesn't**.

[code]

The corresponding HTTP POSTs and responses for **every** atte

[2017-12-20 22:11] edsiper commented on #469
@nakato thanks for the bug report.

I've found the following root causes:

- in_stdin plugin is not populating default time after the regex call. Fixed by https://github.com/fluent/fluent-bit/commit/b8f296682d237d94ae74dd41052866a1ebc98317
- config reader: after trim a value, it don't check if the value is empty (which is not allowed). Fixed by https://github.com/fluent/fluent-bit/commit/99738a794

[2017-12-21 03:43] edsiper commented on #352
so it's time to download logstash :)

work in process.

[2017-12-21 05:28] edsiper commented on #352
thanks everybody for testing and troubleshooting this issue.

The root cause of the problem was the following: logstash send the response back in two rounds: 1. headers 2. body/payload. The current http_client was not processing/marking the payload on this specific condition leading to have the connection open waiting for more data.

The problem has been fixed by https://github.com/fluent/fluent-b

[2017-12-21 05:38] edsiper commented on #470
the code you have provided is wrong. In the loop you are overriding the main context which will lead to a segmentation fault. Please refer to the following test case as a functional example:

https://github.com/fluent/fluent-bit/blob/master/examples/hello_world/hello_world.c

[2017-12-21 05:40] edsiper commented on #462
Fixed by https://github.com/fluent/fluent-bit/pull/447

[2017-12-21 05:40] #462 closed

[2017-12-21 05:42] edsiper commented on #426
Thanks for your comments.

Fluent Bit Open source edition will not have a XML input plugin (enterprise edition in the future may have, but no real resolution about it yet)

[2017-12-21 05:42] #426 closed

[2017-12-21 10:53] satharasidineah commented on #470
HI ,

In my logic i am creating 3 diffrent context for 3 different data collection with same input and output plugins  , all the 3 context are local to for loops i.e am not overriding any context.

if something wrong in my understanding let me know.

[2017-12-21 17:27] edsiper commented on #470
Trying to isolate the problem I've found that is not possible to use more than one main context, test case here:

[code]

If ctx2 is allocated we get a segmentation fault.

Marking this behavior as a bug, as a workaround do not use more than one context.

[2017-12-21 20:07] landryb commented on #403
Fwiw, i fully support this. I can understand that for embedded target it makes sense, but for regular distribution/packaging, it is awful to bundle source copies of libraries like this without providing a way to build against an external lib, be it for msgpack, mbedtls, onigmo or others.

[2017-12-21 22:14] edsiper commented on #467
what about this regex rule:

(?<time>\d{4}-\d{1,2}-\d{1,2} \d{2}:\d{2}:\d{2})(?<message>.*)$

you can test it on rubular.com

[2017-12-22 04:30] edsiper commented on #352
Fluent Bit v0.12.11 has been released: http://fluentbit.io/announcements/v0.12.11/

[2017-12-22 04:30] #352 closed

[2017-12-22 04:30] edsiper commented on #469
Fluent Bit v0.12.11 has been released: http://fluentbit.io/announcements/v0.12.11/

[2017-12-22 04:30] #469 closed

[2017-12-22 14:59] edsiper opened #474 "in_tail: read from tail, not head by default"
Fluent Bit in_tail plugin always read from head, if not using a database file it should read from tail by default. This needs to be fixed.

[2017-12-22 15:13] edsiper commented on #459
@apmcodes  there is no CSV parsing support at the moment.

[2017-12-22 16:13] edsiper commented on #94
@StevenACoffman @solsson

any feedback on the last version provided ?

[2017-12-22 18:07] edsiper commented on #403
@landryb

for now priority is bundled, but I agree that having the option to use an external library should be fine too for some users.

This can be considered an enhancement request, personally I'd wait for a contribution on this area (pull requests). Contributors are welcome.

[2017-12-22 18:08] edsiper commented on #455
which specific error do you want to suppress ?, what are the plugins involved ?

[2017-12-22 18:28] StevenACoffman commented on #94
@edsiper see fluent/fluent-bit-kubernetes-logging/pull/11

[2017-12-22 18:47] StevenACoffman commented on #94
Sorry I haven't had a chance to set up a public repo to reliably and reproducibly test it. I will try to do that today

[2017-12-22 19:17] DavidWittman commented on #455
@edsiper It actually looks like you may have addressed this issue in https://github.com/fluent/fluent-bit/commit/46fbd94ffa278abaf48b9eaa5c4ce5a7cc544dec. I was getting a ton of these error messages when specifying > 1 parser for my streams:

[code]

Here's what my config looks like:

[code]

In this case I'm configuring two apache parsers, but i'm also streaming other types of logs through the sa

[2017-12-22 19:31] DavidWittman commented on #455
Related #463

[2017-12-23 12:12] nakato commented on #469
I can confirm v0.12.11 sets the timestamp correctly, and the empty value errors out.

Thanks for your work @edsiper !

[2017-12-25 19:01] djotanov commented on #337
Any news on when could this be implemented?

[2017-12-26 23:14] dawidmalina commented on #293
@edsiper any news (plans) for this improvement?

[2017-12-27 12:55] jbhilton11 commented on #417
I was curious if there has been any further thought on this issue?

[2017-12-27 12:55] jbhilton11 commented on #428
I was curious if there has been any further thought on this issue?

[2017-12-27 12:56] jbhilton11 commented on #460
I was curious if there has been any further thought on this issue?

[2018-01-03 01:09] edsiper commented on #432
have you seen the problem again in your environment?

I suspect the problem could be related to the hash table limits imposed in older versions, using 0.12.11 should be ok.

[2018-01-03 14:22] monotek opened #476 "add fluent-plugin-detect-exceptions & fluent-plugin-prometheus to dockerfile"
Imho both plugins should be used in fluentd-bit dockerfile.

fluent-plugin-detect-exceptions helps to log multiline errors like java stacktraces:
https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions

fluent-plugin-prometheus exports metrics for prometheus monitoring:
https://github.com/fluent/fluent-plugin-prometheus

[2018-01-03 17:09] bismarck commented on #432
I haven't seen the issue in the past month.  We're still running 0.12.9, but will be upgrading to 0.12.11.

[2018-01-03 17:40] edsiper commented on #432
thanks for the update. I will close this issue for now, if you face the problem again we can reopen it.

[2018-01-03 17:41] #432 closed

[2018-01-04 00:51] captainkerk commented on #468
Did you find a fix for this?

[2018-01-04 00:52] hdiass commented on #468
@captainkerk not so far..

[2018-01-04 00:57] captainkerk commented on #468
Ok, I'm experiencing something similar. I'm still debugging, I'll let you know if I figure anything out.

My fallback is to ditch this lightweight agent, and go back to the full `fluentd` agent.

[2018-01-04 00:59] hdiass commented on #468
Well for me it's not a solution as in a container env i need everything as lightweight as possible, and this is not a major blocker for me.

[2018-01-04 09:20] bharrisau opened #479 "Docker image 0.12.11 not compatible systemd using LZ4"
As mentioned in coreos/bugs#2121, newer systemd versions support LZ4. The current fluent bit docker image doesn't support LZ4 and just silently fails to collect any logs.

[code]

When changing the Dockerfile to use `FROM debian:stretch-slim` I now get:

[code]

I'd suggest changing the base image over to `debian:stretch-slim` or something that includes LZ4.

[2018-01-04 14:30] jaul opened #480 "Time_Key on Elasticsearch output when Logstash format is on"
As far as I understand from the documentation and the code v0.12, when `Logstash_Format` is on, fluentbit will just ignore the value on `Time_Key` coming from parser and insert a new field named accordingly to `Time_Key` parameter on es output.

For instance:
[code]
where `@timestamp` is the default for `Time_Key` and `timestamp` comes from the parser.

Is there a way to force `es` output to use t

[2018-01-05 09:34] jaul commented on #480
Ok, that was just a wrong setting. Thanks!

[2018-01-05 09:34] #480 closed

[2018-01-08 23:18] AbdulHaseebHussain opened #482 "beginner contributing to C project"
Would it be possible to lower the learning curve associated with contributing by including the basics within the contributing document. I've only just started contributing to open source and have have been contributing with basic features and fixes to the Logstash Plugins, within the contributing documents of Logstash Plugins it is specified for beginners how to build and run the tests e.g. using

[2018-01-09 13:15] cordoval commented on #479
i am not collecting logs on image: fluent/fluent-bit:0.12.9, is that image also affected by this?

[2018-01-09 17:51] felipejfc opened #483 "Using multiple filters for the same record - is it possible?"
Is it possible to use multiple filters for the same record?

I'm trying to do the following:

[code]

however it does not seems to be working fine, what I wanted to happen is that filter-kubernetes add kubernetes metadata into the log and then filter-logging excludes the logs coming from logging namespace.

[2018-01-10 07:33] monotek commented on #467
You could also try to use the detect-exceptions plugin mentioned in https://github.com/fluent/fluent-bit/issues/476

https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions

[2018-01-10 07:35] monotek commented on #337
You could also try to use the detect-exceptions plugin mentioned in #476

https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions

[2018-01-10 07:52] monotek commented on #476
ahh... damn... the fluentd plugins don't seem compatible :-(

maybe you can use it als inspiration for an onw plugin anyway.

[2018-01-10 07:52] #476 closed

[2018-01-10 08:05] bharrisau commented on #479
I don't believe any of the current images include LZ4 journal support. You'd need to check your host system to see if it is using LZ4 compression on the journal to see if it is the same issue. You can also try disabling compression in journald.conf to check if that fixes log collection.

[2018-01-10 13:45] gappan opened #484 "unable to understand the error message"
We are running `Fluent-Bit v0.12.3` on our k8s cluster and with the below config
[code]

We are getting the below error message and unable to understand what is wrong with the config:
[code]

Would appreciate if  you can point on what is happening here .

[2018-01-11 06:28] gappan commented on #484
I have upgraded the fluentbit to `Fluent-Bit v0.12.11` and I still get the same errors.

[2018-01-11 16:14] keithjohnhowe opened #485 "Fluent-bit not adding correct hostname when forwarding logs to fluentd"
I am using fluent-bit to forward logs from a K8s cluster to fluentd. However it looks like fluent-bit can not detect the fluentd hostname. I am getting the following error -" [ warn] net_tcp_fd_connect: getaddrinfo(host='flailing-ferritfluentd'): Name or service not known"
any idea what settings I can use to correct this ?
I have used HELM charts to install.

[2018-01-11 17:33] StevenACoffman commented on #484
@gappan Can you provide your kubernetes yaml (deployment / daemonset / configmap)? The configuration is very important to understanding why this is happening.

[2018-01-11 17:35] StevenACoffman commented on #485
Can you provide a copy of your helm chart? The configuration is quite important to understand the context of what's happening here.

[2018-01-11 18:00] keithjohnhowe commented on #485
Thanks for getting back this is the subcharts directory of the main HELM
Chart which I am using.

https://gitlab.com/flaxandteal/buckram/tree/master/kubernetes/buckram/subcharts

On 11 January 2018 at 17:35, Steve Coffman <notifications@github.com> wrote:

--

Keith Howe
Howe Computers
Ph: 0787 5911807
[image: https://uk.linkedin.com/in/howecomputers]
<https://uk.linkedin.com/in/howecomputers>

[2018-01-11 20:55] edsiper commented on #483
I think the missing feature is at this level:

[code]

In the record, _namespace_ likely is a map key of _kubernetes_, but Regex configuration in the filter assumes you are asking for a key called "kubernetes.namespace" so that may be the reason why it's not working.

[2018-01-12 11:32] gappan commented on #484
@StevenACoffman https://gist.github.com/gappan/fcd5f994acd47e9dbfdbf0dcb0af051f

[2018-01-12 11:46] keithjohnhowe commented on #485
Has anyone used fluent-bit to forward logs to fluentd ? Any suggestions would be welcome

[2018-01-12 13:46] StevenACoffman commented on #485
The [fluent slack channel](https://slack.fluentd.org/) is a good choice.

[2018-01-12 13:48] keithjohnhowe commented on #485
Thanks I'll try that

On 12 January 2018 at 13:46, Steve Coffman <notifications@github.com> wrote:

--

Keith Howe
Howe Computers
Ph: 0787 5911807
[image: https://uk.linkedin.com/in/howecomputers]
<https://uk.linkedin.com/in/howecomputers>

[2018-01-12 16:30] edsiper commented on #479
thanks for pointing out this issue.

Using the image __debian:stretch-slim__ should be correct. What I am doing now is making the image for Fluent Bit 0.13 based on that one, I will send more instructions shortly.

[2018-01-12 17:34] StevenACoffman commented on #485
I looked at your chart, and though I've not used Helm, I can tell your config is the problem.

Fluent-bit is trying to forward to the hostname of `flailing-ferritfluentd`, which is not resolvable via skyDns (or CoreDNS) to the IP you wish. It looks like it is the name of the docker container running fluentd.

Check out [your configmap](https://gitlab.com/flaxandteal/buckram/blob/master/kubernetes/

[2018-01-12 18:31] keithjohnhowe commented on #485
Hi thanks for getting back, I am using a chart which was created by a
colleague.  I have used  this on previous projects, however it is the
logging which I have not used before and now need to get working.  I am
testing this on minikube, and have set the host for fluentd in a
values.yaml file within the fluent-bit chart subdirectory. Do you know if
there is a way of setting this to a FQDN without

[2018-01-12 21:00] StevenACoffman commented on #485
I see that your colleague @philtweir has set up a fluentd service, named "fluentd" so if you try to address "fluentd.namespace" or "fluentd.namespace.cluster.local" it will resolve to the IP address of the service (replace namespace to whatever namespace the service is running in, or maybe `default` if you didn't specify that). However, your fluent-bit error is reporting it is attempting to connec

[2018-01-12 21:34] keithjohnhowe commented on #485
That makes a lots of sense, many thanks for your help with this. I will try your suggestions and let you know.

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Steve Coffman <notifications@github.com> Date: 12/01/2018  21:00  (GMT+00:00) To: fluent/fluent-bit <fluent-bit@noreply.github.com> Cc: Keith Howe <keith.j.howe@gmail.com>, Author <author@noreply.github.com>

[2018-01-13 12:53] philtweir commented on #485
Thank you for the ping and help there @StevenACoffman - I will discuss with @keithjohnhowe, but agree it sounds like a correction/config-option missed in the Helm chart, rather than a fluent-bit issue.

[2018-01-14 22:28] mvladev commented on #242
@edsiper I think he was trying to have dynamic routing based on the filtered data. Something like this:

[code]

This `KUBE_NAMESPACE_COMING_FROM_THE_TAG` is not coming from environment variables, but from the data / tag and it's dynamically evaluated.

If the log is from namespace `A` then it should go to `elasticsearch.A.svc`
If the log is from namespace `B` then it should go to `elasticsearch.B

[2018-01-15 17:19] kfox1111 commented on #242
Yes, thats what I'm interested in.

The person maintaining the namespaced set of services (tenant user) and the person maintaining fluent-bit daemon/config (k8s admin) could be on completely different teams with different rights. Letting the logs flow to processes maintained at the tenant level would allow the users to self service the processing/storage of their own aggregated logs without involv

[2018-01-15 20:32] StevenACoffman commented on #94
@edsiper Is there any way to pass debug flags to librdkafka? With [kafkacat](https://github.com/edenhill/kafkacat) it's very useful to add `-d broker,topic` if problems occur.

I was having some issues that were internal to kafka and it was difficult to sort out whether it was the retry logic or kafka's config that was problematic.

[2018-01-15 23:28] edsiper commented on #94
@solsson would you please re-submit the PR on 0.13-dev branch https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev ?

Note: I am pushing a new image and docs for Fluent Bit 0.13-dev on Kubernetes, the old kafka image will not be updated, please check for more details here:

https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev

[2018-01-16 09:32] intelliguy opened #486 "Tail input plugin dosen't close file descriptor properly."
I run a docker image (docker.io/fluent/fluent-bit:0.12.9) on a kubernetes cluster.
I found that fluentbit is always not working after some time.
There so many file descriptors for the fluentbit process in the container.
Multiple FDs are open for a log file as below.
The number of FDs is increased continually and the fluentbit is stopping after reaching the limit.
I doubt that the tail input plugin

[2018-01-16 10:44] wukq commented on #94
@edsiper  I really want to know when release 0.13 is released？

[2018-01-16 10:46] wukq commented on #94
@edsiper  I really want to know when release v0.13 ?

[2018-01-16 14:55] edsiper commented on #94
@wukq I would like to have it released on January 31 (I am focusing on that), but as you know everything will depends on general feedback and improvements required.

For now I will keep updating the 0.13-dev image, if more people test it, we will be more confident about the current status

[2018-01-16 19:13] solsson commented on #94
@edsiper done in #16

Fantastic work with the new version. I've enabled the Prometheus exporter in our QA and `fluentbit_input_bytes_total` is immensely useful to spot unexpectedly high volumes. Also `fluentbit_output_retries_total` should help us track issues with the `Retry_Limit` tests from https://github.com/fluent/fluent-bit-kubernetes-logging/pull/11#discussion_r157225358.

[2018-01-16 20:03] edsiper commented on #486
how are you deploying Fluent Bit ?, would you please share your Pod Yaml file and further configuration in Fluent Bit ?

[2018-01-16 20:10] edsiper commented on #485
thanks @StevenACoffman for troubleshooting this.

Closing this issue since it's a configuration problem.

[2018-01-16 20:10] #485 closed

[2018-01-16 20:14] edsiper commented on #484
@gappan would you please change Log_Level to debug in the Service section ?, I'd like to check if is there any extra log messages that can point out the issue

[2018-01-16 20:25] edsiper commented on #482
hi @AbdulHaseebHussain

thanks for reaching out.

There are many areas to contribute, the workflow to start learning which I suggest is the following:

- Clone our GIT master repo
- build it with: cd build/ && cmake -DFLB_DEV=On -DFLB_TESTS_RUNTIME=On ../
- make

then you will realize that some unit tests generated specific tests for the plugins that we have. These tests uses Fluent Bit in it libr

[2018-01-16 20:26] edsiper commented on #479
would you please evaluate the image being used for 0.13-dev ?

https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev

[2018-01-16 22:08] edsiper commented on #461
@epcim  thanks for the test case.

as @ducky-hong said, this was related to the problem that in_tail stopped monitoring a file when a NULL byte was found. Based on @ducky-hong work, we published a fix for the case that will be available on Fluent Bit v0.13.0

Closing this issue since it has been solved on GIT Master

[2018-01-16 22:08] #461 closed

[2018-01-16 22:11] edsiper commented on #468
hello everyone, my apologizes for the delay on this.

@hdiass would you please provide the specific Docker log file that contains the problematic messages ?

side question, are you able to reproduce the problem with Fluent Bit v0.12.11 ?

[2018-01-16 22:19] edsiper commented on #467
@hackeracc any luck with the regex provided above ?

[2018-01-17 00:37] intelliguy commented on #486
I uses fluent-logging chart on openstack-helm-infra (https://github.com/openstack/openstack-helm-infra/tree/master/fluent-logging)
Whole yaml is like below.

apiVersion: v1
kind: Pod
metadata:
  annotations:
    configmap-etc-hash: 53ff21fdd4bf8c6c998f799a3c09ea78f9443971faf231232d1a1dc46520c844
    kubernetes.io/created-by: |
      {"kind":"SerializedReference","apiVersion":"v1","reference":{"kin

[2018-01-17 16:42] edsiper commented on #486
so looking at the initial ls -la it's like: Fluent Bit opened multiple times the same file and never closed the file descriptors ? some questions:

- what's the file system involved ?
- is there any specific tool doing log rotation ?, if so, please share the config

[2018-01-17 16:59] edsiper commented on #455
@DavidWittman

multiple formats that requires different parsers is addressed in the upcoming Fluent Bit 0.13 version, so you will be able to specify a list of parsers in only one filter.

[2018-01-17 17:03] edsiper commented on #463
hi @marckamerbeek

there are two approaches;

1. Fluent Bit 0.12: this is the actual stable version and the filter_kubernetes only allows to take the raw log message (without parsing) or parse it when the message comes as a JSON map. Of course this is not so ideal since not all applications generate logs in JSON format.

2. Fluent Bit 0.13: this is the actual development version which we aim to re

[2018-01-17 19:08] marckamerbeek commented on #463
Wow...thats exactly what we had in mind. We have a story on the backlog to build a new plugin that does that. That saves us a lot of  work! We are not familiar with building plugins in C.

Ofcourse I want to experiment with that. I'll keep you posted.

And what about multi format log files? Like kubernetes nginx-ingress-controller logs. That has 3 different formats in one log file. Like Access log

[2018-01-17 20:13] edsiper commented on #463
great :)

oh, I did not think about that specific use case, which can happen on any multi-container Pod. Likely the solutions seems to be around let the Pod suggest multiple parsers and let Fluent Bit process that. It's not that good in terms of performance but something that needs to be solved in some way.

[2018-01-17 21:08] marckamerbeek commented on #463
Well, actually its not a multicontainer pod. Its just one container spitting out all different formats to stdout.  We also got some python containers doing the same. Fluentd got that multi format plugin (https://github.com/repeatedly/fluent-plugin-multi-format-parser) which does the thing. But I can imagine that will have some performance issues running through those regexes.

I discussed your sol

[2018-01-17 22:16] edsiper commented on #463
Actually I hear that idea recently from a conference attendee, initially I discarded that approach because of performance reasons, but as you said, the benefit of that solutions pays-off the cost of solving the log processing problem for multiple formats.

The cost associated is to compile the regular expression when Fluent Bit filter gather the metadata, of course this is just one time procedure

[2018-01-18 08:24] loburm commented on #483
@edsiper can it be resolved on fluentd side? If yes, then I think it would be nice to have it here also.

[2018-01-18 14:35] hdiass commented on #468
Hello,
I can't provide the entire docker log, but in the first post you can see exactly that on the application log (where fluent is tailing from) there is only "\n"in the **message** field(beggining and end) , and in the elasticsearch in the **message** field for the same log there is "\\n" with one more backslash than what it should have also in the beggining and in the end of the message, btw t

[2018-01-18 15:38] amitkumarj441 opened #487 "To increase memory size of fluent-bit lib input plugin"
Hi @edsiper ,

I am pushing data (50K records) to Elasticsearch via `fluent-bit lib plugin`. But only few records could see in elastic search.
Running below code to push 50K records pushes only 328 records.

[code]
Also, I haven't seen any documentation about `in_lib plugin` on http://fluentbit.io/documentation/0.12/input ?
Any insights on fixing this issue?

[2018-01-18 18:08] peelandsee commented on #468
hi!

i'm experiencing the same issue using `fluent/fluent-bit:0.12.11` on a 1.9 k8s cluster.

example log line from `kubectl logs`:
`10.32.0.1 - - [18/Jan/2018:16:13:42 +0000] "GET /login/ HTTP/1.1" 200 1259 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"`

same line on elasticsearch:
[code]

<details>
 <summary>here t

[2018-01-18 19:55] edsiper commented on #468
In order to identify on which part of Fluent Bit the problem is happening I need to get a Docker log file. kubectl logs process the JSON map of Docker log engine, it's better to get the real source.

The log file should have the name containing "d2c21d5ffc702b397f843f5edd0d292f2ae8169eb8404f24fbc407c748aab21f" (docker id)

[2018-01-18 22:33] edsiper commented on #487
I've tried your code with a modified version (just code cleanup):

[code]

After run the test I can see the 50000 entries in Elasticsearch:

[code]

The Library mode is documented on [Fluent Bit for Developers](http://fluentbit.io/documentation/0.12/development/) section in the official docs.

I would suggest you check the Elasticsearch logs

[2018-01-19 05:22] #465 closed

[2018-01-19 06:16] amitkumarj441 commented on #487
@edsiper Thank you very much for pointing this out :+1:  :smile:

[2018-01-19 09:53] peelandsee commented on #468
hi @edsiper , thanks for your interest!

I attach a docker log file and paste how some lines appear on kibana.

docker log file:
[insight-nginx-7f59b9c9cb-bddm6_insight-staging_insight-core-nginx-f4cd342bda99fdee3e0af2a03bc2070343cf5d7577e106fc04b58b5cf4f4d3fa.log](https://github.com/fluent/fluent-bit/files/1645968/insight-nginx-7f59b9c9cb-bddm6_insight-staging_insight-core-nginx-f4cd342bda99fdee3

[2018-01-19 11:36] hdiass commented on #468
Hello @edsiper,

I'm approaching you on slack to send the logs privately.

Thanks,

[2018-01-19 17:18] #487 closed

[2018-01-19 17:19] edsiper commented on #479
ping @cordoval @bharrisau

[2018-01-19 18:08] edsiper commented on #468
thanks everyone for reporting the problems associated to escaping.

@hdiass provided me some information that was helpful to identify the issue associated to one posted at the beginning:

### Issue

When an application generate a formal JSON log, likely special ASCII characters like '\n' (note: ASCII character, one byte) is converted to JSON string format which is "\n" (two bytes: \\ and n). So ou

[2018-01-20 23:02] wpalmeri commented on #483
@edsiper I have a similar request. I'd like to prune some of the added kubernetes fields, for example remove the `kubernetes.docker_id` field via a `record_modifier` filter after the `kubernetes` filter, but it won't match due to the reason you stated. Does the filter chain pass along the full json representation of a record allowing this functionality. Or is there a better way to do this? Thanks!

[2018-01-21 22:08] bharrisau commented on #479
Just moved to the `fluent/fluent-bit-0.13-dev:0.4` and host logs are working.

[2018-01-22 09:15] solsson opened #488 "epoll_ctl: File exists, errno=17"
I run https://github.com/fluent/fluent-bit-kubernetes-logging/pull/16 with modest load and very tight memory limits, 10MB. This triggers occasional restarts of the daemonset pods. Despite this it all works very well, but now I have one pod that repeatedly logs the following error:

[code]

Before I kill the pod, is there anything I should investigate?

[2018-01-22 10:50] peelandsee commented on #468
hi @edsiper thanks for the investigation!

in the meanwhile,
do you think it is possibile to use a different docker logging driver and k8s daemonset input configuration to avoid the decoding issue?
do you have any suggestion to proceed in that way?

thanks in advance,

[2018-01-23 20:23] trstringer opened #489 "(make error) io.h: No such file or directory"
I'm attempting to build and install fluentbit on a CentOS 7.3 machine. I'm getting the following error: `io.h: No such file or directory`. Looking through the docs, I'm unable to spot the dependency that I need to install to provide `io.h`.

Any thoughts on how I can get past this one? Thanks in advance! (full make output below)

[code]

[2018-01-23 21:29] hackeracc opened #490 "Need an option in config file to load the external plugin"
Currently, an external plugin can be loaded in fluent-bit using a CLI parameter -e.
This request is to add this option from config file as well.

[2018-01-23 21:48] edsiper commented on #488
@solsson is the HTTP Server enabled ?, if so, if you disable it do you see the same issue ?

[2018-01-23 21:49] edsiper commented on #486
ping ^

[2018-01-23 21:49] edsiper commented on #484
ping ^

[2018-01-23 21:51] edsiper commented on #483
definitely this is an enhancement request.

@loburm @wpalmeri for your specific use case, do you need it only on Grep Filter ?

[2018-01-23 21:52] edsiper commented on #482
Question answered, closing this issue. If you have more questions please open a new ticket.

[2018-01-23 21:52] #482 closed

[2018-01-23 21:53] edsiper commented on #479
thanks. Closing this ticket as it's already fixed in the upcoming 0.13 docker images

[2018-01-23 21:53] #479 closed

[2018-01-23 21:55] edsiper commented on #468
@peelandsee

the problem is not the driver, the thing is that Docker is agnostic from the content that each application generate through stdout/stderr, so any output coming from the applications it will consider it as a "string". So when it's time to generate the JSON record in the log, any string needs to be formatted and escaped as required.

[2018-01-23 21:55] edsiper commented on #467
Question answered, closing this issue. If you have more questions please open a new ticket.

[2018-01-23 21:55] #467 closed

[2018-01-23 21:58] edsiper commented on #460
@jbhilton11 the pre-set of HOSTNAME was fixed on version v0.12.6, here are the release notes:

   http://fluentbit.io/announcements/v0.12.6/

if you are using a newer version and you face the same issue please let me know

[2018-01-24 05:57] solsson commented on #488
What HTTP Server are you referring to?

[2018-01-24 10:34] loburm commented on #483
@edsiper I think that should be enough.

Main use cases for me: read logs from specified namespaces only or ignore some namespaces.

[2018-01-24 12:28] StevenACoffman commented on #488
Prometheus endpoint requires the HTTP server (monkey is the one in fluent-bit). The config that enables the HTTP_Server is [here in the fluent-bit-configmap](https://github.com/fluent/fluent-bit-kubernetes-logging/blob/0.13-dev/output/kafka/fluent-bit-configmap.yaml)

[code]

[2018-01-24 13:38] solsson commented on #488
Thanks. Yes, I run the exact config from https://github.com/fluent/fluent-bit-kubernetes-logging/pull/16, bar memory limit changes for https://github.com/fluent/fluent-bit-kubernetes-logging/pull/18. The pod is gone now, so I'll have to see if I run into this again, and next time I will check if I get any prometheus metrics for the pod.

[2018-01-24 16:41] bismarck opened #491 "0.13-dev: Accessing prometheus endpoint crashes process"
I'm trying to access the prometheus metrics endpoint, but this is causing the fluent-bit process to crash.  I'm able to access all other HTTP endpoints exposed by fluent-bit.

Here's the configuration I am running:

[code]

[2018-01-24 17:10] edsiper commented on #458
the main problem of the issue was that the event loop handler that was not un-registering properly the EVFILTER_TIME flag when a timer was destroyed, this problem was only visible on OSX as it's kqueue related (not epoll). A fix has been pushed to GIT master and will be backported to 0.12 series.

[2018-01-24 17:20] wpalmeri commented on #483
@edsiper I would request this enhancement for the RecordModifier filter as well

[2018-01-24 22:46] trstringer commented on #489
That works! The odd thing is, it worked with clang right out of the box. But I had to install `kernel-devel` prior to running cmake for this to all work.

Thanks so much!

[2018-01-24 22:46] #489 closed

[2018-01-25 05:40] intelliguy commented on #486
As mentioned above, It is working on kubernetes cluster and follow the default logging mechanism on k8s (https://kubernetes.io/docs/concepts/cluster-administration/logging/).
My cluster's rotate log size is 50MB and There is no other specific setting on each container log.

[2018-01-25 22:02] jaisharma0009 opened #492 "is it possible to copy one record value into another record"
I looked at record_modifier plugin. Not sure if i can use that to copy value from another field.

[2018-01-26 09:49] epcim commented on #385
Update: for pacemaker logs you can for example have such log as below, I have made newline between first and other log lines. Test:

http://rubular.com/r/SicOPNkBmj
[code]

Log example (bit simplified)
[code]

[2018-01-26 17:31] edsiper commented on #492
hi @jaisharma0009, this is not a supported feature.

what's your specific use case ?

[2018-01-27 13:35] nickwq opened #493 "Parse nginx log from docker container"
I got nginx log from docker container like this,

And I need to extract the log content and parse the content to get the client ip, time, url etc.

I use the filter parse, below is my fluent-bit config file

The parser 'kube_nginx' has been tested against the content of 'log' value in original log. But when run with fluent-bit,  the output is not parsed:

From the log I didnt get any clue about wh

[2018-01-27 15:59] nickwq commented on #493
My bad, the kube_nginx parser has some issue leads to parse failure, issue closed!

[2018-01-27 15:59] #493 closed

[2018-01-27 16:12] eXtrem0us opened #494 "incorrect datetime to unix timestamp conversion"
Hello,
_make the long story short_: fluent-bit returns incorrect timestamp from format `%H:%M:%S` datetime. The timestamp's **time** is correct. But for timestamp's **date** I got 28 days difference.
.........
I use **iotop** to monitor I/O status of processes. Here is a log sample:
`16:53:54   674 be/4 nginx     508.84 K/s 35125.77 K/s  0.00 %  0.00 % nginx: worker process`
I also wrote a regex t

[2018-01-29 17:58] edsiper opened #495 "0.13-dev: expose configurator for librdkafka internals"
based on @solsson requirement:

config. It's unlikely that anyone would like it higher for logs, and it's a useful
example for those who want to change it to 0. How do I do that?

[2018-01-29 22:05] trstringer opened #496 "Input plugin 'systemd' cannot be loaded"
I'm getting the following error:

[code]

Is there something else I need to do to use the `systemd` input plugin?

Fluent Bit config file:

[code]

Thank you in advance!

[2018-01-30 03:23] edsiper commented on #491
thanks for reporting this bug. I have placed the proper fix in GIT master.

I've also updated our test Docker image to 0.13-dev:0.6:

https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev

[2018-01-30 03:23] #491 closed

[2018-01-30 03:25] edsiper commented on #496
In order to check if you have systemd support in Fluent Bit just start it with the option __-h__, that will list all input, filters and outputs available.

Likely you have a configuration indentation problem, please refer to the following docs about how to fix it:

http://fluentbit.io/documentation/0.12/configuration/schema.html

[2018-01-30 03:26] edsiper commented on #94
FYI: the 0.13-dev image have been updated to 0.6:

http://fluentbit.io/documentation/0.12/configuration/schema.html

note: this one fix a crash found in the Prometheus exporter.

[2018-01-30 03:33] trstringer commented on #496
@edsiper thank you for the quick reply!

Looks like I don't have `systemd` as an input:

![fluentbit_systemd](https://user-images.githubusercontent.com/1445483/35546966-6b4c4584-0544-11e8-992d-0988b45aab50.png)

What do I need to do to "enable" the `systemd` input?

[2018-01-30 03:37] edsiper commented on #496
if you have created a package or compiled yourself and there is no systemd support, means that your build system did not have systemd development libraries at build time.

I suggest you use our available packages (deb/rpm)

[2018-01-30 14:37] trstringer commented on #496
Ok I see. I'll play around with the rpm.

In the event a user did want to build from source _and_ have systemd support, what's the way to go about that?

[2018-01-30 15:51] edsiper commented on #496
Fluent Bit build system (CMake) try to detect if Systemd library and development headers are in place, if so, it will include Systemd input plugin. Once compiled/packaged the only need is systemd shared library (not headers).

[2018-01-30 16:44] trstringer commented on #496
It looks like, on CentOS, the existence of `systemd-devel` includes the libs that cmake uses to determine `FLB_HAVE_SYSTEMD`.

[code]

Outputs:

[code]

Thanks for the help, @edsiper!!

[2018-01-30 16:44] #496 closed

[2018-01-30 16:48] edsiper commented on #484
Closing this due to inactivity.

[2018-01-30 16:48] #484 closed

[2018-01-30 16:51] edsiper commented on #486
@intelliguy would you please test the following docker image and see if the issue persist ?

[code]

[2018-01-30 18:56] solsson commented on #488
Nope, not seen. It might have been a rare error though, and the new tag hasn't been running for long.

[2018-01-30 19:19] edsiper commented on #488
thanks, I will close it for now.

[2018-01-30 19:19] #488 closed

[2018-01-30 20:55] trstringer opened #497 "systemd input not showing in output"
I have the following configuration:

[code]

For some reason, Fluent Bit isn't picking up the journal entries for the `bashdaemon.service` unit. This screenshot below ([direct link](https://i.imgur.com/ij2wkZV.png)) shows this:

- Top terminal: fluent-bit running the configuration
- Bottom left: cat'ing out the configuration (just for verification purposes)
- Bottom right: `journalctl` output tail

[2018-01-31 17:59] trstringer commented on #497
For what it's worth, this is reproducible without using a custom systemd unit:

[code]

Empty output when sshd events are entered into journald.

[2018-01-31 18:11] edsiper commented on #497
the following command works properly:

[code]

note that __-p__ needs to be right after the plugin that you want to modify the property. Adding __-p__ after _-o stdout_ means "set that property to stdout".

[2018-01-31 20:05] trstringer commented on #497
@edsiper ah ok. Unfortunately when I use your exact command, I still get nothing. Looks like the systemd input plugin is not working altogether. Debug output is showing me nothing relevant. What's the way to troubleshoot this? I must be missing something.

Or I should just use the rpm that you package up 😄

[2018-01-31 21:18] edsiper commented on #497
can you try adding a path to the systemd journal files ?, e.g:

[code]

[2018-01-31 21:38] edsiper commented on #458
Closing as fixed.

[2018-01-31 21:38] #458 closed

[2018-01-31 21:41] edsiper commented on #203
FYI: To be implemented, no ETA yet due to other priorities.

[2018-01-31 22:54] trstringer commented on #497
Unfortunately that didn't work either (my path was `/run/log/journal`).

[2018-01-31 22:58] edsiper commented on #497
what about if you append __-vv__ at the end of the command line, do you see any extra message ?

[2018-02-01 04:58] intelliguy commented on #486
fluent/fluent-bit-0.13-dev

It seems that the fluent-bit(0.13-dev:0.6) does not open fd again on a same file.  But, it also cannot gather logs after some times.

[2018-02-01 07:00] viveksamaga commented on #303
So for logs to be forwarded to logstash server from fluentBit need to use this?

[2018-02-01 10:42] mmariani opened #498 "No error message for missing parser file"
fluent-bit prints a nice message when a configuration file is missing:

[code]

Interestingly, the error message may appear either before or after the version number, should stdout be flushed?

Anyway, nothing is displayed when a parser file is not found:

[code]

[2018-02-01 13:02] eXtrem0us commented on #494
**UPDATE**
fluentbit converts any datetime format that are without date to **31 Dec 2017**.
i.e. by using **Time_Format %H:%M:%S** it converts **16:07:21** to **2017-12-31 16:07:21**.
It doesn't matter which date we are in.

[2018-02-01 16:14] 2x-bullet-time opened #499 "Tail plug-in fails to keep track of state of file when parser is used"
I have noticed tail plugin does not obey the state of the file when a parser is defined. Plugin will always start at the head of the file unless parser is blanked out. This issue can also be replicated using command line:

fluent-bit --parser=parsers.conf -i tail -p path=/var/log/syslog -p db=/var/log/xyz.sqlite -p parser=syslog-custom -o stdout

This command will work as expected if parser parame

[2018-02-01 17:33] edsiper commented on #498
thanks @mmariani for catching up this.

I've pushed a fix into GIT master (and will be available in the next 0.12.13 too).

ref: https://github.com/fluent/fluent-bit/commit/23b617124f8ed9edab02d79daa45a9eb7da16efb

[2018-02-01 17:33] #498 closed

[2018-02-01 17:34] edsiper commented on #497
@trstringer please give me the details of that Linux distro (specific version) to try to replicate the problem

[2018-02-01 21:05] trstringer commented on #497
@edsiper sorry for the delay. Regarding `-vv`, doesn't seem like anything to go off of:

[code]

Regarding the Linux machine itself:

- CentOS Linux release 7.4.1708 (Core)
- Linux fluentbitvm2 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-02-03 16:46] manuelluis opened #500 "Plugin in_systemd: stalled reads"
The systemd plugin is stalled reading events.

If you do in one shell:  ``journalctl -f -o json`` and in other: ``fluent-bit -i systemd -prop=Read_From_Tail=true -p DB=journald.db  -p tag='host.*' -o stdout -f 1 -v`` and you do for example ``sudo su -`` you don't see all the events in the fluent-bit output. If you restart the fluent-bit you see the missing events.

If you do the same without ``-p

[2018-02-03 17:11] manuelluis opened #501 "Plugin in_systemd: duplicate keys"
The plugin in_systemd doesn't check for duplicates in systemd:
with journalctl you will get: ``"MESSAGE" : "Hello World!", "FIELD1" : [ "a", "b" ]``
and in fluent-bit: ``"MESSAGE"=>"Hello World!", "FIELD1"=>"a", "FIELD1"=>"b"``

It happens in the real world, for example if you do ``journalctl -o json  | fgrep ' : ['`` , you will get entries with:
``"SYSLOG_FACILITY" : [ "DHCP4", "DHCP6" ]``

``jou

[2018-02-04 17:43] StevenACoffman opened #502 "Grep filter not accepting Regex that works in Rubular"
We use fluent-bit in kubernetes and wish to omit unstructured logs.

I have a regular expression [that works in rubular here](http://rubular.com/r/6V0CRVwjKt).
However, when I run it with fluent-bit (0.13-dev branch) I get:

[code]

This is the configuration I am using:
[code]

[2018-02-05 10:15] epcim commented on #375
I challenge the similar behaviour. We discovered it's related to logrotate "copytruncate" option.

copytruncate
[code]

Fluent bit should recognize number of lines in file, and if that is < then the previous value, it should re-read the file from scratch + reset it's position (whatever to get un-blocked).

[2018-02-05 18:27] ayenter opened #503 "[Feature] Allow for Kubernetes Filter to Use Alternative Directory"
#### My Issue
My container puts custom logs in a different directory on the node. Tailing the logs in this directory causes the Kubernetes Filter to be unable to gather the metadata. I used the same naming convention as the logs in the containers directory, but the filter is currently specific to `/var/logs/containers/*.log`.

#### Feature Request
Change the Kubernetes filter to ignore the locatio

[2018-02-05 19:45] edsiper commented on #499
@2x-bullet-time thanks for raising this issue.

I did some local tests and the problem that I found in in_tail plugin, is that if a parser fails against a log line (bad regex), that content is missed, the right behavior is to keep that information in "raw text" mode. I placed a fix for that behavior in GIT master and 0.12 branches.

[2018-02-05 21:33] 2x-bullet-time commented on #499
Thank you for your work. I will give it a try!

[2018-02-05 21:40] edsiper commented on #490
@hackeracc

I've pushed the enhancement on GIT master which will be available once 0.13 is released. Now in fluent-bit.conf you have a new option called __plugins_file__ which aims to point a file that list the available external plugins. The pointed file schema is as follows:

[code]

Closing this enhancement as fixed now, if you have questions don't hesitate to let me know.

[2018-02-05 21:40] #490 closed

[2018-02-05 22:37] edsiper commented on #503
@ayenter

I've extended filter_kubernetes configuration to allow to specify an alternative regex parser so when processing log files from a different location, you can get the metadata.

Now in the filter kubernetes configuration append a "regex_parser  PARSER_NAME", where PARSER_NAME is an existing/registered parser from your parsers.conf file, e.g:

https://github.com/fluent/fluent-bit/blob/mast

[2018-02-05 23:36] 2x-bullet-time commented on #499
@edsiper
I pulled down the latest version of master branch and recompiled it locally. When executing this command "fluent-bit -i tail -p path=/var/log/syslog -p db=/var/log/landing_files.db -o stdout", the tailing function works fine. However, when I run the following configuration file without a parser, in_tail will always read from beginning of file. This is my simple configuration file:

[code]

[2018-02-05 23:55] 2x-bullet-time commented on #499
@edsiper
When executing command "fluent-bit -i tail -p path=/var/log/syslog -p db=/var/log/landing_files.db -o stdout --verbose", in_tail plugin is able to pick up the offset value according to this log:

[code]

However, it fails to detect it in these scenario(config file without parser, config file with parser, command with parser) according to this log:
[code]
Thanks!

[2018-02-06 03:24] s-kostyaev commented on #497
Same here.
[code]
Host OS ubuntu artful.

[2018-02-06 04:22] s-kostyaev commented on #497
On this machine:
[code]
all works fine

[2018-02-06 16:28] edsiper commented on #94
FYI: 0.13-dev image has been updated to 0.7:

https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev

changes on this version are related to fixes in memory handling, new configuration option for out_kafka to adjust rdkafka internals and in_tail fixes.

[2018-02-06 17:14] edsiper commented on #503
FYI: you can experiment the latest change on this dev image:

https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev

[2018-02-06 17:14] #503 closed

[2018-02-06 17:31] edsiper commented on #495
Fixed on 0.13-dev:0.7

https://github.com/fluent/fluent-bit-kubernetes-logging/tree/0.13-dev

[2018-02-06 17:31] #495 closed

[2018-02-06 19:51] solsson commented on #94
IMO out_kafka is feature complete now.

[2018-02-06 21:31] 2x-bullet-time commented on #499
I gave it another try using your apache log and here is the result:

in_tail plugin behaves properly when it is invoked via command line. However, it does not utilize offset when it is executed using a configuration file.

Here is the configuration file (db + parser):
[code]
Sosreports from both modes are identical.

[2018-02-06 21:37] 2x-bullet-time commented on #499
I gave it another try using your apache log and here is the result:

in_tail plugin behaves properly when it is invoked via command line. However, it does not utilize offset when it is executed using a configuration file.

Here is the configuration file (db + parser):
[code]
Interestingly, my syslog regex is able to parse

[2018-02-06 22:19] edsiper commented on #500
thanks for reporting the problem and the hints about root cause.

I did some tests and effectively there are missing records when breaking the loop (no matter the condition).

I've pushed a fix on GIT master, would you please rebuild the latest version and double check the new behavior ?

[2018-02-07 00:28] 2x-bullet-time commented on #499
This might be a system/conf specific problem. I used the same set up on my ubuntu VM and it was working just fine in either mode. I will close this issue for now. Thank you.

[2018-02-07 03:40] s-kostyaev commented on #497
@edsiper After rebuild docker image from git master problem is not solved.

[2018-02-07 04:10] edsiper commented on #497
@s-kostyaev did you check that journalctl works inside the docker image ?

[2018-02-07 04:15] s-kostyaev commented on #497
there is no journalctl inside container https://github.com/fluent/fluent-bit-docker-image/blob/master/0.12/Dockerfile

[2018-02-07 06:13] ffcczz opened #504 "hello, I need help!"
hello,     I want to ask you a question.I have three hosts:host1,host2,host3. There are log files on host1  and host2.I want to know how do I merge log files from host1 and host2 to host3 via fluent bit.  Thank you!

[2018-02-07 09:47] sicriops commented on #303
@wkruse @edsiper @kfox1111 @viveksamaga
Now I'm searching solutions for sending logs with fluent bits and save it with logstash
How about using [Fluent Bit Forward Output Plugin](http://fluentbit.io/documentation/0.12/output/forward.html) and [Logstash TCP Input Plugin](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-tcp.html) rathar than HTTP Input and Output Plugins?

[2018-02-07 14:31] edsiper commented on #497
@s-kostyaev make sure fluent-bit have access to the journal files (file system), otherwise it will not work.

[2018-02-07 17:07] trstringer commented on #497
That did work for me! Worth noting, I had to run fluent-bit with root privileges. I'm guessing that has to do with journal access requirements.

[2018-02-07 17:20] edsiper commented on #497
@trstringer did you use the latest from GIT master ?

[2018-02-07 17:58] 2x-bullet-time commented on #499
Hello :)
Could it be the problem of running fluent-bit on an armv7l? Fluent-bit PPA didn't seem to supply a build for armv7l. I had to compile fluent-bit source code using cmake on the armv7l machine. On the other hand, I was able to get an amd64 td-agent-bit build on my ubuntu VM from PPA.

[2018-02-07 18:04] trstringer commented on #497
@edsiper yes I did. It worked running as root, but without root privs it didn't work. That's expected though right?

[2018-02-07 18:09] edsiper commented on #497
well, I think it depends on how each distribution set permissions in Journal files. I am happy to hear the problem has gone :)

[2018-02-07 18:14] edsiper commented on #499
@2x-bullet-time once compiled in your armv7l, do you still face the issue ?

[2018-02-07 18:29] edsiper commented on #504
please do not post in two channels.

Already replied in the mailing list: https://groups.google.com/forum/#!topic/fluent-bit/7tkurKrUY-w

[2018-02-07 18:29] #504 closed

[2018-02-07 18:32] edsiper commented on #502
@StevenACoffman

I've found that the old filter_grep implementation uses common regex.h implementation instead of onigmo as all other components of Fluent Bit.

[2018-02-07 18:46] kplimack opened #505 "[error] [filter_kube] upstream connection error"
not sure why this is happening, but cant seem to make it happy.

[code]

[2018-02-07 18:58] BoundInfinity commented on #499
@edsiper
opps. Sorry for not being clear. I had to compile fluent-bit source code on the armv7l machine because the machine could not fetch an armv7l td-agent-bit build from PPA. I also had to compile cmake because fluent-bit required cmake to compile. I have been facing this issue since then on the armv7l machine. I went through the same compilation steps on an Ubuntu VM running on windows 10 and

[2018-02-07 19:07] 2x-bullet-time commented on #499
@edsiper
opps. Sorry for not being clear. I had to compile fluent-bit source code on the armv7l machine because the machine could not fetch an armv7l td-agent-bit build from PPA. I also had to compile cmake because fluent-bit required cmake to compile. I have been facing this issue since then on the armv7l machine. I went through the same compilation steps on an Ubuntu VM running on windows 10 and

[2018-02-07 19:09] edsiper commented on #499
@2x-bullet-time ok, so there are two concerns:

- 1. missing armv7l packages
- 2. tail not working properly.

I will focus on #2. would you please specify the kernel version and linux distribution that device/machine uses ?

[2018-02-07 19:32] 2x-bullet-time commented on #499
@edsiper armv7l machine works properly if parameters are inserted as a part of the command as opposed to a config file. Is tail still an issue?

The kernel+dist come with a custom board.  The kernel is a custom variation of 4.1.15 and distro is Debian GNU/Linux 8.10 (jessie)

[2018-02-07 20:13] edsiper commented on #499
@2x-bullet-time it's preferred to set all parameters either in the config file or in the command line only, avoid to mix them up (only use config file).

[2018-02-07 20:18] 2x-bullet-time commented on #499
@edsiper Yea. I tested it with all parameters in config file vs. in command.

[2018-02-07 20:19] edsiper commented on #505
your filter cannot reach the Kubernetes API server address ubernetes.default.svc.cluster.local port=6443.

can you log into the POD and try to reach the API server using curl ?

[2018-02-07 20:20] edsiper commented on #499
@2x-bullet-time to clarify: when you are using the configuration file, do you see an unexpected behavior ?

[2018-02-07 20:21] 2x-bullet-time commented on #499
@edsiper Yes. The behavior is observed when a configuration file is used.

[2018-02-07 20:30] edsiper commented on #499
please paste "command line arguments"  that works and the configuration file content..

[2018-02-07 20:42] edsiper commented on #502
Fixed by 7759ecd1b011383ad30005c0c68c07cdf48e7446

[2018-02-07 20:42] #502 closed

[2018-02-07 20:46] 2x-bullet-time commented on #499
command line arguments:
[code]

configuration file content:
[code]

[2018-02-07 21:07] kplimack commented on #505
The issue was I was using the wrong port, i needed to provide the kubernetes service port which is 443.

[2018-02-07 21:07] #505 closed

[2018-02-07 21:58] StevenACoffman commented on #502
Thanks!

What does ACL mean compared to pipe?

[2018-02-07 22:00] StevenACoffman commented on #94
I agree. The newest improvements (notably the new configuration option for out_kafka to adjust rdkafka internals) to be able to limit kafka buffer make it a complete feature now. It has been pretty solid in my testing over the last 24 hours, but I'm going to try putting a few million messages through it, and see how it handles.

[2018-02-07 22:19] ayenter opened #506 "Logs using epoch/unix time"
**Situation**
I have logs that store time in **epoch/unix** time in key `log_time`. For example:

    "log_time": 1518034685.55049

How can I configure the parser to utilize this time input in elasticsearch? I have the important parts of my config below to better explain:

    [INPUT]
        Name              tail
        Parser            twistd
        ...

    [OUTPUT]
        Name

[2018-02-07 22:37] edsiper commented on #94
@solsson @StevenACoffman should I set these settings by default in the plugin ? what do you think ?:

- rdkafka.log.connection.close false
- rdkafka.queue.buffering.max.kbytes 10240
- rdkafka.request.required.acks 1

note: of course they can be overridden by config any time

[2018-02-07 22:40] edsiper commented on #502
ACL (like access control list) works like first match = accept or reject right away, In "pipe mode" means that the records must match each regex defined and do not match the excludes (e.g: cat a.log | grep aa | ,,,)

[2018-02-07 23:06] StevenACoffman commented on #94
I can see people adjusting them but Those look pretty good as defaults to me.

[2018-02-07 23:42] manuelluis commented on #500
It still happens, for example with: ``max_entries=1``

``fluent-bit -i systemd -prop=Read_From_Tail=true -p max_entries=1 -p DB=journald.db  -o stdout -f 1``

[2018-02-08 03:25] s-kostyaev commented on #497
@edsiper I can see journal files from container:
[code]

[2018-02-08 03:43] edsiper commented on #497
@s-kostyaev since fluent bit is not part of "input or root" groups, it cannot get access to the files.

[2018-02-08 04:00] s-kostyaev commented on #497
@edsiper fluent-bit inside container is running by root user.

[2018-02-08 07:27] solsson commented on #94
I'm unsure. For users of the kubernets manifests it's quite transparent that defaults are from https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md and you see suggested overrides in plain text.

Without the sample manifests I'd say you definitely want `rdkafka.log.connection.close` to avoid support requests. The `[error]` level log entries for a non-issue fooled me for sure. Maybe

[2018-02-08 17:18] ayenter commented on #503
@edsiper Thank you immensely! This works perfectly!

[2018-02-08 22:37] edsiper commented on #500
@manuelluis

would you please try the latest from GIT master ?, I did some changes and this time I was not able to reproduce the problem. can you double-check ?

[2018-02-08 22:39] edsiper commented on #506
@ayenter

as defined in the [Parser](http://fluentbit.io/documentation/0.12/parser/) documentation, the parser definition only takes place in the parsers.conf file:

move your parser definition to the correct file and it should be ok.

[2018-02-08 22:40] edsiper commented on #499
@2x-bullet-time do you know if the problem can be reproduced in a Raspberry Pi or similar ?

[2018-02-08 22:41] edsiper commented on #492
feature not supported.

[2018-02-08 22:41] #492 closed

[2018-02-08 23:05] ayenter commented on #506
Oh. The parser is in its own file. I just pasted all of the pieces together here. The logging works if I remove the Time_Key from es. My main issue is that it doesn't pick up the Unix Time in `log_time`.

[2018-02-09 01:18] manuelluis commented on #500
Now works correctly.
Thank you.

[2018-02-09 01:21] #500 closed

[2018-02-09 02:36] edsiper commented on #500
finally :), thanks for your help.

[2018-02-09 07:23] derekperkins commented on #463
Can you just allow for annotations at the container level rather than at the pod level?

[2018-02-09 07:27] derekperkins commented on #116
Not sure what the status is, but here's at least a POC Stackdriver integration. https://github.com/apstndb/fluent-bit-stackdriver

[2018-02-09 14:08] rmoriz opened #507 "tls does not work with fluent-bid v0.12.13 and fluentd v1.1.0"
**Goal:**

encrypt forwarded log traffic from fluentbit to fluentd

**Problem:**

It does not work.

While `echo -e '\x93\xa9debug.tls\xceZr\xbc1\x81\xa3foo\xa3bar' |   openssl s_client -connect fluentd.example.com:24224` shows the self-signed certificate, fluentbit fails:

[code]

**Versions:**

fluentd: 1.1.0
fluent-bit: 0.12.13

**Config**

fluentbit.conf

[code]

fluentd.conf:

[code]

[2018-02-09 17:09] edsiper commented on #460
Fixed.

[2018-02-09 17:09] #460 closed

[2018-02-09 17:09] edsiper commented on #297
Fixed in 0.13 (GIT master)

[2018-02-09 17:09] #297 closed

[2018-02-09 17:11] edsiper commented on #94
thanks for the feedback. I will document that in the plugin docs.

[2018-02-09 17:11] edsiper commented on #94
btw, are we ok to close this one ?

[2018-02-09 17:15] edsiper commented on #228
@nokute78 I see that in the following libco fork they have added native aarch64 support, do you have a way to test it ?

https://github.com/libretro/RetroArch/tree/master/libretro-common/libco

[2018-02-09 17:16] #94 closed

[2018-02-09 17:18] edsiper commented on #506
Question answered. If you have any issue feel free to comment out.

[2018-02-09 17:18] edsiper commented on #506
@ayenter please provide example log file

[2018-02-09 17:21] edsiper commented on #463
@derekperkins would you please provide an example of a Pod with annotations at container level ?, I cannot find a reference.

[2018-02-09 20:57] 2x-bullet-time commented on #499
@edsiper Hello. I am able to reproduce this problem on a bbb. Here is the sosreport from the exact same setup:

[code]

[2018-02-09 22:21] derekperkins commented on #463
@edsiper My bad, I thought they were supported. I think there's an opportunity to do the same thing at the pod annotation level. It's valid to nest json inside of an annotation:
https://github.com/kubernetes/kubernetes/issues/12226#issuecomment-173481190

What if the current implementation of a string stayed the same for the common use case, but also supported a json mapping?

[code]

I'm not sure

[2018-02-12 08:23] mvladev commented on #421
I think it's the same enhancement as in  #242, but for `host` field.

[2018-02-13 21:38] edsiper commented on #506
ping ^

[2018-02-13 21:39] edsiper commented on #429
Is this garbage reproducible with latest 0.12.13 ?

[2018-02-13 21:40] edsiper commented on #499
bbb == beaglebone black ?, if so, which OS version (image URL?)

[2018-02-13 21:55] Apple-a-Day opened #508 "File Descriptors fail to close after logrotate [in_tail plugin]"
in_tail plugin: The file descriptors seem to be left open after logrotate which causes the fluent-bit container to break after a few days. We use the fluent-bit docker container `fluent/fluent-bit:0.12`
A short snippet of `lsof` on the container:
[code]

Our conf file looks like this:
[code]

Our logrotate looks like this:
[code]

[2018-02-13 22:35] 2x-bullet-time commented on #499
Yea. It is a beaglebone black. /etc/dogtag gives:
[code]

I checked BeagleBoard.org and this is the only image corresponds to that date:
http://debian.beagleboard.org/images/bone-debian-9.1-lxqt-armhf-2017-08-31-4gb.img.xz

[2018-02-13 22:44] ayenter commented on #506
Full Config:
[code]
More of Log File:
[code]

[2018-02-13 22:48] ayenter commented on #506
This is with using twisted's logger. However, I just decided to chose a different logger altogether to circumvent the issues I was having. Since I switched to python's built-in logger, I have more control over the logging and do not need to use unix/epoch time. But a solution to this may help somebody in the future...