[2020-12-19 15:26] #745 closed

[2020-12-19 20:35] JeffLuoo commented on #2849
@yjiang-c Thank you and what version of fluent-bit you are using?

[2020-12-19 21:54] yjiang-c commented on #2849
I produced the issue on master branch source code downloaded on Dec 8 2020. The source code was compiled on Ubuntu 18.04 by default compiling cmake .. & make

Jack

[2020-12-20 01:26] manojna10 commented on #2875
Root cause for Issue 1: when we schedule a retry if the chunk is up and if wr are over out configured memory limit, we put the chunks down which calls munmap which sets the chunks data size to 0. When we loop through all the chunks to find some space when disk limit is reached, these down chunks were considered as 0 bytes and removed as well.
With my limited knowledge of the code I commented out t

[2020-12-20 04:36] edsiper commented on #2875
cc: @JeffLuoo

[2020-12-20 06:12] manojna10 commented on #2878
concerns:
1. flb_input_chunk_find_space_new_data() doesnt account for the overlimit_routes_mask but rather looping through all the output instances again, is it not needed or its by design? anyways I am testing with 1 output plugin, so this should not be the potential reason for this issue.

2. valid chunks with lots of data(as shown below using du) are getting deleted in flb_input_chunk_find_spac

[2020-12-20 06:13] manojna10 commented on #2878
when we schedule a retry, if the chunk is up and if we are over the configured memory limit, we put the chunks down which calls munmap which sets the chunks data size to 0. When we loop through all the chunks to find some space when disk limit is reached, these down chunks were considered as 0 bytes and removed as well.
With my limited knowledge of the code I commented out the code that sets the d

[2020-12-20 14:15] mrlioncub opened #2879 "Invalid indentation level"
## Bug Report
OS: Windows 2012 R2
Fluent Bit: td-agent-bit-1.6.9-win64.exe

**Describe the bug**
Send Windows log to loki

**To Reproduce**
- fluent-bit.conf:
[code]
- Run:
[code]
- Output
[code]

[2020-12-20 14:25] mrlioncub commented on #2879
Resolve!
The problem was the tab character instead of spaces.
This:
[code]
Necessary:
[code]

[2020-12-20 14:25] #2879 closed

[2020-12-20 17:02] sophieyfang opened #2880 "[Windows] fluent-bit agent exit 1 after out_stackdriver cannot connect to metadata server"
## Bug Report

**Describe the bug**
This a bug is introduced between 1.6.7 and 1.6.8. v1.6.7 works just as expected and with no trouble, while v1.6.8 has trouble connecting to the metadata server and the agent exit 1 right afterwards.

Under the condition they use the same configuration file:
"""
[Service]
    Log_Level    debug
[INPUT]
    Name         winlog
    Channels     Setup,Windows PowerS

[2020-12-20 17:10] epsteina16 commented on #2868
#2135
This problem of not getting past the grace period has happened before. Adding a configuration in the service to set max retries for the grace period extension would be helpful (or something like that).

[2020-12-20 19:07] sophieyfang commented on #1694
Can it be sooner than that? our launch is around 1/27/2020. February would be too late.. As reliability is always the concern, buffering in the file system is  quite important for us.

[2020-12-20 19:45] agup006 commented on #2879
Thanks for opening up the issue, glad it was resolved! @edsiper @fujimotos could we modify the error output for this to say "Invalid indentation level, please check tabs vs. spaces in configuration file"

[2020-12-20 20:20] JeffLuoo commented on #2875
@edsiper I will take a look into it.

[2020-12-20 20:44] JeffLuoo commented on #2875
@manojna10
Hi I tried running the program with the following configuration but could not reproduce the error
[code]

And the log
[code]

Could you please share me a configuration file that I can use to reproduce the issue?

[2020-12-20 22:30] JeffLuoo commented on #2878
Hi @manojna10
For your two concerns https://github.com/fluent/fluent-bit/issues/2878#issuecomment-748568809

The first one I think might be the case I missed when implemented it, I will double-check it later. For the second concern could you please elaborate more on it? Because it might be the case that the program needs to drop some chunks to place the new chunk.

[2020-12-21 01:42] logston opened #2881 "out_splunk: "Invalid data format""
## Bug Report

Consistently getting the following error in the fluentbit logs when using the `out_splunk` plugin:

[code]

I'm running fluentbit in a k8s environment as a daemonset and my `ConfigMap` is as follows:

[code]

I've used the standard fluentbit:1.6.8 image as well as my own 1.6.8 image. Both yield the same result. My custom image contains a minor change allowing me to see the body sent

[2020-12-21 02:11] fujimotos commented on #2880
I believe this is resolved by #2856.

[2020-12-21 02:25] sophieyfang commented on #2880
This is great!! It seems that the only problem left now is that I have
trouble compiling it from the source even following the instruction.
https://github.com/fluent/fluent-bit-docs/issues/427#issuecomment-748665161

On Sun, Dec 20, 2020 at 9:12 PM Fujimoto Seiji <notifications@github.com>
wrote:

[2020-12-21 05:42] agup006 commented on #2880
@sophieyfang I believe that fix should be available in Fluent Bit 1.6.9

[2020-12-21 06:07] agup006 commented on #2881
I've been using Splunk Enterprise 8.1 with Fluent Bit 1.6.9 - here is my configuration for HEC. Only difference I see is the JSON source type. I haven't tried Splunk Cloud but will give it a shot as they have a 15 day free trial

![image](https://user-images.githubusercontent.com/3642874/102744874-a5ca4880-430f-11eb-8f85-ba1f0a94e6eb.png)

[2020-12-21 06:16] agup006 commented on #2881
Tried out Splunk Cloud- same `_json` source type seems to work as well. Here's my output configuration with K8s filter + container log input
[code]
and here's the output in Splunk Cloud
![image](https://user-images.githubusercontent.com/3642874/102745474-e70f2800-4310-11eb-8a99-0d6464a43a28.png)

[2020-12-21 06:19] agup006 commented on #2881
Ah, I also noticed that I did not specify the port -  which may make a difference too. 8088 is used by default vs 443 not 100% sure if that makes a difference.

[2020-12-21 07:34] fujimotos commented on #2879
@agup006  I posted a patch to monkey/monkey/pull/322.

With this merged, the failure cause is distinguishable from error messages
as follows.

[code]

[2020-12-21 15:59] manojna10 commented on #2878
Issue 2:
storage.type is filesystem
mem_buf_limit is not set
storage.total_limit_size set to y
max_chunks_up set to z

case 1, working fine: If disk size reaches y before max up chunks reaches z: all chunks are up in memory and the newly added chunks by replacing the older UP chunks also remains UP. so, it works as expected i,e, we use max disk space of y.

case 2, having issue: But if max up chun

[2020-12-21 16:01] manojna10 commented on #2875
Hi @JeffLuoo let me try reproducing it again and get back. thank you.

[2020-12-21 17:13] ivanich commented on #2876
Update: Tried with kiam, and it works fine for 10 minutes and after that
[code]
fluentbit pod restart helps for another 10 minutes

[2020-12-21 20:07] logston commented on #2881
Thanks @agup006. I've tried changing the source type to `_json` but that does not do the trick.

After piping the contents to a Request Bin and reviewing the results, it appears that the last two bytes are shaved off of the POST request:

[code]

Notice also that the payload has a line break before the JSON object. I'm not sure why or how this is being inserted into the payload.

I can confirm thi

[2020-12-21 22:02] logston commented on #2881
As it turns out, there was an extra `\n` at the end of my Authorization key. This pushed the payload by just enough to shave off the `}}` at the end of the JSON object.

[2020-12-21 22:02] #2881 closed

[2020-12-21 22:36] agup006 commented on #2881
Glad this resolved @logston and thank you for reporting, was really puzzling. Let me add a troubleshooting section to the Splunk output in case others run into the same issue

[2020-12-22 03:51] macropin commented on #662
Can we please have support for integer or float timestamps?

Using lua to workaround this issue is a hack.

[2020-12-22 06:02] shinji62 commented on #2508
@edsiper We got exactly the same issue with 1.5.6, if ` /var/log/containers` has more than 1024 file then the pod is crashing and keeping crashing until we remove some pod.

[2020-12-22 12:42] Theoooooo opened #2886 "Routine Wildcard send parsed logs everywhere unstead of the specifics prefix defined in the configuration file (v1.3.11 to v1.6.9)"
## Bug Report

**Describe the bug**
I'm using fluent bit to receive, parse logs with regex and send to result to a Elasticsearch cluster.

I updated my Fluent-bit from the version 1.3.11 to 1.6.9 on both my fluent bit VMs but then, the load on the Elasticsearch cluster increase significantly.

See these graphs. The spike occurs at 11 AM when i started the service after updating it :
CPU Usage :
![

[2020-12-22 14:10] Theoooooo commented on #2886
UPDATE : It seems like this version of fluent-bit handle tag and matching properties differently than the version 1.3.11.
Fluentbit is sending datas to every output i have configured for each client in my directories, which saturated the elasticsearch backend

Input exemple
[code]

Output exemple
[code]

**THE TAG CRITERIA ARE NOT BEING FOLLOWED OR UNDERSTAND CORRECTLY. EVERY DATA OF EVERY CLIENT

[2020-12-22 17:54] JeffLuoo commented on #2875
@manojna10 Thank you!

[2020-12-22 22:25] cjoster opened #2887 "Feature request: Mechanism for multi-line strings as values in configuration file"
I'm proposing a mechanism to have a multi-line value in a key:value pair in the configuration file. I ran into a need for this specifically attempting to use a feature exposed to the kafka output plugin by the [librdkafka](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md) library, although I imagine there could be, or are, other reasons for which this feature would be useful. Th

[2020-12-23 00:48] #2880 closed

[2020-12-23 03:37] l2dy commented on #2848
You should build the image yourself to avoid vulnerabilities. Official images are provided for convenience and should not be updated once published.

[2020-12-23 09:26] l2dy commented on #2821
FYI, Loki's official Fluent Bit output plugin (written in Go) supports this and it's the default behavior. https://github.com/grafana/loki/tree/master/cmd/fluent-bit

[2020-12-23 14:38] ankit1mg commented on #1115
Hey @shake76 Did you find any solution yet? If yes, pls let me know the sample config for docker parser with multiline parser

[2020-12-23 14:41] jwitrick commented on #2661
I am still facing this issue. My setup is:

FluentBit v1.6.8 (installed via Helm chart version: 0.7.13).

My fluent-bit pods will ramp up to using about 100MiB+ (currently i have 1 almost 500), and the pods will just be outputting  lines:
[code]

My setup:
EKS: 1.16 (old i know...)

My FluentBit Service:

[code]

inputs:
[code]

filters:
[code]

outputs:
[code]

Custom Parsers:
[code]

Every day i

[2020-12-23 16:35] agup006 commented on #2661
Hey folks, one update is our next release is focused on increasing high performance - we do have some preview versions available if you are able to easily test them out and want to try let me know. I'm @Anurag Gupta in the [Fluentd Slack](https://slack.fluentd.org)

[2020-12-23 17:15] sophieyfang opened #2889 "[Windows] [cio file] hash does not match (1104745215 != 4279425345)"
## Bug Report

I have cleaned files under `/var/lib/google-cloud-ops-agent` and `/var/log/google-cloud-ops-agent`. I also copied the exe to a brand new Windows Server 2016 Datacenter VM. Still got the exact same error message. It's always `(1104745215 != 4279425345)`...

This is the conf that i use

[code]

This is the command that i ran
[code]

This is the error msg:

[code]

[2020-12-23 23:12] macropin commented on #215
We're looking to implement fluent-bit as a log shipper for applications deployed on Kubernetes. In our use case we are deploying fluent-bit as a sidecar which picks up the logs and ships them to AWS CloudWatch Logs.

For our use case it would be preferable if fluent-bit could automatically truncate the log files as the logs are shipped.

Right now to truncate logs I need to implement a process whi

[2020-12-24 04:50] papovyr opened #2891 "k8s filter is not working when using Tag_Regex in tail input"
Hi,
I have pods in k8s default namespace which prints JSON logs to container stdout
Now i need to send only this namespace logs to elasticsearch

Config bellow works except kubernetes filter doesn't look to work as i dont see k8s metadata in elasticsearch (data like namespace podname labels etc ...)

Fluent-bit version : docker -> fluent/fluent-bit:1.5

My config which ships logs from default name

[2020-12-24 09:17] fujimotos commented on #2889
Hm. This seems to be the byteorder issue, since `1104745215` is
`4279425345` in little endian order.

[code]

... and while looking at the source code, I realized that the predefined
header structures in cio_file*.c actually contain the wrong CRC32 bytes.

https://github.com/edsiper/chunkio/blob/master/src/cio_file_win32.c#L62

So I pushed a fix that fixes the initial bytes

https://github.com/eds

[2020-12-24 14:21] vinoth3105 commented on #860
How to add retry input plugin http pull in "on_timer" method, could you pls help on that..

[2020-12-24 14:50] vinoth3105 opened #2893 "retry limit in input plugin"
How to add retry limit in input plugin.

example code :
def on_timer
begin
res = RestClient::Request.execute request_options
record, body = get_record(res)
rescue StandardError => err
record = { "url" => @url, "error" => err.message }
if err.respond_to? :http_code
record["status"] = err.http_code || 0
else
record["status"] = 0
end
end
end

so problem here when we hit the restclient API, if we are

[2020-12-24 18:16] sophieyfang commented on #2889
Thanks Fujimoto! I will try it out after holiday. Happy Christmas!

[2020-12-25 07:17] ndhcoder commented on #2799
**hello**

[2020-12-27 21:38] m4rcu5 commented on #2299
I'd like to confirm this bug. I am glad to find this report, as it is a pretty hard one to debug.
The logs do not show an error regarding the Kubernetes filter, but just don't enrich the logs.

I am running the exact same use-case, where I already have other data collected on the host, and would like to ingest the Kubernetes logs as well, using a ready created service account. Creating the namespa

[2020-12-28 08:45] sumo-drosiek commented on #1115
@shake76 @ankit1mg Is something wrong with [docker_mode_parser](https://docs.fluentbit.io/manual/pipeline/inputs/tail#docker_mode) and EKS?

[2020-12-28 14:18] marklinders-planon commented on #2859
We are having similar issues where our fluent-bit pods restart with the following signal. We had this issue on version 1.6.0 but it is still present in 1.6.8.

[code]

[2020-12-28 15:52] agup006 commented on #1115
Hey folks, for the latest issues around logs not working wanted to check if this might be something around CRI format vs. Docker format log parsing? https://docs.fluentbit.io/manual/installation/kubernetes#container-runtime-interface-cri-parser or if the ask if fully around multiline + docker mode

[2020-12-28 16:04] GiedriusS commented on #2161
@shyimo https://github.com/fluent/fluent-bit/pull/2894 should fix this. Please help out in testing :hugs:

[2020-12-29 02:17] manojna10 commented on #2875
@JeffLuoo I am unable to reproduce this issue. Closing this for now. Will reopen when I face the issue again. Thanks for looking into it.

[2020-12-29 02:17] #2875 closed

[2020-12-29 06:14] robdew opened #2895 "[windows] after upgrading fluent-bit to 1.6.8 aws_client generates connection initialization error"
## Bug Report

**Describe the bug**
After upgrading from win 1.6.6 x64 to 1.6.8 on same system, cloudwatch logs group is not created, cloudwatch logs not sent, error in logs for aws_client

(this worked fine in 1.6.3, the first version I tried, up until 1.6.8. This is the smallest reproducible example)
**To Reproduce**
This works fine:
[code]
This gives you log output:
[code]
but if you use the sa

[2020-12-29 19:32] mxrss2 commented on #2895
Can also confirm newest version also has issues with azure as a log output -- downgraded to 1.6 and it looks like its ingesting logs.

[2020-12-29 20:53] sophieyfang commented on #2889
I just patched your https://github.com/edsiper/chunkio/pull/63 into file lib\chunkio\src\cio_file_win32.c and i still got the exact same error :(

[2020-12-30 00:10] agup006 commented on #2895
@fujimotos  are you able to take a look? Did this also occur on 1.6.9?

[2020-12-30 02:07] runminlook opened #2896 "Feature request: InfluxDB2 Support"
**Is your feature request related to a problem? Please describe.**

InfluxDB2 Support
InfluxDB2 need token authorization, which is different from InfluxDB1.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-12-30 02:51] robdew commented on #2895
for me it also occurs on 1.6.9.

[2020-12-30 03:41] fujimotos commented on #2889
@sophieyfang Can you clean up the existing chunks in `storage.path` and see
if it resolves the error?

The patch edsiper/chunkio#63 fixes the initialization layout, so chunks produced
_after_ that patch should be consistent (but it won't fix chunks which have been
produced before).

[2020-12-30 03:50] sophieyfang commented on #2889
Forgot to remove buffered files back then..Verified that it works! thanks Fujimoto.

[2020-12-30 04:14] fujimotos commented on #2895
@robdew @mxrss2 @agup006 I've posted a fix for that bug a while ago
(the PR was #2856) and the patch has already been merged in main line.

Grafting that fix onto `1.6` branch should resolve it for v1.6.x releases too.
We need to ask @edsiper for backporting.

[2020-12-30 07:29] PettitWesley commented on #2837
@miztiik You can fix this be adding: `use_put_object true` in your config.

I do think its a bad user experience though- if the total file size is below the min size for multipart, the plugin should auto-set `use_put_object` to be true.

[2020-12-30 07:31] PettitWesley commented on #2837
@zhonghui12 Can you add this on your todo list, it should be very simple to fix.

[2020-12-30 07:37] PettitWesley commented on #2859
So I think there are two issues here, the worst one is the segfault, which unfortunately looks the same as #2753

I have not been able to reproduce it on my machine. I had identified a possible issue in the code which I will put up a PR for, but since I can't repro its hard to figure out what's going wrong or if my fix works. After the holiday we will take a look at this again and try to repro aga

[2020-12-30 16:05] GiedriusS commented on #2161
Actually, even with that PR in place, `fluent-bit` completely freezes at some point. Here is the backtrace:

[code]

It seems like FLB tries to exit for some reason and then fails. There's nothing interesting in logs besides that mem buf limit has been reached and that more messages had been queued which were never sent.

[2020-12-30 17:31] chussenot opened #2897 "in_tail crashs on ports FreeBSD, fluentbit-v1.6.7"
## Bug Report

**Describe the bug**

I just compiled a version of fluentbit on an AWS host, FreeBSD 11.4.

[code]

After that the binary work with some inputs, like the `random` one:

[code]
But if I want to use the `tail` input I've got an error:

[code]

https://github.com/fluent/fluent-bit/blob/v1.6.7/plugins/in_tail/tail_file.c#L1069

[code]

I tried also, different paths or file but it's alwa

[2020-12-30 17:59] chussenot commented on #2897
69  17:52   cd /usr/ports/sysutils/fluent-bit/
    70  17:52   make clean
    71  17:52   make patch
    72  17:52   ls
    73  17:52   grep -r '/proc' work/
    74  17:52   grep -r '/proc' work/ | grep tail
    75  17:52   work/fluent-bit-1.6.7/plugins/in_tail/tail_file.c: ret = snprintf ( tmp, sizeof ( tmp ) - 1, "/proc/%i/fd/%i", getpid ( ) , file- > fd ) ; < ===  Is it because of this missing

[2020-12-31 02:25] l2dy commented on #2897
No, that piece of code is guarded by `#ifdef __linux__`.

[2020-12-31 08:28] chussenot commented on #2897
Or because `F_GETPATH` is not available on FreeBSD? https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=198570

[2020-12-31 10:46] wtchangdm opened #2898 "Output plugin either doesn't work at all or trigger incorrect output after the 32th plugin"
## Bug Report

**Describe the bug**
We currently send logs to different CloudWatch Log groups based on the tag.
However, as our destinations grow, we need to send more than 32 log groups.

We noticed that after the 32th "Output" block, fluent-bit starts acting weird.
More precisely, the 33th output plugin won't work at all. And if you add the 34th output, it actually triggers the first output plug

[2020-12-31 18:51] agup006 commented on #2895
@robdew @mxrss2 We will look into a 1.6.10 release next week that includes these changes

[2021-01-01 02:30] l2dy commented on #2897
This plugin only supports Linux, macOS and Windows. Please contribute another `#elif` for FreeBSD if there is "a facility to fetch the current path of an open file descriptor". If there is no such facility yet, you are out of luck.

[2021-01-02 09:48] wtchangdm opened #2899 "Feature request: Support "tag" as a variable in cloudwatch_logs output plugin"
**Is your feature request related to a problem? Please describe.**

Hi all, this feature request is related to #2898, where we have a lot of CloudWatch Log Groups to send, according to the k8s workloads' namespace.
But the number of output is more than 32 it starts acting incorrectly.

Our current config for this purpose is:

1. Get information like namespace, pod, in `Tail` input plugin
[code]
1.

[2021-01-02 13:06] phin1x commented on #2821
The loki team plans to deprecate their go plugin. From the loki 2.1 release notes:

"...In time our plan is to deprecate and eliminate our output plugin in favor of the native Loki support. However until then you can continue using the plugin with the following change..."

In my opinion the missing remove_label_fields parameter is the reason not to use the output plugin. I don't want to have the t

[2021-01-02 16:50] pavel-pimenov commented on #1889
Date:	01/02/21 19:44:10
PVS-Studio Version:	7.11.44142.2691
Total Warnings (GA):	567
Total Warnings (OP):	138
Total Warnings (64):	56

[2021-01-04 01:24] shinji62 commented on #2508
@edsiper Anything we should do to get this issue bumped ?

[2021-01-04 13:11] GiedriusS opened #2900 "FLB hangs (on shutting down?)"
## Bug Report

**Describe the bug**

FLB is running with tail input plugin + kafka output. Shortly after the process start, it stops processing new log lines. HTTP server with metrics is still available and shows that the counters are not increasing anymore. Nothing is being printed in the logs besides the last few lines that some messages have been queued and that the internal queue is now full.

[2021-01-05 06:32] davie5201314 commented on #1602
I get the same problem，How to resolve it?

[2021-01-05 08:04] PettitWesley commented on #2831
The code also uses `strftime`, which doesn't support anything smaller than seconds.

To support milliseconds you have to build a shim on top of strftime. I vaguely remember that some part of fluent bit supports millisecond format specifiers, I think it was `%f`, but I can't find any code from a cursory search.

[2021-01-05 09:10] PettitWesley commented on #2859
To anyone who is affected by this, please try out the recommendation here: https://github.com/fluent/fluent-bit/issues/2753#issuecomment-737744436

And let me know in a comment if it helps.

[2021-01-05 12:18] marklinders-planon commented on #2753
@PettitWesley We have updated our fluent-bit daemonsets to use the custom image. Usually we have the segfault errors within the week on multiple fluent-bit pods. I will update next week with results or earlier if the problem returns before then.

[2021-01-05 13:28] VF-mbrauer opened #2905 "Fluentbit S3 PlugIn created the Files with Strange Character Names"
## Bug Report

**Describe the bug**
When the Logs have been delivered to S3-Storage the filenames are looking strange in comparison from what I remember
from FluentD, where the Filenames have had meaningful names.
As an example the name looks like this: 00-objecthy79ndzk

Is there any change to  get this customized, or is this something what will be corrected in some time?

**To Reproduce**
- Rubu

[2021-01-05 13:29] VF-mbrauer commented on #2905
@PettitWesley: Can you please have a look.

@edsiper: FYI.

[2021-01-05 15:29] martiyanov commented on #1602
we moved to filebeat

вт, 5 янв. 2021 г., 9:32 davie5201314 <notifications@github.com>:

[2021-01-05 18:41] PettitWesley commented on #2905
Can you attach your fluent bit config?

The `-objectHfqpBisk` is expected behavior. When Fluent Bit uses the PutObject API, it automatically appends a random string to the object name to ensure that the object name is unique. Because if the name is not unique then it will overwrite the old object with the same name.

In your case, it looks like some how your S3 key is set so that the name is "00"

[2021-01-05 20:16] #514 closed

[2021-01-05 20:16] #2161 closed

[2021-01-05 20:16] #2244 closed

[2021-01-05 20:16] #2871 closed

[2021-01-05 20:45] hawkesnc commented on #2700
Hi @PettitWesley , thanks so much for your work on the s3 plugin. Just wondering if the compression is still being worked on? 😄

[2021-01-05 20:49] PettitWesley commented on #2700
@hawkesnc it has been merged but not released IIRC.

CC @zhonghui12

[2021-01-05 21:15] VF-mbrauer commented on #2905
Hi @PettitWesley, please find attached an extract of the fluentbit config: [fluentbit.txt](https://github.com/fluent/fluent-bit/files/5772633/fluentbit.txt)

[2021-01-05 22:05] PettitWesley commented on #2859
I want to add that I am still actively investigating this and exploring other possible causes for the issue besides the above, including that this might be some sort of race condition/concurrency bug.

[2021-01-06 06:36] PettitWesley commented on #2753
For everyone else who is tracking this issue, #2859 looks like a duplicate and per my comment there, I am continuing to try to evaluate other things which might be causing this bug. As noted by most reports it happens infrequently which makes repro + testing difficult and slow.

If anyone has a config/setup in which the error happens quite frequently and repeatably- I'd be very interested to see d

[2021-01-06 12:29] PDVJAM commented on #2891
Had the same issue. Fixed with Exclude_Path:
[code]

[2021-01-06 12:42] marklinders-planon commented on #2753
@PettitWesley I can confirm that we still have the issue using image _094266400487.dkr.ecr.us-west-2.amazonaws.com/s3-store-issue:latest_

We had 4 restarts due to `[engine] caught signal (SIGSEGV)` on 3 different fluent-bit pods in the eu-central-1 (frankfurt) region. Interestingly we also have around 10 fluent-bit pods running in the ap-south-1 (mumbai) region, which have 0 restarts.

[2021-01-06 13:23] theblop opened #2906 ""[error] [storage] cannot adjust chunk size" when using NFS mount for buffer file storage"
## Bug Report

**Describe the bug**
fluentbit can't fallocate file chunks when storage is configured on an NFS mount.
Here is the relevant error message:
[code]

This seems to be the root cause, and an additional check should be done for NFS mounts (or FS that don't support fallocate) and not just checking if fallocate() is available:
https://github.com/fluent/fluent-bit/blob/7aec5628df42408284f3b

[2021-01-06 14:36] VF-mbrauer commented on #2905
Hi @PettitWesley,

I tried also to put a more unique name by adding minutes to the config. But still no change, even if the names are different:
[code]
Now I would expect that the randomized objects are not added as the names by default differ.

[2021-01-06 18:09] lmuhlha commented on #1567
Hi,
Is there any updated timeline for multithreading support?

Thanks.

[2021-01-06 18:27] agup006 commented on #1567
@lmuhlha @GaoyangWang  we have our first version of multithreading coming out shortly and have been testing for 200K/s. WIll update once the release candidate is available

[2021-01-06 18:30] papovyr commented on #2891
This excludes logs from namespaces however i want to deliver deferent namespaces to deferent outputs by matching namespace

[2021-01-06 18:36] miwilliams-vmw commented on #2895
Perhaps not related, but I'm seeing similar errors in 1.6.7+ for the aws metadata filter on Amazon Linux 2. When trying to connect to the instance metadata service, the following error is produced:

[code]

This prevents the aws metadata filter from populating the expected fields.

Downgrading to 1.6.6 resolved the issue for me, but obviously windows-specific changes don't seem like they will addr

[2021-01-06 18:49] PettitWesley commented on #2905
Hey @VF-mbrauer I played with your config... I didn't get any names that looked like what you showed in your original comment "00-objectHfqpBisk". I am not sure how that happened.

What you show in that latest comment is expected behavior. It will always add the randomness and there is no way to turn it off.

As I mentioned, we are planning to change how this works in the future- S3 enhancements a

[2021-01-06 18:54] PettitWesley commented on #2905
I should note- the plugin only adds this randomness when it uses the PutObject API.

Looking at your config, you have it set to use multipart uploads when it can (that's the default). However, it can only use the multipart API when there is enough log data. This is because each part in the multipart upload must be at least 5 MiB. I see you have an upload time out of 5 minutes- if you do not accumu

[2021-01-06 19:25] VF-mbrauer commented on #2905
Hi @PettitWesley,

I think I know why we get this name. It is because the hour (%H)
`s3_key_format      /k8s_logs/%Y/%m/%d/%H`

so the 00 is the hour I have also 01 and 02 up to 24. So basically the whole day. I just did not want to put all the logs here from the complete day. Maybe my fault. Otherwise you would have seen that probably that this is a result of the hour format %H.

But one last thi

[2021-01-06 20:20] aditmeno commented on #2906
@theblop I confirm I'm facing this same issue as well

[2021-01-06 20:30] agup006 commented on #2895
@miwilliams-vmw separate issue will work best - and to confirm this is Fluent Bit 1.6.7 on top of Windows that metadata filter is not working on?

[2021-01-06 20:47] PettitWesley commented on #2753
@marklinders-planon Please share all stack traces if you have them. I just realized that the trace you shared previously is different than then all the others I have seen.

[2021-01-06 20:48] theblop commented on #2906
actually the safest fix would be to try fallocate() if available and fall back to ftruncate() if it fails at runtime

[2021-01-06 20:49] PettitWesley commented on #2753
Also, @edsiper is it possible that this could be caused by a bug in fstore or chunkio? I was reading the warning here, that calls to ftruncate can crash the program in rare cases: https://github.com/fluent/fluent-bit/blob/master/lib/chunkio/src/cio_file.c#L1039

I checked and when I run the S3 output ftruncate calls are made. Will ftruncate only crash the program if the disk fills up or are there

[2021-01-06 21:26] zerkms opened #2907 "[feature request] DB for kmsg"
**Is your feature request related to a problem? Please describe.**

At the moment as long as you restart a host or just a fluent-bit daemon kmsg re-exports all the records it has, which in the latter case might be extremely outdated (eg months ago).

**Describe the solution you'd like**

How about add `DB` like almost all other inputs have?

**Describe alternatives you've considered**

**Additiona

[2021-01-06 22:23] PettitWesley commented on #2753
I've been feeling bad about this issue and how much trouble its causing folks, so I posting live updates as I keep working. I think I am very close to figuring out the root cause.

Basically, the stack trace is correct, its crashing on this line, which is an error message: https://github.com/fluent/fluent-bit/blob/master/src/flb_fstore.c#L82

Sometimes when that function is run, the stream has not

[2021-01-06 22:56] PettitWesley commented on #2905
I agree, so whats happening in your cases probably is:

- Multipart Upload (because enough data was collected before timeout): 28191815 apiserver_logs/2021/01/06/1809.json
- PutObject Upload (because too little data was collected in time): 14377651 apiserver_logs/2021/01/06/1814.json-objectW59DtvnL
- PutObject Upload (because too little data was collected in time): 13923075 apiserver_logs/2021/01/

[2021-01-06 22:57] PettitWesley commented on #2700
Some discussion on `s3_key_format` in #2905

[2021-01-06 23:55] hsmatulisgoogle opened #2908 "Race condition in master branch"
Here is a race condition I found when debugging on `master`:

`ch_parent_events` is created in the worker thread without any signalling, so the parent can attempt to use it before its been defined:
https://github.com/fluent/fluent-bit/blob/530866b640f16eb0147e0bc8fd3a6054366a4a29/src/flb_output_thread.c#L176-L188
https://github.com/fluent/fluent-bit/blob/530866b640f16eb0147e0bc8fd3a6054366a4a29/sr

[2021-01-07 01:03] edsiper commented on #2908
ah! good one. So the pipe must be created in the output_thread interface before the thread is created, so it's just shared..

[2021-01-07 05:05] gagansingh355 commented on #2615
@vishalbharg , did you got any resolution to this?

[2021-01-07 06:32] PettitWesley commented on #2753
Alrighty, I am 90% confident that I have actually solved it this time. It took a little longer than I expected, because I found another bug in the process, which might have been the other issue reported in #2859

Everyone, please try out this image and let me know if the problem is fixed:

[code]

If it does, @edsiper has agreed to rush out a new release this friday.

[2021-01-07 06:32] PettitWesley commented on #2753
@marklinders-planon See above

[2021-01-07 06:33] PettitWesley commented on #2859
See comment here, I think might have solved both problems: https://github.com/fluent/fluent-bit/issues/2753#issuecomment-755917001

[2021-01-07 08:41] Styne13 commented on #2851
@ygoyal18: Thanks for your reply. 👍 Will check if this works.

[2021-01-07 09:54] cobb-tx commented on #2688
I've built a new image and I'm testing it

[2021-01-07 10:16] cobb-tx commented on #2688
Doesn't seem to work
------------------------
[2021/01/07 10:15:37] [error] [input chunk] no available chunk
[2021/01/07 10:15:37] [error] [input chunk] no enough space in filesystem to buffer chunk 1-1610014537.967257035.flb in plugin kafka.0
[2021/01/07 10:15:37] [error] [input chunk] no available chunk
[2021/01/07 10:15:37] [error] [input chunk] no enough space in filesystem to buffer chunk 1-1

[2021-01-07 10:53] cobb-tx commented on #2688
[2021/01/07 10:51:00] [debug] [input chunk] chunk 1-1610016660.50582922.flb required 0 bytes and -54 bytes left in plugin kafka.0
[2021/01/07 10:51:00] [error] [input chunk] no enough space in filesystem to buffer chunk 1-1610016660.50582922.flb in plugin kafka.0
[2021/01/07 10:51:00] [error] [input chunk] no available chunk

[2021-01-07 13:49] marklinders-planon commented on #2753
Hi @PettitWesley, update from our end. We have not seen the SIGSEGV messages yet. So far so good. We'll keep monitoring it. What I did notice is the following messages that I can't recall having seen before in my logs:

[code]

According to the message the upload_timeout is reached which causes the PutObject request to fail. It does work on a retry. So I guess that is the problem that @avdhoot men

[2021-01-07 14:35] tscully49 opened #2913 "Timestamp sometimes disappears when using http output"
## Bug Report

**Describe the bug**
When we use a filter to COPY the "timestamp" attribute to a new attribute called "time", it seems like only one gets sent through.  If we use the ADD feature to create the "time" field, they both seem to get sent through.  We have only tested this using the http output with setting the Json_date_key to either "time" or "timestamp".  It seems like whichever we se

[2021-01-07 14:37] tscully49 commented on #2913
We are wondering if fluentbit is getting rid of the timestamp field before it sends along the request or if there is something we are simply missing about the behavior here.

[2021-01-07 14:56] etm42 opened #2914 "Duplicate Entries when 32+ inputs are configured"
## Bug Report

**BACKGROUND**
* We're running amazon/aws-for-fluent-bit:2.10.0 docker container
* Input comes from the "tail" plugin
* Output goes into AWS CloudWatch using the "cloudwatch_logs" plugin

**PROBLEM**
Since upgrading to aws-for-fluent-bit:2.10.0 (from 2.1.0), we're getting duplicate entries in the cloudwatch streams, where some entries get duplicated and end up in a different stream

[2021-01-07 15:43] braxton9460 commented on #2859
We've don't have a docker based implementation to test the image referenced, but sounds like you're about to cut a new release binary with this fix in it. I can test that pretty quickly once it is available.

[2021-01-07 18:29] Sly555 opened #2915 "Error"
## Bug Report

**Describe the bug**
Fluent Bit v1.6.9 : When a pod is deleted, we have a locking protocol error on the database on the next pod loaded

**To Reproduce**
[2021/01/07 09:23:48] [ info] [storage] version=1.0.6, initializing...
[2021/01/07 09:23:48] [ info] [storage] in-memory
[2021/01/07 09:23:48] [ info] [storage] normal synchronization mode, checksum disabled, max_chunks_up=128
[202

[2021-01-07 21:51] PettitWesley commented on #2753
I've seen those connection errors sporadically as well myself, its definitely not related to this patch. Fluent Bit 1.7 will apparently include some major improvements in performance from switching to openssl (from mbedtls) for https connections, though I have no clue if that will fix the connection issues (or may be its not a real issue, occasional connection drops can happen).

[2021-01-08 00:15] edsiper commented on #2913
Hi, thanks for reaching out.

So the workflow is always ```input``` > ```filter``` > ```output```. I tested the following config:

[code]

the ```modify``` filter will "try" to copy the __key__ ```timestamp``` into ```time```. If the original record don't have such key nothing will happen. In my example, I created generated the ```timestamp``` key with value ```1610064082```

Then the ```stdout```

[2021-01-08 00:17] edsiper commented on #2915
Do you have other process or pod opening the same SQLite database file ?

[2021-01-08 00:18] edsiper commented on #2914
assigned to @PettitWesley

[2021-01-08 00:25] PettitWesley commented on #2914
@etm42 I am confused... I do not see the cloudwatch output used in your config.

[2021-01-08 00:26] PettitWesley commented on #2914
Oh I see:

So its not a problem in cloudwatch, it is truly in tail.

[2021-01-08 01:22] Sly555 commented on #2915
Each pod have is own db file. With 1.5.4 it is working. When we want to
upgrade we have this issue. Even if we delete database for a new one the
next time a pod goes  down the newest cannot take the db. I hope I don’t
write to many mistakes english is not my main language. Thanks for your
fast response.

Le jeu. 7 janv. 2021 à 19:17, Eduardo Silva <notifications@github.com> a
écrit :

[2021-01-08 04:00] CloudXiaobai opened #2916 "namespace_labels supported in kubernetes metadata"
When I moved from fluentd to fluent-bit, I found that `namespace_labels` is available in the plugin `kubernetes-metadata-filer`, but not in fluent-bit kubernetes.

Is there a plan for this to support it? thanks

[2021-01-08 07:58] marklinders-planon commented on #2753
The connection issues are not a problem for us, as the retry works without issues. I did see another occurrence of the SIGSEGV errors.

[code]

[2021-01-08 08:30] PettitWesley commented on #2753
@marklinders-planon Can you send me more logs before and after the crash (either here or by email)? Does the crash occur as frequently as before? Do any of the crashes have a stacktrace?

[2021-01-08 08:51] marklinders-planon commented on #2753
@PettitWesley, i don't really know if it happens more often. The pods have been running for 24 hours with the custom image and in the eu-central-1 region one of them restarted with the error. There were 6 fluentbit pods running in that region.
The ap-south-1 region has 9 fluent-bit pods running, but show no errors in the past 24 hours.

In another AWS account where we still use the original image

[2021-01-08 09:25] LionelCons opened #2920 "Add a mechanism to reopen Fluent Bit's own log file"
Fluent Bit can be configured to use a dedicated log file (via the `Log_File` option).

For tools like `logrotate` to work, Fluent Bit must be told to reopen its log file.

Instead of stopping and then restarting Fluent Bit, it would be much better to tell Fluent Bit to just reopen its log file.

Many daemons use the `SIGHUP` signal for this purpose but, [looking at the code](https://github.com/flu

[2021-01-08 09:49] LionelCons opened #2921 "Add the possibility of not logging HTTP response payload"
The `http` output plugin can log successful responses (as `info`) and unsuccessful ones (as `error`). In both cases, when there is a payload, it is always logged (see [here](https://github.com/fluent/fluent-bit/blob/master/plugins/out_http/http.c#L191)).

In some situations, the payload may be useless (the HTTP status is enough to understand what is going on) and/or too big, flooding Fluent Bit's

[2021-01-08 10:57] yvvarun opened #2922 "Tag in Output plugins"
I wanted to know if it's possible to add a Tag key in Output plugins like forward for example?
I'm using multiple forward plugins and I want to rewrite the Tag and assign a different Tag for each of them.

Example:

[code]

Fluentd is unable to recognize the rewritten tags (a/b/c, x/y/z). It's only able to recognize the original tags (all, ops) in the input plugins of fluent bit.

[2021-01-08 11:32] AnujAroshA opened #2923 "no upstream connections available in forward configuration parameter in output plugin"
## Bug Report

**Describe the bug**

I was upgrading Fluent Bit Windows version from 1.6.6 to 1.6.8 (Issue exist in 1.6.9 as well). No code changes done in my side, just replacing the fluent-bit.exe

**To Reproduce**
- fluent-bit.conf changes (Assume 10.16.0.41 as the up and running Splunk server)

[code]

- Run the configuration file
[code]

- For fluent-bit version 1.6.6 I'm getting logs to Splu

[2021-01-08 15:24] edsiper commented on #2908
Fixed in 78b0f6d97f6d

[2021-01-08 17:51] epsteina16 opened #2925 "Data loss when sending large file starting from the beginning over TCP"
## Bug Report

**Describe the bug**
When using fluent-bit to send a large file starting from the beginning over TCP, fluent-bit discards most of the data and it sends only part of the file.

**To Reproduce**
I made a file with 400K lines, each 100+ characters long. I am using fluent-bit to both send and receive the data.

My output configuration file (output_config.conf):
[code]

My input configur

[2021-01-08 19:46] Sly555 commented on #2915
Hi, maybe the trouble can be with the wal mode in SQLite. I've tried with
DB.Locking = false and DB.Locking = true and I have the same issue. The
only process accessing this database is fluent-bit.
[image: image.png]
in_tail: new 'db.locking' option and other perf improvements (#2564) ·
fluent/fluent-bit@a79bc25 · GitHub
<https://github.com/fluent/fluent-bit/commit/a79bc25fb5fbf3abf331b503057a4e59

[2021-01-08 20:33] agup006 commented on #2895
@robdew 1.6.10 is out now, announcement will go live later today if you want to try it out

[2021-01-08 23:01] JeffLuoo commented on #2688
@cobb-tx Hi Could you please share with me the configuration file you used and the steps to reproduce it?

[2021-01-09 00:05] edsiper opened #2926 "[1.7 dev] crash on multi workers when remote server drops active connections"
[GIT Master only]

When a remote endpoint abruptly close the connections, when using multiworkers mode the following crash happens:

[code]

Inspecting the core file with gdb:

[code]

for some reason, the connection node is not linked on any upstream list (available, busy or destroy), the node have prev=NULL and next=NULL

[2021-01-09 00:05] edsiper commented on #2926
@hsmatulisgoogle have you seen something similar in your tests ?

[2021-01-09 00:33] PettitWesley opened #2927 "[1.7 dev] AWS Plugins can not connect to AWS services"
Master only, not released

Requests to S3 do not seem to work:

[code]

Which comes from here: https://github.com/fluent/fluent-bit/blob/master/src/aws/flb_aws_util.c#L273

I see the same errors in all AWS plugins:

[code]

[2021-01-09 03:35] robdew commented on #2895
Confirmed fixed in my test setup with 1.6.10:

[code]

Thanks to all!

[2021-01-09 03:36] agup006 commented on #2895
Awesome! Thanks, @fujimotos and @edsiper for the fix and thank you @robdew for reporting and confirming the fix

[2021-01-09 03:36] #2895 closed

[2021-01-09 03:37] agup006 commented on #2895
@miwilliams-vmw I didn't see a new issue open - would be great if you can try 1.6.10 as well

[2021-01-09 15:48] AnujAroshA commented on #2923
Seems issue is fixed in 1.6.10 version

- [Release note](https://fluentbit.io/announcements/v1.6.10/)
- [Code changes compare to 1.6.8](https://github.com/fluent/fluent-bit/compare/v1.6.8...v1.6.10)

[2021-01-09 15:48] #2923 closed

[2021-01-09 16:14] girgen opened #2930 "[1.6.10] cmake fails to create `monkey/mk_info.h`, compilation fails"
## Bug Report

**Describe the bug**
cmake fails to create `monkey/mk_info.h` and as a result, the compilation fails.

**To Reproduce**
git checkout 1.6
cd build
cmake ..
make

**Expected behavior**

cmake would generate `.h` header files from `.h.in` files, and then make would politely build fluent-bit

**Screenshots**
[code]

**Your Environment**

* Version used: 1.6.10
* Configuration: BSD (Free

[2021-01-09 17:24] edsiper commented on #2726
Pls upgrade to latest version, already fixed.

[2021-01-09 17:24] #2726 closed

[2021-01-09 18:21] levindecaro opened #2931 "loki output performance issue and huge memory footprint"
## Bug Report

**Describe the bug**

I'm running into performance issue on fluent-bit 1.6.9 docker image and td-agent-bit-1.6.9 rpm on a testing environment, the loki version is 2.0 and 2.1. Both combination appear slow log delivery when under loads (avg 500 message per sec), logs are so lag about 10 sec to be appeared in loki, and then getting slower and slower after hours, sometime the log was d

[2021-01-09 20:36] agup006 commented on #2931
Hey @levindecaro thanks for filing, would you be able to attach your configuration as well as log file?

[2021-01-09 20:50] chenrui333 commented on #2930
I have run into the same build issue. cc @@edsiper

[2021-01-10 11:18] girgen commented on #2930
I tried a few different versions of cmake. The problem is exactly when upgrading from 1.6.9. to 1.6.10.

[2021-01-10 23:21] yukselao opened #2932 "syslog output plugin doesn't send application logs as expected"
![ss](https://user-images.githubusercontent.com/2484823/104168224-c5d0c180-540e-11eb-98ce-eaab07a52b9b.png)
## Bug Report

syslog output plugin sends null messages

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:
Follow instructions in install.sh:
https://github.com/yukselao/fluent-bit
**Expected behavior**

**Screenshots

[2021-01-11 01:00] PettitWesley opened #2933 "ChunkIO SIGBUS Crashes"
## Bug Report

**Describe the bug**

To investigate #2859 I set up a 10 node k8s cluster and deployed a couple of versions of a fluent bit daemonset. A couple of my fluent bit pods have restarts. I got good error information because one of the daemonsets was running Fluent Bit under valgrind.

The version of Fluent Bit I am using is v1.6.8 with a commit added to make chunkio print extra informatio

[2021-01-11 01:43] agup006 commented on #2932
Hi @yukselao, are you able to try with the latest version of Fluent Bit 1.6.10?

In your configmap: https://github.com/yukselao/fluent-bit/blob/main/fluent-bit-ds.yaml#L27, try using `fluent/fluent-bit:1.6.10`

[2021-01-11 01:49] agup006 commented on #2922
@yvvarun if you need the tag to be different in successive Fluent instances, it would probably be best to use rewrite tag filter first then have the forward output plugins match the new tag.

https://docs.fluentbit.io/manual/pipeline/filters/rewrite-tag#configuration-example

[2021-01-11 02:30] PettitWesley opened #2934 "Kubernetes filter error logs are sent to debug"
## Bug Report

https://github.com/aws/aws-for-fluent-bit/issues/127

Right not k8s metadata is failing and I could not figure out why. With debug logging enabled I see:

[code]

It'd be really helpful if some of these errors were not sent to debug so that a normal user could figure out what is wrong. I think the API failures especially need to be an error log. The others are may be too verbose.

[2021-01-11 05:53] yvvarun commented on #2922
I want to use different tags for different outputs, so how would rewrite tag filter help in such a case?
As per my understanding, rewrite tag filter might be helpful if all the output plugins used a single tag, right?

[2021-01-11 05:58] agup006 commented on #2922
rewrite tag does not stop you from using different outputs, it allows you change the tag of inflight data which will influence your downstream pipeline in Fluentd. My understanding is you want to take darti_all*.logs give them a tag of a/b/c then have Fluentd perform some successive processing.

tail (tag: ops) ---> rewrite filter (tag:a) ---> output forward (tag:a) ---> | Fluentd | (performs pipe

[2021-01-11 06:41] yvvarun commented on #2922
tail (tag: ops) ---> output forward (match tag:ops, rewrite tag:/a/b/c) ---> | Fluentd | (performs pipeline based on tag:a)
tail (tag: ops) ---> rewrite filter (match tag:all --- convert to tag: x) ----> output forward (match tag:x) ---> | Fluentd | (performs pipeline based on tag:x)

[2021-01-11 09:32] marpio opened #2935 "[Loki Plugin] Allow setting X-Scope-OrgID header dynamically"
**Is your feature request related to a problem? Please describe.**
Similar to the to the situation described in https://github.com/grafana/loki/issues/259 we control both the Loki backend and the fluent-bit installation and are running multiple tenants on Kubernetes (a tenant is a namespace), and would like to set the tenant (controled by X-Scope-OrgID) based on said namespace.

**Describe the sol

[2021-01-11 10:07] gagansingh355 opened #2936 "Restart whenever configuration is updated"
I am looking for a way so that fluentbit will restart whenever i update xyz.conf file
Is it possible in fluentbit currentlt?

[2021-01-11 10:09] yukselao commented on #2932
Hi @agup006  I am using latest version now but the result is the same.

I updated scripts if you want to reproduce the issue in your side.

What do you think about my output configuration?  Should we use a variable for message_key part?

  output-syslog.conf: |
    [OUTPUT]
        name                 syslog
        match                *
        host                 172.16.60.130
        port

[2021-01-11 16:34] stevehipwell opened #2937 "SIGSEV errors"
## Bug Report

**Describe the bug**

Our _fluent-bit_ K8s pods deployed with the latest _Helm_ chart are having intermittent SIGSEV errors causing restarts and in some cases backoffs. This happens with both the default chart version and the latest release (`v1.6.10`).

**To Reproduce**

The logs aren't always the same, I've added some below.

[code]

[code]

[code]

**Expected behavior**

Pods not

[2021-01-11 17:22] justinsorubio commented on #2274
Was this fixed by version 1.8.1?
https://github.com/sndyuk/logback-more-appenders#version-181
[code]

[2021-01-11 17:50] edsiper commented on #2274
Tried to reproduce the issue with v1.6.10 without success. Closing this ticket for now.

solution: enable file system buffering

[2021-01-11 17:50] #2274 closed

[2021-01-11 17:51] edsiper commented on #2937
Would you please also paste your config map or full configuration ?

[2021-01-11 18:16] stevehipwell commented on #2937
@edsiper configmap directly from K8s.

[code]

[2021-01-11 18:26] edsiper commented on #2937
### Pipeline

![pipeline](https://user-images.githubusercontent.com/369718/104222675-3de7b900-5408-11eb-94dd-b926924f428a.png)

[2021-01-11 18:31] edsiper commented on #2937
would you pls provide the daemonset file ?

[2021-01-11 18:32] stevehipwell commented on #2937
@edsiper the daemonset yaml?

[2021-01-11 18:33] edsiper commented on #2937
yep

[2021-01-11 18:50] stevehipwell commented on #2937
@edsiper I've put the values used with the `0.7.13` chart at the top followed by the generated daemonset yaml.

[code]

[code]

[2021-01-11 18:59] edsiper commented on #2937
I am trying to reproduce the issue locally, are you aware of any specific condition that helps to triggers the issue ? like remote service is down, or network latency, etc ?

[2021-01-11 19:05] stevehipwell commented on #2937
@edsiper I'm not aware of any external issues and all networking is within the cluster. My suspicion is that it's related to the Loki output. Possibly Loki with a log backlog or maybe an out of order log line being skipped.

The Loki instance has been installed from the latest chart in the Grafana repo (they have moved to a central repo from the old Loki one).

[2021-01-11 19:07] edsiper commented on #2937
can you reproduce with an older version of Fluent Bit ? (in 1.6.10 there
are no changes in I/O or networking parts)

On Mon, Jan 11, 2021 at 1:05 PM Steve Hipwell <notifications@github.com>
wrote:

--
Eduardo Silva
https://edsiper.com
Twitter: @edsiper <http://twitter.com/edsiper>
OSS: https://fluentbit.io <http://fluentbit.io>

<http://monkey-project.com>

[2021-01-11 19:18] stevehipwell commented on #2937
@edsiper it appeared worse with the version in the latest chart, and I updated the image to reduce the number of pod restarts.

[2021-01-11 19:31] maggiedeuitch opened #2938 "Regex parser multiline flag"
## Bug Report

I have a regex parser as follows and I want to use the multiline flag `\m`. My input uses `forward` and not `tail`, so I'm assuming I don't use the Fluent Bit Multiline feature, but just the regular regex flag.

My regex:
```^(\d{4}-\d{2}-\d{2}T\d{1,2}:\d{1,2}:\d{1,2}.\d{3}Z) (?<level>\w+) \[(?<deliveryWorker>[^ ]*)\] - (?<errorMessage>.*) due to error: (?<errorType>.*)/m```

I've c

[2021-01-11 20:00] agup006 commented on #2938
Hey @maggiedeuitch, thanks for submitting the issue. The problem will be that regex, though it has multiline turned on, will be run against a single line coming from forward input. You are correct that we only have multiline for tail today, so the short term solution (not ideal) would be to go forward -> output file -> in_tail w/ multiline -> output.

We are looking at creating a multiline filter

[2021-01-11 20:29] maggiedeuitch commented on #2938
Hi @agup006,
Thank you for the quick response. So let's say I have the above log again without the `/m` flag.

[code]
I've been able to match it in Fluent Bit up to ```...due to error: foo```.
What happens to the two `foo` that follows? Do they just get deleted?

[2021-01-11 20:30] agup006 commented on #2938
Fluent Bit would read it in as a new line: "foo" and result in no matches: https://rubular.com/r/4h70AS28dn2L3s

[2021-01-11 20:34] maggiedeuitch commented on #2938
Ok, thank you

[2021-01-11 21:32] maggiedeuitch commented on #2938
A couple of more follow up questions:
1. If I had multiple parsers and the line doesn't match any of the parsers, what happens to the line? My understanding is the the line will be preserved as is as should show up in Kibana under the "log" field?

2. Would the new lines in my previous multiline example not fall under that?

Example
[code]

fluent-bit.conf
[code]

parsers.conf
[code]

[2021-01-11 23:59] edsiper commented on #2933
are there any known conditions to trigger the issue like disk space or others ?

[2021-01-12 02:33] edsiper commented on #2926
The issue associated with keepalive connections. Having set -p net.keepalive=off does not lead to corruption.

work in process.

[2021-01-12 08:34] stevehipwell commented on #2937
@edsiper I've taken a look at our other clusters and I can see the same issue on clusters running `v1.6.6` and `v1.6.8` but not on clusters running `v1.5.6`; although the `v1.5.6` isn't able to push to _Loki_ (the rest of the config is identical). My colleague has clusters with the same config other than the _Loki_ part and isn't seeing these issues so it looks like it might be an issue with _Loki

[2021-01-12 09:04] hisrarul commented on #2676
Thanks @xuchenCN. As suggested I check that files in the directory `/var/log/containers/` were pointing to files in the directory `/var/log/pods/` and log files in the `/var/log/pods/` were pointing to `/mnt/docker/containers`. After adding volume `mntdatadockercontainers`. It is working fine for me.

[code]

[2021-01-12 10:11] herbygillot commented on #2930
I'm seeing the same, specifically with *1.6.10*, also buildong on macOS Catalina.

[code]

[2021-01-12 10:30] NicoSchirmeier opened #2939 "Fluent bit not parsing lines correctly"
## Bug _Report_

**Describe the bug**
Our dlt logs are generally parsed correctly and the correct fields are generated.  When the last field is missing it is not able to match any fields. When using regex101.com with the same lines and the regex it is working correctly.

[code]

A message like this is matched:
[code]
While this is not:
[code]
(there is a whitespace as last letter in line)

[2021-01-12 13:33] ngauje commented on #1063
Same issue on Fluentbit 1.4.6 and the elasticsearch output.

Fluentbit is in k8s cluster and our ELK outside. We want to avoid going through all local search domains ( namespace.svc.cluster.local svc.cluster.local cluster.local ...)

So we put a fqdn terminated with a dot and we get the IP in one DNS request... But then, cert does not match.

If we disable tls verification, it still fail because t

[2021-01-12 20:33] shake76 commented on #1115
@sumo-drosiek I have not a chance to do a try yet, Do you have an example to take a quick look on it?
Thanks in Advance

[2021-01-12 21:45] apratina commented on #2589
@edsiper any new update?

[2021-01-12 22:13] pthalasta commented on #2860
@edsiper does docker image for fluentbit come with GSSAPI and librdkafka installed?

[2021-01-13 04:13] edsiper commented on #2926
[code]

[2021-01-13 07:22] esenmetu92 commented on #914
We are facing with the same problem. We have set the db as path/to/logs.db and intput as tail, output as stdout. When we changed the file, we do not see the changes in the output. But, if we stop and restart the fluentbit.exe than new changes are written to the output.

[2021-01-13 10:44] julianklose opened #2941 "Parser ignoring timezone"
I'm using windows release td-agent-bit-1.6.10-win32. The parser is ignoring the timezone set in the logs.

Here a simple example using the default apache parser:
[code]

My logs:
[code]

The result:
[code]

As you can see, every entry was treated as if it was in "+0000".

[2021-01-13 13:44] edsiper commented on #2926
I think I found the root cause of the problem. Upstream connections are actually linked to the parent output instance and protected through a Mutex, but there are a few cases where an available persistent connection might be assigned to a different worker thread, looks like the connection context is registered in more than one event loop at a time generating the corruption.

Still troubleshooting

[2021-01-13 14:30] sjentzsch commented on #2878
I can confirm `storage.total_limit_size` not being properly respected:

[code]
[code]

If we would have multiple such OUTPUT sections, the capacity would add up, right? If so, is there also any way to limit it globally for all (first-come-first-serve)?

[2021-01-13 15:18] epsteina16 commented on #2925
I resolved this issue by using Mem_Buf_Limit to stop by the input from reading the file all at once. This allowed the input to pause and resume often which prevented it from overwhelming downstream filters and outputs.

[2021-01-13 15:18] #2925 closed

[2021-01-13 16:13] shake76 commented on #1115
@sumo-drosiek I finally able to get it working, I will left an example here for future reference

[code]

[2021-01-13 16:13] agup006 commented on #2938
You may need to use the parameter `Preserve_Key` instead of only `Reserve_Data`, and then it would show up under log in Kibana if no matches are made

[2021-01-13 16:27] agup006 commented on #2936
Not possible today in the current Fluent Bit version. We can look at adding hot reload capabilities in a future version though.

[2021-01-13 17:13] ebertti opened #2942 "Erro output S3 - s3_store_file_get"
I getting this erros message:

[code]

Fluentbit version: **v1.6.10**

I'm using helm chart with this config:

https://github.com/fluent/helm-charts/tree/master/charts/fluent-bit

[code]

[2021-01-13 17:58] AnujAroshA commented on #2930
Having the same issue.

**OS**
NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"

When run the **_make_** command gets following error

[code]

[2021-01-13 18:10] JeffLuoo commented on #2878
Hi @sjentzsch The capacity should not be added up to a larger number. Each output plugin has its own limit set by storage.total_limit_size. Therefore it means that storage.total_limit_size is not a global limit. Could you please let me know how do you get a `48.6G    tail.0/` with `storage.total_limit_size 30G`?

[2021-01-13 20:47] binarytrails opened #2943 "[1.6.10] sc.exe can't start fluent-bit without hardcoded absolute path in @INCLUDE [Windows 2019]"
There seems to be an issue relative to the ```@INCLUDE``` path in its statement in relation to the ```sc.exe```.

What is expected is that there is a way of specifying a working path variable in the include statement or in the command itself for the process to be able to pick up the configuration files found from its working directory instead of having manually adding a prefix in each include stat

[2021-01-13 21:12] manojna10 commented on #2878
This looks similar to the issue 2 I mentioned.

[2021-01-13 21:18] pmody-te commented on #1126
Any solution/workaround for this issue? I'm facing a similar problem while with the absence of the `time` key?

[2021-01-13 22:20] GaoyangWang commented on #1567
Is v1.6.10 the version of multithreading? @agup006 thanks.

[2021-01-14 02:30] agup006 commented on #1567
@GaoyangWang 1.7.0 (master) is the version with multi-threading

[2021-01-14 02:39] agup006 commented on #1567
@GaoyangWang, one other note, what backend are you using? Want to see if I can add that to my test suite. Or if you have some cycles would be great to sync over a Zoom

[2021-01-14 12:19] fujimotos commented on #2943
Hm. I think we have two separate problems here:

1. Fluent Bit won't resolve relative paths as expected when started by Windows Service Manager.
2. `@INCLUDE` does not support variable syntax.

(1) is easier one to fix. It occurs just because a Windows service uses
`%WinDir%\System32` as the working directory by default.

So a straight forward fix is to call `SetCurrentDirectory()` on startup to c

[2021-01-14 14:24] binarytrails commented on #2943
@fujimotos thank you for the swift reply! Yes, that would be great.

Another possible solution is to add a parameter to the fluent-bit binary to be able to pass a home / working directory path which will have the configuration files. This way the binaries can stay in their respective directories while the configurations in their own. However, you're in the best position to know what is the best so

[2021-01-14 15:29] vlvasilev commented on #2723
Some other findings:
Here is the firs appearance of a file all of which log lines are correctly processed by the tail plugin.
[code]
Now the first logs of a file which logs where not correctly processed:
[code]

At first I did not understand what this difference means but after putting some printf to the code I followed the logic of processing and found the following:

1.The first scan for files,

[2021-01-14 17:44] XciD commented on #2508
I've change `select` to `poll` seems to work

[code]

[2021-01-14 17:47] edsiper commented on #2508
We are taking a look at the original issue, I see 3 actions needed:

- encourage in the docs and config examples to increase file descriptors limit
- stop monitoring files that has not been updated in a while
- avoid crash in filter kubernetes (I think this is a different issue ?)

[2021-01-14 19:48] XciD commented on #2508
Correct me if I'm wrong, but increasing the fd limit dont fix this bug ?
From what I understood, it's a limitation in the `select` function.

[2021-01-14 21:50] edsiper commented on #2508
:O , you re right, docs says:

[code]

[2021-01-15 04:25] gagansingh355 commented on #2936
Thanks for the clarification!  @agup006

[2021-01-15 08:17] fujimotos commented on #2943
@binarytrails I spent some time experimenting with those ideas and
ended up implementing both.

* #2946 (set the default working dir for WIndows Service)
* #2947 (Add a new workdir command-line option)

I believe your issue should be resolved once these PRs get merged.

[2021-01-15 10:10] nokute78 commented on #2930
The workaround is to disable `in_http` plugin.
It is enabled on v1.6.10.

[code]

[2021-01-15 10:26] etm42 commented on #2914
Any news please? We're keen to have a fully working Fluent Bit, so that see see only valid entries in the CloudWatch streams. Correct, the issue does appear to be with tail.

[2021-01-15 13:40] binarytrails commented on #2943
@fujimotos this is amazing news! thank you so much. It is greatly appreciated! :octopus: :tada:

[2021-01-15 14:29] maggiedeuitch commented on #2938
Thank you, I will try that. I will close this now.

[2021-01-15 14:29] #2938 closed

[2021-01-15 16:21] sandeepsingh0321 opened #2949 "Fluent-bit metrics into ELK cluster"
**Is your feature request related to a problem? Please describe.**
 I am trying to find out if there is a way to insert fluent-bit metrics exposed via REST-API to feed into elastic cluster. We have a seperate ELK monitoring cluster to monitor ELK infrastructure which includes multiple instances of fluent-bit, logstash etc. So we are looking for a way to inject fluent-bit metrics into ELK monitorin

[2021-01-15 19:13] JeffLuoo commented on #2878
@manojna10 Thank you. I will try to reproduce it.

[2021-01-15 19:28] sjentzsch commented on #2878
@JeffLuoo We indeed had multiple output plugins to Elasticsearch (two or three), each with a 30G limit. So I have to agree, it _could_ be that they have added up. However, I suspect that we rather ran into the issue described here, as usually only one of our es outputs accumulates Gigabytes of data (the others are rather silent). No proof though, unfortunately.

[2021-01-15 21:47] sjentzsch opened #2950 "fluent-bit with storage enabled completely freezes (due to sockets not being closed properly(?))"
## Bug Report

**Describe the bug**

Under certain circumstances fluent-bit can completely freeze, not processing any more logs anymore.
We saw this behavior quite some time, for many pods already, with a certain randomness of appearing or not.

We do rely on storage configuration, and my concern is that only with storage enabled this bug can appear. Probably in combination with higher load, and c

[2021-01-15 21:57] sjentzsch commented on #2950
Let me mention one more issue I saw when testing things out. On a few pods that were not affected, I saw the following log line being spammed over and over for hours:
[code]
The same connection #id, every few seconds, without ever ending. Only a pod restart could "resolve" it. Any idea what that issue might be related to?

I don't think our network itself is corrupted, as few pods were always runn

[2021-01-15 22:46] dharmab commented on #2701
My employer has a policy to prefer more specific and bias-free terminology names instead of terms such as whitelist/blacklist. We'd be fine with having a second option with the same function under a different name, as we could use the alternate name in our configuration files. This would preserve backwards compatibility and allow us to transition smoothly.

[2021-01-15 23:59] JeffLuoo commented on #2878
@sjentzsch Thank you. I will take a look.

[2021-01-16 00:47] JeffLuoo commented on #2878
@manojna10 Hi could you please share with me the file like https://pastebin.com/yD6kBx6T you used to reproduce issue 2 if possible? Appreciate that!

[2021-01-16 01:04] edsiper commented on #2926
Several changes implemented and the issue is gone:

- coroutines are listed only on either output plugin linked list, or if in a worker, in a thread-storage list; they are fully isolated, all mutexes are removed.
- similar to co-routines upstream connections are handled either in an instance or per worker through a thread-storage list, no more mutexes or race conditions are faced.

all fixes are i

[2021-01-16 01:04] #2926 closed

[2021-01-16 01:05] edsiper commented on #2927
@PettitWesley can you try a new fresh build from GIT master (using the latest changes) ?

[2021-01-16 05:15] herbygillot commented on #2930
Confirmed that resolves the issue... I wonder will `in_http` be turned off again in the next release...

[2021-01-17 04:24] kago-dk opened #2951 "Entry out of order issue when sending consul or traefik log files to Loki and parsing timestamp."
## Bug Report

**Describe the bug**
When you try to send consul or traefik log files to the Loki utilizing the built-in output plugin Loki and parse the Time_Key, then Loki reports back:
[code]

**To Reproduce**

**parsers.conf**
[code]

**fluent-bit.conf**
[code]

**Expected behavior**
Fluent bit and Loki should be able to consume and store standard log files produced by Consul and/or Traefik.

*

[2021-01-18 02:59] maoyaowu opened #2952 "My production enviroment is Red Hat Enterprise Linux 6.5, can i build fluent-bit 1.6.10 on this paltform succesfully?"
**Is your feature request related to a problem? Please describe.**
I want to use fluent-bit on Red Hat Enterprise Linux 6.5, so i have to build fluent-bit from source on this platform?  or i can use  another solution, such as useing Fluent Bit container images.

thanks a lot!

[2021-01-18 08:29] l2dy commented on #2952
Yes, but you need to install newer versions of cmake, flex and bison.

[2021-01-18 09:01] maoyaowu commented on #2952
thank you.
I know that cmake shoud be CMake3+.  for flex and bison which version should be use to build fluent-bit 1.16.10 from source on  Red Hat Enterprise Linux 6.5?
 I looking forward to hearing from you.

[2021-01-18 09:24] l2dy commented on #2952
For flex and bison, you can try the same version as packages on CentOS 7.

[2021-01-18 12:53] fvasco commented on #2700
Documentation: we did not found how to configure IAM, what are permissions used?

Compression +1, it reduces overall costs.

[2021-01-18 20:40] hsmatulisgoogle opened #2953 "[1.7dev] valgrind reports possible race conditions with stackdriver draft PR"
In draft PR https://github.com/fluent/fluent-bit/pull/2924, running `valgrind --tool=drd fluent-bit` results in quite a few possible data races. From what I understood from their documentation, the technique used by these tools shouldn't result in false positives.

 I wasn't able to pin down what is causing some of these, but some of them are not related to the stackdriver plugin. There is a commo

[2021-01-18 21:15] simbou2000 commented on #2566
Hi again,
Since the potential of the deadlock due to using all of the available file descriptors, we made a custom build using the proposed changes and we didn't encounter any weird issues.
We still are interesting to use the original code there's a way to prevent the deadlock problem to occur.
So far, I found that restarting the service helps to put it back again until it happens again.

Perhaps

[2021-01-19 04:41] qingling128 commented on #2746
@edsiper @fujimotos - Any idea for the expected behavior here? Is this considered a bug with [flb_pack_json](https://github.com/fluent/fluent-bit/blob/d87ee18a22e00ce8d1194707e8285f30deb15ec0/src/flb_pack.c#L219)?

[2021-01-19 07:45] frank90086 commented on #914
I am facing this problem and don't know how to fix it.

I mount fluent-bit log path to application log path, fluent-bit tail logs when startup (because Read_from_Head set true), and do nothing until application stop then flush all of un-flushed logs to output.

#### Fluent-bit version
V1.6.10
#### Docker Image
fluent/fluent-bit:1.6.10
#### Application lang
dotnet core 3.1
#### Log provider
serilog

[2021-01-19 12:46] sjentzsch commented on #2950
Even with storage disabled pods randomly freeze (occured yesterday and today once). I suspect this being a general bug in recent versions of fluent-bit? Maybe related to recent changes with socket handling.

[2021-01-19 21:02] namevic opened #2955 "Missing logs in elasticsearch, inotify_fs_add in logs"
## Bug Report

Hello
I see the error in fluent bit logs after upgrade to the last version and also I miss many logs from some containers
Previously used helm fluentbit version 2.8.7 with app version 1.3.5 and all worked well, previously updated to 0.7.13 and started receiving this errors in logs.
Same error on 0.8.0.

**To Reproduce**
values.yaml
[code]
install
[code]
Example of logs
[code]
**Your

[2021-01-19 23:27] zhonghui12 commented on #2700
Hi @fvasco , `s3:PutObject` is the only permission we need and you check [here](https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuAndPermissions.html) for more details.

[2021-01-19 23:31] zhonghui12 commented on #2700
Gzip compression is available in S3, and you can `compression: gzip` to enable it in the configuration file.

[2021-01-20 01:01] danielhoherd opened #2956 "[external issue] crash with "concurrent map iteration and map write" in GKE"
## Bug Report

**Describe the bug**

On some nodes, fluentbit frequently crashes with error `concurrent map iteration and map write`. Depending on workload, fluentbit sometimes crashes several hundred times a day on busy nodes due to this problem.

**To Reproduce**
- Example log message if applicable:
Here is the first ~100 lines of a ~1450 line trace. I can provide a full trace if needed.
[code]

[2021-01-20 08:21] browol commented on #2446
@ruby232 Can you show me your solution that you did?

[2021-01-20 08:31] ephemeralsnow commented on #2700
I'm expecting `json_date_key: false` to be implemented like out_stdout.
https://docs.fluentbit.io/manual/pipeline/outputs/standard-output#configuration-parameters

[2021-01-20 09:06] stevehipwell commented on #2937
@edsiper is there any progress on this or anything I can do to help? We're seeing a significant number of pod restarts across our clusters.

[2021-01-20 10:22] fvasco commented on #2700
Hi @zhonghui12,
thank you for your response.

IAM permissions aren't predictable, the S3 plugin page misses this information.

I looked for the `compression` option in https://docs.fluentbit.io/manual/pipeline/outputs/s3, but it is missing, same miss in the source code (https://github.com/fluent/fluent-bit/tree/master/plugins/out_s3).

I tested it using

    [OUTPUT]
        Name            s3

[2021-01-20 11:26] tiagovdot commented on #1115
@shake76 I think you have a typo in PARSER.Name `red_firstline`

[2021-01-20 12:07] imulot opened #2957 "fluentbit crashes with SIGSEGV error when nested incorrect json in the record"
## Bug Report

**Describe the bug**
fluentbit crashes with SIGSEGV error when nested incorrect json is in the record

**To Reproduce**

- Add the following record :

[code]
- Configuration:

[code]

- Stack Trace:

[code]

**Expected behavior**

- fluent-bit must not crash with SIGSEGV with incorrect formatted JSON
[code]

- After fixed, JSON no issue.
[code]

**Your Environment**
* Version used:

[2021-01-20 12:08] shake76 commented on #1115
@tiagovdot Yes you are right fixed!

[2021-01-20 12:18] imulot commented on #2957
Seems related to jsmn.

Parser seems not detected that JSON is incorrectly formatted.
Decode_Field_As json     message  try_next

For example if I add string at the beginning of message field, fluentbit doesn't crash.

`"message":"FOO:{\"foo\":\"\",\"bar\":\"test\"}{\"foo\":\"\",\"bar\":\"test\"}","threadName":"Thread-17"}`

[2021-01-20 13:13] #2955 closed

[2021-01-20 18:19] zhonghui12 commented on #2700
Hi @fvasco, thanks for the suggestions. We've submitted the PRs and they are ready to be merged. The documentation will be updated soon.

[2021-01-20 19:19] PettitWesley commented on #2700
@fvasco Use v1.6.10 or the code in the 1.6 branch for compression support

[2021-01-20 19:34] ChrsMark commented on #2833
Closed by #2834

[2021-01-20 19:34] #2833 closed

[2021-01-20 20:36] salamanderrex commented on #2769
I am also facing this issue and looking forward the fix.

[2021-01-20 21:07] jcdauchy commented on #2931
Would be great to have more information @levindecaro

[2021-01-20 21:28] binarytrails opened #2959 "input/winlog: reason for missing parsing of critical elements like username"
Looking at one main Windows issue:

The ingestion engine taking in our windows logs from the cloud was expecting a typical parsed windows logs to be able to extract windows user etc. (aka critical windows information like in case login/logout windows events) but what we got is more like this:
[code]
As you can see the username is in a list called "string_inserts" which is parsed!

Do you have any

[2021-01-21 00:05] edsiper commented on #2746
thanks for reporting this;

yeah, the problem was in the packer, just fixed in 5888f78675a503c4c08f0d87a1f0d8826c62dc98

[2021-01-21 00:05] #2746 closed

[2021-01-21 00:45] edsiper commented on #2959
assigned to @fujimotos

[2021-01-21 00:52] PettitWesley commented on #2927
As of yesterday, we saw the same issue.

CC @zhonghui12

[2021-01-21 03:44] qingling128 commented on #2746
Thanks a lot @edsiper !

[2021-01-21 14:37] sandeepsingh0321 commented on #2949
I am closing this issue because I found that I can use metricbeat's http module to feed the metrics into ELK cluster

[2021-01-21 14:37] #2949 closed

[2021-01-21 15:17] red-trela opened #2961 "Dashes in config (of grep filter) lead to error"
## Bug Report

**Describe the bug**
I have a log line with two keys: `homeOrganization` and `persistent-id`. I want to exclude log lines, where either of them is set to `-`.

This is the configuration I'm using for this:
[code]

The problem is, the dash in `persistent-id` causes an issue: `[error] [lib] backend failed`. When I remove the last line in the snippet above, the error vanishes. It's qui

[2021-01-21 18:22] arunp-motorq commented on #1925
Will be good to have an input plugin for Eventhub.  Most of the azure services has support to stream logs to eventhubs

[2021-01-21 19:04] harrish81286 opened #2962 "S3 Multi part upload is not uploading the final chunk correctly"
## Bug Report

**Describe the bug**
When S3 plugin is setup to use the multi part upload with chunk size to s3, final chunk is not uploaded properly. It creates a separate file for the last chunk. If you see in the example below, chunk size was set to 5M. Overall the log size is about 17M. But I see 2 files with 11.7

**To Reproduce**
`[SERVICE]
    Flush 1
    Grace 120

[OUTPUT]
    Name

[2021-01-21 19:39] totodile94 commented on #2847
@rashmichandrashekar   We are trying aks as well.  We testing fluentbit on a small scale and it worked fine.  We have similar log pattern in prod to the numbers you posted .  Please reply here if you find a solution for logs at high rate.

[2021-01-21 20:34] red-trela commented on #2961
Apparently LogQL doesn't like dashes in identifiers either, so this seems to be a limitation of Loki.

[2021-01-21 20:34] #2961 closed

[2021-01-22 05:54] baoervsdier opened #2963 "Match_Regex plugin of <output> There is a problem with matching"
## Bug Report
Match_Regex plugin of <output> There is a problem with matching
**Describe the bug**
I have deployed fluent bit to the k8s cluster for testing, and want to filter the logs of different containers to different es indexes through the Match_Regex plugin of <output>, like this: Match_Regex      ^(kube.(?~(service-bff|report-management)).*), but unsuccessful, he matched all log files
![im

[2021-01-22 06:24] gregmankes opened #2964 "out_s3: Add support for specific keys per output"
**Is your feature request related to a problem? Please describe.**
The aws s3 sdk allows the user to specify the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY for a particular aws client. Per the credential provider chain [here](https://github.com/fluent/fluent-bit/blob/22f932549d77b3c9f75e5c39a9f3e93a7bb814f6/src/aws/flb_aws_credentials.c#L53-L65), support for specific credentials for an output is

[2021-01-22 06:32] gregmankes commented on #2700
Hi @PettitWesley 👋 I wrote up [this feature request](https://github.com/fluent/fluent-bit/issues/2964)

TL;DR: It would be great if we could configure the aws s3 credentials via the output configuration 😄

[2021-01-22 07:13] harrish81286 commented on #2962
I believe this is explained better in https://github.com/fluent/fluent-bit/issues/2905#issuecomment-755766783

But I think this behavior needs to be enhanced because we lose the continuity of the log and clients are somehow expected to stich the logs together to recreate the chronological order of the logs.

[2021-01-22 07:20] harrish81286 commented on #2700
I have explained my issue in https://github.com/fluent/fluent-bit/issues/2962

The last chunk of the log (which is not meeting the minimum size of the multipart upload) should be part of multipart upload before the log router exits. This will help us not to stich the logs together to maintain the chronological order later. Here we don't expect the container to restart and hence the request.

[2021-01-22 07:43] PettitWesley commented on #2962
I don't understand this... if you are uploading logs over time you will always end up with multiple log files.

Are you collecting a fixed amount of logs and desire them to all be in the same file in S3?

Also- the logs shouldn't be out of order in this case (though the plugin also can not make guarantees that logs will necessarily be in order across files).

The reason I chose to implement it thi

[2021-01-22 07:52] harrish81286 commented on #2962
Hi,

Thanks for the reply.

Use case here is that we have a long running job (for example a build command which runs for 45 mins - 2hrs) via the ecs task. Once the job is complete, same task will not run again and the EC2 machines will be used for some other build at later point of time. So we would like to capture all the logs belonging to that particular task which we can use it for debugging pu

[2021-01-22 08:23] harrish81286 commented on #2962
Yes, this is correct. Since we know a task runs for a given amount of time, we would like to collect all of its log into a single file.

Thanks

[2021-01-22 09:15] jiaozhipei commented on #2963
我也遇到这个问题，请问如何解决呀。多谢。

[2021-01-22 09:29] levindecaro commented on #2931
Hi, here is the config I'm using, 3 output are going to same loki, I cannot capture the flunet-bit log output, since the testing farm already put into production. thanks.

[code]

[2021-01-22 13:23] beer1970 commented on #1670
any update on this issue

[2021-01-23 06:22] michaeltalyansky opened #2966 "BigQuery output plugin doesn't recognize and report insert errors"
## Bug Report

**Describe the bug**

BigQuery output plugin doesn't report errors on table insert in BigQuery. Makes it very difficult to diagnose insert errors.

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
[code]
- Steps to reproduce the problem:

create a BQ table with a schema. Send JSON record that doesn't match the schema to FluentBit. FB doesn't report

[2021-01-24 06:52] #2952 closed

[2021-01-24 19:40] one1zero1one commented on #2674
This was handled by switching `fluent-bit` from a `DaemonSet` to a sidecar pattern such that the very high throughput pods had each a `fluent-bit` instance.

While this does not solve the problem (visbility of the intestion failures) it most certainly reduces the pressure.

[2021-01-24 19:40] #2674 closed

[2021-01-25 04:33] agup006 commented on #2674
Hey @one1zero1one, glad to hear that changing to a sidecar pattern was helpful. Also good to see which metrics would be useful to expose. Our next version of fluent bit 1.7.0 (coming in next few weeks) includes multi worker and increased performance as well which should help with the traditional daemon set deployment.

happy to chat about it in more detail if you are interested

[2021-01-25 05:14] edsiper commented on #1670
Elasticsearch output plugin has been updated for ```logstash_prefix_key``` option. Changes:

[code]

[2021-01-25 13:13] HontoNoRoger opened #2967 "syslog-rfc5424 parser incorrectly always expects time fractions"
## Bug Report

Currently, the syslog-rfc5424 parser only supports time formats with fractions of a second: `Time_Format %Y-%m-%dT%H:%M:%S.%L%z`

This is not according to the standard however, because [RFC 5424 - Section 6.2.3](https://tools.ietf.org/html/rfc5424#section-6.2.3) describes that

As seen in the Syslog Message Format in section 6, the fraction is in brackets and therefore optional.

**

[2021-01-25 13:35] HontoNoRoger commented on #2967
I wanted to propose to simply add the other time format as well, so fluent-bit can pick a matching one.
As it seems though, only the first `Time_Format` entry is being used, is that correct?

I tried to have both variations configured as `Time_Format` like so:
[code]
and fluent-bit didn't complain at start, but sending the syslog message with second fractions result in parser errors.

[2021-01-25 15:49] #1670 closed

[2021-01-25 15:50] edsiper commented on #1775
Elasticsearch output plugin has been updated for logstash_prefix_key option. Changes:

[code]

the changes will be part of Fluent Bit v1.7 release.

[2021-01-25 15:51] edsiper commented on #421
Elasticsearch output plugin has been updated for logstash_prefix_key option. Changes:

[code]

[2021-01-25 15:51] #421 closed

[2021-01-25 15:52] #1775 closed

[2021-01-25 16:13] beer1970 commented on #1670
But then still you fluent-bit will create a new index every day with the date in the titel as the alias cannot remove the date
prod in stead of prod-2021.01.24 so elastic can rollover the index with ilm

[2021-01-25 20:04] edsiper commented on #1670
@beer1970 do you think the ideal case will port the same feature for non logstash_format ?

[2021-01-25 22:10] ekund opened #2968 "Additional metrics needed"
**Is your feature request related to a problem? Please describe.**
We would like to have the following metrics exposed in Prometheus format:
1. Total number of records that were attempted to be written as output, including both those that succeeded as well as those that failed.  This is different than `fluentbit_output_proc_records_total` which only count those that were [successfully written](htt

[2021-01-26 00:41] #2908 closed

[2021-01-26 09:00] HontoNoRoger commented on #385
I thought that would already be the case?
I see there are two `Time_Format` entries for the default syslog-rfc3164 parser already.
But according to my tests in #2967 only the first one is actually used and the second one gets silently ignored.

This functionality would be an easy way to solve my issue above.

[2021-01-26 09:08] beer1970 commented on #1670
would be nice to still have the logstash_format as format of the event but a option to skip the date on the end

[2021-01-26 09:16] stevehipwell commented on #2937
@edsiper we've still got crashing pods, it does look like it's Loki related. Is there anything I need to do to help this get resolved?

[2021-01-26 10:14] dmytroleonenko commented on #737
Any progress? Thanks

[2021-01-26 10:42] roboslone commented on #604
+1

[2021-01-26 11:17] rmacian commented on #2095
The same here. This also breaks the Merge_Log because looks for 'log' key to create the 'log_processed' field. The solution of changing the parser solves it. It should be noted on the documentation

[2021-01-26 17:40] jraby opened #2972 "out_forward: "could not write forward header" (v1.6.10)"
## Bug Report
Hi,
I have 2 instances of fluent-bit v1.6.10 on the same machine, but in different kubernetes pods:

  - One instance (forward client) is using in_tail + filter_kubernetes + out_forward
  - The other instance (forward server) is using in_forward + out_es

(See below for configs)
The machine is running ubuntu 18.04, with k3s 1.20, if that matters.

After the setup has been running for

[2021-01-26 18:51] edsiper commented on #2972
thanks for opening this issue.

I've noticed that your aggregator buffers (forward server) are a bit small considering that the client might send chunks of ~2MB, I am referring to this:

[code]

I might suggest adjust it to:

[code]

[2021-01-26 19:23] offero commented on #421
@edsiper What version?

[2021-01-26 19:27] jraby commented on #2972
Indeed, I forgot to mention that I've seen like 2 `incoming data exceed limit (64000 bytes)` on the receiving side.
I'll try your suggestion, but I should mention that these buffer full messages appeared much later than the first instance of `could not write forward header`

I took the in_forward config from https://docs.fluentbit.io/manual/pipeline/inputs/forward#configuration-file.

Also, relate

[2021-01-26 20:03] edsiper commented on #421
It will be part of Fluent Bit v1.7 release (1 or 2 weeks from now)

[2021-01-26 20:08] tchen commented on #2700
I found that if `compression: gzip` is set, `use_put_object: true` is also needed. Hope this gets documented. Or point me to the documentation and I can make a PR for it.

I plan to query the logs via AWS Athena. One issue I ran into with using compression is that Athena does not read the logs as gzip format unless the extension is `.gz`. But due to the unique suffix added to the file name, this b

[2021-01-26 20:41] PettitWesley commented on #2700
@tchen I believe we already put up a PR for those docs. CC @zhonghui12

Interesting. We are planning on fixing this in the next few months. I think I made a comment earlier in this issue on the plan. You'll have the option of configuring where the randomness gets added to the file name, which will let you set any extension which is needed.

[2021-01-26 21:31] agup006 commented on #2095
Hey @rmacian et al, we have the following docs for CRI parsing anything else we should add to close out this issue? https://docs.fluentbit.io/manual/installation/kubernetes#container-runtime-interface-cri-parser

[2021-01-26 21:37] offero commented on #1775
Can it only be 1 key or a template?

[2021-01-26 22:01] edsiper commented on #1775
one key or nested keys, one key would be like ```$mykey```

[2021-01-26 22:43] zhonghui12 commented on #2927
Hi @edsiper, we still face the same issue:

[2021-01-26 23:15] edsiper commented on #2927
I am trying to reproduce this locally.

@PettitWesley @zhonghui12

Would you please instruct me how to setup the authentication properly using the following config snippet ?

[code]

[2021-01-27 00:14] PettitWesley opened #2973 "[1.7 Dev] Openssl 1.0 does not work on Amazon Linux (or may in general)"
Openssl 1.0 support seems to be broken.

This can probably be tested in a container.

Install openssl1.0 with: `sudo yum install openssl-devel`

One issue I am seeing is that I can't figure out how to install openssl 1.1 on Amazon Linux.

If you want a dockerfile for Fluent Bit with amazon linux, this will work as a starting point: https://github.com/aws/aws-for-fluent-bit/blob/mainline/Dockerfile

[2021-01-27 00:53] PettitWesley commented on #2973
When I build it with MBEDTLS it works

[2021-01-27 02:22] Platou commented on #2869
Any updates on this? @Theoooooo @edsiper

[2021-01-27 05:16] rmacian commented on #2095
The example breaks the kubernetes filter since the key Merge_Log only checks the log field of the json and not the message that is used on the capture group of the regex: https://docs.fluentbit.io/manual/pipeline/filters/kubernetes

The regex should be changed or an additional parameter on the filter should be added to allow search or the json map.

[2021-01-27 05:27] fujimotos commented on #2973
@PettitWesley I borrowed my company's AWS account, and could confirm that
Fluent Bit indeed fails to establish TLS connectins on Amazon Linux.

Digging around the connection error, I noticed that Amazon Linux's system
cert folder looked like this:

[code]

and OpenSSL's documentation says:

So Amazon Linux evidently does not provide system certs in a format that
`SSL_CTX_load_verify_locations()` e

[2021-01-27 14:35] offero commented on #1775
Is there a way to template it in a previous filter?

[2021-01-27 15:00] #2508 closed

[2021-01-27 15:09] #2943 closed

[2021-01-27 15:10] #2757 closed

[2021-01-27 15:52] #2963 closed

[2021-01-27 15:54] edsiper commented on #2927
original issue detailed on #2973, fixed by #2974

[2021-01-27 15:54] #2927 closed

[2021-01-27 18:52] sophieyfang opened #2976 "Running windows agent build off master branch has hashcode != and cannot talk metatdata agent"
## Bug Report

**Describe the bug**
Building the agent off the master branch (commit: 3e42536404b5e21843107a2089878302d41654a4)
Following instructions [here](https://github.com/fluent/fluent-bit-docs/blob/master/installation/windows.md#compilation) to build agent has no trouble. The problem occurs when running the agent. It has runtime error then the agent exits right away..

**To Reproduce**

Bui

[2021-01-27 19:24] qingling128 commented on #2976
For comparison, this commit from 20 days ago has no build error nor runtime error: c6cccd68827fe98396eee90d4810a9595d8236e0

[code]

[2021-01-27 19:35] sophieyfang opened #2978 "[windows] runtime Chunk I/O crc32 error off tag v1.7.0-rc1"
## Bug Report

**Describe the bug**
Build windows agent by following this guide: https://github.com/fluent/fluent-bit-docs/blob/master/installation/windows.md#compilation

**To Reproduce**
git checkout tags/v1.7.0-rc1 -b 1.7.0-rc1
Then compiling it by https://github.com/fluent/fluent-bit-docs/blob/master/installation/windows.md#compilation
<img width="1380" alt="Screen Shot 2021-01-27 at 1 59 30 P

[2021-01-27 19:43] qingling128 commented on #2696
Hi @fujimotos - Any update regarding this feature request?

[2021-01-27 19:48] rashmichandrashekar commented on #2847
We saw some improvements when we moved to later version of fluent bit - 1.6.8 and by setting buffer chunk and max size to 1M.

[2021-01-27 21:20] #2837 closed

[2021-01-27 21:55] edsiper commented on #2978
@sophieyfang

Looks like the latest GIT master (future -rc2) is building fine, I just did a test, here are the build logs and artifacts:

https://ci.appveyor.com/project/fluent/fluent-bit-2e87g/builds/37480911

[2021-01-27 21:57] edsiper commented on #2976
@sophieyfang can you try please the latest GIT master: e75861c9 ?

[2021-01-27 21:57] sophieyfang commented on #2978
yes, but master branch has run-time error: https://github.com/fluent/fluent-bit/issues/2976

[2021-01-27 22:09] edsiper commented on #2978
@sophieyfang does revert f53b4888091 works (just that commit) ?. that commit only change the first 4 bytes of the crc32

[2021-01-27 22:11] sophieyfang commented on #2976
Yes, i am building off that commit hash you mentioned above. Shall take ~7 mins to build. Then i will test it with our configuration file: https://github.com/GoogleCloudPlatform/ops-agent/blob/master/confgenerator/testdata/valid/windows_default_config/golden_fluent_bit_main.conf and I will let you know how it goes :)

[2021-01-27 22:21] sophieyfang commented on #2976
Still same exception..
[code]

[2021-01-27 22:24] sophieyfang commented on #2978
I don't think we want to revert https://github.com/fluent/fluent-bit/commit/f53b48880916c20fc7434d23a32e2588075d1b98... As i tested so far with many different commit hashes, git checkout f53b48880916c20fc7434d23a32e2588075d1b98 is the only one that has no run-time error or build-time error

[2021-01-27 22:33] sophieyfang commented on #2976
I think there are two problems here one is with the cio hash match and the other is with the server connection.. Checking out from f53b48880916c20fc7434d23a32e2588075d1b98 can successfully send logs to our backends. There are a lot of commits in between the master branch and from that good commit hash f53b48880916c20fc7434d23a32e2588075d1b98. Somewhere in between introduces the bugs.

[2021-01-27 22:41] edsiper commented on #2976
do you have access to the generated file ```flb_info.h``` ?, usually is placed into include/fluent-bit after running cmake

[2021-01-27 22:43] sophieyfang commented on #2976
`flb_info.h`
[code]

[2021-01-27 23:09] stawny commented on #2914
Following the replication steps and extensively testing (using only `file` OUTPUT), I have made the following observations:

The number of INPUT streams has a direct relation to the number of duplicate entries. As long as fewer than 32 are used, I was not able to replicate any duplicated entries. When the number of streams is more than 32 (N-32 > 0), then we observe N-32*2 duplicates, namely the f

[2021-01-27 23:34] PettitWesley commented on #2914
@edsiper this is a core issue. Something in routing must be broken when 32 or more inputs are configured. I am guessing the code has something hardcoded somewhere that adds this limitation.

[2021-01-27 23:58] jgante opened #2980 "[AWS Go plugin] panic: reflect: call of reflect.Value.Index on int64 Value"
## Bug Report

**Describe the bug**
panic: reflect: call of reflect.Value.Index on int64 Value

**To Reproduce**
- Rubular link if applicable:
- Example log message if applicable:
panic: reflect: call of reflect.Value.Index on int64 Value
goroutine 17 [running, locked to thread]:
reflect.Value.Index(0x7f7c8f716aa0, 0xc0005de380, 0x86, 0x0, 0x0, 0x693fc, 0x1)
        /usr/local/go/src/reflect/value

[2021-01-28 00:45] panaji commented on #2688
Hi, i'm testing a scenario with slow destination and hit the same issue after the total_limit_size is reached. I also post in the slack channel. Sorry if it's duplicate.

Version: 1.6.8

**When the destination is healthy:**

- input rate = 3700 eps
- output rate = 3700 eps
- cpu = 500m, mem < 60M
- storage layer is very healthy with only 5 chunks_up

**When the destination is unhealthy:**

- input

[2021-01-28 01:38] PettitWesley opened #2983 "[1.7 dev] Multi Workers leads to seg fault"
This happened while testing #2982

Config:

[code]

The crash:

[code]

[2021-01-28 01:38] PettitWesley commented on #2983
The socket warning errors are constant; they happen continually, long before the crash:

[code]

[2021-01-28 01:54] PettitWesley commented on #2942
@ebertti This should be fixed by #2984

I have an image here which any AWS account can pull that has the fix: 094266400487.dkr.ecr.us-west-2.amazonaws.com/s3-crash-valgrind:latest

It also includes the valgrind tool which will give detailed error information if it crashes again. You can choose to use that image if you want, or wait till the fix is released (in the next  1-2 weeks).

[2021-01-28 01:57] edsiper commented on #2983
same crash if you set ```workers 1``` ?

[2021-01-28 02:47] fujimotos commented on #2696
@qingling128 I'm currently planning to work on this task in the next v1.8 dev cycle.

[2021-01-28 02:49] fujimotos commented on #2976
@sophieyfang Probably #2981 fixes the connection issue.

Can you check out the latest master HEAD (with the existing buffer cleared)
and see if your issue still persists?

[2021-01-28 02:56] #1694 closed

[2021-01-28 03:01] Binyang2014 commented on #1746
@edsiper Any update for this issue? And is possible to let output plugin to control the order even input messages are out of order.

[2021-01-28 03:07] fujimotos commented on #2625
I revisited this issue this morning, and found that `flb_strptime()`
actually can handle timezone specification like `+00:00` .

https://github.com/fluent/fluent-bit/blob/master/src/flb_strptime.c#L513

On a closer look, the root problem here seems to be that the configuration
uses `%Z` instead of '%z'. According to the `strptime(2)`:

       %z     An RFC-822/ISO 8601 standard timezone specificat

[2021-01-28 03:14] fujimotos commented on #2941
This is due to Windows' `struct tm` does not support GMTOFF.

While `flb_strptime()` does support the parsing of timezones, but
it cannot report back the parsed bit due to this restriction.

We'll need to add a special logic to retain timezone info on Windows.

[2021-01-28 03:28] qingling128 commented on #2696
Thanks for the heads up! We'll plan our work accordingly.

[2021-01-28 03:37] qingling128 commented on #2696
I was about to draft a PR to update the doc at https://docs.fluentbit.io/manual/administration/monitoring, but it seems like the master branch has been updated already: https://github.com/fluent/fluent-bit-docs/commit/7bdc708e079289eec6ef1b03fcb5327bf79889d9. Any idea why the doc page is not updated?

[2021-01-28 03:53] sophieyfang commented on #2976
Verified building off the master branch at the time point in the screenshot fixes the issue. The repo is very actively being touched. The moment that i cloned the repo, one ppl commit after you.
<img width="891" alt="Screen Shot 2021-01-27 at 10 28 57 PM" src="https://user-images.githubusercontent.com/8354694/106087597-56d3b800-60f2-11eb-9d1b-7ed97d3d2f1b.png">

[2021-01-28 04:21] fujimotos commented on #2696
@qingling128 My understanding is that the master branch points to

https://docs.fluentbit.io/manual/v/master/administration/monitoring

while `1.6` branch points to:

https://docs.fluentbit.io/manual//administration/monitoring

My guess is that the commit was merged but not cherry-picked to `v1.6` branch,
so it's not appearing on the current page.

[2021-01-28 04:38] qingling128 commented on #2696
Ah I see. That makes sense. Thanks for checking!

[2021-01-28 09:21] dmytroleonenko commented on #2983
happens to me too. Sending logs to cloudwatch_logs only

[2021-01-28 15:07] JeffLuoo commented on #2688
@panaji Thanks for posting the issue. Could you please let me know how to reproduce this issue (config file, environment) if possible?

[2021-01-28 16:16] PettitWesley commented on #2983
I will try `workers 1` later today. The firehose plugin is concurrent safe though (or at least should be) and should be able to support more than one worker.

@dmytroleonenko Note that the cloudwatch_logs plugin will not work with more than 1 worker. Since the PutLogEvents API requires requests to the same log stream to be synchronous/in-order the plugin was not built to be truly concurrent.

CC @

[2021-01-28 17:44] panaji commented on #2688
@JeffLuoo , thanks for the quick response.

I'm running on k8s environment (1.18.10). Logs are generated by one container in logging-perf-test namespace.

**Resource reservation:**
[code]

**Fluentbit config:**
[code]

**This is a snapshot of the storage during the run:**
[code]

[2021-01-28 18:39] matthewhembree commented on #2625
@fujimotos I may be responsible for some confusion here.

In my report above, I stated:

But the actual errors from the tracelog above were with `syslog-rfc5424` which uses this [time format](https://github.com/fluent/fluent-bit/blob/1a52f8e5302414a1295ac7739598bc8e3c17c544/conf/parsers.conf#L69).

I also used the custom parser in my config above just to test flipping the case:
[code]

What I ende

[2021-01-28 20:11] SimonSchmid opened #2986 "[MinIO Support] "An invalid SSL record was received" when trying to connec to MinIO"
Hey all,

Not sure if that's a bug or a feature request, feel free to change it. I am trying to setup fluent bit on Kubernetes using minio as output but I am not able to get it to work.

Here my configuration of the output:
[code]
That's the error I get:
[code]
I tried to play around with endpoint by adding http, https, or a port. I also tried to set the tls.verify option off but it didn't make an

[2021-01-28 20:30] pranavmarla opened #2987 "Feature Request: Ability to see final resolved Fluent Bit config"
**Is your feature request related to a problem? Please describe.**
Recently, I ran into an issue where I was trying to `@INCLUDE` a file in my Fluent Bit config, but it wasn't being substituted properly. Unfortunately, debugging this was pretty much impossible, since there's no way to see how exactly the final Fluent Bit config file looks AFTER the `@INCLUDE` is resolved.

**Describe the solution

[2021-01-28 20:31] juanpabloaj opened #2988 "Log's message with curly brackets disappeared"
When I run a service with docker-compose I can see these log lines

[code]

But when I send these logs to fluent-bit, I see this

[code]

The log line

[code]

was converted into

[code]

The message disappeared.

**Your Environment**

fluent-bit docker image `fluent/fluent-bit:1.6`

This is my `fluent-bit.conf`

[code]

docker version

[code]

[2021-01-28 21:00] zhonghui12 commented on #2983
Hi @edsiper, it seems that our kinesis plugin doesn't work now and we are working on figuring it out.

[2021-01-28 22:13] edsiper commented on #2957
thanks for reporting this issue. A fix has been pushed to GIT master and also will be part of v1.6 release (this Friday).

fix: bd43f031

[2021-01-28 22:13] #2957 closed

[2021-01-29 02:12] BatmansByte commented on #2930
Still, version 1.6.10

Did the above,
cmake .. -DFLB_IN_HTTP=no
make

got
Scanning dependencies of target fluent-bit-bin
[ 85%] Building C object src/CMakeFiles/fluent-bit-bin.dir/fluent-bit.c.o
[ 85%] Building C object src/CMakeFiles/fluent-bit-bin.dir/flb_dump.c.o
make[2]: *** No rule to make target 'lib/libonigmo.a', needed by 'bin/fluent-bit'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:5331: sr

[2021-01-29 08:29] Theoooooo commented on #2869
Welp, i've been struggling to test if this was fixed in the latest version because of the issue i've posted a few weeks ago #2886
From this point, this issue is preventing me to update to the lastest because this routine wildcard issue is sending data at every output i've configured.

I didn't have the time to properly do testing procedure to see what's going on regarding this wildcard routine iss

[2021-01-29 12:48] juanpabloaj commented on #2988
The lines missed were not in logfmt format.

I solved it by changing the log format of those lines to logfmt.

[2021-01-29 12:48] #2988 closed

[2021-01-29 12:59] DK999 commented on #2851
Works fine, fixed the issue for me too.

[2021-01-29 20:47] edsiper commented on #2851
thanks for the comments.

FYI: v1.7.0 will come with Systemd support enabled (6e63092d)

[2021-01-29 20:47] #2851 closed

[2021-01-29 20:51] edsiper commented on #2986
I think for now you should go with Fluentd since our S3 connector depends on AWS API, I suspect our aws client interface should be disabled for MinIO.

I will let this ticket open as an ehancement request

[2021-01-29 20:52] #2973 closed

[2021-01-29 20:59] edsiper commented on #2956
@hsmatulisgoogle I think this is GKE specific issue since the connector in use is not part of upstream project, can you take a look or advice ?

[2021-01-29 21:15] hsmatulisgoogle commented on #2956
This looks like a GKE specific issue, but I am not familiar with that part of the codebase

[2021-01-29 22:13] edsiper commented on #2956
@danielhoherd since the crash is in a custom plugin by Google, I'd suggest you open a ticket with Google team directly for assistance, we don't have access to that code.

[2021-01-29 22:49] edsiper commented on #2956
Closing the ticket since it's not associated with Fluent Bit code base

[2021-01-29 22:49] #2956 closed

[2021-01-30 03:13] nokute78 commented on #2980
The issue is about fluent-bit-go-s3 , but the plugin is already deprecated.
https://github.com/cosmo0920/fluent-bit-go-s3

The point is `panic: reflect: call of reflect.Value.Index on int64 Value` .
This issue is already fixed on fluent-bit-go repo. https://github.com/fluent/fluent-bit-go/issues/34 / https://github.com/fluent/fluent-bit-go/pull/35

However, it  may not be merged to fluent-bit-go-s

[2021-01-30 03:21] nokute78 commented on #2930
@BatmansByte

1. Could you try to build after `make clean` ?
1. What is your environment ?
1. Could you share full build log?

[2021-01-30 14:52] vahric commented on #2696
Any change to have this feature on 1.7 version ?

[2021-01-30 17:03] cobb-tx commented on #604
——————————————————————————————————————————
I modified the related code but included another error
https://github.com/fluent/fluent-bit/blob/master/plugins/out_file/file.c#L329：
    char *argv = "mkdir -p  ";
    char *eval_string = (char *) malloc(strlen(argv) + strlen(ctx->out_path));
    system(eval_string);

the new error：
[2021/01/30 16:48:22] [ info] [engine] started (pid=9)
[2021/01/30 16:48

[2021-01-31 23:58] sophieyfang commented on #2978
This has been fixed in v1.7.0-rc3

[2021-01-31 23:58] #2978 closed

[2021-02-01 02:10] cobb-tx commented on #604
I solved the problem

[2021-02-01 02:54] l2dy commented on #1555
Use bison from MacPorts or Homebrew. Apple is unlikely to update their /usr/bin/bison.

This issue should be closed.

[2021-02-01 03:07] l2dy opened #2993 "Unable to build bundled LuaJIT on macOS"
## Bug Report

**Describe the bug**
[code]

**To Reproduce**
- Steps to reproduce the problem:
1. `cmake -DFLB_TESTS_INTERNAL=On -DFLB_TESTS_RUNTIME=On ..`
2. `make`

**Expected behavior**
Build passes.

**Your Environment**

* Version used: 6e63092d1f8f064526b13239af6c4b81492346da
* Configuration: N/A
* Operating System and version: macOS 10.15, Xcode 12.3

**Additional context**

[2021-02-01 08:09] SimonSchmid commented on #2986
I went with Fluentd and it works, thank you!

[2021-02-01 10:33] l2dy commented on #2821
I have implemented this in #2995, try it out.

Is that the `DropSingleKey` option from the grafana-loki Go plugin?

[2021-02-01 11:33] imulot commented on #2957
@edsiper,
Are you sure it will be backported to v1.6 release ?
flb_pack_json_recs() used by the fix is not present in 1.6.10 release.

I attempt to build (with docker build)  1.7-rc3 to test the fix .

Build failed :

[code]

[2021-02-01 13:02] nokute78 commented on #2914
`flb_task_create` reports no route found when id=32.
It means this condition is not matched.
[code]

[code]

[2021-02-01 13:18] nokute78 commented on #2914
Hmm, I sent a patch to mitigate this issue.
My patch allows 64 inputs. However this issue will happen when 64+ inputs...

[2021-02-01 16:11] edsiper commented on #2914
I've merged fix provided by @nokute78 on #2997.

Now we are taking a look at PR #2914 which allow up to 256 outputs by default, but the value can be changed if needed to support more.

[2021-02-01 16:49] JeffLuoo commented on #2688
@panaji  Thank you!

[2021-02-01 17:13] fpytloun commented on #1543
Hello, any update here?

[2021-02-01 17:50] panaji commented on #2688
@JeffLuoo , I feel that it's more similar to issue 1 on that thread, since I have mem_buf_limit set. However, that thread didn't mention about memory growth or OOMKilled. It said that the storage size was reset. It may have been the same in my case after the container was restarted (due to OOMKilled). I will run the test again to confirm if the storage was indeed reset.

[2021-02-01 18:15] dharmab opened #2998 "systemd input plugin cannot read zstd compressed/hash collision hardened journal files in systemd >= 246"
## Bug Report

**Describe the bug**

systemd 246 changed the default format of journal files:

        * systemd-journald gained support for zstd compression of large fields
          in journal files. The hash tables in journal files have been hardened
          against hash collisions. This is an incompatible change and means
          that journal files created with new systemd versions are not

[2021-02-01 18:32] Blaumer commented on #1935
looks like this is still an issue

[2021-02-01 18:50] agup006 opened #2999 "Failing to compile Fluent Bit with following options"
[code]

[code]

[2021-02-01 20:12] JeffLuoo commented on #2688
@panaji Thanks. From your snapshot of the storage I saw:
[code]

To my understanding according to [docs](https://docs.fluentbit.io/manual/administration/buffering-and-storage) that only `up` chunks are buffered in the memory (which will increase the memory usage) and `down` chunks will be buffered in the disk. A 1.5G memory usage is not normal since `mem_buf_limit ` should be used to limit the mem

[2021-02-01 20:22] panaji commented on #2688
@JeffLuoo , that's exactly the issue I'm facing. Why did the fluentbit memory grow beyond the limit while i have those parameters set?

[2021-02-01 20:32] beth2016 opened #3000 "How do we access kubernetes metadata?"
A newbie question.   I am unable to access anything in kubernetes metadata in fluent-bit.
    [FILTER]
        Name record_modifier
        Match *
        Record hostname kubernetes,host

It is showing the constant string "kubernetes.host"  And not the value.
I tried $kubernetes.host and $kubernetes['host'] - not working

I can see this value is populated in the output.  I am expecting it to retu

[2021-02-01 21:05] ekund commented on #2968
The following is a list of proposed metric names with their labels, that we would like to see:

Metric from Fluentd | Proposed Metric from FluentBit | Mapping to Cloud Monitoring Metric | Required Labels example
-- | -- | -- | --
stackdriver_ingested_entries_count | fluentbit_output_proc_records_total | agent.googleapis.com/agent/log_entry_count | response_code=200
stackdriver_dropped_entries_coun

[2021-02-01 21:29] JeffLuoo commented on #2688
@panaji I am still looking into it. Sorry about that I am still setting up my new devices, but for now, I can only look at the source code to find out the issue. Once my new device is set up I will be able to try to reproduce it which will help me better debug it.

[2021-02-01 22:29] panaji commented on #2688
@JeffLuoo , thanks for looking ... I ran another test and here's what I observed.

When the destination is slow, fluentbit starts to fill up the filesystem storage as expected. Once fluentbit hit the ```total_limit_size``` (1G), this is where the behavior starts to become awry. The chunk errors started showing up. The fs storage was reset, but the errors didn't go away. The storage metrics showed

[2021-02-01 22:32] phin1x commented on #2821
Thanks for implementing the drop label feature. i will try it out in the next days.

yes, i meant the option `DropSingleKey` (i thought this is the default behavior).

[2021-02-02 06:54] BatmansByte commented on #2930
1) I've used make clean. On occasion, I've simple deleted  the directory tree and un-tarzipped the file anew.

2) I was using OpenSuse Leap 15.1 with CMake 10.3 I think.
I took the hint and upgraded to Leap 15.2 (Kernel 5.3.10-lp152.60-default) with CMake 3.17.0 and GNU Make 4.2.1
Still the same problems.

I still get the http error noted above.
onigmo seems to be part of the regex module, used by

[2021-02-02 06:55] elruwen opened #3001 "[1.7rc3] Missing log message when retry succeeded"
## Bug Report

**Describe the bug**
Sometimes a chunk can't be delivered and fluent-bit is retrying it. When that retry succeeds in 1.6.10, I receive a message like this:
[code]
In 1.7rc3 (I use the fluent/fluent-bit:1.7.0-rc3 docker image) this message is not there anymore.

**To Reproduce**
- Create a pipeline where the output talks to another process, for example syslog
- Turn off the output co

[2021-02-02 08:58] stevehipwell commented on #2937
@edsiper I've added the two latest error patterns that I've been getting below which will hopefully show where in the code the issue is happening.

[code]

[code]

[2021-02-02 10:28] jcdauchy-moodys commented on #2821
Testing the master branch + your PR for the last 2 days (not on heavy load) but it seems to work !

Any other inputs ? Hope it will go inside the next 1.7.0 release ?

[2021-02-02 10:46] bansawbanchee commented on #2700
Spark `textfile()` does not handle gzipped files without the .gz extension. Found this out today.. The workaround available for handling gzipped files in Spark without .gz extension is to write some Codecs that look for specific chars at the end of the file name. Unfortunately, this isn't possible either with the unique key being added to the end of the file.

[2021-02-02 12:05] l2dy commented on #2821
@phin1x Yes, this option is on by default. You should open another issue for this feature. I have refactored my code to make it easier to implement.

[2021-02-02 14:06] wstarzak commented on #2950
I do have same issue + there is no way to force healthcheck to restart the pod on timeouts

[2021-02-02 16:27] Fodoj commented on #2805
As a workaround, you can use VPC endpoints to avoid going over internet, thus removing the need for proxy: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_sts_vpce.html.

[2021-02-02 17:46] #2734 closed

[2021-02-02 20:46] dharmab commented on #3000
You probably want to use the Modify plugin's `Copy` rule instead of the Record Modifier plugin: https://docs.fluentbit.io/manual/pipeline/filters/modify#rules. That copies the value an existing key.

[2021-02-02 20:51] dharmab commented on #2998
Further context:

https://github.com/systemd/systemd/commit/8653185a9eda17d9b0781cb19cb4d3c6ce28d264#diff-da05bd703b33dc8898bd760a37cea6eb031d04632f4930f7c5a2cdaede90d8e1

https://github.com/systemd/systemd/issues/16749

[2021-02-02 21:58] beth2016 commented on #2724
I need this as well.

[2021-02-02 22:05] PettitWesley opened #3004 "[1.7 dev] Connection issues occur with Docker Image and AWS Plugins"
When building the dockerfile in master we get:

[code]

This looks like the same issue as: https://github.com/fluent/fluent-bit/issues/2973

[2021-02-02 22:07] PettitWesley commented on #3004
Issue also occurs with `fluent/fluent-bit:1.7.0-rc3`

[2021-02-02 22:27] phin1x opened #3005 "out_loki: implement DropSingleKey option"
**Is your feature request related to a problem? Please describe.**

Feature Request

**Describe the solution you'd like**

The grafana-loki go plugin has a option `DropSingleKey`:

_If set to true and after extracting label_keys a record only has a single key remaining, the log line sent to Loki will just be the value of the record key._

It would be nice if you could implement the feature

**Desc

[2021-02-02 22:28] phin1x commented on #2821
@l2dy i opened a new issue #3005

[2021-02-02 23:22] andreabolandrina opened #3006 "kubernetes filter losing logs in version 1.5, 1.6 and 1.7 (but not in version 1.3.x)"
Hi, I'm trying to figure out why most of my logs are not getting to destination (Elasticsearch).

I'm using the latest version of fluent-bit (1.6.10-debug) and the latest ES (7.10.2)

This is the config deployed inside fluent-bit:

[code]

With the debugging turned on, I see thousands of "[debug] [filter:kubernetes:kubernetes.0] could not merge JSON log as requested",
but I don't know which log is

[2021-02-02 23:38] jraby commented on #2972
I cranked the values as indicated above (1mb chunk and 5mb max size) and the problem still occurs, every few hours (~12 or something), the forward client.

The same pattern of `shutdown(fd) -> sendto(fd) -> SIGPIPE -> close(fd) -> error` can be observed.

Where could I start poking / looking to narrow this down a bit?
Is there a way to enable trace only for the fwd plugin, short of recompiling?

[2021-02-03 06:09] pawsey-kbuckley opened #3009 "Install of v1.6.10 on SLES12SP3 fails with a Bison error: Version requirements?"
More a request for info/ doc update/ than a package bug,

in that I have previously built  1.3.2 on the platform in question
but have seen this error as far back as v.1.44.

[code]

I fully appreciate that this platform in "old enough to have long
since retired", but, what can I tell you ...

I just wondered what the specific version requirements were,
given that the Requirements page at

https://

[2021-02-03 09:21] lucasvmiguel commented on #2111
Lost a good few days trying to find what was the issue with my cluster. Although is documented [here](https://docs.fluentbit.io/manual/pipeline/filters/kubernetes#configuration-parameters), it's hard to connect this silently drop of logs with logs not showing up in `fluentd`.

Therefore, it would be good to have some kind of `warn`/`error` log in `fluent-bit` to detect this "failure".

[2021-02-03 10:24] andreabolandrina commented on #3006
If I comment out the kubernetes filter then I can see (from the fluent-bit metrics) that 99% of the logs (as in output."es.0".proc_records") are processed, not the 0.05% (1686*100/3352789) like in the json above.

So the issue of missing logs seems to do with the kubernetes filter.
I can't turn it off though, otherwise I won't get any useful data...

[2021-02-03 12:08] nokute78 commented on #2930
@BatmansByte Thank you for sharing logs.

Refer to your build.log, libonigmo.a is installed under `lib64` dir.
[code]

onigmo.cmake sets the path like this. It expects under `lib` dir.
https://github.com/fluent/fluent-bit/blob/804f2af1002b9608a8a2994233583eaf22ad45ba/cmake/onigmo.cmake#L67

Could you try to modify the line like `"${ONIGMO_DEST}/lib64/libonigmo.a"` ?

[2021-02-03 16:50] atheriel commented on #2017
I'm also very interested in this feature and would take a stab at implementing it if it's desirable.

[2021-02-03 17:15] xPB12 commented on #2017
This would definitely be helpful when reading files from a directory which has a huge number of files & the wildcard pattern cannot exclude those files & the only remaining option is the file age.
The ignore_older option does work but it still reads/parses the file and then ignore the records on the basis of timestamp (no timestamp in the record means they can't be ignored). This is inefficient wh

[2021-02-03 18:07] atheriel commented on #2017
The other issue is that tailing thousands of (mostly older) files consumes a large number of kernel resources when using `inotify`, potentially hitting the watch limit and requiring kernel parameter tuning (which is what I encountered).

[2021-02-03 21:42] robinwolny opened #3012 "s3 output - PutObject request failure with AWS EC2 IMDSv2"
## Bug Report

**Describe the bug**
EC2 instances with IMDSv2 cannot upload logs to s3 bucket even EC2 has valid IAM role with a proper policy. EC2 instances with IMDSv1 are working fine. Seems there is an issue to sign the PutObject request (_see the log below_).

Honestly I'm not quite sure if it's a bug but couldn't find anything in the fluentbit documentation. As a workaround we can run the td

[2021-02-03 21:44] edsiper commented on #3005
please paste an example of the record before and after.

[2021-02-03 21:46] SamuelDudley commented on #3012
Likely related: https://github.com/fluent/fluent-bit/issues/2840

[2021-02-03 22:23] phin1x commented on #3005
this is my current output configuration (grafana-loki plugin):
[code]

a sample input could be (json representation):
[code]

The output plugin would drop the keys kubernetes, time and stream and only the key message remains. Without the option, the log line sent to loki would be `message=this is a sample log line`.  With the option DropSingleKey enabled, the output login would only send the value

[2021-02-03 22:55] morfie78 opened #3013 "Allow the ability to lift from arrays in nested JSON"
**Is your feature request related to a problem? Please describe.**
We have JSON that contains an array of items.  We'd like to lift those to the root for processing by ElasticSearch.

**Describe the solution you'd like**
For the example JSON:
`{"timestamp": "2021-02-03T22:08:46.114752",  ... , "watermarks": [{ "key": "value" }, { "key": "value" }], ... }`

And given the config:
[code]

The output

[2021-02-04 00:01] edsiper commented on #3009
Can you try bison 3.x ?

[2021-02-04 02:19] elruwen opened #3014 "chunks are getting stuck"
## Bug Report

**Describe the bug**
When I retry forever in the output plugins and the output destinations are unreliable, then chunks sometimes get stuck.

I see messages like
[code]
but sometimes this is the last thing I see of the chunk. If I send the CONT signal to fluentbit I see that fluentbit still has them.

**To Reproduce**
I got currently a Java dummy application (if required, I can try

[2021-02-04 05:27] kprasad99 commented on #2264
Any plan to implement this feature request? I too ended up with same issue. In my case I don't run ES at customer place, at customer place I read data from k8s logs and write to another place. after copying the generated file to my laptop. I push the data to ES using fluentd. This was working until sometime(don't remember the version in which it was broken). Problem here is neither fluentbit nor f

[2021-02-04 06:28] JulieLily commented on #2161
Have this been released? Which version?

[2021-02-04 08:37] PettitWesley opened #3015 "[1.7 dev] Fluent Bit crashes in cb_s3_init"
## Bug Report

The S3 plugin can make http requests to AWS in its init callback. This is needed to send old data that is found in the `store_dir`.

To reproduce, simply make the plugin buffer some data on the file system, then terminate it before it can send the data, and then restart it.

I built the latest commit in master.

[code]

[2021-02-04 08:41] PettitWesley commented on #3015
I thought may be the problem was caused by the new call to `flb_output_upstream_set` before the http calls in `cb_s3_init`.

So I tried moving that statement to the end of `cb_s3_init` after the http calls. This results in the following output. It successfully sends the old data, but then crashes after init.

[code]

[2021-02-04 08:46] PettitWesley commented on #3015
@edsiper This only seems to happen when I enable multi-workers, even with 1 worker. This is my config:

[code]

[2021-02-04 12:07] etm42 commented on #2914
Thank you for issuing a fix.

I've tested this morning but we are still seeing the cross-stream duplication. To create our image I've cloned github.com/aws/aws-for-fluent-bit.git, then I've changed the line in Dockerfile that checks out Fluent-Bit as shown below:

[code]
This checks out the commit that should solve the issue before proceeding with the standard AWS for Fluent-Bit build. I've also r

[2021-02-04 15:44] edsiper commented on #2914
@etm42 can you try our rc4 ? the image is ```fluent/fluent-bit:1.7.0-rc4```.

[2021-02-04 16:39] vDMG commented on #1142
Restarting the fluent-bit located on the same node then your pod with `fluentbit.io/exclude: "true"`, control by a Statefulset, solve the issue.

[2021-02-04 17:07] jazzdan commented on #2700
@ephemeralsnow this should be implemented in master now, I had the same wish. :)

[2021-02-04 20:11] hsmatulisgoogle opened #3018 "[v1.7.0-rc4] SSL_CTX thread safety"
The following seems to indicate that the SSL_CTX's struct is not thread safe.

[code]
I recommend adding some locks around the SSL code like:
https://github.com/fluent/fluent-bit/blob/b43d4676983fb90109930b32685b7b2ce83fb159/src/tls/openssl.c#L378-L384
Or calling `flb_tls_create` per thread instead of sharing it across multiple threads.

[2021-02-04 20:52] hsmatulisgoogle opened #3019 "[v1.7.0-rc4] Monkey server startup race condition"
Looks like there is a race condition when starting up the HTTP server:
[code]
The race condition is between the following loop when sending data:
https://github.com/fluent/fluent-bit/blob/b43d4676983fb90109930b32685b7b2ce83fb159/lib/monkey/mk_server/mk_fifo.c#L289
and the registering the workers during setup:
https://github.com/fluent/fluent-bit/blob/b43d4676983fb90109930b32685b7b2ce83fb159/lib/mo

[2021-02-04 21:51] BatmansByte commented on #2930
Tried editing onigmo.make as specified, there were two "set" lines in an if/else, modified both of them from lib to lib64.

Then it make clean and re-cmake (no http) and it bombed out again with a similar error for backtrace/backtrace-prefix

make clean, cmake .. ,etc. again, and
modified CMakeLists.txt similarly, changing lib to lib64 on or about line 624
set_target_properties(libbacktrace PROPER

[2021-02-04 22:47] edsiper commented on #3018
@hsmatulisgoogle the version tested was linked against OpenSSL v1.0.x or v1.1.x ?

[2021-02-04 22:57] hsmatulisgoogle commented on #3018
Forgot to include that sorry! v1.1x
[code]

[2021-02-04 23:03] edsiper commented on #3018
we might need this: https://www.openssl.org/docs/man1.1.0/man3/CRYPTO_THREAD_run_once.html#DESCRIPTION

[2021-02-04 23:17] edsiper commented on #3018
ref: https://github.com/openssl/openssl/issues/2165

[2021-02-04 23:27] mayjak commented on #1670
At the minimum what is needed to use ILM successfully is basically an ability to specify a single index without trying to recreate it if it's already present.

I want to store my logs in:
logs-prod
not
logs-prod-2021.01.24

And make ES in charge of maintaining the storage for the index.

A more fancy solution would require fluentbit to configure ILM, like filebeat does here:
https://www.elastic.co

[2021-02-04 23:57] edsiper commented on #3018
@hsmatulisgoogle can you try out the new branch [issue-3018](https://github.com/fluent/fluent-bit/tree/issue-3018)?

note: I did a quick update on the openssl.c backend where now the SSL context access on any function is protected through a mutex. It might work but need extensive testing

[2021-02-05 00:11] hsmatulisgoogle commented on #3018
Valgrind is no longer reporting those errors, I am going to try to leave it running for a while and see if it crashes

[2021-02-05 00:20] hsmatulisgoogle opened #3020 "[v1.7.0-rc4] Error message spam when using out_stackdriver"
When using out_stackdriver, the following error is spammed continuously
[code]

[2021-02-05 00:36] jlunavtgrad commented on #2993
I found this article helpful
https://medium.com/@anujarosha/how-to-build-fluent-bit-source-on-macos-d7424558614c

[2021-02-05 00:56] papovyr opened #3021 "Splunk output Splunk_Send_Raw option works in opposite logic"
Hi,
Im running fluent bit container on k8s : fluent/fluent-bit:1.6.10

And I need to output to splunk

When i use
[code]
I get following message
[code]
In documentation it says that : https://github.com/fluent/fluent-bit-docs/blob/1.6/pipeline/outputs/splunk.md

Splunk_Send_Raw | When enabled, the record keys and values are set in the top level of the map instead of under the event key.note: refer

[2021-02-05 01:04] hsmatulisgoogle commented on #3018
It's been running for about ~45 minutes and hasn't crashed, the other version at this throughput crashed around 40 minutes in. A lower throughput one managed to hold on for 3 hours though, so I'll update this tommorow

[2021-02-05 01:23] papovyr commented on #3021
Also on same document it says deferent things and provides wrong examples. See screen shots below
https://docs.fluentbit.io/manual/pipeline/outputs/splunk#sending-raw-events

<img width="822" alt="Screen Shot 2021-02-04 at 5 21 48 PM" src="https://user-images.githubusercontent.com/56278613/106976557-7891f800-670d-11eb-9fd4-fe55f23bb5a4.png">
<img width="774" alt="Screen Shot 2021-02-04 at 5 22 19

[2021-02-05 01:42] l2dy commented on #2993
Thanks, but in previous versions of Fluent Bit, this was not necessary, so I would consider this a regression.

[2021-02-05 01:43] PettitWesley opened #3022 "Support detailed memory usage metrics for input plugins (utilization of mem_buf_limit)"
**Is your feature request related to a problem? Please describe.**

Its hard to figure out the ideal mem_buf_limit for your scenario. It'd be nice if the tail plugin or all input plugins could emit metrics on their current resource usage. That way you can know which input needs more memory, and right-size the limit.

Its not just about configuring the mem_buf_limit, this would also just be useful

[2021-02-05 01:46] PettitWesley commented on #3022
I wonder if we add the plugin instance to all calls to `flb_malloc` and `flb_free` if we could easily track the allocations each plugin makes?

Or may be we should just emit metrics on certain buffers- the ones which are largest and most likely to contribute to OOMKills.

[2021-02-05 02:18] panaji commented on #2688
@JeffLuoo , I posted in the CNCF Slack workspace, instead of the fluent-all workspace. It seems fluent-all is where the crowd is. I will post my question there.
BTW, can you repro?

[2021-02-05 03:14] edsiper commented on #3020
fixed by 809e70cf05

[2021-02-05 03:14] #3020 closed

[2021-02-05 04:31] mansikulkarni96 commented on #2390
I would be interested to know this, is there a way to cross-compile?

[2021-02-05 06:42] wgb1990 opened #3023 "SIGSEGV error occurred in fluent bit, resulting in process crash"
## Bug Report

**Describe the bug**
We use the version of fluent bit v1.6.9 to collect logs and send them to fluentD. It is found that there is a probability of SIGSEGV error in the production environment, which eventually leads to frequent crash of the process. Then SYSTEMd will pull up the process again, and finally the disk of the machine is full

**To Reproduce**
fluent-bit logs
![image](https

[2021-02-05 08:14] marckamerbeek commented on #3014
Experiencing the same issue here. Using fluentbit version 1.6.6 and output to Elastic Search. No error back from elastic. It only happens to one of many tail input>->k8s filter -> elastic output. In my case to nginx-ingress logs. I got many more (same) input-filter-output flows and they work without any problems.

Tried to turn on Debug, but no succes in finding an error.

[2021-02-05 10:17] Einscrew opened #3024 "Follow symbolic link when appending path key to record"
Hi there,

I think it would be nice to follow symbolic links since they point to the real files being processed.

I'm running Fluent Bit v1.6.10 and I'm not finding any configuration to achieve this and I don't know how much this would change the current flow:

- https://github.com/fluent/fluent-bit/blob/c81a9a5a102f3043294570cfb85e5f8cc1b0d5c6/plugins/in_tail/tail_file.c#L131
- https://github.com

[2021-02-05 15:59] etm42 commented on #2914
@edsiper Thank you. That works from the AWS for Fluent-Bit docker image when performing the simple test. I will test in UAT on Monday.

[2021-02-05 16:30] adinaclaudia commented on #3006
I have same issue and I could reproduce this with versions 1.6.10, 1.5.7, 1.4.6 but it is not reproducible with 1.3.11 (ES version 7.8 in all tests).
My (helm values) configuration:
[code]

[2021-02-05 17:02] hsmatulisgoogle commented on #3018
Looks like it crashed after about 3 hours, which is a definite improvement

[2021-02-05 17:03] edsiper commented on #3018
did you get any errors ?

[2021-02-05 17:06] hsmatulisgoogle commented on #3018
Its looping the following error message:
[code]
Looks like its leaking file descriptors?

[2021-02-05 17:06] andreabolandrina commented on #3006
Very similar situation here.
I'm still running on 1.3.7 because (as reported above) the 1.6.10 loses too many logs.

I've also tested the 1.5.7 and the 1.7.0-dev-9 and found they present the same issue.

My main reason for upgrading was to add Windows logs too (fluent-bit 1.5+ is needed afaik).
So I'm kind of stuck at the moment.

Thanks for adding your experience @adinaclaudia!

Regards,
Andrea

[2021-02-05 17:07] hsmatulisgoogle commented on #3018
Doesn't look like a race condition though, and the fix did improve stability (40minutes -> 3 hours)

[2021-02-05 17:08] edsiper commented on #3018
so you ran out of file descriptors... that highlighted a bug somewhere

[2021-02-05 17:58] PettitWesley opened #3027 "Improve http client error handling/retry logic"
## Bug Report

I talked to a user who is running very high throughput through Fluent Bit and dealing with high memory usage. This has caused them to look for other agents/solutions. We have identified that occasionally there are connection errors, and this might be a contributing factor. I am not sure what causes this. May be it's a bug in Fluent Bit, or may be it's something sporadic that can't b

[2021-02-05 19:59] sophieyfang commented on #2976
We saw this error coming back on v1.7.0-rc4
[code]

[2021-02-06 00:43] qingling128 commented on #2873
We are seeing a very similar issue. We did not clear Application logs though.

[code]

[2021-02-06 00:52] qingling128 commented on #2873
The related config we use is:

[code]

[2021-02-06 03:54] LukaszRacon commented on #2840
Check if you are affected by the hop limit - increase it to 2:
`aws-cli ec2 modify-instance-metadata-options --instance-id i-00000000000 --http-put-response-hop-limit 2`

https://aws.amazon.com/about-aws/whats-new/2020/08/amazon-eks-supports-ec2-instance-metadata-service-v2/

[2021-02-06 06:09] qingling128 commented on #2873
I've tried the following:

* Restart Fluent Bit
* Reboot the Windows VM
* Use a branch new Windows VM

I'm still seeing the errors consistently.

[2021-02-06 07:53] qingling128 commented on #2873
Turned out that the issue is consistent on Windows VMs that are optimized for containers. But on a regular Windows 2016 VM, logs from `Application` channels arrived successfully at least initially.

I tried to clean the `Application` channels on the regular Windows 2016 VM, and started to see this issue. I guess the Windows VMs that are optimized for containers may be constantly doing some file ro

[2021-02-06 08:45] fujimotos commented on #2873
@qingling128 I posted PR that addresses your issue to #3028.

Please reply to me if your issue still occurs with that patch applied.

[2021-02-06 09:42] fujimotos commented on #2873
Some Addendum: Actually it was my bug. When I originally implemented the pluign,
I misread the maximum size of buffer allowed to be `0x7fff`, while it's actually `0x7ffff`.

https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-readeventlogw

This is why `in_winlog` was failing with error `122` (= `ERROR_INSUFFICENT_BUFFER`).
It's just my silly mistake and #3028 should amend that s

[2021-02-06 14:50] nokute78 commented on #2930
@BatmansByte  Thank you for testing.
So, replacing lib -> lib64 in some cmake files may be a workaround for OpenSUSE leap.

I think some cmake variables caused your issue, but currently I can't find that..

[2021-02-07 07:24] AntonDobshikov opened #3029 "Unable to recover from Broker: Policy violation with kafka output"
We are using Azure Event Hub as an output of the fluent-bit. It uses Kafka protocol.
Event Hub has its policies related to throughput and sometimes we violate them. And after that our fluent-bit instances eventually stop working

Example from log:
[code]
With these logs, it's still working, but finally, it comes to the following lines:
[code]
And it's never able to recover from this state. We have

[2021-02-07 07:27] AntonDobshikov opened #3030 "How to deal with kafka Broker: Policy violation"
We are using Azure Event Hub as an output of the fluent-bit.
It has two limitations around the ingress rate: maximum throughput in MB/s and maximum events rate in counts/second.
For example, if we order Azure Event Hub  1TU that will be limited to 1 MB/second or 1000 events/second whatever comes first.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-scalability

Eventually, we have a

[2021-02-07 09:12] jsubirat commented on #2873
That's awesome, @fujimotos ! In fact, we originally experienced the 122 error, and it was when trying to reproduce it that we found this other issue when concurrently clearing the event logs. Thanks a lot for fixing both! Can we expect another FluentBit version coming out next week containing both fixes? 🤞

[2021-02-07 11:23] nokute78 commented on #2822
Could you try the property of out_http `json_date_key false` ?

https://docs.fluentbit.io/manual/pipeline/outputs/http
[code]

[2021-02-07 19:33] yongtang opened #3031 "Allow plugins to expose metrics as floating values"
**Is your feature request related to a problem? Please describe.**

While trying to develop a fluent-bit plugin and expose some metrics, I noticed that at the moment, fluent-bit always expose metrics as unsigned 64-bit integers, see:

https://github.com/fluent/fluent-bit/blob/master/src/http_server/api/v1/metrics.c#L326

This might not be flexible as some plugins may want to expose float64 value m

[2021-02-08 00:06] JeffLuoo commented on #2850
@bshifter I came back and reviewed this case again. Here is the link to the [design doc](https://github.com/fluent/fluent-bit/issues/2408) of the dropping oldest chunk when the limit is reached. From my design, I intended to keep the latest chunk when the limit is reached. And one of the conditions to remove a chunk from the disk is that the chunk is not being forwarded to the destination. So this

[2021-02-08 01:45] fopina opened #3032 "out_influxdb support for v2 API"
## Bug Report

**Describe the bug**

Unable to ship data to an InfluxDB 2.0 instance as it only supports `Token` authorization header, not basic auth (as currently implemented in out_influxdb)

I've modified the built-in out_influxdb to support v2 (in https://github.com/fopina/fluent-bit-out-influxdb-v2). Should I submit it as PR? If so, should it be added to `out_influxdb`or kept as separate outp

[2021-02-08 02:20] edsiper commented on #3032
Hi, thanks for this.

I am totally OK to receive a PR to update this, my only question is: how many users are still in v1 of the protocol ? I am not aware of more details but if most of users are running v2 we should be ok, but hard to say...

Is there a way to make v2 the default one but add an option to enable the old mechanism ?

[2021-02-08 02:27] fopina commented on #3032
I don't have any data to support this, but I'm pretty sure most will be on v1, as v2 is not so stable yet (only now adding arm builds).

If we'd add as parameter of same plugin, I think default should stay v1 (also to avoid breaking changes).

But not sure how to name the parameters in the scenario though.
Database becomes bucket. But organization is new. And authentication only requires one param

[2021-02-08 02:27] JeffLuoo commented on #2688
@panaji Could you please create a new issue and move your issue description to the new one? After reviewing the issue again I think this can be categorized as a high memory issue. Thank you.

[2021-02-08 09:32] fujimotos commented on #2873
@jsubirat FYI I submit #3033 as a bug fix for your issue. I expect that the
fix makes into v1.7.x.

[2021-02-08 10:14] etm42 commented on #2914
@edsiper Confirmation, that's working now in UAT!

[2021-02-08 14:43] brunosimsenhor opened #3035 "Missing header when outputting to a S3 bucket with Object Lock enabled"
When I tried the the [Object Lock](https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lock-overview.html) in the target bucket I got `InvalidRequest` errors from the PutObject API.

According to the output error and the AWS documentation, the `Content-MD5` header is missing from the request and is necessary to .

Is there any plans to include this header?
This header could be flagged to be sen

[2021-02-08 16:00] yongtang opened #3036 "Allow plugins to expose non-accumulating prometheus metrics (no _total suffix in prometheus api)"
**Is your feature request related to a problem? Please describe.**

While developing a fluent-bit plugin we want to expose metrics that are not accumulating (memory used, current open connections, etc). We want to use those metrics through prometheus. However, at the moment fluent-bit append `_total` for all metrics in prometheus. While non-accumulating with `_total` is only a cosmetic issue, it w

[2021-02-08 16:28] yongtang commented on #3022
I noticed that in fluent-bit all metrics are suffixed with `_total` for prometheus API:
https://github.com/fluent/fluent-bit/blob/be8e07316cc8a9e9a351673dd50363cc7bcee426/src/http_server/api/v1/metrics.c#L344

Wondering if it might be cosmetically better to allow non-accumulating metrics to not append `_total` (also in issue #3036)

[2021-02-08 16:38] erikmaas opened #3037 "HTTP keepalive does not work on big endian systems"
## Bug Report

**Describe the bug**

On big endian systems, like the Philips Hue bridge, the HTTP keep-alive of the HTTP output plugin does not work as expected.
The connection is closed immediately after the response to the first HTTP post, regardless of the keep-alive setting in the configuration files.

This is caused in `flb_upstream.c` in the first element of the `upstream_net struct` where t

[2021-02-08 17:51] hsmatulisgoogle commented on #3018
Should we merge the fix for this bug then? It looks the locks fixed it. Once its merged I can make a separate bug for the file descriptor issue

[2021-02-08 19:44] yongtang commented on #2770
Added a PR #3038 to provide `Offset_Key` support in tail plugin.

[2021-02-08 22:09] zpittmansf opened #3039 "Input tail stops processing container logs"
## Bug Report

**Describe the bug**
New and existing files will stop being processed by the input tail plugin. It appears, based on the fluent bit dump, that there are chunks/tasks being processed by the output plugin (splunk). Metrics api is still responsive during that time. Fluentbit process does not exit. Responds to SIGCONT to get the dump information. Investigating the fluent tail.db the off

[2021-02-08 22:27] edsiper commented on #3018
issue-3018 has been merged.

[2021-02-08 22:27] edsiper commented on #3018
Closing this ticket as fixed.

[2021-02-08 22:27] #3018 closed

[2021-02-08 22:36] #2770 closed

[2021-02-08 22:50] agup006 commented on #3032
Database: update documentation to reflect it's the bucket name in v2
Http_user/passwd: update doc to say it's only used in v1
Http_token: doc saying it's only used in v2
Org: same as token

These options look good to me. The only note is if "Bucket" is the new terminology in v2, I would opt for a dedicated setting of "Bucket" vs using Database for both v1 / v2. I'm not an InfluxDB expert

[2021-02-08 22:54] agup006 commented on #3030
One option could be to use throttle to rate limit the max throughput: https://docs.fluentbit.io/manual/pipeline/filters/throttle

Rate right now depends on message count so there would need to be an estimation at what to set the limits to

[2021-02-08 23:14] fopina commented on #3032
Good point. I guess it makes sense, as bucket is not only new terminology but also different as it is both database and retention policy.

So maybe have bucket as separate setting and, if defined, ignore database and use v2 URLs (and drop api version parameter)

[2021-02-08 23:28] edsiper commented on #3039
Please upgrade to v1.6.10.

Looks like the issue might be associated to running out of file descriptors.

[2021-02-08 23:41] #2841 closed

[2021-02-09 01:23] yongtang commented on #2999
I took a look, the in additional to the above failures, with `FLB_TLS=OFF`, a lot of the plugins (especially cloud vendor plugins) will have to be disabled. Looks like many `CMakeLists.txt` are out-of-date. Will take a look and see if it is possible to fix.

[2021-02-09 01:50] d-huynh commented on #2931
I also have this problem, running on Kubernetes 1.19.3.
I tried increasing Mem_Buf_Limit to 100 MB and give the pods 300 MB to work with.

[code]

Even though our input rate is low (prometheus: `rate(fluentbit_input_records_total[5m])` ~2.5 record/s), fluent-bit goes through memory quickly. I had to set a memory limit, the pods restarts quite often.

[code]

We had no limit on memory, the pods too

[2021-02-09 02:57] agup006 commented on #3032
+1 from me, I'll need to learn a bit more about InfluxDB sounds pretty cool :)

[2021-02-09 03:44] yongtang commented on #2999
Added a PR #3043 for the fix. With PR #3043 it should be possible to build with:
[code]

[2021-02-09 05:21] AntonDobshikov commented on #3030
yes, thanks this one should help us to avoid events/second policy violation, and we also need something for overall throughput.
 in our environment, we can't calculate a good estimation of mean message size.

[2021-02-09 06:49] raminfp opened #3044 "NULL dereference on memory allocation error (src/ flb_avro)"
## Bug Report

**Describe the bug**

NULL dereference (value returned by flb_malloc is not checked) after memory allocation error (flb_malloc is wrapper on malloc returning NULL on unsuccessful allocation).
In most cases this issue will lead to crash via segmentation fault.

**Vulnerable Code**
[code]

**To Reproduce**
Problem was identified by source code review.

**Expected behavior**

Memory al

[2021-02-09 09:13] stevehipwell commented on #2937
@edsiper I'm still waiting to see if there is anything I can do to progress this issue? If there is nothing I can do could you please remove the **waiting-for-user** label.

[2021-02-09 09:14] stevehipwell commented on #3023
@wgb1990 have you taken a look at issue #2937? I don't think it's the same issue but they might be related?

[2021-02-09 13:47] GeorgFleig commented on #1775
Thank you @edsiper for implementing access to nested fields!

If I understand correncly, it will not be possible to solve the use-case described in the issue with the current implementation. According to the issue description, the desired dynamic index name is `kube-<container_name>-<date>`. From your commit message introducing the change I figure it is only possible to archive an index name like

[2021-02-09 14:37] stevehipwell commented on #2937
@edsiper sorry to keep bothering you about this but I've got new information. I've updated my deployments to use the `v1.7.0-rc5` image which has stopped the majority of the errors. I'm still getting the occasional error, but it seems to always be the same one and happens far less frequently, the error is below and is one of the errors reported previously.

[code]

[2021-02-09 14:42] offero commented on #1775
Exactly. Ideally I want 1 index per application name with a prefix and a date. Eg. kube-<pod.label.app>-<date>

[2021-02-09 15:05] mayjak commented on #1670
Just a comment about what I said above. Starting with 7.5 there is a way to attach an ILM to an index pattern, so this issue is not critical for anyone using ELK version 7.5 and above. It was a real PITA when I was using 7.3, but with the new Index Templates feature it's almost all good.
It would probably be better to support skipping the suffix as it would save some ES resources by having less in

[2021-02-09 15:20] yongtang commented on #3044
Thanks @raminfp , added a PR #3045 for the fix.

[2021-02-09 15:31] zpittmansf commented on #3039
@edsiper Thanks, Ill definitely upgrade.

What is the limit of file descriptors so I can check when this occurs?

[2021-02-09 15:38] zpittmansf commented on #3039
The process limit of file locks is set to unlimited:
![image](https://user-images.githubusercontent.com/56922842/107387367-be124480-6ac2-11eb-9e68-6fa51f580fdf.png)

Also, here is the number of open fd's on pid 1:
![image](https://user-images.githubusercontent.com/56922842/107387569-f580f100-6ac2-11eb-8fd1-7956775925ef.png)

[2021-02-09 18:52] beth2016 commented on #3000
@dharmab thanks for replying.    Regardless if it is modify or modifier plugin, i am unable to read any variables.
For example, if i have myvar = "abc" in the record.  How do i access the variable in the filter section?
    [FILTER]
        Name      modify
        Match     *
        Set realvar myvar

I want "realvar" to get the value "abc", instead of  "myvar"

[2021-02-09 19:00] #3044 closed

[2021-02-09 19:03] edsiper commented on #2937
do you have more information from the stacktrace ?

[2021-02-09 19:04] edsiper commented on #3023
I am wondering if Kafka plugin was buffering most of the data and is not flusing the data fast enough, so it get's up in memory.

If you disable kafka do you see the same issue ?

[2021-02-09 20:00] stevehipwell commented on #2937
@edsiper that is the stack trace I think. When I logged off for the day I'd only had two pods restart once with the above error. I'll check again in the morning and report back.

[2021-02-09 20:19] raminfp commented on #3044
Thanks @yongtang and @edsiper .

[2021-02-09 21:18] beth2016 opened #3048 "splunk index_key"
In fluentd, we can set index_key to specify the variable that will contain the splunk index.
So we can send logs to different splunk index based on a pod label.
Can we implement something silimar in fluent-bit?

[2021-02-09 22:04] arianitu opened #3049 "HTTP_Output gzip data not being automatically decompressed by my HTTP server."
## Bug Report

**Describe the bug**
I assumed my HTTP library would handle the fluent-bit output for gzip compression, but it does not. I think http_out should set the `Content-Encoding` header to `gzip`?

It looks like I have to manually decompress the data with the way the http_out module sends it?

**To Reproduce**
Set `Compression gzip` on HTTP output and send it to a standard HTTP server. The

[2021-02-09 22:09] arianitu commented on #3049
I guess this would be a breaking change since now I am manually decoding the payload and if newer versions set `Content-Encoding` my decoding will fail since the HTTP server would decode it.

I am unsure what the best way to handle this situation is?

[2021-02-09 22:19] yongtang commented on #2477
Added a PR #3050 for the support. In the PR a new option `Timestamp_Mode = on|off (default on)` has been added. With `off` the timestamp will be disabled.

[2021-02-09 22:28] arianitu commented on #3049
Actually, looking at `http.c`, it appears it is being set under:

[code]

I'll close this issue until I validate that the above code is not working.

[2021-02-09 22:28] #3049 closed

[2021-02-09 23:20] manojna10 commented on #2878
![image](https://user-images.githubusercontent.com/59634242/107440849-26741c80-6ae9-11eb-9ae6-fe08ef1b28d0.png)

[flb_client.txt](https://github.com/fluent/fluent-bit/files/5954804/flb_client.txt)

Hi @JeffLuoo  I tried reproducing this issue. But regardless of how many times I tried, max_chunks_up configuration was not honored and there were no DOWN chunks at all even after the configured number

[2021-02-09 23:30] jraby commented on #2967
I had the same issue and it turns out it is actually already possible relax the parser so that a missing subsecond portion is treated as 0, see https://github.com/fluent/fluent-bit/issues/2758#issuecomment-734739132

tldr, `Time_Strict` needs to be turned off:
[code]

[2021-02-10 03:59] dharmab commented on #3000
You want to use `Copy` instead of `Set`:

[code]

[2021-02-10 08:08] servo1x commented on #2661
Any updates?

Issues that could be related:  #2830 #2950 #3006 #3039

[2021-02-10 09:05] stevehipwell commented on #2937
@edsiper we are starting to see more of these errors, but still far fewer than previously and the pods don't seem to get stuck in a crash loop. The exit code is 139 and there is no resource-pressure on the pods. There are only two variations on the stacktrace which I've added below and both seem to be the same error.

[code]
[code]

[2021-02-10 10:36] mikelog commented on #1134
thanks, worked!

[2021-02-10 14:11] jwitrick opened #3052 "[1.7] Fails to send data to ElasticSearch"
## Bug Report

**Describe the bug**
Using 1.7.0 as soon as the pods start up the logs are filled with:

[2021/02/10 14:07:30] [ warn] [engine] failed to flush chunk '1-1612966050.644004391.flb', retry in 9 seconds: task_id=388, input=systemd.2 > output=es.1 (out_id=1)
[2021/02/10 14:07:31] [ warn] [engine] failed to flush chunk '1-1612966020.542012116.flb', retry in 49 seconds: task_id=382, input=

[2021-02-10 14:30] fako commented on #2861
I have the same issue

[2021-02-10 14:40] edsiper commented on #3049
yup, server must handle the content encoding.

[2021-02-10 16:24] kharouny commented on #1004
I am having issues using an AWS IAM role to push logs to S3. I am using kub2iam and when I exec into the pod I see that the role is available through sts.
`    [OUTPUT]
        Name                         s3
        role_arn                     arn:aws:iam::*:role/*
        sts_endpoint                 sts.us-west-1.amazonaws.com
        Match                        auditkube.*
        bucket

[2021-02-10 16:27] kharouny commented on #3012
I am having issues using an AWS IAM role to push logs to S3. I am using kub2iam and when I exec into the pod I see that the role is available through sts.
[code]

That is the output I am using. In the logs I am seeing fluent-bit attempting to use the aws credentials.
`[2021/02/10 16:17:34] [error] [aws_credentials] Could not read shared credentials file /root/.aws/credentials
[2021/02/10 16:17:34]

[2021-02-10 17:14] beth2016 commented on #3000
@dharmab thanks for your response.   COPY also doesn't work for me.  The only way i can get it to work is to use LUA.
record["realvar"]=record["myvar"]
I am using this image: fluent/fluent-bit:1.6.8

[2021-02-10 17:45] HontoNoRoger commented on #2967
Oh wow @jraby that sounds great indeed!
Too bad nobody documented it. After your hint I only found it as a site note in some release notes on https://fluentbit.io/announcements/v1.6.8/

I'll use it, thank you!

But won't close the issue yet since it either needs to be this flexible by default (again, current behavior is against the standard) or that option should be prominently documented.

[2021-02-10 19:43] JeffLuoo commented on #2878
@manojna10 Thank you... I just created a PR for issue one https://github.com/fluent/fluent-bit/pull/3054

[2021-02-10 19:50] sophieyfang commented on #2873
I just built a fluent-bit exe off rc5 which includes above fix. It has trouble with eventlogs. I saw below error msgs:

[code]

fluent-bit.conf
[code]

[2021-02-10 20:09] hsmatulisgoogle opened #3055 "[libco] race condition"
## Bug Report

There seems to be a race condition in libco:
https://github.com/fluent/fluent-bit/blob/56470696968322edae26e63006dc3e60e65b8839/lib/flb_libco/amd64.c#L132-L135
Here `co_swap` is a static function pointer, which is assigned to a bunch of data in `co_swap_function` that corresponds to assembly instructions before first use.

However this code assume that pointer assignment is regular,

[2021-02-10 20:29] edsiper commented on #3055
I think the libco backend must be updated, there is some modifications in the newer versions:

https://github.com/libretro/RetroArch/blob/master/libretro-common/libco/amd64.c

[2021-02-10 20:39] rubans opened #3056 "Getting error "cannot open database /var/log/flb_kube.db""
## Bug Report

**Describe the bug**
I need to be able to run the fluentbit as non-root on kubernetes (GKE).
I guess this is a pretty normal environment as most clusters should really be locked down against privileged/root containers.
I get errors related to access in the pod logs when running as above.
Not sure if the errors are actual blockers though, as the pod is still running fine. Any ideas h

[2021-02-10 20:52] anishk25 opened #3057 "Stack driver output plugin dropping logs"
## Bug Report

**Describe the bug**
I am currently using the stack driver output plugin to send logs to Google Cloud.  We have multiple machines that send logs to Google Cloud (all to one project). For some reason all logs are not making it to google cloud. I have verified this by comparing the number of logs written locally on our linux machines to the number of logs present in Google Cloud for a

[2021-02-10 20:53] hsmatulisgoogle commented on #3055
I don't know where they are getting updates from, as I couldn't find a libco repo to update to. Looks like they are using inline assembly in the following case
[code]
So if we are on windows, compiling with C++ or don't have GNU extensions we'd still have the race condition. In the remaining cases this updated version doesn't have the race condition

[2021-02-10 21:05] mnevilleoneill commented on #2872
@fujimotos Option 1 would be our preference. Users looking for an EventID in the context of Windows logging will expect to find the lower 16-bit value. Outputting the 16-bit values as a discrete attributes will make it easier to target Event IDs for alerting or other analytics.

[2021-02-10 21:07] hsmatulisgoogle commented on #3057
Log entries are being batched by the stackdriver plugin. Could you estimate the following:
- How many entries per second are you sending to fluent-bit?
- What is the size of each entry?

[2021-02-10 21:08] hsmatulisgoogle opened #3058 "[v1.7.x] Running out of file descriptors"
## Bug Report

When running fluent-bit for a while, fluent-bit eventually runs out of file descriptors. This seems to happen faster at higher throughput, and happens much faster when using valgrind. With the following config:

[code]
Running fluent-bit with valgrind we get
[code]

[2021-02-10 21:13] hsmatulisgoogle commented on #3058
Note that there are some errors leading up to running out of file descriptors of the form
[code]
These only show up when running under fluent-bit under valgrind for some reason. Perhaps the bug has something to do with having too many chunks open?

[2021-02-10 22:35] sophieyfang opened #3059 "Centos7 fluent-bit build error make: *** [all] Error 2"
## How to reproduce

[code]
Error msg:
[code]

[2021-02-10 23:28] anishk25 commented on #3057
@hsmatulisgoogle
On average each log entry is around 700 bytes.
Each machine on average is sending 60 logs / second to fluent bit. In total we have 5 machines so that's 300 logs / second in total going to google cloud.

[2021-02-11 00:48] jraby commented on #2972
I managed to get the following back trace while the problem was happening.

[code]

The pattern fits the strace output, where there's a shutdown() on a socket followed by a write on the same socket.

[2021-02-11 01:43] JeffLuoo opened #3060 "storage.total_limit_size is not updated correctly when Fluent bit restarts."
## Bug Report
**Describe the bug**

When Fluent Bit restarts with backoff logs buffered in the file system, the `fs_chunk_size` for each output plugin should be set to the size of all bytes buffered in local disk and will be flushed to output plugin later by storage backoff plugin. However, the `fs_chunks_size` starts from 0 each time I restart the fluent bit.

**To Reproduce**
1. Run fluent bit w

[2021-02-11 02:40] malekerramli commented on #2676
im having the same issue ... i tried to add  { path: /mnt/docker/containers | name: mntdatadockercontainers} that did not fix it , anyone has another approach ? thanks!

[2021-02-11 02:41] malekerramli commented on #2382
whats the fix here ? im having the same issue

[2021-02-11 03:12] jraby commented on #2972
Some more info...

I managed to reproduce this outside of my regular log setup a simple setup (see below for configs).
It looks like there's a race between the "thing" that expires the connections and the thing that uses them:
- The default keepalive idle timeout is 30s, if a fwd connection has not been used for that period, `flb_upstream_conn_timeouts` will call `shutdown` on the connection's soc

[2021-02-11 04:00] #2972 closed

[2021-02-11 04:27] edsiper commented on #3059
@sophieyfang I submitted a change, can you re-try with an updated pull of GIT master ?

[2021-02-11 04:29] edsiper commented on #3058
@hsmatulisgoogle I think those are related to #3061 #2972

can you try a fresh copy of git master ?

[2021-02-11 07:43] abergmann commented on #3044
[CVE-2021-27186](https://nvd.nist.gov/vuln/detail/CVE-2021-27186) was assigned to this issue.

[2021-02-11 11:07] AntonDobshikov commented on #1316
For some reasons on my side it works only with braces around
`(reassemble_state[reassemble_key] or "")`
in two places. this way:
[code]

[2021-02-11 11:20] AntonDobshikov opened #3062 "Catch Elasticsearch errors"
If we will work with Elasticsearch instances directly, it's possible that some records will be rejected by Elasicsearh due to errors. For example, records with mapping errors.

In Logstash there is an option for that https://www.elastic.co/guide/en/logstash/current/dead-letter-queues.html.
Fluentd also has a similar option https://docs.openshift.com/container-platform/4.1/logging/config/efk-loggin

[2021-02-11 11:36] marblestation opened #3063 "Record accessors with hyphens stopped working in grep filters"
## Bug Report

**Describe the bug**

Record accessors with hyphens worked in v1.3.4 but fail in v1.6.10 (I do not know for versions in between). It might be the case that hyphens can now be escaped somehow but I didn't find that information in the documentation.

**To Reproduce**

- Create a grep filter with a record accessor that contains hyphens:

[code]

- Run fluent-bit and it will fail with t

[2021-02-11 13:24] rubans commented on #3056
Anyone? surely this is a common requirement.
Appreciate some feedback. Let me know if any further info is required.

[2021-02-11 15:42] edsiper commented on #3055
so I see two things to do:

- update libco
- on windows, use maximum 1 worker

[2021-02-11 16:10] perezjasonr commented on #1316
am I understanding this right? For the time being, simply using the cri parser when using cri-o/containerd is the correct parser, but it doesn't handle is multiline format well which requires further processing or this lua workaround. Please let me know if Im misunderstanding.

[2021-02-11 16:14] edsiper commented on #3059
Just confirmed that Centos:7 is building fine now:

cat /etc/redhat-release
CentOS Linux release 7.9.2009 (Core)

[2021-02-11 16:14] #3059 closed

[2021-02-11 16:21] dennis-benzinger-hybris commented on #1316
Yes, the [CRI parser](https://github.com/fluent/fluent-bit/blob/master/conf/parsers.conf#L105-L111) will split every log line from CRI-O / containerd into `time`, `stream` (`stdout` or `stderr`), `logtag` (`p` for partial or `f` for full lines) and message (actual log from the container).
After that long log lines from the container are still split into pieces. The Lua script then combines them in

[2021-02-11 16:36] agup006 commented on #1316
Correct for now, note: we are working on generic multi-line support. Targeted for 1.7.X release, and after the first release

[2021-02-11 16:41] edsiper commented on #3037
would you please retry GIT Master ?

[2021-02-11 16:57] perezjasonr commented on #1316
Ok thank you I will be keeping an eye on this issue then

[2021-02-11 17:56] hsmatulisgoogle commented on #3057
That should be very far away from fluent-bit / API limits, do you have your fluent-bit logs?

[2021-02-11 17:59] hsmatulisgoogle commented on #3058
I still get the following errors on `master`

[code]

[2021-02-11 18:06] hsmatulisgoogle commented on #3058
I verified it still crashes the same way on master

[2021-02-11 18:12] anishk25 commented on #3057
No errors reported in the fluent bit logs. I also did a small load test by sending 1200 logs / second for 5 seconds (6000 total). All the logs didn't make it to google cloud. Around 30 logs were dropped.

[2021-02-11 19:19] edsiper commented on #3058
do you get a crash as soon you see the ```Too many open files``` error ?

[2021-02-11 19:23] hsmatulisgoogle commented on #3058
Sorry for the confusion, it is not a hard crash but instead keeps failing in a loop and doesn't produce any logs. But as soon as the `Too many open files` error comes up, it starts failing/looping. It produces too many errors too quickly and I am having trouble getting the valgrind output after the fail

[2021-02-11 20:05] sophieyfang opened #3065 "[1.7-dev] Filter plugin failed the input source"
We use three filters to tweak the log tag name for syslog for Linux and eventlog for Windows. I just found out that the whole source of the logs(syslog or eventlog) don't get ingested if those three filters are there. This conf was working before. I turned on the log_level to debug, still the only error message is "[2021/02/11 19:19:01] [error] [input chunk] no available chunk". However, removing

[2021-02-11 20:15] sophieyfang commented on #2873
It seems the issue is with the filter plugins both seen in Linux and Windows, i created a separate github issue here: https://github.com/fluent/fluent-bit/issues/3065

[2021-02-11 20:16] edsiper commented on #3065
### Config Viewer

![viewer](https://user-images.githubusercontent.com/369718/107693151-5c450c80-6c73-11eb-8b77-9ae3c319aed5.png)

permalink: https://link.calyptia.com/ax4

### Troubleshooting

Looking at the filter that uses rewrite tag, the new emitted records will have the same tag ```syslog```, so it will continuosly matching the rewrite tool. Note that when rewrite_tag emits a record, this re

[2021-02-11 20:31] sophieyfang commented on #3065
Umm..
After going thru `rewrite_tag` plugin the tag name is changed from `default_pipeline.syslog` to `syslog`. So why will it go thru `rewrite_tag` plugin again?

[2021-02-11 21:06] edsiper commented on #2821
The problem has been solved on GIT master (upcoming v1.7 release)

- new ```remove_keys``` option. This supports the record accessor feature so you can remove a nested key if required.
- auto-remove of keys that are handled as labels

[2021-02-11 21:06] #2821 closed

[2021-02-11 21:15] edsiper commented on #3065
sorry about that. I was able to reproduce it with a minimized config:

[code]

the errors:

[code]

[2021-02-11 21:23] sophieyfang commented on #3065
I looked at code in https://github.com/fluent/fluent-bit/tree/master/plugins/filter_rewrite_tag and https://github.com/fluent/fluent-bit/tree/master/plugins/filter_modify. It seems no change since last year.. maybe it's the order how those filters are executed got changed recently.. 🤷‍♀️

Thank you Eduardo. Much appreciated for picking up this bug!

[2021-02-11 21:26] edsiper commented on #3065
this issue was generated by another PR.

@JeffLuoo can you help us to troubleshoot this issue ? this is a blocker for the release and was introduced on this commit:

https://github.com/fluent/fluent-bit/commit/44e9e9df79e55ba6f078849a20cff1fa06b27734

This is the line triggering the problem:

https://github.com/fluent/fluent-bit/blob/master/src/flb_input_chunk.c#L561

[2021-02-11 21:46] JeffLuoo commented on #3065
@edsiper I will take a look.

[2021-02-11 21:54] edsiper commented on #3065
@sophieyfang I've pushed a temporal branch that reverts #2882

@JeffLuoo if you can get this sorted out would be awesome :)

[2021-02-11 21:58] edsiper commented on #2416
just got some info that this is hitting the news. The original root cause of the issue was fixed long time ago. For any other ingestion issue let's open a new ticket so we can troubleshoot.

(my bad for not closing the ticket while back in Sep 2020)

[2021-02-11 21:58] #2416 closed

[2021-02-11 22:00] edsiper commented on #3065
adding @jlunavtgrad for visibility

[2021-02-11 23:04] JeffLuoo commented on #3065
Some update... After adding some printout to the code and I found that the new tag is not passed to the function https://github.com/fluent/fluent-bit/blob/e34f061396f95955af828049feaa0baedfb60a47/src/flb_routes_mask.c#L32
[code]

[2021-02-12 02:17] zhiguangwang commented on #3005
This is a very useful feature, wishing to see this in 1.7 release along with #2821

[2021-02-12 02:17] malekerramli opened #3068 "fluent-bit : [in_tail] Cannot read info from: /var/log/containers/*.log"
## Bug Report

**Describe the bug**
Im getting the following error [in_tail] Cannot read info from: /var/log/containers/*.log

Fluent Bit v1.0.4 =
`fluent-bit-bl2f7 fluent-bit debug [2021/02/12 02:06:47] [debug] [in_tail] Cannot read info from: /var/log/containers/*.log
`
Fluent Bit v1.5.1 =
` [debug] [input:tail:tail.0] skip (invalid) entry=/var/log/containers/sysdig-agent****
`
**Your Environmen

[2021-02-12 02:47] l2dy commented on #3005
In `key_value` line_format, Fluent Bit sends log lines like `test="message"`. Should we keep the quotation marks after enabling `drop_single_key`?

[2021-02-12 02:53] agup006 commented on #3068
I'm wondering if since you are using V1.17 that the parsing is breaking since it expects `cri` instead of `docker`.

Could you try `1.6.10` and `Parser cri` in the tail configuration?

https://docs.fluentbit.io/manual/installation/kubernetes#container-runtime-interface-cri-parser

[2021-02-12 03:06] zhiguangwang commented on #3005
The quotation marks should be dropped as well.

So `test="This is a message"` should become `This is a message`, NOT `"This is a message"`.

[2021-02-12 04:12] Padarn opened #3070 "Single quoted characters for json not parsed"
## Bug Report

Sorry this probably isn't a bug, but I'm not sure if this is someone that should be possible with fluentbit or not.

**Describe the bug**
I would like to be able to parse logs like:
[code]
unfortunately, it seems that this is parsed to
[code]

**To Reproduce**

Steps to reproduce the problem:
- start fluent-bit docker container with below config
- write log above to file watched

`f

[2021-02-12 06:59] jlunavtgrad commented on #3065
I'm not sure if my changes are the root cause. I backdated my build to Feb 1st, before my changes were merged, and I wasn't able to get tag rewriting to work.

[2021-02-12 07:56] fujimotos commented on #3065
FWIW, I think @JeffLuoo is to the point.  The input plugin seems to be discarding
data because it thinks there is no corresponding output plugin for these chunks.

Evidently it does not notice the existence of `out_stackdriver`, who is litening to
the stream though `filter_rewrite_tag`.

I posted a hot fix #3071 which essentially brings back [the conditional statement
that were removed here](https

[2021-02-12 07:59] phin1x commented on #3005
@l2dy yes, quotation marks should be dropped

[2021-02-12 08:12] fujimotos commented on #2873
This ticket is fixed on master HEAD. Now let's close it.

[2021-02-12 08:12] #2873 closed

[2021-02-12 14:10] malekerramli commented on #3068
I solved it right after submitting this issue lol .... i was missing a /mnt in DS volumes.... thanks for the rapid response !

volumeMounts:
  - name: mnt
              mountPath: /mnt

volumes:
  - name: mnt
          hostPath:
            path: /mnt
            type: ''

ps: running in the ibm cloud.

[2021-02-12 16:55] zerthimon commented on #1134
The lua script above doesn't work for me :(
Perhaps I'm doing something wrong ?
[code]
[code]

[2021-02-12 16:55] capricornusx opened #3072 "Fluent bit not parsing msec time correctly %s.%L"
## Bug Report

[code]
I use time format `%s.%L` for parsing unixtime.msec like `1550000000.444` on nginx logs, but result timestamp in elasticsearch is different ( not equal original time in log).

**Environment**
* Version used: **Fluent Bit v1.6.10**
* Operating System and version: **Ubuntu 20.04.2 LTS**
* Filters: defaults

**links**
 - [my configuration gist](https://gist.github.com/capricornu

[2021-02-12 17:22] loburm opened #3073 "[solved] Memory usage on in_tail (WAL)"
## Bug Report

**Describe the bug**
I have managed to reproduce issue both in 1.6.10 and 1.7.0-rc5. Also it seems to be affecting 1.5.7 too, but at least I don't see huge growth at the beginning that eats additional 5-6 MB. On 1.3.11 I don't see such huge problem (bigger amount of RAM explained by initial load that the cluster was experiencing).

**Screenshots**
![image](https://user-images.github

[2021-02-12 18:53] perezjasonr commented on #1316
in addition to the lua script being added, does /var/lib/docker/containers also need to be changed?
on my nodes that dir doesnt exist but /var/lib/containerd does, as does /var/lib/containers

[2021-02-12 19:41] #2953 closed

[2021-02-12 20:45] chadcatlett commented on #2998
FWIW, our solution was to customize [the docker file for 1.6.x](https://github.com/fluent/fluent-bit-docker-image/blob/dbc97dfcc86384857ba5e811b443cec401aad950/Dockerfile.x86_64), switching the builder from buster-slim to buster-backports, so that the container had systemd v247.x shared libraries inside of it instead of v241.x shared libraries.

[2021-02-12 23:04] JeffLuoo commented on #2933
I am also running into this error...

[2021-02-12 23:05] JeffLuoo commented on #2933
@edsiper It will be triggered when chunks will be dropped in order to place new chunk .. so I guess it is when `fs_chunks_size` is reached.

[2021-02-12 23:06] edsiper commented on #2933
oh

[2021-02-12 23:06] edsiper commented on #2933
we need to get this addressed before v1.7

[2021-02-12 23:06] JeffLuoo commented on #2933
Looks like the fluent bit is trying to close a file that does not exist?

[2021-02-12 23:13] JeffLuoo commented on #2933
@edsiper Are you able to reproduce it from your side?

[2021-02-12 23:18] nokute78 commented on #3070
`"` is defined as quotation-mark refer to [RFC7159](https://tools.ietf.org/html/rfc7159#section-7).  `'` is not.
Could you replace `'` -> `"` ?

Then, the filter parser plugin helps your use case.
https://docs.fluentbit.io/manual/pipeline/filters/parser

[code]

a.conf:
[code]

parsers.conf:
[code]

[2021-02-12 23:34] edsiper commented on #3065
Fixed in #3071

[2021-02-12 23:40] edsiper commented on #2933
@JeffLuoo do you have quick steps to make it fail ?

[2021-02-13 00:09] PettitWesley commented on #3015
This issue still exists; I just repro'd it with code in latest master

[2021-02-13 00:18] JeffLuoo commented on #2933
@edsiper I am testing it on a cluster environment.. I am trying to see if I can reproduce it locally..
Below is the yaml file I used to reproduce the bug:
fluentbit.yaml
[code]

fluentd.yaml
[code]
[code]

[2021-02-13 00:27] edsiper commented on #3015
I've pushed branch [issue-3015](https://github.com/fluent/fluent-bit/tree/issue-3015) with a possible fix.

[2021-02-13 00:28] edsiper commented on #2933
is there a way to reproduce it locally ?

[2021-02-13 00:32] JeffLuoo commented on #2933
@edsiper Unfortunately no atm. I am still trying..

[2021-02-13 00:35] edsiper commented on #3015
Fixed in afd5646b

[2021-02-13 00:35] #3015 closed

[2021-02-13 00:42] edsiper commented on #2933
wondering where the wrong fd comes from ``` Bad file descriptor```

[2021-02-13 03:47] edsiper commented on #3073
hi @loburm

I was digging into this and the static analyzer reported a leak in the stackdriver connector, which I just fixed here 7962ad6348a63be0c93afcf6db8d89c707493e16 (I assume you tested with stack driver output)

that code was introduced around Nov 2020 ~v1.6.4... not sure if associated

[2021-02-13 04:26] agup006 commented on #3068
Glad to hear it was resolved! Closing

[2021-02-13 04:26] #3068 closed

[2021-02-13 04:50] agup006 commented on #3072
Hey @capricornusx , I think you might have an older link to the documentation, latest can be found at the following link: https://docs.fluentbit.io/manual/pipeline/outputs/elasticsearch.

From the included configuration - The parameter `Current_Time_Index On` - means that you are using the current time for index generation instead of message record.

I would recommend using the Time_Key @timestamp

[2021-02-13 06:24] Padarn commented on #3070
You're right on both counts. Thanks @nokute78. We will just fix the output format of our logs.

[2021-02-13 06:24] #3070 closed

[2021-02-13 10:58] zerthimon commented on #1134
FluentBit has an output ES config setting "Replace_Dots", will that solve the problem ?
https://docs.fluentbit.io/manual/pipeline/outputs/elasticsearch
Replace_Dots
When enabled, replace field name dots with underscore, required by Elasticsearch 2.0-2.3.

[2021-02-13 13:26] KlDec opened #3074 "Optional support of komma separated floating point numbers"
**Is your feature request related to a problem? Please describe.**
I am parsing some floating point numbers via the tail plugin and regex. In the Types line of the parser I use "float" for the floating point numbers.
Problem is that my floating point numbers use a komma instead of a dot as the separator for the part < 1. As a result, all my floating point numbers loose their fractional part as eve

[2021-02-13 16:46] jazzdan commented on #2937
We're seeing something similar:

[code]

Our config:

[code]

[2021-02-13 17:18] edsiper commented on #2937
@jazzdan stevehipwell  can you please try the following new rc image:

[code]

[2021-02-13 17:21] edsiper commented on #3073
@loburm  can you please try the following new RC image:

[code]

[2021-02-13 18:50] stevehipwell commented on #2937
@edsiper I'll give this a try on Monday morning. Thank you.

[2021-02-14 08:38] loburm commented on #3073
Hi Eduardo,
I'll test the latest release candidate, but in our configuration we are not using stackdriver connector. All data goes through the http plugin.

[2021-02-14 09:44] cve-reporting opened #3075 "Out-of-bounds write caused by incorrect error handling of flb_malloc in cb_throttle_init (throttle.c:203)"
## Bug Report

Fluent Bit Throttle filter is vulnerable to OOB write attack while initialization of the filter.

Incorrect handling of the value returned by flb_malloc (malloc wrapper) in cb_throttle_init may lead to:
- out-of-bound write attempt and segmentation fault error in case of restrictive memory protection,
- near NULL out-of-bound overwrite in case of limited memory restrictions (e.g. in

[2021-02-14 16:51] fopina commented on #3032
@edsiper let me know if there's anything else required for #3040 as this is my first contribution to the project :)

[2021-02-14 19:25] edsiper commented on #3075
fixed in c7769903 , thanks

[2021-02-14 19:25] #3075 closed

[2021-02-14 19:26] #3065 closed

[2021-02-15 00:26] edsiper commented on #3073
is there a way you can remove some filters to identify the possible root cause of the leak ?

[2021-02-15 05:59] chenrui333 commented on #2930
just FYI, `v1.7.0` build successfully on the [homebrew side](https://github.com/Homebrew/homebrew-core/pull/71167)

[2021-02-15 08:06] girgen opened #3076 "fluent-bit-1.7.0 fails to link on clang / FreeBSD, requires LDFLAGS=-lexecinfo (solved)"
## Bug Report

**Describe the bug**
build fails

**To Reproduce**
cd cmake
cmake ..
gmake

**Expected behavior**
build

**Screenshots**
cd /wrkdirs/usr/ports/sysutils/fluent-bit/work/.build/src && /usr/local/bin/cmake -E cmake_link_script CMakeFiles/fluent-bit-bin.dir/link.txt --verbose=1
/usr/local/libexec/ccache/cc -O2 -pipe  -fstack-protector-strong -fno-strict-aliasing -Wall -D__FILENAME__='"$

[2021-02-15 09:30] stevehipwell commented on #2937
@edsiper I've got a new error using `v1.7.0` which appears to be clearer.

[code]

[2021-02-15 11:14] Hyper200 commented on #1316
We have also come across this issue where we have json log messages being put to stdout. Podman option for logging is journald which has its own mutiline max message size issues or k8sfile logging which is CRI-O as far as i can tell.

CRI-O splits the json logging over 4 or 5 lines, it would be nice for fluentd and fluent bit to re-assemable these before being posted to elasticsearch.

[2021-02-15 11:42] zerthimon commented on #2927
Having this issue with fluent/fluent-bit:1.7 image
[code]
[code]

[2021-02-15 14:04] sondinhnwv opened #3077 "Error io after upgrading to fluent-bit 1.7.0 from 1.6.10: [filter:kubernetes:kubernetes.0] upstream connection error"
## Bug Report

We're seeing the same issue as https://github.com/fluent/fluent-bit/issues/2829 when upgrading to 1.7.0.

I can see that the commits that fixed the 1.6.x releases haven't been applied to 1.7.0, so that may be the issue.

The relevant commits fixing it in 1.6.8 were:

https://github.com/fluent/fluent-bit/commit/33be5a4d501d2c5f7501ea6e8e94bece1e3a533d
https://github.com/fluent/fluent

[2021-02-15 15:14] sunoce opened #3078 "SIGSEGV [error] [engine_dispatch] could not retrieve chunk content, removing retry"
## Bug Report

**Describe the bug**
Setup:
- Fluentbit runs as Daemon and processes service logs from my microservices
- Fluentbit wants to write to kafka, but kafka is not available so fluentbit has to buffer the logs
- I want to test the case in which kafka might not be available under high pressure
- 900 logs per second are written from my service for about 5 min

With this Setup and the follow

[2021-02-15 15:28] jan-ludvik-deltatre opened #3079 "Datadog plugin frequently writes to log"
**Is your feature request related to a problem? Please describe.**
We are using fluent-bit to send logs to Datadog (and ES). Datadog plugin is logging out a lot of lines about succesful delivery of logs to DD.

**Describe the solution you'd like**
Allow Datadog plugin logging to be turned off or at least logging less frequently.

**Describe alternatives you've considered**
Tried to set this loggin

[2021-02-15 16:38] sunoce commented on #3078
Note: If I do not use crc32, the error does not accour - So the problem seems to be related to the fact, that fluentbit cant parse some existing files with the error: format check failed

[2021-02-15 17:26] perezjasonr commented on #1316
Actually now I'm wondering what fluentbit was doing with /var/lib/docker/containers, was it using it for metadata? with kubernetes tail is referening /var/log/containers/

after changing the parser to be cri,
I'm not sure if we should be changing /var/lib/docker/containers mount to /var/lib/containers or (or something else) or if we should remove that mount entirely, but one thing I do notice is t

[2021-02-15 19:18] apollo13 commented on #2950
@sjentzsch Regarding your time out errors in the log. I am seeing the same thing on normal machines (ie not in k8s) and attaching `strace -f -p THEPID 2>&1|grep connect` shows that connect errors out with EINPROGRESS which makes sense for non-blocking sockets. The funny thing is that as soon as I stop strace, the log entries also vanish. It looks like that interrupting the thread with strace someh

[2021-02-15 21:15] agup006 commented on #3052
I'll take a look at this more in-depth, I thought this might be related to TLS issues from previous rc.

To confirm a few points
1. This configuration worked with 1.6.10?
2. Is this AWS Elasticsearch?

[2021-02-16 01:12] PettitWesley commented on #2485
New output `kinesis_firehose` was launched a while ago, and in 1.7.0 today `kinesis_streams` was added!

We now have core versions of all of the official AWS go plugins!

[2021-02-16 01:12] #2485 closed

[2021-02-16 08:31] loburm commented on #3073
So far I have run three more tests:

1. All other input plugins except 3 that are generating logs are disabled.
2. Out of those 3 plugins only input plugin and corresponding filters are enabled.
3. Out of those 3 plugins only systemd plugins and corresponding filters are enabled.

Results:
![image](https://user-images.githubusercontent.com/7943996/108037168-7f880700-7039-11eb-95fe-adf803d028c6.png

[2021-02-16 08:35] loburm commented on #3073
As a side note I was testing with 1.7.0-rc9.

[2021-02-16 08:53] serverlinux-in opened #3080 "Tag not Visible on Loki (Fluent-bit --> Fluend --> Loki --> grafana )"
Hi want to send log from fluent-bit to fluend and fluend send to grafana Loki ...I am facing issue fluent-bit tag not visible on grafana Loki

When send log fluent-bit directly to grafana Loki Tag visible and on the base able to make filter

Can anyone having any configuration to send log with Tag which is visible please share link.

Also can get how to monitoring hdd/memory/cpu and make graph fro

[2021-02-16 08:53] serverlinux-in opened #3081 "Tag not Visible on Loki (Fluent-bit --> Fluend --> Loki --> grafana)"
Hi want to send log from fluent-bit to fluend and fluend send to grafana Loki ...I am facing issue fluent-bit tag not visible on grafana Loki

When send log fluent-bit directly to grafana Loki Tag visible and on the base able to make filter

Can anyone having any configuration to send log with Tag which is visible please share link.

Also can get how to monitoring hdd/memory/cpu and make graph fro

[2021-02-16 08:56] #3081 closed

[2021-02-16 08:56] serverlinux-in commented on #3081
duplicate ticket was open

[2021-02-16 09:23] serverlinux-in commented on #3080
![Fluent-bit-Fluentd](https://user-images.githubusercontent.com/73048382/108043156-c2140880-7066-11eb-8936-a7bbb6b2ea52.png)

[2021-02-16 09:31] zerthimon commented on #1134
Fluent Bit v1.6.10 with Replace_Dots in ES output solved the problem for me without using Lua.

[2021-02-16 09:43] robinwolny commented on #2688
@JeffLuoo after upgrading to 1.7.0-1 the same issue with no enough space in fs even we set `Mem_Buf_Limit` to 15G s3 output.
[code]

[2021-02-16 09:46] stevehipwell commented on #2937
@edsiper I had this error twice when upgrading to v1.7.0 but I haven't had it again for nearly 24 hours. I'm going to close this ticket as I think v1.7.0 has fixed the original issue and I'll open a new ticket if I get any more errors. Thank you very much for your patience and the work you put into this project.

[2021-02-16 09:46] #2937 closed

[2021-02-16 09:49] stevehipwell opened #3082 "[Question] Loki plugin out of order error behaviour?"
I'm interested in the behaviour when _Loki_ returns an out of order error to fluent-bit? I'm hoping that the log entry in question is discarded after the error is logged and then the rest of the chunk continues to be processed?

[2021-02-16 14:45] JeffLuoo commented on #2688
Hi @robinwolny Have you tried the latest image with the those two patches?
https://github.com/fluent/fluent-bit/commit/3a4879c4b34dad57fd0afcd20e86bb82ae7729d4
https://github.com/fluent/fluent-bit/commit/6d94c5130aafc727548ddd893c8a4ecd13e176d1

Those two patches will resolve some bugs of the calculation of `Mem_Buf_Limit`.

[2021-02-16 17:03] loburm commented on #3073
Last result:

![image](https://user-images.githubusercontent.com/7943996/108096178-f694be00-7080-11eb-89e3-e666a2602a53.png)

I have been running different combinations:

1. tail + parser + modify
2. tail + parser + parser
3. tail

In all cases we see a similar pattern, so I assume memory leak we have in tail plugin. @edsiper should I try some other options to narrow problem down further?

[2021-02-16 17:31] anishk25 commented on #3057
@hsmatulisgoogle any insight on what could be going wrong?

[2021-02-16 19:12] MatthewMaclean opened #3083 "Fatal errors in Kafka output plugin are not logged correctly"
## Bug Report

**Describe the bug**
The Kafka output plugin does not correctly handle failures when idempotence is enabled. It will continue to retry on Fatal errors and not properly log the error that occurred.

For my use case, this surfaced as a high volume of the error message "Fatal Error" with no further indication of the issue itself. Upon restart of the Fluent Bit pods, processing returned

[2021-02-16 19:15] hsmatulisgoogle commented on #3057
There is no parameter to specify the batch size. Its not obvious to me whats going, could you upload the following after fluent-bit has dropped some logs:
1. Your fluent-bit logs
2. Turn on the fluent-bit http server and query metrics and storage
   * `curl -s http://127.0.0.1:2020/api/v1/metrics`
   * `curl -s http://127.0.0.1:2020/api/v1/storage`

[2021-02-16 20:44] anishk25 commented on #3057
Here are the logs: [fluent_bit.log](https://github.com/fluent/fluent-bit/files/5991386/fluent_bit.log)
Output of `curl -s http://127.0.0.1:2020/api/v1/metrics`:
[code]

Output of `curl -s http://127.0.0.1:2020/api/v1/storage`:
[code]

The number of records sent to google cloud should have been 6000 but the metrics show that only 5700 were actually processed.

[2021-02-16 21:23] loganfsmyth opened #3084 ""PutObject request failed" on all S3 uploads on 1.7.0"
## Bug Report

**Describe the bug**

We just tried to update `fluent-bit` to use the 1.7.0 image, and all of our logs stopped uploading to S3.

The fluent logs are full of
[code]
I enabled debug logging and I'm seeing
[code]
which _sounds_ like it is getting the credentials correctly.

I see https://github.com/fluent/fluent-bit/issues/2927 and https://github.com/fluent/fluent-bit/issues/2973 and h

[2021-02-16 21:39] agup006 commented on #3084
Adding @PettitWesley

[2021-02-16 23:17] PettitWesley commented on #3084
@edsiper @agup006 I can confirm that the issue I originally reported here is still happening: https://github.com/fluent/fluent-bit/issues/3004

And I have other internal reports that AWS users are not able to use the 1.7 docker image.

The 1.7 code works fine when I build and test it on my dev machine, or when I build it into AWS for Fluent Bit. Your official upstream docker release seems to be wh

[2021-02-16 23:18] #3032 closed

[2021-02-16 23:27] edsiper commented on #3078
thanks for opening the ticket.

Issue is reproducible: root cause: upon retry deletion there is a linked list corruption.

[code]

note: reproduced with slightly modification in the code that will fail every single retry:

[code]

[2021-02-16 23:39] danielpcox commented on #574
Did this make it into the 1.7 release? I can't find it in the 1.7 documentation.

[2021-02-16 23:43] edsiper commented on #574
It didn't make it yet :/

[2021-02-17 00:02] edsiper commented on #3084
@PettitWesley can you provide specific steps to reproduce in an AWS instance ?

[2021-02-17 00:36] edsiper commented on #3078
Fixed in:

- 9443ce17 scheduler: validate return status of dispatch_retry (#3078)
- 3b1bff00 engine: dispatch: if output task fails on init, destroy retry (#3078)

[2021-02-17 00:37] edsiper commented on #3078
Thanks again for reporting this, the issue has been finally solved.

We will do v1.7.1 release with the fix shortly.

[2021-02-17 00:37] #3078 closed

[2021-02-17 01:18] PettitWesley commented on #3084
@edsiper just enable AWS outputs and then run the image:

My config:

[code]

Command:

[code]

Sample output:

[code]

[2021-02-17 02:53] sibradzic opened #3085 "Default cri parser does not output time field due to missing Time_Keep parameter"
## Bug Report

**Describe the bug**
The default parsers.conf **cri** parser is missing `Time_Keep` setting.

**To Reproduce**
Run fluent-bit that parses logs produced by cri (containerd).

**Your Environment**

* Version used: 1.6.10-debug
* Configuration:
[code]
* Environment name and version: Azure AKS k8s v19.6
* Server type and version: Azure VM
* Operating System and version: Ubuntu 18.04.5 L

[2021-02-17 02:58] sibradzic commented on #3085
[code]

[2021-02-17 03:02] sibradzic commented on #3085
Does fluent-bit allow community PRs?

[2021-02-17 04:41] agup006 commented on #3085
Yes , definitely

[2021-02-17 05:30] tangmin823 commented on #746
How about Multiline Configuration Parameters， from Input plugin tail?

[2021-02-17 08:17] nike38rus commented on #2566
Hi there! We're facing the same issue when trying to implement reliable log shippment with storage-backed buffers on fluent-bit side. And this is kinda critical bug IMO when logs is not just a regular text in cases e.g. when fluent-bit is using for business-critical data forwarding (my case).

@edsiper is there any updates on this issue?

[2021-02-17 13:50] thethir13en commented on #2676
As @hisrarul said:
```/var/log/containers/*.log``` are symlinks to ```/var/log/pods/*`` which are also symlinked to``` /var/lib/docker/containers/*```

You should mount them all to your fluentbit pods for proper work:
[code]

[2021-02-17 14:46] annie1404 opened #3088 "Fluent bit stops sending logs to Loki when any of the outputs goes offline"
## Bug Report

**Describe the bug**
When any one of the Elastic search output plugins goes offline there are no more logs available to query from the Loki instance (running in the container)
When the offline output plugin is commented and restart fluent bit, the logs are resumed to be generated

**To Reproduce**
- Use a similar configuration as below
- For a few minutes initially some logs are pro

[2021-02-17 15:46] BertelBB commented on #2395
Why is this closed? It's still not possible to rename fields with forwards slashes in the field names and it really seems like it should be possible.

@dotdc It is possible to rename fields that have been lifted.

[code]

And this will be the result
[code]

[2021-02-17 16:40] bithoarder commented on #3006
I also see a lot of "could not merge JSON log as requested" from the kubernetes filter, In my case I believe it's related to messages using the same key for different value types.
If I print these lines from a pod (and output to es):
[code]
I will end up with multiple entries of the first and second line, but none of the third.
So this both duplicates, and drops messages :)

[2021-02-17 17:51] agup006 commented on #2661
Hey folks, updating 1.7.0 is out with higher performance, will also look at some of the issues that @servo1x has mentioned

[2021-02-17 17:51] edsiper commented on #3084
## troubleshooting

- created a ec2 VM
- compiled Fluent Bit from GIT master (v1.8..)

Cloudwatch and S3 worked properly:

[code]

Using docker image the issue is reproducible.

Another finding: ARM layers works, so the problem is x86_64 and distroless.

Inspecting the containers there is no big differente:

[code]

[2021-02-17 18:15] edsiper commented on #3084
it's related to TLS certificate validation, turning ```tls.verify off``` it works.

still troubleshooting what's the difference on distroless

[2021-02-18 04:18] edsiper commented on #3077
## Resolution

#### root cause

Our container images tagged as ```1.7``` and ```1.7-debug``` had missing TLS certificates in the distroless layers.

#### solution

the container images from Docker hub has been corrected and now are fully functional.

[2021-02-18 04:19] edsiper commented on #3084
## Resolution

#### root cause

Our container images tagged as ```1.7``` and ```1.7-debug``` had missing TLS certificates in the distroless layers.

#### solution

the container images from Docker hub have been corrected and now are fully functional.

[2021-02-18 04:20] edsiper commented on #3004
## Resolution

#### root cause

Our container images tagged as 1.7 and 1.7-debug had missing TLS certificates in the distroless layers.

#### solution

the container images from Docker hub have been corrected and now are fully functional.

[2021-02-18 04:55] agup006 commented on #574
in_kafka is not in 1.7.0, the aim is for it to be in the 1.7.x series. This one has been long time coming :)

@danielpcox would you be open to testing when we have a prototype?

[2021-02-18 09:18] mikhno-s commented on #2753
Same problem with after upgrading v1.7
See in logs:
[code]
and then
[code]
s3 too often rejects the PUT requests, hence we have a lot of chunks that were not flushed.

As a result - tons of .flb chunks in `./storage/<input_name>/` dir that cannot be flushed and cannot be destroyed, due to not working `storage.total_limit_size` parameter https://github.com/fluent/fluent-bit/issues/2688

[2021-02-18 10:01] Ubereil commented on #2692
What's the status on this? From what I can tell it doesn't seem to be included in v1.7 (it's not in the relase notes and there doesn't seem to be any commits in the repo that seems relevant either).

[2021-02-18 15:00] apollo13 opened #3089 "Fluent bit forwards invalid chunked data to fluentd"
## Bug Report

**Describe the bug**
I have fluent bit configured to write chunks onto the filesystem; after a restart it tries to resend a chunkfile:
[code]
I have saved the chunk file and can provide it to maintainers on request (I rather not paste it publicly). Fluent Bit version is 1.7.0. I have used tcpdump to record forwarded data and decoded it from msgpack. The messages are as follows:

[co

[2021-02-18 15:05] edsiper commented on #3089
@apollo13 thanks for reporting this issue.

would you please email me the chunk file: edsiper at gmail.com . thanks

[2021-02-18 15:06] edsiper commented on #3089
note: please also share your full configuration

[2021-02-18 15:06] #3084 closed

[2021-02-18 15:07] #3077 closed

[2021-02-18 15:09] edsiper commented on #1065
I am closing this ticket since is not longer reproducible